[2020-01-13 20:40] brombomb commented on #1552
![image](https://user-images.githubusercontent.com/1136944/72290321-e8bd6f80-361a-11ea-9a64-1e7dcfb30805.png)

Nothing is loaded in Remote.  A few of the extensions below have a green "Install in SSH:dev" button.

[2020-01-13 21:14] philliphoff commented on #1552
@brombomb Do you happen to have any `"remote.extensionKind"` settings set (that could prevent extensions from running remotely)?  v0.9.0 of the Docker extension should default to running remotely unless specifically configured to run locally.  If not, you could try [forcing the docker extension to be installed remotely on any SSH connection](https://code.visualstudio.com/docs/remote/ssh#_always-in

[2020-01-13 22:20] gabrielashirley opened #1557 "Cannot open dev container"
Repro steps:

1.
2.

Action: vscode-docker.openUrl
Error type: TypeError
Error Message: Cannot read property 'openUrl' of undefined

Version: 0.7.0
OS: linux
Product: Visual Studio Code
Product Version: 1.35.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-01-14 01:38] philliphoff commented on #1557
@gabrielashirley Is this issue repeatable?  If so, can you provide repro steps?  In particular, which node in which tree view in the Docker tab had the "open" command that failed?

[2020-01-15 04:15] daklinux opened #1559 "bug"
Repro steps:

1.
2.

Action: vscode-docker.configure
Error type: Error
Error Message: To generate Docker files you must first open a folder or workspace in VS Code.

Version: 0.9.0
OS: linux
Product: Visual Studio Code
Product Version: 1.41.1
Language: fr

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-01-15 11:27] abbas001 commented on #192
Thanks its working.

[2020-01-15 14:48] hig897 commented on #1462
hello, i have same problem on docker:build but i don´t have the workspace file on my folder:

![image](https://user-images.githubusercontent.com/27215783/72443397-f266e480-378c-11ea-9551-9dceff83dba7.png)

[2020-01-15 14:55] hig897 commented on #1462
For information, I generate the file for workspace on menu File -> Save Workspace As.  Then I Open it e delete tasks like described on comment https://github.com/microsoft/vscode-docker/issues/1462#issuecomment-567510258.  It worked.

[2020-01-15 20:05] yankyhoffman commented on #877
I use Azure Data Studio as my DB management tool on Ubuntu Linux and I have MS SQL Server and Posgres databases installed as docker containers and would really love to be able to start/stop/etc them from Azure Data Studio just like I can from VSCode.
(I find it a bit amuzing that the name from the extension has `azuretools` in it (`ms-azuretools.vscode-docker`) yet I can't get it to work in Azure

[2020-01-15 22:15] philliphoff commented on #1559
@daklinux Did you have a folder open when invoking the command?  Or did you have a workspace open?  (There were a couple known issues with the latter case, that should be fixed in the next release.) . Can you provide repro steps?

[2020-01-15 23:07] jggj-c opened #1560 "Call Stack"
Repro steps:

1.
2.

Action: vscode-docker.registries.azure.buildImage
Error type: Error
Error Message: No matching resources found.

Version: 0.9.0
OS: darwin
Product: Visual Studio Code
Product Version: 1.41.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-01-16 18:57] philliphoff commented on #1560
@jggj-c Is this error repeatable?  If so, can you provide repro steps?

[2020-01-17 06:01] arjunDhanAi opened #1561 "Starting Docker is presenting with error"
Repro steps:

1. start Docker
2.

Action: vscode-docker.containers.start
Error type: 500
Error Message: (HTTP code 500) server error - driver failed programming external connectivity on endpoint container_dhan2_full (25cf45577d5ff199cf4110c08c1f511c81b8bc33ee77beb1b3293687421601c0): Error starting userland proxy: listen tcp 0.0.0.0:80: bind: An attempt was made to access a socket in a way forbidde

[2020-01-17 06:19] arjunDhanAi commented on #1561
Not an issue, please ignore, sorry for this.

[2020-01-17 06:19] #1561 closed

[2020-01-17 16:32] #1552 closed

[2020-01-17 19:09] dbreshears commented on #1525
@Phanatic,   is there an issue logged that we can track and any current status / eta on this?  This is a frequent request for a Docker extension container registry feature

[2020-01-17 19:18] dbreshears commented on #1523
Fixed on the Docker extension side but remaining work for this is in the VS code open issue above.

[2020-01-17 19:18] #1523 closed

[2020-01-17 19:22] dbreshears commented on #592
.Net Core is fixed in 0.10.0.  Separate item will be created for Node.js in 0.11.0

[2020-01-17 19:22] #592 closed

[2020-01-17 19:26] #1512 closed

[2020-01-17 19:54] #1506 closed

[2020-01-17 23:43] #1461 closed

[2020-01-18 00:07] ucheNkadiCode opened #1566 "Cannot properly copy text from Successfully Created Web App notification"
After Deploying a container to Azure App Service, other than the popup being minimized and unclickable (#1537), the user can highlight, but not actually copy selected text within the notification. This behavior creates another small obstacle to viewing my web app in action.

When I highlight my webapp link, right click, select Copy Text ->

Expected output: https://uchendjangodemo.azurewebsites.ne

[2020-01-18 13:18] Mihael112 opened #1567 "."
Repro steps:

1.
2.

Action: vscode-docker.images.inspect
Error type: Error
Error Message: Failed to show text document azureextensionuiReadonly:/8a8d032af0663d5b8917449c0c2fa9681b15f682339225c838ad0cf659686fd0/latest.json, should show in editor #vs.editor.ICodeEditor:3,$model13

Version: 0.9.0
OS: win32
Product: Visual Studio Code
Product Version: 1.41.1
Language: en

<details>
<summary>Call Stac

[2020-01-20 03:40] louieyu opened #1568 "Unable to acquire the .NET Core debugger on mac"
Repro steps:

1.
2.

Action: docker-launch
Error type: 1
Error Message: Process exited with code 1

Version: 0.9.0
OS: darwin
Product: Visual Studio Code
Product Version: 1.41.1
Language: zh-cn

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-01-20 14:37] madilraza opened #1569 "not running in VS code"
Repro steps:

1.
2.

Action: vscode-docker.images.prune
Error type: Error
Error Message: Failed to connect. Is Docker installed and running? Error: connect ENOENT //./pipe/docker_engine

Version: 0.9.0
OS: win32
Product: Visual Studio Code
Product Version: 1.41.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-01-20 22:46] imkhairulikhwan commented on #869
Hi, do we have an estimated date for this to complete?

[2020-01-21 23:40] #1528 closed

[2020-01-21 23:40] #1510 closed

[2020-01-22 02:13] sarjonator commented on #1508
Docker is want to update that end of issue.

[2020-01-22 05:40] AravindJaimon opened #1573 "Failed building a docker container with a dockerfile"
Repro steps:

1.
2.

Action: vscode-docker.images.build
Error type: 5
Error Message: Task to execute is undefined

Version: 0.9.0
OS: linux
Product: Visual Studio Code
Product Version: 1.41.1
Language: en

[2020-01-22 06:42] v-dantch opened #1574 "Display 404 in browser after following the baseImage link from Dockerfile"
**OS**: All
**Build Version**: [20200122.2](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=13983&view=results)
**Regression:** Not a Regression

**Repro Steps:**
1. Open a new empty file called "Dockerfile "--> Press "Ctrl + Space" --> See the FROM snippet.
2. Press "Ctrl + Click" to follow the link of "baseImage".
![image](https://user-images.githubusercontent.com/34729092/7287

[2020-01-22 08:10] v-dantch opened #1575 "[Intermittent]Fail to terminate and restart task docker-build when the task is already active"
**OS**: All
**Build Version**: [20200122.2](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=13983&view=results)
**Regression:** Not a Regression

**Repro Steps:**
1. Create an Express App.
2. Build the Dockerfile --> Build the Dockerfile again immediately.
3. Pop up a warning "The task 'docker-build(appname)'is already active".
4. Select "Restart Task".
![image](https://user-imag

[2020-01-22 09:42] v-dantch commented on #1398
Verified on the candidate [20200122.2](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=13983&view=results), display below notification when deleting an image which cannot be deleted.
![image](https://user-images.githubusercontent.com/34729092/72882992-7fd2a780-3d3e-11ea-8196-282b7332e847.png)

[2020-01-22 11:15] v-dantch opened #1576 "“Docker Container: Attach Shell” using command pallet should show only running containers"
**OS**: All
**Build Version**: [20200122.2](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=13983&view=results)
**Regression:** Not a Regression

**Repro Steps:**
1. Run "docker run hello-world" --> Make sure there is a stopped "hello-world" container .
2. Check the context menu of the stopped "hello-world" container --> Make sure there is no "Attach Shell".
![image](https://user

[2020-01-22 11:17] v-dantch commented on #1430
#1576 This issue also reproduces.

[2020-01-22 12:19] v-ruizh opened #1577 "[Suggestion] Show the container name rather than image name in 'Containers' view"
**OS:** All
**Build Version:** [20200122.2](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=13983&view=results)
**Regression:** Not a Regression

**Repro Steps:**
1. From command line, type "docker pull registry".
2. Images view->registry:latest->Run.
3. Check the container name in "Containers" view.

**Actual:**
Show the image name in container view.
![image](https://user-images

[2020-01-22 18:08] ravipal commented on #1508
Based on your comment, I believe this is not an issue. Please reopen if you believe this is an issue with the vscode-docker extension.

[2020-01-22 18:08] #1508 closed

[2020-01-22 18:57] karolz-ms opened #1578 "README should use aka.ms to refer to VSCode documentation"

[2020-01-22 23:37] #1576 closed

[2020-01-23 09:55] allanwright commented on #1507
Pull request #1580 has been created to address this.

[2020-01-23 17:19] philliphoff commented on #1577
@v-ruizh While I can't be sure, I believe labeling containers by their tag by default was intentional, perhaps because most containers are implicitly named by Docker and so the name is relatively unimportant, whereas the tag helps identify the type of container.  In any case, users have a lot of flexibility in how containers are labled; if they choose, they can configure it (using the "gear" icon

[2020-01-23 17:19] philliphoff commented on #1577
Let us know if you think there's a strong argument for changing that default; if so, feel free to reopen this issue.

[2020-01-23 17:19] #1577 closed

[2020-01-23 17:21] philliphoff commented on #1575
It's possible our custom execution task isn't reacting to cancellation properly.  We'll need to look into that.

[2020-01-23 17:29] philliphoff commented on #1574
@v-dantch Can you show a screenshot of the IntelliSense dialog with the link to the documentation?  On my machine, the "Online documentation" link goes to [`https://docs.docker.com/engine/reference/builder/#from`](https://docs.docker.com/engine/reference/builder/#from)

[2020-01-23 17:30] philliphoff commented on #1573
@AravindJaimon Is this issue repeatable?  If so, can you add repro steps?  Did you have a normal folder open in VS Code, or did you have an actual workspace open?

[2020-01-23 17:31] philliphoff commented on #1569
@madilraza Is this issue repeatable? If so, can you provide repro steps?  Are you able to use Docker on the command line (e.g. list images, containers, etc.)?

[2020-01-23 17:32] philliphoff commented on #1568
@louieyu Is this issue repeatable?  If so, can you provide repro steps?

[2020-01-23 17:34] philliphoff commented on #1567
@Mihael112 Is this issue repeatable?  If so, can you provide repro steps?

[2020-01-23 18:10] philliphoff commented on #1566
This isn't specific to the Docker extension; the "Copy text" command on *any* notification in VS Code will copy the entire text (rather than just the selected portion).

[2020-01-23 20:24] ucheNkadiCode commented on #1566
Okay thank you, I'll drop the issue in VS Code

[2020-01-23 20:24] #1566 closed

[2020-01-23 22:43] workermonkeyrobot opened #1582 "Failed to connect. Is Docker installed and running?"
I am having trouble connecting to the Docker viewer on the left hand side of the screen. When I remote SSH into my linux Ubuntu 18.04 machine, I get the following errors in the Docker viewer:

Failed to connect. Is Docker installed and running?
     Error: DOCKER_HOST env variable shoule be something like tcp://localhost:1234

I have verified that the Docker extension v0.9.0 is installed on the SS

[2020-01-24 08:46] AVSuni commented on #1459
I get the same error message on three separate laptops (one running Ubuntu 18.04 and two running Windows 10). I don't get it. I have followed all the instructions, and this used to work perfectly well until about October/November.

[2020-01-24 15:48] jmreiche opened #1583 ".Net Core ENTRYPOINT is not using AssemblyName for .dll reference"
When using the otherwise brilliant "Add Docker Files To Workspace.." feature it seems like the code to generate the ENTRYPOINT at the end of the Dockerfile uses the name of the Project instead of the AssemblyName from inside the .csproj file.

This means that if you have another AssemblyName specified inside the .csproj then the reference for ENTRYPOINT will point to an incorrect .dll name.

This

[2020-01-24 16:20] rogermartensson opened #1584 "Feature request: Allow change of docker-machine from the sidebar"
You can add a docker-machine using the settings or through environment variables.

But it would be neat to have a way to display all my docker-machines that are visible through "docker-machine ls".
This could be visible in the sidebar and then be able to change docker-machine by clicking. It then populates the settings by using "docker-machine env <chosen machine>".

[2020-01-24 18:11] jolimas commented on #1349
This could be easily done adding a config option to settings (named "attachShellOptions"?).

Like the "attachShellCommand" but for  exec options (docker container exec **[OPTIONS]** CONTAINER COMMAND [ARG...]).

[2020-01-24 18:21] philliphoff opened #1585 "Update CI VM images"
On March 23, 2020, Azure DevOps is retiring several pipeline VM images. In particular, the MacOS 10.13 image used by our Mac pipeline.  We need to update our pipelines to use the latest VM images before that date.

[2020-01-24 18:35] philliphoff commented on #1583
@jmreiche You're right, the scaffolding logic makes the assumption that the assembly name matches the project file name when generating the Dockerfile.  Interestingly, we don't make that assumption when debugging that same project (where we extract the evaluated `TargetOutputFilename` from the project file).  (Note that the scaffolding logic was written *long* before the debugging logic and likely

[2020-01-24 18:40] jmreiche commented on #1583
Super. Thanks a lot for the rapid feedback! I could not imagine it being a difficult fix either. Just annoying for the few people who encounter it, as the error received from Docker is cryptic.

[2020-01-24 18:42] philliphoff commented on #1584
@rogermartensson How many Docker machines are you typically managing and switching between?  Are these machines local to your client computer or are they separate VMs?

[2020-01-24 19:27] dbreshears commented on #1113
Docs are in progress for being updated based on the wiki content.

[2020-01-24 19:27] #1113 closed

[2020-01-24 19:31] dbreshears commented on #1334
Closing as this is in progress of being migrated from wiki to docs

[2020-01-24 19:31] #1334 closed

[2020-01-24 19:41] dbreshears commented on #1474
@ravipal , after next VSCode release, please validate this is fixed and close

[2020-01-24 23:19] ravipal commented on #1469
It is no longer an issue, fixed by @philliphoff .

[2020-01-24 23:19] #1469 closed

[2020-01-25 01:28] karolz-ms commented on #1582
I can reproduce. Investigating...

[2020-01-25 20:10] rogermartensson commented on #1584
I do have machine local on the client and some on our server evironment.

It could be just one or it could be "many". I don't see the number as being that important. What I see is that it would help setting up the settings easier from inside vscode.

Currently it's either getting the variables from docker-machine and run vscode from the shell or copying it to the settings which could be a bit cumb

[2020-01-25 22:08] MikeZhu92 commented on #1349
This feature now supported in remote development plugin.
@jolimas here is the reference: https://github.com/microsoft/vscode-remote-release/issues/1155

@bwateratmsft feel free to close this issue if you think this might be duplicated feature in other plugin.

[2020-01-26 07:34] AravindJaimon commented on #1573
Yeah it was a workspace

[2020-01-26 07:34] #1573 closed

[2020-01-27 11:03] jolimas commented on #1349
Thanks @MikeZhu92 . I'll give it a try.

[2020-01-27 14:30] rogermartensson commented on #1584
It seems that docker-machine is on it's way out and being deprecated. So maybe it's no idea to implement my request.

[2020-01-27 18:19] karolz-ms commented on #1582
So at least for me the issue seems to be that VS Code (incorrectly) does not offer me the option to install Docker extension on the remote machine.

I found a workaround:
1. Uninstall Docker extension from VS Code. Close all VS Code windows.
2. Start VS Code again. Use `Remote-SSH: Connect to Host..' to connect to remote machine (new VS Code instance will open).
3. Open extension marketplace and i

[2020-01-27 22:41] #1503 closed

[2020-01-28 00:25] #1522 closed

[2020-01-28 00:25] #1521 closed

[2020-01-28 17:32] karolz-ms commented on #1582
@workermonkeyrobot understood.

I cannot reproduce the issue that you are observing. What is the exact error message that you are seeing (the one related to DOCKER_HOST)?

Also, how exactly are you setting up your Docker environment? I followed instructions from Docker https://docs.docker.com/install/linux/docker-ce/ubuntu/ pretty much verbatim and don't see a problem one over the Docker extension

[2020-01-28 18:52] karolz-ms commented on #1582
Roger. Is the DOCKER_HOST variable set in your environment?

[2020-01-28 20:13] karolz-ms commented on #1582
Yeah, on my machine the DOCKER_HOST variable is not set and it is working ... 😐

[2020-01-28 20:14] tarcisiobruni opened #1588 "driver failed programming external connectivity on endpoint SonarQube"
Repro steps:

1.
2.

Action: vscode-docker.containers.start
Error type: 500
Error Message: (HTTP code 500) server error - driver failed programming external connectivity on endpoint SonarQube (0a8ed915417c7ca16ae9d9cf616bd1b534f3638dedb200f67d8e3360193457a3): Error starting userland proxy: /forwards/expose/port returned unexpected status: 500

Version: 0.9.0
OS: win32
Product: Visual Studio Code
P

[2020-01-28 20:39] philliphoff opened #1589 "ID conflicts between Docker related extensions"
There is another [Docker-related extension](https://marketplace.visualstudio.com/items?itemName=formulahendry.docker-explorer) that shares several IDs with our extension. This can result in VS Code populating the wrong views with the wrong content, as well as overlapping contextual commands.

We should investigate changing our IDs to have extension-specific prefixes to avoid that conflict (and hop

[2020-01-29 13:33] JacekPliszka opened #1590 "Allow using podman instead of docker"
Red Hat based systems prefer podman instead of docker.

Could you add configuration option so podman can be used locally in place of docker?

Most commands are identical.

[2020-01-29 21:39] FHDumont opened #1591 "Require secondary authentication on MFA enabled account"
I have MFA enabled to login in Docker but the extension ask only for username and password, it doesn't ask for the MFA code and I've received the message: Require secondary authentication on MFA enabled account.

Does this occur consistently? Yes
Repro steps:
1. Registries > Connect Registry...
2. Docker Hub > fill docker id > fill password

Action: vscode-docker.registries.dockerHub.openInBrowser

[2020-01-30 03:31] haniamr opened #1592 "Telemetry: Process exited with code XX"
Look into improving the error message in the debugging telemetry events (docker-run-execute, docker-launch and docker-build-execute) by adding the stdout from the running process if possible?

Currently, it shows as: "Process exited with code 7".

[2020-01-30 15:33] cecilemuller opened #1593 "Add setting for "--project-name" or COMPOSE_PROJECT_NAME"
I don't see a way to set the project name for Compose (preferably in settings.json) ?

[2020-01-30 20:54] ucheNkadiCode opened #1595 "Add Functionality to the image Push command"
**Problem**: I believe that the push command could do a better job of handling untagged images. Currently, when a user tries to push an untagged image with no Default Registry set, the image is pushed to docker.io/library which is likely to be denied. Even if a default registry is set, the user is prompted to tag their image before pushing it and then must click Tag. Image shown below

![image](ht

[2020-01-30 21:16] karolz-ms commented on #1582
I tried the box you listed above and was able to get the VS Code Docker extension to work with it without any difficulties. This was from yet another client machine (an Ubuntu box).

Please let us know if VS Code re-installation helps! You might want to try [the portable mode](https://code.visualstudio.com/docs/editor/portable) that isolates the whole VS Code installation really well.

[2020-01-31 16:24] karolz-ms commented on #1582
Glad the extension is working for you ☺️

Try installing VS Code portable via [scoop](https://scoop.sh/).

[code]

This should take care of Start Menu/Open With shortcuts. It is the way I run VS Code on Windows.

[2020-01-31 16:24] #1582 closed

[2020-01-31 18:20] philliphoff commented on #1591
@FHDumont Have you tried creating and entering a [Docker personal access token](https://docs.docker.com/docker-hub/access-tokens/) in lieu of the password?

[2020-01-31 18:34] #1550 closed

[2020-01-31 18:34] #1549 closed

[2020-01-31 19:12] philliphoff commented on #1591
@FHDumont It appears that using a personal access token is not quite enough; the Docker Hub web API doesn't appear to [support PAT for all of the methods](https://github.com/docker/hub-feedback/issues/1947) we use within the extension.  For example, we can list the namespaces and repositories associated with a user account, but not list the tags of those repositories.  That limitation may just be

[2020-01-31 19:46] jhonnatanpb commented on #743
I have same issue, I create the webapp from cli or from portal, and setting the private registry to an azure registry in other subscription is not working, whe you review container settings, the private registry tab is empty, and the azure container registry tab is populated, also de env variables are created, but it fails to download the image.

[2020-01-31 21:40] #1589 closed

[2020-01-31 21:43] dbreshears commented on #1589
Duplicate of #1432

[2020-01-31 21:47] dbreshears commented on #1588
@tarcisiobruni .  can you start the container from the command line with docker run?

[2020-01-31 21:59] #1585 closed

[2020-01-31 22:40] philliphoff opened #1596 "Docker Command Customization"
## Overview

The Docker extension executes a number of Docker CLI commands on behalf of its users, such as to build images, run containers, attach to containers, and view container logs. Some of these commands have a large number of optional arguments, often used in very specific scenarios, and our users have stated a need be able to augment or override arguments passed to commands executed by the

[2020-01-31 22:44] philliphoff commented on #1593
@cecilemuller Good timing!  We're in the midst of planning a broader effort to allow customization of the various Docker (CLI) commands that we perform. See #1596 for our proposal and let us know if you have any feedback.

[2020-01-31 22:52] philliphoff commented on #1505
@luka-zitnik We've posted our proposal for a broader effort to support customization of Docker (CLI) commands used by the extension. See #1596 and let us know if you have any feedback.

In particular, you'll notice that the team landed on a more direct form of customization that what we had discussed above (which had its own merits and drawbacks), in the interests of ensuring that users with very

[2020-01-31 23:37] cecilemuller commented on #1593
@philliphoff  Sounds good!

Then in that case, the project name setting could be a token usable in `docker.commands.composeUp` and `docker.commands.composeDown` (I'm guessing there will be a `docker.commands.composeRestart` too although not listed in the proposal).

[2020-01-31 23:54] philliphoff commented on #1593
@cecilemuller To begin with, until we have more feedback on what a generated or set project name should be in order to justify a specific token, I'd suggest simply adding workspace-level settings with values like:

 - `docker.commands.composeUp`: `docker-compose up --project-name my-project -f ${configurationFile} ${detached} ${build}`
 - `docker.commands.composeDown`: `docker-compose down --proje

[2020-02-01 06:13] cecilemuller commented on #1593
Sure, that would work too.

[2020-02-01 06:13] #1593 closed

[2020-02-02 01:07] togoodtobetrue opened #1597 "dbus error"
Does this occur consistently?
Repro steps:

1.
2.

Action: vscode-docker.registries.connectRegistry
Error type: Error
Error Message: org.freedesktop.DBus.Error.ServiceUnknown

Version: 0.10.0
OS: linux
OS Release: 5.3.0-28-generic
Product: Visual Studio Code - OSS
Product Version: 1.41.1
Language: en

[2020-02-03 19:48] #1553 closed

[2020-02-03 19:48] #1551 closed

[2020-02-03 21:40] karolz-ms commented on #1596
@philliphoff thank you for putting this together, great proposal overall. A couple of suggestions:

1. Consider specifying in more detail what kind of capabilities the command templates provide. E.g. are they [JavaScript template literals](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals) under the covers, and can the user do some math or string manipulation when

[2020-02-03 22:38] luka-zitnik commented on #1505
The proposal is awesome @philliphoff . Love the idea of templates and generated/supported tokens. Previously I thought it would be unrealistic to even talk about ability to call docker-compose instead of docker for its output style. But what did I know.

[2020-02-03 23:58] dbreshears opened #1598 "[Python] Support choice of single Dockerfile and optionally include compose files when scaffolding"
When "Add Dockerfiles to workspace",  add a single Dockerfile and prompt for including Docker compose files or not.  This includes adding required tasks and launch configurations for debugging and attach support.

[2020-02-04 00:06] dbreshears opened #1599 "[Node] Rename launch configuration "Docker Node.js Launch and Attach" to "Docker Node.js Launch""
To eliminate confusion with compose related changes for attaching and launching,   we should rename the "Docker Node.js Launch and Attach"

[2020-02-04 00:12] dbreshears opened #1600 "Add "Docker: Add Docker Compose Files to Workspace..." command"
Provide a command that will add docker-compose.yml and docker-compose.debug.yml files to the workspace.

[2020-02-04 00:19] dbreshears opened #1601 "Use dynamic port assignments in Docker Compose files"
Currently in our compose files we use static Host ports when scaffolding.    We should remove the predefined Host port from the compose file so a dynamic port is generated by default

[2020-02-04 00:31] dbreshears opened #1602 "List Application Host ports that are in use to the output window"
When  debugging , output the Application Host ports that are currently in use.

[2020-02-04 02:26] #1557 closed

[2020-02-05 08:07] allanwright commented on #1537
The second suggestion 'Creating the ability to click the link and open App in default browser' has been implemented in #1580.

[2020-02-05 12:39] rodogir opened #1604 "Fails to connect if `docker.host` uses ssh with a custom port"
The extension fails to connect to my remote host which listens on the `4202` port for ssh connections.

It is not a problem of the host machine as I am able to successfully connect to it using the cli:

[code]

This problem can probably be reproduced using the following steps:

1. set up an ssh server that binds to port `4202` on the docker host machine
2. on a different machine in vscode, configu

[2020-02-05 18:31] philliphoff commented on #1596
@karolz-ms Thanks for the feedback!

I intended the tokens to be similar to VS Code's notion of tokens in the `tasks.json` and `launch.json` files (e.g. `${workspaceFolder}`), which are generally just substituted values. I did *not* intend on allowing any sort of dynamic evaluation; I'd need to see some practical examples of how that would be useful given the added complexity.

I considered this (

[2020-02-05 18:58] karolz-ms commented on #1596
@philliphoff makes sense to do simple substitution on tokens in the command; I see the note on that in the proposal 👍

With regards to matching, the only thing that I would emphasize is the separation of the label and the match property/properties. I do believe it will save us quite a bit of grief down the line.

Having a single `match` property with well-known area of application per command seem

[2020-02-05 19:22] #370 closed

[2020-02-05 19:32] ravipal commented on #223
#1603 allows running docker-compose commands without specifying the files as input.
But the extension still doesn't support running docker-compose with specific set of input files (base, override, another override).

[2020-02-05 19:32] #223 closed

[2020-02-05 21:38] #1599 closed

[2020-02-05 22:41] philliphoff commented on #1604
@rodogir Are you able to connect (in VS Code) to a remote host listening on the standard SSH port (`22`)?  (That would help identify whether it's just a general SSH configuration issue or just related to the ports.) Have you followed the [SSH configuration guide in the extension wiki](https://github.com/microsoft/vscode-docker/wiki/SSH#directly-via-ssh)?

The `dockerode` library itself relies on a

[2020-02-05 22:42] philliphoff commented on #1597
@togoodtobetrue Is this problem repeatable? If so, can you provide repro steps?  Can you successfully login to this registry using the `docker login ...` command line?

[2020-02-06 01:47] ravipal commented on #1474
Now the error is different in VS code version 1.41.1
![image](https://user-images.githubusercontent.com/1775825/73898666-fb544e80-483e-11ea-969f-bd3e0a831edc.png)

[2020-02-06 10:17] josersleal commented on #1569
same issue here and docker works fine on cli.
using docker toolbox in windows so that could be the issue
Client:
 Version:           19.03.1
 API version:       1.40
 Go version:        go1.12.7
 Git commit:        74b1e89e8a
 Built:             Wed Jul 31 15:18:18 2019
 OS/Arch:           windows/amd64
 Experimental:      false

Server: Docker Engine - Community
 Engine:
  Version:          19.03

[2020-02-06 13:51] abymsft opened #1606 "Usage with Visual Studio Online"
I'm trying to build and run a container, based on an alpine image, prinitng helloworld, using this plugin on Visual Studio Online.

Has anyone used built images and used this plugin with Visual Studio Online ?

I keep getting popup with a link to install dockers whenever I try a docker command from the cmd palette? I understand the current plugin expects docker for windows/mac to be installed. But

[2020-02-06 14:04] rodogir commented on #1604
@philliphoff Thanks for the quick reply. I will give it a try later today and let you know it it works with the default SSH port.

[2020-02-06 16:57] rodogir commented on #1604
@philliphoff Following the wiki did the trick! Thank you, I wasn't aware of it as I followed the documentation for VS Code [Developing inside a container on a remote Docker host](https://code.visualstudio.com/docs/remote/containers-advanced#_developing-inside-a-container-on-a-remote-docker-host).

[2020-02-06 16:57] #1604 closed

[2020-02-06 19:01] philliphoff commented on #1606
@abymsft The Docker extension isn't fully supported by the Visual Studio Online VM environment, namely, as Docker isn't installed by default and (from my quick testing) cannot be run within the VM that underpins the environment.  I suppose, if you had a Docker daemon running elsewhere that was accessible to the Internet, you might try to configure the extension to use that instead.

What it means

[2020-02-06 20:28] philliphoff commented on #1591
@FHDumont This is resolved now on the Docker Hub API side, so using a personal access token as your password when connecting to Docker Hub in the extension should now work.  Let us know if it does not.

[2020-02-06 20:28] #1591 closed

[2020-02-07 08:56] v-ruizh opened #1608 "Fail to execute command "Run as task in Azure" from “taskmulti-multiregistry.yaml”"
**OS:** Windows
**Build Version:** [20200206.1](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=14471&view=artifacts&type=publishedArtifacts)

**Steps to reproduce:**
1. Download the [acr-build-helloworld-node](https://github.com/Azure-Samples/acr-build-helloworld-node) project.
2. Open this project in VS Code.
3. Right click the "taskmulti-multiregistry.yaml" file and execute "R

[2020-02-07 09:28] v-ruizh commented on #1507
Add the "Open" button on the new build [20200206.1](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=14471&view=artifacts&type=publishedArtifacts), close it.

[2020-02-07 09:28] #1507 closed

[2020-02-07 15:43] irbisKo opened #1609 "After update to 1.42 docker container&images panels are disappeared."
Issue Type: <b>Bug</b>

Windows 10 Home.
Docker-machine running.
Update to new version of  1.42.
 There is no more panels of containers and images.. The same is in remote mode if I connect to my remote host.

Extension version: 0.10.0
VS Code version: Code 1.42.0 (ae08d5460b5a45169385ff3fd44208f431992451, 2020-02-06T10:51:34.058Z)
OS version: Windows_NT x64 10.0.18362

[2020-02-07 19:13] dbreshears commented on #1609
@irbisKo,   are you no longer seeing containers / images  (does docker command line work?), or actually are the Panels completely missing in VSCode?  We have tried on several machines and not able repro but have only tried on Windows Pro.  Can you submit a screen shot and we can also try updating to 1.42 on Windows 10 Home.

[2020-02-07 19:50] northtyphoon commented on #1608
@rosanch

[2020-02-07 21:03] irbisKo commented on #1609
Thank you for your fast feedback. Here is 3 behavior what I got after update,
So I restarted the computer, reinstall extensions and established a connection with remote Host.
What I don't try yet is reinstall VSCode itself.
1) Now I can see in Explorer tab panels Images and Containers. If I open Docker tab then there are just Registries, Networks and Volumes. As you can see there some troubles wit

[2020-02-07 23:14] msssk commented on #1609
Same problem here, upgraded VS Code to 1.42 on Windows 10 Pro with Docker Desktop 2.1.0.4 and now the only panels I see are Registries, Networks, and Volumes.

[2020-02-08 13:56] hholst80 commented on #1533
I confirm that this does not work. I can only see this after 3 minutes of connecting.

![image](https://user-images.githubusercontent.com/6200749/74086451-2b8c2f00-4a83-11ea-9f72-6cbc14a6dda7.png)

[2020-02-08 13:58] hholst80 commented on #1533
Reproduce this by setting `DOCKER_HOST=ssh://user@remote`.

This works from CLI:

![image](https://user-images.githubusercontent.com/6200749/74086477-71e18e00-4a83-11ea-8975-9344c2b33a92.png)

[2020-02-08 14:09] hholst80 commented on #1533
DOCKER_HOST=ssh://... uses docker.sock so that is not related to this issue.

[2020-02-09 14:19] werebear73 opened #1610 "Missing File Error"
Does this occur consistently? Yes
Repro steps:

1.  Run a Flutter app
2.  The Error Pops up

Action: docker-launch
Error type: ENOENT
Error Message: ENOENT: no such file or directory, open 'c:\Users\username\source\repos\app_name\package.json'

Version: 0.10.0
OS: win32
OS Release: 10.0.18363
Product: Visual Studio Code
Product Version: 1.41.1
Language: en

[2020-02-09 15:04] werebear73 commented on #1610
Sorry, I figured it out.  You can close this issue.

[2020-02-09 15:04] #1610 closed

[2020-02-09 21:56] jwtd commented on #1609
I'm getting the same behaviors on:

OSX 10.14.6
Docker Desktop: 2.2.0.0
Visual Studio Code Version: 1.42.0
Docker extension v0.10.0

After installing, I see the docker icon in the left vertical menu, but when I open the drawer, I only see Volumes, Registries, and Networks in the drop down list.

[2020-02-10 16:56] bwateratmsft commented on #1584
I think the spiritual replacement for `docker-machine` is `docker context`, which we in part respect today. I'm not sure if it automatically changes when `docker context` is changed, but it might be valuable to allow changing that from somewhere in the extension UI.

[2020-02-10 17:04] bwateratmsft commented on #1547
Dupe of #1255

[2020-02-10 17:04] #1547 closed

[2020-02-10 17:06] bwateratmsft commented on #1542
A command palette path for initial setup would be fine, but we should accomplish this implementation-wise using dependent tasks in the task model.

[2020-02-10 17:18] philliphoff commented on #1609
@irbisKo @msssk @jwtd What other extensions have you installed?  Do you see this behavior if only the Docker extension (`vscode-docker`) is installed?

Did you also happen to install the [Docker Explorer](https://marketplace.visualstudio.com/items?itemName=formulahendry.docker-explorer) extension?  (This extension is known to have view/command IDs that conflict with our extension and can cause VS

[2020-02-10 17:29] jwtd commented on #1609
Currently, the only docker extension I have installed is vscode-docker. Previously, I had the docker extension pack installed. I've tried uninstalling all and reinstalling vscode-docker on its own. I get the same issue each time.

Aside from the docker extension, I have gitlense, terraform, live share, and aws extensions installed.

[2020-02-10 17:33] bwateratmsft commented on #1358
We do already have logic to skip refreshes if the window isn't focused IIRC, so that part should be covered.

[2020-02-10 18:30] bwateratmsft commented on #1532
Is there a CLI way to determine frameworks? That would be ideal, more so than inspecting project files.

[2020-02-10 18:49] philliphoff commented on #1609
@jwtd The Docker "extension pack" is from the same author as the Docker Explorer and just bundles both our extension and Docker Explorer, so that would definitely cause a problem.  It's curious that removing that extension doesn't resolve the issue (as it does in my testing on my Windows machine).

If you click the Docker tab, then right-click at the top of the Docker explorer are (e.g. next to th

[2020-02-10 19:40] bwateratmsft commented on #1479
This issue has been closed because it needs more information and has not had recent activity. See also our issue reporting guidelines.

Happy Coding!

[2020-02-10 19:40] #1479 closed

[2020-02-10 19:41] msssk commented on #1609
I did previously have Docker Explorer and Docker both installed, and Docker was working. When I updated VSCode to 1.42 Docker stopped working. I uninstalled Docker Explorer, no change. So I uninstalled Docker, quit/opened VSCode, reinstalled Docker, quit/open again, Docker still not working. I've reinstalled Docker again and it still isn't working.

In the right-click menu I only see "Registry", "

[2020-02-10 19:41] bwateratmsft commented on #1443
This issue has been closed because it needs more information and has not had recent activity. See also our issue reporting guidelines.

Happy Coding!

[2020-02-10 19:41] #1443 closed

[2020-02-10 19:42] bwateratmsft commented on #1438
I will close this issue since we haven't heard back in a while, but please let us know if the problem reoccurs! Thanks!

[2020-02-10 19:42] #1438 closed

[2020-02-10 19:46] bwateratmsft commented on #1533
This could be an issue with the way `dockerode` consumes the DOCKER_HOST variable. Need to investigate.

[2020-02-10 21:50] jwtd commented on #1609
When I click the Docker tab, then right-click at the top of the Docker explorer areaI do get a context menu that allows you to show/hide individual tree views, but it only shows volumes, registry, and networks.

![2020-02-10_16-48-53](https://user-images.githubusercontent.com/46588/74193496-72b22580-4c25-11ea-94e0-2e048e492c9b.png)

[2020-02-10 23:07] bwateratmsft opened #1612 "Remove hardcoded strings to enable localization"
Lots and lots of hardcoded strings; we should move these out to enable localization.

[2020-02-11 00:31] BigMorty commented on #1509
We have received feedback in general that a lot of "toast" notifications can be distracting so I would not want to put up a second notification. I would be fine with outputting a message to the Docker output window.

[2020-02-11 17:22] bwateratmsft commented on #1483
Hey @sembaye,

It is possible to make this work with simple user or workspace settings. We've discussed different patterns for Dockerfiles to improve the recognition. One suggestion that has come up many times is `Dockerfile.*`, but we feel that pattern is too broad. We have seen examples of non-Dockerfile source files, like `Dockerfile.cs` or `Dockerfile.js`, etc.

There's a few different things

[2020-02-11 17:22] #1483 closed

[2020-02-11 17:27] bwateratmsft commented on #1492
@rcjsuen Would we need a new version of `dockerfile-utils` published to consume the fix in https://github.com/rcjsuen/dockerfile-utils/commit/11ef5d225d05bc79cb6435a78c89123e8efc03e1?

[2020-02-11 17:35] bwateratmsft commented on #1524
For what it's worth, it is no longer necessary to use an SSH tunnel, you can directly use an SSH Docker host, starting with extension version 0.9.0. You will need to set up agent authentication; more info here: https://github.com/microsoft/vscode-docker/wiki/SSH

Nevertheless I'll investigate why this isn't working. We are supposed to be setting anything in `docker.host` into the `DOCKER_HOST` env

[2020-02-11 17:57] bwateratmsft commented on #1524
@diablodale I wasn't able to reproduce your issue in a quick test. I was able to successfully use `Attach Shell` through an SSH tunnel. It's possible VSCode needed a reload. Can you try [using SSH directly](https://github.com/microsoft/vscode-docker/wiki/SSH) (don't forget to enable and configure the `ssh-agent` windows service), unless a tunnel is strictly necessary? If you have any trouble, let

[2020-02-11 18:09] bwateratmsft commented on #1458
I agree with @zifik. There's nothing we can do about the fact that our dependencies (`dockerode`, `ssh2` NPM packages) require an auth agent, but we can look at warning the user if they have an SSH DOCKER_HOST but no agent set up. A Learn More link to the [Wiki page on SSH setup](https://github.com/microsoft/vscode-docker/wiki/SSH) would probably also help.

[2020-02-11 19:36] haniamr opened #1615 "Tests do not run for Linux pipeline"
For the Linux pipeline, the task reports success without actually executing the tests. Here's the message from the output:
`Tests exited with code: null`

[2020-02-11 19:53] diablodale commented on #1524
Hi. I'm not clear what you are requesting of me.
1. You are deviating from the repo scenario. (e.g. running windows ssh-agent service). I have no comment on deviations.
2. I'm very sure everything is as in my repo. Docker is working well both locally and remotely as described in the setup above.
3. I already isolated the code fault in my notes.

I recommend you revisit this -- slowly. Please, foll

[2020-02-11 20:13] rcjsuen commented on #1492
@bwateratmsft You'll need a new version of the language server to get the fix. When are you planning to cut a new release?

[2020-02-11 20:16] bwateratmsft commented on #1524
Hey @diablodale,

I tried both with and without the ssh-agent service, and it worked both ways. So, I did not deviate.

I read your notes thoroughly but using the `-H` flag is intentionally not the approach we are using. Our code takes VSCode settings for `docker.host` (and similar settings), and applies them to the `DOCKER_HOST` environment variable (and similar variables) for terminals created t

[2020-02-11 20:16] bwateratmsft commented on #1492
The powers that be tell me sometime in the next couple weeks. @BigMorty to keep me honest.

[2020-02-11 20:33] diablodale commented on #1524
Unfortunately, its not working as you intend. right-click attach as in my repo steps...plus an echo.

[code]

There are probably dozens of ways a person can bridge communications between computers. Naturally, I have long-since fixed this for my specific setup. Separate from my ability to fix it for myself, is the global issue that can affect an unknown number of customers less savy. This issue is

[2020-02-11 20:34] BigMorty commented on #1492
We are actually planning a small release fairly soon, how soon could we integrate a new version of the language server with this fix? Otherwise the next release will be a number weeks out; we don't have a specific date at this time.

[2020-02-11 20:36] rcjsuen commented on #1492
@BigMorty The size of the pull request is often rather miniscule (as the change is really a simple change to the `package.json` file). Let me tie up some loose ends and then I'll push out a new release for you.

[2020-02-11 20:37] bwateratmsft commented on #1524
That blank value explains why the error is appearing. What shell are you using? That could be behaving different from the default cmd.exe on Windows.

[2020-02-11 21:09] diablodale commented on #1524
Bash. My shell in VSCode is always bash. Naturally, it could be foo, bar, CMD, csh, sh, zsh, or any number of other shells. Luckily `-H` parameter works for all of them. ;-)

Only designing and testing this feature for powershell is far too limiting.

[2020-02-11 21:36] bwateratmsft commented on #1524
We do design and test for other shells, including bash, sh, zsh, cmd, and PowerShell.

WSL is not at all the same thing as bash. You're running bash within the WSL environment, not the local environment, and it does not inherit environment variables from the host (and more importantly, from VSCode). Based on your setup, Docker is running on another machine, not within WSL, so I'm not sure why you'

[2020-02-12 11:32] irbisKo commented on #1609
@philliphoff I don't have installed Docker Explorer.

[2020-02-12 11:59] diablodale commented on #1524
@EricJizbaMSFT, I see you are the dev that committed the code to put docker settings into env vars. Would you please look at this issue? That code is failing to set the DOCKER_HOST env var when WSL is chosen as the integrated terminal shell.

@bwateratmsft , great to hear. Please do share with me how you have bash as your integrated terminal shell in a way that your code works? It must be one of t

[2020-02-12 13:46] bwateratmsft commented on #1524
If you want, you can use the `docker.attachShellCommand.linuxContainer` setting to hard-code a `-H proto://host` value into either workspace or user settings. In any case, expecting every extension using the `TerminalOptions` API to change their code in order to accommodate your abuse of WSL is not the right approach.

Assuming WSL is actually a supported shell, then `TerminalOptions.env` should w

[2020-02-12 13:46] #1524 closed

[2020-02-12 14:04] diablodale commented on #1524
I appreciate you opening an issue with VSCode. However, there is still some investigation with your code that you didn't reply. As a reminder:

* share with me how you have bash as your integrated terminal shell in a way that your code works. You said bash was tested, then how did you team set that up and test it?
* You implicitly expressed that your team doesn't consider WSL a valid shell in VSCo

[2020-02-12 14:19] bwateratmsft commented on #1524
- We test bash on Windows with Git bash, and also on Mac and Linux with native bash. Git bash on Windows requires a small setting adjustment (#462) though there has not been enough demand to justify making a code change.
- WSL is either a valid shell, in which case the VSCode team needs to fix https://github.com/microsoft/vscode/issues/90527, or it is not a valid shell, in which case we have nothi

[2020-02-12 14:29] bwateratmsft commented on #1609
@irbisKo Can you share a screenshot of the Views section of Contributions from the extension info page? At the bottom of the Contributions should be the Views section:
![image](https://user-images.githubusercontent.com/36966225/74344077-098ff680-4d7a-11ea-863d-fd9098cfd44e.png)

It seems like there is some conflict on contributions that is causing the views to be hidden...

[2020-02-12 14:33] bwateratmsft commented on #102
To recap since this has been around a while--the `files.associations` setting helps by adding syntax highlighting, but the extension commands (e.g. "Compose Up", "Build Docker Image", etc.) do not recognize all docker-compose YML files and Dockerfiles. It would require code changes for these commands to work; in particular settings for controlling the glob patterns would work.

[2020-02-12 14:35] bwateratmsft commented on #520
I think this depends on #37.

[2020-02-12 14:55] bwateratmsft commented on #331
One quirk that I've found while investigating proper multi-select relates to commands which are conditionally shown (for example, the "Stop" command is not shown for already-stopped containers, likewise "Start" for already-running containers).

If you select multiple items, and right-click one of them, _the one you right click decides which commands are shown_. For example, if I multi-select a sto

[2020-02-12 15:51] bwateratmsft commented on #331
@eine alludes to this in #1494. Certain commands are currently implemented as single only, I'd like to hear what people think--whether it even makes sense to turn them into multi-select capable. All those commands which are currently multi-capable via the command palette, IMO should become multi-capable via context menu. For containers this includes stop/start/restart, and for all it includes remo

[2020-02-12 17:45] philliphoff commented on #331
@bwateratmsft I think you've got the right matrix for single/multi select support.  I'd stick with "single" for inspection and logs commands, at least until we see a real need/desire for multi-select.  I also agree that the registries tree view is complicated enough to leave single-select for now; if there's a need for multi-select for certain nodes (e.g. `pull` of Docker Hub images), we can consi

[2020-02-12 18:04] karolz-ms commented on #331
Agreed with the general approach; I think we are at a good starting point.

The multi-select for logs would make sense if we decide to do some sort of integrated log viewer for multiple containers, where you can see logs sorted by time and thus observe interactions between various containers. Until then it makes most sense to stick with single-select for this command.

I would consider multi-selec

[2020-02-12 18:12] philliphoff opened #1617 "Use proper templating engine for scaffolded files"
The text definition/manipulation we use to scaffold files (e.g. Docker files) is...not pretty.  It'd be nice to move to a proper templating engine to get the inline strings into separate files and stop cluttering up the actual scaffolding logic.

I don't have a huge preference on any particular template engine; we're using [Handlebars](https://handlebarsjs.com/) in another extension and it seems t

[2020-02-12 18:53] bwateratmsft commented on #1617
I'd almost consider this feature work, not just engineering...

[2020-02-12 19:08] EricJizbaMSFT commented on #1524
I'm not entirely following along, but @fiveisprime and I do not use `terminal.integrated.shell.windows` for wsl - we use the [Remote WSL extension](https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.remote-wsl) instead. As its main page says:

I believe all of this environment variable frustration fits under the "challenges" used as a motivation for the Remote WSL extension.

@fi

[2020-02-12 21:05] philliphoff commented on #1617
@bwateratmsft Almost added the feature label but, technically, it wouldn't have any visibility to users, which is the sort of thing I tend to put in the "engineering" bucket.

[2020-02-12 21:06] bwateratmsft commented on #1617
Can't it have visibility though? I can see users wanting ways to offer their own templates, through settings or otherwise.

[2020-02-12 21:16] philliphoff commented on #1617
Well, yes, adding user-customization the Docker-related files would be a new feature.  Having "real" templates on disk rather than embedded inline is likely to make that easier, but that I wouldn't consider that the initial goal.

[2020-02-13 03:30] rcjsuen commented on #1492
@bwateratmsft @BigMorty Opened #1619 to upgrade the language server.

[2020-02-13 10:33] allanwright commented on #1453
I have created PR #1620 to address this feature request.

[2020-02-13 14:18] bwateratmsft commented on #1453
This would also be covered by the fix for #331.

[2020-02-13 15:12] diablodale commented on #1524
@bwateratmsft I'm not engaging in your defensive/triggering language towards me. I've escalated your behavior as a violation of Code of Conduct for review.
Now back to the technical discussion...

Thanks @EricJizbaMSFT for that link. That is another place showing that WSL is an officially supported and documented integrated terminal choice. This again highlights the lack of test cases in this exte

[2020-02-13 16:07] tarnith opened #1621 "[Docker Registries] Login to CLI fails authentication"
Does this occur consistently? Yes
Repro steps:

1. Attempt to login to Docker Registries CLI
2. Authentication fails, no option to enter correct CLI token

Additional steps attempted
Attempting to connect, shows already connected.
Disconnect, re-connect to registry, attempt to connect CLI. Authentication failed. Yet shows connected.

Action: vscode-docker.registries.logInToDockerCli
Error type: 40

[2020-02-13 16:18] #1621 closed

[2020-02-13 17:49] #1615 closed

[2020-02-13 18:36] bwateratmsft commented on #1609
@irbisKo @msssk @jwtd I have an idea for what might be going wrong. The Docker Explorer extension (the other one, not ours) has settings to show/hide its panels: https://github.com/formulahendry/vscode-docker-explorer/blob/master/package.json#L46

Namely:
[code]

Can you check your user settings and see if there are values present for those settings, particularly, `false` values? What happens if y

[2020-02-13 18:50] jwtd commented on #1609
I looked and didn't find those set in my settings.json. I tried
manually setting those values to true, but they didn't cause the menus to
appear. Right now the only way I can see the images and containers is if I
install the other guy's extension. When I do that they drawers appear as
submenus in the default explorer menu. They do not appear in the Docker
menu.

On Thu, Feb 13, 2020 at 1:36 PM Bra

[2020-02-13 19:23] bwateratmsft commented on #1609
Thanks @jwtd. Man, this is a strange bug. I'll see if I can find information on VSCode; why the behavior may have changed. There could be some weird caching things happening that cause conflicts with the Docker Explorer extension even when it is uninstalled.

[2020-02-13 19:34] bwateratmsft commented on #1609
@sbatten, @philliphoff found https://github.com/microsoft/vscode/issues/85164, we were wondering if the code there could be causing this strange behavior we're seeing. For context--

- Both the Docker Explorer (third party) and our Docker extension (first party) use the view IDs `dockerContainers` and `dockerImages` for custom tree views; unfortunately in conflict.
- Some users have both extension

[2020-02-13 20:39] msssk commented on #1609
No values present, I added them manually and VSCode displayed them as unknown configuration settings and they had no effect.

[2020-02-13 20:47] haniamr commented on #379
@ravipal is that covered by your PR here #1603?

[2020-02-14 01:33] #1567 closed

[2020-02-14 01:33] #1568 closed

[2020-02-14 01:34] #1574 closed

[2020-02-14 01:34] #1560 closed

[2020-02-14 01:34] #1559 closed

[2020-02-14 14:21] bwateratmsft commented on #1492
Should be fixed now by https://github.com/microsoft/vscode-docker/pull/1619.

[2020-02-14 14:21] #1492 closed

[2020-02-14 15:16] bwateratmsft commented on #1609
Thanks folks. I've been working with @sbatten and it seems that the changes for https://github.com/microsoft/vscode/issues/85164 are related, along with the conflicting view IDs between the two extensions.

**I was able to reproduce the issue with the following:**

1. Uninstall both extensions
1. Install the Docker Explorer (third party) extension first
    1. It puts the Containers and Images vie

[2020-02-14 15:31] Fosol commented on #1609
Same issue here after updating Docker Desktop.

[2020-02-14 17:19] #1578 closed

[2020-02-14 18:09] philliphoff opened #1627 "Make unit tests independently run-able"
Writing unit tests is currently painful because running them requires loading VS Code and running them along with all of the UI "unit" tests, which is slow and prone to failure.  We should split the tests into true "unit" and "automation" tests, where the unit tests can be independently run without all of the VS Code context or waiting for the slower automation tests.  The CI pipeline would contin

[2020-02-14 18:21] jwtd commented on #1609
Yes, this procedure corrected the issue for me.

On Fri, Feb 14, 2020 at 10:16 AM Brandon Waterloo [MSFT] <
notifications@github.com> wrote:

[2020-02-14 18:56] msssk commented on #1609
@bwateratmsft Thank you for troubleshooting this! Fix works!

[2020-02-14 19:12] #1584 closed

[2020-02-14 19:16] dbreshears commented on #1569
@madilraza ,  please ensure Docker is running correctly on the command line.   If it is and you still have issue with VSCode, please re-activate

[2020-02-14 19:16] #1569 closed

[2020-02-14 19:23] dbreshears commented on #1513
@alparslanozturk ,  are you able to login to the registry and delete the image from the command line?   Can you provide steps that reproduce the issue?

[2020-02-14 19:34] bwateratmsft commented on #1609
Awesome! Glad to hear it's working.

[2020-02-14 19:47] bwateratmsft commented on #1402
I'll close this issue as external, seems to be a Fedora thing.

[2020-02-14 19:47] #1402 closed

[2020-02-14 19:49] #1466 closed

[2020-02-14 19:51] bwateratmsft commented on #1609
I'll close this one as external. I created https://github.com/formulahendry/vscode-docker-explorer/pull/53 in the Docker Explorer extension to change the IDs to prevent conflicts. The Docker Explorer extension did use the IDs first, but because this extension has dependents in Remote - Containers, it would be more difficult to change this one.

[2020-02-14 19:51] #1609 closed

[2020-02-14 19:51] bwateratmsft commented on #1492
Verified this is fixed.

[2020-02-14 19:56] philliphoff commented on #1496
@umarcor Based on a lot of similar user feedback, we now have a [proposal to provide customization of many of the Docker commands](https://github.com/microsoft/vscode-docker/issues/1596) issued by the extension.  The proposal includes the ability to have multiple customizations, some of which can be automatically matched to specific images/containers and others which can be selected via a prompt.

[2020-02-14 21:02] bwateratmsft commented on #1612
Hopefully not wasted effort, but I made a quick-and-dirty VSCode extension that will extract selections out to the `package.nls.json` file automagically, along with some logic to help come up with the key name.

[2020-02-14 21:05] wesleyrossetti opened #1628 "teste docker"
Does this occur consistently?
Repro steps:

1.
2.

Action: vscode-docker.configure
Error type: Error
Error Message: To generate Docker files you must first open a folder or workspace in VS Code.

Version: 0.10.0
OS: win32
OS Release: 10.0.17763
Product: Visual Studio Code
Product Version: 1.41.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-02-14 21:06] bwateratmsft commented on #1628
Same as #1559. @wesleyrossetti , can you open a folder or workspace before trying to generate Docker files?

[2020-02-14 21:06] #1628 closed

[2020-02-15 01:16] #1538 closed

[2020-02-15 01:16] #1546 closed

[2020-02-15 01:16] #1598 closed

[2020-02-15 01:16] #1601 closed

[2020-02-16 22:45] antoniopereirasilva opened #1629 "TesteDocker"
Does this occur consistently?
Repro steps:

1.
2.

Action: vscode-docker.configure
Error type: Error
Error Message: To generate Docker files you must first open a folder or workspace in VS Code.

Version: 0.10.0
OS: linux
OS Release: 5.3.0-28-generic
Product: Visual Studio Code - Insiders
Product Version: 1.43.0-insider
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-02-17 04:44] SuperSandro2000 commented on #37
A complete list of all versions is available here https://github.com/docker/compose/tree/master/compose/config

[2020-02-17 10:07] AlexSerbinov commented on #1582
Have the same problem:(

[2020-02-17 14:40] fennovj commented on #743
Same issue here, I guess this is not vscode related at all since I get the same issue if I try to use a container registry in a different subscription. Even when configuring it as a private registry, it switches back to the ACR and gives the screenshot in the OP.

[2020-02-17 15:07] eine commented on #331
Thanks @bwateratmsft! I'm so glad to see this moving forward.

I do think that all the commands that can be harmlessly applied to multiple targets should be enabled/supported. With "harmlessly" I mean when the difference is a matter of using `forEach` instead of calling a function once only. `Open in Browser`, `Inspect` and `View Logs` should be straighforward to implement. Nevertheless, I believe

[2020-02-18 09:29] umarcor commented on #1596
Coming from #1496, @philliphoff, I think that this is an interesting proposal in the good direction, but I'm afraid that it does not face the issues that force me to keep using Docker's CLI. Having some templates defined in `settings.json` is good, but the proposed flexibility falls short for my requirements.

Tha main idea in the screencast shown in #1496 is that templates are first-class citizen

[2020-02-18 09:36] umarcor commented on #1596
Another issue I forgot to comment is that the main command might not be `docker`. In order to run containers with GUI apps, `x11docker --runx -i [--user=0] -- [-v /$(pwd)://src] [-p 5000] -- <image_name> bash` can be used. In this case, `[-v /$(pwd)://src] [-p 5000] -- <image_name> bash` is equivalent to `${userVolumes} ${exposedPorts} -- ${tag} ${entryCommand}`. The difference would be that, in t

[2020-02-18 12:42] khalifagroup opened #1630 "Rana Talha Ali"
**

Does this occur consistently?
Repro steps:

1.
2.

Action: debugCoreClr
Error type: Contact To Mr Umair
Error Message: No workspace folder is associated with debugging.

Version: 0.10.0
OS: win32
OS Release: 10.0.18363
Product: Visual Studio Code
Product Version: 1.42.1
Language: Non English Alii

<Details>
<Summary>Call Stack</Summary>

[code]

</details>

[2020-02-18 12:46] #1630 closed

[2020-02-18 14:22] bwateratmsft commented on #331
`Attach VSCode` would be in the Remote - Containers extension, so it would be up to them to decide if they want to support multi-select.

For the others, I'll create a new GitHub issue so we can gauge the importance for them.

[2020-02-18 14:24] bwateratmsft opened #1631 "Support more commands for multi-select (Inspect, View Logs, etc.)"
After #1623, there are still some commands for which multi-select is not enabled (e.g. Inspect, View Logs, etc.). We should consider enabling them, but I wanted to create this as a separate issue from #331.

@eine for visibility :smile:

[2020-02-18 14:24] bwateratmsft commented on #331
Created #1631.

[2020-02-18 14:26] bwateratmsft commented on #37
Thanks for finding that @SuperSandro2000!

[2020-02-18 14:27] bwateratmsft commented on #1629
Same as #1559. @antoniopereirasilva , can you open a workspace folder in VSCode before running the `Configure Workspace...` command?

[2020-02-18 14:27] #1629 closed

[2020-02-18 15:49] #331 closed

[2020-02-18 15:49] #1453 closed

[2020-02-18 16:19] #1458 closed

[2020-02-18 19:46] BigMorty commented on #331
@bwateratmsft your list above looks like a good start. Agree we should consider the others @eine mentions. @karolz-ms had the same idea I did regarding View Logs for multiple containers, having it show in all the logs integrated in time order would be awesome. That said, it would probably be a separate command like "Show Integrated Logs" or something.

[2020-02-18 19:48] BigMorty commented on #331
@bwateratmsft - Should this issue be reopened or are we tracking it with a separate issue?

[2020-02-18 19:56] bwateratmsft commented on #331
@BigMorty I made #1631 for that.

[2020-02-18 20:22] BigMorty commented on #331
Great, thanks!

[2020-02-18 21:57] karolz-ms commented on #1582
@AlexSerbinov can you check out https://github.com/microsoft/vscode-docker/wiki/Troubleshooting#the-extension-does-not-find-docker-on-a-remote-machine-failed-to-connect-is-docker-installed-and-running-error and let us know if that helped?

[2020-02-18 23:10] karolz-ms opened #1634 "Unable to debug ASP.NET Core app on Ubuntu 18.04 LTS (client: Windows 10)"
Repro steps:

One needs an Ubuntu 18.04 machine with Docker installed (used Docker engine version 19.03.6). Machine should be accessible via SSH. Also install .NET SDK version 3.1 or newer (used SDK 3.1.101).

1. Use Remote-SSH extension to connect to the Ubuntu machine via SSH
2. Follow ASP.NET quickstart https://code.visualstudio.com/docs/containers/quickstart-aspnet-core and try debugging

Expe

[2020-02-19 00:35] BigMorty commented on #1492
@bwateratmsft, I assume we will integrate the new language server in our next major release?

[2020-02-19 10:26] alparslanozturk commented on #1513
Does this occur consistently?
Repro steps:

1.
2.

Action: vscode-docker.registries.deleteImage
Error type: UNSUPPORTED
Error Message: The operation is unsupported.

Version: 0.10.0
OS: win32
OS Release: 10.0.19041
Product: Visual Studio Code
Product Version: 1.42.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[image: image.png]

[image: image.png]

Devin Breshears <n

[2020-02-19 11:38] togoodtobetrue commented on #1597
Sorry I'm new to git I'm still learning how to use this sorry for the late reply I will report it if it happens again.

[2020-02-19 14:20] bwateratmsft commented on #1513
@alparslanozturk are you able to delete these images from the CLI?

[2020-02-19 14:21] bwateratmsft commented on #1597
@togoodtobetrue sounds good, I'll close this issue for now but please let us know if the problem occurs again!

[2020-02-19 14:21] #1597 closed

[2020-02-19 14:27] bwateratmsft commented on #1634
I'm also able to reproduce; even with having installed the C# and Docker extensions within the SSH session.

[2020-02-19 14:32] bwateratmsft commented on #1492
@BigMorty Yep!

[2020-02-19 16:21] bwateratmsft commented on #1634
I found that the debug download code correctly identified the OS as Linux, and used the following command:
`/home/bwaterloo/.vsdbg/getvsdbg.sh -v latest -r linux-x64 -l "/home/bwaterloo/.vsdbg/linux-x64/latest"`
When I ran that manually it gave an error that `unzip` was not installed. Once I installed `unzip` (and separately, reinstalled the not-snap version of Docker due to https://github.com/mob

[2020-02-19 16:31] bwateratmsft commented on #1634
I sent an email to the debugger folks to see what their guidance is.

[2020-02-19 17:29] karolz-ms opened #1636 "Unable to debug ASP.NET Core app from within WSL 2"
To repro one needs a Windows 10 machine with WSL 2 and Docker with WSL 2 engine (Edge) installed and enabled. Use Ubuntu 18.04 LTS as the WSL 2 distro. I am using Insider Preview of Windows 10 build 19564.1005, VS Code 1.42.1, and Docker Desktop 2.2.1.0 (42746) edge channel.

Repro steps:
1. Use Remote-WSL extension to open a session into WSL 2 environment
2. Follow ASP.NET quickstart https://code

[2020-02-19 17:32] bwateratmsft commented on #1636
Strange...this might be a VSCode issue or maybe even a Windows issue; we use the official `vscode.env.openExternal` API to actually launch the browser.

[2020-02-19 17:32] bwateratmsft commented on #1636
What happens if you choose a default browser from outside of the context of VSCode?

[2020-02-19 18:20] karolz-ms commented on #1636
The default browser is set to Microsoft Edge in OS settings, if this is what you are asking about

[2020-02-19 18:21] bwateratmsft commented on #1636
What happens if you open a "Learn More" link (or something like that) from within VSCode?

[2020-02-19 18:34] karolz-ms commented on #1636
Good question, Brandon. Seems like a Win10 Preview issue. I can repro the same behavior by opening File Explorer and typing `https://www.microsoft.com` into the quick access bar 😞

[2020-02-19 18:34] #1636 closed

[2020-02-19 18:40] karolz-ms commented on #1634
The guidance is the user should ensure that unzip utility is installed.

Per @bwateratmsft

[2020-02-20 14:11] bwateratmsft commented on #1355
I'm not sure I feel like this should be considered P1 when the built-in server ready action goes to no such lengths...

[2020-02-20 14:23] bwateratmsft commented on #1474
@philliphoff the C# extension adds the tasks as workspace folder tasks irrespective of whether you have a workspace open. When we add the debug tasks, we're adding them as workspace tasks. The result is that it never runs dotnet build (because that task is defined somewhere other than workspace), doesn't show a warning or error that it didn't execute a dependent task (thanks VSCode), and fails at

[2020-02-20 14:27] bwateratmsft commented on #1474
Update: if I move the dotnet build task down to workspace tasks, everything works. So we have two options:

1. Always use workspace folder tasks/debug, never workspace tasks/debug
2. Tell the C# extension they need to use workspace tasks/debug when a workspace is open

[2020-02-20 19:00] #1627 closed

[2020-02-20 19:15] bwateratmsft commented on #794
This sort of fits under the #1596 umbrella.

[2020-02-20 19:16] bwateratmsft commented on #1505
@luka-zitnik I'll close this issue for now as a "dupe" of #1596 so that we can track everything related to command customization in one place. "View Logs" is definitely going to be included in that effort.

[2020-02-20 19:16] #1505 closed

[2020-02-20 19:17] #794 closed

[2020-02-20 19:39] bwateratmsft commented on #1596
@umarcor Thank you for your thoughts!

- I agree that a GUI for managing these templates would be extremely helpful. I don't think that we'll have time to do that ahead of the 0.11.0 milestone, but either way I agree that that should be added. If we don't get it in 0.11.0, I'll be sure to file another work item for it.
- Agree that anytime we ask users to pick between multiple templates, the lates

[2020-02-20 21:05] #1122 closed

[2020-02-20 23:22] umarcor commented on #1596
Thank you for building/maintaining this piece of software! This extension was one of the main reasons that pushed me to start using VSC. It is not as good as I'd like yet, but the layout, and the UX were really good from the begining. It was easy to visualise how it can be non-intrusively extended.

I think this is important, and it should not be forgotten, as you say. Nevertheless, it is not prio

[2020-02-20 23:35] BigMorty opened #1641 "Add palette command Docker: Help that shows our standard 3-4 help links"

[2020-02-21 00:32] philliphoff opened #1642 "Use wizard-like flow for Dockerfile scaffolding"
In a discussion about the Python scaffolding flow, an idea was brought up related to making the series of user prompts bi-directional, in case the user needed to correct a prompt or make a different choice.  Currently the scaffolding flow is a series of independent prompts; the user can't go "back" without cancelling the entire commands.

VS Code does have a more complex form of the input/quick-pi

[2020-02-21 11:49] Nhimself commented on #869
Following this...

[2020-02-21 14:08] bwateratmsft commented on #869
@BigMorty I think that we should take this one for 0.12.0...

[2020-02-21 15:22] bwateratmsft commented on #1596
Ah, I think I understand what you mean now. Would it make sense to separate "Customize" from "Execute", i.e. what users do to "Execute" doesn't really change from what there is today, but add a command for "Customize", that could open the config UI or take them to the settings.json, etc.?

[2020-02-21 15:45] danielgospodinow opened #1643 "Missing name of repository in GitLab Docker Registry"
I'm using the GitLab registry and I noticed that the name of the current repository from a given registry is missing.

And this behavior can be observed only for GitLab, DockerHub works like a charm.

I'll provide some images so that it's more clear.

Observation:
![Image of observed defect](https://i.imgur.com/rF0RkNS.png)

Current state in GitLab:
![Current state in GitLab](https://i.imgur.com/Y

[2020-02-21 16:03] bwateratmsft commented on #1643
Definitely looks like a bug, we'll look into it. Thanks for reporting it @danielgospodinow!

[2020-02-21 16:04] bwateratmsft commented on #1643
@BigMorty I think we should take this for 0.11.0 as it essentially makes GitLab unusable in our Registries view.

[2020-02-21 16:10] bwateratmsft commented on #1641
This should be as simple as removing this from `package.json`'s `contributes.menus.commandPalette`:
[code]

[2020-02-21 16:59] bwateratmsft commented on #1643
So Docker Hub does not allow pushes to the namespace itself. i.e. I can push `bwateratmsft/webworkspace:latest` but not `bwateratmsft:latest`.

[2020-02-21 22:18] danielgospodinow commented on #1643
It's good that you managed to reproduce the issue and I'm happy that you even figured out what's going on exactly! :smile: Good luck, guys!

[2020-02-21 22:33] #1588 closed

[2020-02-21 22:53] bwateratmsft commented on #1643
Thank you! We were trying to decide exactly what text should go in that spot. Technically, it's another repository altogether. Some of our ideas include:

1. Give the full name, e.g. in my example it would be `bwateratmsft/vscode-extension-testing`. This would be the exact same text as the parent node.
2. Show <root>
3. Show <default>

Do you have any preference or is there different text that mak

[2020-02-21 23:02] BigMorty commented on #869
Agree we should try to get it into .12 or .14 (we are skipping .23 😉)

[2020-02-21 23:49] liuqiugui opened #1646 "11"
Repro steps:

1.
2.

Action: vscode-docker.networks.remove
Error type: 403
Error Message: (HTTP code 403) unexpected - none is a pre-defined network and cannot be removed

Version: 0.8.2
OS: darwin
Product: Visual Studio Code
Product Version: 1.38.1
Language: zh-cn

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-02-22 00:30] #1641 closed

[2020-02-22 10:54] danielgospodinow commented on #1643
I think option 1 seems quite reasonable. In fact, that's the behavior that I expect as a user. :smile:

I got familiar with the source code and I'll also do my best to help resolving this issue. I would love to contribute to this project. :smile:

[2020-02-23 11:40] prateikjaiswal opened #1647 "Task to execute Docker Images build is undefined"
Does this occur consistently? Yes
Repro steps:
1. In Visual Studio Code open Command Palette
2. Run command => Docker Images: build image
3. Select workspace

Action: vscode-docker.images.build
Error type: 5
Error Message: Task to execute is undefined

Version: 0.10.0
OS: darwin
OS Release: 19.3.0
Product: Visual Studio Code - Insiders
Product Version: 1.43.0-insider
Language: en

[2020-02-23 19:21] lcxywfe commented on #1459
Sorry, so, does it support ssh with a jump host ?

[2020-02-24 14:11] imba-tjd opened #1648 "Failed to connect to registry on the remote when the domain is proxied locally"
## Environment

Host OS: Windows 10 20H1 (preview)
Server: Debian 11 bullseye (testing)
VSC: 1.42.1 (latest)
Docker Extension: 0.10 (latest)
Remote (SSH) Extension: 0.49 (latest)

## The Issue

I have set up a usable socks proxy listening on 127.0.0.1:1080, and I added `docker.com` to pac.txt so that visiting `*.docker.com` will be proxied.

When I try to connect to docker hub registry **on the re

[2020-02-24 14:12] bwateratmsft commented on #1646
Dupe of #1383

[2020-02-24 14:12] #1646 closed

[2020-02-24 14:17] bwateratmsft commented on #1647
Thanks @prateikjaiswal, this looks similar to the later issue found in #1474.

[2020-02-24 14:17] bwateratmsft commented on #1459
@lcxywfe it may be possible to use a jump host but we have never tried it.

[2020-02-24 15:57] lcxywfe commented on #1459
@bwateratmsft I mean, could tell me how to modify the DOCKER_HOST (or another variable) to use a jump host.

[2020-02-24 17:57] bwateratmsft commented on #1643
I looked further into the code, and it seems like this is a quirk of GitLab itself. Their API returns a `name` value that is blank. Still, I think the fix is essentially the same--when constructing the repository node, we can just give a default name like the project name if there's nothing from the request.

[2020-02-24 18:04] bwateratmsft commented on #1596
I hit one speed bump during implementation with the compose commands. The extension allows for no compose file to be specified, in which case it just runs `docker-compose up/down etc.` with no `-f "someFile.yaml"`. This means the template needs to be able to include / exclude that `-f`. I added another template variable, `${configurationFileSpecified}`. I'm not too keen on that name so I'm open to

[2020-02-24 18:15] karolz-ms commented on #1596
@bwateratmsft Alternatively we could have two settings/command templates, one used when compose file is specified, the other when it is not

[2020-02-24 18:17] bwateratmsft commented on #869
This could potentially require and/or take advantage of https://github.com/microsoft/vscode/issues/88309

[2020-02-24 18:20] bwateratmsft commented on #1596
Another option would be to put the `-f` in front of the file, if needed. I'm reluctant to introduce any more settings (i.e., split into two command templates) because these configs are incredibly heavy weight.

[2020-02-24 18:41] bwateratmsft commented on #1596
Yeah, as I think about it that makes more sense.

[2020-02-24 19:06] danielgospodinow commented on #1643
Yes, I absolutely agree! :smile: This fix should do the trick.
I managed to apply the fix locally.
Can I try and make a pull request for this, even though it's just a single line of code? :smile:

[2020-02-24 19:12] bwateratmsft commented on #1643
Yes, please do! We welcome user contributions. :smile:

[2020-02-24 19:54] bwateratmsft opened #1650 "Create a JSON schema document, to separate schemas from package.json"
The extension has a huge amount of repeated code and complex JSON schema in package.json. Unfortunately VSCode does not support the usual `$ref` notation, except for _absolute_ URIs (where support is half-baked) (blocked on https://github.com/microsoft/vscode/issues/95270).

The best option therefore is a build-time task to take code from a schema.json file and stuff it into a built package.json f

[2020-02-24 20:32] bwateratmsft commented on #623
This will be resolved with the solution to #1596, so I will dupe this one to that.

[2020-02-24 20:32] #623 closed

[2020-02-24 22:29] danielgospodinow commented on #1643
I've made a pull request. :smile: I'll try to continue contributing as much as I can! :v: And thank you for the wonderful discussion, It was a wonderful opportunity for me!

[2020-02-25 01:27] ravipal commented on #379
Fixed by #1603

[2020-02-25 01:27] #379 closed

[2020-02-25 01:29] ravipal commented on #569
Fixed by #1603

[2020-02-25 01:29] #569 closed

[2020-02-25 12:15] ThomasPe commented on #743
I've created an issue with the ACR team since as @fennovj mentions this seems like a Portal issue.

[2020-02-25 15:12] bwateratmsft commented on #1255
@haniamr this is done right?

[2020-02-25 15:31] bwateratmsft opened #1653 "Create wiki or doc info about command customization"
Related to #1596. We need documentation about what is possible and how to do it.

[2020-02-25 17:05] karolz-ms commented on #1653
I suggest we add this to our [Reference topic in the docs](https://code.visualstudio.com/docs/containers/reference)

[2020-02-25 17:24] bwateratmsft opened #1654 "Images are broken in README in extension gallery"
Images in the README are not showing up in the extension gallery, both within VSCode and online.

VSCode:
![image](https://user-images.githubusercontent.com/36966225/75270947-6bfce400-57c9-11ea-88d1-09269cb82dd7.png)

[Online](https://marketplace.visualstudio.com/items?itemName=ms-azuretools.vscode-docker):
![image](https://user-images.githubusercontent.com/36966225/75270999-833bd180-57c9-11ea-95c

[2020-02-25 17:24] bwateratmsft commented on #1654
@karolz-ms can you take a look at this?

[2020-02-25 17:26] bwateratmsft commented on #1653
Works for me :smile:
I changed the title slightly to reflect that.

[2020-02-25 17:36] bwateratmsft commented on #1654
I looked at old VSIXs, they included the readme files; however the newer ones do not. That is probably what went wrong.

[2020-02-25 20:05] #1654 closed

[2020-02-25 20:08] bwateratmsft commented on #1654
Marking with "fixed in next release" and putting in changelog, since it's a pretty user-visible bug.

[2020-02-25 20:17] bwateratmsft commented on #1536
Related to #1596

[2020-02-25 20:19] bwateratmsft commented on #1590
This capability would be added for several commands via #1596. I don't know if Dockerode supports it, I've not tried; but if it does then that would cover most of the scenarios.

[2020-02-25 20:21] bwateratmsft commented on #1349
This functionality is added in the Docker extension via #1596, so I'll dupe this item to that one.

[2020-02-25 20:21] #1349 closed

[2020-02-25 20:23] bwateratmsft commented on #1217
This will be fixed by #1596 so I will dupe this one to that.

[2020-02-25 20:23] #1217 closed

[2020-02-25 20:23] bwateratmsft commented on #1197
This will be fixed by #1596 so I will dupe this to that.

[2020-02-25 20:23] #1197 closed

[2020-02-25 20:25] bwateratmsft commented on #979
We've added multi-select via #331 so I'll mark this one as a dupe of that.

[2020-02-25 20:25] #979 closed

[2020-02-25 20:26] bwateratmsft commented on #363
This will be possible as a user setting with #1596. Nevertheless we should investigate changing the default.

[2020-02-25 21:11] nosregor opened #1657 "Error running docker build in VS Code"
Does this occur consistently?
Repro steps:

1.
2.

Action: vscode-docker.images.build
Error type: 5
Error Message: Task to execute is undefined

Version: 0.10.0
OS: darwin
OS Release: 19.3.0
Product: Visual Studio Code
Product Version: 1.42.1
Language: en

[2020-02-25 21:14] bwateratmsft commented on #1657
Looks like a dupe of #1647

[2020-02-25 21:14] #1657 closed

[2020-02-25 22:36] #1543 closed

[2020-02-26 00:27] #1355 closed

[2020-02-26 09:53] v-dantch opened #1660 "Pop up an error "s.filter is not a function" when running "Docker Images: Remove...""
**OS:** Windows
**Build Version**: [20200225.1](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=15184&view=artifacts&type=publishedArtifacts)
**Regression:** Previous Release (0.10.0)

**Repro Steps:**
1. F1 --> Type and select "Docker Images: Remove...".
2. Check the result.

**Expect:**
Succeed to remove the images by this command.

**Actual:**
Pop up an error "s.filter is not

[2020-02-26 12:09] v-dantch opened #1661 "Display a stopped container after composing up a .NET Core Console app"
**OS:** Windows, Mac
**Build Version**: [20200225.1](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=15184&view=artifacts&type=publishedArtifacts)
**Regression:** Not a Regression (0.10.0)

**Repro Steps:**
1. Create a .NET Core Console app by "dotnet new console --name testconsole".
2. Open the project in VS Code --> Prompt to add the required assets --> Yes
![image](https://use

[2020-02-26 12:47] v-dantch opened #1662 "Fail to debug with "Docker: .NET Core Attach (Preview)" configuration for ASP .NET Core web apps in Windows Containers mode"
**OS:** Windows
**Build Version**: [20200225.1](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=15184&view=artifacts&type=publishedArtifacts)
**Regression:** Not a Regression

**Repro Steps:**
1. Switch to Windows Containers mode.
2. Create a ASP .NET Core web app by "dotnet new mvc".
3. Open this project in VS Code --> Prompt to add the required assets --> Yes.
4. F1 --> Type an

[2020-02-26 12:48] ovirta opened #1663 "Allow user to select all containers by writing '*' asterisk in the command palette"
Small feature request to docker command palette. Please allow user to select all containers just by typing '*' in the command palette and press enter. Usually I am only using keyboard to execute tasks and it is not a big effort to click the select all check box but I always think this could be improved (a little).

![image](https://user-images.githubusercontent.com/4389140/75346012-73de8600-58a6-1

[2020-02-26 12:51] v-ruizh opened #1664 "Fail to run 'Docker .Net Core Attach (Preview)' configuration after customize it"
**OS:** Windows, Mac
**Build Version:** [20200225.1](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=15184&view=artifacts&type=publishedArtifacts)
**Regression:** Not a Regression (0.10.0)

**Repro Steps:**
1. Create a .NET Core Console app by "dotnet new mvc --name mvctest".
2. Open the project in VS Code --> Prompt to add the required assets --> Yes
3. F1 --> Type and select "D

[2020-02-26 12:52] umarcor commented on #1596
Sure!

[2020-02-26 13:00] v-ruizh opened #1665 "Fail to run 'Docker .Net Core Attach (Preview)' configuration on Mac"
**OS:** Mac
**Build Version:** [20200225.1](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=15184&view=artifacts&type=publishedArtifacts)
**.NET Core SDK:** 2.1.607
**Regression:** Not a Regression (0.10.0)

**Repro Steps:**
1. Create a .NET Core Console app by "dotnet new mvc --name mvctest".
2. Open the project in VS Code --> Prompt to add the required assets --> Yes
3. F1 -->

[2020-02-26 13:44] bwateratmsft commented on #1660
Probably a bug from the multi-select work, I'll take a look.

[2020-02-26 13:51] bwateratmsft commented on #1663
I think this would probably need to be changed in VSCode itself since we use their APIs for these picks. I'll investigate and move this item if needed.

[2020-02-26 13:53] bwateratmsft commented on #1661
My first guess at a glance is that the entrypoint failed because the binaries weren't built. If you don't build manually before step 4, this would occur.

[2020-02-26 13:54] #1643 closed

[2020-02-26 14:36] bwateratmsft commented on #1663
I wasn't able to find anything in the API that would enable us to do this. The closest things were flags to allow matching on description / detail, but that would not apply here. I'll create an issue in the VSCode repo to suggest this.

[2020-02-26 14:42] bwateratmsft commented on #1663
@ovirta before I file that, I did find something that would help. Upon opening the quick-pick, if you do `Shift` + `Tab`, it moves focus back to the "select all" checkbox adjacent the search box. Then, hitting `Space` checks that "select all" checkbox, thus checking all items in view--no mouse needed. Does that work for you? Or would you still like to see the `*` search text work?

[2020-02-26 14:57] bwateratmsft commented on #1647
I think the root cause of this particular bug is that calling `vscode.tasks.executeTask` on workspace-defined tasks fails, with that error. Our plan for #1474 was to only ever scaffold workspace folder tasks, which resolves this particular error, but still leaves another problem:

1. Create a workspace with multiple folders, each with a Dockerfile, both called "Dockerfile"
1. Add Docker build task

[2020-02-26 15:42] ovirta commented on #1663
Should have thought that myself. That’ll work nicely. Thanks a lot for swift reply. Closing.

[2020-02-26 15:42] #1663 closed

[2020-02-26 17:59] ravipal commented on #1662
Attach to windows container is not supported. But we should improve the experience by validating the target container OS and provide appropriate error message to user.

[2020-02-26 18:10] bwateratmsft commented on #1662
Is it not possible, period, or could users set up the debugger themselves and make it work?

[2020-02-26 18:23] #1660 closed

[2020-02-26 18:25] ebmarquez opened #1667 "Support for Moby"
Issue Type: <b>Bug</b>

When Moby's docker service is installed an running as demaon on Windows the extension does not reconize the service.

Extension version: 0.10.0
VS Code version: Code 1.42.1 (c47d83b293181d9be64f27ff093689e8e7aed054, 2020-02-11T14:45:59.656Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-670

[2020-02-26 18:30] ravipal commented on #1661
Since the compose up does the full build of dockerfile, the app should be built. The issue here is the default Program.cs generated by 'dotnet new console'  simply prints the "Hello World!" and exits. So the container is stopped. Please update the Program.cs to have a continuous loop so the program doesn't exit.

[2020-02-26 18:30] #1661 closed

[2020-02-26 18:37] ravipal commented on #1664
The customization is using the wrong container name. the container name created by the compose up should be something like testmvc_testmvc_1. User 'docker ps' to get the container name.

[2020-02-26 18:37] #1664 closed

[2020-02-26 18:49] bwateratmsft commented on #1667
What error message(s) do you see?

[2020-02-26 18:54] softchris opened #1668 "ACR Wizard fix, Please allow me to set --admin-enabled to true as part of creating a ACR through Docker Extension wizard"
I want to deploy an image:

To do that from scratch I need to
- Create an ACR through the tool
- Push local image to ACR
- Right-click image in ACR and choose to create a Web App

This won't work as --admin-enabled is false when you create it through the Docker Extension

Suggestion:
- Make --admin-enabled a question in the wizard and set it to true by default, maybe an info even that says it need

[2020-02-26 19:10] ebmarquez commented on #1667
I think I figured out what’s going on.  Moby requires elevated privileges to interact with ☹.  In a normal user session this is what you see, but with Admin you see below.
[cid:image001.png@01D5EC95.4AE0B3E0]

VsCode running as Administrator.
[cid:image003.png@01D5EC95.4AE0B3E0]

From: Brandon Waterloo [MSFT] <notifications@github.com>
Sent: Wednesday, February 26, 2020 10:50 AM
To: microsoft/vsco

[2020-02-26 19:10] karolz-ms commented on #1668
Admin user is generally not recommended, there are better options for authenticating to ACR https://docs.microsoft.com/en-us/azure/container-registry/container-registry-authentication#authentication-options

Also, admin user can be enabled after the ACR has been created https://docs.microsoft.com/en-us/azure/container-registry/container-registry-authentication#admin-account

Suggest "won't fix"

[2020-02-26 19:19] bwateratmsft commented on #1667
When Docker is set up on Windows, it creates a "docker-users" group and adds the current user by default; but if you're signed in as any other user you would need to elevate. Can you try adding your current user to that group and see if elevation is no longer required?

[2020-02-26 19:20] bwateratmsft commented on #1668
@karolz-ms Isn't admin user required to make our extension work?

[2020-02-26 19:39] philliphoff commented on #1665
@v-ruizh I'm not able to reproduce this on Mac using .NET Core 2.1 (2.1.16 in the container) nor with the latest .NET Core 3.1.  Does this reproduce every time for you?

[2020-02-26 19:40] ebmarquez commented on #1667
I can already see my domain account in that user group already.  Just to make sure, I attempted to add it again and I was denied.
[cid:image003.png@01D5EC99.93A23410]

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Brandon Waterloo [MSFT]<mailto:notifications@github.com>
Sent: Wednesday, February 26, 2020 11:19 AM
To: microsoft/vscode-docker<mailto:vscode-dock

[2020-02-26 19:59] ravipal commented on #1648
@imba-tjd, can you please try to login to the registry from command line and see if that works?

[2020-02-26 20:10] #1596 closed

[2020-02-26 20:16] bwateratmsft commented on #1667
The screenshots aren't coming through via email, when possible can you post them directly on GitHub?

[2020-02-26 20:31] karolz-ms commented on #1668
@bwateratmsft nope, I have an ACR that does not have admin user enabled and it works just fine

[2020-02-26 20:35] bwateratmsft commented on #1668
Ah, I see. It is needed for deploy app service though. https://github.com/microsoft/vscode-docker/blob/master/src/commands/registries/azure/deployImageToAzure.ts#L95

[2020-02-26 20:45] karolz-ms commented on #1668
@bwateratmsft What you showed here is probably a bug in our code--I would be surprised if an AAD service principal with pull authorization would not work equally well as admin user.

For more on service principal authN with ACR see https://docs.microsoft.com/en-us/azure/container-registry/container-registry-auth-kubernetes (disregard the K8s aspect and just note that all it is necessary to pull im

[2020-02-26 21:19] ebmarquez commented on #1667
![image](https://user-images.githubusercontent.com/15785107/75388911-923e8480-589a-11ea-9fb6-faf7d72b4ecb.png)

[2020-02-27 02:16] imba-tjd commented on #1648
On my host OS: I didn't install docker toolbox, so I can't use Docker CLI. But this VSC docker extension **can** connect to registry even other functions say `Failed to connect. Is Docker installed and running?`

On the server: I can login via docker CLI.

[2020-02-27 05:27] imba-tjd commented on #1648
I found an easier way to reproduce.

1. On Windows, setup a global proxy to a non-exist address. For example `0.0.0.0:12345`

    ![图片](https://user-images.githubusercontent.com/24759802/75414491-ad28fb80-5963-11ea-827b-b0c38bb53bcf.png)

2. Open this extension. You should see an **expected** error

    ![图片](https://user-images.githubusercontent.com/24759802/75414580-f8dba500-5963-11ea-8d87-0850f

[2020-02-27 06:34] v-dantch opened #1672 "Fail to run the attach launch configuration since the debuggerPath is provided"
**OS:** Windows
**Build Version:** [20200227.1](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=15381&view=results)

**Repro Steps:**
1. Create an ASP.NET Core web app --> Open this project in VS Code --> Add the required assets.
2. Add docker files to workspace with  --> ASP.NET Core--> Linux --> Include optional Docker Compose files --> Compose up the docker-compose.yml.
3. Add

[2020-02-27 07:02] budarin opened #1673 "How to move pane Images & Containers to Docker View on Windows?"
After install Docker VSCode extension on Windows I have 2 pane in main view instead of Docker's

How to move Images & Containers to the Docker View?

![изображение](https://user-images.githubusercontent.com/8055157/75420053-3599a300-5948-11ea-8ee5-c355119f1c2e.png)

![изображение](https://user-images.githubusercontent.com/8055157/75420108-506c1780-5948-11ea-8e82-924b64c91c1f.png)

[2020-02-27 12:21] softchris commented on #1668
Can we please have that as quick info on how to fix the ACR after you have created it then?. I mean on hover. Right now it says something like admin is not enabled, tough luck. I appreciate the link above but I couldn't find how to fix it so I'm really grateful you were able to provide the link above inside of VS Code, just to avoid the user feels like they got a "go fish" answer?

[2020-02-27 13:30] v-ruizh commented on #1665
This issue does not reproduce on the new build 20200227.1 with Linux image Ubuntu/Debian. But it also reproduces with Linux image 2.1-alpine. The error is "Process exited with code 127".

[2020-02-27 14:32] v-dantch opened #1674 "The "--rm -f" still appears on the command line when building a Dockerfile"
**OS**: Windows, Mac
**Build Version:** [20200227.1](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=15381&view=results)

**Repro Steps:**
1. Open the setting.json  --> Add the setting of "docker.commands.build" with the default value.
2. Remove "--rm -f" from the default value.
![image](https://user-images.githubusercontent.com/34729092/75454555-74206500-592a-11ea-9392-a66faf15f

[2020-02-27 15:02] bwateratmsft commented on #1648
Ahh, I understand what's happening here. By default the Docker extension runs as a UI extension--what this means is that, when connecting with the Remote tools, it's running on the client side rather than the server side. You can change that by installing it in the SSH session:

1. Add this to your settings.json:
[code]
2. Connect to the remote session
3. In the Extensions install view, install Do

[2020-02-27 15:03] bwateratmsft commented on #1648
Let us know if that works, thanks!

[2020-02-27 15:03] bwateratmsft commented on #1674
It looks like this is the official build task running, and therefore doesn't pick up the settings customization. @v-dantch can you confirm if this was a .NET Core or Node app with a tasks.json file generated? If so it is expected to run the task from tasks.json, instead of the settings-specified command line. You can try removing the `docker-build` tasks from tasks.json, and then try doing build a

[2020-02-27 15:04] v-dantch commented on #1661
Got it. Thanks for your share.

[2020-02-27 15:05] bwateratmsft commented on #1648
Let us know if that works, thanks!

[2020-02-27 15:06] bwateratmsft commented on #1674
It looks like this is the official build task running, and therefore doesn't pick up the settings customization. @v-dantch can you confirm if this was a .NET Core or Node app with a tasks.json file generated? If so it is expected to run the task from tasks.json, instead of the settings-specified command line. You can try removing the `docker-build` tasks from tasks.json, and then try doing build a

[2020-02-27 15:17] bwateratmsft commented on #1674
I see what's wrong, in my test case notes I'd incorrectly said to remove `--rm -f`, when in fact only `--rm` should be removed. The `-f` is needed before `"Dockerfile"`. I've corrected the notes.

Can you try the above two scenarios again? (for the first issue, try removing the `docker-build` tasks from tasks.json, and for the second, put the `-f` flag back in before `"Dockerfile"`). Thanks!

[2020-02-27 15:18] bwateratmsft commented on #1667
Thanks @ebmarquez, I'll close this one as external for now. Please let us know if you find any more issues when running with Moby!

[2020-02-27 15:18] #1667 closed

[2020-02-27 16:59] bwateratmsft commented on #869
I've spent a lot of time researching in the past few days. Unfortunately this is going to be extremely difficult, due to two main issues:

1. **No / incomplete [Registry V2 API](https://docs.docker.com/registry/spec/api/) support**
    - GitHub, Docker Hub lack the `_catalog` endpoint
    - GitLab has no V2 API support at all, but instead a custom API
    - ECR has their own API, but supposedly su

[2020-02-27 17:20] karolz-ms commented on #1668
https://docs.microsoft.com/en-us/azure/container-registry/container-registry-authentication#admin-account describes how to enable admin account after ACR is created. Does this help?

[2020-02-27 19:03] bwateratmsft commented on #1525
@Phanatic Do you know where we can create/track issues on the API?

[2020-02-27 19:34] ravipal commented on #1665
I tried both 3.1-alpine and 2.1-alpine from windows host machine and it works for me.
@v-ruizh can you please share the logs from output window? The latest build should log the output of the debugger installation on container. Also did you create the mvc project targeting 2.1 framework using  `-f netcoreapp2.1` ?

[2020-02-27 19:35] philliphoff commented on #1665
I'm seeing the "127" error on Mac.  I'm continuing to look into it.

[2020-02-27 19:48] philliphoff commented on #1665
I think it's a Mac vs Windows shell quoting issue.  This doesn't work (what we try to run):

[code]

Using single quotes works:

[code]

[2020-02-27 20:57] ravipal commented on #1672
My bad, the test case description was wrong. The path should point to the script file. Please use "debuggerPath": "/remote_debugger/vsdbg"

[2020-02-27 20:57] #1672 closed

[2020-02-27 21:53] #1665 closed

[2020-02-28 00:53] imba-tjd commented on #1648
Unfortunately it doesn't work.

![图片](https://user-images.githubusercontent.com/24759802/75500041-d9e21f00-5a06-11ea-99b2-3f16b47d75ab.png)

![图片](https://user-images.githubusercontent.com/24759802/75500290-7a384380-5a07-11ea-9dc9-f6a89bd095ea.png)

[2020-02-28 01:27] nebuk89 opened #1677 "Right click to view container in browser doesn't always work"
In some scenarios where I would expect right click to work for viewing a container such as the image docker/getting-started when this is running I get no right click option.

[2020-02-28 01:59] v-dantch commented on #1674
Verified again for a .NET Core Console web app: Remove the docker-build tasks in tasks.json --> Add "docker.commands.build" setting --> Remove the --rm from the default value --> Build the Dockerfile.
Then succeed to build and there doesn't display "--rm" in command line.
![image](https://user-images.githubusercontent.com/34729092/75503329-3a7f4680-598a-11ea-8422-bfb56d3c0377.png)

More Info:

1.

[2020-02-28 05:34] v-dantch commented on #1672
Thanks for your share. Verified again with "remote_debugger/vsdbg" for ASP.NET Core and .NET Core Console web apps and they both work well.

[2020-02-28 08:12] v-dantch opened #1678 "Pop up an error when installing Docker Extension v1.0.0 with VS Code v1.40.2"
**OS**: Windows
**Build Version**: [20200227.1](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=15381&view=results)

**Repro Steps:**
1. Install VS Code with 1.40.2 according to the version in extension/package.json file.
![image](https://user-images.githubusercontent.com/34729092/75522306-8cda5a80-59be-11ea-82fb-c1b8a40bf1fd.png)
2. Install the Docker Extension v1.0.0.

**Expect

[2020-02-28 10:30] v-ruizh opened #1679 "There is no docker-compose.debug.yml file in python project"
**OS:** Windows, Mac, Linux
**Build Version:** [20200227.10](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=15438&view=results)

**Repro Steps:**
1. Open a python project(General/Django/Flask) in VS Code.
2. F1->Docker: Add Docker Files to Workspace->include docker compose files.
3. Check if there is docker-compose.debug.yml file.

**Expect:**
There is a docker-compose.debug.yml

[2020-02-28 12:01] budarin commented on #1673
thanks - it works!

[2020-02-28 13:33] mvirnoche opened #1680 "Unable to delete image from remote registry (private registry)"
Does this occur consistently?
Repro steps:

1. Open Docker side bar icon
2. Navigate to registries --> connected registries
3. Locate image --> right click --> delete

Action: vscode-docker.registries.deleteImage
Error type: UNSUPPORTED
Error Message: The operation is unsupported.

Version: 0.10.0
OS: darwin
OS Release: 19.3.0
Product: Visual Studio Code
Product Version: 1.42.1
Language: en

<deta

[2020-02-28 13:57] bwateratmsft commented on #1674
Awesome! Glad it's working now.

[2020-02-28 13:57] #1674 closed

[2020-02-28 13:59] bwateratmsft commented on #1678
Thanks @v-dantch, we'll need to update the package.json to enforce 1.41 or up.

[2020-02-28 14:00] bwateratmsft commented on #1679
@haniamr This is intentional right?

[2020-02-28 14:01] bwateratmsft commented on #1680
@mvirnoche Are you sure your registry allows deleting images?

[2020-02-28 14:01] bwateratmsft commented on #1673
Awesome! Glad this is working.

[2020-02-28 14:02] bwateratmsft commented on #1677
@nebuk89 Can you share a screenshot? Looking at the code, the Open In Browser option will only show if the container is running--not stopped, paused, etc. Was that container running when you tried right-clicking?

[2020-02-28 14:04] bwateratmsft commented on #1648
Strange, we'll have to investigate why this is happening.

[2020-02-28 14:30] #1678 closed

[2020-02-28 15:36] bwateratmsft opened #1683 "Error rates: 405 not supported when deleting from registry"
We get a lot of bug reports on deleting images from registry failing when it's not allowed. This is not a bug; registries must be explicitly configured to allow deletes.

Examples: https://github.com/microsoft/vscode-docker/issues?q=vscode-docker.registries.deleteImage+unsupported

[2020-02-28 15:55] bwateratmsft opened #1684 "Error rates: 409 conflict on image delete"
When receiving the 409 conflict response when trying to delete an image, this is not a bug.

Related to #1529. A lot of example bugs here: https://github.com/microsoft/vscode-docker/issues?q=409+conflict

[2020-02-28 16:00] bwateratmsft commented on #1595
We should also handle login when possible/practical.

[2020-02-28 18:27] bwateratmsft commented on #1684
This is already fixed by #1570.

[2020-02-28 18:27] #1684 closed

[2020-02-28 19:08] bwateratmsft commented on #1679
According to Lubo / @BigMorty this is indeed by design.

[2020-02-28 19:08] #1679 closed

[2020-02-28 19:27] berndverst commented on #1668
@karolz-ms if the extension can facilitate the following admin-enabled won't be necessary

1. Create Managed Identity for Web App
2. Assign `ACR Pull` roll to that identity for the ACR in question.

Example for my own app and registry using the CLI:
[code]

[2020-02-28 19:33] berndverst commented on #1668
@karolz-ms by the way I think what @softchris is getting at is that you need to use the CLI to modify the ACR created through the extension, when the extension should allow it or guide the correct choices for this use case supported by the extension.

Of course using the CLI `az acr update -n <acrName> --admin-enabled true` is possible.

If you implement the AAD approach I outlined in my previous

[2020-02-28 19:54] berndverst opened #1685 "Deploy from ACR to App Service should use MSI with ACRPull role"
Many users attempt to enable the *admin mode* on ACR. This is bad for security. At the same time, newly created ACR instances don't provide App Service with the necessary access for deployment, even via the VS Docker extension. Many users wrongly believe enabled admin mode is the only way out.

This is a feature request specific to the deployment from ACR to App Service / Web App which will allow

[2020-02-28 19:55] berndverst commented on #1668
For better tracking I created #1685

[2020-02-28 20:59] karolz-ms commented on #1668
@berndverst thank you and yes, agreed. The manual admin mode enablement was just a workaround till we fix the ACR creation scenario comprehensively.

[2020-02-28 20:59] #1668 closed

[2020-03-02 08:24] shaktisinghr opened #1686 "docker-build custom task: The terminal process failed to launch (exit code: 1)"
Steps to reproduce:
Open folder (containing Dockerfile) from VS Code. This is a custom image, doesn't use .NET or Node.js.
Click Terminal -> Configure Default Build Task and create tasks.json from template
Setup custom docker-build task -
`{
    "version": "2.0.0",
    "tasks": [
        {
            "label": "Build image",
            "type": "docker-build",
            "dockerBuild": {

[2020-03-02 13:55] bwateratmsft commented on #1686
Thanks for the detailed info @shaktisinghr! I'll try out the scenario and see if I can repro. It is supposed to work for non-.NET/Node as long as tag, context, and dockerfile are present (which I see they are).

[2020-03-02 14:09] bwateratmsft commented on #1686
I am able to reproduce. There's two issues happening here.

1. The value for context is `${workspacefolder}`. VSCode is case-sensitive about these variables; it needs to be `${workspaceFolder}`. I looked briefly and did not find any issues about this in [their repo](https://github.com/microsoft/vscode); feel free to file one if you think it should be changed.
1. The value for dockerfile is `Docker

[2020-03-02 14:11] bwateratmsft commented on #1686
A third issue is that the error message in validation is not surfaced to the user. We should fix that as well.

[2020-03-02 14:58] bwateratmsft commented on #1648
Just to make sure I correctly understand your original scenario--

1. Docker daemon is running on a remote machine
1. Remote - SSH is used to connect VSCode to the remote machine, and Docker extension is installed in that remote session
1. Proxy is running on and configured for the _local_ machine

And the error is that when using remote, the HTTP requests are trying to use proxy settings (from th

[2020-03-02 15:09] bwateratmsft commented on #9
Related to #1648. Also, the request package is deprecated now, so we should look for a replacement.

[2020-03-02 15:26] imba-tjd commented on #1648
The previous one is correct.

[2020-03-02 15:32] bwateratmsft commented on #1648
@roblourens is this expected? We are using the [request](https://www.npmjs.com/package/request) library (which is deprecated and we need to use something else, but that's another issue). It seems like when connected via Remote - SSH, it is picking up proxy settings from the client side but executing the requests on the server side.

[2020-03-02 17:03] shaktisinghr commented on #1686
Thanks @bwateratmsft for the quick response. Unfortunately the workaround task definition also didn't work for me (same error).

[2020-03-02 17:08] bwateratmsft commented on #1686
Hm, strange. Can you share the output of a directory listing from the workspace folder? There might be another case-sensitivity issue happening...

[2020-03-02 17:30] karolz-ms commented on #1677
@nebuk89  I cannot reproduce this with VS Code 1.42.1 and Docker extension 0.10.0 running on Ubuntu. What version of VS Code/Docker extension are you using?

[2020-03-02 20:36] #1383 closed

[2020-03-02 20:57] #1612 closed

[2020-03-02 21:10] #1474 closed

[2020-03-02 21:10] #1647 closed

[2020-03-03 00:20] ucheNkadiCode opened #1692 "dockerServerReadyAction should have default pattern attribute"
As the user is using IntelliSense in the launch.json, when the user is inputting "pattern", there is no starting point given for the user.

Developers will often have their own custom settings for their server ready messages so I am proposing that Intellisense defaults to a more clear regex pattern such as "Starting development server at (https?://\\S+|[0-9]+)"

Attaching @haniamr

[2020-03-03 00:49] dbreshears opened #1693 "docker: Error response from daemon: mkdir C:\Program Files\dotnet\sdk\NuGetFallbackFolder: Access is denied."
Extension assumes that "C:\Program Files\dotnet\sdk\NuGetFallbackFolder" exists and asks to volume mount.   I am uncertain when this folder is actually created but I don't have it.  I have dotnet sdk 3.1 + dotnet sdk 5.0 Preview 1 installed and ".Net Core Launch (web)" works

**docker: Error response from daemon: mkdir C:\Program Files\dotnet\sdk\NuGetFallbackFolder: Access is denied.**

[2020-03-03 00:53] bwateratmsft commented on #1693
Should be easy to validate that the folder exists before doing a volume mount. I think probably the right place for it is our `addVolumeWithoutConflicts` (spelling?) method.

[2020-03-03 01:00] bwateratmsft commented on #1462
I think this is fixed by #1639. I will investigate in the morning and confirm; if so will close this issue.

[2020-03-03 04:47] shaktisinghr commented on #1686
Here's the directory listing of the folder -
[code]

[2020-03-03 11:37] v-ruizh opened #1694 "Fail to debug Python project on Mac"
**OS:** Mac
**Build Version:** [1.0.0](\\haniamr-dev\VSCode\vscode-docker-1.0.0.vsix)

**Repro Steps:**
1. Open a python project(General/Django/Flask) in VS Code.
2. F1->Docker: Add Docker Files to Workspace->Python->include docker compose files.
3. F5.

**Expect:**
Debug Python project successfully without any error.

**Actual:**
Fail to debug Python project. (Share the path can't fix this issue)

[2020-03-03 14:12] bwateratmsft commented on #1686
Well, that definitely looks correct. Once I get PR #1688 checked in, I can produce a nightly build. This version would provide a lot more information on what is going wrong. Would you be able to install a nightly build and try it out?

[2020-03-03 14:15] bwateratmsft commented on #1694
@haniamr this might just be a test case/doc issue. For .NET Core we have a similar thing where some extra folders must be explicitly shared.

[2020-03-03 14:36] bwateratmsft commented on #1462
Yes, it looks like this is the same issue as those fixed by #1639. All of the reports here involve workspaces, where we know things were going wrong. #1639 ensures we only ever scaffold workspace folder tasks.

[2020-03-03 14:36] #1462 closed

[2020-03-03 15:15] bwateratmsft opened #1695 "The docker-compose.debug.yml template for a default ASP.NET Core web app does not work"
The docker-compose.debug.yml files created do not deal with user secret mapping, but do still set ASPNETCORE_URLS including an HTTPS endpoint. Because of this, compose-up will start the container but it will immediately exit.

The exception in the Docker log shows that it could not find the developer certificate:
`System.InvalidOperationException: Unable to configure HTTPS endpoint. No server cert

[2020-03-03 15:17] bwateratmsft opened #1696 "The .NET Core docker-compose.debug.yml template maps the debugger but the attach config still installs it anyway"
When compose-up'ing the docker-compose.debug.yml, it will map vsdbg into the container. However, it still gets installed by the attach configuration which is not necessary. It also pollutes the directory on the host, because it is mapped with `rw` permissions.

[2020-03-03 15:17] bwateratmsft opened #1697 "Breakpoints are not hit in .NET Core docker-compose attach scenario"
(Title)

[2020-03-03 15:35] bwateratmsft opened #1698 "Invalid image name for Python general docker-compose.yml"
1. Create a folder containing at least one capitalized letter
1. Add a Python file
1. `Add Docker Files to Workspace`, use Python: General, yes to compose
1. The docker-compose.yml will choose an image name that is invalid (it includes that capital letter). It is also inconsistent with the image name for the task.

Note: The tasks in tasks.json do NOT choose an invalid image name.

[2020-03-03 15:36] bwateratmsft opened #1699 ".NET Core image name in docker-compose.yml not consistent with tasks.json image name"
(Title)

I created a folder called `NetTest1.0`, the image name chosen by tasks.json was not the same as the one chosen by docker-compose.yml.

[2020-03-03 15:41] bwateratmsft commented on #1699
The solution for this is probably the same as solution for #1698. Both of these use service name as the image name; rather they should be calling `getValidImageName`. `getValidImageName` could be adapted to take an optional suggested name as input.

[2020-03-03 15:41] bwateratmsft commented on #1698
The solution for this is probably the same as solution for #1699. Both of these use service name as the image name; rather they should be calling `getValidImageName`. `getValidImageName` could be adapted to take an optional suggested name as input.

[2020-03-03 15:52] bwateratmsft opened #1700 "Node Docker launch fails if there's no dependencies"
I realize this is an incredibly unlikely scenario, but if there's no dependencies, the Node debug launch fails. No `node_modules` folder gets created in this case.
[code]

[2020-03-03 15:57] bwateratmsft commented on #1697
My gut is this is a source-mapping issue? Not certain.

[2020-03-03 17:52] karolz-ms commented on #1677
@nebuk89 I also tried on Windows and I am getting the following error when VS Code attempts to start the container:
[code]

The command VS Code is using to run the container is
[code]
this run command is created based on what ports are exposed by the image.

Suggestions:
1. Use higher-range port for serving the content from this container.
1. Put the tutorial on https://docs.docker.com ☺️

So far

[2020-03-03 18:52] #1686 closed

[2020-03-03 19:00] ravipal commented on #1695
Yes, the container fails to start when it has https endpoint is provided.
The simpler fix is to not add https endpoint and default scaffold to include the following
- ASPNETCORE_URLS=http://+:80

[2020-03-03 21:12] tobioge1 opened #1702 "how do i deploy a docker image on visual studio code to an app service on azure. I am getting the following errors when i try. Please advice"
Does this occur consistently?
Repro steps:

1.
2.

Action: vscode-docker.registries.deployImageToAzure
Error type: NoResouceFoundError
Error Message: No matching resources found.

Version: 0.10.0
OS: win32
OS Release: 10.0.18362
Product: Visual Studio Code
Product Version: 1.42.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-03-03 21:35] chrmarti commented on #1217
@bwateratmsft The change to fix #1596 seems to keep `--rm` in (https://github.com/microsoft/vscode-docker/pull/1649/files).

[2020-03-03 21:46] bwateratmsft commented on #1217
@chrmarti Yes; by design. But it's trivial to customize now.

[2020-03-03 21:58] bwateratmsft commented on #1697
@ravipal was correct, it was a debug vs. release thing. The breakpoint I had set was in a place where it got optimized away. When I changed to debug build, breakpoints would be hit.

[2020-03-03 21:58] #1697 closed

[2020-03-03 22:01] bwateratmsft commented on #1702
@EricJizbaMSFT The `NoResouceFoundError` [sic] is in vscode-azureextensionui. Do you know why it would be getting thrown here?

[2020-03-03 22:05] EricJizbaMSFT commented on #1702
It's a generic error thrown when showTreeItemPicker doesn't find a matching item. Ravi did some work related to that here for other Docker scenarios: https://github.com/microsoft/vscode-docker/pull/1565

[2020-03-03 22:09] #1700 closed

[2020-03-03 22:20] bwateratmsft commented on #1700
Per discussion, won't-fix unless we get user feedback.

[2020-03-03 22:45] bwateratmsft commented on #1686
#1688 is submitted. Can you try following the instructions for #1408 to install the nightly build, and try?

[2020-03-03 23:07] #1634 closed

[2020-03-04 04:51] shaktisinghr commented on #1686
Thanks @bwateratmsft, on the nightly build the Docker image builds successfully with the workaround (using ${workspaceFolder}/Dockerfile). However, using just "dockerfile": "Dockerfile" results in the same error as earlier - The terminal process failed to launch (exit code: 1).

[2020-03-04 10:03] dvoit opened #1709 "VSCode Docker Run and Debug shows exit status of 1"
Does this occur consistently?  Yes
Repro steps:

1. Select the "RUN AND DEBUG" Configuration option from the select list.
2. Click the Run icon just to the left of the "RUN AND DEBUG" select list.

This encompasses step 5 (Start debugging) listed underneath the "Debug in container" section
https://code.visualstudio.com/docs/containers/quickstart-aspnet-core

After clicking the run icon, I'm prompt

[2020-03-04 13:02] bwateratmsft commented on #1709
Thanks @dvoit. Is there any output in the Tasks window for .NET build / Docker build / Docker launch? Is there anything in the Output tab > Docker?

[2020-03-04 13:14] bwateratmsft commented on #1696
Fixed by #1704

[2020-03-04 13:14] #1696 closed

[2020-03-04 13:15] bwateratmsft commented on #1695
Fixed by #1705

[2020-03-04 13:15] #1695 closed

[2020-03-04 13:15] bwateratmsft commented on #1698
Fixed by #1703

[2020-03-04 13:15] #1698 closed

[2020-03-04 13:15] bwateratmsft commented on #1699
Fixed by #1703

[2020-03-04 13:16] bwateratmsft commented on #1694
Fixed by #1703

[2020-03-04 13:16] #1694 closed

[2020-03-04 13:45] v-ruizh opened #1710 "Fail to debug Python project on Linux"
**OS:** Linux
**Build Version:** [20200304.7](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=15718&view=results)

**Repro Steps:**
1. Open a Python project(General/Django/Flask) in VS Code.
2. F1->Docker: Add Docker Files to Workspace->Python->include docker compose files.
3. F5.

**Expect:**
Debug Python project successfully without any error.

**Actual:**
Fail to debug Python

[2020-03-04 13:53] v-ruizh opened #1711 "Fail to execute "Compose up" action for docker-compose.debug.yml"
**OS:** Mac/Linux
**Build Version:** [20200304.7](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=15718&view=results)

**Repro Steps:**
1. Open a .NET Core MVC/Console project in VS Code.
2. F1->Docker: Add Docker Files to Workspace->.NET Core->include docker compose files.
3. Right click docker-compose.debug.yml and execute "Compose up" action.

**Expect:**
Execute "Compose up"

[2020-03-04 13:54] bwateratmsft commented on #1686
Ugh, I'm sorry @shaktisinghr, the nightly build happened too early yesterday and missed my changes. I should have manually triggered a build. Can you try once more with the latest nightly?

[2020-03-04 13:59] bwateratmsft commented on #1711
Scaffolding creates a backslash but should create a forward slash.

[2020-03-04 14:18] bwateratmsft commented on #1699
Reactivating for 1.1. When I tried with a folder called "NetCore1.0", the tasks created image "netcore10", but the compose file scaffolded had "netcore1".

[2020-03-04 14:22] bwateratmsft commented on #1699
Investigating, I think this will only happen if there is a . in the folder name. `dotnet new` creates a csproj with the folder's name, e.g. "NetCore1.0.csproj". The compose scaffolding code gets the base name of that, which is "NetCore1", then passes that to `getValidImageName`. In contrast, the tasks gets the _folder name_, which is "NetCore1.0", and passes that to `getValidImageName`. This defin

[2020-03-04 14:23] v-ruizh opened #1713 "The dialog still prompt to install debugger when debugging MVC project at the second time"
**OS:** Windows/Mac/Linux
**Build Version:** [20200304.7](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=15718&view=results)

**Repro Steps:**
1. Create a .NET Core mvc app by "dotnet new mvc --name mvctest".
2. Open the project in VS Code --> Prompt to add the required assets --> Yes
3. F1 --> Type and select "Docker: Add Docker Files to Workspace" --> ASP.NET Core --> Linux --

[2020-03-04 14:23] bwateratmsft commented on #1710
@v-ruizh were any other containers running at the time that could have been holding port 5678?

[2020-03-04 14:27] bwateratmsft commented on #1713
This should be fixed by #1704 (which was not present yet in the tested build), but only as long as that same container is running. Upon compose down / compose up, the new container will not have the debugger installed, so it will have to be reinstalled again.

@ravipal do you want to keep this issue open to investigate if there's any way we can improve the latter part of this (where compose down +

[2020-03-04 14:36] v-ruizh commented on #1710
@bwateratmsft I remove all running container and then debug again. There is no error in logs. But another error dialog pops up. (This issue also reproduces on Windows and Mac, but it's unstable)
![image](https://user-images.githubusercontent.com/45614674/75889776-6017be80-5e68-11ea-85a7-8b3475866dd7.png)

[2020-03-04 14:50] v-ruizh opened #1714 "Fail to run "python manage.py migrate" in Django Python project"
**OS:** Mac
**Build Version:** [20200304.7](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=15718&view=results)

**Repro Steps:**
1. Open a Python project (Django) in VS Code.
2. F1->Docker: Add Docker Files to Workspace->Python->include docker compose files.
3. F5, an error log shows during debugging.
![image](https://user-images.githubusercontent.com/45614674/75890789-cfda7900-

[2020-03-04 15:00] v-ruizh opened #1715 "There is an error in "docker-run:debug" logs when debugging a .NET Core MVC project"
**OS:** Windows/Mac
**Build Version:** [20200304.7](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=15718&view=results)

**Repro Steps:**
1. Open a .NET Core MVC project in VS Code.
2. F1->Docker: Add Docker Files to Workspace->ASP.NET Core->include docker compose files.
3. Select the Docker launch profile and F5.
4. Check the docker-run:debug logs.

**Expect:**
There is no error

[2020-03-04 15:01] #1715 closed

[2020-03-04 15:13] #1323 closed

[2020-03-04 15:13] #1683 closed

[2020-03-04 16:14] kautkata commented on #869
I stumbled upon this in our company. Our setup is basic docker registry instance as container via image `registry:2` image id `708bc6af7e5e` while Oauth2  authentication is handled by second container via `cesanta/docker_auth:latest` image id `dd1aae63f028` with some kind of OpenLdap in background.

Most of tools which I have used can handle this combination well as it implements basic Oauth2 flow

[2020-03-04 17:05] bwateratmsft commented on #869
@kautkata I'd love to learn more about your setup and see if we can get support added. `registry:2` OAuth is a starting point that would help a lot of folks.

Do you have any setup guides on what you have? When doing `docker login` from the command line, what do you use for username/password? I've seen options of actual password, PAT, OAuth token, and more...

[2020-03-04 17:43] ravipal commented on #1713
I will open a separate work item to improve this. This particular test should pass with the latest build.

[2020-03-04 17:43] #1713 closed

[2020-03-04 17:51] ravipal opened #1717 "Provide a way to persist user option to install debugger on container"
During attach to .Net Core container, we ask user permission to install the debugger on the container. As long as the container has the debugger installed we don't ask again. So this should address most of the cases.
But if user attaches to another container (say compose down and compose up), it wouldn't have debugger and we prompt user for permission.
We should provide a way to persist user optio

[2020-03-04 17:54] bwateratmsft commented on #1717
Perhaps the best option is to just map `~/.vsdbg`, which is what docker-compose.debug.yml is doing. We should also add code to install the debuggers in case they never execute the single-Dockerfile debugging (and thus don't have that folder populated).

For users who want to avoid the prompts every time, they should compose-up with the debug.yml.

[2020-03-04 18:12] #1711 closed

[2020-03-04 19:22] roblourens commented on #1648
@chrmarti?

[2020-03-04 19:40] BigMorty opened #1718 "Add ability to deploy an image in ACR (or other registry?) to Azure Container Instances (ACI)"
Similar to how I can click on an image in ACR and deploy it to Azure App Service, I would like to be able to deploy it to ACI as well.

[2020-03-04 23:10] dbreshears opened #1720 "Open in Browser fails with new ASP.NET Core project when using Docker-Compose Up"
Looks like it is attempting to navigate to https://localhost:<port> based on 443 ports in the Docker compose files and failing due to asp.net core not working with https in the container yet.     A workaround for now is to remove -443 from the ports section of the compose files

1) dotnet new mvc
2) Docker: Add Docker Files to Workspace...  (choose yes to add compose files)
3) right click the dock

[2020-03-04 23:35] haniamr commented on #1710
@v-ruizh do you have a repro environment that I can look at?
I couldn't repro this on an Ubuntu machine, what Linux distro are you using?

A couple of more questions:
- Is there anything printed in the debug console?
- While the container is running, can you do "docker logs {containerId}" and share if there's any output?
- While the container is running, do the following and share the output:

[2020-03-04 23:42] haniamr commented on #1714
This is kind of out-of-scope given that it's not really something the tooling controls/generates. However, I think the issue is that you installed django using a version of Python that is different than the one you have in the path. Can you try execute "python3 manage.py migrate"?

Here's the StackOverflow link for more info: https://stackoverflow.com/questions/42611593/how-to-solve-syntaxerror-on

[2020-03-05 06:30] kautkata commented on #869
@bwateratmsft Here you go.

Registry and auth endpoint configuration files are modified (you know I'm not supposed to expose our internal details and stuff) but in general they still should work. TLS certificates are pretty basic, they where generated via openssl command line tools.

From docker container perspective it looks like this:
[dockerps.txt](https://github.com/microsoft/vscode-docker/fil

[2020-03-05 08:37] shaktisinghr commented on #1686
Thanks @bwateratmsft , the latest nightly works without any workaround.
`"dockerBuild": {
                "context": "${workspaceFolder}",
                "dockerfile": "Dockerfile",
            },`

[2020-03-05 08:48] chrmarti commented on #1648
Filed https://github.com/microsoft/vscode/issues/92064 to track on our side.

[2020-03-05 09:09] v-ruizh commented on #1714
@haniamr Thanks for your guidance. I can execute "python3 manage.py migrate" successfully on Mac.

[2020-03-05 09:09] #1714 closed

[2020-03-05 14:17] bwateratmsft commented on #869
This is great info, thanks a ton @kautkata. I'll be spending some time in the 1.1 release looking into this to see what we can do.

[2020-03-05 14:18] bwateratmsft commented on #1686
Awesome! Glad to hear it.

[2020-03-05 15:02] bwateratmsft commented on #1648
Thanks @chrmarti. I'll leave this item open as a tracking issue for now.

[2020-03-05 15:49] #1693 closed

[2020-03-05 15:50] bwateratmsft commented on #1720
Fixed by #1721, but it also needs to be cherry-picked to master.

[2020-03-05 16:10] bwateratmsft commented on #1702
@tobioge1 Due to a bug it is necessary to add the Azure registry provider, so that it appears in the Docker explorer tab. Run command `Docker Registries: Connect Registry...`. It will prompt to choose a provider for the registry, choose "Azure". Follow through any remaining prompts that occur. After that, it should allow you to go through with the `Docker Registries: Deploy Image to Azure App Serv

[2020-03-05 16:29] bwateratmsft commented on #1702
@EricJizbaMSFT I found one possible fix, I wanted to run it past you. The bug is occurring because of this line, combined with the temp AzureAccountTreeItem created by the command: https://github.com/microsoft/vscode-azuretools/blob/5cac7faf9bf24b7c911dee4aa49e8e74fbcffd9f/ui/src/treeDataProvider/AzureAccountTreeItemBase.ts#L139

The command creates its own AzureAccountTreeItem, because the Azure

[2020-03-05 17:08] bwateratmsft commented on #1513
Marking as a dupe of #1683

[2020-03-05 17:08] #1513 closed

[2020-03-05 17:13] #1720 closed

[2020-03-05 18:24] bwateratmsft commented on #1207
Looks like the same root cause as #1702.

[2020-03-05 18:33] ravipal opened #1724 "ASP .NET Core docker compose is not setting up https endpoint"
The default scaffolding of docker compose for ASP .Net Core isn't setting up https endpoint.

[2020-03-05 18:34] bwateratmsft commented on #1724
We should make sure we use as much of the same code path as possible between single and compose, since this is implemented already for single.

[2020-03-05 18:45] EricJizbaMSFT commented on #1702
`showTreeItemPicker` supports passing in a `startingTreeItem`. If you pass in the account tree item as the `startingTreeItem`, would that also "keep the RegistriesTreeItem out of the picture"?

[2020-03-05 18:50] bwateratmsft commented on #1702
Yes, that works as well. I like your idea better. :smile:

[2020-03-05 18:54] bwateratmsft commented on #1702
Created https://github.com/microsoft/vscode-azuretools/pull/667.

[2020-03-05 19:10] karolz-ms commented on #1710
Just tried on Ubuntu 18.04 machine via Remote-SSH and it works...  😕

BTW It is pretty cool that the server runs remotely, but my browser still can reach it via a localhost port

[2020-03-05 19:23] bwateratmsft commented on #1702
Wasn't meant to auto-close yet.

[2020-03-05 19:28] bwateratmsft commented on #1710
@karolz-ms That had us confused for a bit until we realized that it's some VSCode magic, since we use their `openExternal` API. They're basically making a "proxy" locally.

[2020-03-05 23:55] ravipal opened #1727 "New version of GetVsDbg.sh doesn't need unzip. So skip unzip installation"
New version of GetVsDbg.sh doesn't need unzip. So skip unzip installation on non-alpine flavors

[2020-03-06 01:21] ravipal opened #1728 "'Attach Shell' command on windows container fails"
The default ASP .Net core docker file uses this image 'mcr.microsoft.com/dotnet/core/aspnet:3.1-nanoserver-190'.
Build this image and start the container. Then 'Attach Shell' on this container and it will try to user powershell and fails. I think we should default it to cmd, when attaching to windows container.

Terminal:
PS D:\vscode\testcases\webWindows> docker exec -it f72badea03bf652029c94f716

[2020-03-06 13:49] bwateratmsft commented on #1728
I'll check this out today.

[2020-03-06 13:58] #1702 closed

[2020-03-06 14:32] bwateratmsft commented on #1653
The docs have been merged.

[2020-03-06 14:32] #1653 closed

[2020-03-06 14:39] bwateratmsft commented on #1728
Seems this isn't a regression (at least in our code); we have always used PowerShell as our Windows attach command. Let's decide in triage today if we want to take this for 1.0.0. I'll prepare a fix either way.

[2020-03-06 15:18] Omega4616 opened #1732 "Issue generated from visual studio code"
Does this occur consistently?
Repro steps:

1.
2.

Action: vscode-docker.registries.azure.buildImage
Error type: ESOCKETTIMEDOUT
Error Message: ESOCKETTIMEDOUT

Version: 0.10.0
OS: win32
OS Release: 10.0.18362
Product: Visual Studio Code
Product Version: 1.42.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-03-06 15:18] #1732 closed

[2020-03-06 18:09] #1727 closed

[2020-03-06 18:12] #1728 closed

[2020-03-06 19:06] bwateratmsft opened #1735 ".NET Core Debug fails on Windows containers"
Debugging .NET Core on Windows containers is failing. The error is in docker-run-execute, `docker: Error response from daemon: invalid volume specification: 'd:\Sandbox\NetWindows:/src:rw'.`

![image](https://user-images.githubusercontent.com/36966225/76114246-a75e9600-5fb3-11ea-8298-6c1ac4744380.png)

The issue is that `"dockerRun": { "os": "Windows" }` is missing, probably since 0.10.0.

**Worka

[2020-03-06 19:41] #1735 closed

[2020-03-06 20:26] #1583 closed

[2020-03-06 21:59] bwateratmsft opened #1737 "Revisit test infrastructure"
Our tests haven't gotten much TLC lately and need some attention. The infrastructure is dated and many of the tests are noisy. Let's see what we can do.

Additionally, the [vscode](https://www.npmjs.com/package/vscode) NPM package for testing is deprecated, and replaced by [vscode-test](https://www.npmjs.com/package/vscode-test). We also need a newer version of mocha.

[2020-03-07 00:39] ravipal commented on #1662
We don't support windows out of the box. But user can still debug with the below steps.
1. Run 'Add Docker Files to Workspace' to create the docker-compose.debug.yml
2. Add the "Docker .NET Core Attach (Preview)" to launch.json
3. Download (https://aka.ms/getvsdbgps1) and install the vsdbg on the host machine at ~/.vsdbg
4 Update the launch config "Docker .NET Core Attach (Preview)" by adding debu

[2020-03-07 21:34] notpushkin commented on #1710
Sorry for hijacking this issue, but how can one get the nightly builds? Or the only way is to build it by hand?

[2020-03-09 12:03] v-ruizh opened #1739 "Fail to run 'Docker .Net Core Attach (Preview)' configuration with alpine image on Linux"
**OS:** Linux (Ubuntu 18.04)
**Build Version:** [20200306.2](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=15959&view=artifacts&type=publishedArtifacts)

**Repro Steps:**
1. Open a .NET Core Console project in VS Code --> Prompt to add the required assets --> Yes
2. F1 --> Type and select "Docker: Add Docker Files to Workspace" --> .NET Core Console --> Linux --> Include option

[2020-03-09 12:08] v-dantch opened #1740 "[Suggestion] Add a "back" icon when adding docker files to workspace"
**OS:** Windows
**Build Version**: [20200306.2](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=15959&view=artifacts&type=publishedArtifacts)
**Regression:** Not a Regression

**Repro Steps:**
1. Create a .NET Core application  --> Open this application in VS Code.
2. F1 --> Type and select "Docker : Add Docker Files to Workspace".

**Actual:**
There is no way to back the previou

[2020-03-09 12:18] v-ruizh opened #1741 "The "unexpected operator" log occurs during installing the latest .NET Core debugger"
**OS:** All
**Build Version:** [20200306.2](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=15959&view=artifacts&type=publishedArtifacts)

**Repro Steps:**
1. Open a .NET Core MVC project in VS Code --> Prompt to add the required assets --> Yes
2. F1 --> Type and select "Docker: Add Docker Files to Workspace" --> ASP.NET Core --> Linux --> Include optional Docker Compose files.
3

[2020-03-09 14:11] bwateratmsft commented on #1741
This might be emitted by the vsdbg script itself.

[2020-03-09 15:19] bwateratmsft commented on #1741
I looked and it's not from vsdbg, but rather because we have `if [ $ID == alpine ]` in there. Evidently sh doesn't like `==`, and would prefer `=`.

[2020-03-09 15:24] bwateratmsft commented on #1741
Ironically, sh on Alpine is just fine with `==` so the script overall still works on Alpine. So, we do not need to fix this for 1.0.0. I tested with `=` and it seems fine so I'll make that change.

[2020-03-09 15:57] #1741 closed

[2020-03-09 15:58] bwateratmsft commented on #1740
I'll mark this as a dupe of #1642 since that also mentions the ability to go back.

[2020-03-09 15:58] #1740 closed

[2020-03-09 16:14] bwateratmsft commented on #1739
I was not able to reproduce when I tried this out on Ubuntu 19.04. I tried two scenarios:

1. _Before_ ever running single-Dockerfile F5 and getting the debugger installed locally
1. Delete the debugger installed from container (to avoid another bug), then run single-Dockerfile F5 to get a debugger installed locally, and then compose up + attach.

@v-ruizh Can you try again and see if this still o

[2020-03-09 16:20] bwateratmsft opened #1743 "Fail to acquire debugger for single-Dockerfile debugging after compose up debugging"
**Repro steps:**

1. Completely remove any existing `~/.vsdbg` folder (to simulate first time run)
1. Create a .NET Core project and add Docker files, including compose
1. Compose up docker-compose**.debug**.yml. This maps `~/.vsdbg` to `/remote_debugger`.
1. Run the "Docker .NET Core Attach (Preview)" launch config. It will prompt to install debugger, allow it to do so.
1. Compose down. The debug

[2020-03-09 16:28] richarddavenport opened #1744 "Cannot debug aspnet core projects"
Repro steps:

1. Create a new web api project (cli): `dotnet new webapi`
2. Make sure OmniSharp server is running and run (command palette): `.NET: Generate Assets for Build and Debug`
3. Run (command palette): `Docker: Add Docker Files to Workspace`
4. Select `ASP.NET Core`
5. Select `Linux`
6. Keep default ports: `80, 443`
7. Start debugging with the newly created `Docker .NET Core Launch` launc

[2020-03-09 16:29] ravipal commented on #1739
@bwateratmsft, The problem seems to be with Alpine image, If you have the Linux machine can you try with alpine image?

[2020-03-09 16:29] bwateratmsft commented on #1744
@richarddavenport Does it show anything in the terminal window?

[2020-03-09 16:29] bwateratmsft commented on #1739
@ravipal It was with an Alpine image, didn't have any problem.

[2020-03-09 16:31] ravipal commented on #1739
Got it. When you said, Ubuntu I misunderstood that you were using Ubuntu image.

[2020-03-09 16:33] richarddavenport commented on #1744
I realize it says `Version 0.9.0`, but I had tried to downgrade to see if it fixed the issue, it did not. I'm actually running 0.10.0.

No, I don't see anything in the terminal window.

Here is what I see in the Output panel:
<img width="671" alt="Screen Shot 2020-03-09 at 11 31 39 AM" src="https://user-images.githubusercontent.com/3596012/76235805-a159f680-61f9-11ea-8309-0c580d368257.png">

[2020-03-09 16:35] richarddavenport commented on #1744
Sorry, I was able to get it to come up.
[code]

[2020-03-09 16:38] bwateratmsft commented on #1744
We're aware of that warning (#1715) but it doesn't actually prevent debugging. Is there anything in the debug console?

[2020-03-09 16:50] richarddavenport commented on #1744
Okay, so I figured it out, but only because I tried without docker... which is not what I normally do. I tried debugging as a regular .net app. It said my dev-cert was in a weird state.

I had to run:
`dotnet dev-certs https --clean`

After that succeeded I ran
`dotnet dev-certs https`

I had to enter my password several times and it worked.
I then tried debugging in docker again and it prompted w

[2020-03-09 16:52] bwateratmsft commented on #1744
I guess it could be. I'll investigate to see. That exit code 9 might have come from `dotnet dev-certs`.

[2020-03-09 16:52] richarddavenport commented on #1744
To be clear, I did not see anything in the Debug Console.
Thanks!

[2020-03-09 16:54] richarddavenport commented on #1744
One thing I remember now... I had to change my domain password on my mac... That is most likely the beginning of my issues.

[2020-03-09 16:55] bwateratmsft commented on #1744
Looks like that's what was happening. There's a new-ish failure mode in the `dev-certs` tool: https://github.com/dotnet/aspnetcore/blob/master/src/Tools/dotnet-dev-certs/src/Program.cs#L165

Unfortunately our code is not emitting the above error message anywhere, so that's definitely something we should improve.

[2020-03-09 17:00] bwateratmsft commented on #1593
Hey @cecilemuller , the command customization is now available in [Docker extension version 1.0.0](https://marketplace.visualstudio.com/items?itemName=ms-azuretools.vscode-docker).

[2020-03-09 17:01] bwateratmsft commented on #1492
The fix for this is now available in [Docker extension version 1.0.0](https://marketplace.visualstudio.com/items?itemName=ms-azuretools.vscode-docker).

[2020-03-09 17:01] bwateratmsft commented on #1458
We have improved the warnings for this in [Docker extension version 1.0.0](https://marketplace.visualstudio.com/items?itemName=ms-azuretools.vscode-docker).

[2020-03-09 17:02] bwateratmsft commented on #1453
Multi-select is now available for many commands in [Docker extension version 1.0.0](https://marketplace.visualstudio.com/items?itemName=ms-azuretools.vscode-docker).

[2020-03-09 17:02] bwateratmsft commented on #1122
Hey @johnpapa, this is now available in [Docker extension version 1.0.0](https://marketplace.visualstudio.com/items?itemName=ms-azuretools.vscode-docker).

[2020-03-09 17:02] bwateratmsft commented on #569
Hey @johnmcdowall , this is now available in [Docker extension version 1.0.0](https://marketplace.visualstudio.com/items?itemName=ms-azuretools.vscode-docker).

[2020-03-09 17:03] bwateratmsft commented on #370
Hey @Sub-Xaero, the fix is now available in [Docker extension version 1.0.0](https://marketplace.visualstudio.com/items?itemName=ms-azuretools.vscode-docker).

[2020-03-09 17:03] bwateratmsft commented on #331
Multi-select is now available in [Docker extension version 1.0.0](https://marketplace.visualstudio.com/items?itemName=ms-azuretools.vscode-docker).

[2020-03-09 17:03] bwateratmsft commented on #223
Hey @millimoose , this is now available in [Docker extension version 1.0.0](https://marketplace.visualstudio.com/items?itemName=ms-azuretools.vscode-docker).

[2020-03-09 17:16] bwateratmsft commented on #1744
It's possible that #1689 fixes this too...

[2020-03-09 17:16] johnpapa commented on #1122
Thank you

[2020-03-09 17:27] bwateratmsft commented on #1653
https://code.visualstudio.com/docs/containers/reference#_command-customization

[2020-03-09 17:52] Sub-Xaero commented on #370
@bwateratmsft Amazing! Thank you! This is such a quality of life fix.

[2020-03-09 20:37] wlsc commented on #331
big 👍 and thanks to everyone who participated to make this happen!  🎉 🎈 🎈 🎈

[2020-03-09 20:39] bwateratmsft commented on #1743
We talked about it; probably the simplest solution is to inspect the container, if `/remote_debugger` is a mapped volume we will not install vsdbg. If it's also not present, we should show a clear error.

[2020-03-10 02:05] BigMorty commented on #331
Thanks @wlsc, the team worked hard on this release and we appreciate your nice comments! 😊

[2020-03-10 11:30] cecilemuller commented on #1593
Thanks @bwateratmsft

[2020-03-10 17:24] #1744 closed

[2020-03-10 18:57] fathom-matthew commented on #869
+1, GCR support would be very nice to have

[2020-03-11 09:26] v-ruizh commented on #1739
@bwateratmsft I created a new Ubuntu 18.04 VM and verify this issue, it **does not reproduce** on the new machine. Maybe this is an environment issue, close it.

[2020-03-11 09:26] #1739 closed

[2020-03-11 14:39] carlosjacinto opened #1747 "Error"
Does this occur consistently?
Repro steps:

1.
2.

Action: vscode-docker.registries.reconnectRegistry
Error type: Error
Error Message: Couldn't create item: The secret was transferred or encrypted in an invalid way.

Version: 1.0.0
OS: linux
OS Release: 5.3.0-40-generic
Product: Visual Studio Code
Product Version: 1.43.0
Language: en

[2020-03-11 14:42] bwateratmsft commented on #1747
Hey @carlosjacinto, does this issue happen consistently? What happens if you disconnect the registry, then try connecting again?

[2020-03-11 14:47] bwateratmsft commented on #1747
Seems like there's [a lot of reports](https://www.google.com/search?q=%22The+secret+was+transferred+or+encrypted+in+an+invalid+way.%22) of this error showing up throughout the years. Something broken down in gnome-keyring. It sounds erratic.

[2020-03-11 17:12] ravipal commented on #1739
@v-ruizh, Next time when you hit similar bug, please capture the content of window output, which will have information about the vsdbg installation on the container.

[2020-03-11 22:42] haniamr commented on #1548
@dbreshears Is this only about making "Docker compose files" optional? If so, we can close it since it was addressed in 1.0.

[2020-03-11 22:47] haniamr commented on #1710
To provide more context, this happens as the VM is not directly on the physical machine but in a nested VM, which caused the weird side effect that files created in the container in a volume were not accessible in the host.

Since @karolz-ms and @v-ruizh confirmed this is not reproducing given the VM is directly on the physical machine, I'll close the issue for now.

[2020-03-11 22:47] #1710 closed

[2020-03-11 23:07] haniamr commented on #1592
@bwateratmsft would that be resolved by this PR https://github.com/microsoft/vscode-docker/pull/1745?

[2020-03-12 03:23] slavdok opened #1749 "Selecting multiple compose files with context menu "Compose Up" should execute them in a single command"
Maybe related to #569, but different.

It's now fixed that doing `Command Palette > Docker: Compose Up` will detect if there is an docker-compose.override.yml file, and will include that by running `docker-compose up` without specifying a file.

However when I select `docker-compose.yml` from `Explorer View > Right click > Compose up`, it still runs `docker-compose -f "$file" up`. This is probably

[2020-03-12 12:08] Komkrit2107 opened #1750 "wr2020"
Does this occur consistently?
Repro steps:

1.
2.

Action: docker-launch
Error type: ENOENT
Error Message: ENOENT: no such file or directory, open '/Users/adminr/komkritproduct/package.json'

Version: 1.0.0
OS: darwin
OS Release: 19.3.0
Product: Visual Studio Code
Product Version: 1.43.0
Language: en

[2020-03-12 12:08] #1750 closed

[2020-03-12 12:43] bwateratmsft commented on #1749
@slavdok I had thought of this also when working on the compose command customization, so you certainly aren't alone, but I didn't want to change the behavior present.

One challenge is knowing the order to put them in--I don't think VSCode gives us any hint as to what order they were selected in, and alphabetical wouldn't always be right.

[2020-03-12 13:11] bwateratmsft commented on #1592
I think it would for cases *other* than tasks. Let's chat today about how best to handle this...

[2020-03-12 13:27] slavdok commented on #1749
Solution one: just like #569 fix, is to assume correct filenames, so `docker-compose.yml` first, the rest second (in alphabetical order). If `docker-compose.yml` is not present, revert to current behaviour.

Solution two: use the same functionality as selecting files for compare, where you mark one file first, then individually mark the second file for compare (I am sure at that point, VSCode know

[2020-03-12 14:28] bwateratmsft commented on #1749
In the meantime, if you're hitting this issue pretty consistently for a single project or if you have a consistent pattern of files, you could customize the Compose command using this new mechanism for 1.0.0: https://code.visualstudio.com/docs/containers/reference#_command-customization

For example, you could create two compose-up commands:
[code]
When you right-click the main `docker-compose.yml

[2020-03-12 14:35] bwateratmsft commented on #1537
I think that when buttons are present it will automatically be expanded as well, so it might cover part 1 too.

[2020-03-12 14:48] bwateratmsft commented on #1537
Yes, indeed it does:
![image](https://user-images.githubusercontent.com/36966225/76533755-ef1b6c80-644e-11ea-9c15-05cd05f09b07.png)

I'll close this issue as fixed.

[2020-03-12 14:48] #1537 closed

[2020-03-12 16:10] bwateratmsft commented on #869
@fathom-matthew @Nhimself @imkhairulikhwan (I @'d you all since you have commented recently :smile:):

GCR, ECR, and Quay all require some extra setup (each needs work done in their respective portals; GCR and ECR also require installing their respective command-line utilities). What do you guys think would be the best user experience to enable these registries but still set users up for success b

[2020-03-13 18:36] bwateratmsft commented on #1737
Marking future, but we should talk about this in the upcoming retrospective.

[2020-03-13 18:40] bwateratmsft commented on #493
Related to #1300.

[2020-03-13 18:42] bwateratmsft commented on #493
We'll close this unless we get user feedback or telemetry. The error message Docker offers is relatively clear.

[2020-03-13 18:42] #493 closed

[2020-03-13 18:51] #1548 closed

[2020-03-13 18:56] fhumayun opened #1754 "Error Message: Task to execute is undefined"
Does this occur consistently? Yes
Repro steps:

1.  Used this as my dockerfile

FROM node:10.13-alpine
ENV NODE_ENV production
WORKDIR /usr/src/app
COPY ["package.json", "package-lock.json*", "npm-shrinkwrap.json*", "./"]
RUN npm install --production --silent && mv node_modules ../
RUN apt-get install sudo
RUN adduser --disabled-password --gecos '' docker
RUN adduser docker sudo
RUN echo '%sudo AL

[2020-03-13 19:02] bwateratmsft commented on #1536
@ucheNkadiCode I looked a bit and didn't find anything in those docs inconsistent with the current experience, is there anything left or has it all been updated?

[2020-03-13 19:05] bwateratmsft commented on #1754
Hey @fhumayun, this is a known issue we have fixed for the upcoming v1.1 release. You can fix it by removing the Docker tasks from the workspace file and moving them into the workspace _folder_ `tasks.json` file. More info available here: #1462

[2020-03-13 19:05] #1754 closed

[2020-03-13 19:07] ucheNkadiCode commented on #1536
I think what it came down to was a user already had a build task in their tasks.json, it would already declare the tag name within it. This was why node.js was not prompting for tagging. I will close this issue

[2020-03-13 19:07] #1536 closed

[2020-03-13 23:42] ravipal opened #1755 "F5 continues without waiting for user to trust the ASP dev certificate"
F5 (Docker .Net Core Launch) on ASP .NET Core web application shows the below prompt
![image](https://user-images.githubusercontent.com/1775825/76669379-93350e80-6548-11ea-9efb-257121564d32.png)
But doesn't wait for user input and continue the debugging and opens the webpage that shows "This site is not secure"

[2020-03-14 00:19] haniamr opened #1756 "The specified task cannot be tracked"
### Environment
VS Code version: 1.43.0
Docker extension: 1.0.0

### Repro steps:
1. Create a dotnet core project then Add Docker Files to workspace
2. F5 and it works fine
3. In tasks.json, change the "dockerBuild -> target" to an invalid value, something like "base1"
4. F5 and docker-build fails, which is expected
5. Correct the issue in step 3 and F5 again, docker-build succeeds but then I get

[2020-03-14 05:04] daniellessio commented on #1756
I'm getting similar behavior running on Ubuntu 18.04, except I don't need to purposely brake the task. Restarting VS Code makes it work.

My environment:
OS: Ubuntu 18.04.4 LTS
VS Code: 1.43.0 / 78a4c91400152c0f27ba4d363eb56d2835f9903a / x64
Docker extension: 1.0.0

[2020-03-14 06:40] dimensionaltechs opened #1757 "docker extension missing"
Does this occur consistently?
Repro steps:

1.
2.

Action: vscode-docker.registries.logInToDockerCli
Error type: NoResouceFoundError
Error Message: No matching resources found.

Version: 1.0.0
OS: win32
OS Release: 10.0.18362
Product: Visual Studio Code
Product Version: 1.43.0
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-03-16 17:45] ravipal commented on #1600
The current implementation generates only docker-compose.yml.

[2020-03-16 20:22] ravipal opened #1758 "Wrong date/duration description in Volume and Network tree item"
some of the volume and description related tests started failing.
When the date is 45 days ago from now (2020-03-16), then the date is 2020-01-31. This translates into '2 months ago' based on the implementation (moment(time).fromNow()). But the tests were expecting 1 month ago.
Either the test should be updated to use the same implementation in verification code or use some other implementation th

[2020-03-17 01:34] mwgustin opened #1760 "Improve UX around .NET Core build asset generation (was: Unable to debug ASP.Net core)"
Docker extension version: 1.0.0

Steps to reproduce:

1. Create a new project `dotnet new webapi` (dotnet 3.1)
2. Add docker files via extension command (Linux, Docker-compose yes, 80;443)
3. Try to debug with F5

Debug Console:
[code]

My best guess is that this may have something to do with the docker-build: debug task targets the 'base' but the 'base' in the default Dockerfile is the production

[2020-03-17 09:14] alexr00 commented on #1756
I'm trying to repro using the steps above, but when I F5 the first time I just get an error notification:
"Process exited with code 1" Any other steps that should be done after adding the docker files?

[2020-03-17 09:55] alexr00 commented on #1756
There is this bug: https://github.com/microsoft/vscode/issues/92792
It seems that the task system is now taking longer to run tasks the second time. About how long does the prelaunch task take to run the first time? If it's close to 10 seconds, you might be seeing the same thing.
However, if your task takes close to 10 seconds then you might hit the "can't be tracked" timeout even without that bug

[2020-03-17 13:36] bwateratmsft commented on #1760
Hey @mwgustin, is there any output in the Terminal window for the `dotnet build` / `docker build` / `docker run`?

[2020-03-17 13:37] bwateratmsft commented on #1758
Seems like a good candidate for getting removed. This test is really testing what the output is from `moment.fromNow()`--why would we need a test case for that? That's somebody else's code :smile:

[2020-03-17 13:39] bwateratmsft commented on #1757
@dimensionaltechs what registries do you have connected in the Explorer tab?

[2020-03-17 13:44] bwateratmsft commented on #1755
This design was intentional. Trusting the certificate is not a mandatory step, and in fact aside from Windows it's not even possible.

[2020-03-17 14:48] bwateratmsft commented on #1756
`docker-build` can definitely take longer than 10 seconds, especially if it needs to download images.

@alexr00 I don't think we'd seen this error prior to now, even with the amount of time the tasks can take. Did something change in 1.43?

[2020-03-17 15:05] alexr00 commented on #1756
It looks like this is a duplicate of microsoft/vscode#92792 I think there's a missing task event.

[2020-03-17 15:06] bwateratmsft commented on #1756
Missing on our side or in VSCode itself?

[2020-03-17 15:56] sgdavidw opened #1761 "Process exited with code 9 when debugging .NET Core within a container with Visual Studio Code"
Hi,

I followed this document
https://code.visualstudio.com/docs/containers/debug-netcore
to try Debugging .NET Core within a container with Visual Studio Code, but didn't succeed. The error message directed me to the Github to submit this issue. would you please take a look?

Thank you,

David

Does this occur consistently?
Repro steps:

1.
2.

Action: docker-launch
Error type: 9
Error Message: P

[2020-03-17 16:05] alexr00 commented on #1756
Missing in VS Code itself. Since I can't get the repro steps above to work, I can't be 100% sure but it certainly looks the same.

[2020-03-17 16:13] bwateratmsft commented on #1761
Hey @sgdavidw, it looks like this is the same issue as #1744. We changed the error messages to be more useful so that in the future a better message will be presented.

The issue is that the ASP.NET Core development certificate is not quite working. If you run `dotnet dev-certs https --clean` and then `dotnet dev-certs https --trust`, it should fix the problem.

[2020-03-17 16:13] #1761 closed

[2020-03-17 16:59] mwgustin commented on #1760
Hey @bwateratmsft, that helped.  The terminal actually didn't show a `dotnet build` task at all...

...because, it looks like the issue is that if you do a new project, and don't initialize the project with VSCode (just add docker files via the extension), it will never create the default dotnet build task. The Docker extension relies on that default build task for debugging, but not for building/

[2020-03-17 17:13] bwateratmsft commented on #1760
Aha, yeah that makes sense. Our documents do mention doing the `Generate assets for Build and Debug` step, unfortunately the C# extension completely obliterates any existing `tasks.json` and `launch.json` which necessitates re-running the `Add Docker Files...`

I'm going to keep this item open to consider what ways we can improve this user experience.

[2020-03-17 17:26] bwateratmsft commented on #1602
So the most appropriate place to put this output is in the Debug Console window, but in order to do that would require a non-read-only `DebugAdapterTracker`. Unfortunately that [isn't supported](https://code.visualstudio.com/api/references/vscode-api#DebugAdapterTrackerFactory) (emphasis mine):

The only other sensible place to put it the output is in the Docker output window, but this wouldn't be

[2020-03-17 18:44] haniamr commented on #1756
Thanks @alexr00 and @bwateratmsft, I'm not sure why you were getting this error however as you mentioned the issue seems very similar to what you're referring to.

[2020-03-17 20:43] #1600 closed

[2020-03-17 20:55] ravipal commented on #1758
The test covers more than just `moment(time).fromNow()` like how the description is formatted, group by date, etc. I temporarily updated the test to make it pass.
As I mentioned in the issue, either the test should be updated to use `moment()` in expected result or update the product code to come up with the right description.

[2020-03-17 20:59] bwateratmsft commented on #1758
Where does that age come from in the product code? Is it from Docker itself?

[2020-03-17 21:00] ravipal commented on #1758
On a second thought, this is a product issue. The description should NOT say '2 months ago' when it is 45 days ago.

It is in our code. The input from docker is a date and we come up with the description based on the date.

[2020-03-17 21:01] bwateratmsft commented on #1758
Where is that code?

[2020-03-17 21:02] ravipal commented on #1758
https://github.com/microsoft/vscode-docker/blob/05d585ed9c98533d506ed70f0236968faf278129/src/tree/settings/CommonProperties.ts#L33

[2020-03-17 21:05] bwateratmsft commented on #1758
I see, so the test case is really comparing the output of `moment` to a fixed string. But, that means it's a test of somebody else's code--not something we should have.

[2020-03-18 00:48] ravipal commented on #1758
Here is what the test is validating
1. Provide a date which is 45 days ago to simulate docker inspect is obtaining this date string from docker. (example: 2020-01-31 assuming today is 03/16).
2. Validate the description of tree item shows 'id - 1 month ago'.

But due to implementation error, the code returns 'id - 2 months ago'.

[2020-03-18 02:11] sgdavidw commented on #1761
Hi, Brandon,

Thank you for the prompt response.
I ran the two commands to reset the development certificate, then tried the debugging again. It is working now.

Thank you,

David

________________________________
From: Brandon Waterloo [MSFT] <notifications@github.com>
Sent: Wednesday, March 18, 2020 12:13 AM
To: microsoft/vscode-docker <vscode-docker@noreply.github.com>
Cc: sgdavidw <wym163@hotm

[2020-03-18 04:03] bwateratmsft commented on #1758
Maybe that can only happen on March 15/16, due to February being shorter?

[2020-03-18 09:26] alexr00 commented on #1756
You should be able to test if the issue is fixed in the latest insiders now.

[2020-03-18 10:34] filipweidemann opened #1765 "Debugging docker-compose projects with predictable port?"
A few issues since jumping on the VSCode Debugging train since the 1.0 release:

- Is it possible to use the debugger for very large `docker-compose` projects?
Currently I am having issues spinning up more than one container using a Dockerfile, it seems as the docker-compose.yml is completely ignored.

- Why is the port mapping random? Do we currently have the possibility to run an app inside the

[2020-03-18 10:53] filipweidemann commented on #1765
Okay so I figured out how to customize the host port, look something like this:

`
"dockerRun": {
        "ports": [
          {
            "containerPort": 8000,
            "hostPort": 8000
          }
        ],
}
`

However, I am still not sure how to use the `docker-compose.yml`

[2020-03-18 13:38] bwateratmsft commented on #1756
Per Alex's [comment](https://github.com/microsoft/vscode/issues/92792#issuecomment-600514123) this will be in the 1.43.1 stable release, so I will remove the 1.0.1 milestone and delete/close it, since this will not require a change from our end.

[2020-03-18 13:39] #1602 closed

[2020-03-18 14:00] bwateratmsft commented on #1765
I'm glad you asked! We're still working on a more integrated debugging experience for docker-compose, but it is possible to debug today for most frameworks. The `docker-run` task does indeed ignore compose files; in the future we want to have `docker-compose-up` tasks that will use the compose files.

You'll want to move your port mappings into your `docker-compose.yml` files. The port mappings in

[2020-03-18 14:23] filipweidemann commented on #1765
First of all, thank you for the detailed answer. This made things pretty clear already!
I am currently running a mix of different Django/Flask Projects, so Python all the way here.

Will definitely look forward to the `docker-compose-up` task, but doing it manually for now is absolutely okay as well! Thank you for explaining the flow, it is quite clear what to do now. Thanks!

[2020-03-18 14:26] bwateratmsft commented on #1765
@haniamr can you add some information on Python attach to a composed-up container to my post?

[2020-03-18 15:43] itamarst opened #1766 "The Dockerfiles created by the extension are insecure"
1. They shouldn't run as root (https://pythonspeed.com/articles/root-capabilities-docker-security/).

2. They should update system packages to get the latest security updates (`RUN apt-get update && apt-get -y upgrade`).

[2020-03-18 16:55] ravipal commented on #1758
I am not sure if it is specific to that specific day or not. Require more testing. Doesn't matter whether it is coming from other package we depend on or not, it is still a bug.

[2020-03-18 17:13] bwateratmsft commented on #1758
I disagree. Saying it's 2 months ago is not an unreasonable description for something created in January.

[2020-03-18 18:20] bwateratmsft commented on #1756
@haniamr Version 1.43.1 is released now, we should try it out and make sure this is fixed.

[2020-03-18 20:52] haniamr commented on #1756
I tried on both 1.43.1 and the latest insiders, but still can repro the issue.

@alexr00 for the repro steps to work, can you please run this from an administrator cmd: `mkdir "C:\Program Files\dotnet\sdk\NuGetFallbackFolder"` and try it again? It should work this way.

[2020-03-18 21:10] #1592 closed

[2020-03-18 22:48] haniamr commented on #1765
Sure thing. Here are the steps to debug your app running with Gunicorn (could apply to any web server as well) while using docker-compose: https://code.visualstudio.com/docs/containers/debug-python#_how-to-debug-your-app-with-gunicorn

@filipweidemann please feel free to get back to us if you have any questions and we'll be happy to help!

[2020-03-18 23:04] BigMorty commented on #1766
Thanks @itamarst for your feedback, we will look into these concerns.

[2020-03-19 00:04] ucheNkadiCode opened #1767 "Automatic Prompting for Azure login"
Although I am already connected to my Azure registry, pushing to my registry failed with an Authentication Required message.

Suggestions:
- Could we use the registry connection credential from within the docker extension to automatically log them in?
- Could we popup a dialog so the user can log in?
- Could we provide a login flow from the CLI similar to how push works for GitHub when a user is n

[2020-03-19 00:50] haniamr opened #1768 "[Python] Handle failures of dependent tasks when waiting for debugger"
### Repro steps:
- Add docker files to a Python project
- Introduce a syntax error in the Dockerfile
- F5

### Results
docker-build fails as expected however the debugger is still trying to attach.

In this line https://github.com/microsoft/vscode-docker/blob/e76d2dc1b560f1cc394b85d6a18e3d15ea0024b3/src/tasks/python/PythonExtensionHelper.ts#L38, we wait for the preLaunchTask indefinitely. However,

[2020-03-19 05:42] Raphael-Hao opened #1769 "Root password needed sometime when connet remote linux container from mac os"
![image](https://user-images.githubusercontent.com/19326656/77035347-5acd7e80-69e7-11ea-9922-4ac4621574db.png)

If i restart local vscode and the remote vscode, sometimes the root password is not needed.

BTW, I have already add current no-root user to docker user group.

[2020-03-19 07:19] filipweidemann commented on #1765
Thank you very much @haniamr @bwateratmsft.

[2020-03-19 10:12] alexr00 commented on #1756
I can repro the issue now. Looking into what might be going on...

[2020-03-19 10:33] alexr00 commented on #1756
I found the problem and merged a fix into VS Code. If we have another recovery release it will likely go into stable with that.

[2020-03-19 13:17] bwateratmsft commented on #1767
Was already planning to deal with this with the other work, so I'll mark it for 1.1.

[2020-03-19 13:19] bwateratmsft commented on #1768
@haniamr Our code does the Docker build and Docker run, at a minimum, so we can create events for that. I'm not sure if there's anything we can do about other dependent tasks, but those two would cover a majority of cases.

[2020-03-19 13:21] bwateratmsft commented on #1769
@Raphael-Hao is this a Docker-in-Docker setup or are you using Remote - SSH?

[2020-03-19 13:23] Raphael-Hao commented on #1769
yes, I am using Remote-SSH.

[2020-03-19 13:28] bwateratmsft commented on #1769
If you SSH into the remote system with a terminal, and do some Docker operations from the command line, does the password prompt ever come up?

[2020-03-19 13:33] Raphael-Hao commented on #1769
No. If i do the Docker operations in a newly-launched integrated terminal of vscode, the password doesn't prompt, too. Only in the terminal launched by Docker extension, the password prompt. Even when i run the docker command manually in the terminal launched by the extension .

[2020-03-19 14:41] bwateratmsft commented on #1769
Interesting...I have one idea. In one of the terminal windows created by the Docker extension, after running some command, can you try the following? Our extension has user-settings that will set these environment variables in terminals it creates. That's the only difference I can think of between terminals created by our extension vs. any other terminals within VSCode.
[code]

These settings are

[2020-03-19 14:46] Raphael-Hao commented on #1769
Input: `echo $DOCKER_HOST`
Output: `ssh://cwh@epcc.sjtu.edu.cn:8206`
Other environment variables are all empty.

[2020-03-19 14:50] bwateratmsft commented on #1769
I see, it looks like the extension is operating in UI mode instead of workspace mode. Can you try adding the following user setting to `settings.json`?

[code]

Once you connect to the remote session you should be able to do "Install in SSH: ..." from the Extensions view:
![image](https://user-images.githubusercontent.com/36966225/77080096-4aa9a500-69cf-11ea-8d19-0785ef20c9d4.png)

After that, I t

[2020-03-19 14:54] bwateratmsft commented on #1765
I'll close this issue for now, please let us know if anything else comes up. Thanks!

[2020-03-19 14:54] #1765 closed

[2020-03-19 15:19] bwateratmsft opened #1770 "Explorer configure quickpick is showing wrong labels for current settings"
Instead of showing the right things (this screenshot from 1.0.0):
![image](https://user-images.githubusercontent.com/36966225/77083169-7595f800-69d3-11ea-802c-c0d9284a9132.png)

It's showing `[object Object]`:
![image](https://user-images.githubusercontent.com/36966225/77083149-69aa3600-69d3-11ea-9446-1d38da69c836.png)

This might be related to the NLS changes.

[2020-03-19 15:34] bwateratmsft commented on #1770
I found the root cause, it is indeed a regression from the NLS changes.

[2020-03-19 16:05] Raphael-Hao commented on #1769
In fact, I already have them in my settings.json. And the docker extension is installed in remote.
![image](https://user-images.githubusercontent.com/19326656/77087308-eeca3500-6a3d-11ea-82d4-fd7b15e469a4.png)
I will reinstall all the thing about vscode to see if this weird bug exists.

[2020-03-19 16:16] bwateratmsft commented on #1769
If the `$DOCKER_HOST` setting is still present that probably means it somehow got into the workspace settings. In essence, the server is trying to do Docker calls to itself via SSH. Try removing those settings in the Remote settings (i.e. not the User settings):

![image](https://user-images.githubusercontent.com/36966225/77088878-7763b980-69db-11ea-901d-1ca7fc8d052b.png)

[2020-03-19 17:09] Raphael-Hao commented on #1769
Resolved. Thx for your reply

[2020-03-19 17:10] #1770 closed

[2020-03-19 17:52] bwateratmsft commented on #1529
@MRayermannMSFT @philliphoff I've been working on something I think you're gonna like. Here's a couple screenshots that I think convey the concept:

![image](https://user-images.githubusercontent.com/36966225/77098501-dd0a7280-69e8-11ea-91ad-c8110eb4e56c.png)

![image](https://user-images.githubusercontent.com/36966225/77098392-ab91a700-69e8-11ea-9164-cbb610ef8c6a.png)

[2020-03-19 19:02] hffmnn opened #1773 "Extension does not show images and containers"
Hi there,

going through the README it looks like the docker extension view should contain images, containers, registries. networks and volumes.

I can only see registries, volumes and networks. Any idea what might be wrong?

<img width="290" alt="Screenshot 2020-03-19 at 19 44 12" src="https://user-images.githubusercontent.com/352753/77104445-540d2e80-6a1c-11ea-84da-a168c324b582.png">

My VS Code

[2020-03-19 19:04] bwateratmsft commented on #1773
Yes! This looks to be the same as #1609. In [this comment](https://github.com/microsoft/vscode-docker/issues/1609#issuecomment-586331394) there are some steps to fix it.

[2020-03-19 20:27] hffmnn commented on #1773
Ok, thanks a lot. That did the trick!

[2020-03-19 20:27] #1773 closed

[2020-03-19 21:58] haniamr commented on #1756
Thanks a lot @alexr00, totally appreciate the quick fix!

[2020-03-20 01:59] Raphael-Hao commented on #1769
Finally, I figure out that this is a conflict between remote container extension and the docker extension. You need a `dokcer.host` to attach a remote container in remote container extension. But when you run docker extension on remote host via remote ssh, the `docker.host` will cause the docker calls to itself via SSH.

[2020-03-20 07:59] v-dantch opened #1776 "Pop up an error when running "Docker Registries: Log In to Docker CLI""
**OS**: Windows
**Build Version:**  [20200319.1](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=16479&view=results)
Regression: Previous Release

Does this occur consistently?  Yes
**Repro steps:**

1. F1 --> Type and select "Docker Registries: Log In to Docker CLI".
2. Select one Azure Registry.

Action: vscode-docker.registries.logInToDockerCli
Error type: 1
Error Message: Com

[2020-03-20 08:19] v-dantch opened #1777 "Display an error "The resource namespace 'Microsoft.ContaimerRegistry' is invalid " when signing in with Azure Germany account"
**OS**: Windows
**Build Version:** [20200319.1](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=16479&view=results)
**Regression:** Not a Regression

**Repro Steps:**
1. Sign in with Azure Germany account.
2. Drill down from Registry -> Azure -> One applied subscription.

**Expect:**
Succeed to list the created Azure registries.

**Actual:**
Display an error "The resource namespa

[2020-03-20 13:34] bwateratmsft commented on #1769
Why would the `docker.host` setting have migrated from the remote container to the remote SSH server?

[2020-03-20 13:47] Raphael-Hao commented on #1769
When attaching a remote container via remote container, it runs the local docker-cli. When building a docker image via remote ssh, it runs the remote docker-cli. Thus, when i try to attach the remote container through remote ssh, the `docker.host` causes a confilct.

[2020-03-20 13:53] bwateratmsft commented on #1769
I'm not sure I understand what you mean:

[2020-03-20 13:58] bwateratmsft commented on #1776
Looks like `creds.registryPath` was undefined, might be a regression from the recent refactoring. I'll take a look.

[2020-03-20 14:00] bwateratmsft commented on #1777
Looks like it is not supported in the German sovereign region(s):

![image](https://user-images.githubusercontent.com/36966225/77170602-a2104980-6a91-11ea-9193-2d80a5f3ffaf.png)

[2020-03-20 14:00] #1777 closed

[2020-03-20 14:01] Raphael-Hao commented on #1769
![image](https://user-images.githubusercontent.com/19326656/77170508-167cd400-6af6-11ea-8002-4e76f2e55acb.png)

I build docker image on remote host via remote ssh extension. Then I try to attach a docker container
directly through the same vscode  window

[2020-03-20 14:04] bwateratmsft commented on #1769
By "Attach" to that container, do you mean "Attach Shell" or "Attach Visual Studio Code"?

[2020-03-20 14:08] Raphael-Hao commented on #1769
"Attach Visual Studio Code", It seems that this operation is using the local docker-cli and It needs the `docker.host` to run.

[2020-03-20 14:18] bwateratmsft commented on #1769
@chrmarti What do you think for this? To summarize, the user is connected via Remote - SSH to an SSH server, where they build a container, and then do "Attach Visual Studio Code" on the container. Because the local CLI is used for that operation, `docker.host` is required (set to that SSH server), but if `docker.host` is present in the remote settings then in remote Docker terminals within the Rem

[2020-03-20 14:24] Raphael-Hao commented on #1769
OK, Thank you

[2020-03-20 15:39] #1680 closed

[2020-03-20 16:03] karolz-ms commented on #1769
Why, in this scenario, is it necessary to set docker.host in VSCode, instead on relying on DOCKER_HOST variable in the local and/or remote environment?

@Raphael-Hao said

Why is this the case?

[2020-03-20 16:08] #1776 closed

[2020-03-20 16:12] bwateratmsft commented on #1769
@karolz-ms AFAIK that's how the Remote - Containers extension was implemented. Need @chrmarti to chime in.

[2020-03-20 16:15] karolz-ms commented on #1769
@bwateratmsft but this is `Remote-SSH`?

[2020-03-20 16:17] bwateratmsft commented on #1769
@karolz-ms It's both. Remote - SSH where a container is built, then Attach VSCode to said container.

[2020-03-20 16:29] Raphael-Hao commented on #1769
@bwateratmsft @karolz-ms  It seems to be working. The Remote Containers extention uses the local environment variable. The docker extension in `Remote-SSH` does not use that. Then, there is no confilct.

[2020-03-20 18:43] bwateratmsft commented on #1755
The discussions we had at the time was that a modal popup was way too annoying, and a non-modal popup could be missed (which would cause us to wait forever). Since trusting isn't mandatory we opted to not wait.

[2020-03-20 18:43] #1755 closed

[2020-03-20 18:49] #1758 closed

[2020-03-20 19:00] dbreshears commented on #1758
According to the docs on fromNow,  45 to 319 days  is "2 months ago .. 10 months ago"

[2020-03-20 21:28] ravipal commented on #1300
The current behavior is 1.0, is F5 pop-ups this error
![image](https://user-images.githubusercontent.com/1775825/77207578-fd086780-6ab6-11ea-8389-55687fdaf06f.png)

[2020-03-21 14:16] bwateratmsft commented on #1300
@ravipal could you add more context to that screenshot?

[2020-03-22 12:42] ahmedbham opened #1781 "after installing Docker extension successfully, and running "Docker Images: Build Image... ", giving error that "Task Not Found""
Does this occur consistently?
Repro steps:

1.
2.

Action: vscode-docker.images.build
Error type: Error
Error Message: Task not found

Version: 1.0.0
OS: darwin
OS Release: 18.7.0
Product: Visual Studio Code
Product Version: 1.43.0
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-03-23 13:07] bwateratmsft commented on #1781
This looks similar to #1647. @ahmedbham are you using workspaces or workspace folders?

[2020-03-23 16:53] ravipal commented on #1300
When user runs 'Add Docker Files to Workspace' without adding the Net Core build and launch tasks. Then F5, user will run into an error (the above screen shot)

[2020-03-24 00:14] haniamr commented on #1756
Verified the issue on the latest Insiders build and it is fixed, but will keep this for tracking purposes till the fix is available in the stable builds.

[2020-03-24 00:28] #1423 closed

[2020-03-24 01:39] ravipal commented on #1724
We decided to add a comment with link to a document explaining how to setup a https developer certificate

[2020-03-24 08:57] alexr00 commented on #1756
The fix is planned to be in 1.43.2, so I expect that to be this week.

[2020-03-24 15:45] chrmarti commented on #1769
The remote setting will override the local user setting also for UI extensions. So UI and workspace extensions will see the setting's value from the remote. We could inspect the setting to find out if the local (user scope) value is different from the remote (machine scope) value, but I'm not sure using that would usually result in expected behavior.

[2020-03-24 15:57] bwateratmsft commented on #1769
It seems to me then that everything is behaving as intended. The Docker extension cannot just ignore settings it is given, so we must respect the `docker.host` value even if that means SSH'ing to self, and if remote settings are meant to override local settings then this is also expected behavior from Remote - Containers.

Especially since there's other workarounds possible I'm OK with resolving t

[2020-03-24 15:57] #1769 closed

[2020-03-24 16:49] #1724 closed

[2020-03-24 17:03] ravipal commented on #1300
Now the command 'Docker: Add Docker Files to Workspace' will check if the build task is present and fail if it is not present.

[2020-03-24 17:04] bwateratmsft commented on #1300
I don't think this is resolved yet as we want to cover a lot more than just .NET Core build tasks.

[2020-03-24 17:06] bwateratmsft commented on #1677
This issue has been closed automatically because it needs more information and has not had recent activity. See also our issue reporting guidelines.

Happy Coding!

[2020-03-24 17:06] #1677 closed

[2020-03-24 17:14] ravipal commented on #1300
Please add more information on what other issues that needs to be addressed.

[2020-03-24 17:20] bwateratmsft commented on #1300
I've added some ideas to the original opening comment.

[2020-03-24 19:54] chrmarti commented on #1769
Make sense. We might at some point introduce our own settings in Remote-Containers that would take precedence over the Docker extension's ones (for Remote-Containers).

[2020-03-24 23:58] dbreshears opened #1784 "Add command palette for Docker Context"
Add support via command palette for Docker Context

For the following commands:

Use
Inspect
Remove

[2020-03-25 00:07] dbreshears opened #1785 "Offer to install Docker Desktop when not installed"
In places where error messages display that Docker is not installed,  it should now offer to install Docker Desktop using specific URL.

[2020-03-25 00:34] #1699 closed

[2020-03-25 03:20] bwateratmsft commented on #1785
Installation steps will vary by OS.

[2020-03-25 13:43] #1709 closed

[2020-03-25 16:53] bwateratmsft commented on #1784
If we're gonna do Remove, we should do Create/Update as well (or neither) IMO.

[2020-03-25 17:01] karolz-ms commented on #1784
@bwateratmsft creating/updating may involve a bunch of data related to authN. I'd say let's not go there in the first iteration and have the user rely on Docker CLI

@haniamr I have a change in the works that is very related to this Talk to me before you start working on it. It might be most efficient for me to do both.

[2020-03-25 20:05] bwateratmsft opened #1788 "Transient test failures for .NET Core"
For example:

- https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=16719&view=logs&j=a5e52b91-c83f-5429-4a68-c246fc63a4f7&t=b7b7a6e6-b49b-50ea-fca3-f91483add993
- https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=16707&view=logs&j=0da5d1d9-276d-5173-c4c4-9d4d4ed14fdb&t=1decd8ae-d539-576e-6301-fe8b1f08b85d
- https://dev.azure.com/ms-azuretools/AzCode/_build/results?bu

[2020-03-25 21:27] haniamr commented on #1784
Based on our offline discussion, I'll assign this one to Karol.

[2020-03-25 23:21] #1511 closed

[2020-03-25 23:32] haniamr commented on #1756
Thanks @alexr00, I verified the issue in 1.43.2 and it is resolved.

[2020-03-25 23:32] #1756 closed

[2020-03-26 09:42] v-mengwe opened #1792 "Can't reach the express web page after executing "Compose Up" action for docker-compose.yml"
**OS:** Windows
**Build Version:**[20200324.4](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=16633&view=artifacts&type=publishedArtifacts)

**Repro Steps:**

1. Create an Express App and open it in VS Code
2. F1->Docker: Add Docker files to Workspace->Node.js->include Docker compose file->port:3001
3. Verify that your docker-compose.yml is like this
 ![image](https://user-image

[2020-03-26 16:25] VictorioBerra opened #1793 "ASP.NET Core debugging won't work for me."
- Windows 10 WSL2
- Latest Stable VSCode
- Docker Extension 1.0

[code]

[code]

Steps I took:

- ` mkdir docker-vsc-test`
- ` cd ./docker-vsc-test`
- ` dotnet new mvc`
- `code .`

Inside code:
- ctrl+shift+p
- `docker: add docker files to workspace`
- `aspnet core`
- `linux`
- `yes to docker compose`
- `80, 443`
- Set breakpoint in Program.cs
- Click debug panel
- Click play
- Open terminal
- Cli

[2020-03-26 17:04] ravipal commented on #1792
@v-amyang, The generated docker-compose.yml will have that port mapping as below.
ports:
  - 3001

When the container is started using compose up, it will assign a random host port which can be obtained using `docker ps` or `docker inspect <id>`

Please re-open if this is not the case.

[2020-03-26 19:35] bwateratmsft commented on #1792
@ravipal The docker-compose.yml maps 3001 to 3001:

[2020-03-26 19:48] ravipal commented on #1792
well, I don't see this port mapping behavior. The new scaffold behavior just creates -3001 without explicit host port.
Were you able to repro?

[2020-03-26 22:20] #993 closed

[2020-03-27 02:13] ravipal commented on #1792
Had a chat with @v-amyang  and got the issue. The node js express app is defined to use port 3000. But during scaffolding 3001 was used. Hence the app didn't work (both single and compose). After updating the app (myExpressApp1\bin\www) to use 3001. it works.

[2020-03-27 02:13] #1792 closed

[2020-03-27 11:30] v-ruizh opened #1794 "Fail to run 'Docker .Net Core Attach (Preview)' configuration for .NET Core 5.0 project"
**OS:** Windows
**Build Version:** [20200326.8](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=16781&view=artifacts&type=publishedArtifacts)
**.NET Core SDK:** 5.0.100-preview.1.20155.7

**Repro Steps:**
1. Create a .NET Core MVC project by "dotnet new mvc --no-https".
2. Open the project in VS Code --> Prompt to add the required assets --> Yes
3. F1 --> Type and select "Docker:

[2020-03-27 13:08] rosanch commented on #1608
@v-ruizh
This YAML file requires Tasks set feature which is not supported by the extension. So “Values.regDate” it’s empty and it’s failing to create the image because of bad formatting (starting with '/'). For more information, you can refer to this wiki https://docs.microsoft.com/en-us/azure/container-registry/container-registry-tutorial-multistep-task#create-a-multi-registry-multi-step-task

If

[2020-03-27 13:43] bwateratmsft commented on #1793
@VictorioBerra Did you generate .NET Core build tasks before adding Dockerfiles?

Additionally, the F5 "Docker .NET Core Launch" profile is not for compose and will ignore the docker-compose.yml files. To do compose debugging you will have to use the "Docker: .NET Core Attach (Preview)" profile.

[2020-03-27 13:44] bwateratmsft commented on #1792
@ravipal Is there an issue in our scaffolding logic?

[2020-03-27 13:45] bwateratmsft commented on #1794
Looks like `curl` was removed from the base image. I'll look into this.

[2020-03-27 13:51] bwateratmsft commented on #1794
The removal was intentional: https://github.com/dotnet/dotnet-docker/issues/1645#issuecomment-581593827

[2020-03-27 14:03] VictorioBerra commented on #1793
@bwateratmsft No, check out the steps I took.

I simply did `dotnet new mvc` followed by selecting the `docker: add docker files to workspace` from the VSC Command Palette.

This built out the task and launcher files, as well as the docker files.

After that I clicked the debug button and was met with that error.

[2020-03-27 14:08] bwateratmsft commented on #1793
@VictorioBerra Can you run ".NET: Generate Assets for Build and Debug", and because the C# extension wipes out tasks.json and launch.json (shame on them) you'll need to re-run "Docker: Add Docker Files to Workspace".

This is a required step but unfortunately the [docs](https://code.visualstudio.com/docs/containers/quickstart-aspnet-core) do not mention it. I'm going to get them corrected.

[2020-03-27 14:10] VictorioBerra commented on #1793
@bwateratmsft That fixed my issue.

[2020-03-27 14:10] #1793 closed

[2020-03-27 14:20] VictorioBerra commented on #1793
To anyone that sees this, after you run ".NET: Generate Assets for Build and Debug" and then "Docker: Add Docker Files to Workspace" it will append the docker debug launch object to the launch file so it is necessary to open the debug pane and click the dropdown for launchers and select "Docker .NET Core Launch". Dont just hit F5 because you wont be debugging inside the container, you will be debu

[2020-03-27 14:23] VictorioBerra commented on #1793
@bwateratmsft

Im curious though, when does this happen? Because when I open a new core project generated from `dotnet new mvc` I get a dialog from OmniSharp saying "This project is missing the required assets for build/debug blah" and then I click "do not add". Up until that point I dont have a launch or task file. The only time I get one is when I run the Docker Add command palette option.

[2020-03-27 14:37] bwateratmsft commented on #1793
When that dialog pops up you're meant to do "Yes". That creates a tasks.json with `dotnet build` tasks (which we depend on), and launch.json with some debug tasks.

Unfortunately, if tasks.json and launch.json already exist (e.g. if you ran "Add Docker Files to Workspace", which also adds items to tasks.json and launch.json), the C# extension will obliterate them, which necessitates re-running "Ad

[2020-03-27 14:58] VictorioBerra commented on #1793
That cleared up my confusion. I did not know this Docker extension depended on the launch and task files generated by OmniSharp extension.

[2020-03-27 15:19] bwateratmsft commented on #1793
Yeah. Our debugging flow for .NET Core uses a lot of tricks to speed things up. We only build the first stage of the Dockerfile--which does not include the app itself--and then build the app on the host and volume map it into the container. It's this building on the host that we depend on, which we do via the `dotnet build` task the C# extension creates.

This approach _dramatically_ speeds up F5,

[2020-03-27 15:39] bwateratmsft commented on #1794
We should be able to use `docker cp` to copy the debugger into the container from the host, and always install on the host.

[2020-03-27 17:02] ravipal commented on #1792
No. We take port input from user and we that port.

[2020-03-27 17:15] bwateratmsft commented on #1788
@ravipal This is knocking out quite a lot of builds, can we get it fixed ASAP?

[2020-03-27 18:28] bwateratmsft commented on #147
I think we can close this now since this is largely done, especially with #1753.

[2020-03-27 18:28] #147 closed

[2020-03-27 18:54] bwateratmsft commented on #1767
I'm going to mark this as a dupe of #351.

[2020-03-27 18:54] #1767 closed

[2020-03-27 18:57] bwateratmsft commented on #567
Closing since we're removing default registry setting in #1783.

[2020-03-27 18:57] #567 closed

[2020-03-27 18:58] bwateratmsft commented on #1106
@v-ruizh does this still reproduce?

[2020-03-27 18:59] bwateratmsft commented on #1123
We added multi-select support in 1.0.0. It's not exactly the same as this request, but I feel like it's close enough, so I'll close it. If you disagree please let us know. Thanks!

[2020-03-27 18:59] #1123 closed

[2020-03-27 19:01] bwateratmsft commented on #1313
@eine Sorry I didn't see this until now, I was on parental leave at the time. Yes, we're still planning to do this but don't have a milestone at this time.

[2020-03-27 19:03] bwateratmsft commented on #1525
For now I'll resolve this as a dupe of #869, we are tracking GitHub support there.

[2020-03-27 19:03] #1525 closed

[2020-03-27 19:04] bwateratmsft commented on #1533
@karolz-ms do you think this might work with the `docker context` changes?

[2020-03-27 19:04] bwateratmsft commented on #1544
Dupe of #1294

[2020-03-27 19:04] #1544 closed

[2020-03-27 19:07] bwateratmsft commented on #1717
This is mitigated in part by the fix we need for #1794

[2020-03-27 19:07] bwateratmsft commented on #1743
This will be fixed by the fix for #1794

[2020-03-27 19:08] bwateratmsft commented on #1760
This is probably mitigated or fixed entirely by #1780

[2020-03-27 20:08] ravipal commented on #1717
we still need to copy files to container and we still require user consent to do so.

[2020-03-27 21:43] karolz-ms commented on #1533
@bwateratmsft I think there is a good chance that https://github.com/microsoft/vscode-docker/pull/1790 will fix this. Will try to verify next week.

[2020-03-28 09:00] jayarjo commented on #1525
Everybody involved in this, please proceed. @Phanatic please cooperate.

[2020-03-30 14:12] #351 closed

[2020-03-30 14:12] #1539 closed

[2020-03-30 14:12] #1540 closed

[2020-03-30 14:12] #1595 closed

[2020-03-30 18:42] karolz-ms opened #1797 "Update SSH tunneling docs to use Docker context"
After 1.1.0 with [Docker context support](https://github.com/microsoft/vscode-docker/pull/1790) ships, we should update [SSH tunneling documentation](https://code.visualstudio.com/docs/containers/ssh) and advise users to use Docker context instead of setting `DOCKER_HOST` environment variable explicitly.

With Docker context the user can switch between various Docker engines quickly and apply all

[2020-03-30 19:53] rosanch commented on #1608
@v-ruizh I'm closing the bug, please reopen the issue if you still have any issues.

[2020-03-30 19:53] #1608 closed

[2020-03-30 20:01] Dmarch28 opened #1798 "Jira"
Does this occur consistently?
Repro steps:

1.
2.

Action: vscode-docker.configure
Error type: Error
Error Message: No .csproj or .fsproj file could be found. You need a C# or F# project file in the workspace to generate Docker files for the selected platform.

Version: 1.0.0
OS: win32
OS Release: 10.0.18363
Product: Visual Studio Code
Product Version: 1.43.2
Language: en

<details>
<summary>Call

[2020-03-30 20:02] bwateratmsft commented on #1798
@Dmarch28 Are there any .NET project files in your workspace?

[2020-03-30 20:06] Dmarch28 commented on #1798
Yes a lot, making sales on most I just started to use github and I past up on one post.
sorry about that!!!

[2020-03-30 20:07] Dmarch28 commented on #1798
Right now I'm updating visual studio 2019

[2020-03-30 20:08] bwateratmsft commented on #1798
I'm not sure I'm following. This extension isn't for Visual Studio, but rather Visual Studio Code.

[2020-03-30 20:20] bwateratmsft commented on #1797
Please note in the docs that an SSH agent is still needed to do SSH tunneling successfully

[2020-03-31 06:10] 1147046772 opened #1801 "1"
Does this occur consistently?
Repro steps:

1.
2.

Action: vscode-docker.images.build
Error type: Error
Error Message: To build Docker files you must first open a folder or workspace in VS Code.

Version: 1.0.0
OS: darwin
OS Release: 19.4.0
Product: Visual Studio Code
Product Version: 1.43.2
Language: zh-cn

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-03-31 14:09] bwateratmsft commented on #1801
@1147046772 Can you try opening a folder and doing Docker Build?

[2020-03-31 15:08] bwateratmsft commented on #1788
@ravipal I had another failure today, it's strange. https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=17022&view=logs&j=0da5d1d9-276d-5173-c4c4-9d4d4ed14fdb&t=1decd8ae-d539-576e-6301-fe8b1f08b85d

In the test case output, it says it verified the task was present after 0 tries...but then it went and failed anyway. I'm concerned that we actually have a product bug.

[2020-03-31 15:32] bwateratmsft commented on #1788
@ravipal Karol recently added `runningTests: boolean` to `extensionVariables`; we could disable the check for build task when running tests.

[2020-03-31 16:35] bwateratmsft opened #1804 "Improve extension activation performance"
(Self explanatory)

Here's the data from a webpacked activation:
[code]

From not-webpacked activation:
[code]

So our actual activation takes ~3 seconds, and code loading from ~1.5 seconds (webpacked) to 9.5 seconds (not webpacked).

[2020-03-31 17:15] bwateratmsft commented on #1442
Dupe of #722

[2020-03-31 17:15] #1442 closed

[2020-03-31 17:18] bwateratmsft commented on #892
Given that running the registry locally would only be a test scenario, and that it's only a warning, I'll resolve this as won't-fix.

[2020-03-31 17:18] #892 closed

[2020-03-31 17:19] bwateratmsft commented on #735
This property is no longer used so this should be fixed.

[2020-03-31 17:19] #735 closed

[2020-03-31 17:21] bwateratmsft commented on #813
Marking this as a dupe of #1535

[2020-03-31 17:21] #813 closed

[2020-03-31 17:24] bwateratmsft commented on #1496
@umarcor Have you been able to try out the command customization in 1.0.0?

[2020-03-31 17:27] bwateratmsft commented on #1760
I'll call this fixed by #1780. We also have #1300 to track more improvements.

[2020-03-31 17:27] #1760 closed

[2020-03-31 17:33] #1743 closed

[2020-03-31 17:33] #1794 closed

[2020-03-31 17:43] umarcor commented on #1496
@bwateratmsft, unfortunately, I could not. It is in first place of my non-compulsory tasks because I'm using VSCode and Docker every day, and every day I remember it. But I had a trip in the end Feb, then the crisis came and I'm having a hard time to keep up with this. I will let you know as soon as I can.

[2020-03-31 17:48] bwateratmsft commented on #1496
No worries!

[2020-03-31 18:12] bwateratmsft commented on #1423
Marking this as a dupe of #1760

[2020-03-31 19:14] #1788 closed

[2020-04-01 14:38] #333 closed

[2020-04-01 14:38] #1529 closed

[2020-04-01 14:44] bwateratmsft commented on #990
Related to #1804.

[2020-04-01 14:48] bwateratmsft commented on #844
Probably related to #1804.

[2020-04-01 14:49] #1747 closed

[2020-04-01 14:51] bwateratmsft commented on #1379
We're planning to remove this admin requirement with #1685, so will close this one.

[2020-04-01 14:51] #1379 closed

[2020-04-01 14:53] bwateratmsft commented on #1717
Also, this probably becomes obsolete with #840

[2020-04-01 15:21] bwateratmsft commented on #1804
I investigated the activation time itself (called `activateResolvedTime` above), essentially all of the time is spent on the `docker context inspect` call. This takes around 3 seconds.

[2020-04-01 16:16] bwateratmsft commented on #1804
I did some perf testing of the code loading, based on the approach from here: https://medium.com/the-node-js-collection/timing-is-everything-6d43fc9fd416

I've attached the data. Please note that the actual loading is in a tree, but the file is flat--so when it says, for example, loading `extension.bundle.js` took 950 ms, that means loading it _and everything under it in the load tree_ cumulativel

[2020-04-01 16:37] bwateratmsft commented on #1804
Some telemetry data:

From extension version 1.0.0, last 30 days:

| Platform | AvgLoadTime | AvgActivationTime | Samples |
| --- | --- | --- | --- |
| Mac | 1497 | 2846 | 2016139 |
| Windows | 1602 | 2815 | 1552030 |
| Linux | 934 | 1117 | 892234 |

From all versions (with big-enough sample sizes), last 30 days:
| Version | AvgLoadTime | AvgActivationTime | Samples |
| --- | --- | --- | --- |
| 0

[2020-04-01 17:13] bwateratmsft commented on #844
Blocked on https://github.com/microsoft/vscode-azuretools/issues/510.

[2020-04-02 09:35] v-ruizh opened #1812 "The debugging is auto-stopped when running 'Docker .Net Core Attach (Preview)' configuration with alpine image"
**OS:** Windows
**Build Version:** [20200401.21](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=17137&view=results)
**.NET Core SDK:** 5.0.100-preview.1.20155.7

**Repro Steps:**
1. Create a .NET Core MVC project by "dotnet new mvc --no-https".
2. Open the project in VS Code --> Prompt to add the required assets --> Yes
3. F1 --> Type and select "Docker: Add Docker Files to Work