[2019-06-19 01:50] PureKrome commented on #883
Loving it!

![image](https://user-images.githubusercontent.com/899878/59731136-57ef0300-9288-11e9-8ddc-90c050ea3516.png)

Thanks kindly for this!

I'm assuming that when this extensions goes from `alpha` to normal-public-release, VSCode will pick this up and update?

[2019-06-19 01:51] vvvsir opened #1018 "vscode-docker.images.selectGroupBy"
Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: darwin
Product: Visual Studio Code
Product Version: 1.35.1
Language: zh-cn

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-19 02:42] lavender1983 opened #1019 "command 'vscode-docker.images.selectGroupBy' already exists"
Repro steps:

1.
2.

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: linux
Product: Visual Studio Code
Product Version: 1.35.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-19 02:49] jacsonFJ opened #1020 "Error Message: command 'vscode-docker.images.selectGroupBy' already exists"
Repro steps:

1.
2.

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: win32
Product: Visual Studio Code
Product Version: 1.35.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-19 02:57] rrmistry commented on #1008
@EricJizbaMSFT , a clean uninstall -> reload VS Code -> install of `ms-azuretools.vscode-docker` seems to have resolved the issue. Thank you!

[2019-06-19 03:26] alfaodin opened #1021 "Random error"
Repro steps:

1.
2.

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: win32
Product: Visual Studio Code
Product Version: 1.35.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-19 03:35] EricJizbaMSFT commented on #1018
@vvvsir please see https://github.com/microsoft/vscode-docker/issues/1008#issuecomment-503339418

[2019-06-19 03:35] #1018 closed

[2019-06-19 03:35] EricJizbaMSFT commented on #1019
@lavender1983 please see  please see https://github.com/microsoft/vscode-docker/issues/1008#issuecomment-503339418

[2019-06-19 03:35] #1019 closed

[2019-06-19 03:36] EricJizbaMSFT commented on #1020
@jacsonFJ please see  please see https://github.com/microsoft/vscode-docker/issues/1008#issuecomment-503339418

[2019-06-19 03:36] #1020 closed

[2019-06-19 03:36] EricJizbaMSFT commented on #1021
@alfaodin please see https://github.com/microsoft/vscode-docker/issues/1008#issuecomment-503339418

[2019-06-19 03:36] #1021 closed

[2019-06-19 04:16] christseng89 opened #1022 "Unknown error"
Repro steps:

1.
2.

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: win32
Product: Visual Studio Code
Product Version: 1.35.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-19 05:01] kinl99 opened #1023 "On open: command 'vscode-docker.images.selectGroupBy' already exists"
Repro steps:

1. Open VSCode
2.

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: win32
Product: Visual Studio Code
Product Version: 1.35.0
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-19 05:52] mdroshan25 opened #1024 "docker issue"
Repro steps:

1.
2.

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: win32
Product: Visual Studio Code
Product Version: 1.35.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-19 05:56] MashaSavelenko opened #1025 "vscode-docker already exist"
Repro steps:

1.
2.

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: linux
Product: Visual Studio Code
Product Version: 1.35.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-19 06:09] mnakhaei opened #1026 "vscode automatic bug report"
Repro steps:

1.
2.

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: linux
Product: Visual Studio Code
Product Version: 1.35.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-19 06:11] letanthang opened #1027 "vscode docker plugin errror"
Repro steps:

1.
2.

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: darwin
Product: Visual Studio Code
Product Version: 1.35.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-19 06:21] sanudatta11 opened #1028 "Docker Activate Issue"
Repro steps:

1.
2.

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: win32
Product: Visual Studio Code
Product Version: 1.35.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-19 06:26] shootermv opened #1029 "Error Message: command 'vscode-docker.images.selectGroupBy' already exists"
Repro steps:

1.
2.

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: win32
Product: Visual Studio Code
Product Version: 1.35.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-19 06:53] pavsyk opened #1030 "Docker extension issue"
Repro steps:

1.
2.

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: win32
Product: Visual Studio Code
Product Version: 1.35.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-19 06:56] Nancy-Chauhan opened #1031 "Remove any private information before submitting"
Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: linux
Product: Visual Studio Code
Product Version: 1.33.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-19 07:26] aurabinary opened #1032 "auto issue with docker"
Repro steps:

1.
2.

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: win32
Product: Visual Studio Code
Product Version: 1.35.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-19 07:45] zhabba opened #1033 "VSCode start error"
Repro steps:

1.
2.

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: linux
Product: Visual Studio Code
Product Version: 1.35.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-19 07:54] SpaceNet opened #1034 "command 'vscode-docker.images.selectGroupBy' already exists V"
Repro steps:

1.
2.

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: darwin
Product: Visual Studio Code
Product Version: 1.35.1
Language: ja

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-19 08:38] adhityan opened #1035 "Docker.activate failed"
Repro steps:
Unknown. It is not consistent.

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: darwin
Product: Visual Studio Code
Product Version: 1.35.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-19 08:41] adhityan commented on #1035
Potential duplicate of [this](https://github.com/microsoft/vscode-docker/issues/1008)

[2019-06-19 08:44] ChoiJY opened #1036 "Error"
Repro steps:

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: win32
Product: Visual Studio Code
Product Version: 1.35.1
Language: en

[2019-06-19 08:51] klj890 opened #1037 "???"
Repro steps:

1.
2.

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: darwin
Product: Visual Studio Code
Product Version: 1.35.0
Language: zh-cn

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-19 09:11] geekdenz opened #1038 "Java Project with Dockerfile"
Repro steps:

1. open vscode insiders from command line with Java (Gradle) project which also has a Dockerfile

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: linux
Product: Visual Studio Code - Insiders
Product Version: 1.36.0-insider
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-19 09:12] dbachinin opened #1039 "auto issue from vcode"
Repro steps:

1.
2.

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: linux
Product: Visual Studio Code
Product Version: 1.35.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-19 09:23] rdgacarvalho opened #1040 "vcode-docker"
Repro steps:

1.
2.

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: darwin
Product: Visual Studio Code
Product Version: 1.34.0
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-19 09:31] lferro9000 opened #1041 "Creation of docker compose triggers install of docker extension"
Repro steps:

1. Create a file called "docker-compose.yml"

Expected behavior is that the file is recognized as a docker related file.

Actual result is triggering the installation of docker extension (even if it was already present), and resulting in this error.

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS

[2019-06-19 09:59] khalilMejri opened #1042 "Crash Alert"
Repro steps:

1.
2.

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: win32
Product: Visual Studio Code
Product Version: 1.35.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-19 10:45] ViceIce commented on #1029
duplicate of #1008

[2019-06-19 10:52] denchistyakov opened #1043 "Error Message: command 'vscode-docker.images.selectGroupBy' already exists"
Repro steps:

1.
2.

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: darwin
Product: Visual Studio Code
Product Version: 1.35.0
Language: ru

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-19 11:40] byteplus opened #1044 "Auto"
Repro steps:

1.
2.

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: darwin
Product: Visual Studio Code
Product Version: 1.34.0
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-19 11:57] the-creature opened #1045 "not sure if is a real issue, but worth mentioning"
Repro steps:

1.
2.

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: darwin
Product: Visual Studio Code
Product Version: 1.35.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-19 12:04] GustavoMS97 opened #1046 "VSCode Docker extension error"
Repro steps:

1.install docker extension
2.Reload vscode

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: linux
Product: Visual Studio Code
Product Version: 1.35.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-19 12:12] mkzebra opened #1047 "selectGroupBy already exists"
Repro steps:

1.
2.

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: win32
Product: Visual Studio Code
Product Version: 1.35.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-19 12:24] Hipska commented on #1047
Duplicate #1008

[2019-06-19 12:25] Hipska commented on #1046
Duplicates #1008.

[2019-06-19 12:26] Hipska commented on #1045
Duplicates #1008.

[2019-06-19 12:26] Hipska commented on #1044
Duplicates #1008.

[2019-06-19 12:26] Hipska commented on #1043
Duplicates #1008.

[2019-06-19 12:26] Hipska commented on #1042
Duplicates #1008.

[2019-06-19 12:26] Hipska commented on #1040
Duplicates #1008.

[2019-06-19 12:28] Hipska commented on #1039
Duplicates #1008.

[2019-06-19 12:28] Hipska commented on #1038
Duplicates #1008.

[2019-06-19 12:28] Hipska commented on #1037
Duplicates #1008.

[2019-06-19 12:28] Hipska commented on #1036
Duplicates #1008.

[2019-06-19 12:29] Hipska commented on #1034
Duplicates #1008.

[2019-06-19 12:29] Hipska commented on #1033
Duplicates #1008.

[2019-06-19 12:29] Hipska commented on #1032
Duplicates #1008.

[2019-06-19 12:29] Hipska commented on #1031
Duplicates #1008.

[2019-06-19 12:29] Hipska commented on #1030
Duplicates #1008.

[2019-06-19 12:29] Hipska commented on #1028
Duplicates #1008.

[2019-06-19 12:29] Hipska commented on #1027
Duplicates #1008.

[2019-06-19 12:30] Hipska commented on #1026
Duplicates #1008.

[2019-06-19 12:30] Hipska commented on #1025
Duplicates #1008.

[2019-06-19 12:31] Hipska commented on #1024
Duplicates #1008.

[2019-06-19 12:31] Hipska commented on #1023
Duplicates #1008.

[2019-06-19 12:31] Hipska commented on #1022
Duplicates #1008.

[2019-06-19 13:00] arush0 commented on #1008
I followed @rrmistry steps but I still have issues with the extension. vscode recommends the extension even though I have it installed.
<img width="437" alt="image" src="https://user-images.githubusercontent.com/32102766/59767582-9aa4e100-9270-11e9-8d32-d919469d60d4.png">

[2019-06-19 13:04] AJ-7885 opened #1048 "Error on docker plugin integration"
Repro steps:

1.
2.

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: darwin
Product: Visual Studio Code
Product Version: 1.35.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-19 13:31] Valavanca opened #1049 "UnsatisfiableError: The following specifications were found to be in conflict:"
Repro steps:

1.
2.

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: linux
Product: Visual Studio Code
Product Version: 1.35.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-19 13:40] al-philipmeith opened #1050 "Sure"
Repro steps:

1.
2.

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: darwin
Product: Visual Studio Code
Product Version: 1.35.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-19 13:47] gustavomassa opened #1051 "'vscode-docker.images.selectGroupBy' already exists"
Repro steps:

1. Lock the computer white vscode opened
2. Unlock the computer

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: linux
Product: Visual Studio Code
Product Version: 1.35.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-19 13:57] rrmistry commented on #1008
Hello @arush0 , I was not precise in my comment. I had uninstalled the docker extension and not VS Code. As far as I understand, extensions do not get uninstalled when you uninstall VS code.

My apologies for the unintentional misdirection.

[2019-06-19 14:14] #1042 closed

[2019-06-19 14:17] arush0 commented on #1008
@rrmistry No, you were clear enough. I did exactly that. I uninstalled the docker extension and I verified the extension was gone under my `~/.vscode` directory. Even after reloading and re-installing I still see the issue.

[2019-06-19 14:34] wangyiyang opened #1052 "IMPORTANT: Please be sure to remove any private information before submitting"
Repro steps:

1.
2.

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: darwin
Product: Visual Studio Code
Product Version: 1.35.0
Language: zh-cn

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-19 15:07] tman12345 opened #1053 "docker issue"
Repro steps:

1.
2.

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: win32
Product: Visual Studio Code
Product Version: 1.35.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-19 15:36] fiveisprime commented on #1008
@arush0 We have an update to VS Code core coming to correct the extension recommendation. Sorry about that!

Right now, the recommendation should fail to find and install the old version of the extension - that's what I'm currently seeing.

[2019-06-19 15:37] halturin opened #1054 "Error Message: command 'vscode-docker.images.selectGroupBy' already exists"
Repro steps:

1.
2.

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: linux
Product: Visual Studio Code
Product Version: 1.35.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-19 15:39] wesleytodd commented on #1054
Same.  I was doing nothing related to docker or this extension.  The whole editor stalled for about 15s then replayed all of the typing I was doing while it was stalled and this error showed in the bottom right.

[2019-06-19 15:47] fiveisprime commented on #1054
Sorry for the issue! I updated the publisher ID and it caused some conflicts for existing users. 😢

Uninstalling then reinstalling the extension will fix it, but you may also see some recommendations when working with docker files that point to the old extension. Please don't install the recommended extension as that will cause the same issue again - it should be removed from the marketplace by no

[2019-06-19 15:47] #1054 closed

[2019-06-19 15:47] fiveisprime commented on #1053
Sorry for the issue! I updated the publisher ID and it caused some conflicts for existing users. 😢

Uninstalling then reinstalling the extension will fix it, but you may also see some recommendations when working with docker files that point to the old extension. Please don't install the recommended extension as that will cause the same issue again - it should be removed from the marketplace by no

[2019-06-19 15:47] #1053 closed

[2019-06-19 15:48] fiveisprime commented on #1052
Sorry for the issue! I updated the publisher ID and it caused some conflicts for existing users. 😢

Uninstalling then reinstalling the extension will fix it, but you may also see some recommendations when working with docker files that point to the old extension. Please don't install the recommended extension as that will cause the same issue again - it should be removed from the marketplace by no

[2019-06-19 15:48] #1052 closed

[2019-06-19 15:48] fiveisprime commented on #1051
Sorry for the issue! I updated the publisher ID and it caused some conflicts for existing users. 😢

Uninstalling then reinstalling the extension will fix it, but you may also see some recommendations when working with docker files that point to the old extension. Please don't install the recommended extension as that will cause the same issue again - it should be removed from the marketplace by no

[2019-06-19 15:48] #1051 closed

[2019-06-19 15:48] fiveisprime commented on #1050
Sorry for the issue! I updated the publisher ID and it caused some conflicts for existing users. 😢

Uninstalling then reinstalling the extension will fix it, but you may also see some recommendations when working with docker files that point to the old extension. Please don't install the recommended extension as that will cause the same issue again - it should be removed from the marketplace by no

[2019-06-19 15:48] #1050 closed

[2019-06-19 15:48] fiveisprime commented on #1049
Sorry for the issue! I updated the publisher ID and it caused some conflicts for existing users. 😢

Uninstalling then reinstalling the extension will fix it, but you may also see some recommendations when working with docker files that point to the old extension. Please don't install the recommended extension as that will cause the same issue again - it should be removed from the marketplace by no

[2019-06-19 15:48] #1049 closed

[2019-06-19 15:48] fiveisprime commented on #1048
Sorry for the issue! I updated the publisher ID and it caused some conflicts for existing users. 😢

Uninstalling then reinstalling the extension will fix it, but you may also see some recommendations when working with docker files that point to the old extension. Please don't install the recommended extension as that will cause the same issue again - it should be removed from the marketplace by no

[2019-06-19 15:48] #1048 closed

[2019-06-19 15:49] fiveisprime commented on #1047
Sorry for the issue! I updated the publisher ID and it caused some conflicts for existing users. 😢

Uninstalling then reinstalling the extension will fix it, but you may also see some recommendations when working with docker files that point to the old extension. Please don't install the recommended extension as that will cause the same issue again - it should be removed from the marketplace by no

[2019-06-19 15:49] #1047 closed

[2019-06-19 15:49] fiveisprime commented on #1046
Sorry for the issue! I updated the publisher ID and it caused some conflicts for existing users. 😢

Uninstalling then reinstalling the extension will fix it, but you may also see some recommendations when working with docker files that point to the old extension. Please don't install the recommended extension as that will cause the same issue again - it should be removed from the marketplace by no

[2019-06-19 15:49] #1046 closed

[2019-06-19 15:50] fiveisprime commented on #1045
Yeah, it's a real issue and I'm incredibly sorry. I updated the publisher ID and it caused some conflicts for existing users. 😢

Uninstalling then reinstalling the extension will fix it, but you may also see some recommendations when working with docker files that point to the old extension. Please don't install the recommended extension as that will cause the same issue again - it should be remov

[2019-06-19 15:50] #1045 closed

[2019-06-19 15:50] fiveisprime commented on #1044
Sorry for the issue! I updated the publisher ID and it caused some conflicts for existing users. 😢

Uninstalling then reinstalling the extension will fix it, but you may also see some recommendations when working with docker files that point to the old extension. Please don't install the recommended extension as that will cause the same issue again - it should be removed from the marketplace by no

[2019-06-19 15:50] #1044 closed

[2019-06-19 15:50] fiveisprime commented on #1043
Sorry for the issue! I updated the publisher ID and it caused some conflicts for existing users. 😢

Uninstalling then reinstalling the extension will fix it, but you may also see some recommendations when working with docker files that point to the old extension. Please don't install the recommended extension as that will cause the same issue again - it should be removed from the marketplace by no

[2019-06-19 15:50] #1043 closed

[2019-06-19 15:51] fiveisprime commented on #1040
Sorry for the issue! I updated the publisher ID and it caused some conflicts for existing users. 😢

Uninstalling then reinstalling the extension will fix it, but you may also see some recommendations when working with docker files that point to the old extension. Please don't install the recommended extension as that will cause the same issue again - it should be removed from the marketplace by no

[2019-06-19 15:51] #1040 closed

[2019-06-19 15:52] fiveisprime commented on #1039
Sorry for the issue! I updated the publisher ID and it caused some conflicts for existing users. 😢

Uninstalling then reinstalling the extension will fix it, but you may also see some recommendations when working with docker files that point to the old extension. Please don't install the recommended extension as that will cause the same issue again - it should be removed from the marketplace by no

[2019-06-19 15:52] #1039 closed

[2019-06-19 15:52] fiveisprime commented on #1038
Sorry for the issue! I updated the publisher ID and it caused some conflicts for existing users. 😢

Uninstalling then reinstalling the extension will fix it, but you may also see some recommendations when working with docker files that point to the old extension. Please don't install the recommended extension as that will cause the same issue again - it should be removed from the marketplace by no

[2019-06-19 15:52] #1038 closed

[2019-06-19 15:52] fiveisprime commented on #1037
Sorry for the issue! I updated the publisher ID and it caused some conflicts for existing users. 😢

Uninstalling then reinstalling the extension will fix it, but you may also see some recommendations when working with docker files that point to the old extension. Please don't install the recommended extension as that will cause the same issue again - it should be removed from the marketplace by no

[2019-06-19 15:52] #1037 closed

[2019-06-19 15:52] fiveisprime commented on #1036
Sorry for the issue! I updated the publisher ID and it caused some conflicts for existing users. 😢

Uninstalling then reinstalling the extension will fix it, but you may also see some recommendations when working with docker files that point to the old extension. Please don't install the recommended extension as that will cause the same issue again - it should be removed from the marketplace by no

[2019-06-19 15:52] #1036 closed

[2019-06-19 15:53] fiveisprime commented on #1035
Sorry for the issue! I updated the publisher ID and it caused some conflicts for existing users. 😢

Uninstalling then reinstalling the extension will fix it, but you may also see some recommendations when working with docker files that point to the old extension. Please don't install the recommended extension as that will cause the same issue again - it should be removed from the marketplace by no

[2019-06-19 15:53] #1035 closed

[2019-06-19 15:53] fiveisprime commented on #1034
Sorry for the issue! I updated the publisher ID and it caused some conflicts for existing users. 😢

Uninstalling then reinstalling the extension will fix it, but you may also see some recommendations when working with docker files that point to the old extension. Please don't install the recommended extension as that will cause the same issue again - it should be removed from the marketplace by no

[2019-06-19 15:53] #1034 closed

[2019-06-19 15:53] fiveisprime commented on #1033
Sorry for the issue! I updated the publisher ID and it caused some conflicts for existing users. 😢

Uninstalling then reinstalling the extension will fix it, but you may also see some recommendations when working with docker files that point to the old extension. Please don't install the recommended extension as that will cause the same issue again - it should be removed from the marketplace by no

[2019-06-19 15:53] #1033 closed

[2019-06-19 15:53] fiveisprime commented on #1032
Sorry for the issue! I updated the publisher ID and it caused some conflicts for existing users. 😢

Uninstalling then reinstalling the extension will fix it, but you may also see some recommendations when working with docker files that point to the old extension. Please don't install the recommended extension as that will cause the same issue again - it should be removed from the marketplace by no

[2019-06-19 15:53] #1032 closed

[2019-06-19 15:53] fiveisprime commented on #1031
Sorry for the issue! I updated the publisher ID and it caused some conflicts for existing users. 😢

Uninstalling then reinstalling the extension will fix it, but you may also see some recommendations when working with docker files that point to the old extension. Please don't install the recommended extension as that will cause the same issue again - it should be removed from the marketplace by no

[2019-06-19 15:53] #1031 closed

[2019-06-19 15:54] fiveisprime commented on #1030
Sorry for the issue! I updated the publisher ID and it caused some conflicts for existing users. 😢

Uninstalling then reinstalling the extension will fix it, but you may also see some recommendations when working with docker files that point to the old extension. Please don't install the recommended extension as that will cause the same issue again - it should be removed from the marketplace by no

[2019-06-19 15:54] #1030 closed

[2019-06-19 15:54] fiveisprime commented on #1029
Sorry for the issue! I updated the publisher ID and it caused some conflicts for existing users. 😢

Uninstalling then reinstalling the extension will fix it, but you may also see some recommendations when working with docker files that point to the old extension. Please don't install the recommended extension as that will cause the same issue again - it should be removed from the marketplace by no

[2019-06-19 15:54] #1029 closed

[2019-06-19 15:54] fiveisprime commented on #1028
Sorry for the issue! I updated the publisher ID and it caused some conflicts for existing users. 😢

Uninstalling then reinstalling the extension will fix it, but you may also see some recommendations when working with docker files that point to the old extension. Please don't install the recommended extension as that will cause the same issue again - it should be removed from the marketplace by no

[2019-06-19 15:54] #1028 closed

[2019-06-19 15:54] fiveisprime commented on #1027
Sorry for the issue! I updated the publisher ID and it caused some conflicts for existing users. 😢

Uninstalling then reinstalling the extension will fix it, but you may also see some recommendations when working with docker files that point to the old extension. Please don't install the recommended extension as that will cause the same issue again - it should be removed from the marketplace by no

[2019-06-19 15:54] #1027 closed

[2019-06-19 15:55] fiveisprime commented on #1026
Sorry for the issue! I updated the publisher ID and it caused some conflicts for existing users. 😢

Uninstalling then reinstalling the extension will fix it, but you may also see some recommendations when working with docker files that point to the old extension. Please don't install the recommended extension as that will cause the same issue again - it should be removed from the marketplace by no

[2019-06-19 15:55] #1026 closed

[2019-06-19 15:55] fiveisprime commented on #1025
Sorry for the issue! I updated the publisher ID and it caused some conflicts for existing users. 😢

Uninstalling then reinstalling the extension will fix it, but you may also see some recommendations when working with docker files that point to the old extension. Please don't install the recommended extension as that will cause the same issue again - it should be removed from the marketplace by no

[2019-06-19 15:55] #1025 closed

[2019-06-19 15:55] fiveisprime commented on #1024
Sorry for the issue! I updated the publisher ID and it caused some conflicts for existing users. 😢

Uninstalling then reinstalling the extension will fix it, but you may also see some recommendations when working with docker files that point to the old extension. Please don't install the recommended extension as that will cause the same issue again - it should be removed from the marketplace by no

[2019-06-19 15:55] #1024 closed

[2019-06-19 15:56] fiveisprime commented on #1022
Sorry for the issue! I updated the publisher ID and it caused some conflicts for existing users. 😢

Uninstalling then reinstalling the extension will fix it, but you may also see some recommendations when working with docker files that point to the old extension. Please don't install the recommended extension as that will cause the same issue again - it should be removed from the marketplace by no

[2019-06-19 15:56] #1022 closed

[2019-06-19 15:56] fiveisprime commented on #1023
Sorry for the issue! I updated the publisher ID and it caused some conflicts for existing users. 😢

Uninstalling then reinstalling the extension will fix it, but you may also see some recommendations when working with docker files that point to the old extension. Please don't install the recommended extension as that will cause the same issue again - it should be removed from the marketplace by no

[2019-06-19 15:56] #1023 closed

[2019-06-19 15:58] fiveisprime commented on #1041
Sorry for the issue! I updated the publisher ID and it caused some unexpected conflicts. 😢

We've updated the recommendation in VS Code core and I'll work to get that patch out ASAP so the recommendations are correct/don't show up when you already have the extension installed.

See #1008 for more information.

[2019-06-19 15:58] #1041 closed

[2019-06-19 16:05] szelenkov opened #1055 "command 'vscode-docker.images.selectGroupBy' already exists"
Repro steps:

1.
2.

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: win32
Product: Visual Studio Code - Insiders
Product Version: 1.36.0-insider
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-19 16:17] JackieJ opened #1056 "vscode-docker.images.selectGroupBy"
Repro steps:

1.
2.

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: darwin
Product: Visual Studio Code
Product Version: 1.35.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-19 16:30] fiveisprime commented on #1008
The recommendation updates will be in Insiders either today or tomorrow and will ship in the next stable release (early July).

Again, so sorry for the issues.

[2019-06-19 16:49] stuartthomson commented on #1002
@EricJizbaMSFT I'll take a look  at this, thanks for the heads up!

[2019-06-19 16:54] pmgesualdi opened #1057 "issue"
Repro steps:

1.
2.

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: linux
Product: Visual Studio Code
Product Version: 1.35.0
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-19 17:08] arush0 commented on #1008
But why would that prevent the new extension from working? I don't care so much about the pop up, but the extension isn't working, there's no syntax highlighting, no formatting.

[2019-06-19 17:15] #1057 closed

[2019-06-19 17:26] nturinski commented on #1055
@szelenkov we just changed the publisher from "PeterJausovec" to "ms-azuretools". It's possible your machine still has an extension under the old publisher.

To fix this, you can go to your "Extensions" page and uninstall v0.6.2 of the extension with "PeterJausovec" as the publisher:  Then reinstall the extension from "Extension" page and hopefully you should be good to go.

Closing this is a dupl

[2019-06-19 17:26] #1055 closed

[2019-06-19 17:26] mwegit opened #1058 "vscode is freezing often"
Repro steps:

1.
2.

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: darwin
Product: Visual Studio Code
Product Version: 1.35.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-19 17:27] nturinski commented on #1058
@mwegit we just changed the publisher from "PeterJausovec" to "ms-azuretools". It's possible your machine still has an extension under the old publisher.

To fix this, you can go to your "Extensions" page and uninstall v0.6.2 of the extension with "PeterJausovec" as the publisher: Then reinstall the extension from "Extension" page and hopefully you should be good to go.

Closing this is a duplicat

[2019-06-19 17:27] #1058 closed

[2019-06-19 17:28] nturinski commented on #1056
@JackieJwe just changed the publisher from "PeterJausovec" to "ms-azuretools". It's possible your machine still has an extension under the old publisher.

To fix this, you can go to your "Extensions" page and uninstall v0.6.2 of the extension with "PeterJausovec" as the publisher: Then reinstall the extension from "Extension" page and hopefully you should be good to go.

Closing this is a duplicat

[2019-06-19 17:28] #1056 closed

[2019-06-19 17:36] IEvangelist commented on #1008
I'm experiencing the same issue and I have a clean install of vscode and the following extensions:

[code]

[2019-06-19 17:37] IEvangelist commented on #1008
This doesn't seem to be the issue. I am experiencing it from a clean install.

[2019-06-19 17:44] markdall opened #1059 "vscode-docker.images.selectGroupBy' already exists"
Repro steps:

1. Simply alt-tabbed into the program.

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: win32
Product: Visual Studio Code
Product Version: 1.35.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-19 17:45] nturinski commented on #1059
@markdall we just changed the publisher from "PeterJausovec" to "ms-azuretools". It's possible your machine still has an extension under the old publisher.

To fix this, you can go to your "Extensions" page and uninstall v0.6.2 of the extension with "PeterJausovec" as the publisher: Then reinstall the extension from "Extension" page and hopefully you should be good to go.

Closing this is a duplic

[2019-06-19 17:45] #1059 closed

[2019-06-19 18:19] #961 closed

[2019-06-19 18:23] himanshug82 opened #1060 "Error"
Repro steps:

1.
2.

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: darwin
Product: Visual Studio Code
Product Version: 1.35.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-19 18:30] nturinski commented on #1060
@himanshug82 we just changed the publisher from "PeterJausovec" to "ms-azuretools". It's possible your machine still has an extension under the old publisher.

To fix this, you can go to your "Extensions" page and uninstall v0.6.2 of the extension with "PeterJausovec" as the publisher: Then reinstall the extension from "Extension" page and hopefully you should be good to go.

Closing this is a dup

[2019-06-19 18:30] #1060 closed

[2019-06-19 18:31] datacore-despinosa opened #1061 "command 'vscode-docker.images.selectGroupBy' already exists"
Repro steps:

1.
2.

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: win32
Product: Visual Studio Code
Product Version: 1.35.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-19 18:31] vanessabandeira opened #1062 "docker report"
Repro steps:

1.
2.

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: win32
Product: Visual Studio Code
Product Version: 1.35.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-19 18:31] nturinski commented on #1061
@datacore-despinosa we just changed the publisher from "PeterJausovec" to "ms-azuretools". It's possible your machine still has an extension under the old publisher.

To fix this, you can go to your "Extensions" page and uninstall v0.6.2 of the extension with "PeterJausovec" as the publisher: Then reinstall the extension from "Extension" page and hopefully you should be good to go.

Closing this i

[2019-06-19 18:31] #1061 closed

[2019-06-19 18:32] nturinski commented on #1062
@vanessabandeira we just changed the publisher from "PeterJausovec" to "ms-azuretools". It's possible your machine still has an extension under the old publisher.

To fix this, you can go to your "Extensions" page and uninstall v0.6.2 of the extension with "PeterJausovec" as the publisher: Then reinstall the extension from "Extension" page and hopefully you should be good to go.

Closing this is a

[2019-06-19 18:32] #1062 closed

[2019-06-19 19:22] gqsmoov opened #1063 "Get this error when I run docker-compose up"
Repro steps:

1.
2.

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: darwin
Product: Visual Studio Code
Product Version: 1.35.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-19 19:27] guiacarneiro opened #1064 "Random error message"
Repro steps:

1.
2.

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: linux
Product: Visual Studio Code
Product Version: 1.35.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-19 19:35] rubo-21 opened #1065 "got an error"
Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: darwin
Product: Visual Studio Code
Product Version: 1.35.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-19 19:57] sKudryashov opened #1066 "Got an error"
Repro steps:

1.
2.

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: darwin
Product: Visual Studio Code
Product Version: 1.35.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-19 20:16] nturinski commented on #1063
@gqsmoov we just changed the publisher from "PeterJausovec" to "ms-azuretools". It's possible your machine still has an extension under the old publisher.

To fix this, you can go to your "Extensions" page and uninstall v0.6.2 of the extension with "PeterJausovec" as the publisher: Then reinstall the extension from "Extension" page and hopefully you should be good to go.

Closing this is a duplica

[2019-06-19 20:16] #1063 closed

[2019-06-19 20:16] nturinski commented on #1064
@guiacarneiro we just changed the publisher from "PeterJausovec" to "ms-azuretools". It's possible your machine still has an extension under the old publisher.

To fix this, you can go to your "Extensions" page and uninstall v0.6.2 of the extension with "PeterJausovec" as the publisher: Then reinstall the extension from "Extension" page and hopefully you should be good to go.

Closing this is a du

[2019-06-19 20:16] #1064 closed

[2019-06-19 20:17] nturinski commented on #1065
@rubo-21 we just changed the publisher from "PeterJausovec" to "ms-azuretools". It's possible your machine still has an extension under the old publisher.

To fix this, you can go to your "Extensions" page and uninstall v0.6.2 of the extension with "PeterJausovec" as the publisher: Then reinstall the extension from "Extension" page and hopefully you should be good to go.

Closing this is a duplica

[2019-06-19 20:17] #1065 closed

[2019-06-19 20:17] nturinski commented on #1066
@sKudryashov we just changed the publisher from "PeterJausovec" to "ms-azuretools". It's possible your machine still has an extension under the old publisher.

To fix this, you can go to your "Extensions" page and uninstall v0.6.2 of the extension with "PeterJausovec" as the publisher: Then reinstall the extension from "Extension" page and hopefully you should be good to go.

Closing this is a dup

[2019-06-19 20:17] #1066 closed

[2019-06-19 21:46] atomi commented on #914
@EricJizbaMSFT just to confirm your update works as advertised! Thank you.

[2019-06-19 22:58] jcintra opened #1068 "Error when using Docker addon"
Repro steps:

1.
2.

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: win32
Product: Visual Studio Code
Product Version: 1.35.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-19 23:33] onsentamago opened #1069 "error report"
Repro steps:

1.
2.

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: linux
Product: Visual Studio Code
Product Version: 1.35.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-20 00:16] nturinski commented on #1068
@jcintra we just changed the publisher from "PeterJausovec" to "ms-azuretools". It's possible your machine still has an extension under the old publisher.

To fix this, please update to v0.6.4.  The error message should stop appearing then.

Closing this is a duplicate of #1008.

[2019-06-20 00:16] #1068 closed

[2019-06-20 00:16] nturinski commented on #1069
@onsentamago we just changed the publisher from "PeterJausovec" to "ms-azuretools". It's possible your machine still has an extension under the old publisher.

To fix this, please update to v0.6.4.  The error message should stop appearing then.

Closing this is a duplicate of #1008.

[2019-06-20 00:16] #1069 closed

[2019-06-20 02:28] guoqn opened #1070 "vscode tell me to report this issue"
Repro steps:

1.
2.

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: darwin
Product: Visual Studio Code
Product Version: 1.35.1
Language: zh-cn

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-20 04:40] youngdonkim opened #1071 "docker error"
Repro steps:

1.
2.

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: darwin
Product: Visual Studio Code
Product Version: 1.35.0
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-20 06:15] kirachen1991 opened #1072 "error report"
Repro steps:

1.
2.

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: darwin
Product: Visual Studio Code
Product Version: 1.35.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-20 10:43] jiayaoO3O commented on #954
@benc-uk Hello, if my remote host has docker installed and the local computer is not installed, can I use remote-ssh to connect to the remote development server and then use the docker of the remote server by the remote-container mode,so that it works like a local docker?Does the remote-container mode require docker to be installed on the local computer?

[2019-06-20 14:09] Chuxel commented on #954
The Docker CLI is required locally to use the Remote - Containers extension.  However, you can use the Docker extension with Remote - SSH without the extension being local using "remote.extensionKind" as described above.

See [here for details](https://code.visualstudio.com/docs/remote/containers-advanced#_developing-inside-a-container-on-a-remote-docker-host) on using Remote - Containers on a rem

[2019-06-20 14:32] vladimircezar opened #1073 "Error Message: command 'vscode-docker.images.selectGroupBy' already exists"
Repro steps:

1.
2.

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: darwin
Product: Visual Studio Code
Product Version: 1.35.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-20 15:12] jiayaoO3O commented on #954
But the function I want is: the **local computer** does not install docker, and the **remote computer** installs docker. After my local computer connects to the remote computer through **remote-ssh**, the **remote-container** function is used on the remote computer,the behavior is the same as using **remote-container** on the **local computer**

[2019-06-20 16:10] ovenguo opened #1074 "Launching server using command dotnet failed"
Repro steps:

1.
2.

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: darwin
Product: Visual Studio Code
Product Version: 1.35.0
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-20 16:11] #1074 closed

[2019-06-20 16:35] tusharbudhe0302 commented on #857
This issue only comes when you use Docker in a VPN. I come out of the VPN and connect to direct network It works.

[2019-06-20 16:35] #857 closed

[2019-06-20 16:50] pzelnip opened #1075 ""The Docker extension is recommended" even though it's already installed"
Issue Type: <b>Bug</b>

Even though I have the Docker extension already installed, whenever I open a Dockerfile in VS Code I get the "The 'Docker' extension is recommended for this file type." dialog showing up.

I've tried uninstalling & reinstalling the Docker extension, and same thing keeps happening.

Extension version: 0.6.4
VS Code version: Code 1.35.1 (c7d83e57cd18f18026a8162d042843bda1bcf2

[2019-06-20 17:59] nturinski commented on #1075
Hi @pzelnip,

Thanks for reporting this.  There have been some issues with the Docker extension because we changed the publisher name.  This bug should be fixed in [VS Code Insiders](https://code.visualstudio.com/insiders/) and should be released in the next stable version of VS Code. Sorry for the notification, I know it's super annoying.

[2019-06-20 18:01] nturinski commented on #1073
@vladimircezar we just changed the publisher from "PeterJausovec" to "ms-azuretools". It's possible your machine still has an extension under the old publisher.

To fix this, please update to v0.6.4. The error message should stop appearing then.

Closing this is a duplicate of #1008.

[2019-06-20 18:01] #1073 closed

[2019-06-20 18:01] nturinski commented on #1072
@kirachen1991 we just changed the publisher from "PeterJausovec" to "ms-azuretools". It's possible your machine still has an extension under the old publisher.

To fix this, please update to v0.6.4. The error message should stop appearing then.

Closing this is a duplicate of #1008.

[2019-06-20 18:01] #1072 closed

[2019-06-20 18:01] nturinski commented on #1071
@youngdonkim we just changed the publisher from "PeterJausovec" to "ms-azuretools". It's possible your machine still has an extension under the old publisher.

To fix this, please update to v0.6.4. The error message should stop appearing then.

Closing this is a duplicate of #1008.

[2019-06-20 18:01] #1071 closed

[2019-06-20 18:01] nturinski commented on #1070
@guoqn we just changed the publisher from "PeterJausovec" to "ms-azuretools". It's possible your machine still has an extension under the old publisher.

To fix this, please update to v0.6.4. The error message should stop appearing then.

Closing this is a duplicate of #1008.

[2019-06-20 18:01] #1070 closed

[2019-06-21 11:12] v-xuanzh opened #1076 "The image icons are inconsistent between the Images node and Registries node"
**OS**: Mac
**Extension Version:** [20190620.1](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=7019)

**Steps to reproduce:**
1. Check the icons between the Images node and Registries node.

**Expect Experience:**

These image icons are consistent.

**Actual Experience:**

These image icons are inconsistent.

![image](https://user-images.githubusercontent.com/34729022/59918836-7

[2019-06-21 11:20] v-xuanzh opened #1077 "Docker extension cannot be used after running the Virtual Box"
**OS**: Mac
**Extension Version:** [20190620.1](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=7019)

**Steps to reproduce:**
1. Install Virtualbox https://www.virtualbox.org/ and run it.
2. Create a docker-machine using virtualbox with this command:
`docker-machine create --driver=virtualbox dev`
3. Output your machine's settings with this command
`docker-machine env dev`
4. Mo

[2019-06-21 12:22] rcjsuen commented on #952
I've opened #1078 to update the language server to 0.0.21.

[2019-06-21 12:28] abdalajpub opened #1079 "issue"
Repro steps:

1.
2.

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: linux
Product: Visual Studio Code
Product Version: 1.35.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-21 16:16] nturinski commented on #1079
@abdalajpub we just changed the publisher from "PeterJausovec" to "ms-azuretools". It's possible your machine still has an extension under the old publisher.

To fix this, please update to v0.6.4. The error message should stop appearing then.

Closing this is a duplicate of #1008.

[2019-06-21 16:16] #1079 closed

[2019-06-21 20:03] #952 closed

[2019-06-21 20:16] EricJizbaMSFT commented on #1077
@v-xuanzh if you expand the "Failed to connect" node - what error does it display?

Also if you run these commands, does it work:
(This command makes it so that the opened terminal uses the "dev" machine)
[code]

(This command just tries to list images)
[code]

[2019-06-21 21:01] RemiZOffAlex opened #1084 "Error Message: command 'vscode-docker.images.selectGroupBy' already exists"
Repro steps:

1.
2.

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: linux
Product: Visual Studio Code
Product Version: 1.34.0
Language: ru

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-22 11:14] cqwydz opened #1086 "debug issue"
Repro steps:

1.
2.

Action: debugCoreClr
Error type: 1
Error Message: Command failed: C:\WINDOWS\System32\WindowsPowerShell\v1.0\powershell.exe -NonInteractive -NoProfile -WindowStyle Hidden -ExecutionPolicy RemoteSigned -File "C:\Users\ZY\.vsdbg\GetVsDbg.ps1" -Version vs2017u5 -RuntimeID linux-x64 -InstallPath "C:\Users\ZY\.vsdbg\linux-x64\vs2017u5"
New-Object : ʹ�á�1�����������á�.ctor��ʱ�����쳣:

[2019-06-22 14:04] Ravi2908 opened #1087 "Unable to login into Docker"
Repro steps:

1.
2.

Action: vscode-docker.dockerHubLogin
Error type: i
Error Message: {"detail":"Incorrect authentication credentials."}

Version: 0.6.4
OS: win32
Product: Visual Studio Code
Product Version: 1.35.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-22 18:10] zhangpengbin opened #1088 "icon"
Repro steps:

1.
2.

Action: docker.activate
Error type: Error
Error Message: command 'vscode-docker.images.selectGroupBy' already exists

Version: 0.6.3
OS: darwin
Product: Visual Studio Code
Product Version: 1.35.1
Language: zh-cn

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-24 02:26] McDeCoderDude opened #1089 "Trying to call docker-compose up"
Repro steps:

1.
2.

Action: getChildren
Error type: Error
Error Message: Docker: Please log out of Docker Hub and then log in again.

Version: 0.6.4
OS: win32
Product: Visual Studio Code - Insiders
Product Version: 1.36.0-insider
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-24 02:27] #1089 closed

[2019-06-24 02:27] McDeCoderDude commented on #1089
Need to prepare better information for reproducing issue.

[2019-06-24 09:52] v-xuanzh opened #1090 "The running container shows as stopped"
**Extension Build:** [20190623.1](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=7099)
**OS**: Windows

**Steps to reproduce:**
1. Type the command 'docker pull registry'.
2. Verify the image 'registry:latest' shows under the IMAGES window -> Right click the image then select 'Run'
3. Check the status of the container from CONTAINERS window.

**Expect Experience:**

The containe

[2019-06-24 10:01] v-xuanzh opened #1091 "Fail to pull images from the private registry"
**Extension Build:** [20190623.1](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=7099)
**OS**: Windows

**Steps to reproduce:**
1. Set up a private local registry with the below command:
`docker run -d --rm --name noAuthRegistry -p 5100:5000 registry`
2. Verify it's working
`curl http://localhost:5100/v2/_catalog`
3. Right click on Private -> Connect Registry...(Preview)
**URL**

[2019-06-24 10:06] v-xuanzh opened #1092 "The contents of the opened .json file is empty when executing 'Inspect' action for one volume"
**Extension Build:** [20190623.1](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=7099)
**OS**: Windows

**Steps to reproduce:**
1. Run the command to create a volume
`docker volume create my-vol`
2. Open VOLUMES -> Right click on the volume -> Inspect
3. Observe the contents of opened .json file.

**Expect Experience:**

There shows the information like below.
![image](https://u

[2019-06-24 17:18] nturinski commented on #1088
@zhangpengbin we just changed the publisher from "PeterJausovec" to "ms-azuretools". It's possible your machine still has an extension under the old publisher.

To fix this, please update to v0.6.4. The error message should stop appearing then.

Closing this is a duplicate of #1008.

[2019-06-24 17:18] #1088 closed

[2019-06-24 17:19] nturinski commented on #1087
Hi @Ravi2908,

Can you confirm that your credentials are correct?  The error seems to indicate that they are not.

[2019-06-24 17:20] nturinski commented on #1086
Hi @cqwydz,

Thanks for reporting this issue.  Could you provide repro steps, please?

[2019-06-24 17:20] nturinski commented on #1084
@RemiZOffAlex we just changed the publisher from "PeterJausovec" to "ms-azuretools". It's possible your machine still has an extension under the old publisher.

To fix this, please update to v0.6.4. The error message should stop appearing then.

Closing this is a duplicate of #1008.

[2019-06-24 17:20] #1084 closed

[2019-06-24 20:12] philliphoff commented on #997
@yusufkaratoprak @uthens You can add the `appProject` or `appFolder` properties to your debug configuration like shown below.  Note that you need only specify `appProject` *or* `appFolder`, not both.

[code]

If neither of those work, let me know and, please, provide any additional details about your project that you can (e.g.  the hierarchy of (project) files within the workspace).

[2019-06-24 20:15] philliphoff commented on #1006
@neel216  You can add the appProject or appFolder properties to your debug configuration like shown below. Note that you need only specify appProject or appFolder, not both.

[code]

If neither of those work, let me know and, please, provide any additional details about your project that you can (e.g. the hierarchy of (project) files within the workspace).

[2019-06-25 19:55] StephenWeatherford opened #1093 "Recommend reloading VS Code if detect old publisher"

[2019-06-25 20:04] StephenWeatherford commented on #1008
@arush0 @IEvangelist @tvilot This should have been fixed with the 0.6.4 update last week.  If that's not the case, could you please let us know?  Thanks!

Current known status:
The most recent update is 0,.6.4 (with the new publisher name)
Vscode still recommends the 0.6.2 extension with the old publisher name (will be fixed with next vscode update)
It should be okay to have both the old and new p

[2019-06-25 20:04] #1008 closed

[2019-06-25 21:15] psaxton opened #1094 "Support ${env:-} in the dockerRun/volumes/localPath"
**Issue**: Currently, the only variable allowed for substitution in the dockerRun/Volumes/localPath value is ${workspaceFolder}. When trying to use another value such as ${env:HOME}, an error occurs on build:

`Command failed: docker run -dt -P --name "MyProject"  -v "${env:HOME}/.aws/:/root/.aws:ro"`

`/bin/sh: 1: Bad substitution`

**Example**:
[code]

**Use case**: When developing applications

[2019-06-25 21:16] psaxton commented on #1094
This issue is related to but not solved by #785.

[2019-06-26 03:49] atomi commented on #914
@EricJizbaMSFT @PrashanthCorp The built in terminal appears to not use the `DOCKER_*` env variables from VS Code settings. I think most people would expect the terminal to honor the `DOCKER_*` variables set in their settings.

[2019-06-26 12:48] IEvangelist commented on #1008
Great, thank you @StephenWeatherford ... I have been using VS Code without experiencing the issue since I've updated - seems to have been fixed. Thanks again

[2019-06-26 15:21] #1003 closed

[2019-06-26 15:21] #209 closed

[2019-06-26 15:22] #1012 closed

[2019-06-26 15:22] #1076 closed

[2019-06-26 15:24] #1005 closed

[2019-06-26 15:29] EricJizbaMSFT commented on #914
@atomi please create a new issue if you would like that behavior. The built in terminal uses those env vars when we create a terminal for docker commands, but not on every terminal you manually create

[2019-06-26 16:19] #967 closed

[2019-06-26 16:59] #1092 closed

[2019-06-26 18:48] amitbarai opened #1096 "unable to start docker on windows desktop (vmware is installed), loooking for solution"
Repro steps:

1.
2.

Action: vscode-docker.dockerHubLogin
Error type: i
Error Message: {"detail":"Incorrect authentication credentials."}

Version: 0.6.4
OS: win32
Product: Visual Studio Code
Product Version: 1.35.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-06-26 22:43] PrashanthCorp commented on #1096
1. Did you retry logging in (via the UI prompts in the extension, not the terminal) , this time pasting the password instead of typing it in?
2. Does logging in via the terminal give you the same error?

[2019-06-27 22:38] mdemoret-nv commented on #996
Yes, I included the protocol. VS Code actually enforces this before you can press Enter.

I saw #869 earlier and am keeping track of the updates. I know I always hate this question but: Any idea on the timetable for that issue to be completed?

Just looking for super rough estimate here (days, weeks, months, or years) to decide if I should wait or look at replicating the functionality on my own.

[2019-06-28 12:23] arjeeone commented on #996
I'm getting this exact error with  http://cloud.canister.io:5000  using basic authentication. Docker Login from the command line passing username and password works fine.

[2019-06-28 18:16] EricJizbaMSFT commented on #996
@mdemoret-nv I have some good new and some mildly bad news for you.

The good news: I've just submitted two PRs to improve this area:
1. https://github.com/microsoft/vscode-docker/pull/1097: Generalize registry support to make it as easy as possible for the community to contribute more providers
1. https://github.com/microsoft/vscode-docker/pull/1098: Add GitLab support (mainly chosen as a test su

[2019-06-28 19:49] StephenWeatherford commented on #1006
@philliphoff We've been seeing a lot of these.  Do we need to add a link for help to the message?

[2019-06-30 08:46] uthens commented on #997
@philliphoff, Amazing it's worked on my mac, thanks you so much.
On the last week i spend more time for resolving on this problem.
I used time for resolved about 30 min, after i read on your comment! i can continue on my project. 👍
[code]

[2019-07-01 06:25] kreiswelt commented on #868
I also got this kind of error by clicking the Docker icon from side menu

Error message:
Unable to connect to Docker. Please make sure you have installed Docker and that it is running. Details: connect ENOENT //./pipe/docker_engine

Version: 0.6.4
OS: Windows 7 Pro
VSCode: 1.35.1

[code]

[2019-07-01 09:09] v-xuanzh commented on #1077
Hi @EricJizbaMSFT , the error message shows as below screenshot after expanding the 'Fail to connect' node.
![image](https://user-images.githubusercontent.com/34729022/60423485-e4061080-9c20-11e9-8dfd-261610e49cb4.png)

The docker still doesn't work after running the below two commands.
[code]
![image](https://user-images.githubusercontent.com/34729022/60423533-026c0c00-9c21-11e9-894f-fd603f1b62b3

[2019-07-01 16:42] fiveisprime commented on #1014
My initial thought is that the setting is unnecessary given how the new explorer windows work. It feels natural to modify the UI using the context menus that are already available.

What is the experience for customers how have the extension installed with the explorer hidden using the setting who take the this update?

[2019-07-01 16:45] chrisdias commented on #1014
I think the `docker.showExplorer` setting is a hangover from way before extensions could create viewlets, and right click hide/show. So removing it is fine.

My $0.02 on the other settings, I would wait for feedback that people want to control the explorer visibility through settings rather than right click.

[2019-07-01 17:11] StephenWeatherford commented on #1014
Agreed.

[2019-07-01 21:19] #859 closed

[2019-07-01 21:19] #956 closed

[2019-07-01 21:19] #873 closed

[2019-07-01 21:38] #1015 closed

[2019-07-01 22:19] #898 closed

[2019-07-01 23:04] EricJizbaMSFT commented on #1077
@v-xuanzh what version of VS Code are you on? They improved some certificate stuff in version 1.33.0. Try updating if you're on a lower version and let us know if this fixes it.

If not - can you show a screenshot of the result of `docker-machine env dev1`? And a screenshot of your VS Code settings that match?

[2019-07-02 02:31] v-xuanzh commented on #1077
Hi @EricJizbaMSFT , We used VS Code version is 1.36.0. you can see the details info from the below screenshot.

![image](https://user-images.githubusercontent.com/34729022/60478184-4d832f00-9cb4-11e9-9d0f-742576972b3d.png)

[2019-07-02 17:33] EricJizbaMSFT commented on #1077
@v-xuanzh the VS Code version and settings look good in that screenshot, but the error says host is not running, which means you probably just need to start the virtual machine somehow. Can you start it and post another screenshot? `docker-machine env dev1` should succeed

[2019-07-02 18:02] liuhuanhui opened #1102 "docker"
Repro steps:

1.
2.

Action: vscode-docker.container.show-logs
Error type: Error
Error Message: There are no Docker containers that apply to this command.

Version: 0.6.4
OS: darwin
Product: Visual Studio Code
Product Version: 1.35.1
Language: zh-cn

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-07-02 21:23] hutchisr opened #1103 "docker.truncateLongRegistryPaths doesn't truncate container image names"
The `docker.truncateLongRegistryPaths` tooltip claims to truncate registry names for both images and containers: `Truncate long Image and Container registry paths in the Explorer`, however it only truncates registry paths in the images section of the explorer, not containers, which still display the full registry path.

[2019-07-02 21:58] #977 closed

[2019-07-02 21:58] #978 closed

[2019-07-02 21:58] #1090 closed

[2019-07-02 22:05] EricJizbaMSFT commented on #1103
@hutchisr this was recently fixed in https://github.com/microsoft/vscode-docker/pull/989. You're welcome to try the latest from master with these instructions: https://aka.ms/azCodeInsiders otherwise we hope to release pretty soon

[2019-07-02 22:05] #1103 closed

[2019-07-02 22:09] EricJizbaMSFT commented on #1102
@liuhuanhui  please add repro steps to this issue

As an aside, https://github.com/microsoft/vscode-docker/pull/966 might've improved this experience - you're welcome to follow these instructions to try the latest build from master: https://aka.ms/azCodeInsiders

[2019-07-02 23:19] #957 closed

[2019-07-03 08:29] v-xuanzh commented on #1077
Hi @EricJizbaMSFT ,you can get the detail settings from the below screenshot.
![image](https://user-images.githubusercontent.com/34729022/60576312-c0250500-9daf-11e9-8338-923738f82199.png)

[2019-07-03 17:41] EricJizbaMSFT commented on #1077
@v-xuanzh right, but do you still get the same error message in VS Code as well? I was hoping for a screenshot of both the docker machine command _and_ VS Code error message after you started the virtual machine

[2019-07-03 19:02] #1091 closed

[2019-07-03 21:19] #985 closed

[2019-07-03 21:23] EricJizbaMSFT commented on #963
Closing as duplicate of https://github.com/microsoft/vscode-docker/issues/351

[2019-07-03 21:23] #963 closed

[2019-07-03 21:29] EricJizbaMSFT commented on #981
Closing as external. If this consistently repros for you, you're welcome to file an issue on the Azure Account extension here: https://github.com/Microsoft/vscode-azure-account/issues, but this might even be external for that, too

[2019-07-03 21:29] #981 closed

[2019-07-03 22:52] #1093 closed

[2019-07-03 23:19] #971 closed

[2019-07-04 10:34] v-xuanzh opened #1106 "[Linux] Miss a icon for the 'Connected Registries' node"
**OS Platform**: Linux Ubuntu
**Extension build:** [20190703.2](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=7464)

**Steps to reproduce:**
1. Start up a private local registry using the command `docker run -d --rm --name noAuthRegistry -p 5100:5000 registry`
2. Go to REGISTRIES -> Click 'Connect Registry...' -> Select 'Generic Docker Registry(Preview)'
3. Input the URL: `http

[2019-07-04 10:44] v-xianya opened #1107 "[Suggestion] Display 'Removing…' instead of 'Deleting...' during removing one container"
**Extension Build:** [20190703.2](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=7464)
**OS:** All

**Steps to reproduce:**
1.  Right click one container -> Select 'Remove...'.
2. Observe the container.

**Actual Experience:**
Display 'Deleting...' during removing one container.
![image](https://user-images.githubusercontent.com/41351993/60660541-92f95500-9e8a-11e9-8776-3e3fd4a4

[2019-07-04 15:13] dpinalopez opened #1108 "Can't access to container from VSCODE"
Hello friends, I've just installed your extension on vscode but when it tries to connect with the succesfully just created container it hits me the next error:

Unable to connect to Docker. Please make sure you have installed Docker and that it is running. Also make sure you've followed the Linux post-install instructions "Manage Docker as a non-root user". Details: connect ENOENT /var/run/docker.

[2019-07-05 03:23] nanangassa commented on #1006
yes, please.
I am looking forward to it

[2019-07-05 08:51] v-xuanzh commented on #1077
Hi @EricJizbaMSFT ,Yes, we still get the same error in VS Code. Please see the below screenshot.
![image](https://user-images.githubusercontent.com/34729022/60710282-e9c36500-9f44-11e9-90ef-6d9beeeaa90a.png)

[2019-07-05 09:22] v-xuanzh opened #1109 "Update the action from 'Run task...' to 'Run Task...' under the empty build task"
**OS:** All
**Extension Version:** [20190703.2](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=7464)

**Steps to reproduce:**
1. Command palette -> Docker Images: Run Azure CLI
2. Run these commands in the new terminal to set environment variables:
- ACR_NAME=`registry-name`
- GIT_USER=`github-username`
- GIT_PAT=`personal-access-token`
- az login
- az account set -s `your-subsc

[2019-07-05 09:37] v-dantch opened #1110 "The container auto removes when debugging the .NET Core Console application"
**OS**: Windows
**Build Version:** [20190703.2](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=7464)

**Repro Steps:**
1. Create a new .NET Core ASP.NET application by "dotnet new web --name test".
2. Open it in VS Code Insiders --> Click "Yes" when prompted to add required assets.
![image](https://user-images.githubusercontent.com/34729092/60711915-77548400-9f48-11e9-9aae-e0b9d

[2019-07-05 15:46] pzelnip commented on #1075
No longer seems to be an issue after the 1.36.0 update for VS Code.  Closing, thanks!

[2019-07-05 15:46] #1075 closed

[2019-07-05 17:19] #995 closed

[2019-07-05 17:33] OmriSama commented on #905
Literally never saw this issue until today. I'm getting this on the latest Insider version on Windows using Remote SSH. Not sure where the issue is... but it's not totally gone

[2019-07-06 15:58] SuperSandro2000 opened #1112 "Formatting removes escape character at EOL"
Formatting this Dockerfile snippet
[code]
results in
[code]
which is invalid and can't be build.

[2019-07-06 15:59] SuperSandro2000 commented on #37
A ``docker-compose.yml`` file can be valid yaml but not valid for ``docker-compose``. I think linting if keys exist and have proper values set would be very valuable for this extension.

[2019-07-06 23:09] rcjsuen commented on #1112
@SuperSandro2000 Thank you for your bug report.

Unfortunately, I am unable to reproduce this error. Can you please provide a) exact steps, b) your complete Dockerfile, or c) some animated gif or video that shows the problem?

Thank you for your assistance.

[2019-07-06 23:15] SuperSandro2000 commented on #1112
Wrong extensions. The bug comes from https://marketplace.visualstudio.com/items?itemName=foxundermoon.shell-format

[2019-07-06 23:15] #1112 closed

[2019-07-06 23:19] rcjsuen commented on #37
Anyone on this ticket that needs this should be able to get something decent with [Red Hat's YAML extension](https://github.com/redhat-developer/vscode-yaml). You can use something like the following in your `settings.json` file.
[code]

[2019-07-08 18:02] philliphoff opened #1113 "Improve help for .NET Core debugging configuration"
A lot of customers seem to have issues with configuring--or rather, the tool inferring the configuration of--their project for debugging. Perhaps the error messaging can be improved to lead the customer to an appropriate solution.

[2019-07-08 18:03] philliphoff commented on #1006
@StephenWeatherford That's a good idea; I've added a task #1113 for that.

[2019-07-08 18:10] philliphoff commented on #1110
@v-dantch The extension intentionally kills the running container when the debugging session ends (either due to the user's action to stop the debugger or if the application itself ends, such as if there was an error).  Are you able to debug the application at all?  Is the application immediately exiting upon starting (check the debugging output)?

[2019-07-08 18:15] philliphoff commented on #1094
@psaxton This is a good idea, but likely requires custom logic to parse and resolve environment variables. (I don't believe VS Code provides an API for such resolution, which is why I've only supported such substitutions on an as-needed basis.)

[2019-07-08 20:19] jesielsilva opened #1114 "teste"
Repro steps:

1.
2.

Action: vscode-docker.image.tag
Error type: Error
Error Message: There are no docker images. Try Docker Build first.

Version: 0.6.4
OS: darwin
Product: Visual Studio Code
Product Version: 1.36.0
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-07-08 22:47] stev02 commented on #931
Hi microsoft/vscode-docker,

Please join me on WowApp to connect, share and get rewarded!
Check out my personal page to create your free account:
https://www.wowapp.com/w/stev02/Stev-hack-Tekou

Contact me if you have any questions!

Meet you on WowApp,
Stev hack

WowApp is available on iOS, Android, Windows and Mac. Learn more on
www.wowapp.com

[2019-07-09 04:09] aaronc318 opened #1115 "Can't access registries in Docker widget in Visual Studio"
Repro steps:

1.
2.

Action: getChildren
Error type: Error
Error Message: Docker: Please log out of Docker Hub and then log in again.

Version: 0.6.4
OS: win32
Product: Visual Studio Code
Product Version: 1.36.0
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-07-09 16:15] EricJizbaMSFT commented on #905
@OmriSama this was a bug in VS Code, not this extension. I suggest taking a look at t https://github.com/microsoft/vscode/issues/72721 and https://github.com/microsoft/vscode/issues/71752. You can follow up with VS Code if you're still seeing the error

[2019-07-09 16:16] EricJizbaMSFT commented on #1115
Closing as duplicate of https://github.com/microsoft/vscode-docker/issues/935

@aaronc318 we should have a release out soon that improves this experience

[2019-07-09 16:16] #1115 closed

[2019-07-09 20:32] EricJizbaMSFT commented on #1114
@jesielsilva please add repro steps to this issue

[2019-07-09 20:36] EricJizbaMSFT commented on #1108
@dpinalopez are you able to see successful output if you run` docker image ls` from the command line? And can you give more detailed information about your OS, docker version, and how you installed docker?

[2019-07-09 22:33] EricJizbaMSFT commented on #883
@PureKrome fyi - we just released the official 0.7.0 update. It _should_ update automatically - but might be worth checking and uninstalling the old "alpha" if it's still there.

[2019-07-09 23:03] PureKrome commented on #883
Noticed that I had:
- 0.6.3-alpha
- 0.6.4

both installed, so I
- uninstalled 0.6.3-alpha
- updated to 0.7.0

✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨
✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨
✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨

Thank you again for the effort and ❤️ the new UI - very kewl!

cheers!!

[2019-07-10 09:20] v-dantch opened #1120 "The Azure Registries node auto collapses after selecting "Copy Image Digest""
**OS:** Win10
**Build Version:** [20190709.2](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=7546)
**VS Code Insider Version:** 1.37.0-insider (user setup)

**Repro Steps:**
1.Drill down from "REGISTRIES" -> "Azure" -> applied subscription -> one specified azure registry -> one image.
2. Right click the image and select "Copy Image Digest" item.
3. Check the result.

**Expect:**

[2019-07-10 09:29] v-dantch opened #1121 ""Refresh" of applied subscription context menu collapses the Azure Registries n"
**OS:** Win10
**Build Version:** [20190709.2](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=7546)
**VS Code Insider Version:** 1.37.0-insider (user setup)

**Repro Steps:**
1. Drill down from the applied subscription --> one azure registry --> repository -> image.
2. Right click the applied subscription --> Select "Refresh".
3. Check the result.

**Expect:**
The applied subscri

[2019-07-10 12:51] johnpapa opened #1122 "Allow right click on "Incorrect Registry Credentials" to re-enter credentials"
When you enter an invalid password for your dockerhub, there is no option to retry. You can disconnect and try again if you right click the DockerHub item, but it felt like we should be able to do something (right click, single click, click a button) in the message

I recommend it allows right click on "Incorrect Registry Credentials" to re-enter credentials

![image](https://user-images.githubuse

[2019-07-10 16:52] letmaik opened #1123 "Allow to remove all images in a group via right-click in tree"
Currently, this is only possible when using the command palette. Would be nice if I could right-click a group and do "Remove...".

[2019-07-10 19:14] EricJizbaMSFT commented on #1121
https://github.com/microsoft/vscode/issues/77129

[2019-07-10 19:14] EricJizbaMSFT commented on #1120
https://github.com/microsoft/vscode/issues/77129

[2019-07-10 20:57] EricJizbaMSFT commented on #1077
@v-xuanzh have you by chance modified the `docker.importCertificates` setting? If so - maybe try removing that setting?

[2019-07-11 11:36] v-dantch opened #1125 "Support to execute "Copy Image Digest" for the ACR Task by command"
**OS:** Win10
**Build Version:** [20190710.1](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=7574)

**Repro Steps:**
1. F1 --> Type and select "Docker Registries: Copy Image Digest".
2. Complete the selection according to prompting.
3. Check whether the "Copy Image Digest" for the existing ACR Task can be executed or not.

**Expect:**
Succeed to execute "Copy Image Digest" for t

[2019-07-12 02:50] Curzibn opened #1126 "remove docker image error"
Repro steps:

1.
2.

Action: vscode-docker.images.remove
Error type: 409
Error Message: (HTTP code 409) conflict - conflict: unable to delete e4db68de4ff2 (cannot be forced) - image has dependent child images

Version: 0.7.0
OS: darwin
Product: Visual Studio Code
Product Version: 1.36.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-07-12 02:50] #1126 closed

[2019-07-12 08:33] zhanghy525 opened #1127 "?"
Repro steps:

1.
2.

Action: vscode-docker.images.build
Error type: Error
Error Message: To build Docker files you must first open a folder or workspace in VS Code.

Version: 0.7.0
OS: darwin
Product: Visual Studio Code
Product Version: 1.36.1
Language: zh-cn

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-07-12 17:55] PrashanthCorp commented on #1127
You are trying to build docker files from a workspace/project. However, VSCode has no context of what the 'project' is, since this command was called before you opened a file/folder in VSCode.

Working as designed.

[2019-07-12 17:55] #1127 closed

[2019-07-12 19:23] PrashanthCorp commented on #1123
Yeah, it looks like the code doesn't consider the multi-select case:

https://github.com/microsoft/vscode-docker/blob/master/src/commands/images/removeImage.ts#L11

[2019-07-12 22:22] fiveisprime opened #1128 "Deploy image to App Service context menu is missing."
I see the global command, but the context menu isn't showing up on tags in registries.

[2019-07-13 00:17] jnather opened #1129 "docker"
Repro steps:

1.
2.

Action: vscode-docker.containers.start
Error type: 500
Error Message: (HTTP code 500) server error - driver failed programming external connectivity on endpoint mc (085d864a35f9b78a18a466d39b8bf4364c6885eb4f05ce9b7dc8de7a93e4f79b): Error starting userland proxy: mkdir /port/tcp:0.0.0.0:25565:tcp:172.17.0.2:25565: input/output error

Version: 0.7.0
OS: win32
Product: Visual Stu

[2019-07-13 08:20] tienanhcntt2 opened #1130 "sffdfd"
Repro steps:

1.
2.

Action: vscode-docker.images.run
Error type: 404
Error Message: (HTTP code 404) no such image - no such image: sha256:00beff41929ec04e50aa84c6976ef0cea7a14233a706bd4f1aa71ba02d35f613: No such image: sha256:00beff41929ec04e50aa84c6976ef0cea7a14233a706bd4f1aa71ba02d35f613

Version: 0.7.0
OS: win32
Product: Visual Studio Code
Product Version: 1.36.1
Language: en

<details>
<summa

[2019-07-14 08:34] benc-uk commented on #954
Just an observation on the comment "The ability to run docker inside WSL is pretty recent and it's unclear how well it's supported"

Docker recently posted about the future of Docker on Windows 10, and the summary is - running Docker in WSL (i.e. WSL v2) is going to be the default way of running Docker going forward
https://engineering.docker.com/2019/06/docker-hearts-wsl-2/

I think supporting Do

[2019-07-15 04:01] unfalln opened #1131 "Docker Containers commands in Remote Development"
When using Remote Development extensions, the commands for Docker Containers (e.g. "View Logs", "Attach Shell") are being executed in the terminal shell. This means that, if I am remote-developing inside a docker container, the commands fail because the docker client is on the host, not inside the container.

[2019-07-15 04:50] mlazuardy-dyned opened #1132 "Docker Error when stop container"
Repro steps:

1.
2.

Action: vscode-docker.containers.stop
Error type: 304
Error Message: (HTTP code 304) container already stopped -

Version: 0.7.0
OS: darwin
Product: Visual Studio Code
Product Version: 1.36.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-07-15 05:06] NirajCricket opened #1133 "unable to launch docker container images in VS code"
Repro steps:

1.
2.

Action: vscode-docker.containers.start
Error type: 500
Error Message: (HTTP code 500) server error - driver failed programming external connectivity on endpoint elegant_bartik (cbf52abab7639c6604c8e9e3e96d3d7995c194d4961d1f07d4198a94ae220c5f): Error starting userland proxy: Bind for 0.0.0.0:80: unexpected error Permission denied

Version: 0.7.0
OS: win32
Product: Visual Studio

[2019-07-15 09:20] v-xuanzh commented on #1077
Hi @EricJizbaMSFT ,Yes. I have modified the setting `docker.importCertificates` =`true` by chance.

But the reported error still occurs after removing that setting.

[2019-07-15 16:13] zachvalenta commented on #150
the issue has stagnated but the workaround continues to be updated :)

[2019-07-15 17:39] sinesiobittencourt opened #1134 "Error type: Error"
Repro steps:

1.
2.

Action: vscode-docker.containers.stop
Error type: Error
Error Message: No matching resources found.

Version: 0.7.0
OS: linux
Product: Visual Studio Code
Product Version: 1.36.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-07-15 17:39] sinesiobittencourt opened #1135 "Error type: Error"
Repro steps:

1.
2.

Action: vscode-docker.images.build
Error type: Error
Error Message: To build Docker files you must first open a folder or workspace in VS Code.

Version: 0.7.0
OS: linux
Product: Visual Studio Code
Product Version: 1.36.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-07-15 18:19] #1087 closed

[2019-07-15 18:38] StephenWeatherford commented on #1132
@mlazuardy-dyned Is this happening repeatedly?  If so, please provide repro steps.  If not, it sounds like the container had simply already been stopped.  Thx.

[2019-07-15 18:40] StephenWeatherford commented on #1133
Have you tried running the same command outside of vscode?  It's unlikely it has anything to do with the extension.

I would check first that no other containers are bound to port 80, and then that you do have permissions to be binding to it.

[2019-07-15 18:43] StephenWeatherford commented on #1130
@tienanhcntt2 Is this happening consistently?  If so, please provide repro steps.  Otherwise I would take the error message at its word - the image you're trying to start no longer exists (did you delete it somehow? perhaps through pruning or deleting it via another tag?)

[2019-07-15 18:49] StephenWeatherford commented on #1129
@jnather Does this happen consistently?  Does it repro outside of vscode?  It's unlikely it's related to the extension.

I would start by making sure the port is available, perhaps restart docker.  Then search online for the error message, especially the last part of it - not sure what the "mkdir" command is trying to do, e.g. try a search like https://www.bing.com/search?q=docker+error+starting+u

[2019-07-15 20:19] #1086 closed

[2019-07-16 00:47] moortimis commented on #216
Hi there, I'm trying to enable the tlsVerify setting and have set the value to '0' and still not able to connect to registries using self signed certificates.

I'm running VSS: 1.36.1 and ms-azuretools.vscode-docker: 0.7.0 of this extension. What am I missing?

[2019-07-16 09:41] zhangshuaiming opened #1136 "如何处理"
Repro steps:

1.
2.

Action: vscode-docker.containers.start
Error type: 404
Error Message: (HTTP code 404) no such container - No such container: 6aac8939f79cd7c20c9a88d89becf0b01948f39bc756181e77c4280b1cbf6f58

Version: 0.7.0
OS: darwin
Product: Visual Studio Code
Product Version: 1.36.1
Language: zh-cn

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-07-16 17:09] StephenWeatherford commented on #1135
@sinesiobittencourt Just what the error says - in order for the extension to understand the context for building a docker image, you need to first open the folder or workspace that contains the project you're building against.

If this doesn't work for you, please describe more fully your project/image context so we can understand better how to help others.  Thanks!

[2019-07-16 18:26] #1006 closed

[2019-07-17 07:45] v-dantch commented on #1110
Hi Phillip, sorry for my late reply.
Finally we found the root cause is that the version of dotnet in the Dockerfile is inconsistent with the locally installed. Thus there pops up bellow error:
![image](https://user-images.githubusercontent.com/34729092/61356238-80c6e000-a8a8-11e9-9be8-66e31a593a4d.png)

After keeping the same version, there is no any exceptions.

We will pay more attention to err

[2019-07-17 15:40] EricJizbaMSFT commented on #1136
@zhangshuaiming please add repro steps to your issue

[2019-07-17 15:45] EricJizbaMSFT opened #1137 "Failed to connect to registry using self-signed certificates"
Hi there, I'm trying to enable the tlsVerify setting and have set the value to '0' and still not able to connect to registries using self signed certificates.

I'm running VSS: 1.36.1 and ms-azuretools.vscode-docker: 0.7.0 of this extension. Any idea when this will become generally available?

_Originally posted by @moortimis in https://github.com/microsoft/vscode-docker/issues/216#issuecomment-51

[2019-07-17 15:45] EricJizbaMSFT commented on #216
@moortimis moved your comment to a new issue. https://github.com/microsoft/vscode-docker/issues/1137

[2019-07-17 15:46] EricJizbaMSFT commented on #1137
@moortimis can you add more detailed repro steps, including the actual error you're getting? We connect to Docker in a number of ways and I'm curious which one is failing and how

[2019-07-17 16:01] EricJizbaMSFT commented on #1134
@sinesiobittencourt can you add repro steps for this issue? It's likely there weren't any containers when you tried to run this command.

[2019-07-17 16:03] EricJizbaMSFT commented on #1131
@unfalln I'm not entirely following your scenario, but please see https://github.com/microsoft/vscode-docker/issues/954. You can force the Docker extension to run in the remote with this setting:
[code]

If that doesn't help, please add more detailed repro steps to this issue

[2019-07-17 16:29] EricJizbaMSFT commented on #1128
So it shows, but only if you have Azure connected as a registry provider.

![Screen Shot 2019-07-17 at 9 23 59 AM](https://user-images.githubusercontent.com/11282622/61392880-b81b9980-a874-11e9-9bef-427396a15b1a.png)

We can fix that since ACR isn't needed for App Service.

[2019-07-17 16:31] EricJizbaMSFT commented on #1120
This was fixed in latest insiders of VS Code

[2019-07-17 16:31] #1120 closed

[2019-07-17 16:32] EricJizbaMSFT commented on #1121
This was fixed in latest insiders of VS Code

[2019-07-17 16:32] #1121 closed

[2019-07-17 17:58] philliphoff commented on #1110
@v-dantch Glad you found the root cause; should this issue now be closed?

[2019-07-17 18:40] steve28 commented on #646
I see this is was added in 0.7.0, but it is not working for me.   If use:
`ssh://server.host.com`
I get an error that it needs a port.  Then when I add the port, it looks like it tries to still connect to localhost (127.0.0.1).

[2019-07-17 19:07] EricJizbaMSFT commented on #646
@steve28 I did some work _related_ to this in 0.7.0, but this issue has not been fixed yet. As @x13machine mentioned, we need one of our underlying dependencies to implement ssh support - tracked in https://github.com/apocas/docker-modem/issues/99 and https://github.com/apocas/docker-modem/pull/102

[2019-07-17 21:00] jeffersonmag opened #1138 "problema ao buildar imagem"
Repro steps:

1.
2.

Action: vscode-docker.images.build
Error type: Error
Error Message: To build Docker files you must first open a folder or workspace in VS Code.

Version: 0.7.0
OS: win32
Product: Visual Studio Code
Product Version: 1.36.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-07-17 21:55] EricJizbaMSFT commented on #1138
@jeffersonmag please add repro steps to this issue. It seems like you just need to open a folder first

[2019-07-17 23:19] #1096 closed

[2019-07-18 00:23] RobTiki commented on #646
I personally have moved my workflow to remote-ssh once it became available in the regular channel and set the docker plugin to work remotely.  I love the workflow now.  The setup requires using SSH keys so logon is not a hassle.  Also had to set the docker extension to remote.  By adding the below to settings.json
#put a comma after last setting then add below.

"remote.extensionKind": {
    "ms-a

[2019-07-18 02:09] v-dantch commented on #1110
Hi @philliphoff  thanks for your help and it gives me inspiration.  And I will close this issue.

[2019-07-18 02:09] #1110 closed

[2019-07-18 08:26] tvalbusa opened #1139 "Docker build / vs \"
Open wsl on windows 10
Start code :  /mnt/c/User/xxxx/code .
Docker build (right click on Dockerfile)

Error :
docker build --rm -f "app-kb-front\nodejs.Dockerfile" -t google-ccai-kb-front:0.1.1 app-kb-front

unable to prepare context: unable to evaluate symlinks in Dockerfile path: lstat /mnt/c/Users/tvalbusa/Gdrive_job/dev/prj-innovation2/app-kb-front\nodejs.Dockerfile: no such file or directory

[2019-07-18 15:28] EricJizbaMSFT commented on #1139
Closing as duplicate of https://github.com/microsoft/vscode-docker/issues/960

[2019-07-18 15:28] #1139 closed

[2019-07-18 23:07] EricJizbaMSFT commented on #1077
@v-xuanzh can you try running the following command:
[code]

And copy the output here if it fails or otherwise let me know if that fixes it

[2019-07-19 05:58] jacekplocharczyk opened #1141 "Can't add docker file to the project running on WSL"
Hello,

I can't add docker file to the project running VS Code in WSL

Repro steps:

1. You need to have WSL (Ubuntu 18.04) enabled on Win10 17134.885
2. Change your home directory path to `C:\[user]\ ` - I did it like that
    https://superuser.com/questions/1132626/changing-home-directory-of-user-on-windows-subsystem-for-linux

2. Open VS Code in WSL
2. Make sure you have Docker and  Remote Deve

[2019-07-19 09:37] v-xuanzh commented on #1077
Hi @EricJizbaMSFT

I have tried running the command `docker-machine regenerate-certs dev1`, the output shows as below
![certs](https://user-images.githubusercontent.com/34729022/61525847-ce2f8280-aa4b-11e9-91d3-f3bb0ec625ac.png)

And the the reported error still shows.

[2019-07-19 15:03] JFLeblay opened #1142 "Issue #471 is not fixed in 0.7.0"
Your new release 0.7.0 has a bug that was fixed in previous release (see issue #471). The API URL to check API version needs a trailing slash.
The bug is in src/tree/registries/dockerV2/GenericDockerV2RegistryTreeItem.ts:
`await registryRequest(this, 'GET', 'v2');` should be actually `await registryRequest(this, 'GET', 'v2/');`

[2019-07-19 16:19] EricJizbaMSFT commented on #1141
@jacekplocharczyk try adding this to your VS Code settings:
[code]

See https://github.com/microsoft/vscode-docker/issues/954 for more info

[2019-07-19 16:55] bwateratmsft opened #1144 "Support HTTPS in ASP.NET Core apps"
Currently "dotnet new" will enable HTTPS by default for ASP.NET Core apps, but this extension does not support it. Exposing 443 has no effect, and setting the ASPNETCORE_URLS to include HTTPS results in app startup failure, because no certificate is found.

Visual Studio automatically configures the ASP.NET Core HTTPS development certificate and maps in a volume containing it, and an additional vo

[2019-07-19 17:03] bwateratmsft commented on #1144
Things I'd like to do:

1. Change the singular port prompt to one accepting multiple (i.e. a comma-separated list)
2. Automatically export the 'dotnet dev-certs' certificate with a random password
3. Set that password as a secret with 'dotnet user-secrets'
4. Automatically volume map the cert and user-secrets folders
5. In launch.json add environment variables for ASPNETCORE_URLS and ASPNETCORE_EN

[2019-07-19 18:19] #996 closed

[2019-07-19 19:02] #1142 closed

[2019-07-19 19:03] EricJizbaMSFT commented on #1142
@JFLeblay thanks for reporting! If you want to get the latest fix, you can use a master build with these instructions: https://aka.ms/azcodeinsiders

[2019-07-20 17:41] DatXN commented on #840
Pumb for this very necessary feature.

[2019-07-22 04:03] JuneJobs opened #1146 "Docker Issue"
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce issue&gt;

Action: docker.languageclient.activate
Error type: Error
Error Message: The language client requires VS Code version ^1.26 but received version 1.25.1

Version: 0.5.0
OS: darwin

[2019-07-22 13:36] rxmii4269 opened #1147 "issue with docker login and vscode"
Repro steps:

1.
2.

Action: vscode-docker.registries.pullImage
Error type: string
Error Message: WARNING! Your password will be stored unencrypted in /home/romaine/.docker/config.json.
Configure a credential helper to remove this warning. See
https://docs.docker.com/engine/reference/commandline/login/#credentials-store

Version: 0.7.0
OS: linux
Product: Visual Studio Code
Product Version: 1.36.1

[2019-07-22 14:16] bwateratmsft commented on #1144
I'm having a lot of trouble with cert trust on Mac. I can't figure out a way to launch `dotnet dev-certs https --trust` outside of VSCode (i.e. in its own window--which we need, because it's prompting for a password). Launching it within VSCode in a new terminal instance _technically_ works, but in practice won't actually work--if it's done during F5 the terminal instance almost immediately gets u

[2019-07-22 15:35] EricJizbaMSFT commented on #1146
@JuneJobs please try updating your VS Code version to at least v1.26.0

[2019-07-22 16:38] EricJizbaMSFT commented on #1147
@rxmii4269 this error is coming from Docker. Please see the link mentioned above for more info:

https://docs.docker.com/engine/reference/commandline/login/#credentials-store

[2019-07-22 19:19] pratiksanglikar commented on #1144
@bwateratmsft About the issue with Mac, can we execute any shell script from the code? If that's possible we can think of applescript or even a simple shell script to do that. Applescript for sure has the capabilities to open a new terminal window and run a script inside it.

[2019-07-22 19:26] bwateratmsft commented on #1144
@pratiksanglikar AppleScript was the closest I was able to get to something working. I ended up with something like `osascript -e 'tell app "Terminal" to do script "dotnet dev-certs https --trust"' -e 'tell app "Terminal" to activate'`. There may be a shorter way to do it but I'm not really familiar with AppleScript. Technically it works, but it leaves the resultant terminal window open when done,

[2019-07-22 20:55] JaphethacCalzada opened #1148 "error"
Repro steps:

1.
2.

Action: vscode-docker.containers.start
Error type: 500
Error Message: (HTTP code 500) server error - driver failed programming external connectivity on endpoint laradock_mysql_1 (c184b81fc3078827b533a72067efafd2df34e7f71c2cb87f33d86730b9d4d70f): Error starting userland proxy: listen tcp 0.0.0.0:3306: bind: address already in use

Version: 0.7.0
OS: linux
Product: Visual Studio

[2019-07-22 21:46] EricJizbaMSFT commented on #1148
@JaphethacCalzada please add repro steps to this issue

[2019-07-22 21:58] EricJizbaMSFT commented on #1144
@bwateratmsft maybe take a look at this code:
https://github.com/microsoft/vscode-docker/blob/master/src/commands/registries/logInToDockerCli.ts#L33

You could prompt the user for the password up front using a VS Code input box (there's a [specific option](https://github.com/microsoft/vscode/blob/master/src/vs/vscode.d.ts#L1801) for `password`) and theoretically do the same thing (it starts a chil

[2019-07-22 22:44] truth8280 opened #1149 "not working it can't connect"
Repro steps:

1.
2.

Action: vscode-docker.containers.prune
Error type: ENOENT
Error Message: connect ENOENT //./pipe/docker_engine

Version: 0.7.0
OS: win32
Product: Visual Studio Code
Product Version: 1.36.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-07-22 23:17] EricJizbaMSFT commented on #1149
@truth8280 is docker installed and running? Either way, please add repro steps

[2019-07-23 12:29] bwateratmsft commented on #1144
@EricJizbaMSFT I think that asking users for their login password is not a good idea. It sorta seems like one of those "You have no business asking for this password" sort of scenarios...

[2019-07-23 13:22] magnomatos822 opened #1151 "Connected register"
Repro steps:

1.
2.

Action: vscode-docker.registries.connectRegistry
Error type: Error
Error Message: The name org.freedesktop.secrets was not provided by any .service files

Version: 0.7.0
OS: linux
Product: Visual Studio Code
Product Version: 1.36.1
Language: en

[2019-07-23 15:35] EricJizbaMSFT commented on #1144
Well yes you would have to explain _why_ you're asking for the password. Popping up an external terminal is more of a VS/windows thing to me. It never happens in VS Code because VS Code already has an integrated terminal. I've also just never seen it on a Mac - possibly because of how difficult it is to implement (as you described), but either way the end result is I think users would actually fee

[2019-07-23 16:14] EricJizbaMSFT commented on #1151
@magnomatos822 please add repro steps

[2019-07-23 17:22] jacekplocharczyk commented on #1141
Thank @EricJizbaMSFT for your response.
I've added your lines to my `settings.json` file and it didn't change anything.

Here are my settings:

[2019-07-23 18:38] EricJizbaMSFT commented on #1141
@jacekplocharczyk you have to reload VS Code for that setting to take affect. Did you do that?

To confirm, check the "Extension" view. You should _not_ see Docker in the "Local - Installed" section. Instead it should be in the wsl section above it
![Screen Shot 2019-07-23 at 11 37 28 AM](https://user-images.githubusercontent.com/11282622/61738049-4cd33b00-ad3e-11e9-8795-2b1891ec5b18.png)

[2019-07-23 18:45] jacekplocharczyk commented on #1141
I didn't restart. My bad. It is working now.
Thanks!

[2019-07-23 18:48] EricJizbaMSFT commented on #1141
Glad to hear it worked! We know this experience is confusing and hope to address it soon in #954. Closing for now as dupe of that issue

[2019-07-23 18:48] #1141 closed

[2019-07-23 22:19] #1102 closed

[2019-07-24 16:32] quangkieu opened #1152 "Error entry: Invalid URL in Connected Registry"
We have written the needed data into your clipboard because it was too large to send. Please paste.
Issue Type: <b>Bug</b>

I add a locahost:5000 registry to the registry list and I would be able to use it on the current session.
But if I reopen VS Code, it would show as "Error: Invalid URL:".
I tried to add the registry with or without credential but I still got error on next run.
On next vscode

[2019-07-24 18:12] itlackey opened #1153 "Unable to debug on linux"
Repro steps:

1. Create new aspnet core app. dotnet new mvc
2. Use extension to add docker files. Docker: Add Files to workspace
3. Add launch config to launch.json (Debug -> Add Configuration -> Docker Launch Core)
4. Click Start Debugging

Action: debugCoreClr
Error type: SyntaxError
Error Message: Unexpected end of JSON input

Version: 0.7.0
OS: linux mint 19
Product: Visual Studio Code
Product

[2019-07-24 18:29] EricJizbaMSFT commented on #1152
Try `http://localhost:5000`

What error did you get that blocked this? Try running "Docker Registries: Disconnect" from the command palette

[2019-07-24 20:21] slavslav opened #1154 "Image failed to remove error"
Repro steps:

1. Do "docker run --rm -it nvcr.io/nvidia-hpcvis/paraview:egl-5.6.0rc3" in Windows 10 vscode & have a same commanded terminal running.
2. Try to delete image

Action: vscode-docker.containers.remove
Error type: 409
Error Message: (HTTP code 409) unexpected - removal of container 7cd1e98d6d59dc5547539999e06f65149572b028bd2b830cb2dbaed1fcce0922 is already in progress

Version: 0.7.0
OS

[2019-07-24 21:15] EricJizbaMSFT commented on #1154
@slavslav is the error inaccurate? What are you expecting here? Seems like you just have to wait for the current removal to finish

[2019-07-25 14:15] degus2019 opened #1155 "Remove Generic Docker Registry failed"
Repro steps:

1. Add an empty URL for "Generic Docker Registry"
2. Try to Remove them

Action: vscode-docker.registries.disconnectRegistry
Error type: ERR_INVALID_URL
Error Message: Invalid URL:

Version: 0.7.0
OS: win32
Product: Visual Studio Code
Product Version: 1.36.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-07-25 14:44] slavslav commented on #1154
ok i see. i think i have it fixed. i did to the computer cmos to egl ... i messed with that here over the vstudio-docker app. thanks.

[2019-07-25 15:21] bwateratmsft opened #1156 "ASP.NET Core browser launch is not configurable"
Currently the extension infers browser launch by looking at what port is mapped to 80 in the container (if any), and opens to `http://localhost:{thatPort}`. There's doesn't seem to be any configurability here, which should be added.

[2019-07-25 15:25] #1154 closed

[2019-07-25 16:26] EricJizbaMSFT commented on #1155
@degus2019 can you give me an example "incorrect URL" that I can try?

[2019-07-25 16:32] DatXN opened #1157 "Unexpected exit when debug by using compound to launch multiple docker configurations"
Hi,
I have 2 docker launch configuration for 2 .net core console project, and use compound to launch 2 configuration at the same time.

**Problem: When one console is continue on one console (then it should exist) -> the other console will exist unexpectedly even though the debug still on.**

Attachment is the sample solution to reproduce the issue.

[DxApollo.zip](https://github.com/microsoft/vsc

[2019-07-25 16:34] CashMorris opened #1158 "Docker refused to install on my vs code but I have it installed in my windows"
Repro steps:

1.
2.

Action: vscode-docker.containers.prune
Error type: ENOENT
Error Message: connect ENOENT //./pipe/docker_engine

Version: 0.7.0
OS: win32
Product: Visual Studio Code
Product Version: 1.36.0
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-07-25 16:39] EricJizbaMSFT commented on #997
Closing as duplicate of https://github.com/microsoft/vscode-docker/issues/1113

[2019-07-25 16:39] #997 closed

[2019-07-25 16:43] EricJizbaMSFT commented on #1158
@CashMorris Is Docker running? Please add repro steps

[2019-07-25 16:46] CashMorris opened #1159 "Docker"
Repro steps:

1.
2.

Action: vscode-docker.containers.prune
Error type: ENOENT
Error Message: connect ENOENT //./pipe/docker_engine

Version: 0.7.0
OS: win32
Product: Visual Studio Code
Product Version: 1.36.0
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-07-25 16:49] degus2019 commented on #1155
As example our internal registry:
https://nexus3.xx.xxxxx.de:18445
alternative:
https://10.11.11.2:18445

After i added the IP URL, there is no additional entry in "Connected Registries" Tab.
When I try to add one of the two urls, I am told that the urls already exist

it is not possible to disconnect any registry entry ..
i tried to remove the credentials in windows store... without result
where

[2019-07-25 17:21] nturinski commented on #1159
Closing as a duplicate of https://github.com/microsoft/vscode-docker/issues/1158

[2019-07-25 17:21] #1159 closed

[2019-07-25 18:03] EricJizbaMSFT commented on #1152
Closing as duplicate of https://github.com/microsoft/vscode-docker/issues/1155

[2019-07-25 18:03] #1152 closed

[2019-07-25 18:59] quangkieu commented on #1152
Hey Eric,

Yes the registry url that I tried was `http://localhost:5000`
When I run the command, this is what I got

Repro steps:

1.The registry is not started as after a machine restart
2.Add new private registry http://localhost:5000

Action: vscode-docker.registries.disconnectRegistry
Error type: ERR_INVALID_URL
Error Message: Invalid URL:

Version: 0.7.0
OS: win32
Product: Visual Studio Code

[2019-07-25 19:01] EricJizbaMSFT commented on #1155
@degus2019 Very helpful - thanks!

Unfortunately, I couldn't find an easy workaround with the existing extension. However, I've created a build which should allow you to disconnect the registry with the empty url. If you're interested, install [this build](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=8120) using these instructions: https://aka.ms/azCodeInsiders

[2019-07-25 19:03] EricJizbaMSFT commented on #1155
FYI @quangkieu see above comment for a workaround

[2019-07-25 19:51] degus2019 commented on #1155
i used the build, but there is no option for disconnect,
you only can reset all connections, because you cant see the entrys..
i added min. 3 entrys

![2019-07-25 21_48_00-Window](https://user-images.githubusercontent.com/47261225/61904048-4f908480-af26-11e9-995b-b983c04bd1fe.png)

[2019-07-25 20:34] EricJizbaMSFT commented on #1155
@degus2019 sorry - you have to do "Disconnect" from the command palette (View -> Command Palette) and type in "Disconnect" to filter

![Screen Shot 2019-07-25 at 1 33 58 PM](https://user-images.githubusercontent.com/11282622/61906768-ef2b2400-aee0-11e9-98bb-413d0675fe65.png)

[2019-07-25 20:57] degus2019 commented on #1155
Ah ok :-)

works fine.
thx

[2019-07-25 22:55] steve28 commented on #646
@RobTiki - thanks for the pointer!  works great!  will the docker extension "break" at each update since the above was manually added?

[2019-07-25 22:59] EricJizbaMSFT commented on #646
@steve28 it should update just fine, even with that setting

[2019-07-25 23:00] RobTiki commented on #646
@steve28 I have updated vscode and the extension several times with no issues.

[2019-07-26 13:58] ABouzidi90 opened #1161 "Cannot restart nginx container"
Repro steps:

1.
2.

Action: vscode-docker.containers.start
Error type: 400
Error Message: (HTTP code 400) unexpected - OCI runtime create failed: container_linux.go:344: starting container process caused "process_linux.go:424: container init caused \"rootfs_linux.go:58: mounting \\\"/host_mnt/c/Users/PC/iotech/ioc/nginx/conf.d/default.conf\\\" to rootfs \\\"/var/lib/docker/overlay2/27ea0400692c60

[2019-07-26 16:39] MMN77 opened #1164 "yo"
}, {
    "timestampMs" : "1466260135424",
    "latitudeE7" : 3949051798,
    "longitudeE7" : 3709853600,
    "accuracy" : 24,
    "activity" : [ {
      "timestampMs" : "1466260141475",
      "activity" : [ {
        "type" : "UNKNOWN",
        "confidence" : 35
      }, {
        "type" : "STILL",
        "confidence" : 31
      }, {
        "type" : "IN_VEHICLE",
        "confidence" : 29

[2019-07-26 16:40] MMN77 commented on #1164
}, {
    "timestampMs" : "1466260135424",
    "latitudeE7" : 3949051798,
    "longitudeE7" : 3709853600,
    "accuracy" : 24,
    "activity" : [ {
      "timestampMs" : "1466260141475",
      "activity" : [ {
        "type" : "UNKNOWN",
        "confidence" : 35
      }, {
        "type" : "STILL",
        "confidence" : 31
      }, {
        "type" : "IN_VEHICLE",
        "confidence" : 29

[2019-07-26 16:40] #1164 closed

[2019-07-26 23:00] EricJizbaMSFT commented on #1161
@ABouzidi90 please add repro steps to this issue

[2019-07-27 03:23] sureshsankaran commented on #216
@EricJizbaMSFT In my production scenario, we are using these env variables
DOCKER_HOST
DOCKER_CERT_PATH
**DOCKER_TLS and
DOCKER_API_VERSION**

Could you please add these two new env variable support as well ?

[2019-07-27 03:28] sureshsankaran commented on #216
Between i tried this alpha preview of docker extension. Looks like if we just set DOCKER_HOST, DOCKER_CERT_PATH (Not settting any value for "DOCKER_TLS_VERIFY" ), TLS_VERIFY automatically kicks [in.](url)

Ideally it will be great if the extension can support all the client modes mentioned in
https://docs.docker.com/engine/security/https/

<img width="918" alt="Screen Shot 2019-07-26 at 8 25 18 PM

[2019-07-27 03:42] sureshsankaran commented on #216
One more issue i observed that with docker extension explorer refresh, i see docker engine is leaking fd in every polling. With the default refresh interval of 1sec, i see docker engine pretty quickly hitting the soft limit of max open files and breaks down the engine. Before reporting to docker project, i would like to understand how this extension is querying the docker engine. Pls investigate.

[2019-07-29 15:27] EricJizbaMSFT commented on #216
@sureshsankaran you can change the default refresh interval with the VS Code setting `docker.explorerRefreshInterval`

Otherwise, please create a new issue for your other comments so that we can track it separately from this already closed bug

[2019-07-29 22:13] sureshsankaran opened #1168 "Docker Extension polling causes docker engine fd leak"
Test setup:
Docker extension version - Alpha version built from source code as it is on July 27, 2019.
Docker engine on remote machine - 18.03 version

With default refresh interval of 1sec, extension is polling remote docker engine for status on different docker components like containers/images/registry etc., With this i do see that docker engine on remote machine keep opening fd and eventually

[2019-07-29 22:15] EricJizbaMSFT commented on #954
FYI - our current plan is to change the default from "UI" to "Workspace".

The only scenario where a default of "UI" makes sense is the Dev Container scenario. However, we view Docker as a "Workspace" extension in SSH/WSL much more compelling than Docker as a "UI" extension in a Dev Container. The former enables new functionality not possible before VS Code Remote was launched. The latter provides

[2019-07-29 22:21] sureshsankaran opened #1169 "DOCKER_TLS_VERIFY automatically enabled even without any config"
Test setup:
Docker extension version - Alpha version built from source code as it is on July 27, 2019.
Docker engine on remote machine - 18.03 version

I was trying to connect to remote docker engine by setting config parameters corresponding to
 DOCKER_HOST and DOCKER_CERT_PATH. Didn't set any value for "DOCKER_TLS_VERIFY"  associated setting. Now the extension throws the error saying invalid ser

[2019-07-29 22:21] sureshsankaran commented on #216
thanks opened below issues
[1168](https://github.com/microsoft/vscode-docker/issues/1168)
[1169](https://github.com/microsoft/vscode-docker/issues/1169)

[2019-07-30 04:21] vishal9458425389 opened #1170 "Error is comming while launching docker"
Repro steps:

1.
2.

Action: debugCoreClr
Error type: 1
Error Message: Command failed: dotnet msbuild "C:\Users\VISHAL~1.SIN\AppData\Local\Temp\temp_1564460477402_22012_1.tmp" "/t:GetTargetPath" "/p:ProjectFilename=c:\Users\Vishal.Singh\AzureFunctionsPOCs\AzureFunctionsPOCs.csproj" "/p:TargetOutputFilename=C:\Users\VISHAL~1.SIN\AppData\Local\Temp\temp_1564460477402_22012_2.tmp"

Version: 0.7.0
OS:

[2019-07-30 12:16] pd93 commented on #954
Haven't been using this extension recently because I've been doing all my work in Remote SSH/WSL environments. This is good news!

[2019-07-30 13:06] lackeda opened #1171 "xe"
Repro steps:

1.
2.

Action: debugCoreClr
Error type: Error
Error Message: Unable to infer the application project file. Set either the 'appFolder' or 'appProject' property in the Docker debug configuration.

Version: 0.7.0
OS: darwin
Product: Visual Studio Code
Product Version: 1.36.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-07-30 13:25] bwateratmsft commented on #1170
@philliphoff Looks like a failure in the GetTargetPath magic. @vishal9458425389 , are you able to share your AzureFunctionsPOCs.csproj file?

[2019-07-30 15:56] EricJizbaMSFT commented on #954
@pd93 regardless of the default, you should be able to use this extension in SSH/WSL environments with the setting mentioned above:
[code]

[2019-07-30 17:29] philliphoff commented on #1171
@lackeda You can add the `appProject` or `appFolder` properties to your debug configuration like shown below. Note that you need only specify `appProject` or `appFolder`, not both.

[code]

If neither of those work, let me know and, please, provide any additional details about your project that you can (e.g. the hierarchy of (project) files within the workspace).

[2019-07-30 17:39] rickbeacham opened #1172 "Docker sent me this error message. When I tried running a container from VScode."
Repro steps:

1.
2.

Action: vscode-docker.containers.start
Error type: 500
Error Message: (HTTP code 500) server error - driver failed programming external connectivity on endpoint docker-magento-php7_web_1 (2e9a96313de357c2148518ee20f2b4fe3e75aaf6cb465d000bfb72ef62275b3d): Bind for 0.0.0.0:443 failed: port is already allocated

Version: 0.7.0
OS: darwin
Product: Visual Studio Code
Product Versio

[2019-07-30 20:58] EricJizbaMSFT commented on #1172
@rickbeacham please add repro steps

[2019-07-30 21:20] #1108 closed

[2019-07-30 21:20] #1114 closed

[2019-07-30 22:12] quangkieu commented on #1155
confirm fix. Thank you Eric

[2019-07-31 15:20] rjj-work commented on #990
[ms-azuretools.vscode-docker-unresponsive.cpuprofile.txt](https://github.com/microsoft/vscode-docker/files/3452603/ms-azuretools.vscode-docker-unresponsive.cpuprofile.txt)

[2019-07-31 17:52] EricJizbaMSFT commented on #1168
@sureshsankaran I just want to confirm - have you tried the `docker.explorerRefreshInterval` setting and does that solve the issue on your machine?

[2019-07-31 17:55] EricJizbaMSFT commented on #1168
Are you advocating for a higher default polling interval? If so, what value would work well on your machine? Or are you saying you would prefer _no_ polling by default?

Also, the extension should stop polling if you switch away from the Docker view in VS Code. Let us know if you're not seeing this behavior.

[2019-07-31 18:07] EricJizbaMSFT commented on #1169
We leverage `docker-modem` under the covers which has [this logic](https://github.com/apocas/docker-modem/blob/0d07517d3f684d7d151ec06e090041a936b4ff67/lib/modem.js#L43):
[code]

Are you using port `2376`? Based on [these docs](https://docs.docker.com/engine/reference/commandline/dockerd/):

[2019-07-31 19:18] sureshsankaran commented on #1168
This will not help as we are anyways leaking fd in docker engine. So in few secs or few days, we will hit this soft max files open limit on remote docker engine (and making it unusable). I would like understand what is causing this docker leak ? Is it open connection ?

[2019-07-31 19:25] sureshsankaran commented on #1169
Yes i am using port 2376 with https tls. Issue here is to support the client mode where we don't verify server certificate.

Like third bullet point of client modes in this snapshot. Pretty much check for

<img width="918" alt="Screen Shot 2019-07-26 at 8 25 18 PM" src="https://user-images.githubusercontent.com/7672865/62241406-f4c7b480-b38d-11e9-8c0d-395cf7820744.png">

[2019-07-31 21:59] EricJizbaMSFT commented on #1168
Can you confirm how you know there's a fd leak? It feels possible that we're just polling too often for you and it "reaches maximum soft limit of open files" without any leak at all - which would be solved by polling much less often.

[2019-07-31 23:19] sureshsankaran commented on #1168
I could see from dir.. /proc/$docker_engine_pid/fd

fds kept on increasing with extension polling.  Again it is not about how often you are polling.

Solution:
With every poll you should not be triggering new fd creation of docker engine.

[2019-08-01 10:03] v-xuanzh opened #1174 "An error dialog pops up after running 'Copy Image Digest' for one running task run"
**OS**: All
**Build Version**: [20190731.7](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=8312)

**Steps to reproduce:**
1. Command palette -> Docker Images: Run Azure CLI
2. Run these commands in the new terminal to set environment variables:
- ACR_NAME=`registry-name`
- GIT_USER=`github-username`
- GIT_PAT=`personal-access-token`
- az login
- az account set -s `your-subscript

[2019-08-01 15:30] raphaelgiovanini opened #1175 "Problem"
Repro steps:

1.
2.

Action: vscode-docker.networks.remove
Error type: 403
Error Message: (HTTP code 403) unexpected - none is a pre-defined network and cannot be removed

Version: 0.7.0
OS: darwin
Product: Visual Studio Code
Product Version: 1.36.1
Language: pt-br

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-08-01 15:51] EricJizbaMSFT commented on #1175
@raphaelgiovanini please add repro steps and expected behavior. Seems like docker won't you let you remove the 'none' network

[2019-08-02 01:23] vishal9458425389 commented on #1170
<Project Sdk="Microsoft.NET.Sdk">
  <PropertyGroup>
    <TargetFramework>netcoreapp2.1</TargetFramework>
    <AzureFunctionsVersion>v2</AzureFunctionsVersion>
  </PropertyGroup>
  <ItemGroup>
    <PackageReference Include="Microsoft.NET.Sdk.Functions" Version="1.0.29"/>
    <PackageReference Include="Microsoft.Azure.WebJobs.Extensions.Storage" Version="3.0.3"/>
  </ItemGroup>
  <ItemGroup>
    <No

[2019-08-02 01:24] vishal9458425389 commented on #1170
![image](https://user-images.githubusercontent.com/37198555/62337472-6587e180-b4f2-11e9-9a81-2dfc04f7521e.png)

[2019-08-02 11:22] lackeda commented on #1171
tks

[2019-08-02 17:35] youhide opened #1177 "cant remove generic docker registry"
Repro steps:
1. use disconnect from command pallet
2. we got invalid url...

Action: vscode-docker.registries.disconnectRegistry
Error type: ERR_INVALID_URL
Error Message: Invalid URL:

Version: 0.7.0
OS: darwin
Product: Visual Studio Code
Product Version: 1.36.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-08-02 17:44] EricJizbaMSFT commented on #1177
@youhide please see workaround here: https://github.com/microsoft/vscode-docker/issues/1155#issuecomment-515172916

Closing as duplicate of that issue

[2019-08-02 17:44] #1177 closed

[2019-08-02 18:20] philliphoff commented on #1153
@itlackey What version of Docker are you using?

[2019-08-02 18:29] ravikumar-singi opened #1178 "VSCode:No matching resources found"
Repro steps:

1.
2.

Action: vscode-docker.containers.start
Error type: Error
Error Message: No matching resources found.

Version: 0.7.0
OS: win32
Product: Visual Studio Code
Product Version: 1.36.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-08-02 18:49] EricJizbaMSFT commented on #1178
@ravikumar-singi please add repro steps to this issue. Seems like you may not have any stopped containers

[2019-08-02 19:24] ravikumar-singi opened #1179 "vscode-docker.registries.deployImageToAzure"
Repro steps:

1.
2.

Action: vscode-docker.registries.deployImageToAzure
Error type: BadRequest
Error Message: Requested features are not supported in region.

Version: 0.7.0
OS: win32
Product: Visual Studio Code
Product Version: 1.36.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-08-03 04:21] EricJizbaMSFT commented on #1179
@ravikumar-singi please add repro steps and/or try a different region

[2019-08-05 09:58] danwdart opened #1182 "TOTP (2fa) failure"
Repro steps:
1. Have Docker with 2fa
2. Login

Action: vscode-docker.registries.connectRegistry
Error type: Error
Error Message: The name org.freedesktop.secrets was not provided by any .service files

Version: 0.7.0
OS: linux
Product: Visual Studio Code
Product Version: 1.36.1
Language: en

[2019-08-05 10:10] v-xuanzh opened #1183 "Unable to disconnect the 'Connected Registries' which is used invalid URI"
**OS**: Windows
**Build Version:** [20190804.1](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=8469)

**Steps to reproduce:**
1. Press F1 -> Select 'Connect Registry...'.
2. Select the provider 'Generic Docker Registry(Preview)'.
3. Use an empty URl and username for the registry -> Press 'Enter'.
4. Observe the 'Connect Registries' node.

**Expect Experience:**

1. It shows an e

[2019-08-05 10:17] 1138-4EB opened #1184 "Support multi-select in 'containers' list"
When multiple stopped containers need to be removed, it would be useful to be able to select all of them with Ctrl or Shift and/or through checkboxes, and then right-click once only.

My use case is removal, but I believe the same feature can be useful for stopping, restarting, viewing the logs, attaching, etc.

[2019-08-05 10:22] 1138-4EB commented on #1001
As a side note, when a multi-root workspace is open and a new terminal is created, a list is shown for the user to select which of the folders is to be used as the root/workdir of the terminal. The same approach can be used here.

[2019-08-05 11:01] coderyangyangyang opened #1185 "Error Message: connect EACCES /var/run/docker.sock"
Repro steps:

1.
2.

Action: vscode-docker.containers.prune
Error type: EACCES
Error Message: connect EACCES /var/run/docker.sock

Version: 0.7.0
OS: linux
Product: Visual Studio Code
Product Version: 1.36.1
Language: zh-cn

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-08-05 11:55] ahmadidev opened #1186 "How to use container name variable in launch.json"
Like the `${command:pickRemoteProcess}` variable in the `launch.json`, I want to let other developers to choose desired container to attach to.
Here is my launch.json:

[code]

What is correct command for `${HowToPromptForContainerName?}`?

[2019-08-05 15:37] EricJizbaMSFT commented on #1184
@1138-4EB this is already possible if you run "Docker Containers: Remove" from the command palette (View -> Command Palette)

It's not yet supported directly in the tree, but that's tracked here: https://github.com/microsoft/vscode-docker/issues/331

[2019-08-05 15:37] #1184 closed

[2019-08-05 15:38] EricJizbaMSFT commented on #1183
Closing as duplicate of https://github.com/microsoft/vscode-docker/issues/1155

[2019-08-05 15:38] #1183 closed

[2019-08-05 16:02] EricJizbaMSFT commented on #1185
@coderyangyangyang is Docker installed and running? Please add repro steps

[2019-08-05 16:06] EricJizbaMSFT commented on #1182
@danwdart that seems like a somewhat common linux error related to `gnome-keyring`. Check out https://github.com/MicrosoftDocs/live-share/issues/224, which has suggested steps to fix

[2019-08-05 16:16] 1138-4EB commented on #331
A possible intermediate solution is to add a 'Action'/'Do' button in the CONTAINERS title, on the left of 'Prune'. It would be a dropdown with 'stop', 'remove', etc. Each of the items would point to the corresponding 'Docker Containers: ...' command.

[2019-08-05 16:31] EricJizbaMSFT commented on #331
Multi-select support for custom trees in VS Code is being tracked here: https://github.com/microsoft/vscode/issues/76941

@1138-4EB It's in the "August 2019" milestone so I guess I'd prefer to just wait for that

[2019-08-05 19:20] #1129 closed

[2019-08-05 19:20] #1130 closed

[2019-08-05 19:20] #1133 closed

[2019-08-05 19:20] #1132 closed

[2019-08-06 03:23] coderyangyangyang commented on #1185
There ia no error when I just reboot

[2019-08-06 03:23] #1185 closed

[2019-08-06 10:58] goodking-bq opened #1189 "do not create docker file??"
Repro steps:

1.
2.

Action: vscode-docker.configure
Error type: ENOENT
Error Message: ENOENT: no such file or directory, open '\mnt\d\flask-sqlalchemy-graphene-example\docker-compose.yml'

Version: 0.7.0
OS: win32
Product: Visual Studio Code
Product Version: 1.36.1
Language: zh-cn

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-08-06 15:37] EricJizbaMSFT commented on #1189
@goodking-bq It looks like you're running in WSL? In which case, closing as duplicate of https://github.com/microsoft/vscode-docker/issues/960 and https://github.com/microsoft/vscode-docker/issues/954

You can work around this by adding this to your VS Code settings:
[code]
Make sure to reload VS Code afterwards. This will make sure the Docker extension is _also_ running in WSL.

[2019-08-06 15:37] #1189 closed

[2019-08-06 17:20] #1135 closed

[2019-08-07 01:04] nlaplante opened #1190 "Execute in bash error (name of container undefined)"
When choosing "Execute in bash" from container context menu, the resulting command printed in the terminal puts *undefined* instead of container name.

Example:

Right click on "TEST" container, click on "Execute in bash".

Resulting command in terminal is: `docker exec -it undefined bash`

VS Code 1.36.1, Windows 10

[2019-08-07 14:06] nsw78 opened #1191 "Help me Container error???"
Repro steps:

1.
2.

Action: vscode-docker.containers.restart
Error type: 500
Error Message: (HTTP code 500) server error - Cannot restart container 42d8c5b1ec190d6b244a07381607ef376ac81d6f147b5e98461d888901c41c91: Cannot kill container 42d8c5b1ec190d6b244a07381607ef376ac81d6f147b5e98461d888901c41c91: unknown error after kill: runc did not terminate sucessfully: container_linux.go:388: signaling i

[2019-08-07 14:48] bwateratmsft commented on #1144
Fixed in #1173 and #1180

[2019-08-07 14:48] #1144 closed

[2019-08-07 15:30] EricJizbaMSFT commented on #1190
@nlaplante can you show a screenshot of the context menu? I don't think we provide an "Execute in Bash" command. Perhaps another extension is providing that?

This is what I see:
![Screen Shot 2019-08-07 at 8 29 54 AM](https://user-images.githubusercontent.com/11282622/62635975-9058a800-b8ed-11e9-8b5f-e0950ce9e773.png)

[2019-08-07 15:47] EricJizbaMSFT commented on #1191
@nsw78 please add repro steps

[2019-08-07 16:20] #1131 closed

[2019-08-07 16:20] #1134 closed

[2019-08-07 16:20] #1136 closed

[2019-08-07 21:42] ksawerykarwacki commented on #954
@EricJizbaMSFT this works for remote development but what about scenario when I work local but only uses wsl for docker? On current tech preview this doesn't show anything. Are there any plans to support docker context?

[2019-08-07 22:20] #1138 closed

[2019-08-07 22:55] unfalln commented on #1131
To clarify, this is a request for some of the functionality described in #954 , primarily:

I am looking for this moreso for the "View Logs" command to run on the local machine rather than in the container.

I will leave this closed as it is already outlined elsewhere.

[2019-08-07 23:08] EricJizbaMSFT commented on #954
@ksawerykarwacki have you tried the above setting? You can do either "workspace" to have the docker extension run in WSL or "ui" to have it run outside of WSL. Note, you have to reload VS Code after changing that.

[2019-08-08 03:51] baiyutang opened #1193 "Error Message: connect EACCES /var/run/docker.sock"
Repro steps:

1.
2.

Action: vscode-docker.images.prune
Error type: EACCES
Error Message: connect EACCES /var/run/docker.sock

Version: 0.7.0
OS: linux
Product: Visual Studio Code
Product Version: 1.36.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

----
`/var/run/`
[code]

Is this reason that vscode is not in the group docker ?

[2019-08-08 06:18] katsar0v commented on #990
Just installed the extension as well. Made a local deployment (it is a script which kills and starts containers). When I opened the extension: computer blocked, mouse barely moved. Immediatelly uninstalling...

OS: Xubuntu 18.04
Visual Studio Code 1.36.1
Docker Extension: 0.7.0

[2019-08-08 15:41] EricJizbaMSFT commented on #1193
@baiyutang yeah make sure you follow the steps in “Manage Docker as a non-root user” from Post-installation steps for Linux for the extension to be able to access docker.

https://docs.docker.com/install/linux/linux-postinstall/

[2019-08-08 18:34] EricJizbaMSFT opened #1195 "Add "unpause" option to paused containers"
Repro steps:

1. Pause a container
2. Right click on the container, select start

Expected:
Start works or I can "unpause"

Actual:
Start doesn't work and there is no unpause

Action: vscode-docker.containers.start
Error type: 409
Error Message: (HTTP code 409) unexpected - cannot start a paused container, try unpause instead

Version: 0.7.1-alpha
OS: darwin
Product: Visual Studio Code
Product Ver

[2019-08-08 20:35] #1155 closed

[2019-08-08 20:48] nturinski commented on #1195
Should we add unpause or just have start unpause it if it's in a paused state?  Seems like kind of a silly context menu item to add.

[2019-08-08 20:50] EricJizbaMSFT commented on #1195
The terminology is coming directly from Docker, so I feel like we should be consistent. Also - in Docker we only display start/stop/restart/etc. for applicable items so it won't add any clutter. In other words "unpause" will only show for paused containers

[2019-08-08 20:51] EricJizbaMSFT commented on #190
@PrashanthCorp isn't this fixed in master? Can we close?

[2019-08-08 22:05] nturinski commented on #1195
Oh right, your crazy dynamic context values

[2019-08-08 23:45] EricJizbaMSFT commented on #1195
Lol nah the crazy stuff is for registries. This is a pretty simple one that just adds "state" at the beginning [here](https://github.com/microsoft/vscode-docker/blob/master/src/tree/containers/ContainerTreeItem.ts#L47) with an example reference in package.json [here](https://github.com/microsoft/vscode-docker/blob/master/package.json#L283)

It would probably be pretty easy to replicate for app ser

[2019-08-09 00:09] Ace-Cassidy opened #1197 "Allow attachShellCommand to support login shells"
I want to be able to attach to my docker container as:
 docker exec -it HASH /bin/bash --login
but giving setting: "docker.attachShellCommand.linuxContainer": "/bin/bash --login"
does not seem to pick up the --login flag

Please support flags or add a setting for attachShellCommand.linuxContainer.flags

[2019-08-09 03:05] baiyutang commented on #1193
@EricJizbaMSFT  ok，I will read it,then have a try.Thant you.

[2019-08-09 10:20] #1077 closed

[2019-08-09 14:32] itlackey commented on #1153
@philliphoff I apologize, I was out of town and offline for a while. I am using:
Docker version 18.06.1-ce, build e68fc7a

[2019-08-09 16:15] fiveisprime opened #1199 "Honor the Docker context when running in WSL 2"
I believe this is related to how dockerode works; however, I'm pretty sure the host/socket can be overridden when instantiating a new Docker instance so it may not actually be a bug with dockerode.

On Windows 10 (18950) running WSL 2 with the Docker Desktop WSL 2 Technical Preview. The TP separates the Windows and WSL contexts to prevent destructive operations and Dockerode only accesses the Wind

[2019-08-09 19:00] gbolivar opened #1200 "Error container"
Repro steps:

1.
2.

Action: vscode-docker.containers.start
Error type: 404
Error Message: (HTTP code 404) no such container - network c013ac6a262682fe56e7f9469ee894771020b8a1ca8493a80a9cce27779aebb9 not found

Version: 0.7.0
OS: linux
Product: Visual Studio Code
Product Version: 1.37.0
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-08-09 19:56] StephenWeatherford commented on #1200
@gbolivar Please provide repro steps.  Also, does it reproduce outside of vscode?  Thx.

[2019-08-09 22:29] andreheringer commented on #1193
Having the same issue. I've followed the steps in the linux post installation but the problem persisted. Tried to reinstall the extension but no luck.

Also tired to reload the extension on a fresh installation of vscode 1.37 and the problem persisted.
Downloading and installing older version of the extension and no progress so far.

[2019-08-09 22:55] StephenWeatherford commented on #1193
Can you successfully run 'docker' on a Linux terminal?

[2019-08-10 00:21] andreheringer commented on #1193
I've updated my system and rebooted, and now it works. Does docker require a reboot so it can finish its installation?

Anyways, thank you guys for the attention.

[2019-08-10 02:48] baiyutang commented on #1193
My problem is solved，Thank you.

[2019-08-10 02:48] #1193 closed

[2019-08-10 06:17] mahapatraprabhanjan opened #1202 "Working with multiple docker file and docker compose"
How to specify multiple dockerfile in docker build and docker run as well as appProject in Docker: Launch .Net Core (Preview). My current configuration looks as follows. But I would like to use docker compose there by utilising docker-compose.override.yml and multicontainer apis.

    // Use IntelliSense to learn about possible attributes.
    // Hover to view descriptions of existing attributes.

[2019-08-10 15:06] Tiagoblima opened #1203 "Problem with docker"
Repro steps:

1.
2.

Action: vscode-docker.openUrl
Error type: TypeError
Error Message: Cannot read property 'openUrl' of undefined

Version: 0.7.0
OS: win32
Product: Visual Studio Code
Product Version: 1.37.0
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-08-10 17:52] WizBangCrash commented on #1190
@EricJizbaMSFT  I get the same error. I have a lot more commands available in the context menu. Where are they all coming from :-)
![Screenshot 2019-08-10 at 18 50 18](https://user-images.githubusercontent.com/3075593/62825207-ea809400-bb9f-11e9-8414-bb1a016a813d.jpg)

[2019-08-11 10:43] sujian1988 opened #1204 "docker issue"
Repro steps:

1.
2.

Action: vscode-docker.containers.prune
Error type: ENOENT
Error Message: connect ENOENT //./pipe/docker_engine

Version: 0.7.0
OS: win32
Product: Visual Studio Code
Product Version: 1.37.0
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-08-11 10:44] sujian1988 commented on #1204
dock issue

[2019-08-11 10:45] sujian1988 opened #1205 "dockerimage"
Repro steps:

1.
2.

Action: vscode-docker.images.prune
Error type: ENOENT
Error Message: connect ENOENT //./pipe/docker_engine

Version: 0.7.0
OS: win32
Product: Visual Studio Code
Product Version: 1.37.0
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-08-11 23:33] leeeennyy opened #1206 "Overriding the volume mounted?"
Hi,

I have multiple projects in my solution, where a project will be dependent on another project. For example, ProjectB is dependent on ProjectA.

[code]

I have setup my `launch.json` to build ProjectB, however it only mounts the files from the ProjectB folder instead of the server folder. Is there a way where I can mount it under the `solutionFolder` instead so that the files required in Proje

[2019-08-12 01:01] nlaplante commented on #1190
![image](https://user-images.githubusercontent.com/141054/62841882-25a3c580-bc7b-11e9-8e0c-06de4887f6d8.png)

[2019-08-12 03:55] nikkitan opened #1207 "VSCode: "No matching resources found." when using with Azure Container Registry extension"
Repro steps:

1. Open Command Palette.
2. Search for Azure Container Registry's commands.
3. Click on Azure Container Registry: Open in Portal.
4. (Same error can also be repro-ed by clicking on Azure Container Registry: Create Registry)
5. The error will pop up at the lower right corner. It also has the message of Source: Docker(Extension).

Action: vscode-docker.registries.azure.openInPortal
Err

[2019-08-12 13:42] #1175 closed

[2019-08-12 14:05] bwateratmsft commented on #1206
Yes, you can add volumes under the "dockerRun" option. Most likely, your Dockerfile will need some changes as well. We're also working on supporting this more directly.

[2019-08-12 15:04] bwateratmsft commented on #1190
It looks like you are using the [Docker Explorer](https://marketplace.visualstudio.com/items?itemName=formulahendry.docker-explorer) extension. The repo for that extension is here: https://github.com/formulahendry/vscode-docker-explorer

[2019-08-12 15:04] #1190 closed

[2019-08-12 16:17] #1146 closed

[2019-08-12 16:37] EricJizbaMSFT commented on #1207
@nikkitan did you connect Azure? Go to the registries view and you should see a connect button. We already changed it so that "Connect" would show up if you run an Azure command from the command palette in https://github.com/microsoft/vscode-docker/pull/1163, but that hasn't shipped yet.

[2019-08-12 16:39] EricJizbaMSFT commented on #1205
@sujian1988 please add repro steps

[2019-08-12 16:39] EricJizbaMSFT commented on #1204
Closing as duplicate of https://github.com/microsoft/vscode-docker/issues/1205

[2019-08-12 16:39] #1204 closed

[2019-08-12 17:15] nikkitan commented on #1207
@EricJizbaMSFT Yes I was connected to Azure. I firstly got this error after I used the extension of Azure Account to sign in to Azure in VSCode on an Ubuntu VM. Then I repro-ed the error on my Windows machine and I reported this issue from it.

[2019-08-12 17:17] #1147 closed

[2019-08-12 17:43] nikkitan commented on #1207
@EricJizbaMSFT  Did you mean I need to connect to Azure Container Registry? I didn't do that step. Can you specify more where the registries view is in VSCode? Thanks!

[2019-08-12 18:09] EricJizbaMSFT commented on #1207
Click the Docker button on the left and you should see "Registries"
![Screen Shot 2019-08-12 at 11 07 40 AM](https://user-images.githubusercontent.com/11282622/62887107-7524d880-bcf1-11e9-9717-157cf0af3d58.png)

Also you should be able to see "Connect Registry..." in the command palette:
![Screen Shot 2019-08-12 at 11 08 32 AM](https://user-images.githubusercontent.com/11282622/62887148-8e2d8980-b

[2019-08-12 20:24] nikkitan commented on #1207
@EricJizbaMSFT Thanks! This solved my issue.

[2019-08-12 20:24] #1207 closed

[2019-08-12 22:17] #1148 closed

[2019-08-12 23:14] ksawerykarwacki commented on #1199
Further more to run docker-compose from windows you have to set DOCKER_HOST to the endpoint within wsl2 which brakes everything as extension says that DOCKER_HOST is not valid.

[2019-08-13 00:17] #1149 closed

[2019-08-13 16:17] #1151 closed

[2019-08-13 17:14] bwateratmsft commented on #1206
Ah, I see what you mean. It would be ugly in the project files, but you can possibly do something like this:
[code]

In ProjectB.csproj:
[code]

That being said, for debugging the build doesn't happen within the container, it happens on the host, and the output is mapped into /app. Since ProjectA.dll is present in ProjectB's output folder, debugging worked without needing the above project file ch

[2019-08-14 06:08] EChudnovsky opened #1208 "вщслук"
Repro steps:

1.
2.

Action: vscode-docker.images.remove
Error type: 409
Error Message: (HTTP code 409) conflict - conflict: unable to delete 9f38484d220f (cannot be forced) - image has dependent child images

Version: 0.7.0
OS: win32
Product: Visual Studio Code
Product Version: 1.36.1
Language: ru

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-08-14 16:24] EricJizbaMSFT commented on #1208
@EChudnovsky please add repro steps and expected behavior

[2019-08-14 17:37] hexxone opened #1209 "Add option to remove volume _and_ container that's using it"
Repro steps:

1. Using Vscode & Docker on Windows
2. Start a docker-compose stack with shared local volume
3. rename the volume in your docker-compose.yml
4. "docker-compose up -d" => the new named volume is created and showing up
5. trying to delete the old volume wont work even after restarting vscode & docker completely

Action: vscode-docker.volumes.remove
Error type: 409
Error Message: (HTTP

[2019-08-14 21:23] andrei-i-florentin opened #1210 "why this network?"
Repro steps:

1.
2.

Action: vscode-docker.containers.prune
Error type: ETIMEDOUT
Error Message: connect ETIMEDOUT 192.168.99.100:2376

Version: 0.7.0
OS: win32
Product: Visual Studio Code
Product Version: 1.37.0
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-08-14 21:51] PrashanthCorp commented on #1209
Did you try stopping the container before deleting it?

[2019-08-14 21:55] PrashanthCorp commented on #1210
Does this repro consistently?

[2019-08-15 10:58] kattunga opened #1211 "add an option in config to pull base image when build dockerfile"
Please,
add a config option to add the --pull parameter when build dockerfile.
Now there is no option to pull and update base images.

Another option could be a second menu entry in context menu with this option so we could have:
Build Image...
Build Image (pull base image)...

[2019-08-15 13:17] bwateratmsft commented on #1211
This is a good suggestion, thanks!

[2019-08-15 13:30] FBoucher opened #1212 "Fail to start with F5"
Hello,
This was working a few days ago. Since then I update VSCode and .NET Core. I try with the previous .NET version (preview7) and I still have the error so I think it's more on the VSCOde (or the extension) side.

Repro steps:

1. Create a Docker Container with a .Net Core (preview 7 or 8) SDK `docker run -it --name blazor-dev -v d:/Dev/local/blazortest:/app mcr.microsoft.com/dotnet/core/sdk:3

[2019-08-15 13:39] bwateratmsft commented on #1212
Can you share your project, the folder structure in particular?

Also, I'm not sure I understand why you're creating a container in step 1. The Docker extension will create the container for you when you F5. At best, this container would simply be thrown away; at worst it could cause name conflicts.

[2019-08-15 14:05] FBoucher commented on #1212
I create a container so I can create an application without installing the preview SDK on my machine.
I want to "Remote develop", maybe I do something wrong here...

The structure is the default application of .Net Core

![2019-08-15_10-02-53](https://user-images.githubusercontent.com/2404846/63099995-2327c100-bf44-11e9-9ef2-6bcf654dea63.png)

[2019-08-15 14:30] Hexxonite commented on #1209
Yes, the containers were all stopped. Even restarted Docker to make sure.

[2019-08-15 14:38] bwateratmsft commented on #1212
The Docker extension does debugging by building on the host, mapping the output into the container, and starting it there. It is possible to make this scenario (building in the container) work, but it's tricky.

1. First, start your container, mapping in the folder for source, and ensuring it's read-write:
`docker run -dt --name DotnetSdk -v C:\Users\brandonw\source\repos\ContainerMap:/app:rw mcr.

[2019-08-15 15:16] FBoucher commented on #1212
Thanks.
I forgot to mention I as attaching the C# extension also.
It was working last week... but that I'll adapt.
:)

[2019-08-15 15:16] #1212 closed

[2019-08-15 17:17] #1158 closed

[2019-08-15 17:31] bwateratmsft commented on #1211
@EricJizbaMSFT @sgreenmsft @fiveisprime @PrashanthCorp @philliphoff

For .NET Core debugging in particular, I think it would make sense for there to be a "pull" argument in the "docker build" section, defaulting to true. This would help the common stale image issues.

For the right click -> Build Image scenario, I think we could do either a configuration option, or have two commands like @kattunga

[2019-08-15 20:32] diarraba60 opened #1214 "docker"
Repro steps:

1.
2.

Action: vscode-docker.containers.prune
Error type: ENOENT
Error Message: connect ENOENT //./pipe/docker_engine

Version: 0.7.0
OS: win32
Product: Visual Studio Code
Product Version: 1.37.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-08-16 23:17] #1161 closed

[2019-08-19 08:41] smtkby opened #1216 "Please be sure to remove any private information before submitting."
Repro steps:

1.
2.

Action: debugCoreClr
Error type: Error
Error Message: Unable to infer the application project file. Set either the 'appFolder' or 'appProject' property in the Docker debug configuration.

Version: 0.7.0
OS: darwin
Product: Visual Studio Code
Product Version: 1.36.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-08-19 22:37] EricJizbaMSFT commented on #1214
@diarraba60 make sure Docker is installed and running. If it is and you still see this issue, please add repro steps

[2019-08-19 23:00] EricJizbaMSFT commented on #1209
@Hexxonite based on [this thread](https://stackoverflow.com/questions/34658836/docker-is-in-volume-in-use-but-there-arent-any-docker-containers) seems like stopping a container isn't enough. You have to remove them as well. You can do that in one of several ways as mentioned in that thread:
1. Manually remove the container if you know which one it is
1. Prune containers to remove all stopped conta

[2019-08-20 08:07] bpasero opened #1217 "Run/Run Interactive: do not specify -rm"
I am using the Docker extension to create a container from an image and I picked the "Run Interactive" command. To my surprise all my data was lost when the container stopped. This seems to be due to the -rm option that is passed.

I suggest to not add this.

@chrmarti cc

[2019-08-20 08:09] bpasero opened #1218 "Group "Attach" actions closer together"
In this case:

![image](https://user-images.githubusercontent.com/900690/63329609-8c3b7a00-c332-11e9-8025-06994c2f05af.png)

I suggest to have the "Attach" actions grouped together.

[2019-08-20 08:10] bpasero commented on #1218
Suggestion:
Attach Shell
Attach VSC
---------
Inspect
View Logs
---------
Stop
Restart
----------
Remove

[2019-08-20 14:10] bwateratmsft commented on #1218
@bpasero The "Attach Visual Studio Code" command is part of a different extension, https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.remote-containers. Can you file this to their repository here? https://github.com/microsoft/vscode-remote-release

[2019-08-20 14:11] #1218 closed

[2019-08-20 14:22] bpasero commented on #1218
I filed https://github.com/microsoft/vscode-remote-release/issues/1215 but it will not mean anything unless you put that action into a group that the other can pick it up.

[2019-08-20 18:23] philliphoff opened #1219 ".dockerignore should not exclude ./bin for Node.js repos"
Express.js applications default to running the script `./bin/www` on startup.  This script is now missing from Docker images due to recent changes in the `.dockerignore` scaffolding which causes the `./bin` folder to be excluded from the build context.  This causes the application to fail to start within the container.

[2019-08-20 19:11] iansan5653 opened #1220 "Cannot read property 'openUrl' of undefined"
Repro steps:

1. Install extension
2. Run `Docker Containers: Start`
3. Run `Install Docker...`

Action: vscode-docker.openUrl
Error type: TypeError
Error Message: Cannot read property 'openUrl' of undefined

Version: 0.7.0
OS: win32
Product: Visual Studio Code - Insiders
Product Version: 1.38.0-insider
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-08-20 21:17] #1172 closed

[2019-08-21 07:56] qshmobile opened #1222 "Problem with start contener after create from image"
Repro steps:

1.
2.

Action: vscode-docker.containers.start
Error type: 500
Error Message: (HTTP code 500) server error - driver failed programming external connectivity on endpoint gitlab (11303a16273c9d995e84f3fc2ff393a837ffe09c0125f2416a47b3525fc15e96): Error starting userland proxy: listen tcp 0.0.0.0:80: bind: address already in use

Version: 0.7.0
OS: darwin
Product: Visual Studio Code
Produ

[2019-08-21 20:19] nturinski commented on #1222
Hi @qshmobile,

Thanks for reporting this issue. Could you provide repro steps?

[2019-08-22 07:13] adkhn777 commented on #1108
I am also facing the same issue, although i am able to run `docker image ls` and other docker commands under same user without sudo

[2019-08-22 14:37] jacoboospina opened #1223 "I cant run localhost, might be because of this issue.."
Repro steps:

1.
2.

Action: vscode-docker.containers.prune
Error type: EACCES
Error Message: connect EACCES /var/run/docker.sock

Version: 0.7.0
OS: linux
Product: Visual Studio Code
Product Version: 1.37.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-08-22 20:14] fiveisprime commented on #190
Appears to have been fixed in https://github.com/microsoft/vscode-docker/pull/1085

[2019-08-23 18:52] #1178 closed

[2019-08-24 04:52] #1179 closed

[2019-08-24 16:26] Urgen-Dorjee opened #1224 "Add Docker does not generate compose file"
I have installed Docker Extension 0.7.0, "Docker: Add Docker files to workspace" does not generate or create docker-compose.yml to the project. It's only create Dockerfile. Why is that, as per documentation it says :- Automatic Dockerfile, docker-compose.yml, and .dockerignore file generation (Press F1 and search for Docker: Add Docker files to Workspace)

Visual Code Version: 1.37.1

Thanks

[2019-08-26 08:07] kevrat opened #1225 "dockerd process high cpu usage"
When extension panel is openned i have ~7% dockerd cpu usage for every vscode window with openned extension panel
![image](https://user-images.githubusercontent.com/9952048/63675280-1c753580-c7f1-11e9-8493-e3a0311b4793.png)
![image](https://user-images.githubusercontent.com/9952048/63675384-5d6d4a00-c7f1-11e9-819d-ba1291fea57d.png)

When i close extenson panel the usage is ok (<1%)
![image](https:

[2019-08-26 13:20] bwateratmsft commented on #1224
@Urgen-Dorjee What project type did you choose (e.g. Node, ASP.NET Core, etc.)?

[2019-08-26 14:26] Urgen-Dorjee commented on #1224
I choose ASP.NET Core, I guess it should work as per your documentation reference..  Any idea!!

[2019-08-26 16:52] #1182 closed

[2019-08-26 17:18] DmacTorstar opened #1226 "Error: connect ENOENT //./pipe/docker_engine Unable to connect windows 10 home"
Seems like same issue as :
https://github.com/microsoft/vscode-docker/issues/576
https://github.com/microsoft/vscode-docker/issues/164

Steps to reproduce:
1. Launch docker quickstart terminal
2. login to azure registry
3. build image - success

Results:
- Azure registry shows up in sidebar
- No containers, images, volumes show up.

I am able to run the docker hello-world example with no problems.

[2019-08-27 11:46] parence commented on #954
I am able to see all of my containers and images in an SSH environment when using:

[code]

Running images, viewing container logs, stopping containers and attaching a shell works, however the only thing that does not work for me is right clicking on a running container and selecting 'Attach Visual Studio Code'. This fails because I don't have the docker cli on my host system.

Since I am running

[2019-08-27 14:16] dingrui37 opened #1227 "Error:connect ENOENT //.pipe/docker_engine"
![image](https://user-images.githubusercontent.com/22718365/63778714-e7173780-c917-11e9-8ace-810c5246d4e1.png)

[2019-08-27 14:23] cirineulemos opened #1228 "Error"
Repro steps:

1.
2.

Action: vscode-docker.containers.start
Error type: 400
Error Message: (HTTP code 400) unexpected - OCI runtime create failed: container_linux.go:345: starting container process caused "exec: \"-p\": executable file not found in $PATH": unknown

Version: 0.7.0
OS: win32
Product: Visual Studio Code
Product Version: 1.37.1
Language: en

<details>
<summary>Call Stack</summary>

[c

[2019-08-27 14:41] geekzoo opened #1229 "adding docker private registry"
Repro steps:

Kubuntu <<
lsb_release -a provides
Distributor ID: Ubuntu
Description:    Ubuntu 18.04.3 LTS
Release:        18.04
Codename:       bionic

1. add a private docker registry url
2. provide username
3. provide password

Action: vscode-docker.registries.connectRegistry
Error type: Error
Error Message: The name org.freedesktop.secrets was not provided by any .service files

Version: 0.7.0

[2019-08-27 15:49] clnGitHub opened #1230 "unable to connect registry Docker Hub with Docker ID and password"
Repro steps:

1.
2.

Action: vscode-docker.registries.connectRegistry
Error type: Error
Error Message: The name org.freedesktop.secrets was not provided by any .service files

Version: 0.7.0
OS: linux
Product: Visual Studio Code
Product Version: 1.37.1
Language: en

[2019-08-28 00:19] dingrui37 commented on #1227
Yes
![image](https://user-images.githubusercontent.com/22718365/63816911-8ebe5500-c96c-11e9-8a71-680dfbdd2d27.png)

[2019-08-28 05:21] selims88 opened #1232 "Issue with VS Code and Docker Ext"
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce issue&gt;

Action: docker.languageclient.activate
Error type: Error
Error Message: The language client requires VS Code version ^1.26 but received version 1.25.1

Version: 0.5.0
OS: darwin

[2019-08-28 06:34] luozhouyang commented on #1193
I can run all the docker commands in terminal, but the problem persisted.

I have been using docker for months and every thing is ok. But I try the vs code remote container, the error message occurs: **connect EACCES /var/run/docker.sock**

![error_docker](https://user-images.githubusercontent.com/34032031/63831248-d5c63d80-c9a0-11e9-9926-b9c6adf173be.jpeg)

[2019-08-28 06:46] baiyutang commented on #1193
Did you have  a try like this ?

![image](https://user-images.githubusercontent.com/10782183/63831991-71a47900-c9a2-11e9-9ca9-77211e211322.png)

https://docs.docker.com/install/linux/linux-postinstall/

[2019-08-28 12:05] #1216 closed

[2019-08-28 15:52] #1191 closed

[2019-08-29 07:39] Infraton11 opened #1234 "Handmade"
You get caught with this .I dont blow my own dad and h3 dont know may

[2019-08-29 14:08] scabana opened #1235 "Add pickDockerContainer command"
Would be equivalent to command:pickDockerContainer from omnisharp. This would enable to have a single launch task that looks like this:
[code]
instead of having 1 launch task per container.

[2019-08-29 16:47] veonua opened #1236 "Can we just skip it?"
Repro steps:

try to pull image from azure repository

Action: vscode-docker.registries.pullImage
Error type: string
Error Message: WARNING! Your password will be stored unencrypted in /home/veon/.docker/config.json.
Configure a credential helper to remove this warning. See
https://docs.docker.com/engine/reference/commandline/login/#credentials-store

Version: 0.7.0
OS: linux
Product: Visual Studi

[2019-08-29 23:42] scabana commented on #1235
Would you take a contribution on this?

[2019-08-30 07:10] xusai2014 opened #1237 "Could not pull responsitry"
Repro steps:

1.
2.

Action: vscode-docker.registries.pullRepository
Error type: 1
Error Message: Command failed: docker login  --username xusai2014 --password-stdin
Error saving credentials: error storing credentials - err: no credentials server URL, out: `no credentials server URL`

Version: 0.7.0
OS: darwin
Product: Visual Studio Code
Product Version: 1.35.1
Language: en

<details>
<summary>Cal

[2019-08-30 11:08] dingrui37 commented on #1227
I don't know what I have done, today it is ok

[2019-08-30 11:09] dingrui37 commented on #1227
linux, remote-ssh

[2019-08-30 11:48] #1223 closed

[2019-08-30 20:52] #1200 closed

[2019-08-31 15:20] #1225 closed

[2019-09-02 01:12] jnather opened #1238 "54"
Repro steps:

1.
2.

Action: vscode-docker.containers.start
Error type: 500
Error Message: (HTTP code 500) server error - driver failed programming external connectivity on endpoint JC (1b7dd4679956cac6e585079e167294943d7b0861ec76fea63482ea2da90ec805): Error starting userland proxy: /forwards/expose/port returned unexpected status: 500

Version: 0.7.0
OS: win32
Product: Visual Studio Code
Product

[2019-09-02 07:15] CorrieScheepers2 opened #1239 "Docker Issue"
Repro steps:

1.
2.

Action: vscode-docker.containers.start
Error type: 500
Error Message: (HTTP code 500) server error - driver failed programming external connectivity on endpoint latex_dev_texhost_1 (f29165ac097f4c71075f8eb2d580f0175ccc97c141341d72701a3adc0b83f140): Error starting userland proxy: listen tcp 0.0.0.0:4000: bind: An attempt was made to access a socket in a way forbidden by its acc

[2019-09-02 16:52] #1205 closed

[2019-09-03 03:40] jnather opened #1241 "cant start container"
Repro steps:

1.
2.

Action: vscode-docker.containers.start
Error type: 500
Error Message: (HTTP code 500) server error - driver failed programming external connectivity on endpoint JC (58d263491fa0545f8a8982a1c90dfea3d355f1a2d132b22ad46911c68febf1b8): Error starting userland proxy: /forwards/expose/port returned unexpected status: 500

Version: 0.7.0
OS: win32
Product: Visual Studio Code
Product

[2019-09-03 12:43] Will-Blackburn commented on #1199
I've been fighting with this for the last few days, Bash and Windows working with WSL2 but the UI for VSCode is running on Windows for Docker and I've not found a way to make it work with WSL

[2019-09-03 13:40] bwateratmsft commented on #1238
Looks like dupe of #1241

[2019-09-03 13:40] #1238 closed

[2019-09-03 13:40] bwateratmsft commented on #1239
@CorrieScheepers2 Can you add repro steps? Does restarting Docker have any effect?

[2019-09-03 13:41] bwateratmsft commented on #1241
@jnather Can you add repro steps? Does restarting Docker have any effect?

[2019-09-03 17:32] philliphoff commented on #1153
@itlackey Ah, ok.  We saw the same issue on 18.06 and appears to be specific to that version of Docker; later versions do not exhibit this behavior.  If you can, try updating your Docker installation and let us know if you're still having trouble.

[2019-09-03 17:38] bwateratmsft commented on #1237
@xusai2014 This issue looks like it may be with the Docker CLI itself. Can you open an issue at their [GitHub repo](https://github.com/docker/cli)?

[2019-09-03 17:38] #1237 closed

[2019-09-03 17:40] bwateratmsft commented on #1229
@geekzoo This issue looks like it may be with the Docker CLI itself. Can you open an issue at their [GitHub repo](https://github.com/docker/cli)?

There are many issues that resemble this one, not all of them with Docker:
https://github.com/moby/buildkit/issues/1078
https://github.com/Foundry376/Mailspring/issues/681

[2019-09-03 17:40] #1229 closed

[2019-09-03 17:41] bwateratmsft commented on #1236
@veonua I'm not sure exactly what this is asking for, have you tried following the steps within the [link](https://docs.docker.com/engine/reference/commandline/login/#credentials-store)?

[2019-09-03 17:50] bwateratmsft commented on #1203
Looks to be the same as #1220

[2019-09-03 17:50] #1203 closed

[2019-09-03 17:53] bwateratmsft commented on #1156
Dupe of #764

[2019-09-03 17:53] #1156 closed

[2019-09-03 18:00] bwateratmsft opened #1242 "Change to a tasks-based model for Docker Build / Docker Run"
Historically the process of building and starting a debug container was done entirely during resolveDebugConfiguration, which at the time was the only way possible, but is a bit of an abuse of the API.

Now that resolveTask is supported in VSCode, it is possible for us to resolve `docker build` / `docker run` tasks just-in-time. This means we can use preLaunchTask + tasks to start the container fo

[2019-09-03 20:00] veonua commented on #1236
what if i don’t want to encrypt my password, can we just ignore the warning

[2019-09-04 09:27] v-ruizh opened #1243 "Fail to deploy image to Azure App Service in Docker Hub Registries"
**OS:** All
**Build Version:** [20190902.1](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=9351)
**Regression:** Previous release

**Steps to reproduce:**

1. Create an Express App and open it in VS Code.
2. Command Palette->Add Docker files to workspace->Node.js->Enter port.
3. Right click Dockerfile->Build image.
4. Push the image to Docker Hub registry.
5. Right click the ima

[2019-09-04 10:24] tdamsma opened #1244 "Settings precedence, shouldn't Remote take precedence over Workspace?"
Currently ( vscode 1.37.1; remote containers 0.67.3) the precedence of settings is

`User` < `Remote [Dev Container]` < `Workspace`

The [documentation](https://code.visualstudio.com/docs/remote/containers#_devcontainerjson-reference) states

For my usecase,  am developing a python package. I refer local development, but also want to be able to develop in containers. An important difference is the

[2019-09-04 13:45] bwateratmsft commented on #1236
Obviously I cannot recommend keeping your password in cleartext anywhere as it is a severe security risk. Unfortunately there isn't a way to work around this other than to configure a credential helper. The Docker CLI emits both warnings and errors to stderr, and the code as-written will raise an exception if there is any output to stderr.

[2019-09-04 13:54] bwateratmsft commented on #1224
For now I'll resolve this one as a duplicate of #840 since that covers this scenario.

[2019-09-04 13:54] #1224 closed

[2019-09-04 13:55] bwateratmsft commented on #1226
@DmacTorstar Does this issue consistently reproduce? Does restarting the Docker service have any effect?

[2019-09-04 16:26] veonua commented on #1236
So plug-in doesn't work without credential helper. Which is optional for docker itself

Andrew

[2019-09-04 16:52] #1208 closed

[2019-09-04 18:30] EricJizbaMSFT commented on #1235
@scabana can you describe the scenario when you would use this launch.json? I'd like to hear more about the problem you're trying to solve before we go straight to the fix. Specifically @bwateratmsft is working on some .NET Core debugging features and I wonder if his work could simplify your debugging experience so that you don't have to pick the process/container each time

[2019-09-04 18:41] scabana commented on #1235
@EricJizbaMSFT For a microservice architecture, where a lot of microservices are generated from a template. Most of the time, the remote attach is to debug docker-compose ran automated tests. In that case, we can have from 2-5 containers up for a single run into which we could want attach. If a command would exist, this would mean we could have a config without specific container names hard coded

[2019-09-04 18:48] bwateratmsft commented on #1235
At the moment I don't have any plans for .NET Core _attach_ (just launch) so I think this work is different from what I'm working on.

[2019-09-04 22:37] PrashanthCorp commented on #190
Closing as fixed.

[2019-09-04 22:37] #190 closed

[2019-09-04 23:30] philliphoff commented on #1243
@v-ruizh What version of VS Code are you using? I'm on the latest (1.38) and cannot repro that error message.  I notice in your screenshot that it appears that the repository node is selected even though the context menu shown should be for the tag node.  I could imagine this to be a problem, but no combination of keyboard or mouse selection repros that configuration.

That said, I encountered ano

[2019-09-05 00:02] philliphoff commented on #1243
Notes regarding the other issue:

This is because the wizard isn't completed until all of the steps are complete, and the web hook step isn't complete until the notification is dismissed.

The problem is that VS Code will shift informational messages from the shell to the notification pane after some period of time, effectively hiding it.

So the only message left on the shell is the "deploying...

[2019-09-05 14:19] tdamsma commented on #1244
I see i misplaced this, moved to https://github.com/microsoft/vscode-remote-release/issues/1371

[2019-09-05 14:19] #1244 closed

[2019-09-05 18:47] lucasscarduelli opened #1248 "Error when delete network"
Repro steps:

1.
2.

Action: vscode-docker.networks.remove
Error type: 403
Error Message: (HTTP code 403) unexpected - bridge is a pre-defined network and cannot be removed

Version: 0.7.0
OS: linux
Product: Visual Studio Code
Product Version: 1.37.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-09-05 23:41] DJGHOSTMACHINE opened #1249 "performance issues vusual studio code"
Repro steps:

1.
2.

Action: vscode-docker.volumes.prune
Error type: ENOENT
Error Message: connect ENOENT //./pipe/docker_engine

Version: 0.7.0
OS: win32
Product: Visual Studio Code
Product Version: 1.38.0
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-09-06 02:51] v-ruizh commented on #1243
@philliphoff, sorry for submitting this invalid issue. This issue does not reproduce after updating the VS Code Insider and Docker Desktop.

[2019-09-06 12:38] bwateratmsft commented on #1243
@v-ruizh No problem! We were able to find another bug while investigating :)

[2019-09-06 12:38] #1243 closed

[2019-09-06 12:39] bwateratmsft commented on #1249
@DJGHOSTMACHINE Is Docker installed and running?

[2019-09-06 12:41] bwateratmsft commented on #1248
I'm not sure what the problem is here? `bridge` is a pre-defined network and cannot be removed; this is Docker's decision, not ours.

[2019-09-06 12:47] bwateratmsft commented on #1220
I'm able to reproduce this issue.

[2019-09-06 16:01] saidevops55 opened #1251 "docker-vscode issue"
Repro steps:

1.
2.

Action: vscode-docker.registries.pullImage
Error type: 1
Error Message: Command failed: docker login  --username chandusai95 --password-stdin
unable to resolve docker endpoint: open C:\Users\ADMIN\.docker\machine\machines\default\ca.pem: The system cannot find the file specified.

Version: 0.7.0
OS: win32
Product: Visual Studio Code
Product Version: 1.38.0
Language: en

<detai

[2019-09-06 16:13] bwateratmsft commented on #1251
@saidevops55 Can you add repro steps?

[2019-09-06 16:14] bwateratmsft commented on #1186
This is essentially what #1235 seeks to solve so I'll dupe this one to that one.

[2019-09-06 16:14] #1186 closed

[2019-09-06 16:56] bwateratmsft commented on #1220
The issue exists in a dependent package, bug: https://github.com/microsoft/vscode-azuretools/issues/578

[2019-09-06 22:48] sgreenmsft commented on #1222
My read of that error is that localhost port 80 is in use and so Docker cannot allocate the port.  Steps to reproduce would look like:
1) Run a container: docker run -dt -p 8822:8822 --entrypoint tail mcr.microsoft.com/dotnet/core/sdk:2.2 -f /dev/null
2) In VS Code, stop the container that was just started
3) Run another container: docker run -dt -p 8822:8822 --entrypoint tail mcr.microsoft.com/do

[2019-09-07 04:36] bwateratmsft commented on #1222
@sgreenmsft I'm not really sure this is actionable. There's infinitely many things that could be holding port 80.

[2019-09-07 06:15] swiddmim opened #1252 "visual studio code"
Repro steps:

1.
2.

Action: debugCoreClr
Error type: Error
Error Message: Unable to infer the application project file. Set either the 'appFolder' or 'appProject' property in the Docker debug configuration.

Version: 0.7.0
OS: darwin
Product: Visual Studio Code
Product Version: 1.38.0
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-09-07 15:23] Solrac23 opened #1253 "Docker"
Repro steps:

1.
2.

Action: vscode-docker.openUrl
Error type: TypeError
Error Message: Cannot read property 'openUrl' of undefined

Version: 0.7.0
OS: win32
Product: Visual Studio Code
Product Version: 1.37.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-09-07 19:45] Yahampath opened #1254 "Cannot connect to the Docker"
Repro steps:
1. install docker v1.18 into ubuntu 18.08
2. install VSCode

Docker Version
Client:
 Version:      18.03.1-ce
 API version:  1.37
 Go version:   go1.9.5
 Git commit:   9ee9f40
 Built:        Wed Jun 20 21:43:51 2018
 OS/Arch:      linux/amd64
 Experimental: false
 Orchestrator: swarm

Server:
 Engine:
  Version:      18.03.1-ce
  API version:  1.37 (minimum version 1.12)
  Go version:

[2019-09-07 23:06] bwateratmsft commented on #1253
Looks like a dupe of #1220

[2019-09-07 23:06] #1253 closed

[2019-09-07 23:06] bwateratmsft commented on #1254
Looks like a dupe of #1220

[2019-09-07 23:06] #1254 closed

[2019-09-07 23:07] bwateratmsft commented on #1252
@swiddmim Can you add repro steps? In cases where the csproj/fsproj is not easily located, you need to set either appFolder or appProject in the launch.json config for Docker .NET Core debugging.

[2019-09-08 03:20] swiddmim commented on #1252
Sorry but this is my first time of using it so I don’t know how to do it. Can you please have more details instructions please.

Tuyen Le
2293388307

________________________________
From: Brandon Waterloo [MSFT] <notifications@github.com>
Sent: Saturday, September 7, 2019 7:07:23 PM
To: microsoft/vscode-docker <vscode-docker@noreply.github.com>
Cc: Tuyen Le <tle73@students.kennesaw.edu>; Mention

[2019-09-08 14:58] bwateratmsft commented on #1252
@swiddmim No problem! Can your share your launch config from .vscode/launch.json? Essentially, what is needed is to add the .NET Core project file (csproj, fsproj, etc.) to the project you wish to debug, like this:

![image](https://user-images.githubusercontent.com/36966225/64490082-91039780-d227-11e9-9b22-631446bfdb02.png)

[2019-09-08 15:16] bwateratmsft opened #1255 "Enable debugging in container for Python"
Depends on #1242 , https://github.com/microsoft/vscode-python/issues/7282

[2019-09-08 16:02] swiddmim commented on #1252
I added it but still doesn't work.
________________________________
From: Brandon Waterloo [MSFT] <notifications@github.com>
Sent: Sunday, September 8, 2019 11:58 AM
To: microsoft/vscode-docker <vscode-docker@noreply.github.com>
Cc: Tuyen Le <tle73@students.kennesaw.edu>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/vscode-docker] visual studio code (#1252)

@swiddmim<https://githu

[2019-09-08 16:29] bwateratmsft commented on #1252
Can you share your workspace?

[2019-09-08 17:00] swiddmim commented on #1252
[cid:772a2636-ae26-4690-994b-1c483ab4358d]
________________________________
From: Brandon Waterloo [MSFT] <notifications@github.com>
Sent: Sunday, September 8, 2019 1:29 PM
To: microsoft/vscode-docker <vscode-docker@noreply.github.com>
Cc: Tuyen Le <tle73@students.kennesaw.edu>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/vscode-docker] visual studio code (#1252)

Can you share yo

[2019-09-09 05:05] paulorobles opened #1256 "I was not able to connect to my dockerhub account thru VS studio in Debian"
Repro steps:

1.
2.

Action: vscode-docker.registries.connectRegistry
Error type: Error
Error Message: The name org.freedesktop.secrets was not provided by any .service files

Version: 0.7.0
OS: linux
Product: Visual Studio Code
Product Version: 1.38.0
Language: en

[2019-09-09 11:58] sontseslav opened #1257 "Cannot connect to Docker Hub registry"
Repro steps:
1. Click on "Select Registry"
2. Select "Docker Hub"
3. Type ID and press Enter
4. Type password and press Enter
Actual Result: an error
Expected Result: successfully connected to the registry

Action: vscode-docker.registries.connectRegistry
Error type: Error
Error Message: The name org.freedesktop.secrets was not provided by any .service files

Version: 0.7.0
OS: linux
Product: Visu

[2019-09-09 13:30] bwateratmsft commented on #1252
Can you try again? It seems nothing came through.

[2019-09-09 13:31] bwateratmsft commented on #1257
Looks like a dupe of #1229

[2019-09-09 13:31] #1257 closed

[2019-09-09 13:31] bwateratmsft commented on #1256
Looks like a duplicate of #1229

[2019-09-09 13:31] #1256 closed

[2019-09-09 16:24] sgreenmsft commented on #1222
Similar to VS, a better error message would be an improvement here.

[2019-09-09 17:38] #954 closed

[2019-09-09 19:05] #1220 closed

[2019-09-09 22:52] #1214 closed

[2019-09-10 08:31] ahmetozalp opened #1259 "Help!"
Repro steps:

1.
2.

Action: vscode-docker.containers.start
Error type: 500
Error Message: (HTTP code 500) server error - driver failed programming external connectivity on endpoint isys-webserver (68a2b8f722afac9d4762b9679b0bea82bbb77dacac1cd9df8b3ca740a99ab8dc): Error starting userland proxy: listen tcp 0.0.0.0:443: bind: Only one usage of each socket address (protocol/network address/port) is n

[2019-09-10 13:46] bwateratmsft commented on #1259
Can you add repro steps?

[2019-09-10 17:47] EricJizbaMSFT opened #1260 "Improve VS Code remote support when running as a "UI" extension"
In VS Code remote scenarios, users can choose to run as a "workspace" extension (aka in the remote environment) or as a "UI" extension (aka in the local environment). Per https://github.com/microsoft/vscode-docker/issues/954, we made the default "workspace". However, there are a few scenarios where users might want to run as a "UI" extension, for example:
1. In a dev container to avoid running doc

[2019-09-10 21:48] chazt3n commented on #840
Is any work being done on this? If not, how can I help?

[2019-09-11 07:17] sewerganger opened #1261 "can't add docker files in wsl"
Repro steps:

1. can't add docker file in wsl

Action: vscode-docker.configure
Error type: ENOENT
Error Message: ENOENT: no such file or directory, open '\home\sewer\paste-any\docker-compose.yml'

Version: 0.7.0
OS: win32
Product: Visual Studio Code
Product Version: 1.38.0
Language: zh-cn

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-09-11 09:34] v-dantch commented on #1106
More Info:
There is also no icon for the "GitLab" node.
![image](https://user-images.githubusercontent.com/34729092/64685935-6a10c400-d4ba-11e9-8d82-a090bc3aa34b.png)

[2019-09-11 10:21] dhruv217 opened #1262 "EACCES error on Pop os with docker installed"
Repro steps:

1. Install Docker: sudo apt update && sudo apt install docker.io
2. install Docker extension on vs code.
3. Add $user to docker usrgroup.
4. Check to see if docker --version works in terminal, which it does.
5. open the docker extension panel to see Failed to connect.

Action: vscode-docker.containers.prune
Error type: EACCES
Error Message: connect EACCES /var/run/docker.sock

Versio

[2019-09-11 10:34] v-dantch opened #1263 "The container auto removed for .NET Core Console applications on Mac and Win10"
**OS:** Win10 & Mac
**Build Version**: [20190909.2](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=9611)

**Repro Steps:**
1. Create a new .NET Core Console application by command "dotnet new console --name test".
2. Open the new created application in VS Code.
3. Wait for and respond "yes" when prompted to add required assets to build and debug like below.
![image](https://user

[2019-09-11 11:08] v-dantch opened #1264 "The browser window displaying "Hello World!" doesn't open after debugging a .NET Core ASP.NET application"
**OS:** Linux
**Build Version**: [20190909.2](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=9611)

**Repro Steps:**
1. Create a new .NET Core ASP.NET application by "dotnet new web --name test".
2. Open this application in VS Code.
3. Wait for and respond "yes" when prompted to add required assets to build and debug like below.
![image](https://user-images.githubusercontent.com

[2019-09-11 14:11] bwateratmsft commented on #1263
This behavior is intentional; if it's not removing on Linux we have a bug there. With the work Phil and I are doing in #1245, there will be an option in the launch configuration, default on, to remove the container after debugging.

[2019-09-11 14:11] #1263 closed

[2019-09-11 14:12] bwateratmsft commented on #1264
Potentially a regression from SSL changes; I'll take a look.

[2019-09-11 14:16] bwateratmsft commented on #840
@chazt3n Not at the moment but it is on our radar. At the moment, @philliphoff and I are doing a major refactor of debugging. It is primarily centered around single-Dockerfile debugging, but the model would certainly support docker-compose debugging. You can see our PR here: #1245

[2019-09-11 14:38] bwateratmsft commented on #1153
That's good news! Thanks for the update!

[2019-09-11 14:38] #1153 closed

[2019-09-11 14:59] bwateratmsft commented on #1261
@sewerganger Can you try [this](https://github.com/microsoft/vscode-docker/issues/1189#issuecomment-518724205) as a workaround? Closing as dupe of #954 and #960

[2019-09-11 14:59] #1261 closed

[2019-09-11 15:57] bwateratmsft commented on #1262
@dhruv217 It's possible that you'll need a reboot after step 3. The Docker guide says a logoff is sufficient but that has not worked for me in the past. Can you try rebooting and see if it works?

[2019-09-11 20:09] bwateratmsft commented on #1235
Yes, I agree.

[2019-09-11 20:28] dhruv217 commented on #1262
Yup , the system restart did the trick. Thank you.

[2019-09-12 15:03] Thomass94 opened #1266 "docker"
Repro steps:

1.
2.

Action: vscode-docker.registries.pullImage
Error type: string
Error Message: WARNING! Your password will be stored unencrypted in /home/thomas/.docker/config.json.
Configure a credential helper to remove this warning. See
https://docs.docker.com/engine/reference/commandline/login/#credentials-store

Version: 0.7.0
OS: linux
Product: Visual Studio Code
Product Version: 1.33.0
L

[2019-09-12 15:09] #1266 closed, assigned to nobody

[2019-09-13 08:53] xgdgsc commented on #1217
I lost my 2 hours of config because of this!

[2019-09-13 14:52] #1210 closed

[2019-09-13 17:17] dsouzasccp opened #1269 "error to create Dockerfile by VS Code"
Repro steps:

1.
2.

Action: vscode-docker.configure
Error type: EPERM
Error Message: EPERM: operation not permitted, open 'c:\docker-compose.yml'

Version: 0.8.0
OS: win32
Product: Visual Studio Code
Product Version: 1.38.0
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-09-13 17:28] bwateratmsft commented on #1269
@dsouzasccp Can you add repro steps? Usually the root C:\ folder is ACL'd to admins only; if you ran VSCode unelevated you most likely cannot add Dockerfiles there. Try moving your source to a different place or giving your user account permissions at that folder.

[2019-09-13 17:38] EricJizbaMSFT opened #1270 "Invalid webhookName when deploying to app service"
Saw this error popping up in telemetry and tried to repro myself. This is what I came up with

Repro steps:

1. Right click on a registry image -> Deploy image to azure app service
2. Enter a web app name with a hyphen and/or greater than 50 characters
3. Fill out the rest of the steps and wait for deployment to finish

Action: vscode-docker.registries.deployImageToAzure
Error type: Error
Error Me

[2019-09-13 22:19] #1270 closed

[2019-09-14 12:35] Doldragon001 opened #1273 "Docker"
Repro steps:

1.
2.

Action: vscode-docker.containers.attachShell
Error type: Error
Error Message: No matching resources found.

Version: 0.8.1
OS: win32
Product: Visual Studio Code
Product Version: 1.38.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-09-16 13:33] bwateratmsft commented on #1273
@Doldragon001 Can you add repro steps?

[2019-09-16 13:51] bwateratmsft opened #1275 "Blazor apps using components cannot be debugged"
Because Blazor writes a manifest file based on the _host_ filesystem for where to find components (i.e. from NuGet packages and other projects in the solution), Blazor apps cannot be debugged, as our current model does build on the host and volume maps that into the container.

[2019-09-16 17:56] #1242 closed

[2019-09-16 18:28] #764 closed, assigned to nobody

[2019-09-16 18:29] bwateratmsft commented on #879
Fixed in https://github.com/microsoft/vscode-docker/pull/1245 although it will require the user to create a custom task that depends on the `docker-run` task, and in turn the launch config must use said custom task as the `preLaunchTask`.

[2019-09-16 18:30] bwateratmsft commented on #1094
Fixed in https://github.com/microsoft/vscode-docker/pull/1245 since we don't inspect the volumes, just pass along to ShellExecution.

[2019-09-16 18:30] #1094 closed

[2019-09-16 18:42] bwateratmsft commented on #182
I don't think this issue still exists, so I'm going to resolve it:
![image](https://user-images.githubusercontent.com/36966225/64984145-2a6a2380-d890-11e9-8d30-0110c35b25bc.png)

[2019-09-16 18:42] #182 closed

[2019-09-16 18:43] bwateratmsft commented on #251
Resolved by #1245

[2019-09-16 18:47] bwateratmsft commented on #902
Potentially resolved by #1245

[2019-09-16 18:50] bwateratmsft commented on #931
This issue has been closed because it needs more information and has not had recent activity. See also our issue reporting guidelines.

Happy Coding!

[2019-09-16 18:50] #931 closed

[2019-09-16 18:51] bwateratmsft commented on #938
External issue with the 1806 Docker CLI.

[2019-09-16 18:51] #938 closed

[2019-09-16 18:52] bwateratmsft commented on #1157
Potentially resolved by #1245

[2019-09-16 18:53] bwateratmsft commented on #1171
This issue has been closed because it needs more information and has not had recent activity. See also our issue reporting guidelines.

Happy Coding!

[2019-09-16 18:53] #1171 closed

[2019-09-16 18:54] bwateratmsft commented on #1197
Related to #363

[2019-09-16 19:55] EricJizbaMSFT commented on #251
@bwateratmsft are you sure you closed the right issue here? This issue covers several features as mentioned above in Stephen's comment including compose, run, push image, pull image, view logs, etc. Basically anything that uses [this](https://github.com/microsoft/vscode-docker/blob/master/src/utils/TerminalProvider.ts#L11)

[2019-09-16 19:57] bwateratmsft commented on #251
Sorry, I was thinking about build which is resolved. But the rest would not be.

[2019-09-17 15:52] #1228 closed

[2019-09-17 17:38] shi2yu3 opened #1280 "CONTAINERS: Failed to connect."
Repro steps:

1.
2.

Action: vscode-docker.containers.prune
Error type: ECONNREFUSED
Error Message: connect ECONNREFUSED 127.0.0.1:23750

Version: 0.8.1
OS: win32
Product: Visual Studio Code - Insiders
Product Version: 1.39.0-insider
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-09-17 17:50] bwateratmsft commented on #1280
@shi2yu3 Can you add repro steps? What is your Docker configuration?

[2019-09-17 17:51] ejizba opened #1281 "Quota exceeded for resource type webhooks"
Repro steps:

1. Right click on a image in an Azure Container Registry
2. Deploy Image to Azure App Service
3. Repeat until you get the following error (I see it when trying to create the 3rd webhook on basic sku)

The error makes sense, but it's still annoying because it happens _after_ all of the long running operations to create an app service plan/web app. Perhaps we can detect this ahead of t

[2019-09-17 17:54] bwateratmsft commented on #1281
Looks like in basic SKU the quota for webhooks is 2, so it really wouldn't take long to hit that.

[2019-09-18 07:11] shi2yu3 commented on #1280
Seems it is due to the Windows upgrade which caused WSL being uninstalled. It works again after re-installing WSL.

Thanks,
Yu

获取 Outlook for iOS<https://aka.ms/o0ukef>
________________________________
发件人: Brandon Waterloo [MSFT] <notifications@github.com>
发送时间: Tuesday, September 17, 2019 10:50:05 AM
收件人: microsoft/vscode-docker <vscode-docker@noreply.github.com>
抄送: shi2yu3 <shi2yu3@live.com>;

[2019-09-18 13:41] bwateratmsft commented on #1280
Ah, glad it's working now!

[2019-09-18 13:41] #1280 closed

[2019-09-18 16:42] DatXN commented on #1157
Still bug with my provided code: The pipe program 'docker' exited unexpectedly with code 137.

[2019-09-18 16:43] bwateratmsft commented on #1157
The code in #1245 hasn't been released yet :)
It'll probably be a few weeks at least until that's available.

[2019-09-18 17:31] philliphoff opened #1283 "Move Node.js Docker debugging to task-based model"
Update the Node.js Docker scaffolding/debugging to be based on the new task-based model (by default).

[2019-09-18 17:37] philliphoff commented on #1283
Basic support was added with #1245

[2019-09-18 17:43] bwateratmsft opened #1284 "Promote Nightly version of the Docker extension"
(Title)

[2019-09-18 18:12] bwateratmsft commented on #1206
Resolved in #1245. We allow any user-specified volumes.

[2019-09-18 18:12] #1206 closed

[2019-09-18 18:20] bwateratmsft commented on #969
Resolved by #1245.

[2019-09-18 18:20] #969 closed

[2019-09-18 18:21] bwateratmsft commented on #797
Something like this could be done with the Remote - Containers extension.

[2019-09-18 18:39] BigMorty commented on #474
@StephenWeatherford can you please add more info to this, we are not clear on the ask.

[2019-09-18 18:40] BigMorty commented on #447
@StephenWeatherford was a bug entered against VSCode?

[2019-09-18 18:43] BigMorty commented on #474
Consider mapping the workspace folder into the image.

[2019-09-18 21:10] EricJizbaMSFT commented on #1284
We already have a nightly build definition:
https://dev.azure.com/ms-azuretools/AzCode/_build?definitionId=16

And here are our current instructions for people to try out insider versions of the extension (points to latest master build, not nightly build):
https://aka.ms/azCodeInsiders

Not opposed to improvements - just telling you what we have already

[2019-09-19 05:08] vishrutkmr7 opened #1285 "Could not mount docker image"
Repro steps:

1.
2.

Action: vscode-docker.containers.start
Error type: 500
Error Message: (HTTP code 500) server error - error while creating mount source path '/host_mnt/d/dhanroot': mkdir /host_mnt/d: file exists

Version: 0.8.1
OS: win32
Product: Visual Studio Code
Product Version: 1.38.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-09-19 05:14] #1285 closed

[2019-09-19 11:15] v-dantch opened #1286 "Pop up an error when debugging a ASP.NET MVC web app"
**OS:** Win10
**Build Version:** [20190918.1](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=10136)
**.NET Core Version**: 2.2.401
**Regression:** Not a Regression

**Repro Steps:**
1. Create a new ASP.NET MVC web app by "dotnet new mvc --no-https --name test1".
2. Open this project in VS Code.
3. Select "Yes" when asked whether add the required assets to build and debug or not.

[2019-09-19 11:30] Szauka commented on #902
I can see that the merge of #1245 has generated the build:  `20190916.4`
I have tested the build: `20190918.1` and this issue is still happening

[2019-09-19 11:34] marvingreenberg opened #1287 "New Feature: Add badge/Annotation to sidebar for number of running containers"
Minor.  But it would be useful to see at a glance when containers are running (just as when the editor or SCM icons show unsaved or uncommitted changes.  Philosophically it is a little analogous (OK its a stretch), since if I started containers from inside VScode I may want to close them before closing VScode.

[2019-09-19 13:07] bwateratmsft commented on #1287
I like that idea. Something like this?
![image](https://user-images.githubusercontent.com/36966225/65246483-b791c000-dabc-11e9-9962-adecd7b403d3.png)

It wouldn't be terribly simple to display containers started specifically from VSCode (we would have to label them all to know that they were created by VSCode), but showing all running containers should be simpler.

[2019-09-19 13:08] bwateratmsft commented on #1286
Looks like the vsdbg script isn't getting bundled correctly; I'll take a look.

[2019-09-19 13:25] bwateratmsft commented on #902
Can you run the command `Docker: Initialize for debugging...`? It will create a `docker-build` task in tasks.json. If that task exists, right click Dockerfile -> Build Image will execute the task; otherwise it uses the existing behavior.

[2019-09-19 13:31] bwateratmsft commented on #1284
We mean to release it on the extension marketplace so it has more visibility.

[2019-09-19 14:13] bwateratmsft commented on #1275
Blocked by https://github.com/microsoft/vscode/issues/81007 (which is duped to https://github.com/microsoft/vscode/issues/2809)

[2019-09-19 15:04] marvingreenberg commented on #1287
No, the whole business about the philosophical justification for the badge was stupid, just show the running number.

[2019-09-19 16:11] bwateratmsft commented on #1287
It looks like this would depend on https://github.com/microsoft/vscode/issues/54938.

[2019-09-19 17:07] ChakritRakuang opened #1289 "(HTTP code 404) no such container - network"
(HTTP code 404) no such container - network 78f17ff5ae2e1660518ff478900b3c4e6a82fb3c8cc52775eb2cabb39e85acaf not found

[2019-09-19 17:16] bwateratmsft commented on #1289
Can you add repro steps?

[2019-09-19 20:28] #1286 closed

[2019-09-20 02:28] v-dantch commented on #1286
Got it. Thanks for your quick response.

[2019-09-20 10:23] Szauka commented on #902
Hi @bwateratmsft running `Docker: Initialize for debugging...` works fine for both cases, running it from the context menu after selecting the Dockerfile and from the command palette.

[2019-09-20 12:02] boeremak opened #1292 "Extension generates huge amounts of DNS traffic"
Hi,

Whenever I have the docker extension tab open in VS Code it generates huge amounts of DNS traffic. Like every second it will resolve the docker host it seems.

I don't know why, but it seems a bit excessive.

Is this a known issue?

I tested it by closing the tab and reopening it again while running tcpdump port 53 on the host.

`14:02:58.555296 IP (tos 0x0, ttl 64, id 4595, offset 0, flags [

[2019-09-20 13:38] bwateratmsft commented on #902
Awesome! Glad to hear it!

[2019-09-20 13:42] Szauka commented on #902
Is this change going to make it into the next release?

[2019-09-20 13:46] bwateratmsft commented on #902
That's the plan.

[2019-09-20 17:23] bwateratmsft opened #1293 "GetTargetPath target has a high failure rate"

[2019-09-20 17:29] bwateratmsft commented on #1293
Related to #1170

[2019-09-20 18:43] BigMorty commented on #9
@peterj - Do you have additional info on this? Is there still something for us to do?

[2019-09-20 18:46] BigMorty commented on #651
@StephenWeatherford can you provide more info on this and whether it is still something that needs attention.

[2019-09-20 18:50] StephenWeatherford commented on #651
Yes, it still applies, I believe the consequences I state are correct.  But it affects all our extensions, as well as others (it's a fundamental problem with webpack), so I'm not positive of whether anyone cares enough to fix.

[2019-09-20 18:52] peterj commented on #9
Oh wow, you pulled this issue out formaldehyde :)

Since this was 4 years ago, I am just guessing, but what you could try is to check if the Docker hub search functionality works when you're running behind a proxy server.

[2019-09-20 19:06] BigMorty commented on #9
Thanks Peter!

[2019-09-20 19:43] BigMorty opened #1294 "Integrated Docker Compose Debugging for Node.js"

[2019-09-20 20:37] BigMorty commented on #153
VSCode now supports highlighting and filtering of tree views. Just click in the treeview you want to filter and start typing; here is an example of what I see when I type 'docker' in the Images treeview.
![image](https://user-images.githubusercontent.com/947510/65357221-4977f680-dbab-11e9-9625-f76ae6207bc9.png)

If I hover over the word 'docker' in the top right corner and then click on the highli

[2019-09-20 20:37] #153 closed

[2019-09-20 23:06] EricJizbaMSFT commented on #1292
Likely duplicate of https://github.com/microsoft/vscode-docker/issues/1225 (not sure why that one was closed).

As mentioned there, you can modify `docker.explorerRefreshInterval`. It defaults to 1 second, which I agree seems excessive

[2019-09-20 23:23] philliphoff commented on #777
@v-xianya Are you continuing to see this?  Using `version: '2'`, I get immediate Intellisense as I type.

[2019-09-21 07:19] boeremak commented on #1292
I don't really mind the refresh speed, it is just that my host does not change it's IP address every second. :)

I'll take a look, thanks.

[2019-09-22 03:37] nakamin opened #1296 "Unable to pull image from registry"
Repro steps:
Try to pull an image from docker registry from the command pallete or docker extension tab

[code]

The full output
[code]

Version: 0.8.1
OS: linux
Product: Visual Studio Code
Product Version: 1.38.1
Language: en

[2019-09-23 11:25] leventyalcin opened #1297 "Vertical selection and editing causes linter errors"
Hi,

I have made vertical line selection for repeating `ARG` statements and deleted the keywords in order to copy and paste them in a docker image and test something quickly instead building the whole image.

After copying the vars I've done redo with `CMD+Z` to the original state but that confused the linter.

What I'm seeing is irrelevant errors such as
[code]
but the line actually looks like th

[2019-09-23 13:08] bwateratmsft commented on #1296
@nakamin I would highly recommend following the instructions to configure a credential store. That said we should consider making this a warning popup that does not block functionality; see also #1236.

[2019-09-23 19:18] StephenWeatherford commented on #243
@BigMorty This should just be an issue of adjusting the trigger characters option for the completion provider.

[2019-09-23 19:25] BigMorty commented on #243
Thanks @StephenWeatherford! I assigned this to @philliphoff to take a look at for our next release.

[2019-09-23 20:35] #902 closed

[2019-09-24 01:53] v-dantch commented on #777
Hi @philliphoff , thanks for your work and we verified this issue on Mac with the latest build [20190921.1](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=10325), fixed. So we will close this bug for now.

[2019-09-24 01:53] #777 closed

[2019-09-24 04:37] suhasmshetty opened #1298 "unable to remove docker container"
Repro steps:

1.
2.

Action: vscode-docker.containers.prune
Error type: 409
Error Message: (HTTP code 409) unexpected - a prune operation is already running

Version: 0.8.1
OS: darwin
Product: Visual Studio Code
Product Version: 1.38.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-09-24 07:40] demasj opened #1299 "failed to create endpoint condescending_mclean on network"
Repro steps:

1.
2.

Action: vscode-docker.containers.start
Error type: 500
Error Message: (HTTP code 500) server error - failed to create endpoint condescending_mclean on network nat: hnsCall failed in Win32: The process cannot access the file because it is being used by another process. (0x20)

Version: 0.8.1
OS: win32
Product: Visual Studio Code
Product Version: 1.38.1
Language: en

<details>
<

[2019-09-24 12:59] bwateratmsft commented on #1298
@suhasmshetty can you add repro steps? Did you click Prune more than once in quick succession?

[2019-09-24 13:52] #1239 closed

[2019-09-24 14:06] bwateratmsft commented on #1293
Upon further investigation, about 2/3 of these errors are because the .NET CLI is not installed.

[2019-09-24 14:32] bwateratmsft commented on #1170
@vishal9458425389 can you try this?

1. Copy and paste this MSBuild target into a file:
[code]

2. Call it with the following arguments (filling in the path to that target file you just created):
`dotnet msbuild C:\PATH\TO\ABOVE\TARGET\file.tmp /t:GetTargetPath /p:ProjectFilename=c:\Users\Vishal.Singh\AzureFunctionsPOCs\AzureFunctionsPOCs.csproj`

Can you share the output from that? Thanks!

[2019-09-24 14:32] #1293 closed

[2019-09-24 14:38] nakamin commented on #1296
@bwateratmsft so I did all the setup with pass on Arch Linux, and `docker login` works without producing any warnings. VSCode does not show any registries, and when I try to add one it still prompts me for a password. Once I provide it I get this error
[code]
![image](https://user-images.githubusercontent.com/17557668/65521507-59e3e600-deb7-11e9-89f1-6c2b65fb477d.png)

[2019-09-24 15:48] bwateratmsft commented on #1296
It seems that this error shows up in a lot of different applications:
https://github.com/vladimiry/ElectronMail/issues/34
https://bbs.archlinux.org/viewtopic.php?id=239198
https://github.com/flathub/io.lbry.lbry-app/issues/10
https://github.com/Foundry376/Mailspring/issues/681

It seems like for most of them it was resolved with `sudo apt install gnome-keyring`?

[2019-09-24 17:34] #1283 closed

[2019-09-24 17:50] bwateratmsft opened #1300 "Better prerequisite checks/errors"
Add prerequisite checks during tasks / debug.

Some possible ideas (not an exhaustive list):

- [x] .NET Core: build tasks are present
- [ ] All: container OS matches what is set in daemon (Windows only)
- [ ] All: Minimum Docker version installed
- [ ] All: Docker running
- [ ] Linux: user added to Docker users group
- [x] Python: extension installed
- [ ] .NET Core: project is structured in an u

[2019-09-24 17:57] bwateratmsft commented on #1199
Upstream dockerode issue: https://github.com/apocas/dockerode/issues/526

[2019-09-25 05:46] Cesarcuna opened #1301 "nginx, elasticsearch and articulate-rasa"
Repro steps:

Action: vscode-docker.containers.start
Error type: 400
Error Message: (HTTP code 400) unexpected - OCI runtime create failed: container_linux.go:345: starting container process caused "process_linux.go:430: container init caused \"rootfs_linux.go:58: mounting \\\"/c/GitClone/articulate-0.29.0/articulate-0.29.0/local-storage/elasticsearch/config/elasticsearch.yml\\\" to rootfs \\\"/mn

[2019-09-25 10:03] v-ruizh opened #1302 "Edit-refresh doesn't work after adding dockerfile to mvc web application"
**OS:** Win10 & Mac
**Build Version:** [20190924.1](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=10388)
**.NET Core Version:** 2.2.402
**Regression:** Not a Regression

**Repro Steps:**

1. Create an empty folder and open it in VS Code.
2. Create a new ASP.NET MVC app to the opened folder by "dotnet new mvc --no-https --name test1".
3. Select "Yes" when asked whether add the r