[2019-09-25 13:49] Cesarcuna opened #1303 "unexpected - OCI runtime create failed: container_linux.go"
Repro steps:

1.
2.

Action: vscode-docker.containers.start
Error type: 400
Error Message: (HTTP code 400) unexpected - OCI runtime create failed: container_linux.go:345: starting container process caused "process_linux.go:430: container init caused \"rootfs_linux.go:58: mounting \\\"/c/GitClone/articulate-0.29.0/articulate-0.29.0/local-storage/rasa/rasa-config.yml\\\" to rootfs \\\"/mnt/sda1/var/

[2019-09-25 13:57] bwateratmsft commented on #1301
Can you share repro steps?

[2019-09-25 13:58] bwateratmsft commented on #1303
This looks like a duplicate of #1301.

[2019-09-25 13:58] #1303 closed

[2019-09-25 14:52] #1226 closed

[2019-09-25 15:56] bwateratmsft commented on #251
Alex's suggestion was to create a Task object dynamically, and then execute it. This would result in terminals being re-used (most of the time), but for things like run-interactive, where a task _stays running_, the Task would automatically open a new terminal. Which is awesome!

[2019-09-25 18:14] bwateratmsft commented on #1302
@v-ruizh It seems the story for edit-refresh is changing. Since this test was for 2.2, can you try refreshing a few times to see if that works?

Here's what @pratiksanglikar said we have for VS:

.NET Core 2.1 -> Works on both Linux and Windows containers.

.NET Core 2.2 -> Runtime compilation APIs are obsoleted, it works, but may take multiple refreshes to actually see the changes on both Linux a

[2019-09-25 21:55] nakamin commented on #1296
I would prefer not to install another keyring manager since I already have one, I'm using KDE. I looked around the code and it seems like vscode-docker uses node-keytar to get the password, is that right? I might poke around to see what's going on then.

[2019-09-25 22:55] philliphoff commented on #243
Some of the confusion around this issue (at least for me) is that there is another VS Code extension, [YAML](https://marketplace.visualstudio.com/items?itemName=redhat.vscode-yaml), which enables Intellisense by default for YAML files (i.e. without requiring CTRL+SPACE).  This extension happens to be a dependency of other YAML-heavy extensions (such as for [Kubernetes](https://marketplace.visualst

[2019-09-26 06:45] demasj commented on #1299
For some reason I'm not able to reproduce the problem anymore but for the whole picture.

I was trying to run docker SQL2017 linux-latest with the default port 1433 mapped to 1433
apparently this caused a problem with my local SQL server installation that also used the default port 1433
After changing the container port parameter  -p 1433:1433 to -p 14333:1433 It starts working

[2019-09-26 10:18] v-ruizh commented on #1302
@bwateratmsft Thanks for your update. This issue also **reproduces** after refreshing the web page a few times. (.NET Core 2.2)

[2019-09-26 13:57] bwateratmsft commented on #1299
Ah, that is behaving as intended; the same port on the host can't be mapped to both the local SQL instance and the container. Unfortunately the error message is not very clear, but we've previously engaged with Docker Inc. to improve their error messages.

[2019-09-26 13:57] #1299 closed

[2019-09-26 14:57] bwateratmsft commented on #1302
The root cause is that we aren't using `DOTNET_USE_POLLING_FILE_WATCHER=1` in the environment variables. Created #1306 to solve this.

[2019-09-26 15:04] KyawSoeKhaing777 opened #1307 "Docker With angular"
Repro steps:

1.
2.

Action: vscode-docker.images.run
Error type: Error
Error Message: No matching resources found.

Version: 0.8.1
OS: win32
Product: Visual Studio Code
Product Version: 1.38.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-09-26 15:07] bwateratmsft commented on #1307
@KyawSoeKhaing777 can you add repro steps?

[2019-09-26 17:01] #243 closed

[2019-09-26 17:07] #1302 closed

[2019-09-26 22:01] philliphoff commented on #150
@BigMorty This appears to be a function of the Dockerfile language service and not the extension itself.  For a change, we'd need to work with @rcjsuen to decide on the most appropriate action, with recognition that this would likely also impact other editors using the language service.

@rcjsuen Have you gotten any further feedback, within VS Code or the other editors, about this issue?  From my

[2019-09-26 22:37] RobsonAndrei opened #1309 "Error"
Repro steps:

1.
2.

Action: vscode-docker.containers.start
Error type: 500
Error Message: (HTTP code 500) server error - driver failed programming external connectivity on endpoint db_bancoDeDados (0d28a52286a8d0277723001a45a9abad14a193f196118234948c6d1ead9b5a57): Bind for 0.0.0.0:5436 failed: port is already allocated

Version: 0.8.1
OS: darwin
Product: Visual Studio Code
Product Version: 1.38.1

[2019-09-27 01:34] bwateratmsft commented on #1309
@RobsonAndrei Can you add repro steps? It looks like the port is already allocated; you'll need to assign a different port or shut down the container using it.

[2019-09-27 06:26] paulyuk opened #1310 "Cannot connect to Azure container registry from Docker extension"
I have the lastest Docker 0.8.1 and several Azure extensions: Azure App Insights, Azure CLI Tools, and Azure Dev Spaces as of 9/26/2019.  There seems to be an error or conflict connecting to Azure with the Docker extension.

Repro steps:

1. Docker Registries: Connect Registry.. from command pallette
2. Choose Azure

Action: vscode-docker.registries.connectRegistry
Error type: Error
Error Message:

[2019-09-27 12:52] #1248 closed

[2019-09-27 12:52] #1249 closed

[2019-09-27 13:08] bwateratmsft commented on #1310
@paulyuk When I look at the Registries list, Azure is already connected automatically (I did not add it manually):
![image](https://user-images.githubusercontent.com/36966225/65771502-51351f00-e106-11e9-99a4-02d66ff738fc.png)
What do you see?

[2019-09-27 13:53] #1227 closed

[2019-09-27 13:56] bwateratmsft commented on #947
Duping this one over to #1296

[2019-09-27 13:56] #947 closed

[2019-09-27 16:52] #1251 closed

[2019-09-27 17:44] philliphoff commented on #1310
I see the same error when I attempt to connect to Azure registries when I've already previously connected.  Perhaps we just need to massage the error message?  Maybe note that we've already connected to a given provider in the quick pick as well?  (I'm not sure we want to remove connected providers from the quick pick, as that may be a discoverability issue.)

[2019-09-27 18:02] bwateratmsft commented on #1310
Yes, same here. The Azure registry depends on the Azure Account extension; to verify I disabled that extension. The Azure node still showed up, simply with text saying "Install Azure Account extension". Clicking that led to the extension page, I re-enabled it, didn't need a full VSCode reload. Once I hit refresh on the Registries view it came right back.

I'm wondering if the Azure node did not sh

[2019-09-27 21:58] philliphoff opened #1311 "Invoke Docker run task when running Docker images from explorer"
When running [interactively] a Docker build image via the context menu for a tag in the Docker Explorer, the extension should look for an associated Docker run task and, if found, use that rather than building a static command line.  This would allow users to easily customize container instances (e.g. add networks/aliases) without having to involve scripts, Docker Compose, etc.

If more than one t

[2019-09-29 06:38] ChakritRakuang opened #1312 "(HTTP code 500) server error - driver failed programming external connectivity on endpoint"
(HTTP code 500) server error - driver failed programming external connectivity on endpoint codewind-performance (cd9a108024c561e9ed9098a628dc8851afce7cdcf218ef21fca3f5fc928293fa): Error starting userland proxy: listen tcp 127.0.0.1:9095: bind: Only one usage of each socket address (protocol/network address/port) is normally permitted.

[2019-09-29 12:45] nihaals opened #1313 "[Request] Pull image from images list"
It would be great to be able to pull a newer version of an image from the list of images, either the latest tag if you select the image, or the specific tag if you select a specific tag in the image's list

[2019-09-30 13:52] #1252 closed

[2019-09-30 13:52] bwateratmsft commented on #1313
Similar to what I was trying to address with #1213

[2019-09-30 13:53] bwateratmsft commented on #1312
@ChakritRakuang Can you add repro steps?

[2019-09-30 13:54] bwateratmsft commented on #1311
@philliphoff There's a little bit of conflating build/run here. What mechanism would we use to determine that an image is associated to some run task?

[2019-09-30 17:13] philliphoff commented on #1311
@bwateratmsft I'd suggest matching on the `dockerRun.image` task property.  This came up when I was testing debugging for an application which depended on a MongoDB instance running; I needed to repeatedly spin up the MongoDB container with a specific set of network parameters via the command line.  It would be nice to be able to simply make that a task, which might also be useful in being a depen

[2019-09-30 17:35] bwateratmsft commented on #1311
Yeah, I agree that would be good. One challenge is related to applications where they're doing debugging; we don't necessarily put the image name into the `docker-run` task but it is implied by the `docker-build` task, or by the application itself. In such a case how would we best tell if it's an image that we should use a task for?

[2019-09-30 18:49] philliphoff commented on #1311
If there is no `image` property, then I think we would compare the user-selected tag in the Explorer view with the inferred image name for task (based on the project).  If those match, then we'll use that task.

One hitch to that approach would be that the debug run task likely has a dependent build task; when running an image from the Explorer view, I don't think we'd want the image to be re-buil

[2019-09-30 18:59] bwateratmsft commented on #1311
We'd have to do a slight refactoring to make it so each language helper has a "get the image name for this workspace folder" method; not a hard thing to do.

That's a good point about task dependency. I don't think we can resolve away the `dependsOn`, so avoiding the build task when the user hasn't manually erased it is probably not possible.

[2019-09-30 20:35] #868 closed

[2019-10-01 17:58] rcjsuen commented on #150
@philliphoff Outside of the feedback from this issue, I have not heard any feedback (positive or negative) regarding `textDocument/signatureHelp` from any other LSP client that is using my language server.

[2019-10-02 10:53] joaomoreno opened #1315 "Actions involving the terminal do not preserve remote host settings"
Testing https://github.com/microsoft/vscode-remote-release/issues/1516

VS Code Insiders 1.39.0-insider, 695ee74864ef93d10f5de0861cb66af190e76211
Docker Extension 0.8.1

1. Go through the setup in https://github.com/microsoft/vscode-remote-release/issues/1516
 to create a remote docker machine and configure `docker.host`, `docker.certPath` and `docker.tlsVerify` to point to it
2. Check that the Co

[2019-10-02 10:54] joaomoreno commented on #1315
Same for `Attach Shell`

[2019-10-02 13:23] bwateratmsft opened #1316 "workspace.rootPath is deprecated"

[2019-10-02 13:26] bwateratmsft commented on #1315
Looks like our code just creates a VSCode terminal and sends it `docker` commands, hence the values in settings would not be picked up. As a workaround, the corresponding environment variables (e.g. `DOCKER_HOST`) _should_ still work.

[2019-10-02 13:37] bwateratmsft commented on #1315
@EricJizbaMSFT, I noticed that runAzureCliImage in particular uses vscode.window.createTerminal, whereas all the others use ext.terminalProvider.createTerminal; is that intentional?

[2019-10-02 14:55] bwateratmsft commented on #1315
@joaomoreno I'm not able to reproduce the issue on either Mac or Windows, at least on 1.38. What shell are you using?

Is it possible there's a bug in the insiders build relating to settings, in particular `vscode.workspace.onDidChangeConfiguration`? We have a settings listener that will cause dockerode to be refreshed if those `DOCKER_*` settings are changed--if dockerode was not refreshed, it wo

[2019-10-02 16:18] EricJizbaMSFT commented on #1315
No idea

[2019-10-02 16:26] bwateratmsft commented on #1315
I finally found where it was originally authored, #304. @tfenster @StephenWeatherford Do you know why `runAzureCliImage` uses `vscode.window.createTerminal` instead of `ext.terminalProvider.createTerminal`? Is that intentional?

[2019-10-02 16:40] #1316 closed

[2019-10-02 17:36] bwateratmsft commented on #1310
@paulyuk can you share what you saw in the registries tab?

[2019-10-03 06:23] tfenster commented on #1315
@bwateratmsft very likely just a mistake when I did this

[2019-10-03 06:53] joaomoreno commented on #1315
@bwateratmsft I'm on zsh.

[2019-10-03 10:22] vidiep opened #1318 "debug"
Repro steps:

1.
2.

Action: debugCoreClr
Error type: 125
Error Message: Command failed: docker run -dt --name "WebGateway-dev" --network "bridge" -e "ASPNETCORE_ENVIRONMENT=Development" -e "ASPNETCORE_URLS=http://+:80;https://+:443" --label "com.microsoft.created-by=visual-studio-code" -v "e:\Exercise2\SOAR/Sources/ApiGateways/WebGateway:/app:rw" -v "C:\Users\VI.DIEP\.vsdbg:/remote_debugger:ro" -

[2019-10-03 13:46] bwateratmsft commented on #1318
@vidiep Can you add repro steps? It looks like port 7000 is already bound to another container or even another app.

[2019-10-03 14:33] bwateratmsft commented on #1315
@joaomoreno I cannot reproduce this on ZSH on Mac either. What are your config settings? For instance, mine look like this:
![image](https://user-images.githubusercontent.com/36966225/66136262-2d238300-e5c9-11e9-81ba-563b61715539.png)

[2019-10-03 22:26] ptr727 commented on #646
Ah, no wonder I could not get SSH to work :(

Would be fantastic to get SSH working, I only have access to Docker on Ubuntu Server hosts over SSH with keys.

Please do try to share, or improve (key management), the implementation with the [ms-vscode-remote.remote-ssh](https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.remote-ssh) extension, such that I can use [key based authenti

[2019-10-03 23:17] mcauto commented on #1199
I use Docker explorer in WSL2

but, Do not use with vscode-docker. Affect each other.

![image](https://user-images.githubusercontent.com/15080806/66170455-3e2ecb80-e67f-11e9-98e9-02581fd2efdd.png)

[2019-10-04 07:07] vidiep commented on #1318
{
   // Use IntelliSense to find out which attributes exist for C# debugging
   // Use hover for the description of the existing attributes
   // For further information visit https://github.com/OmniSharp/omnisharp-vscode/blob/master/debugger-launchjson.md
   "version": "0.2.0",
   "compounds": [
        {
            "name": "Docker: Launch all",
            "configurations": [ "Docker: Launch We

[2019-10-04 09:10] bpasero opened #1320 "Rename "Run" / "Run Interactive" to "Create Container""
As a user, getting from an image to container is not intuitive. I would have expected a context menu on an image to "Create Container":

![image](https://user-images.githubusercontent.com/900690/66195731-82c66100-e697-11e9-989a-33e96851da7d.png)

//cc @chrmarti

[2019-10-04 14:12] ThorstenHans commented on #1320
I think `run` is correct in the context of `docker` because it is actually invoking the `docker run` command

[2019-10-04 14:15] bwateratmsft commented on #1318
Does this issue occur every time or did it only happen once?
@philliphoff Do you happen to know if the existing debug code will shut down multiple containers, when using compound debug configurations?

[2019-10-04 14:20] bwateratmsft commented on #1320
I think I'm with @ThorstenHans on this one. Containers are a bit like processes; it is true that you "create" processes but normally we say we "run" processes/applications/etc. @BigMorty What do you think?

[2019-10-04 15:34] bwateratmsft commented on #1284
Depends on https://github.com/microsoft/vscode-azuretools/pull/599

[2019-10-04 17:09] philliphoff commented on #1318
@bwateratmsft The extension keeps a list of the containers it has started, and then tries to shut them down after the debugging session ends. In any case, it will attempt to shutdown containers with the same name prior to starting a new one.

@vidiep It would be great if you could describe what you were doing when you ran into the problem.

[2019-10-04 17:52] #1269 closed

[2019-10-04 20:19] philliphoff opened #1321 "Allow non-platform-specific build/run tasks"
Allow the creation of Docker build/run tasks not tied to a given platform (e.g. Node or .NET Core) in order to allow tasks to be used for arbitrary configurations of images/containers.

For example, I may want to (repeatedly) create a MongoDB container with a specific set of environment variables, attached to a specific network, etc..  While this can be done via a shell script or Docker Compose YA

[2019-10-04 20:40] bwateratmsft commented on #1321
[Good idea!](https://github.com/microsoft/vscode-docker/pull/1245#discussion_r321762021)

[2019-10-04 20:53] philliphoff commented on #1321
(@bwateratmsft I'm pretty sure you suggested this at some point, but it's already proven to be a sorely missing feature in my debugging testing.)

[2019-10-04 20:54] bwateratmsft commented on #1321
Yeah. Shouldn't be a difficult thing to implement either; just return undefined platform helper instead of erroring. Same validation rules would apply.

[2019-10-04 20:55] philliphoff opened #1322 "Allow simple network creation in Docker explorer"
The Docker explorer allows the user to prune/remove networks that are no longer needed. It would be great if you could create a simple one through the explorer as well.

[2019-10-07 02:56] vidiep commented on #1318
Thank all

[2019-10-07 10:26] joaomoreno commented on #1315
Never mind, this is my fault. I use a special shell which was breaking this. Sorry for the hassle.

[2019-10-07 10:26] #1315 closed

[2019-10-07 13:52] #1273 closed

[2019-10-07 14:01] oswagner opened #1323 "Error rates: Some commands (like prune) don't give any indication that they are running and can take some time"
Repro steps:
1. Just open the extension
2. Try to prune images

Action: vscode-docker.images.prune
Error type: 409
Error Message: (HTTP code 409) unexpected - a prune operation is already running

Version: 0.8.1
OS: darwin
Product: Visual Studio Code
Product Version: 1.38.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-10-07 15:07] bwateratmsft commented on #1323
@oswagner I'm not able to reproduce this; are you certain there isn't a prune operation running already?

[2019-10-07 15:14] guilhermerenew opened #1324 "enable vscode-docker"
Repro steps:

1.
2.

Action: vscode-docker.registries.pullRepository
Error type: string
Error Message: WARNING! Your password will be stored unencrypted in /home/pro_goliveira/.docker/config.json.
Configure a credential helper to remove this warning. See
https://docs.docker.com/engine/reference/commandline/login/#credentials-store

Version: 0.8.1
OS: linux
Product: Visual Studio Code
Product Versi

[2019-10-07 15:20] bwateratmsft commented on #1324
Duplicate of #1296. @guilhermerenew , I would try configuring a credential helper as suggested by the error message.

[2019-10-07 15:20] #1324 closed

[2019-10-07 17:20] BigMorty commented on #1320
I tend to agree, Run seems to be the correct verb here. What do folks think about "Run Container" and "Run Container Interactive" ???

[2019-10-07 17:24] ThorstenHans commented on #1320
That would end up in appending either *container* or *image* to every entry

[2019-10-07 17:29] BigMorty commented on #1320
Yes, good point!

[2019-10-07 18:23] philliphoff opened #1325 "Refactor static Dockerode property to be provider-based"
The static Dockerode property `ext.dockerode` is problematic as it must be created in a synchronous way on extension initialization, as well as refreshed whenever a Docker-related configuration setting is changed.  We should refactor this property to be "provider-based" where creation is deferred until actually used.  This would simplify refreshing the instance when configuration values change, as

[2019-10-07 18:41] bwateratmsft commented on #1325
Can we make it a simple `Lazy<T>`?

[2019-10-07 19:04] #1199 closed

[2019-10-07 19:17] bwateratmsft commented on #1284
@roblourens, I saw that you implemented the nightly setup for the Remote - SSH extension, which I've been using as inspiration for this. What would you say the positives and negatives of a nightly extension release have been? Any considerations we should make before we go ahead and do it ourselves?

[2019-10-07 21:04] roblourens commented on #1284
The positives are that I can easily push a possible fix for an issue and have someone try it out, without doing a full release to 100% of users. And when people use it, I get early feedback about new issues. Of course, you have to work harder to keep master stable because it will be constantly released to people.

[2019-10-08 13:01] oswagner commented on #1323
@bwateratmsft already had another prune operation running, but I didn't receive any feedback, and then received this error.

[2019-10-08 13:25] bwateratmsft commented on #1323
Gotcha. I'll change the title to more accurately reflect the issue.

[2019-10-08 13:32] bwateratmsft commented on #1284
@roblourens Any strategies that have been particularly helpful for maintaining high master branch quality, aside from the obvious "test _before_ merge"?

[2019-10-08 13:51] #1014 closed

[2019-10-08 13:54] bwateratmsft commented on #1001
Since it covers the same scenario, I'm going to resolve this one as a dupe of #1321

[2019-10-08 13:54] #1001 closed

[2019-10-08 13:56] bwateratmsft commented on #892
@v-dantch Is this still an issue?

[2019-10-08 13:58] bwateratmsft commented on #891
@v-dantch Is this issue still occurring?

[2019-10-08 14:03] bwateratmsft commented on #38
Since this is covered by #1321 I'm going to resolve this as a dupe of that one.

[2019-10-08 14:03] #38 closed

[2019-10-08 14:17] bwateratmsft commented on #335
Going to dupe this one over to #1113

[2019-10-08 14:17] #335 closed

[2019-10-08 16:28] roblourens commented on #1284
CI running the build and tests is key. I am the only person committing to the remote-ssh repo so it's easy for me to handl eit, but if there were more people, I would set up something like a bot to ping people when the build breaks, which have in the vscode repo.

[2019-10-08 17:14] #1321 closed

[2019-10-08 17:17] bwateratmsft commented on #1300
Blocked by https://github.com/microsoft/vscode/issues/80375

[2019-10-08 19:48] BigMorty commented on #150
Agree we should not completely disable it. For those that want to disable it there are instructions on how to do so above.

[2019-10-08 19:48] #150 closed

[2019-10-08 19:57] bwateratmsft commented on #766
I like Stephen's suggestion. The "description" text shows up in a nice less-emphasized coloring (grey by default), and IMO is the perfect spot for some short descriptive text.

[2019-10-08 21:02] philliphoff opened #1328 "Use WORKDIR in Dockerfile to infer debugger remote source root"
Some debuggers (e.g. for Node.js) have a "remote source root" configuration property that helps it map code executing remotely (e.g. in a Docker container) back to the source code on the developer's local machine.  By default, the Node.js Docker debugger will use the same static value used during Docker file scaffolding (so both the Dockerfile and the debugger configuration will align).

However,

[2019-10-08 21:15] hsarena opened #1329 "failed while trying to add my docker hub registry credentials"
Repro steps:

1.
2.

Action: vscode-docker.registries.connectRegistry
Error type: Error
Error Message: The name org.freedesktop.secrets was not provided by any .service files

Version: 0.8.1
OS: linux
Product: Visual Studio Code
Product Version: 1.38.1
Language: en

[2019-10-08 21:49] philliphoff opened #1330 "Use ENTRYPOINT in Dockerfile to infer (Node.js) debugger arguments"
Some Node.js application frameworks use custom CLIs to manage starting/stopping/debugging/packaging of the applications. As such, they may not specify a main script or a recognizable "node script.js" NPM script needed during debugging to infer the command line used to enable the debugger.  In those cases, the user must be explicit about the Docker run command in the task configuration and include

[2019-10-08 22:26] philliphoff opened #1331 "Remove LICENSE file from .dockerignore"
Including the `LICENSE` file in the scaffolded `.dockerignore` file seems like an aggressive optimization. There is at least one case where an application had an existing `Dockerfile` but not an existing `.dockerignore` file, where the `Dockerfile` specifically references the `LICENSE` file it expects to be in the Docker build context.  The scaffolded files and debug tasks/configuration therefore

[2019-10-08 23:22] philliphoff opened #1332 "Infer inclusion of .env files in Docker run tasks"
Currently our scaffolded `.dockerignore` ignores `.env` files (for good reason). However, no equivalent files or environment variables are included or created by default when executing Docker run tasks, which can cause the applications to fail to start.

We should consider automatically including `.env` files in the Docker run command (e.g. if no files are otherwise specified), to better the chanc

[2019-10-09 09:22] v-dantch commented on #892
Hi @bwateratmsft , verified this issue on Win 10 & Mac with the latest build [20191008.1](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=10961) and this issue also reproduces.
![image](https://user-images.githubusercontent.com/34729092/66468685-29a46600-eab9-11e9-9675-a260ad1fdcd1.png)

[2019-10-09 10:27] v-dantch commented on #891
Hi @bwateratmsft , verified this issue on the latest build [20191008.1](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=10961), and this issue does not reproduce. So we close it for now.
![image](https://user-images.githubusercontent.com/34729092/66473670-50b36580-eac2-11e9-80c0-84d8b846506b.png)

[2019-10-09 10:27] #891 closed

[2019-10-09 13:16] bwateratmsft commented on #1332
@philliphoff Docker doesn't do that automatically though; I feel we'd be setting them up for failure later on, with confusion as to why it works in VSCode but not otherwise. Perhaps a warning in the output window if we detect ENV files and they are not in the `docker-run` task definition?

[2019-10-09 13:17] bwateratmsft commented on #1329
Duplicate of #722.

[2019-10-09 13:17] #1329 closed

[2019-10-09 13:25] rcjsuen commented on #1332
I agree with @bwateratmsft. Be careful how you tread here as you will confuse users over moby/moby#28617.

[2019-10-09 16:54] philliphoff commented on #1332
The issue came out of testing where a local debug session "just worked" due to the existence of an `.env` file whereas the Docker debug session did not, because the environment variable was not set within the container.  I agree that just including the `.env` within the container may not be the best idea, but the issue was intended to be just a starting point for thought around the best way to man

[2019-10-09 17:00] bwateratmsft commented on #1332
I like that idea (pre-scaffold including the `.env` file if it is present). This keeps us from doing magic and also shows the user an extensibility point they might not stumble upon on their own.

[2019-10-09 18:52] #447 closed

[2019-10-09 18:52] #1137 closed

[2019-10-09 22:50] 1138-4EB commented on #1001
@bwateratmsft, on the one hand, I tried https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=10975 and https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=10908 in order to test #1245 nd #1327, which are referenced in #1321, but I couldn't find how to use them. I saw that command `Docker: initialize for Docker debugging` was added. The first step requires to select a dir

[2019-10-10 13:21] bwateratmsft commented on #1001
@1138-4EB That configurations you describe is going to be tasks. #1321 allows for tasks to be configured that aren't for a particular platform, namely, `docker-build` type tasks and `docker-run` type tasks. For build, a context and Dockerfile must be specified; for run, an image is the only requirement. While we don't have an import from CLI story, it will show the command run in the terminal wind

[2019-10-10 13:32] 1138-4EB commented on #1001
@bwateratmsft thanks a lot for clarifying! Would you mind pointing me to any documentation or any instructions about how to test it? I'd like to probably contribute import/export features, if that is not something on your priority list.

[2019-10-10 13:32] vurachaitanya opened #1333 "VS with Docker hub"
Repro steps:

1.
2.

Action: vscode-docker.dockerHubLogin
Error type: i
Error Message: {"detail":"Incorrect authentication credentials"}

Version: 0.6.4
OS: win32
Product: Visual Studio Code
Product Version: 1.26.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-10-10 13:35] vurachaitanya commented on #1333
Password was wrong

[2019-10-10 13:35] #1333 closed

[2019-10-10 13:36] bwateratmsft opened #1334 "Improve help for Node debugging configuration"

[2019-10-10 13:37] bwateratmsft commented on #1001
@1138-4EB Unfortunately we don't have documentation yet, but it is on our list before we release the task-based debugging model: #1113, #1334, and related #766

[2019-10-10 13:38] luav commented on #990
- Issue Type: `Bug`
- Extension Name: `vscode-docker`
- Extension Version: `0.8.1`
- OS Version: `Linux x64 4.14.146-0414146-generic`
- VSCode version: `1.39.0`

[code]

[2019-10-10 13:39] bwateratmsft opened #1335 "Import a CLI command into a task"
This is a suggestion from @1138-4EB in #1001. Since #1321 allows for arbitrary `docker-build` and `docker-run` tasks, it may be helpful to have a way of importing a command line into one such task.

[2019-10-10 14:52] #1264 closed

[2019-10-10 17:52] #1289 closed

[2019-10-10 19:03] rcjsuen commented on #75
@Leon99 Could you please provide an example of your Dockerfile that has proper syntax highlighting in Visual Studio Code but doesn't when the `vscode-docker` extension is installed?

[2019-10-10 20:25] paulyuk commented on #1310
I do have two registries in the Explorer registry tab.  I suppose I did not need to use Connect palette command at all.  However, given I have two valid ones I'd expect a Success message (and maybe the registries to pop up) vs. an error.  In Docker, it's typical to login, build, push.  So i tried similar flow and was surprised by the login / connect step failing.

[2019-10-10 21:53] Leon99 commented on #75
@rcjsuen I can't, I never said that was the case. It worked fine in VS2019, not in VSCode.

[2019-10-10 22:10] BigMorty commented on #1310
We should change this to just an Info message stating a connection of this type already exists. I also like the idea of switching the to the Explorer and selecting the connection, whether we just added it or in this case that it was already there.  Thoughts?

[2019-10-11 00:12] rcjsuen commented on #75
You're right, I misread your comment. You were talking about Visual Studio 2019 and not Visual Studio Code. My mistake and sorry for the confusion.

Could you share a screenshot of how something looks in VS2019 and VSCode for comparison? Thanks!

[2019-10-11 04:16] ds0nt opened #1336 "Azure Advertising in VSCode."
![2019-10-11-111311_1407x887_scrot](https://user-images.githubusercontent.com/1015732/66623938-35f30500-ec18-11e9-9ba3-29643b1242fd.png)

So by default, you advertise azure cloud whenever a user shows the power menu.

I am not impressed at all.

How many people asked for this feature?

[2019-10-11 04:19] ds0nt commented on #1336
What I'm saying specifically is that I will not install this extension because I don't like that it throws azure first in my menu. It looks greedy.

[2019-10-11 04:22] ds0nt commented on #1336
And VSCode is either going to be seen as a tool for writing software, or as a tool for Microsoft's Azure agenda.

[2019-10-11 08:29] daimor opened #1337 "FROM image suggestions from store"
Very often use images like `store/intersystems/iris-community` in `FROM` and it does not have latest version, I should remember the version number.
Would it be possible if this extension could suggest a version image in such cases?

[2019-10-11 11:03] rcjsuen commented on #1336
@ds0nt Perhaps a “solution” would be to rename these commands from “Registry: Command” to “Command (Registry)”?

[2019-10-11 11:06] rcjsuen commented on #1336
Actually, now that I look at the code I'm not sure that's possible given that it's the `category` and I'm not sure if that is configurable or not...

https://github.com/microsoft/vscode-docker/blob/2ebe51f73304d5c0ea1b6701df52e4484d69d109/package.json#L1730-L1734

[2019-10-11 11:42] rcjsuen commented on #1337
@daimor Are you talking about the case where you're typing in your `Dockerfile` in the editor? If yes, does the editor give you suggestions if you don't use `store/` and refer to things like `node:...`?

[2019-10-11 11:43] daimor commented on #1337
Right, and yes, it does work for common docker images

[2019-10-11 11:46] daimor commented on #1337
btw, I found only one way how to gather information about tags in `store/ `
https://registry-1.docker.io/v2/store/intersystems/iris-community/tags/list
but it requires access token

[2019-10-11 11:49] daimor commented on #1337
And how to get a list of products in Store
[code]
But did not find how to get this `store/intersystems/iris-community`, for instance

[2019-10-11 12:46] rcjsuen commented on #1337
@daimor If this feature is important to you, please open an issue in the [rcjsuen/dockerfile-language-service repository](https://github.com/rcjsuen/dockerfile-language-service). Thank you.

[2019-10-11 13:17] bwateratmsft commented on #1236
Changing to dupe of #1296

[2019-10-11 13:17] #1236 closed

[2019-10-11 13:21] veonua commented on #1296
My passwords are not that valuable to keep them in credential storage. So it would be nice not to force this

[2019-10-11 14:08] daimor commented on #1337
@rcjsuen I fixed it for me by editing dockerfile-ast
added this code after [line](https://github.com/rcjsuen/dockerfile-ast/blob/759f7a6a872997c5fb47e5e63877925b01cc823e/src/instructions/from.ts#L174)
[code]
so, the parser does not recognize `store` as a registry and keeps the image name as 'store/intersystems/iris-community'
Maybe I should fill the issue there?

[2019-10-11 14:37] rcjsuen commented on #1337
@daimor That's some next level archaeology you did there. Please open an issue in [rcjsuen/dockerfile-ast repository](https://github.com/rcjsuen/dockerfile-ast) for starters and we can continue the conversation there. Thank you.

[2019-10-11 16:16] bwateratmsft commented on #1337
Marking this one as closed, tracking https://github.com/rcjsuen/dockerfile-ast/issues/59.

[2019-10-11 16:16] #1337 closed

[2019-10-14 16:22] #1235 closed

[2019-10-14 18:47] Sp00127c opened #1345 "I am not able authrozie the org in VSCode. unable to get local issuer certificate"
Hello,

when I am trying to authorize the org in VSCode, it is redirecting to login page. when I enter credentials, it is showing unable to get local issuer certificate.

can anyone please help me resolve this issue.

thanks in advance

[2019-10-14 18:58] bwateratmsft commented on #1345
@Sp00127c Can you add repro steps and maybe screenshots of the error?

[2019-10-14 20:16] #1296 closed

[2019-10-14 20:17] #1310 closed

[2019-10-15 13:53] #1298 closed

[2019-10-15 14:52] #1170 closed

[2019-10-16 14:52] #1301 closed

[2019-10-16 18:46] wwwsilvathiago opened #1348 "TesteAngular"
Repro steps:

1.
2.

Action: debugCoreClr
Error type: Error
Error Message: Unable to infer the application project file. Set either the 'appFolder' or 'appProject' property in the Docker debug configuration.

Version: 0.8.1
OS: win32
Product: Visual Studio Code
Product Version: 1.39.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-10-16 18:52] bwateratmsft commented on #1348
@wwwsilvathiago Is there a csproj/fsproj project file present in the workspace? Can you share the structure of your solution and also the Docker debug task from `.vscode\launch.json`?

[2019-10-16 19:00] bwateratmsft commented on #646
SSH support was recently added in docker-modem, and we have updated our reference to it. I think more changes are needed on this side, but I'll check it out and see.

[2019-10-16 20:27] MikeZhu92 opened #1349 "Add -u setting when attach shell and vscode"
I'm trying to use the 'attach shell' and `attach vscode` the plugin execute cmd is like this:
`docker exec -it container_id /bin/sh -c "[ -e /bin/bash ] && /bin/bash || /bin/sh"`

I want to add `-u` before the container id but I can only config the settings after container_id in the docker plugin setting `Attach command to use for Linux containers`.

#807 is related to this, but the user seems cha

[2019-10-16 21:00] bwateratmsft commented on #646
Ok, so good news, this is actually possible now! You need the [Remote Development](https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.vscode-remote-extensionpack) extension pack.

1. Run command `Remote-SSH: Add new SSH host...` and follow the prompts to set up a connection to the target host.
1. Run command `Remote-SSH: Connect to host...` and connect to the host
1. A new VSCode

[2019-10-17 04:24] mcauto commented on #646
Nice ! It's work on me.

Is Remote-WSL  not support?

[2019-10-17 13:22] bwateratmsft commented on #646
@mcauto WSL will work automatically in the next release (see #1199). Unfortunately it cannot be configured to work in 0.8.1, as the version of Dockerode in use has a now-fixed issue where it disallows `npipe://` values in DOCKER_HOST: https://github.com/apocas/docker-modem/pull/106

[2019-10-17 15:03] bwateratmsft commented on #646
Support that is not via the Remote - SSL extension is blocked on https://github.com/apocas/docker-modem/issues/107. This is needed if, for example, you want your enlistment to be on your local machine, with Docker on remote. In contrast, to use with Remote - SSL would require the enlistment to be on the remote machine.

[2019-10-18 01:52] #1309 closed

[2019-10-18 18:18] #1320 closed

[2019-10-18 18:47] #992 closed

[2019-10-18 19:05] bwateratmsft commented on #43
@rcjsuen Is this part of the language server? Or would it go in VSCode itself?

[2019-10-18 19:06] bwateratmsft commented on #1349
Related also to #1197 , #363

[2019-10-18 19:10] bwateratmsft commented on #1202
This is essentially .NET debug w/ Docker-compose, so I'm going to dupe it over to #840

[2019-10-18 19:10] #1202 closed

[2019-10-18 21:06] rcjsuen commented on #43
@bwateratmsft Oof, this is an oldie I see, haha.

1. The language server provides code completion already for like `HEALTHCHECK --i`. If that's not working, please let me know.
1. The language server also does some validation here so something like `HEALTHCHECK --intersval=30s CMD [ "/bin/sh" ]` with the misspelling of `--interval` will flag an error. Again, if this is not working let me know and

[2019-10-18 21:06] rcjsuen commented on #292
Can someone please change the title of this issue so that it reflects that the problem is a syntax highlighting issue and not a linting issue? Thanks!

[2019-10-18 23:16] StephenWeatherford commented on #292
I've now got some experience with colorization, feel free to ask questions.  Might or might not be easy to fix.

[2019-10-21 13:49] bwateratmsft commented on #43
@rcjsuen Yep, we're trying to go through old issues, hence many have been resurrected :)

[2019-10-21 13:54] bwateratmsft commented on #1169
As this is a limitation of docker-modem, I have copied this issue there: https://github.com/apocas/docker-modem/issues/110

[2019-10-21 13:54] #1169 closed

[2019-10-21 14:00] bwateratmsft commented on #43
Since this is in VSCode itself, I'm closing this issue as external, and opened https://github.com/microsoft/vscode/issues/82984

[2019-10-21 14:00] #43 closed

[2019-10-21 14:03] bwateratmsft commented on #292
Based on @PrashanthCorp 's [comment](https://github.com/microsoft/vscode-docker/issues/292#issuecomment-409685704) it seems like this is a dupe of #75?

[2019-10-21 14:03] #292 closed

[2019-10-21 14:06] bwateratmsft commented on #245
I filed https://github.com/microsoft/vscode/issues/82985 and will close this issue as external.

[2019-10-21 14:06] #245 closed

[2019-10-21 14:10] bwateratmsft commented on #816
Related but not same as #802

[2019-10-21 14:11] bwateratmsft commented on #1297
@rcjsuen This one is part of the language server, right? (Forgive my limited understanding, I think it's syntax colorization comes from VSCode in the `tmLanguage` file, and linting / intellisense comes from your language server?)

[2019-10-21 14:13] bwateratmsft commented on #592
I'm marking this one for milestone 0.10.0 since it may be essentially necessary for compose to work.

[2019-10-21 14:18] bwateratmsft commented on #261
Marking this one as a dupe of #379 and #520

[2019-10-21 14:18] #261 closed

[2019-10-21 14:23] bwateratmsft commented on #75
Since syntax highlighting is provided by VSCode with the tmLanguage file, I've created https://github.com/microsoft/vscode/issues/82988 and will close this one as external to that one.

[2019-10-21 14:23] #75 closed

[2019-10-21 14:25] bwateratmsft commented on #54
@lostintangent Can you add some more context on this (admittedly old) issue?

[2019-10-21 14:43] bwateratmsft commented on #231
Seems like user snippets is the way to go.

[2019-10-21 14:43] #231 closed

[2019-10-21 14:50] #1312 closed

[2019-10-21 15:23] bwateratmsft commented on #1292
I can reproduce. It seems to be a long-standing, controversial issue with Node itself, wherein for every single HTTP request it does a DNS lookup:
https://github.com/nodejs/node/issues/5893

In order to actually make use of caching, one must configure a system-wide DNS cache (e.g. dnsmasq) or otherwise, use userland packages like [dnscache](https://www.npmjs.com/package/dnscache).

It would be pos

[2019-10-21 15:30] bwateratmsft commented on #1292
@boeremak I filed https://github.com/apocas/docker-modem/issues/111 for docker-modem to consider doing DNS caching for their HTTP requests (or making it an option). In the meantime, you can reduce the refresh speed if you want.

[2019-10-21 15:53] bwateratmsft opened #1351 "Consider slowing down refresh speed on explorer window"
Related to #1292 , #1225.

@philliphoff @BigMorty @EricJizbaMSFT @StephenWeatherford @fiveisprime How would you guys feel about slowing down the explorer window's refresh rate from the current 1 second to something longer? Two? Three? Five?

[2019-10-21 15:54] bwateratmsft commented on #1292
I'll close this one as external to https://github.com/apocas/docker-modem/issues/111; and we can consider changing the refresh speed in #1351.

[2019-10-21 15:54] #1292 closed

[2019-10-21 16:06] 1138-4EB commented on #331
@bwateratmsft, is multi-select in the trees released already? I don't find the feature in `September 2019 (version 1.39)` and `0.8.1`.

[2019-10-21 16:28] bwateratmsft commented on #331
I was referring to this comment: https://github.com/microsoft/vscode-docker/issues/331#issuecomment-500477876

Is that insufficient? If so I will reopen this.

[2019-10-21 16:33] 1138-4EB commented on #331
Precisely, the last part of that comment said/says:

That was on June. Then, on August, @EricJizbaMSFT commented that he was tracking and waiting for microsoft/vscode#76941 (scheduled by September) to implement the feature. Therefore, I think that you might reopen this.

However, I am not sure about what is required now. If microsoft/vscode#76941 is already upstreamed, this extension needs to be u

[2019-10-21 16:36] rcjsuen commented on #1297
@bwateratmsft Yes, this is coming from the language server. Thanks for the ping.

I think more investigation is required as I was able to reproduce the problem and then when I tried it again I couldn't reproduce the problem. :(

[2019-10-21 16:38] bwateratmsft commented on #331
@1138-4EB Thanks, I missed that part of Eric's comment. I reopened this.

[2019-10-21 16:41] bwateratmsft commented on #1351
Mainly, CPU usage: #1225 , and significant DNS traffic: #1292.

We can't control either of those problems but we can slow down the default refresh rate. Anybody who needs it to be faster can always speed it up.

[2019-10-21 17:22] bwateratmsft commented on #1351
Yes, planning to: #1352

[2019-10-21 18:47] BigMorty commented on #1351
Great! 👍

[2019-10-21 20:24] bwateratmsft opened #1353 "Investigate using problem matchers on tasks"
Tasks have the capability of defining problem matchers, which are basically regular expressions for taking task output and putting it into the Problems tab. With the CustomExecution change, we will be able to define the output fully, so it may make sense to use problem matchers as well.

[2019-10-21 20:54] karolz-ms commented on #1351
My 2 cents: we should make the refresh rate a configuration parameter, incl. allowing auto-refresh to be turned off (there is option to manually refresh already).

[2019-10-21 21:32] anegrelli opened #1354 "erro"
Repro steps:

1.
2.

Action: vscode-docker.images.remove
Error type: 409
Error Message: (HTTP code 409) conflict - conflict: unable to delete 314918ddaedf (cannot be forced) - image is being used by running container 87e8242dddb0

Version: 0.8.1
OS: darwin
Product: Visual Studio Code
Product Version: 1.39.2
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-10-21 21:44] philliphoff opened #1355 "Infer browser location based on exposed Docker ports"
The new task-model of debugging relies on the `dockerServerReadyAction` to determine whether/when/where to launch the browser.  This relies on certain recognized statements being written to the debug console; in the case of Node.js, several of the popular logging libraries do not actually write to the console by default (e.g. they write to `stdout` instead, even when using a "console" logger).  Th

[2019-10-21 21:53] EricJizbaMSFT commented on #1351
@karolz-ms there's already a [setting](https://github.com/microsoft/vscode-docker/blob/master/package.json#L1093) `docker.explorerRefreshInterval`

Regarding the motivation of this issue, another mitigation could be to collapse the network/volume explorers by default. I bet plenty of people leave those open, causing us to poll on them, but only actually use the containers/images explorers. Unfortu

[2019-10-21 21:59] philliphoff commented on #1351
We might also consider switching to a "push" model rather than a "pull/poll" model.  We do this for CTW in VS where the containers/images trees are refreshed only when relevant events are reported by Docker, rather than on any specific polling interval.  (The refresh is further throttled so that refresh only happens x number of milleseconds after no more relevant events have been received.) This m

[2019-10-22 06:41] bwateratmsft commented on #1354
Can you add repro steps? Are you trying to delete an image that is still in use?

[2019-10-22 09:58] goe13 opened #1356 "when i start the container got this"
Repro steps:

1.
2.

Action: vscode-docker.containers.start
Error type: 500
Error Message: (HTTP code 500) server error - driver failed programming external connectivity on endpoint fazhihao (7aba3d3f8dcbb8cce4fbc7d0bd1e837f2f8aeb5f82266cb979e2da4683560519): Error starting userland proxy: /forwards/expose/port returned unexpected status: 500

Version: 0.8.1
OS: win32
Product: Visual Studio Code
Pr

[2019-10-22 14:17] bwateratmsft commented on #1356
Can you add repro steps? What happens if you try again?

[2019-10-22 14:30] ProblemaResolt opened #1357 "Error Message: (HTTP code 409) conflict - conflict: unable to delete c90075a9f74a (cannot be forced) - image has dependent child images"
Repro steps:

1.
2.

Action: vscode-docker.images.remove
Error type: 409
Error Message: (HTTP code 409) conflict - conflict: unable to delete c90075a9f74a (cannot be forced) - image has dependent child images

Version: 0.8.1
OS: win32
Product: Visual Studio Code
Product Version: 1.39.2
Language: ja

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-10-22 14:31] bwateratmsft commented on #1357
Duplicate of #1354. You can't delete an image that is in use by containers.

[2019-10-22 14:31] #1357 closed

[2019-10-22 14:32] bwateratmsft commented on #1355
FWIW, the "official" approach that VSCode took was this `serverReadyAction`; I'd like to have plugged into that rather than copy it entirely, but requiring app output to indicate readiness seems to be the norm.

[2019-10-22 14:35] bwateratmsft commented on #1351
Dockerode does support this with the getEvents method. It returns JSON that could probably tell us which _section_ to refresh, or let us avoid refreshing entirely if we want to get more advanced.

[2019-10-22 14:40] bwateratmsft opened #1358 "Consider changing from polling to push-based model for Explorer"
This comes from discussion in #1351. Currently we poll every 2 s (formerly 1 s) for data from Docker via Dockerode. We can use Dockerode's `getEvents` method to take advantage of a push-based model, and use the information from those events to only refresh specific nodes, or avoid refreshing entirely if we want to get more advanced.

[2019-10-22 16:03] #1351 closed

[2019-10-22 16:22] karolz-ms commented on #1358
IMO this would be a good change to make, with one caveat: in my experience with incremental-push models, things get "out of sync" eventually, so there is always a need for occasional server poll and comparing what the client has with what the server has. But that poll can be done *significantly less frequently* than in the pure-poll model.

[2019-10-22 17:32] #1322 closed

[2019-10-22 18:16] bwateratmsft commented on #646
**DISCLAIMER**: There are two "flavors" of using the Docker extension with a remote daemon over SSH:
**Remote - SSH setup:**
The best and easiest is to use the Remote - SSH extension. See [this comment](https://github.com/microsoft/vscode-docker/issues/646#issuecomment-542889588) for how to do that. **If you aren't sure which flavor to use, you should use this one.**

**`DOCKER_HOST` setup:**
The

[2019-10-22 19:38] bwateratmsft commented on #1358
@karolz-ms That's where I'm leaning as well--just use the events as a hint to refresh (which we can also scope to the particular tree view affected). This would dramatically reduce the amount of refreshing we do, as networks/images/volumes change pretty slowly and containers a bit faster, but not once-every-second fast. We can also put a maximum amount of time to wait before doing a full refresh a

[2019-10-22 19:39] bwateratmsft commented on #1222
This issue has been closed automagically because it needs more information and has not had recent activity. See also our issue reporting guidelines.

Happy Coding!

[2019-10-22 19:39] #1222 closed

[2019-10-22 20:18] philliphoff commented on #1358
I'm not aware of any reliability issues, but it does tend to push a lot of events so it's necessary to filter/debounce/throttle them before refreshing.  (Note that CTW doesn't look at the event data itself when it refreshes, but simply uses them as a trigger to do a wholesale refresh.  Using the event data to update only the changed objects could be a further optimization in the future.)

[2019-10-22 21:27] ntakadzeni-tharage opened #1361 "Error Message: (HTTP code 500) server error - error while creating mount source path '/host_mnt/c/Software/code/dycom/web-app': mkdir /host_mnt/c: file exists"
Action: vscode-docker.containers.start
Error type: 500
Error Message: (HTTP code 500) server error - error while creating mount source path '/host_mnt/c/Software/code/dycom/web-app': mkdir /host_mnt/c: file exists

Version: 0.8.1
OS: win32
Product: Visual Studio Code
Product Version: 1.39.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-10-23 03:47] goe13 commented on #1356
Repro steps:
1.When I runing command follow then got the error.
command:
`docker run -dit --name fazhihao -v "E:\dockers\fazhihao\data\www\front:/home/www/front" -v "E:\dockers\fazhihao\data\www\LegalDailyCMS:/home/www/LegalDailyCMS" -p 8083:80 benchu1k/t1:1.0`
error:
`C:\Program Files\Docker\Docker\Resources\bin\docker.exe: Error response from daemon: driver failed programming external connectivi

[2019-10-23 03:48] #1356 closed

[2019-10-23 04:39] bwateratmsft commented on #1361
@ntakadzeni-tharage This is a relatively common issue where volume mapping on Docker decides it doesn't want to work anymore...typically, restarting Docker Desktop has worked for me. Can you try that?

[2019-10-23 05:03] sixhj opened #1362 "unable to delete"
Repro steps:

1.
2.

Action: vscode-docker.images.remove
Error type: 409
Error Message: (HTTP code 409) conflict - conflict: unable to delete c8ee894bd2bd (cannot be forced) - image is being used by running container caa95f777c18

Version: 0.8.1
OS: darwin
Product: Visual Studio Code
Product Version: 1.39.2
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-10-23 05:59] TDPrabhu opened #1363 "error :connect ENOENT//./pipe/docker_engine"
Repro steps:

1.
2.

Action: vscode-docker.containers.prune
Error type: ENOENT
Error Message: connect ENOENT //./pipe/docker_engine

Version: 0.7.0
OS: win32
Product: Visual Studio Code
Product Version: 1.37.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-10-23 15:22] bwateratmsft commented on #1363
@TDPrabhu Can you add repro steps? Is Docker actually running?

[2019-10-23 15:23] bwateratmsft commented on #1362
Duplicate of #1354. You cannot delete an image that has a running container.

[2019-10-23 15:23] #1362 closed

[2019-10-23 20:50] #1361 closed

[2019-10-24 01:21] chrisdias opened #1365 "cannot debug node apps (anymore)"
create a new node/express app:

[code]

open the command palette, choose `Add Dockerfiles to workspace...`, follow prompts for Node, port 3000.

Result:  `Dockerfile`, `docker-compose.yml`, and `docker-compose.debug.yml` are all created, but there is no `launch.json`...

in debug viewlet, add new debug configuration, choose `Docker: Nodejs`

Result:

[code]

right click on the `docker-compose.debu

[2019-10-24 03:27] anadapa opened #1366 "Error Message: (HTTP code 500) server error - Cannot restart container"
Repro steps:

1.
2.

Action: vscode-docker.containers.restart
Error type: 500
Error Message: (HTTP code 500) server error - Cannot restart container d6e79c45f7ea1411bed07ff26b5e8b5bf9da99075617f65ab3efffa7c73971bb: error while creating mount source path '/host_mnt/e/Sistemas/betuel/estamos-contigo/estamos-contigo-app': mkdir /host_mnt/e: file exists

Version: 0.8.1
OS: win32
Product: Visual Studio

[2019-10-24 04:20] bwateratmsft commented on #1366
@anadapa This is a relatively common error with Docker. Try restarting Docker Desktop.

[2019-10-24 05:55] chrisdias commented on #1365
looks like i have another extension installed that is conflict with this scenario... need to figure out which one.

[2019-10-24 05:55] #1365 closed

[2019-10-24 13:32] bwateratmsft commented on #1365
@chrisdias let us know if you figure it out, in case others run into the problem. @philliphoff it may be something we can solve as well.

[2019-10-25 17:37] #1331 closed

[2019-10-26 22:12] atmmoreira opened #1373 "Problem with docker on VSCODE"
Repro steps:

1.
2.

Action: vscode-docker.containers.prune
Error type: EACCES
Error Message: connect EACCES /var/run/docker.sock

Version: 0.8.1
OS: linux
Product: Visual Studio Code
Product Version: 1.39.2
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-10-27 01:27] bwateratmsft commented on #1373
Can you add repro steps? Is Docker running? Have you configured it for non-sudo users?

[2019-10-28 06:20] vophatlam opened #1374 "vn88"
Repro steps:

1.
2.

Action: vscode-docker.images.prune
Error type: ENOENT
Error Message: connect ENOENT //./pipe/docker_engine

Version: 0.8.1
OS: win32
Product: Visual Studio Code
Product Version: 1.39.2
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-10-28 06:20] #1374 closed

[2019-10-28 10:08] amitsingh11 opened #1375 "When running app"
Repro steps:

1.
2.

Action: debugCoreClr
Error type: Error
Error Message: Unable to infer the application project file. Set either the 'appFolder' or 'appProject' property in the Docker debug configuration.

Version: 0.8.1
OS: win32
Product: Visual Studio Code
Product Version: 1.39.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-10-28 10:09] amitsingh11 commented on #1375
please help for the same

[2019-10-28 11:26] nasiriyima opened #1376 "Docker Machine crashes when managing Docker containers with vscode-docker plugin"
I recently started exploring ways to manage my docker development environment with vscode, then I came across this plugin and another one for running vscode in a container. Unfortunately, both methodologies are proving problematic. Since when I installed both plugins, whenever I try to either manage my containers or run vscode inside my workspace container, it crashes the whole docker machine and

[2019-10-28 13:52] bwateratmsft commented on #1375
@amitsingh11 Where is the csproj in your workspace located?

[2019-10-28 13:53] bwateratmsft commented on #1376
@nasiriyima If docker-machine is crashing, please file a bug in their repo: https://github.com/docker/machine

[2019-10-28 13:53] #1376 closed

[2019-10-28 15:27] amitsingh11 commented on #1375
I have downloaded app from github and put that folder in d drive.
My os is in c drive.
If any query please let me know.

On Mon 28 Oct, 2019, 7:22 PM Brandon Waterloo [MSFT], <
notifications@github.com> wrote:

[2019-10-28 15:31] bwateratmsft commented on #1375
@amitsingh11 What app from GitHub? In order to do .NET Core debugging, the extension needs to be able to find the csproj in your workspace. If it's not in the root of the workspace, you need to set the `appProject` or `appFolder` property in the launch.json profile.

[2019-10-28 15:33] bwateratmsft commented on #1318
This issue has been closed automatically because it needs more information and has not had recent activity. See also our [issue reporting](https://aka.ms/azcodeissuereporting) guidelines.

Happy Coding!

[2019-10-28 15:33] #1318 closed

[2019-10-28 15:41] amitsingh11 commented on #1375
Thanks for the quick response.
I am very happy from your side.
I have tried to set appFolder in launch.js . Also use the 2-3 reference
site. Not able to resolve the issue.
Please can you help me by referring the site or any other way.

Thanks a lot for your help.

Please help.

On Mon 28 Oct, 2019, 9:01 PM Brandon Waterloo [MSFT], <
notifications@github.com> wrote:

[2019-10-28 15:47] bwateratmsft commented on #1375
Does your workspace contain a `.csproj` file?

[2019-10-28 16:16] amitsingh11 commented on #1375
No , my projects does not contain the same.

On Mon 28 Oct, 2019, 9:17 PM Brandon Waterloo [MSFT], <
notifications@github.com> wrote:

[2019-10-28 16:17] bwateratmsft commented on #1375
You can't debug any arbitrary project with the .NET Core Docker debug provider. Do you have some other kind of .NET Core project (e.g. `.vbproj`, `.fsproj`)?

[2019-10-28 16:22] amitsingh11 commented on #1375
This project is for block chain.
.Net core is used for accessing block chain API.
Hyper ledger is used for creating the block chain.

What is the solution ?
I need to create new project for debugger ?
Please suggest.

On Mon 28 Oct, 2019, 9:48 PM Brandon Waterloo [MSFT], <
notifications@github.com> wrote:

[2019-10-28 16:30] bwateratmsft commented on #1375
I would suggest starting here: https://github.com/microsoft/vscode-docker/wiki/Debug-.NET-Core-(Preview)

You can only debug .NET Core web and console apps with this debug provider; if you don't have a .NET Core project (`.csproj`, `.fsproj`, `.vbproj`) then you don't have a .NET Core app, regardless of what APIs are being used.

[2019-10-28 16:55] amitsingh11 commented on #1375
Thanks for your great help.
I will start as per your suggestions.

May you suggest sample code for blockchain which is using .Net core for
development.
So that I can create blockchain application on Microsoft Azure.

Once again thank you for your support.

On Mon 28 Oct, 2019, 10:00 PM Brandon Waterloo [MSFT], <
notifications@github.com> wrote:

[2019-10-28 16:59] bwateratmsft commented on #1375
I'm not aware of any, perhaps others are? I've labeled this "Question".

[2019-10-28 17:03] karolz-ms commented on #1375
@amitsingh11 you said you have downloaded a sample from GitHub. Can you clarify what sample are you using (give us the link/URL)?

[2019-10-28 17:06] amitsingh11 commented on #1375
Sure I will share the link with you by tomorrow.
This is for IBM blockchain on hyper ledger.

On Mon 28 Oct, 2019, 10:33 PM Karol Zadora-Przylecki, <
notifications@github.com> wrote:

[2019-10-28 17:46] nasiriyima commented on #1376
This response wasn't really what I expected. Anyways, the reason why I chose to report the issue here is because, everything has been working fine DockerToolbox, until when I decided to start running vscode in the workspace container as well as managing my dev containers with it. In a nutshell, What I mean to say here is that, this only happens when I try to use vscode to manage my containers, and

[2019-10-28 17:52] bwateratmsft commented on #1376
If Docker Machine is crashing, that is by definition an issue with Docker Machine, no matter what is using it.

[2019-10-28 19:00] bwateratmsft commented on #1297
I reopened this one over in https://github.com/rcjsuen/dockerfile-language-service/issues/51.

[2019-10-28 19:00] #1297 closed

[2019-10-28 20:39] nasiriyima commented on #1376
So like I guessed and I'm still insisting this is a vscode issue, running vcode from command line using the `code ` command stops this issue from happening, I don't know why that works, but then it worked for me. Thanks anyways!

[2019-10-28 21:56] karolz-ms commented on #1260
@EricJizbaMSFT and I talked. We could not think of any compelling remote development scenario that would involve the extension running as "UI" extension. Haven't seen any related feedback from users either. Closing for now--we will reopen if we learn something to the contrary.

[2019-10-28 21:56] #1260 closed

[2019-10-29 04:13] amitsingh11 commented on #1375
Hi Microsoft/Vscode-Docker,
Below is the link from where I have copied the application.
HTTPS://github.com/IBM/build-blockchain-insurance-app

On Mon 28 Oct, 2019, 10:36 PM amit singh, <amit.s.cse@gmail.com> wrote:

[2019-10-29 11:14] v-dantch opened #1379 "[Suggestion]Add a button to navigate to the Azure Portal to enable the ACR"
**OS**: All
**Build Version:** [20191025.2](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=11605)
**Regression**: Not a Regression

**Repro Steps:**
1. Create a new Azure Registry --> Run "Docker Registries : Log In to Docker CLI" --> Push an image to this new Azure Registry.
2. Drill down from the Azure --> Applied subscription --> New Azure Registry --> Right click the new pus

[2019-10-29 13:51] bwateratmsft commented on #1375
I looked; that is not a .NET Core app at all. The `web` folder contains a Node.js app, the rest is just Dockerfiles.

[2019-10-29 14:10] bwateratmsft commented on #1376
I understand the frustration, but if something is crashing, it doesn't matter what is using it or how (assuming the user is a low-rights application)--the issue is with the crashing application. It's potentially even a denial-of-service vulnerability.

[2019-10-29 14:45] amitsingh11 commented on #1375
Yes , when I am trying execute vs code then it shows alert for appFolder.

I think we can use vs code IDE for that type of application.
Please suggest can we use vs code for that ?

Or I can use other IDE like sublime etc.

On Tue 29 Oct, 2019, 7:21 PM Brandon Waterloo [MSFT], <
notifications@github.com> wrote:

[2019-10-29 14:59] bwateratmsft commented on #1375
VSCode can debug Node.js applications, but you can't use the _.NET Core_ debugger for that, which is what you've been trying to do. You need to use a Node.js debug provider, most likely with a Node Attach configuration after starting the app with `Docker Compose: Up`. More about Node.js debugging here: https://code.visualstudio.com/docs/nodejs/nodejs-debugging

[2019-10-29 14:59] #1375 closed

[2019-10-29 17:10] bwateratmsft commented on #816
@sgreiner It's possible that this issue is fixed with https://github.com/microsoft/vscode/issues/52880. Can you try turning off `docker.importCertificates`, and ensuring that the built-in VSCode setting is on (the default is on), and then try your scenario?
![image](https://user-images.githubusercontent.com/36966225/67791115-46dfab00-fa4d-11e9-9907-6e42507f0e94.png)

Our plan is to remove `docker.

[2019-10-29 19:41] bwateratmsft opened #1380 "Deprecation warning for docker-coreclr debug configurations"
We should add a deprecation warning for the pre-task-model `docker-coreclr` debug configurations.

We can point them to the new task model debug configs and potentially even create a way to automatically migrate the old configuration to new.

[2019-10-29 21:41] BigMorty opened #1381 "Support popular Python frameworks such as Django & Flask"

[2019-10-29 21:51] sgreiner commented on #816
@bwateratmsft I can confirm that it worked now.
`docker.importCertificates` was unset and `http.systemCertificates` was set to true (which is the default)
Perfect!

[2019-10-29 21:51] #816 closed

[2019-10-30 00:09] bwateratmsft commented on #1381
@BigMorty Already filed it a long time ago! #1255

[2019-10-30 00:09] #1381 closed

[2019-10-30 13:35] bwateratmsft commented on #816
@sgreiner Awesome! Glad it's working now!

[2019-10-30 14:02] ryanbekhen opened #1382 "Cannot remove registry docker"
Repro steps:

1.
2.

Action: vscode-docker.registries.deleteImage
Error type: UNSUPPORTED
Error Message: The operation is unsupported.

Version: 0.8.1
OS: linux
Product: Visual Studio Code
Product Version: 1.39.2
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-10-30 14:27] bwateratmsft commented on #1382
@ryanbekhen What type of registry were you using? Private registry, Docker Hub, ACR, etc.?

[2019-10-30 15:51] bwateratmsft opened #1383 "Error rates: Disallow removing built-in networks"
A relatively common issue is users trying to remove the built-in networks (bridge, host, none), which is not allowed by Docker. As a result the attempt fails.

#1175, #1248, and it's a relatively common issue from telemetry (over 36% of all Remove Network attempts fail for this).

[2019-10-30 15:55] bwateratmsft opened #1384 "Use vscode.window.withProgress for prune operations"
Prune operations can take some time; a relatively common error from telemetry is users starting another prune operation before the prior one has completed. There isn't really any indication that one is running, so we should use `vscode.window.withProgress` to show that it's happening in the background.

[2019-10-31 07:29] May-0599 opened #1385 "Can't remove docker container"
Repro steps:

1.
2.

Action: vscode-docker.containers.remove
Error type: 409
Error Message: (HTTP code 409) unexpected - removal of container d3d445766b093d6208985d33ed4acf3a41fd0e5ad9e6b5a48280987cd77c417e is already in progress

Version: 0.8.1
OS: darwin
Product: Visual Studio Code
Product Version: 1.39.2
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-10-31 11:25] bwateratmsft commented on #1385
Can you add repro steps?

[2019-11-01 14:30] bwateratmsft commented on #1113
I've added a ton of info on this (and Node debugging) into the rel/0.9.0 branch of the wiki.

[2019-11-01 14:35] #854 closed

[2019-11-01 18:02] roblourens opened #1390 "Remote - Containers suggests invalid container tag"
- Open the vscode-remote-try-rust repo
- Run "Docker Images: Build Image..."
- Accept the suggested tag of `.devcontainer`
- Get an error about an invalid tag

I think they can't start with `.`

[2019-11-01 18:12] dbreshears commented on #1384
Should we also enable/disable via context

[2019-11-01 18:37] bwateratmsft commented on #960
Hey @eli-kaplan , now that the Docker extension behaves as a workspace extension by default, is this issue still occurring?

[2019-11-01 18:42] dbreshears commented on #566
@StephenWeatherford ,  can you provide more information on this.

[2019-11-01 21:20] karolz-ms commented on #1113
@bwateratmsft Roger, thanks. Will add that to my prototype/fork

[2019-11-01 22:04] philliphoff commented on #871
@exocode I'd love to know more about what you were intending to do with this application within Docker (e.g. development, testing, deployment, etc.)

This is a case where the `Dockerfile` optimization `mv node_modules ../` actually causes the application to fail, as `npm` expects `react-scripts` to exist in `/usr/app/node_modules/.bin` but the `node_modules` folder has actually been moved to the p

[2019-11-02 07:54] sajjadweb opened #1387 "server error - driver failed programming external connectivity on endpoint nodeexporter"
Repro steps:

1.
2.

Action: vscode-docker.containers.start
Error type: 500
Error Message: (HTTP code 500) server error - driver failed programming external connectivity on endpoint nodeexporter (805d5871379f27eb7e4d437fed3c7513f4580ca114d24e41b958e15aa71a8910): Error starting userland proxy: listen tcp 0.0.0.0:9100: bind: Only one usage of each socket address (protocol/network address/port) is no

[2019-11-02 07:54] #1387 closed

[2019-11-02 18:09] bwateratmsft opened #1388 "Use child_process.spawn instead of child_process.exec"
Docker Build operations can have very long output, especially in the case of Buildkit (which emits nearly everything to stderr).

According to [this](https://www.hacksparrow.com/nodejs/difference-between-spawn-and-exec-of-node-js-child-rocess.html), `child_process.exec()` uses 200KB buffers, whereas `child_process.spawn()` uses streams. I've seen some errors in telemetry of these buffers getting f

[2019-11-02 18:09] bwateratmsft commented on #1388
We can fix this as part of #1360.

[2019-11-04 01:39] conglam96 opened #1389 "Cannot start container: bind: address already in use"
Repro steps:

1.
2.

Action: vscode-docker.containers.start
Error type: 500
Error Message: (HTTP code 500) server error - driver failed programming external connectivity on endpoint lam_gay_apache_1 (416e70f5eed1eff186ad0a490c8d24738f24a0143393625ca08f92f6338b3a36): Error starting userland proxy: listen tcp 0.0.0.0:80: bind: address already in use

Version: 0.8.1
OS: linux
Product: Visual Studio C

[2019-11-04 12:16] rcjsuen commented on #1390
That is correct per the [documentation](https://github.com/docker/cli/blob/ae1618713f83e7da07317d579d0675f578de22fa/docs/reference/commandline/tag.md).

[2019-11-04 13:50] bwateratmsft commented on #1389
Can you add repro steps?

[2019-11-04 17:15] bwateratmsft commented on #1390
I think this may already be fixed in #1245 but I will verify. (The code in #1245 has not yet released so it is expected to still have the bug in the public release)

[2019-11-04 17:24] bwateratmsft commented on #1390
Yes, validated that this is fixed. It will suggest `vscoderemotetryrust:latest` by default.

[2019-11-04 17:24] #1390 closed

[2019-11-04 19:46] #1345 closed

[2019-11-04 20:54] ClaudioLazaro opened #1391 "Issui when i try deletin my image by vsconde"
Repro steps:

1.
2.

Action: vscode-docker.images.remove
Error type: 409
Error Message: (HTTP code 409) conflict - conflict: unable to delete 965ea09ff2eb (cannot be forced) - image has dependent child images

Version: 0.8.2
OS: linux
Product: Visual Studio Code
Product Version: 1.39.2
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-11-04 21:26] bwateratmsft commented on #1391
@ClaudioLazaro Can you add repro steps? It appears there are images built based on the one you are trying to delete; in this case deletion is not allowed.

[2019-11-04 23:34] philliphoff opened #1392 "Add default VS labels to all task-built Docker images"
Currently, the "old" .NET Core debugging logic as well as the new NET Core Docker build task will add the `com.microsoft.created-by` label, if no other labels are specified.  We should also add this label (by default) to all images created via tasks (.NET Core, Node.js, and otherwise).

[2019-11-04 23:46] philliphoff commented on #1392
We should also consider:

 - Always adding this label, even when other labels are specified, but then adding a task option to explicitly disable the default labels.  (This would be similar to VS.)
 - Also adding this label to containers started by VS (using tasks). Containers will inherit the labels of their images, but users could theoretically run an arbitrary image using a task, which might not

[2019-11-05 13:55] bwateratmsft commented on #1392
The usage in VS got too complicated, IMO. Is it not sufficient to use the default labels for images only unless one is specified? (i.e. what we're doing for .NET Core)

What do we want to achieve with these labels?

[2019-11-05 13:58] #646 closed

[2019-11-05 14:11] hevertonpablo opened #1393 "erro no start"
Repro steps:

1.
2.

Action: vscode-docker.containers.start
Error type: 400
Error Message: (HTTP code 400) unexpected - OCI runtime create failed: container_linux.go:346: starting container process caused "process_linux.go:449: container init caused \"rootfs_linux.go:58: mounting \\\"/host_mnt/c/Docker/laradock/php-fpm/php7.3.ini\\\" to rootfs \\\"/var/lib/docker/overlay2/4e08d3717ce00b9a28617c742

[2019-11-05 15:06] bwateratmsft commented on #1393
@hevertonpablo Can you add repro steps?

[2019-11-05 16:10] frNNcs opened #1394 "error"
Repro steps:

1.
2.

Action: vscode-docker.containers.start
Error type: 500
Error Message: (HTTP code 500) server error - driver failed programming external connectivity on endpoint siliq_web_1 (aeffe42eade403dc349f827b7eb65d841a822e8e6e2bf6a2e1716d4d8209e96f): Error starting userland proxy: /forwards/expose/port returned unexpected status: 500

Version: 0.8.2
OS: win32
Product: Visual Studio Code

[2019-11-05 17:43] philliphoff commented on #1392
Enabling us to add labels *in addition* to those added by users just gives us the flexibility to use labels as metadata stores later (e.g. knowing which containers are safe(r) to remove on debug end or close due as we've marked them as having been created by us and/or a specific debug session).

[2019-11-05 17:52] bwateratmsft commented on #1392
That makes sense. We should see if we can come up with a simpler way to specify things than what we did in VS. I'm not super keen on having a `labels` property *and* a `noDefaultLabels` boolean property.

[2019-11-05 18:11] bwateratmsft commented on #1392
We can also deal with `ports` `publishAllPorts` in a similar manner.

[2019-11-05 18:12] bwateratmsft commented on #1392
We can also deal with `ports` `publishAllPorts` in a similar manner.

[2019-11-05 21:34] CarlosMarioSom opened #1395 "Pruning images"
Repro steps:

1.
2.

Action: vscode-docker.images.prune
Error type: 409
Error Message: (HTTP code 409) unexpected - a prune operation is already running

Version: 0.8.2
OS: linux
Product: Visual Studio Code
Product Version: 1.39.2
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-11-05 21:35] #1384 closed

[2019-11-05 21:35] bwateratmsft commented on #1384
Dupe of #1323

[2019-11-05 21:36] bwateratmsft commented on #1323
I think the best solution is to use vscode.window.withProgress for prune operations.

[2019-11-05 21:36] bwateratmsft commented on #1395
Dupe of #1323

[2019-11-05 21:36] #1395 closed

[2019-11-05 21:38] ryanbekhen commented on #1382
Private registry

[2019-11-05 21:41] bwateratmsft commented on #1382
@ryanbekhen I found this issue that looks similar:
https://github.com/docker/distribution/issues/1573

According to that you need to set an environment variable for your registry, `REGISTRY_STORAGE_DELETE_ENABLED=true`. Can you try that and see if it works?

[2019-11-06 11:12] robfallows opened #1397 "High Contrast Rendering Issue with Configure Explorer"
## Platform

![image](https://user-images.githubusercontent.com/6086035/68293406-c7be2880-0085-11ea-8b8d-c5b6b777277e.png)

## Issue

When using the High Contrast Theme:

Selecting `Images` -> `Configure Explorer...` renders:

![image](https://user-images.githubusercontent.com/6086035/68293627-4024e980-0086-11ea-8ad2-33c5cdd2f4e6.png)

[2019-11-06 13:06] bwateratmsft commented on #1397
AFAIK we aren't doing any special UI so this may be a VSCode issue. I'll investigate.

[2019-11-06 15:34] bwateratmsft commented on #1397
@EricJizbaMSFT So this menu is just a vanilla `vscode.window.showQuickPick` done through the Azure Extension framework. I'm pretty sure that makes this a VSCode issue, would you agree?

I'll try reproing the issue with a dummy extension.

[2019-11-06 15:54] bwateratmsft commented on #1397
I'm able to reproduce in a stub extension with the following code, so I'll move this to VSCode.

[code]

[2019-11-06 16:00] bwateratmsft commented on #1397
Closing as external, external item is https://github.com/microsoft/vscode/issues/84062.

[2019-11-06 16:00] #1397 closed

[2019-11-06 16:06] bwateratmsft opened #1398 "Error rates: Better error messages for image deletion failure"
One of the most common two errors we see from telemetry relate to failed image deletion, for the following two reasons:
- image has dependent child images
- image is being used by running container xxx

We should catch these two, provide a clearer error message, and suppress the Report Issue button.

See #1391, #1354, #1362, #1357, #1208, #1126, and probably even more.

[2019-11-06 16:10] bwateratmsft commented on #1398
Similar idea of reducing error rate w/ #1323, #1383.

[2019-11-06 16:14] bwateratmsft commented on #1300
Delaying this one to 0.10.0

[2019-11-06 19:46] #1348 closed

[2019-11-06 21:04] #1388 closed

[2019-11-06 21:04] #1392 closed

[2019-11-06 21:14] bwateratmsft opened #1399 "Use optional chaining where applicable"
[TypeScript 3.7](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-7.html) adds optional chaining (the glorious `?.` operator). We should review our usage of things like `foo && foo.bar && foo.bar.baz` and replace with `?.` as appropriate.

[2019-11-07 01:22] BigMorty commented on #1381
:)

[2019-11-07 10:42] v-dantch opened #1401 "Fail to hit the breakpoint and pop up an error in "Debug Console" window"
**OS:** Win10
**Build Version**: [20191106.2](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=12147)
**Regression:** Previous Build [[20191106.1](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=12124)]

**Repro Steps:**
1. Install .NET Core SDK 3.1 .
![image](https://user-images.githubusercontent.com/34729092/68381749-579aca00-018d-11ea-9602-f1ede947bab4.png)
2.

[2019-11-07 13:08] arniwesth opened #1403 "Connect using Docker Machine not working"
## Environment:

- VSCode Version: 1.40.0-insider
- OS Version: Linux Mint 19.2
- Does this issue occur when all extensions are disabled?:  Not applicable

## Steps to Reproduce:

[code]

## Result:
[code]

The other options (Attach, Inspect, etc ...) has the same result.

## Exected result:
I am trying to do this:

https://code.visualstudio.com/docs/remote/containers-advanced#_option-2-connect-us

[2019-11-07 17:13] Moshyfawn opened #1402 "Starting container process caused "process_linux.go:297: applying cgroup configuration for process caused \"open"
Repro steps:

1. `docker network create server`
2. `docker run -d -p 80:80 -v /var/run/docker.sock:/tmp/docker.sock:ro —network="server" —name="nginx_proxy" —restart="unless-stopped" jwilder/nginx-proxy`

Action: vscode-docker.containers.start
Error type: 500
Error Message: (HTTP code 500) server error - OCI runtime create failed: container_linux.go:346: starting container process caused "process_

[2019-11-08 12:53] littlepai opened #1404 "can not stop the container"
Repro steps:

1.
2.

Action: vscode-docker.containers.stop
Error type: 500
Error Message: (HTTP code 500) server error - cannot stop container: 77e643ef3418ed6fd4353e12a8a2a3a6a89314c7de46702bdf4e9e21dfb25add: Cannot kill container 77e643ef3418ed6fd4353e12a8a2a3a6a89314c7de46702bdf4e9e21dfb25add: unknown error after kill: runc did not terminate sucessfully: container_linux.go:389: signaling init p

[2019-11-08 14:39] Scdi-soporte opened #1405 "Error 500 weblogic"
Repro steps:

1.
2.

Action: vscode-docker.containers.start
Error type: 500
Error Message: (HTTP code 500) server error - OCI runtime create failed: container_linux.go:346: starting container process caused "process_linux.go:297: applying cgroup configuration for process caused \"open /sys/fs/cgroup/docker/cpuset.cpus.effective: no such file or directory\"": unknown

Version: 0.8.2
OS: linux
Produ

[2019-11-08 15:10] bwateratmsft commented on #1405
@Scdi-soporte Can you add repro steps?

[2019-11-08 15:11] bwateratmsft commented on #1404
@littlepai Can you add repro steps?

[2019-11-08 15:17] bwateratmsft commented on #1402
I found this similar issue: https://github.com/moby/moby/issues/29496#issuecomment-267766589

The comment I linked recommends doing some extra setup work in order to get cgroups working. Can you try that and see if it works?

[2019-11-08 15:18] bwateratmsft commented on #1403
@arniwesth Is there any value set for `docker.host` in your VSCode settings?

[2019-11-08 15:22] bwateratmsft commented on #1401
This may be a 3.1 compat issue but we need to investigate ASAP.

[2019-11-08 15:52] bwateratmsft commented on #1403
Additionally, what version of the Docker extension do you have? I was able to do the above successfully with 0.8.2.

[2019-11-08 16:05] arniwesth commented on #1403
It works for me now as well. Not sure why I got this error the first time.

[2019-11-08 16:14] bwateratmsft commented on #1401
@v-dantch I was able to get it to work. There's a couple things to check:

1. What image is in use in the `base` stage of your Dockerfile? By default, it scaffolded `mcr.microsoft.com/dotnet/core/aspnet:3.1` for me, which works without changes since 3.1 preview2 is publicly available (so the image is as well).
1. Can you try pulling the latest 3.1 public image with `docker pull mcr.microsoft.com/d

[2019-11-08 16:17] bwateratmsft commented on #1403
Ah, glad it's working @arniwesth! There is one command, `Docker Images: Run Azure CLI` that I know will _not_ properly run on the remote docker-machine in 0.8.2, but this is already fixed in the upcoming 0.9.0.

[2019-11-08 16:34] arniwesth commented on #1403
## Additional information:
Docker Extension: 0.8.2

## Problem:
Ok, I can attach to a remote docker already running using [Option 2](https://code.visualstudio.com/docs/remote/containers-advanced#_option-2-connect-using-docker-machine), but there are a few things that strike me as quite odd:

1)
In Docker extension: Images: Right-click on image -> Run
Results in the image being run *locally* - not

[2019-11-08 16:59] bwateratmsft commented on #1403
@arniwesth What shell are you using? I'm on macOS, not Linux, but both of the above things work fine for me with bash.

Is anything set for `docker.host` in VSCode settings?

[2019-11-08 17:25] cchinnaraj opened #1406 "Unable to remove Docker image"
Repro steps:

1.
2.

Action: vscode-docker.images.remove
Error type: 409
Error Message: (HTTP code 409) conflict - conflict: unable to delete 204216b3821e (cannot be forced) - image has dependent child images

Version: 0.8.2
OS: darwin
Product: Visual Studio Code
Product Version: 1.40.0
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-11-08 17:26] bwateratmsft commented on #1406
Duplicate of #1391.

[2019-11-08 17:26] #1406 closed

[2019-11-08 18:10] #1275 closed

[2019-11-08 18:42] bwateratmsft opened #1408 "How to install Nightly version of Docker extension"
The latest nightly build of the Docker extension can be installed by anybody. To do so:

1. Download the VSIX from the "Published Artifacts" link here (in the `vsix` artifact, looks like `vscode-docker-1.26.0.vsix`): [![Build Status](https://dev.azure.com/ms-azuretools/AzCode/_apis/build/status/vscode-docker?branchName=main)](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=63609&

[2019-11-08 18:42] bwateratmsft commented on #1284
Resolving now, "fixed" with #1408

[2019-11-08 18:42] #1284 closed

[2019-11-08 19:15] arniwesth commented on #1403
I use bash. `docker.host` is empty (as I suppose it should be?). I also updated VSCode to 1.40.0.

This workflow works for me:

Run from a terminal:
[code]
In VSCode terminal:
[code]
Now I can start docker containers remotely as expected and attach VSCode to them.

If I *don't* run `eval $(docker-machine env remote-docker-host)` in VSCode terminal I still see the remote containers and images in th

[2019-11-08 19:18] dbreshears opened #1409 "Ensure local images are up to date"

[2019-11-08 19:19] bwateratmsft commented on #1409
We have the `dockerBuild.pull` flag today, if true it is equivalent to using `--pull`. Currently it is treated as false if unspecified, but we can change that.

[2019-11-08 19:27] bwateratmsft commented on #1403
That is strange. The fact that the right stuff is showing in the explorer view means `DOCKER_HOST` is propagating at least as far as our instantiation of Dockerode, but the fact that it's _not_ working in terminal commands means it isn't getting farther than that.

What happens if you do this?

From terminal:
[code]
In VSCode:
[code]

I see the following, and running `docker ps` shows the right in

[2019-11-08 21:01] arniwesth commented on #1403
From terminal:
[code]
In VSCode terminal:
[code]
So before running `eval $(docker-machine env remote-docker-host)` *in* the VSCode terminal the DOCKER_HOST is empty.

[2019-11-08 21:16] bwateratmsft commented on #1403
That explains why it's not working in terminal, but it's odd that environment variables are not propagating from the terminal used to launch VSCode into VSCode itself. Are you using any VSCode Remoting features? The behavior in those cases is to launch the terminal on the remote side; which would explain why things are not propagating from the local side.

[2019-11-08 21:21] arniwesth commented on #1403
Not sure precisely what you mean with VSCode Remoting features? I have *Remote Explore* and *Docker* extension installed. Other than that, I have no special set-up.

[2019-11-08 21:25] bwateratmsft commented on #1403
I suspect then that this must be some Linux quirk or a VSCode bug with obtaining the environment variables. @chrmarti any ideas what might be going on here? Environment variables from parent terminal are not propagating to the VSCode process itself; or at least not to terminals created from it.

[2019-11-08 21:33] arniwesth commented on #1403
I can try and boot up another Linux distro. Might be a problem specific to Linux Mint. Attaching remote docker containers is awsome² - so I would like to iron out the last quirks.

It will be a while before I have time for this though.

[2019-11-08 21:39] bwateratmsft commented on #1403
No problem. Hopefully we can work out what is going wrong. It is possible with VSCode settings to run that `eval $(...)` command automatically in each terminal created by VSCode.

[2019-11-10 17:03] RichardNilsson opened #1411 "Unknown or unsupported transport “disabled” for address “disabled:”"
Repro steps:

1. Press "Connect registry..."
2. Choose "Docker Hub"
3. Insert Docker Hub username
4. Insert Docker Hub password
5. Press "enter"

Action: vscode-docker.registries.connectRegistry
Error type: Error
Error Message: Unknown or unsupported transport “disabled” for address “disabled:”

Version: 0.8.2
OS: linux
Product: Visual Studio Code
Product Version: 1.40.0
Language: en

[2019-11-11 09:24] chrmarti commented on #1403
@arniwesth Do you have 'Inherit Env' enabled in the settings?
![image](https://user-images.githubusercontent.com/9205389/68574780-f31c8b00-046a-11ea-99d1-61d80a935af0.png)

If that's enabled maybe your `.bashrc` or `.bash_profile` clear the variables?

[2019-11-11 11:32] beatriz-evocorp opened #1412 "vscode-docker.images.prune"
Repro steps:

1.
2.

Action: vscode-docker.images.prune
Error type: 409
Error Message: (HTTP code 409) unexpected - a prune operation is already running

Version: 0.8.2
OS: win32
Product: Visual Studio Code
Product Version: 1.40.0
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-11-11 14:46] #54 closed

[2019-11-11 15:35] bwateratmsft commented on #1412
Dupe of #1395, will be mitigated by #1323.

[2019-11-11 15:35] #1412 closed

[2019-11-11 15:37] bwateratmsft commented on #1411
@RichardNilsson It looks like this is an issue with node-keytar, and fixed by installing gnome-keyring. Can you try installing gnome-keyring and see if that fixes the problem?

More information here: https://github.com/atom/node-keytar/issues/132

[2019-11-11 16:15] bwateratmsft opened #1413 "Use CustomExecution's resolved configuration"
This will allow for any variables to be used in task definitions (currently we only support a subset, manually implemented--whereas this resolved configuration would support them all).

Blocked on https://github.com/microsoft/vscode/issues/81007.

[2019-11-11 16:15] bwateratmsft commented on #1413
Marking for 0.10.0 milestone, moved to 0.11.0 if the feature isn't available yet in VSCode.

[2019-11-11 19:39] arniwesth commented on #1403
@chrmarti No, `Inherit Env` was not enabled. It works as expected after enabling it.
Thanks for pointing it out. Perhaps it should be enabled as default?

[2019-11-11 19:42] bwateratmsft commented on #1403
It was enabled by default for me on Mac; I've definitely never turned it on myself.

[2019-11-11 19:44] arniwesth commented on #1403
For some reason, it was not enabled by default on my machine.
I'm closing this. Thanks for your help.

[2019-11-11 19:46] bwateratmsft commented on #1403
Strange. The code for it made it default enabled in VSCode as well.

I do recall a similar experience I had with the Docker extension; it had a setting to truncate the registry name to 10 (the old default). I had never changed it, and even though the new default was to not truncate, my machine somehow kept the old configuration.

[2019-11-12 04:50] XSD-zhcn opened #1415 "config"
Repro steps:

1.
2.

Action: debugCoreClr
Error type: Error
Error Message: The application folder 'c:\Users\Administrator\AppData\Local\Temp\Temp1_12121212.zip\gofaker-master' does not exist. Ensure that the 'appFolder' or 'appProject' property is set correctly in the Docker debug configuration.

Version: 0.8.2
OS: win32
Product: Visual Studio Code
Product Version: 1.39.2
Language: zh-cn

<details

[2019-11-12 06:46] #1354 closed

[2019-11-12 09:09] nk111 commented on #743
I have the same issue (kind of). Registry and app service are in different subscriptions. In this case you are not able to select the image from the dropdown. The loading indicator just never stops. When you decide to enter the image on the private registry tab you can save. But when you re-enter container settings Azure has automatically "moved" the settings back to the "ACR"  tab. You'll see the

[2019-11-12 12:30] v-ruizh opened #1416 "Fail to execute the 'compose up' action"
**OS:** All
**Build Version:** [20191108.2](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=12238)
**Regression:** Previous Build [20191106.2](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=12147)

**Repro Steps:**
1. Create a certs folder with command "mkdir %USERPROFILE%\certs".
2. Download [mkcert ](https://github.com/FiloSottile/mkcert/releases) and rename

[2019-11-12 14:45] bwateratmsft commented on #1415
@XSD-zhcn can you add repro steps?

[2019-11-12 15:43] arniwesth commented on #1403
There are still some weird things going on here:) - Today I started a docker container on a remote machine, then
[code]
"View Logs" and "Attach Shell" etc works for the remote container in the Docker extension, but
"Attach Visual  Code" results in the error message:
[code]

[2019-11-12 15:45] bwateratmsft commented on #1403
The "Attach Visual Studio Code" command is provided by the [Remote - Containers](https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.remote-containers) extension so it may be their implementation is different. I will try out this scenario.

[2019-11-12 15:46] arniwesth commented on #1403
It worked yesterday and nothing I am aware of has changed, so I'm a bit baffled by this one.

[2019-11-12 15:53] bwateratmsft commented on #1416
I was not able to reproduce the issue. @v-ruizh, can you try removing the "authregistry" and "registry" base images, and try again and see if the issue still occurs?

Thanks!

[2019-11-12 15:54] arniwesth commented on #1403
Ok, I figured tho only thing I changed was enabling `Inherit Env` - sure enough, disabling `Inherit Env` now makes "Attach Visual Studio Code" work.
Of course, the other stuff now does not work out-of-the-box as discussed previously.

[2019-11-12 16:03] bwateratmsft commented on #1403
@arniwesth I was able to attach without any problems even with Inherit Env enabled. I _can_ reproduce the same error message, if I run a container with Right Click Image > Run--because of the `--rm` flag it is almost instantly removed, so that error is expected.

What are you using to start the container before you do "Attach Visual Studio Code"?

[2019-11-12 16:13] arniwesth commented on #1403
I start it remotely (so, not using VS Code) on the server like this:
[code]
It certanly runs:
[code]
I saw this the error reported very initally when I started out trying to use this method for connecting to remote conatiners. But right now I can only reproduce it by enabling `Inherit_Env`.
The docker image is based on `nvidia/cuda:10.1-cudnn7-devel`.

[2019-11-12 16:17] arniwesth commented on #1403
I should perhaps add that the server runs [NVIDIA Docker](NVIDIA/nvidia-docker), but to my knowledge this should not make any difference.

[2019-11-12 17:06] bwateratmsft commented on #1403
@arniwesth One more question, can you share the output of `docker context inspect`? You can redact IP addresses / etc. but please leave something like `tcp://1.2.3.4` as the protocol is important.

[2019-11-12 17:30] arniwesth commented on #1403
From terminal:
[code]
From VS Code with  `Inherit_Env` enabled:
[code]
they are identical.

[2019-11-12 17:32] bwateratmsft commented on #1403
Rats, there goes my next idea. @Chuxel do you have any ideas why "Attach Visual Studio Code" would not work when combining `eval $(docker-machine env)` and "Inherit Env"? I is working for me with a more simplified example but it seems like "Inherit Env" shouldn't be blocking...

[2019-11-12 17:36] arniwesth commented on #1403
@bwateratmsft I will try with a simpler setup to see if I can narrow down the issue once I get some time.

[2019-11-12 17:55] bwateratmsft commented on #1399
Please also note that `foo && foo.bar && foo.bar.baz` isn't exactly the same as `foo?.bar?.baz`. The former will stop on any falsy value (and return it), whereas the latter will only stop on `null`/`undefined` (and return it). In most cases this is not an issue because this should _only_ be used on `object?.object?.something` or similar--and the only falsy value for an object is `null`/`undefined`

[2019-11-12 23:03] bwateratmsft opened #1419 "F5 without any .vscode folder has bad behavior"
1. Create a .NET Core project with `dotnet new`
1. Open the folder in VSCode
1. When the prompt about required assets comes up, click "not now"
1. Hit F5
1. VSCode prompts on environment, showing .NET Core and the new and old Docker .NET Core debugging. Pick a .NET Core choice.

Both Docker options result in bad behavior. Instead we should throw an error saying to add it with "Add Docker Files..."

[2019-11-12 23:17] arstev opened #1420 "new docker file add problem in vs code . net core 3"
Repro steps:

1.
2.

Action: vscode-docker.configure
Error type: Error
Error Message: No .csproj or .fsproj file could be found. You need a C# or F# project file in the workspace to generate Docker files for the selected platform.

Version: 0.8.2
OS: win32
Product: Visual Studio Code
Product Version: 1.40.0
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-11-12 23:18] bwateratmsft commented on #1420
@arstev Can you add repro steps? Is there a csproj / fsproj in your workspace?

[2019-11-12 23:45] bwateratmsft opened #1421 "Validate that spaces don't mess up .NET Core targets magic"
For .NET Core projects we use a special project file to determine the output binary path, and a special targets file to determine the Blazor manifest input/output location.

Need to verify that spaces somewhere in those paths do not break the logic, since user directories may contain spaces.

[2019-11-13 00:05] arstev commented on #1420
I do not think so.
I was trying to use dotnet command tool.
Do you have a good resource on how to build microservice .netcore & docker?
Thank you
Arsen

________________________________
From: Brandon Waterloo [MSFT] <notifications@github.com>
Sent: Tuesday, November 12, 2019 11:18 PM
To: microsoft/vscode-docker <vscode-docker@noreply.github.com>
Cc: AT <arstev@hotmail.com>; Mention <mention@norepl

[2019-11-13 00:07] bwateratmsft commented on #1420
@haniamr Do you have a good sample project you can recommend as a starting point?

[2019-11-13 06:47] arniwesth commented on #1403
I rebooted my machine and now, of course, it works:).

I had the same error initially, so something is being cached or changed in certain situations. I will keep this issue open a little longer, while I try to replicate this behaviour. I suspect it has something to do with running the same image locally and remote, but I will look more into it.

[2019-11-13 06:51] chrmarti commented on #1403
I was just trying to reproduce and it works for me too. If you see this again, you could check the output in the Dev Containers terminal and the dev console (Help > Toggle Developer Tools) and file a bug at https://github.com/microsoft/vscode-remote-release/issues. Thanks.

[2019-11-13 07:04] arniwesth commented on #1403
Check - I will close this one.

[2019-11-13 07:04] #1403 closed

[2019-11-13 07:53] v-ruizh commented on #1416
@bwateratmsft The issue also reproduces after removing all images. It also can be reproduced on Mac and Linux platform.

[2019-11-13 14:27] bwateratmsft commented on #1416
@v-ruizh Strange, I was testing on Mac and had no issues...

[2019-11-13 15:46] #1363 closed

[2019-11-13 16:00] bwateratmsft commented on #1420
In the meantime I'll close this one as by-design.

[2019-11-13 16:00] #1420 closed

[2019-11-13 17:25] bwateratmsft commented on #1416
@v-ruizh I can repro if the `authregistry` image does not exist. Building that image (from right-click Dockerfile -> Build Image) and tagging it `authregistry` are part of the steps. Can you verify that you built the image and it is tagged `authregistry`?

Nevertheless, that compose file wasn't very well-crafted, so I've altered it and changed the test case steps. Now, you'll just need to save the

[2019-11-13 18:17] bwateratmsft opened #1423 "Improve the flow to reach an F5'able project"
Currently in order to F5 a project successfully, they need to add Docker files. For .NET Core, they need to add the .NET Core build/debug assets _before_ adding Docker debug assets (either via "Add Docker Files..." or "Initialize for debugging", due to https://github.com/OmniSharp/omnisharp-vscode/issues/3403.

Considering only native .NET Core debugging, if the user hits F5 it will add those asse

[2019-11-13 18:29] philliphoff opened #1424 ".NET Core debugging fails with untrusted certificate"
When debugging a .NET Core web application on Windows using SSL where the SSL certificate is not yet trusted, VS Code will fail with the error `Error: Process exited with code 7`.

This is due to the `spawnAsync()` not throwing an `Error` object with the `code` property set (as is done by `child_process.exec()`, so the resulting `parseError()` cannot extract the error code, and the certificate tru

[2019-11-13 18:31] bwateratmsft commented on #1424
Good catch!

[2019-11-13 19:23] sandipchitale opened #1426 "Add a "Copy full tag" command, helpful for things like Dive, etc."
Checkout [this](https://marketplace.visualstudio.com/items?itemName=sandipchitale.docker-dive) VSCode extension that integrates with [dive](https://github.com/wagoodman/dive) command. The `dive` command enables the exploration of layers in a Docker file. This extension also adds the Dive command with the image tag node in **Docker View:Images Viewlet** tree context menu.

[2019-11-13 19:27] bwateratmsft commented on #1426
Did you mean to link another VSCode extension?

[2019-11-13 19:30] sandipchitale commented on #1426
Oops forgot: https://marketplace.visualstudio.com/items?itemName=sandipchitale.docker-dive

[2019-11-13 19:31] bwateratmsft commented on #1426
Is this just promoting your extension? GitHub issues are not the right place for that.

[2019-11-13 19:35] sandipchitale commented on #1426
Wanted to make user of your extension aware of additional extension on top.

[2019-11-13 19:37] bwateratmsft commented on #1426
We appreciate the additional features but I'm not sure issues are the right place for this. @BigMorty do you think we can add a page on the Wiki with links to some other extensions users might be interested in, like this one and probably also Remote - Containers?

[2019-11-13 19:39] #1424 closed

[2019-11-13 19:40] #1419 closed

[2019-11-13 19:40] #1421 closed

[2019-11-13 19:42] bwateratmsft commented on #1426
@dbreshears suggested, if you would like, you can also submit a PR into this repo to add this feature. It's up to you.

[2019-11-14 01:41] sandipchitale commented on #1426
Ok. I will look into it.

[2019-11-14 01:42] sandipchitale commented on #1426
OK. I will look into it.

[2019-11-14 04:46] #1366 closed

[2019-11-14 07:29] sandipchitale commented on #1426
FIiled pull request: https://github.com/microsoft/vscode-docker/pull/1428

[2019-11-14 14:18] MarttiR commented on #1402
@Moshyfawn If you're running Fedora 31, [this](https://www.reddit.com/r/linuxquestions/comments/dn2psl/upgraded_to_fedora_31_docker_will_not_work/f5sml7f/) is likely the solution until [this issue](https://github.com/opencontainers/runc/issues/2163) is closed.

1. Edit `/etc/default/grub`
2. Add the following line below `GRUB_CMDLINE_LINUX`:
[code]
3. Run `grub2-mkconfig`
4. Restart the system

Fo

[2019-11-14 15:51] bwateratmsft commented on #1402
@Moshyfawn Let us know if that solution works! Thanks for finding it @MarttiR!

[2019-11-14 23:06] philliphoff opened #1430 "Review execution of container commands via palette"
Many (all?) of the container-related contextual commands are also available via the command palette.  In that scenario, the command will typically display a quick-pick prompt so the user can select a specific container.  However, several of these commands are valid only when a container is in a given state, which means they may fail if the wrong container is selected.

We should review each comman

[2019-11-15 00:09] dbreshears commented on #1426
@sandipchitale Thank you for submitting a PR for the team to consider.  There are two aspects of this PR that we discussed. The first being the "Copy Full Tag" which seems to be a good addition to the Docker extension itself.  For the second aspect, where functionality is dependent on other downloads/utilities that we have no control over, we believe a better extensibility model is to encourage th

[2019-11-15 04:57] sandipchitale commented on #1426
Sure. I can do that.

And I find Copy Full Tag command really useful because that is the format once needs in other docker CLI commands.

And I guess I will keep my extension going then.

[2019-11-15 05:36] sandipchitale commented on #1426
Filed a new PR with Copy Full Tag command only. See: https://github.com/microsoft/vscode-docker/pull/1431

[2019-11-15 09:16] MikeWilliams-UK opened #1432 "Container and Image Icons corrupted"
When I start VS Code and start our application via docker-compose up -d the icons for the containers and images are smudges as shown below.

![image](https://user-images.githubusercontent.com/13162784/68931425-69c9c900-0788-11ea-8107-cbce703ab0a8.png)

Can anyone advise on how to fix this please?

[2019-11-15 09:18] MikeWilliams-UK commented on #1432
My installed plug ins are shown below
![image](https://user-images.githubusercontent.com/13162784/68931657-e8bf0180-0788-11ea-8c58-d8e9c2d321bb.png)

[2019-11-15 11:50] truonghdpk opened #1433 "error"
Repro steps:

1.
2.

Action: vscode-docker.volumes.remove
Error type: 409
Error Message: (HTTP code 409) conflict - remove mymagento2faild_dbdata: volume is in use - [744544e92b3749abaaa0f93f97f6eb636fcc80b064848652ad6863f2505a32e4]

Version: 0.8.2
OS: linux
Product: Visual Studio Code
Product Version: 1.40.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-11-15 15:18] bwateratmsft commented on #1433
@truonghdpk can you add repro steps?

[2019-11-15 15:22] bwateratmsft commented on #1432
Those icons are from the [Docker Explorer](https://marketplace.visualstudio.com/items?itemName=formulahendry.docker-explorer) extension (not this one). Their repository is here: https://github.com/formulahendry/vscode-docker-explorer, you will need to open this issue there.

TBH I'm not sure I understand why you have both of them installed as their functionality is most overlapped.

[2019-11-15 15:22] #1432 closed

[2019-11-15 15:25] bwateratmsft commented on #1426
I changed the title based on our current plan.

[2019-11-15 15:50] MikeWilliams-UK commented on #1432
Maybe that's the issue (having them both installed)

[2019-11-15 15:51] bwateratmsft commented on #1432
That could be. I looked through their contributions in package.json and it seems they are _mostly_ not using the same IDs, but the views do use the same IDs and therefore could be "stepping on each others feet" so to speak.

[2019-11-15 19:48] bwateratmsft opened #1435 "Investigate hiding the old Docker debug from F5"
If you F5 without any tasks.json or launch.json it will offer a "Select Environment" quick pick. Currently it shows both the old

[2019-11-15 20:55] #1435 closed

[2019-11-16 00:33] EslamIsmail93 opened #1437 "extension failed to update inside vs code every time i installed it manually in ubuntu 19.10"
Repro steps:

1.
2.

Action: vscode-docker.images.remove
Error type: 409
Error Message: (HTTP code 409) conflict - conflict: unable to delete b563dbff99d4 (cannot be forced) - image has dependent child images

Version: 0.8.2
OS: linux
Product: Visual Studio Code
Product Version: 1.40.0
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-11-16 03:00] ptr727 commented on #646
I still can't get remote docker over SSH working, but remote workspaces over SSH works fine.
Error reported is docker_host env should be something like tcp://localhost:1234.

My docker.host user config is:
[code]

My SSH config is:
[code]

I'm running:
[code]

Any more help on how to debug?

Can the remote docker be enhanced to use the same configuration as the remote workspaces, where the connect

[2019-11-16 05:26] bwateratmsft commented on #646
@ptr727 the error you're seeing is an issue with docker-modem. We have an updated version of it that will release with 0.9.0. That said, if you can use Remote - SSH instead, we recommend that over using DOCKER_HOST.

[2019-11-16 05:28] bwateratmsft commented on #1437
Dupe of #1391

[2019-11-16 05:28] #1437 closed

[2019-11-16 15:13] ptr727 commented on #646
I am a bit confused with the version nomenclature, i.e. version 0.9.0 vs. 1.41?
What version should I wait to be bumped to 0.9.0?

At my desk VM development over SSH is not an issue, problem is that the docker hosts in our cloud are just for docker, they are not for source, thus the need for remote docker but local code.

This could get more interesting in code server style development, where e.g.

[2019-11-17 01:46] #1373 closed

[2019-11-18 14:57] pmcastell opened #1438 "ECONNRESET error"
Repro steps:

Action: vscode-docker.images.remove
Error type: ECONNRESET
Error Message: socket hang up

Version: 0.8.2
OS: win32
Product: Visual Studio Code
Product Version: 1.40.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-11-18 17:18] karolz-ms commented on #646
@ptr727 the version 0.9.0 @bwateratmsft mentioned is the version of the VS Code Docker extension. We are very close to releasing it.

[2019-11-18 18:46] philliphoff commented on #1438
@pmcastell Is this issue repeatable?  If so, could you add repro steps?

[2019-11-19 07:30] pmcastell commented on #1438
I am afraid I have not be able to repeat it, philliphoff. I let you know as soon as it happens to me again. Thanks

[2019-11-19 11:12] egamma opened #1440 "Adopt the new extension kind semantics"
@EricJizbaMSFT We have made the `extensionKind` semantics richer in the VS Code October release https://code.visualstudio.com/updates/v1_40#_extensionkind-can-be-an-array.

With this new flexibility the `extensionKind` of the docker extension should now be defined as `["workspace", "ui"]`.

- when the docker extension is installed both locally and into a remote context, then the extension will run

[2019-11-19 16:29] murych commented on #1402
@MarttiR thanks a lot, it worked!

- Linux alicorn 5.3.11-300.fc31.x86_64 #1 SMP Tue Nov 12 19:08:07 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
- Docker version 19.03.5, build 633a0ea838

[2019-11-20 02:01] v-dantch commented on #1401
Hi @bwateratmsft , thanks for your quick response and sorry for my late reply. We verified this issue on the latest nightly build [20191116.1](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=12517&view=results), this issue does not reproduce for now. And we will close this bug for now.

[2019-11-20 05:50] 6paklata opened #1441 "vs-docker"
Repro steps:

1.
2.

Action: vscode-docker.containers.prune
Error type: ENOENT
Error Message: connect ENOENT //./pipe/docker_engine

Version: 0.8.2
OS: win32
Product: Visual Studio Code
Product Version: 1.40.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-11-21 11:15] mikaelosterberg opened #1442 "Docker Connect Registry"
Repro steps:
Add local gitlab container registry using user token.
container registry uses self signed cert.

Action: vscode-docker.registries.connectRegistry
Error type: Error
Error Message: The name org.freedesktop.secrets was not provided by any .service files

Version: 0.8.2
OS: linux (Kbuntu)
Product: Visual Studio Code
Product Version: 1.40.1
Language: en

[2019-11-21 21:03] aidandj opened #1443 "Failure to pull image"
Repro steps:

1. Connect to private repo (I can see all images on the registry
2. Try to pull an image.

Action: vscode-docker.registries.pullImage
Error type: 1
Error Message: Command failed: docker login http://<ip:port> --username admin --password-stdin
time="2019-11-21T12:59:19-08:00" level=info msg="Error logging in to v2 endpoint, trying next endpoint: Get https://<ip:port>/v2/: http: server

[2019-11-22 03:10] madkaikar-ashish opened #1444 "error while creating a new network from vs code (HTTP code 404) driver not found"
Repro steps:

1. Select Docker from the left most vertical tabs
2. In Networks section click on Create
3. Or in command palette Docker Networks:Configure Explorer

Action: vscode-docker.networks.create
Error type: 404
Error Message: (HTTP code 404) driver not found - could not find plugin bridge in v1 plugin registry: plugin not found

Version: 0.8.2
OS: win32
Product: Visual Studio Code
Product V

[2019-11-22 06:52] anilk372 opened #1445 "anilk372"
Repro steps:

1.
2.

Action: vscode-docker.containers.prune
Error type: EACCES
Error Message: connect EACCES /var/run/docker.sock

Version: 0.8.2
OS: linux
Product: Visual Studio Code
Product Version: 1.40.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-11-22 11:54] anilk372 opened #1446 "error"
Repro steps:

1.
2.

Action: vscode-docker.containers.prune
Error type: EACCES
Error Message: connect EACCES /var/run/docker.sock

Version: 0.8.2
OS: linux
Product: Visual Studio Code
Product Version: 1.40.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-11-22 17:22] xDemon200 opened #1447 "delete image in linux"
Repro steps:

1.
2.

Action: vscode-docker.images.remove
Error type: 409
Error Message: (HTTP code 409) conflict - conflict: unable to delete ea85a3a4491c (cannot be forced) - image has dependent child images

Version: 0.8.2
OS: linux
Product: Visual Studio Code
Product Version: 1.40.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-11-22 18:12] philliphoff commented on #1447
@xDemon200 Was this error repeatable?  If so, could you provide repro steps?  From the error, it looks like the image being deleted had derived images; is that the case (in which case we would expect not being able to delete it)?

[2019-11-22 18:13] philliphoff commented on #1446
@anilk372 Is this error repeatable?  If so, could you provide repro steps?

[2019-11-22 18:13] philliphoff commented on #1445
@anilk372 Is this error repeatable? If so, could you provide repro steps?

[2019-11-22 18:33] philliphoff commented on #1444
@madkaikar-ashish Are you using Windows containers?  Also, did you try to create a `bridge` network?

I can reproduce the issue on Windows, using Windows containers, when creating a `bridge` network.  Apparently there are differing sets of Docker network types depending on whether using Linux containers vs. Windows containers.  We'll likely need to dynamically populate the network type quick-pick

[2019-11-22 18:38] philliphoff commented on #1443
@aidandj What kind of registry were you using?  Does that registry support HTTPS?

[2019-11-22 18:39] aidandj commented on #1443
No idea. It was set up by a co-worker. I will confirm, thanks.

[2019-11-22 22:03] karolz-ms opened #1448 "dockerServerReadyAction does not work if verbatim URL is used (.NET Core debugging)"
**Repro steps**

1. Create .NET Web API app (`dotnet new webapi --no-https`). When asked about port to listen on, specify 5000.
2. Add Docker files to project
3. In the Dockerfile, ensure that ASPNETCORE_URLS is set in the `base` stage:
[code]
4. In `tasks.json` make sure that port 5000 is used to expose the app on the host network:
[code]
5. In `launch.json` add the following (to use correct URL

[2019-11-23 03:31] xDemon200 commented on #1447
Hello, i was able to solve the issue. it was caused by the container created because it stayed running as i tried to delete it. solution: stop the container and delete the image.

`docker stop <id>`
`docker rmi <id_image>`

[2019-11-23 17:41] #1447 closed

[2019-11-25 09:14] #871 closed

[2019-11-25 09:14] #566 closed

[2019-11-25 10:14] #960 closed

[2019-11-25 10:14] #1385 closed

[2019-11-25 16:14] #1389 closed

[2019-11-25 22:14] #1391 closed

[2019-11-26 00:42] sy2un opened #1450 "vscode-docker.containers.start error 500"
Repro steps:

1.
2.

Action: vscode-docker.containers.start
Error type: 500
Error Message: (HTTP code 500) server error - driver failed programming external connectivity on endpoint londx_postgres_1 (b984407764a792023057a7d7da34d04b423cf8bbc1116ef027a97df33cb5ac0c): Error starting userland proxy: listen tcp 0.0.0.0:5432: bind: address already in use

Version: 0.8.2
OS: linux
Product: Visual Studio

[2019-11-26 15:14] #1393 closed

[2019-11-26 16:36] projaet opened #1451 "debugCoreClr"
Repro steps:

1.
2.

Action: debugCoreClr
Error type: Error
Error Message: No workspace folder is associated with debugging.

Version: 0.8.2
OS: linux
Product: Visual Studio Code
Product Version: 1.40.1
Language: zh-cn

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-11-26 16:38] projaet commented on #1451
Why it doesn't work?Can anyone help me?

[2019-11-26 16:45] karolz-ms commented on #1451
@projaet can you add repro steps (what led to the error above)?

[2019-11-26 18:14] #1394 closed

[2019-11-26 22:14] #1382 closed

[2019-11-27 12:27] mauromaurer opened #1452 "Erro na criação de container"
Repro steps:

1.
2.

Action: vscode-docker.containers.start
Error type: 500
Error Message: (HTTP code 500) server error - error while creating mount source path '/host_mnt/c/php717www/Docker/DockerAnywhere16/contabil': mkdir /host_mnt/c: file exists

Version: 0.8.2
OS: win32
Product: Visual Studio Code
Product Version: 1.40.2
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details

[2019-11-27 17:09] karolz-ms commented on #1452
@mauromaurer could you add repro steps?

[2019-11-28 10:05] messi-yang opened #1453 "Add "start all containers" option"
Add "start all containers" option

[2019-11-29 15:14] #1404 closed

[2019-11-29 15:14] #1405 closed

[2019-11-29 15:55] sogalgeeko commented on #1382
@bwateratmsft Just to mention that I encountered the very same issue and that adding this environment variable solved the issue.
Thank you.

[2019-11-29 16:08] projaet commented on #1451
@karolz-ms Well,firrst,I'm sorry for reply so late,then,here is my repro steps if them can help you,
![72Z3 A1KDGL4C}M%NH7BB}8](https://user-images.githubusercontent.com/55475905/69880241-71e74400-1304-11ea-8508-efc87001aaeb.png)and,I choose the Docker:Launch.NET Core(preview)
![image](https://user-images.githubusercontent.com/55475905/69880542-22edde80-1305-11ea-9577-05032324ba5a.png)
,and the er

[2019-11-30 14:32] will7455 opened #1454 "409 like it doesnt exist"
Repro steps:

1.
2.

Action: vscode-docker.images.push
Error type: Error
Error Message: Unable to write file (NoPermissions (FileSystemError): Error: EACCES: permission denied, mkdir '/.vscode')

Version: 0.8.2
OS: linux
Product: Visual Studio Code
Product Version: 1.40.2
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-12-02 07:21] eman291 opened #1455 "ords-korder"
Repro steps:

1.
2.

Action: debugCoreClr
Error type: Error
Error Message: Unable to infer the application project file. Set either the 'appFolder' or 'appProject' property in the Docker debug configuration.

Version: 0.8.2
OS: win32
Product: Visual Studio Code - Insiders
Product Version: 1.41.0-insider
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-12-02 07:21] #1455 closed

[2019-12-02 16:14] #1411 closed

[2019-12-02 17:02] karolz-ms commented on #1451
@projaet thanks and sorry for late reply

Looks like you have a C++ program here. Not sure if this is what you are trying to do, but the Docker extension does not support debugging C++ programs running as a container. By using `Docker: Launch .NET Core` command you are trying to debug your program using .NET debugger (for C# programs), which is not going to work.

You can use the Docker extension

[2019-12-02 17:08] projaet commented on #1451
@karolz-ms Thanks for your help!It's my mistakes that occurs your time,and your reply do really help me!

[2019-12-02 18:32] philliphoff commented on #1450
@sy2un Is this error repeatable?  If so, can you provide repro steps?

[2019-12-02 18:32] #1451 closed

[2019-12-02 18:35] philliphoff commented on #1453
@messi-yang Could you provide a little more context to this request?  You'd like an option (e.g. in the containers tree view) to start all existing containers, or only those in a particular state (e.g. paused), etc.?

[2019-12-02 18:36] philliphoff commented on #1454
@will7455 Is this error repeatable?  If so, could you provide repro steps?

[2019-12-03 06:23] dvirginz opened #1457 "nvidia-docker from within VS code? (devcontainer json)"
Is there a way to run nvidia-docker from vs code remote docker extention?
The docker instructions are

`nvidia-docker build -t detectron2:v0 .`
`nvidia-docker run -it --name detectron2 detectron2:v0`
But vs code runs docker build/ docker run and it is not configurable.
The one thing that is configurable is the devcontainer.json with the structure

[code]
I see that by adding --runtime=nvidia is eq

[2019-12-03 07:55] messi-yang commented on #1453
@philliphoff Sure, I want an option to start all existing containers in containers list view. Same as the command: docker start $(docker ps -a -q). If some containers are already started, we just skip them.
![image](https://user-images.githubusercontent.com/17985592/70030814-f37cf180-15e4-11ea-8f1d-4b8e0c2b32e9.png)

[2019-12-03 11:49] joaomoreno opened #1458 "Remote Containers using SSH doesn't work in Windows"
Related to microsoft/vscode-remote-release#1935

- I confirmed that I can successfully connect to the remote machine using SSH via command line
- There is no error in the entire UI, just loading progress bars when opening the Docker viewlet
- When running `Attach to Running Container`, nothing happens
- When I open devtools, this is what I see:

![image](https://user-images.githubusercontent.com/2

[2019-12-03 14:11] moritztk commented on #1402
@MarttiR tried this, I ran into this issue:
[code]
any idea what I might be doing wrong?

[2019-12-03 15:14] #1415 closed

[2019-12-03 17:15] maxsatula opened #1459 "In order to use an SSH DOCKER_HOST on OS X and Linux, you must configure an ssh-agent."
https://github.com/microsoft/vscode-docker/blob/836a76500c1e3edaadccdea944dec31b3e586c2c/src/utils/refreshDockerode.ts#L63

https://github.com/microsoft/vscode-docker/blob/836a76500c1e3edaadccdea944dec31b3e586c2c/src/utils/refreshDockerode.ts#L81

I doubt setting of `SSH_AUTH_SOCK` variable is necessary. I keep it undefined, but have `IdentityAgent`, `IdentityFile`, `AddKeysToAgent` in my `.ssh/co

[2019-12-03 17:41] philliphoff commented on #1459
Some of the manipulation of environment variables related to SSH is due limitations in the way `dockerode` (used to connect to the Docker host) must be initialized.  That said, there may be more that we could do to support a wider variety of SSH configurations.

[2019-12-03 17:43] maxsatula commented on #1459
Yep, and dockerode does not seem to respect `.ssh/config` file at all, so the solution might not be that simple as I suggested earlier :(

[2019-12-03 17:47] philliphoff commented on #1458
@joaomoreno Can you provide repro steps and what version of VS Code and vscode-docker you're using?

[2019-12-03 18:01] maxsatula commented on #1459
Nonetheless, I would appreciate a possibility to customize value of `SSH_AUTH_SOCK`.
I run agent as `ssh-agent -a <my_fixed_path_to_UNIX_socket>`, so the path is known and static.

[2019-12-03 22:43] philliphoff commented on #1457
@dvirginz The `vscode-docker` extension isn't part of the VS Code remote (container) development feature--that's probably better reported at the [vscode-remote-release](https://github.com/microsoft/vscode-remote-release).  That said, I don't know of a way to set the `runtime` argument for Docker image builds performed by VS Code for the purposes of creating a dev container.  That argument also can

[2019-12-04 07:02] v-dantch opened #1461 "[Suggestion] Auto refresh after installing Azure Account Extension"
**OS**: Mac
**Build Version:** [20191203.1](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=12805)
**Regression:** Not a Regression

**Repro Steps:**
1. Uninstall all dependencies of Azure Account Extension --> Uninstall Azure Account Extension.
2. Use "Connect Registry" button to connect Azure --> Prompt to install Azure Account Extension.
![image](https://user-images.githubuser

[2019-12-04 08:42] H--o-l commented on #1402
The solution of @MarttiR did not work for me, and I think the Fedora 31 documentation had an update for this issue :
https://fedoraproject.org/wiki/Common_F31_bugs#Docker_package_no_longer_available_and_will_not_run_by_default_.28due_to_switch_to_cgroups_v2.29

Thus, another way to disable CGroupsV2 and allow Docker to run seems to be:
- `sudo grubby --update-kernel=ALL --args="systemd.unified_cgr

[2019-12-04 12:24] idcristi opened #1462 "Docker Build Image Issue"
Action: vscode-docker.images.build
Error type: 5
Error Message: Task to execute is undefined

Version: 0.9.0
OS: win32
Product: Visual Studio Code
Product Version: 1.40.2
Language: en

[2019-12-04 16:07] rstaylor opened #1463 "Attach Shell should label the Terminal window with Container name not image name"
When you attach a shell via this docker extension the name given the terminal shell is the Image name.  If you have several copies of the same image used in running containers it makes it difficult to tell which shell you are looking at.  Please change or provide the option to change this to the container name.

This can be seen when you attach a shell then look in the dropdown list for available

[2019-12-04 17:25] philliphoff commented on #1461
That seems like a reasonable thing to do.

[2019-12-04 17:32] philliphoff commented on #1462
@idcristi Is this error reproducible?  If so, could you provide repro steps?

[2019-12-04 17:42] philliphoff commented on #1463
That sounds like a reasonable thing to do.  It looks like it just requires a small tweak to [attachShellContainer.ts](https://github.com/microsoft/vscode-docker/blob/8f74a63c9eec84248a9ddae463ac4dd7c055ba04/src/commands/containers/attachShellContainer.ts#L29).

[2019-12-04 18:14] #1416 closed

[2019-12-04 19:38] philliphoff commented on #1157
The problem with the previous version of the extension was that it would try to remove *all* outstanding debug containers when a debug session ends, even though there may be a container still being debugged in another session.

I successfully tested your sample with `0.9.0` after switching to the new "task-based" Docker build/run/debug model.  In this new release, container tear-down is better ass

[2019-12-04 19:38] #1157 closed

[2019-12-04 20:19] #1463 closed

[2019-12-04 23:17] philliphoff commented on #1168
@sureshsankaran I've tried to reproduce this with the latest `vscode-docker` (0.9.0) and the latest Docker engine (19.03.5) on a remote machine, but do not see an increasing number of file descriptors for the `dockerd` process as the Docker treeviews poll/refresh.

Do you continue to see this issue (on the latest version of Docker)?  If so, can you provide a little more detail on how you've setup

[2019-12-04 23:48] philliphoff commented on #1448
The issue is [here](https://github.com/microsoft/vscode-docker/blob/c521d3d855aff1e180ba9b717c4c5e89343ad1f5/src/debugging/DockerServerReadyAction.ts#L142), likely due to `util.format()` being semantically different than .NET's `String.format()`.  In the case of Node.js, it will simply concatenate arguments (separated by spaces) if the format string does not contain enough substitution tokens.  Wh

[2019-12-05 00:25] #1448 closed

[2019-12-05 11:05] jordan-public opened #1466 ".service file not found"
Repro steps:

1.Sign up to Docker Hub
2.

Action: vscode-docker.registries.connectRegistry
Error type: Error
Error Message: The name org.freedesktop.secrets was not provided by any .service files

Version: 0.9.0
OS: linux
Product: Visual Studio Code
Product Version: 1.40.2
Language: en

[2019-12-05 11:11] jordan-public commented on #1466
This is on Pixelbook i7/16G/512G

[2019-12-05 19:07] philliphoff commented on #1466
@jordan-public Can you provide more context about your setup (e.g. Linux distro, etc.)?  I don't see the issue on my Ubuntu test VM, for example.  Based on the error message, it may just be an issue with the keyring setup/dependencies.  You might look at this [issue](https://github.com/MicrosoftDocs/live-share/issues/224) to see if its resolution helps you.

[2019-12-05 20:49] jordan-public commented on #1466
It's the latest Google Pixelbook linux beta distro (inside ChromeOS)- see the uname output below.
To reproduce:
1. Install Visual Studio Code
2. Add Docker plugin
3. Sign up to the Docker registry (docker.com) -->> fails with the above complain

$ uname -a
Linux penguin 4.19.69-06666-g6c4f8cbba24e #1 SMP PREEMPT Fri Sep 6 22:15:24 PDT 2019 x86_64 GNU/Linux

Please let me know if you need more info

[2019-12-05 21:39] nbcmguarin0 opened #1468 "tried to remove dangling images"
Repro steps:

1.
2.

Action: vscode-docker.images.prune
Error type: 409
Error Message: (HTTP code 409) unexpected - a prune operation is already running

Version: 0.9.0
OS: darwin
Product: Visual Studio Code
Product Version: 1.40.2
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-12-05 22:23] philliphoff commented on #1466
Unfortunately, I don't have access to a Pixelbook and am not familiar with how it leverages VMs to run that Linux distro.  From what I gather, Debian is the closest match to that distro, but I don't see the same issue on a fresh install (nor on Ubuntu or Mint).  Was the [link](https://github.com/MicrosoftDocs/live-share/issues/224) above any help?  Given that the "Linux (beta)" distro is supposed

[2019-12-05 23:08] #1440 closed

[2019-12-05 23:11] philliphoff commented on #1468
This is likely a duplicate of #1323.

[2019-12-05 23:11] #1468 closed

[2019-12-05 23:54] philliphoff opened #1469 "Telemetry for .NET Core Docker scaffolding log "compose" orchestration"
It appears that telemetry for Docker scaffolding command is incorrectly setting the `orchestration` property for non-Node.js platforms to `docker-compose`.  (As, currently, only Node.js makes a distinction between the two orchestration flavors, that value should probably be left blank.)

[2019-12-06 07:00] lpf0712 opened #1470 "Docker: Add Docker Files to Workspace"
Repro steps:

1.
2.

Action: vscode-docker.configure
Error type: Error
Error Message: To generate Docker files you must first open a folder or workspace in VS Code.

Version: 0.9.0
OS: win32
Product: Visual Studio Code
Product Version: 1.40.2
Language: zh-cn

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-12-06 16:14] #1433 closed

[2019-12-06 16:38] bwateratmsft commented on #1469
That was intentional on my part. Those other orchestrations (aside from .NET) _are_ compose. :)

[2019-12-06 16:41] bwateratmsft commented on #1459
Dockerode indeed does not respect it; Dockerode is using the [ssh2](https://www.npmjs.com/package/ssh2) node package which does not use `.ssh/config`. I would suggest filing this there because it would be a better solution for it to be implemented there.

[2019-12-06 18:13] philliphoff commented on #1470
@lpf0712 In order to scaffold Docker-related files for a project, that project's folder must be opened in VS Code.  Did the error occur in some other scenario?  If so, could you provide repro steps?

[2019-12-06 19:17] #1457 closed

[2019-12-06 19:25] philliphoff commented on #1453
While a "start all" command may not be the best overall option, [`1.38`](https://code.visualstudio.com/updates/v1_38#_multiselect-in-custom-tree-view) of VS Code added support for multi-select within tree views which may provide reasonably equivalent behavior.

[2019-12-07 00:08] bowdenk7 opened #1471 "not able to connect to local docker"
![image](https://user-images.githubusercontent.com/820883/70364704-85ce0100-1842-11ea-8509-4ba408ed1fa8.png)

Tried restarting docker.

Not sure what `docker-machine` is but @fiveisprime ran
[code]
and it returned nothing so maybe that helps.

Let me know if there is any other information I can pull.

[2019-12-07 00:21] philliphoff commented on #1471
@bowdenk7 So `docker version` returns data for both client and server?  Which version of Docker are you using (and on which platform)?

[2019-12-07 00:22] bowdenk7 commented on #1471
[code]

MacOS

[2019-12-07 00:25] philliphoff commented on #1471
Is your Docker engine running on your local Mac or are you connecting to a remote Docker host?

[2019-12-07 00:27] bowdenk7 commented on #1471
I have docker running locally. It's possible I tested using a remote docker host at some point, but i do currently have Docker installed and running locally.

[2019-12-08 18:43] startnewproject opened #1472 "NETWORK PROBLEM"
Repro steps:

1.
2.

Action: vscode-docker.networks.create
Error type: 403
Error Message: (HTTP code 403) unexpected - operation is not permitted on predefined host network

Version: 0.9.0
OS: linux
Product: Visual Studio Code
Product Version: 1.40.2
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-12-08 23:08] #1472 closed

[2019-12-09 01:56] messi-yang commented on #1453
@philliphoff Could you provide the right action for multi-select within tree views, or the keyboard shortcuts? My environment is Mac OS 10.15.1. Thanks.

[2019-12-09 07:19] joaomoreno commented on #1458
This was the latest VS Code Insider and latest vscode-docker from 6 days ago. I don't have access to the machine right now. I tested it on a fresh VM: install VS Code, Docker extension, Docker for Windows, Git for Windows, create SSH key, make sure you can `ssh` from Command Prompt solely using the key. Once all of that is done, simply configure the remote docker setting to the `ssh://` format.

[2019-12-09 17:09] Kumar-Ashish-Jha opened #1473 "Issue"
Repro steps:

1.
2.

Action: vscode-docker.registries.connectRegistry
Error type: Error
Error Message: Unknown or unsupported transport “disabled” for address “disabled:”

Version: 0.9.0
OS: linux
Product: Visual Studio Code
Product Version: 1.40.2
Language: en

[2019-12-09 17:51] philliphoff commented on #1473
@ashijha Can you provide some context for the error?  What kind of registry were you attempting to connect to?  When in the connection process did you see that error?  Is the error repeatable?  What distribution of Linux are you using?

That error has been seen before (see [#945](https://github.com/microsoft/vscode-docker/issues/945)) and may be related to setup of the Linux key ring.  Let us know

[2019-12-09 17:55] philliphoff commented on #1471
Do you have any `DOCKER_HOST`, `DOCKER_CERT_PATH` environment variables set or are there any specific values set for the `Docker: Host` or `Docker: Cert Path` VS Code settings?

[2019-12-09 18:15] philliphoff commented on #1453
@messi-yang Sorry, that was just intended to be a note for future implementors.  VS Code (relatively) recently provided support for tree views to allow multi-selection, but individual tree views still have to opt-in to that support and update their command handlers to accommodate the change--that means code changes before users can actually use multi-select.  That enhancement is being looked at fo

[2019-12-09 18:56] ravipal opened #1474 "Unable to debug a .net core web workspace"
Repro steps:
1. Open an empty folder and launch terminal
2. Create a mvc app ('dotnet new mvc')
3. Save it as a workspace.
4. 'Docker: Add docker files to workspace'. Docker debugging related tasks are added to workspace file.
5. F5 show error
Attaching the repro folder
[WebApp4.zip](https://github.com/microsoft/vscode-docker/files/3941264/WebApp4.zip)

Action: docker-launch
Error type: Error
Erro

[2019-12-09 19:06] ravipal opened #1475 "'Add docker files to workspace' should check for dependency"
Repro steps:

1. Open an empty folder and launch terminal
2. Create a mvc app ('dotnet new mvc')
3. Didn't wait for the prompt to add dotnet debugging tasks.
4. 'Docker: Add docker files to workspace'.
5. F5 shows this error.
![image](https://user-images.githubusercontent.com/1775825/70464436-ba74cf00-1a73-11ea-81dd-0385bceecc76.png)

[2019-12-09 23:02] baniou opened #1477 "Remove container (in progress)"
Repro steps:

1.
2.

Action: vscode-docker.containers.remove
Error type: 409
Error Message: (HTTP code 409) unexpected - removal of container 2a1494813fc76bc4c0b31d058278d4b57dce7e546e6d720363bfbaabbc89bf4d is already in progress

Version: 0.9.0
OS: darwin
Product: Visual Studio Code
Product Version: 1.40.2
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-12-09 23:52] philliphoff commented on #1474
I can repro this; the immediate issue is our misunderstanding of (and a bit of VS Code inconsistency in) how VS Code indicates whether a task/debug configuration is being executed in a workspace context (vs. a folder context).  In the case of debugging, VS Code passes `undefined` for the workspace folder.  Our debug configuration provider should fallback to the root workspace folder in that case r

[2019-12-09 23:55] philliphoff commented on #1477
Closing as a dupe of #1323 (where some long-running Docker tasks do not indicate their progress leading users to invoke them again, which then fail.)

[2019-12-09 23:55] #1477 closed

[2019-12-10 00:06] ravipal opened #1478 "Default registry value is not used during docker push"
The registries lists shows an option to set a default registry as shown below. I set "MainACR" as default.
![image](https://user-images.githubusercontent.com/1775825/70483512-83b3ae80-1a9d-11ea-99bd-ee37bbbdccef.png)

Then during "Docker Images: Push" again I got the below prompt to save mainacr as default registry.

![image](https://user-images.githubusercontent.com/1775825/70483572-c83f4a00-1a9d

[2019-12-10 03:32] yundd opened #1479 "redis-test"
Repro steps:

1.
2.

Action: vscode-docker.images.build
Error type: Error
Error Message: To build Docker files you must first open a folder or workspace in VS Code.

Version: 0.9.0
OS: win32
Product: Visual Studio Code
Product Version: 1.40.2
Language: zh-cn

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-12-10 17:15] maxsatula commented on #1459
Do you think it makes sense to implement this part here?

[2019-12-10 17:59] philliphoff commented on #1479
@yundd Is this issue repeatable?  If so, could you provide repro steps?

[2019-12-10 18:00] philliphoff commented on #1475
Closing as dupe of #1423.

[2019-12-10 18:00] #1475 closed

[2019-12-10 19:15] alexeadem opened #1480 "can't delete registry entry with name not resolving"
Repro steps:

1. add registry endpoint as http://localhostl.com ( <+ See  typo in the spelling) - Can't be resolved
2. Right click to disconnect in docker explorer and fails

Action: vscode-docker.registries.disconnectRegistry
Error type: Error
Error Message: Unknown or unsupported transport “disabled” for address “disabled:”

Version: 0.9.0
OS: linux
Product: Visual Studio Code
Product Version: 1

[2019-12-10 22:59] hevertonpablo opened #1481 "sempre esse mesmo erro"
Repro steps:

1.
2.

Action: vscode-docker.containers.start
Error type: 500
Error Message: (HTTP code 500) server error - driver failed programming external connectivity on endpoint laradock_apache2_1 (99a1312bd4a0ef829d675d2a5be322c9f5e56a7d0d48f984096e772c0ce01746): Error starting userland proxy: /forwards/expose/port returned unexpected status: 500

Version: 0.9.0
OS: win32
Product: Visual Stud

[2019-12-11 00:04] philliphoff commented on #1480
@alexdima The error may be related to installation of `keytar` (see #945).

That said, such an error shouldn't prevent the entry from being removed.

[2019-12-11 00:07] philliphoff commented on #1481
@hevertonpablo Is this error repeatable?  Can you start the image using the command line (and thereby testing whether Docker itself is in a good state)?  If so, can you provide any repro steps?

[2019-12-11 15:46] sembaye opened #1483 "[Suggestion] Support Azure File name"
As a Azure Developer i want to use the Features of the Plugin (Possible when choosing a filename which ends whith .Dockerfile). It would be nice if the Plugin supports another filename constellation which is used in Azure ecosystems. (See pic)

![image](https://user-images.githubusercontent.com/13312166/70636302-952fbe80-1c35-11ea-9413-678b60fdcee0.png)

[2019-12-11 17:57] #1480 closed

[2019-12-11 19:18] philliphoff commented on #1478
The problem is that the extension does not check whether a default already exists before prompting to save a tagged image prefix as the default.

[2019-12-11 20:37] alysonfs opened #1485 "On remove container"
Repro steps:

1.
2.

Action: vscode-docker.images.remove
Error type: 409
Error Message: (HTTP code 409) conflict - conflict: unable to delete e116d2efa2ab (cannot be forced) - image has dependent child images

Version: 0.9.0
OS: darwin
Product: Visual Studio Code
Product Version: 1.40.2
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-12-11 21:28] #1478 closed

[2019-12-12 02:54] alexeadem commented on #1411
installing keytar/gnome-keyring doesn't fix the problem. Entry can't be removed. It should be a right click option to remove the entry

[2019-12-12 07:50] messi-yang commented on #1453
@philliphoff Got it, very thanks for providing this information to me.

[2019-12-12 17:37] philliphoff commented on #1485
@alysonfs Is this issue repeatable?  If so, can you provide repro steps?  From the error, it appears it was an attempt to remove an image that served as a base image for other images, so removal failing would be expected.  That said, do you have an opinion on a better way to handle that situation (e.g. better messaging, an option to force removal, an option to remove all related images, disable re

[2019-12-12 18:08] philliphoff opened #1487 "Migrate to ESLint"
`tslint` [is being deprecated in 2019](https://github.com/palantir/tslint/issues/4534) in favor of `eslint` for both JavaScript and TypeScript. We should use the migration tools to migrate our use of `tslint`.

[2019-12-13 19:34] philliphoff commented on #1399
We will use optional chaining going forward and only refactor where/when it makes sense.

[2019-12-13 19:34] #1399 closed

[2019-12-13 19:39] philliphoff commented on #1300
Let's use 0.10.0 to better understand what failures are occurring, in order to better understand what, specific, checks are needed.

[2019-12-13 19:49] philliphoff commented on #1409
We should continue to treat unspecified as `false`, but we should instead scaffold `pull` to `true` in new tasks.

[2019-12-13 23:31] philliphoff commented on #1426
Resolved by #1431.

[2019-12-13 23:31] #1426 closed

[2019-12-14 07:54] yundd commented on #1479
不行啊

[2019-12-14 15:43] NeerajDana opened #1491 "Error in docker extention"
Repro steps:

1.
2.

Action: vscode-docker.containers.prune
Error type: EACCES
Error Message: connect EACCES /var/run/docker.sock

Version: 0.9.0
OS: linux
Product: Visual Studio Code
Product Version: 1.41.0
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-12-14 19:00] doggy8088 opened #1492 "WORKDIR paths should be absolute"
1. F1 > `Docker: Add Docker Files to Workspace`
2. `ASP․NET Core`

The generated `Dockerfile` has an error on `WORKDIR "/src/."`. See below:

![image](https://user-images.githubusercontent.com/88981/70853276-b4a14280-1ee6-11ea-8bd1-65b59eae0201.png)

I have to remove double quote manually to remove the warning.

![image](https://user-images.githubusercontent.com/88981/70853281-c71b7c00-1ee6-11ea-9

[2019-12-15 05:58] ShadowRanger commented on #1462
I can confirm that I am having this same issue, however am not sure how to reproduce it exactly.

[2019-12-15 07:48] eine commented on #1408
IMHO, this content might better fit in the README, instead of being an issue.

[2019-12-15 07:56] eine commented on #1313
@bwateratmsft, it seems that #1213 was closed without merging. Is there any chance of having it reopened? I believe that's exatcly what @OrangutanGaming and me are missing...

[2019-12-15 08:00] eine opened #1493 "Mark outdated images"
The tags of some of the images in the "Images" tree view are likely to get outdated when maintainers push new versions to the corresponding registries. Similarly to how modifications are marked in git repos, I think it would be useful to have a symbol added to outdated images.

Related to #1313, this feature would help users decide when they need to explicitly pull the image.

[2019-12-15 08:08] eine commented on #1409
Since the default behaviour in docker is `false`, I think it should be better kept like that.

[2019-12-15 08:36] eine commented on #331
Any updates on this issue? Is it possible to implement this feature already or does it depend on any yet unpublished VScode feature?

[2019-12-15 09:32] idcristi commented on #1462
The problem was when I wanted to build an image in VS Code Docker Images: Build Image and then try to run the image it appeared the error mentioned above.

![Capture](https://user-images.githubusercontent.com/17257053/70860710-c3f7ae80-1f2d-11ea-8391-e1ae6cdb9684.JPG)

In my case, the issue was solved, so I downloaded the last version of VS Code 1.41 November Edition and I don't have this problem

[2019-12-15 12:32] rcjsuen commented on #1492
@doggy8088 This is an issue with the linter where it isn't taking the quotation marks into account correctly. I have opened rcjsuen/dockerfile-utils#67 to track this.

Thank you for your bug report and have a great day!

[2019-12-15 14:26] doggy8088 commented on #1492
@rcjsuen Thanks!

[2019-12-16 00:30] Abdelkrim commented on #1281
@EricJizbaMSFT  delete the unnecessary webhooks

1. Click on https://portal.azure.com/#blade/HubsExtension/BrowseResourceBlade/resourceType/Microsoft.ContainerRegistry%2Fregistries
2. Select the registry
3. Click on `webhooks`
4. Select the `webhook` you want to delete
5. Hit `Delete`

[2019-12-16 01:37] Nguyenxuanvietanh opened #1495 "Docker error"
Repro steps:

1.
2.

Action: vscode-docker.containers.start
Error type: 500
Error Message: (HTTP code 500) server error - driver failed programming external connectivity on endpoint docker_web_1 (095529be1ddc7facb110b878df748e080e0a352b5a0106ef8d61266e48d5ea53): Error starting userland proxy: /forwards/expose/port returned unexpected status: 500

Version: 0.9.0
OS: win32
Product: Visual Studio Cod

[2019-12-16 13:21] umarcor opened #1496 "How to use vscode-docker as a dependency of other extensions"
I'm writing a TS extension that provides some features on top of vscode-docker and I would like to use some of the types and functions defined here.

Precisely, a command is added to `"category": "Docker Images"` and to the context menu (`"when": "view == dockerImages && viewItem == image", "group": "images_1_run@2"`). This is currently handled as follows:

[code]

I would like to define the type

[2019-12-16 16:12] Szauka opened #1497 ""Run Interactive" stopped using the shell command specified on the settings (docker.attachShellCommand.linuxContainer)"
Vs Code version:
[code]

[code]

Extension info (Insiders & Stable):
[code]

Current behavior:
`docker run --rm -it -p 8888:8888/tcp jupyter-lab/demo:v02`
Expected behavior:
`docker run --rm -it -p 8888:8888/tcp jupyter-lab/demo:v02 /bin/sh`

[2019-12-16 16:36] GammaGames commented on #1358
Would this fix the issue where I'm in the explorer and I swap to the docker panel and right click to attach to a container, but it gives me the error that the container doesn't exist anymore? It seems very slow to update since it was redesigned to have more panels

[2019-12-16 17:51] philliphoff commented on #1358
@GammaGames If the underlying issue was a refresh frequency issue, it might.  The current refresh rate default is 2s, and auto-refresh requires the explorer to be visible and VS Code be in focus.  That means the explorer will tend to lag behind continuous Docker activity.  You can change the `docker.explorerRefreshInterval` setting to make refresh happen more frequently (at the cost of more resour

[2019-12-16 18:01] philliphoff commented on #1491
@NeerajDana Is this error repeatable? If so, can you provide repro steps? From the error message, I'd guess it's permissions problem connecting to Docker; can you perform Docker operations from a command line?

[2019-12-16 18:06] philliphoff commented on #1495
@Nguyenxuanvietanh Is this error repeatable?  If so, can you provide repro steps?  Are you able to connect to and use Docker (e.g. start a container) on the command line?

[2019-12-16 18:10] GammaGames commented on #1358
@philliphoff changing it to 1s definitely made it refresh faster after I opened it. I agree that the event based system would be better (I was kinda surprised it wasn't already using one).
Would it be possible to force the explorer to pull when it is opened to ensure the current information isn't lagging behind when switching panels? That model could even be carried over into the push-based system

[2019-12-16 18:30] philliphoff commented on #1496
@umarcor I'd be interested to know what kind of features you are looking to add.

You can define an extension as a required dependency of your extension via the `extensionDependencies` of the `package.json` file.  However, while extensions *can* provide APIs to be consumed or extended by other extensions, `vscode-docker` does not really do so (yet).  VS Code's declarative command definitions also

[2019-12-16 18:54] philliphoff commented on #1497
@Szauka Do you know which version of `vscode-docker` you last saw the expected behavior?  Looking at the codebase, running an image (interactively) does not appear to have ever used the `docker.attachShellCommand` settings, which makes sense, as that would have effectively overridden the image's entry point and the intent, as far as I know, of the "run [interactive]" commands is to simply start th

[2019-12-16 19:06] philliphoff commented on #1358
@GammaGames The explorer does schedule a refresh when it is brought into view (or a sub-panel expanded from being collapsed) but, you're right, that scheduled refresh uses the interval setting and therefore isn't immediate.  I think the question would be, given that a refresh is inherently asynchronous, is refreshing "immediately" effectively faster than waiting for the next interval in that case.

[2019-12-16 20:30] umarcor commented on #1496
@philliphoff, thanks a lot for your very quick reply! Overall, I understand that this is not an expected use case and that sources are not designed to support it. Actually, my main motivation to open this issue was to discuss it.

Sure. I use Docker for Windows very frequently in order to try *new* projects written in Python, JS/TS, Go, Rust, Ruby... Most of the projects have installation instruct

[2019-12-16 20:55] fiveisprime opened #1498 "Windows first run experience for WSL2"
[This is a future item and depends on WSL 2 shipping in Mn.]

For customers who run the Docker extension for the first time, prompt them to the best possible path. This would be the option to run through WSL 2 setup and point them to the Docker Desktop for WSL 2.

[2019-12-16 21:08] #1445 closed

[2019-12-16 21:09] #1446 closed

[2019-12-16 21:09] #1401 closed

[2019-12-16 23:34] #1444 closed

[2019-12-17 09:13] Szauka commented on #1497
Hi @philliphoff thanks for having a look into this so quickly, you are right I've confused the "Attach Shell" option from the containers with the "Run Interactive" from the images.

I normally start the containers using Docker Compose but yesterday I spent all day starting them trough the "Run Interactive" option and I wanted to override the entry point for my specific use case and that has confus

[2019-12-17 09:13] #1497 closed

[2019-12-17 10:31] Nomiluks opened #1499 "Unable to remove docker networks with name <none>"
Action: vscode-docker.networks.remove
Error type: 403
Error Message: (HTTP code 403) unexpected - none is a pre-defined network and cannot be removed

Version: 0.9.0
OS: linux
Product: Visual Studio Code
Product Version: 1.41.0
Language: en

<details>
<summary>Call Stack</summary>

[code]

[2019-12-17 15:42] GammaGames commented on #1358
My naive first attempt would probably be to add a debounce. The panel itself wouldn't fetch every time it is focused, but if it's been >10s since the last pull it would stop listening for events, pull current status, and begin listening again. Then after that repeat the pause, pull, resume steps every minute or so.
This would mean the panel wouldn't take any resources while it is hidden and it wou

[2019-12-17 15:53] Moshyfawn commented on #1402
Sorry for the late reply, being very busy.
I've tried @MarttiR's solution but it didn't work for me. Even had to deal with the secure boot and resetting my grub config. The solution @H--o-l mentioned did it.
Those seem like a similar two similar solutions, tho. Maybe I've made some mistake.

**Working solution:**
`sudo grubby --update-kernel=ALL --args="systemd.unified_cgroup_hierarchy=0"`

P.S. @

[2019-12-17 17:51] philliphoff commented on #1409
Thanks for the feedback.  We've had discussions related to this behavior in Visual Studio, too, but users there seem to prefer the images kept up to date despite the Docker CLI's defaults, hence our wanting to copy that behavior in VS Code as well.  Scaffolding `pull` to `true` for new tasks is a bit of a compromise over simply changing the interpretation of omitting the value on a task; it also a

[2019-12-17 17:51] #1409 closed

[2019-12-18 06:54] gongwei-23314 opened #1501 "1111"
Repro steps:

1.
2.

Action: docker-launch
Error type: Error
Error Message: To debug with Docker you must first open a folder or workspace in VS Code.

Version: 0.9.0
OS: win32
Product: Visual Studio Code
Product Version: 1.41.0
Language: zh-cn

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-12-18 08:38] FokkeZB commented on #1462
Same issue here. No output at all, but the report says:

[code]

[2019-12-18 17:32] philliphoff commented on #1497
@Szauka A new option with 0.9.0 is to create a VS Code `docker-run` task (in `tasks.json`) that runs the container. The task allows one to [control many of the Docker run arguments](https://github.com/microsoft/vscode-docker/wiki/Extension-Properties-And-Tasks#run-task-reference), such as the command that overrides the entry point.  One can then run the task from the command palette.

[2019-12-18 17:36] philliphoff commented on #1499
@Nomiluks Thanks for the report! We have a task to prevent users from attempting to remove a built-in Docker network, as it will always fail. I'll close this issue as a duplicate of #1383.

[2019-12-18 17:36] #1499 closed

[2019-12-18 17:39] philliphoff commented on #1501
@gongwei-23314 Can you provide a bit more context related to this error?  Did you, in fact, have a folder or workspace open?  If so, was the `docker-launch` task was defined within the workspace file (as opposed to the `tasks.json`), in which case this might be a known VS Code issue?

[2019-12-18 17:43] philliphoff commented on #1462
@FokkeZB Can you provide more context?  Was a folder/workspace open in VS Code? Was the command invoked from the command palette or the right-click context menu?  Did the folder/workspace have a Dockerfile present?  Are any `docker-build` tasks present in `tasks.json` or the workspace file?

[2019-12-19 08:29] FokkeZB commented on #1462
Sure!

This happened when I followed @burkeholland's https://frontendmasters.com/courses/customize-vs-code/dockerizing-an-application/ which uses the workspace https://github.com/burkeholland/workshop-vs-code-can-do-that/blob/master/exercise-5-docker/open-me.code-workspace and project https://github.com/burkeholland/workshop-vs-code-can-do-that/tree/master/exercise-5-docker/solution.

I invoked th

[2019-12-19 14:21] mojtabast commented on #1462
I don't know this could help or not but I've got same experience as @FokkeZB (on same repository), I tried to use right-click and "Build Image..." then after selecting the workspace I saw this in terminal: ``` docker build --rm -f "ckerfile" -t solution:latest "." ``` which missed the ```Do``` on ```ckerfile```

[2019-12-19 14:25] mojtabast commented on #1462
@philliphoff here is `tasks` part on workspace file:

[code]

[2019-12-20 12:15] nickdex commented on #1466
Having same issue on Manjaro with KDE. I was able to login via CLI without any issues.

Version: 1.41.1
Commit: 26076a4de974ead31f97692a0d32f90d735645c0
Date: 2019-12-18T15:04:31.999Z
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Linux x64 5.3.15-1-MANJARO

[2019-12-21 08:31] #1487 closed

[2019-12-22 13:40] diablodale commented on #1458
I have same error messages in my VSCode Log(Window). They appear forever, the UI does not update, and there is no give-up and report error dialog.

[code]

Issue Type: <b>Bug</b>

SSH docker.host, e.g. `"docker.host": "ssh://username@mylanserver"
Click on docker icon on VSCode left navbar
Results in no UI updates for the docker extension. Forever errors in log.

May be related to https://github.co

[2019-12-23 09:02] tech-cn opened #1503 "debug asp.net core mvc 3.1 with vs code Error: Process exited with code 1"
Acquiring the latest .NET Core debugger...
Unable to acquire the .NET Core debugger.
Error: Process exited with code 1
Repro steps:

1.
2.

Action: docker-launch
Error type: 1
Error Message: Process exited with code 1

Version: 0.9.0
OS: win32
Product: Visual Studio Code
Product Version: 1.41.1
Language: zh-cn

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-12-23 09:03] tech-cn commented on #1503
debug asp.net core mvc 3.1 with vs code

[2019-12-23 13:26] ShadowRanger commented on #1462
@philliphoff I can confirm that deleting the tasks from my workspace file as @mojtabast did the issue seems to have resolved.

I'm thinking this issue may be due to the task in the workspace file passing `${workspaceFolder}` as the `dockerfile` and `context`, rather than the directory that the task is actually being executed in, such as a sub directory of the main project? Maybe `${fileDirname}` o

[2019-12-23 18:12] cristianholz opened #1504 "error"
Repro steps:

1.
2.

Action: vscode-docker.networks.create
Error type: 404
Error Message: (HTTP code 404) driver not found - could not find plugin host in v1 plugin registry: plugin not found

Version: 0.9.0
OS: win32
Product: Visual Studio Code
Product Version: 1.41.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-12-23 19:16] #1454 closed

[2019-12-23 19:16] #1452 closed

[2019-12-23 19:16] #1450 closed

[2019-12-24 00:48] luka-zitnik opened #1505 "Configuring command line options for "View Logs" command"
Currently, using "View Logs" command means the whole log will be printed to the terminal. It's too much time to wait. Enough to categorize it as a bug. I'd love to be able to tail the log to e.g. 5 lines.

I imagine something like this in viewContainerLogs.ts: ``terminal.sendText(`docker logs ${options} ${node.containerId}`);`` or just ``terminal.sendText(`docker logs -f --tail=5 ${node.containerI

[2019-12-24 07:09] ShadowRanger commented on #1462
@philliphoff I can confirm that replacing `${workspaceFolder}` with `${fileDirname}` in the task definitions resolved the issue for me. Hopefully this helps with releasing a fix for the issue.

[2019-12-24 10:18] v-ruizh opened #1506 "There is no output log for "Deploy" part after executing "Deploy Image to Azure App Service" action"
**OS:** All
**Build Version:** [20191221.2](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=13288&view=results)

**Steps to reproduce:**

1. Go to REGISTRIES explorer and connect to the registry which has image pushed to it.
2. Right click the image and execute "Deploy Image to Azure App Service" action.
3. Check the output log.

**Expect:**
There is output log for "Deploy" part.

[2019-12-24 10:26] v-ruizh opened #1507 "[Suggestion] Add an "Open" button to open the Azure website"
**OS**: All
**Build Version**: [20191221.2](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=13288&view=results)
**Regression**: Not a Regression

**Steps to reproduce:**

1. Go to REGISTRIES explorer and connect to the registry which has image pushed to it.
2. Right click the image and execute "Deploy Image to Azure App Service" action.
3. Check the notification.

**Actual:**
The

[2019-12-25 04:26] sarjonator opened #1508 "Login fail"
Repro steps:

1.
2.

Action: vscode-docker.registries.connectRegistry
Error type: Error
Error Message: The user name or passphrase you entered is not correct.

Version: 0.9.0
OS: darwin
Product: Visual Studio Code
Product Version: 1.41.1
Language: en

[2019-12-25 08:45] v-ruizh opened #1509 "The notification message will disappear after removing a container"
**OS:** All
**Build Version:** [20191221.2](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=13288&view=results)
**Regression:** Not a Regression

**Steps to reproduce:**

1. Navigate to the container explorer in VS Code.
2. Remove a container.
3. Check the notification message.

**Expect:**
There is a notification message after removing the container.

**Actual:**
The notificatio

[2019-12-25 09:08] v-ruizh opened #1510 "There is no inputting validation for the "port input box""
**OS:** All
**Build Version:** [20191221.2](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=13288&view=results)
**Regression:** Not a Regression

**Steps to reproduce:**

1. Open a folder/workspace in VS Code.
2. F1->Docker: Add Docker Files to Workspace...->Node.js->Yes/No.
3. Input the port with "3;;'['']?\><" in the "port input box".

**Expect:**
There is an error like below.

[2019-12-25 09:29] v-ruizh opened #1511 "Hard to read the output logs after executing "Run as task in Azure" action for "taskmulti.yaml""
**OS:** All
**Build Version:** [20191221.2](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=13288&view=results)
**Regression:** Not a Regression

**Steps to reproduce:**

1. Download the [acr-build-helloworld-node](https://github.com/Azure-Samples/acr-build-helloworld-node) project.
2. Open this project in VS Code.
3. Right click the "taskmulti.yaml" file and execute "Run as task

[2019-12-25 10:03] v-ruizh opened #1512 "Can't navigate to the "docker new issue" page after clicking "Report an issue" button"
**OS:** All
**Build Version:** [20191221.2](https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=13288&view=results)
**Regression:** Not a Regression

**Steps to reproduce:**

1. Don't sign in the GitHub account.
2. Open Docker Explorer in VS Code, create a volume using this command:
    docker run -d --name devtest --mount source=nginxVol,target=/app nginx:latest
3. There is a nginxV

[2019-12-25 16:06] hoto commented on #1402
I had the same problem with docker on fresh installation of Fedora 31 and Fedora 31 Server.
@H--o-l solution is working like a charm in both cases.

[2019-12-26 00:16] #1168 closed

[2019-12-26 09:10] alparslanozturk opened #1513 "docker registry delete a images"
Repro steps:

1.
2.

Action: vscode-docker.registries.deleteImage
Error type: UNSUPPORTED
Error Message: The operation is unsupported.

Version: 0.9.0
OS: win32
Product: Visual Studio Code
Product Version: 1.41.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-12-26 20:14] ravipal commented on #1513
@alparslanozturk, Do you hit this error as soon as you select the command? or after providing all the details and while invoking the delete operation?
Also, do you hit the same error from docker view -> Images -> image -> right click -> Remove?

[2019-12-26 20:23] ravipal commented on #1508
@sarjonator, the error message says "The user name or passphrase you entered is not correct.". Are you giving the right credentials and still the login fails?

[2019-12-26 20:27] ravipal commented on #1504
Dupe of #1444

[2019-12-26 20:27] #1504 closed

[2019-12-26 21:37] Surendrajat commented on #752
I have opened a PR #1449 for basic PHP support with Apache. The server will listen at `localhost:3000` by default. To test this create a `hello.php` file with the simplest code
[code]
and do a `docker-compose up`. You should be able to see output at `http://localhost:3000`.

[2019-12-27 03:41] rajabhathor opened #1514 "Docker not running - client is older 1.22 - how do I install 1.24?"
Repro steps:

1.
2.

Action: vscode-docker.containers.start
Error type: 500
Error Message: (HTTP code 500) server error - hcsshim::CreateComputeSystem d12c7d89873e30716d05ba3c06298a98cb4e21fb4373ac59c867ed08beba3333: The virtual machine could not be started because a required feature is not installed.
(extra info: {"SystemType":"Container","Name":"d12c7d89873e30716d05ba3c06298a98cb4e21fb4373ac59c8

[2019-12-27 06:57] alparslanozturk commented on #1513
![image](https://user-images.githubusercontent.com/9527118/71505685-2d14e580-288f-11ea-941e-f38566dd7c26.png)

this message and I click  "delete "

![image](https://user-images.githubusercontent.com/9527118/71505704-428a0f80-288f-11ea-8f7a-e03c4229e530.png)

[2019-12-27 18:16] #1470 closed

[2019-12-27 19:41] ravipal commented on #1514
Looks like virtualization is not enabled on BIOS. Please check https://stackoverflow.com/questions/57431890/error-response-from-daemon-hcsshimcreatecomputesystem-the-virtual-machine-co

[2019-12-27 19:41] #1514 closed

[2019-12-28 15:53] #797 closed

[2019-12-28 21:04] Klikini opened #1515 "The name org.freedesktop.secrets was not provided by any .service files"
Repro steps:

1. Select "Connect registries..."
2. Enter username and password

Action: vscode-docker.registries.connectRegistry
Error type: Error
Error Message: The name org.freedesktop.secrets was not provided by any .service files

Version: 0.9.0
OS: linux (OpenSUSE Tumbleweed)
Product: Visual Studio Code
Product Version: 1.41.1
Language: en

[2019-12-29 05:51] albertfns opened #1516 "Error al crear red"
Repro steps:

1.
2.

Action: vscode-docker.networks.create
Error type: 404
Error Message: (HTTP code 404) driver not found - could not find plugin bridge in v1 plugin registry: plugin not found

Version: 0.9.0
OS: win32
Product: Visual Studio Code
Product Version: 1.41.1
Language: es

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-12-29 20:25] lavrud opened #1517 "remove alpine"
Repro steps:

1.
2.

Action: vscode-docker.images.remove
Error type: 409
Error Message: (HTTP code 409) conflict - conflict: unable to delete e1495e4ac50d (cannot be forced) - image has dependent child images

Version: 0.9.0
OS: win32
Product: Visual Studio Code
Product Version: 1.41.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-12-30 06:04] allanwright commented on #1510
I've created #1518 to fix this issue.

[2019-12-30 18:16] #1471 closed

[2019-12-30 18:16] #1473 closed

[2019-12-31 18:39] ravipal commented on #1516
Dupe of #1444

[2019-12-31 18:39] #1516 closed

[2019-12-31 18:41] ravipal commented on #1517
Dupe of #1398

[2019-12-31 18:41] #1517 closed

[2020-01-01 00:16] #1481 closed

[2020-01-02 19:16] mmarquezv commented on #1402
I had the same problem `sudo grubby --update-kernel=ALL --args="systemd.unified_cgroup_hierarchy=0"`  worked fine. Thanks!

[2020-01-02 22:58] mu-offline opened #1521 "vscode-docker"
Repro steps:

1.
2.

Action: vscode-docker.networks.prune
Error type: Error
Error Message: Failed to connect. Is Docker installed and running? Error: connect ENOENT //./pipe/docker_engine

Version: 0.9.0
OS: win32
Product: Visual Studio Code
Product Version: 1.41.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-01-02 23:48] jacksonalexandre opened #1522 "I can't remove image (Docker)"
Repro steps:

1.
2.

Action: vscode-docker.images.remove
Error type: 409
Error Message: (HTTP code 409) conflict - conflict: unable to delete f94ae7685e49 (cannot be forced) - image has dependent child images

Version: 0.9.0
OS: win32
Product: Visual Studio Code
Product Version: 1.41.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-01-03 03:22] zifik commented on #1458
I am experiencing the exact same thing as @diablodale.

I was able to eliminate the "openssh-ssh-agent" error messages by starting the "ssh-agent" service in Windows 10: I found this helpful: https://stackoverflow.com/questions/52113738/starting-ssh-agent-on-windows-10-fails-unable-to-start-ssh-agent-service-erro

I am perplexed by this as I am able to run `docker -H ssh://user@ip ps` from Powersh

[2020-01-03 03:48] zifik commented on #1458
Additionally, I see theses messages if I open the vscode developer tools from Help:
`mainThreadExtensionService.ts:66 Error: All configured authentication methods failed`

[2020-01-03 03:58] diablodale opened #1523 "Container names to attach are incorrect; names combined from adjacent containers"
This docker extension _and_ the Remote-Container extension both show and try to use incorrect container names. Naturally, everything fails. They fails to attach, display wrong attribute values, etc.

I have a screenshot of the actual running containers with incorrect names that I can share directly with Microsoft. Any verified Microsoft employee can give me the process to securely and privately se

[2020-01-03 04:13] diablodale opened #1524 "attach shell (right-click) fails; it doesn't use docker host (aka docker.host setting)"
Right-click container **Attach Shell** fails to attach shell because it doesn't use the `docker.host` setting on the command.

## Setup

### Local Client

* Windows 10 x64
* VSCode
  Version: 1.41.1 (system setup)
  Commit: 26076a4de974ead31f97692a0d32f90d735645c0
  Date: 2019-12-18T14:58:56.166Z
  Electron: 6.1.5
  Chrome: 76.0.3809.146
  Node.js: 12.4.0
  V8: 7.6.303.31-electron.0
  OS: Windows_

[2020-01-03 17:00] The224 opened #1525 "Add Github Registry to the supported list"
Github as is own package registry, [docker.pkg.github.com](docker.pkg.github.com), that can be used as a docker registry.

Connecting as a *Generic Docker Registry* result to `404 page not found` error. Maybe the API is different.

[More info about Github packages](https://help.github.com/en/github/managing-packages-with-github-packages/configuring-docker-for-use-with-github-packages)

It could be

[2020-01-03 18:23] zifik commented on #1458
Ok, so I figured it out for my purposes -- finally.

My situation was practically identical to what @diablodale describes.

**SOLUTION**

Even though you have your keys setup and you can do example commands like `docker -H ssh://user@ip ps`, you can still run into auth issues because this extension is specifically making using of the "ssh-agent" under the hood.

_**IMPORTANT**: Don't get these ste

[2020-01-05 14:15] rotemironsrc opened #1526 "not removing docker from list"
Repro steps:

1.
2.

Action: vscode-docker.containers.prune
Error type: 409
Error Message: (HTTP code 409) unexpected - a prune operation is already running

Version: 0.9.0
OS: darwin
Product: Visual Studio Code
Product Version: 1.41.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-01-06 11:37] #1485 closed

[2020-01-06 21:45] philliphoff commented on #1503
@tech-cn Is this issue reproducible?  If so, can you provide repro steps and/or additional context related to your project?

[2020-01-06 21:56] philliphoff commented on #1505
@luka-zitnik We're always appreciative of PRs! That said, I think we'd want to have some design discussion around how best to allow the user to configure their container log preferences.  Adding a configuration setting that's simply appended to the `docker logs` command line *can* be the most flexible approach, but it can also complicate changes to how logging is performed down the road (e.g. the

[2020-01-06 21:58] philliphoff commented on #1506
@v-ruizh Is there specific output you were expecting to see?  Is this a regression from earlier versions, or more of a general request to see more output than currently shown?

[2020-01-06 22:00] philliphoff commented on #1507
@v-ruizh Seems like a reasonable thing to do. Thanks for the suggestion!

[2020-01-06 22:11] philliphoff commented on #1509
@v-ruizh Since this is listed as not being a regression, is this then just a suggestion? What kind of notification (for successful removal) would you like to see?  For example, since we can't turn the removing-in-progress notification into a standard notification (only just remove it), would you want to see a second "removed" notification in the tray?  Would it be better (or worse) to see removal

[2020-01-06 22:42] philliphoff commented on #1511
The output window (channel) isn't a proper terminal, so terminal command escape codes (e.g. colorizing) from Docker build output are not natively supported.  We could decide to strip those out (as we do for the Containers Tools Window logs tab in VS).

[2020-01-06 23:31] philliphoff commented on #1512
This is a [known issue with GitHub auth](https://github.com/microsoft/vscode-azuretools/issues/481).  From my testing, it appears due to some implicit limitation on the length of the parameter passed in the URL to pre-populate the issue body (as it's transformed during the various redirections made due to the 2FA auth flow).

[2020-01-07 00:12] philliphoff commented on #1513
@alparslanozturk What kind of image registry are you trying to delete images from (e.g. Docker Hub, Azure Container Registry, other Docker-compatible registry, etc.)?  Do you have permissions to delete images (or that particular image) from that registry?

[2020-01-07 00:16] philliphoff commented on #1515
@Klikini Is this error repeatable (on this machine, or others)?  This error can suggest that Linux credentials management components, such as `gnome-keyring` are not completely installed/configured/running.

[2020-01-07 00:19] philliphoff commented on #1521
@mu-offline Is this issue repeatable?  If so, can you provide repro steps?  Can you verify that Docker is up and running on the machine (e.g. `docker version` returns results for the Docker server host)?

[2020-01-07 00:20] philliphoff commented on #1522
@jacksonalexandre Is this error repeatable? If so, can you provide repro steps? From the error, it looks like the image is being used (possibly indirectly) by a running container which would, expectedly, not be allowed.

[2020-01-07 00:32] philliphoff commented on #1523
@diablodale Does this seem to occur only when using a remote Docker host and/or when images used by those containers have full namespaces/repositories/tags?  How were the containers (with errant names in the explorer) started (e.g. via the command line or via VS Code, given explicit names or implicitly named by Docker, etc.)?

If you're comfortable with sending screenshots via email, feel free to

[2020-01-07 00:57] Klikini commented on #1515
It is reproducible on this machine every time. I'm running KDE, so maybe it
should be kwallet instead of gnome-keyring?

On Mon, Jan 6, 2020, 18:16 Phillip Hoff <notifications@github.com> wrote:

[2020-01-07 04:57] philliphoff commented on #1515
The underlying problem seems to be that `kwallet` does not support the common API required by the Linux `libsecret` library, which is used by the `node-keytar` library on Linux as the generalized credential store.  So, on KDE, `gnome-keyring` is still required.  (This seems to have been the case for some time; see [this VS Code issue](https://github.com/MicrosoftDocs/live-share/issues/205) for lin

[2020-01-07 04:59] Klikini commented on #1515
Okay, I understand. I installed `gnome-keyring` and it works. So this is a duplicate of #205.

[2020-01-07 06:20] philliphoff commented on #1525
@The224 It appears that the Github Package Docker Registry does not support the `_catalog` API used to list the repositories within the registry. I can't find any information about the extent to which Github supports the (V2) API for Docker registries.  It does appear to support, for example, listing tags for a given image.

@phanatic Would you be able to point me to information about Github's sup

[2020-01-07 06:23] philliphoff commented on #1526
A known issue (#1323) where it's not obvious that a (sometimes long-running) prune operation is already underway.

[2020-01-07 06:23] #1526 closed

[2020-01-07 06:25] #1515 closed

[2020-01-07 08:06] v-ruizh commented on #1509
@philliphoff It would be better to see a second "removed" notification in the tray. It's more intuitive. Of course, it's ok to see removal logs in the (Docker) output window instead if it is more easily implement.

[2020-01-07 08:21] v-ruizh commented on #1506
This is not a regression issue. Because this action named "**Deploy** Image to Azure App Service", but the output log and notification only say "Successfully created web app...". It would be better to add the output for "Deploy" part, such as "Successfully deploy image...".

[2020-01-07 13:01] luka-zitnik commented on #1505
Thx @philliphoff I do see that as a more correct approach.

[2020-01-07 15:09] Phanatic commented on #1525
@philliphoff we don't support the `_catalog` endpoint in the GitHub Docker Registry today.
I can open an issue to track this, which other API endpoints are necessary for this extension to work?
I can check and create issues for any missing support from the [Docker HTTP API spec](https://docs.docker.com/registry/spec/api/)

[2020-01-07 17:01] diablodale commented on #1523
I believe I've isolated the cause of the errant behavior and the specific fix that is needed.

#### Isolation

Docker extension's containers pane, is configured with `Label=FullTag`, `Description=ContainerName,Status`. Screenshots reflect that. I can identify a few more things now:

* The FullTag is correct in the container list.
* The ContainerName is mangled.
* Therefore functionality that relie

[2020-01-07 17:59] ravipal opened #1528 "Differentiate unexpected error/bug Vs expected error/user error"
In general, any error thrown during command execution is reported as error and 'Report an issue' button is offered to user. But some of the errors are expected like user tries to delete an image that is in use or try to start/stop container but no container matches the required state exists and so on.
We need to a better way to categorize the error and offer 'Report an issue' button only on unknow

[2020-01-07 22:11] philliphoff commented on #1525
@Phanatic Our extension creates a tree view for Docker registries, listing each repository in a registry and then each tag within a repository, which means supporting *at least* the `_catalog` and `<repo>/tag/list` endpoints.  It then allows the user to pull/delete an entire repository, or to pull/untag/delete/get-digest-for individual images.  Some of those commands go through the Docker command

[2020-01-07 22:16] philliphoff commented on #1506
@v-ruizh Ok, I see, it's more about consistency in the terminology between the command, output text, and notification text.  I'll let @BigMorty weigh in on what changes might be appropriate.

[2020-01-07 22:18] philliphoff commented on #1509
@v-ruizh Thanks for the feedback.  I'll let @BigMorty decide what notification(s) might be most appropriate.

[2020-01-07 23:13] MRayermannMSFT opened #1529 "Feature to find dependent child images"
While I understand the error, it'd be great if there was a feature that helped me determine what child images were causing this error:

![image](https://user-images.githubusercontent.com/21112697/71937117-3ee46b80-3160-11ea-898c-f823cd6a080f.png)

[2020-01-08 07:47] #1495 closed

[2020-01-08 07:47] #1491 closed

[2020-01-08 16:35] ukaratas opened #1530 "Error: Process exited with code 1"
Repro steps:

1 - Trying to build with  my application in vs code with below configuration, built get fail.

*

Sending build context to Docker daemon  266.8kB
Failed to build Docker image: Error: Process exited with code 1
Error: Process exited with code 1
*

[code]
2.

Action: debugCoreClr
Error type: 1
Error Message: Process exited with code 1

Version: 0.9.0
OS: win32
Product: Visual Studio Co

[2020-01-08 17:47] #1501 closed

[2020-01-08 18:28] philliphoff commented on #1408
@eine Point taken but, if I remember correctly, we explicitly decided *not* to add it to the `README.md`, as that file is used verbatim in the VS extension marketplace and we didn't want to potentially confuse users by having instructions for installing the nightly alongside the official extension installation process.  I'd expect most users wishing to install a nightly are doing so to test an upd

[2020-01-08 18:35] #1430 closed

[2020-01-08 18:35] #1398 closed

[2020-01-08 18:37] philliphoff commented on #1529
That's a good idea.  I could see scanning for and adding a list to the error message itself, though that could get unwieldy.  Perhaps an option to group images by base image?

[2020-01-08 18:41] philliphoff commented on #1530
@ukaratas Is this issue repeatable? Are you able to build the image for that project from the command line (e.g. `docker build -f <path to Dockerfile> <path to build context>`?  What version of Docker are you using on Windows?

[2020-01-08 19:59] philliphoff opened #1532 "Support debugging of multi-targeted .NET Core projects"
Currently the debugging process uses the `<TargetFramework>` property in the project file to infer which base image to use when scaffolding a Docker file.  However, projects that target multiple frameworks use the `<TargetFrameworks>` property instead.  We should support both properties:

 - If `<TargetFramework>` exists, use that value.
 - Otherwise, if `<TargetFrameworks>` exists and specifies a

[2020-01-08 20:39] eine commented on #1408
@philliphoff, that's a fair point, but I believe that the current solution is falling short to achieve it. Users that are wishing to install some *nightly* to test an update related to an issue, are unlikely to want the version that is linked in the shield/badge above. Conversely, they should go to the PR they want, check the tests/checks/jobs of that specific PR and get the artifacts from there.

[2020-01-08 21:27] karolz-ms commented on #1532
👍

[2020-01-08 22:17] philliphoff commented on #1523
@diablodale This is fantastic analysis and feedback, thanks so much!  While I've only been able to reproduce your issue once through some combination of container ups/downs that no longer replicates, I *can* readily generate multi-named containers that would theoretically cause that problem if the order of the names differed.  So I'm fairly confident we can fix that.

Looking through the source, t

[2020-01-08 23:21] afausttanasescu opened #1533 "docker ssh : docker_host does not support ipv6 ssh addresses"
Docker host environment variable should support ipv6 as well.

    VSCode Version: insiders build 1.42.0-insider
    Local OS Version: win10
    Remote OS Version: win10
    Remote Extension/Connection Type: ssh+docker

Steps to Reproduce:

    Configure environment variable to ssh://ec2-user@fda1:aadd:ef9b:7777::5.5.5.5:22
    In the docker extension, under networks : Docker env variable should b

[2020-01-09 01:54] ucheNkadiCode opened #1535 ""Deploy Image to Azure App Service" only creates New Web App"
From within Docker Extension in Visual Studio Code:

Steps to reproduce:

1. Build an image and tag it with correct path for Azure Container Registry (someusername.azurecr.io/someexpressapp:latest)
2. Push the latest image to the Azure Container Registry
3. From "Registries" pane in Docker Extension, Find the specific image that was pushed and select "Deploy Image to Azure App Service" - (This is

[2020-01-09 02:05] ucheNkadiCode opened #1536 "Node.js Docker Build dialog does not prompt for tagging"
In following the [Deploy to App Service with VS Code:](https://docs.microsoft.com/en-us/azure/javascript/tutorial-vscode-azure-app-service-node-02)
Steps to reproduce:

1. npx express-generator myExpressApp --view pug -–git
2. ctrl+shift+p:  add docker files - No docker compose - port 3000
3. ctrl+shift+p: docker build

This command will then run immediately and give no prompting of how to tag the

[2020-01-09 02:15] ucheNkadiCode opened #1537 "Link to Azure App Service website is minimized and unclickable"
The notification produced from successfully deploying an Azure Container Registry image to Azure App Service is not clickable. Links in the VSCode terminal are clickable so this behavior is not desirable.

I have two suggestions to improve the experience of going from deploying a new web app to seeing it in action:
1. Expanding the notification the make the link fully viewable
2. Creating the abil

[2020-01-09 02:27] ucheNkadiCode opened #1538 "Python Docker File assumes requirements.txt exists"
The default Dockerfile for Python expects a requirements.txt file that does not get created. This causes a bump in the Add Dockerfiles -> Build Image -> Push Image to registry workflow.

When selecting Python as the languge, there is an opportunity for the "Add Dockerfiles" command to **run "pip freeze > requirements.txt" automatically** for the user to refresh their dependencies or create the fil

[2020-01-09 07:29] ukaratas commented on #1530
Thanks Phillip,
When I try to build on terminal with ```docker build -t ugurkaratas/bbt-card-api:latest .``` i get ```Successfully built 3f290fde9d32
Successfully tagged ugurkaratas/bbt-card-api:latest``` so i get my image successfully and try to run it with ```docker run -d -p 8080:80 --name myapp ugurkaratas/bbt-card-api```,  it runs successfully.

Version information is;
[code]

[2020-01-09 07:29] #1530 closed

[2020-01-09 10:27] ucheNkadiCode opened #1539 "Pushing Image to Registry of Choice"
When pushing an image, there is no option or prompt to push the image to a specific registry. Either the image is pushed to default or, in the case of Azure Container Registry, the user is required to tag their image rigidly (someusername.azurecr.io/someexpressapp:latest) to override the default registry selection. I believe it should be made easier for a user push an image tagged in any manner to

[2020-01-09 10:30] ucheNkadiCode opened #1540 "Prompting user to set Default Registry"
After **initially** installing the Docker extension, building an image, and selecting the push command, docker push gives no prompt to set a default registry or to push to a specific registry (#1539). Instead, the user is forced to properly tag the image  (someusername.azurecr.io/someexpressapp:latest) or else  the container is pushed to docker.io by default. As a user aiming to push the image to

[2020-01-09 15:46] fvanmaele opened #1541 "Hang on uname -m if remoteUser in devcontainer.json does not match Dockerfile"
If `remoteUser` in `devcontainer.json` does not match a created user in the `Dockerfile`, then after building the container the extension hangs on `uname -m`, rather than give a descriptive error message.

OS: Windows 10 v1809
vscode: 1.41.1

Dockerfile:
[code]
devcontainer.json
[code]
Reproduce by changing `remoteUser` in the above file to something else, e.g. `vscode`.

[2020-01-09 15:51] fvanmaele commented on #1541
Sorry, filed against the wrong project.

[2020-01-09 15:51] #1541 closed

[2020-01-09 17:41] philliphoff commented on #1535
To be clear, the "Deploy Image to Azure App" command, in addition to creating a new app service, also sets up an ACR web hook so that pushes to the same repository/tag will cause a redeployment to that app service.  (@ucheNkadiCode It would be great if you could verify that. We likely need to ensure that the referenced guide is updated with that fact.)

That said, it seems like it could be useful

[2020-01-09 17:51] philliphoff commented on #1530
@ukaratas I just noticed that you have a `preLaunchTask` attached called `container-build`?  Is that task intended to build the container prior to debugging?  The debug configuration itself builds the image (customized via the `dockerBuild` object in the configuration object), so that shouldn't be necessary and, perhaps, the image being built twice may be causing the error.

That said, the `debug-

[2020-01-09 18:04] philliphoff commented on #1536
This is intentional.  If the folder has a Docker build task in `tasks.json` associated with the Dockerfile, that build task will simply be executed (to produce the image).  If the task specifies a tag, that tag will be used.  If no task exists, then the extension will generate a generic Docker build command (which currently includes prompting the user for a tag).

There is [documentation](https://

[2020-01-09 18:57] afausttanasescu commented on #1533
I should add that docker -H doesn't seem to accept the ipv6 address either. In the extension code, I only see a regex for something that starts with ssh://, so it should work.

[2020-01-10 01:14] dbreshears opened #1542 "Provide ability to add dependent containers (i.e database)"
We should have an easy way to add dependent containers through command palette or otherwise. For example, adding a DB container.

[2020-01-10 01:24] dbreshears opened #1543 "[.NET Core] Add Docker Compose support"
"Add Dockerfiles to Workspace...." command palette should include a prompt to optionally add "Compose" files.

[2020-01-10 01:25] dbreshears opened #1544 "[Node.js] Integrated running & debugging when using Compose"

[2020-01-10 01:26] dbreshears opened #1545 "[Node.js] Automatically open browser to appropriate port"

[2020-01-10 01:28] dbreshears opened #1546 "[Python] Improved support for common frameworks"
Improve scaffolding for Django / Flask for Python

[2020-01-10 01:29] dbreshears opened #1547 "[Python] Integrated running & debugging support"

[2020-01-10 01:30] dbreshears opened #1548 "[Python] Make docker compose optional when adding Docker files to the workspace"
Similar to Node.js and .Net Core, we should prompt to optionally include "docker compose" files when adding Docker files to the workspace, which would provide a single container experience along with the existing docker compose support when scaffolding Docker support in Python

[2020-01-10 01:37] lqixy opened #1549 "myfirsttest"
Repro steps:

1.
2.

Action: vscode-docker.configure
Error type: Error
Error Message: To generate Docker files you must first open a folder or workspace in VS Code.

Version: 0.9.0
OS: win32
Product: Visual Studio Code
Product Version: 1.41.1
Language: zh-cn

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-01-10 07:37] phibonacci85 opened #1550 "Docker Hub Login error"
Repro steps:

1. Login to Docker Hub Registry

Action: vscode-docker.registries.connectRegistry
Error type: Error
Error Message: The name org.freedesktop.secrets was not provided by any .service files

Version: 0.9.0
OS: linux
Product: Visual Studio Code
Product Version: 1.41.1
Language: en

[2020-01-10 11:03] MustafaJamal opened #1551 "Unable to pull repo at from Docker hub"
Action: vscode-docker.registries.pullRepository
Error type: 1
Error Message: Command failed: docker login  --username edevtech --password-stdin
Error response from daemon: Get https://registry-1.docker.io/v2/: unknown method

Version: 0.9.0
OS: win32
Product: Visual Studio Code
Product Version: 1.41.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-01-10 15:44] brombomb opened #1552 "Remote SSH Containers not found"
I am using VSCode to connect to a Linux VM, that is managed by my IT department.  This means that my user is an account managed by AD.  However, all my other docker panes work, and my docker commands can be run sudoless.

![image](https://user-images.githubusercontent.com/1136944/72165525-e510bb00-3384-11ea-93ea-38b3c13a98f8.png)
Highlighted in yellow is the empty containers pane, my `/etc/group`

[2020-01-10 18:15] philliphoff commented on #1549
@lqixy Did you have an individual folder open when attempting to add the Docker files, or did you have a workspace open?  Could you add repro steps?

[2020-01-10 18:18] philliphoff commented on #1550
Are you using KDE and its `kwallet` for credentials management?  If so, you'll still need to install `gnome-keyring` as `kwallet` does not support the common API for Linux's `libsecret` library, used as the foundation for credentials management in VS Code (and our extension) on that platform.

[2020-01-10 18:25] philliphoff commented on #1551
@MustafaJamal Is this a private registry hosted on DockerHub? Are you able to login to and pull the repository on the command line?  From the error, it looks like the registry and/or credentials may not have been set correctly. Can you provide (general) repro steps?

[2020-01-10 18:50] philliphoff commented on #1355
May now be a duplicate of #1545.

[2020-01-10 18:53] dbreshears commented on #1543
This should include integrated debugging

[2020-01-10 19:19] ucheNkadiCode commented on #1536
Those are great suggestions, I believe all 3 should be done. Although properly tagging an image may be a push time decision, tagging an image is a very common use case across most Docker users at some point. For this reason, I believe it's important to have clear discoverability inside VS Code and consistency (in all docs and language selections) across the tagging experience whether it's creating

[2020-01-10 19:30] ucheNkadiCode commented on #1535
Or regardless of if a Web Hook may or may not be set, a developer would now get a "Manual Refresh" a feedback loop wherein the user does a Build -> Push to registry of choice -> Deploy to existing Azure App. From your description, I recognize what "Deploy Image to Azure App" does, but unless we make plans to also allow users to hit the equivalent of "Manual Refresh" for their Azure App, wording co

[2020-01-10 20:27] philliphoff commented on #1552
@brombomb Can you provide a little more information on how you've configured the Remote SSH connection in VS Code?  For example, are you running the `vscode-docker` extension in "workspace" or "UI" mode?  Are you running Docker locally and, if so, at that time were there running containers?  (I'm trying to discern whether the extension was reflecting the remote machine incorrectly or, perhaps, the

[2020-01-10 20:57] lucasnpinheiro opened #1553 "error remove image docker vscode"
Repro steps:

1.
2.

Action: vscode-docker.images.remove
Error type: 404
Error Message: (HTTP code 404) no such image - No such image: sha256:2b07004d22be1f5a724f7cc347e5706cb1f9888e16961ac5d18c83f3ef485523

Version: 0.9.0
OS: darwin
Product: Visual Studio Code
Product Version: 1.41.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-01-10 21:04] dbreshears commented on #1545
Closing as a duplicate of #1355

[2020-01-10 21:04] #1545 closed

[2020-01-11 00:35] karolz-ms commented on #1539
@ucheNkadiCode note that tagging the image before pushing it to a repository is how Docker works. In other words, *tagging is an essential part of sharing an image via a repository*. E.g. see https://docs.docker.com/engine/reference/commandline/tag/ (last paragraph of the topic).

Since a tag is always required, we need to think what *Push to...* operation would exactly entail. I.e. would it alway

[2020-01-11 00:43] karolz-ms commented on #1540
@ucheNkadiCode like I mentioned in https://github.com/microsoft/vscode-docker/issues/1539, a tag is always required to push to any repository other than those hosted on docker.io. The concept of 'default registry' is something that does not currently exist in Docker in the sense that you are describing here.

My understanding is you are looking for a way  to make working with registries easier. Le

[2020-01-13 01:15] nf-chace opened #1555 "remove failed"
Repro steps:

1.
2.

Action: vscode-docker.images.remove
Error type: 409
Error Message: (HTTP code 409) conflict - conflict: unable to delete 549b9b86cb8d (cannot be forced) - image has dependent child images

Version: 0.9.0
OS: linux
Product: Visual Studio Code
Product Version: 1.41.1
Language: zh-cn

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-01-13 07:34] MustafaJamal commented on #1551
Hi @philliphoff thanks for your response. Yes it's private registry hosted on DockerHub. No I cannot login using command line. see below:

[code]

Please let me know if further information is required. Thanks

[2020-01-13 08:04] alparslanozturk commented on #1513
private registry, I just create from  docker-registry image.

[image: image.png]

Phillip Hoff <notifications@github.com>, 7 Oca 2020 Sal, 03:12 tarihinde
şunu yazdı:

[2020-01-13 15:34] brombomb commented on #1552
@philliphoff I pulled the same code base in my local instance and opened up my remote instance next to it and what do you know it's showing local docker containers.

I tried to install Docker remotely but it's not available to, either in the UI or using the command palette.

![image](https://user-images.githubusercontent.com/1136944/72263940-dece4900-35e7-11ea-86d5-4e93394e8f3b.png)

I've enabled

[2020-01-13 18:51] ucheNkadiCode opened #1556 "Docker Build Incorrect Date"
Each time I build my Docker image, it successfully build but does not update the date it was last created. Right now it is saying that I built the image 4 days ago. I tried changing the tag from latest to trial, the image successfully built, I can now see both latest and trial, and both are saying I built the image 4 days ago.

This may have something to do with the fact that I have had this parti

[2020-01-13 19:22] philliphoff commented on #1551
@MustafaJamal Given that you get the same error on the command line as in VS Code, it's unlikely to be an issue specific to the VS Code Docker extension, and a more fundamental issue authenticating against that private registry.  (I'll tentatively mark this issue as "external" for now.)

Are you behind a proxy, by chance (which is where some of these types of errors appear to lead)?  No other sugg

[2020-01-13 19:29] philliphoff commented on #1555
This is a case where the image cannot be removed as there are other images (perhaps used by running containers) that depend on this one.  That said, it's a problem that occurs regularly enough that we have an issue for dealing with that scenario more gracefully, #1529.

[2020-01-13 19:29] #1555 closed

[2020-01-13 19:32] philliphoff commented on #1553
@lucasnpinheiro Is this error repeatable?  If so, can you provide repro steps?  Perhaps an earlier action was taken to remove the image and was still in progress when another action was taken, which then couldn't find the image (as the previous action had just removed it).

[2020-01-13 20:04] philliphoff commented on #1556
@ucheNkadiCode Because of the way that Docker caches intermediate layers when building images, if the application itself hasn't changed between builds, "building" an image becomes a no-op as Docker simply reuses the existing layers, so it's not uncommon to see an earlier timestamp on an image that was just "built".  In your case, the Docker build was effectively just a "tag" command on an existing

[2020-01-13 20:05] #1556 closed

[2020-01-13 20:11] philliphoff commented on #1552
@brombomb Can you show the Extensions tab [with the extensions categorized by local/remote](https://code.visualstudio.com/docs/remote/ssh#_managing-extensions)?  Does the Docker extension not show up in either list (either as installed or as available to be installed)?  As far as I know, there shouldn't be any [reason why it can't be installed remotely](https://code.visualstudio.com/docs/remote/ss