[2020-09-10 19:58] sevillal opened #2297 "Docker install in Windows failing due to wrong download URL"
Tried to install Docker through the extension but it is failing while downloading the installed.

After checking the code, it looks like the download URL is broken: https://aka.ms/download-docker-windows-vscode

![image](https://user-images.githubusercontent.com/56176070/92795395-34b8e380-f365-11ea-85a5-c23f999fde31.png)

[2020-09-10 19:59] bwateratmsft commented on #2297
I can reproduce. We'll take a look, thanks!

[2020-09-10 20:46] bwateratmsft commented on #2297
Looks like the location changed from `https://download.docker.com/win/stable/Docker%20for%20Windows%20Installer.exe` to `https://download.docker.com/win/stable/Docker%20Desktop%20Installer.exe`, we'll need to get the forward link updated.

[2020-09-10 21:02] AlexeyBoiler commented on #2254
I have the same problem on this version of Desktop on Mac. iMac (21.5-inch, Late 2013) 10.15.3 (19D76) Catalina

[2020-09-10 21:03] bwateratmsft commented on #2297
@BigMorty updated the aka.ms link and I just verified it. I'll close this as fixed.

[2020-09-10 21:03] #2297 closed

[2020-09-11 01:05] awesomebytes opened #2298 "Can't attach VS Code to container inside of remote machine (but attaching shell works)"
Hello, I'm trying to attach VS Code to a docker container running in a remote machine.

* Issue Type: Bug
* Extension Name: vscode-docker
* Extension Version: 1.5.0
* OS Version: Ubuntu 18.04
* VSCode version: 1.48.2

My workflow looks like:

1. Open a VS Code instance on a local project.
2. From there, use `VS Code Remote` to get a VS Code instance in a remote machine.
3. In this remote VS Code i

[2020-09-11 02:35] Xesenix opened #2299 "Missing active bar icon"
Issue Type: <b>Bug</b>

I don't really know how to reproduce this reinstalling vscode or extension doesn't help me according to screens from plugin page there should be icon for docker related accordion tabs:
![obraz](https://user-images.githubusercontent.com/2124257/92845893-bf422700-f3e7-11ea-9d2e-aee43c208b61.png)

But I have those instead cluttering my explorer tab:
![obraz](https://user-image

[2020-09-11 11:19] 0xPagliacci opened #2300 "Error：EACCES"
Repro steps:

1.
2.

Action: vscode-docker.containers.prune
Error type: EACCES
Error Message: connect EACCES /var/run/docker.sock

Version: 0.8.2
OS: linux
Product: Visual Studio Code
Product Version: 1.36.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-09-11 12:18] bwateratmsft commented on #2298
@awesomebytes The "Attach Shell" command is ours but the "Attach VS Code" one actually belongs to the Remote - Containers extension, they use some of VS Code's capabilities to make it show up in our menu. Nevertheless, they'll have to take a look in https://github.com/microsoft/vscode-remote-release/issues/2514. Sorry!

[2020-09-11 12:18] #2298 closed

[2020-09-11 12:19] bwateratmsft commented on #2300
@0xPagliacci can you add repro steps?

[2020-09-11 12:21] bwateratmsft commented on #2299
Strange. Does checking any of those in the explorer tab (Containers, Images, Registries, ..., Contexts) cause anything to show up? Does restarting VSCode have any effect?

@sbatten do you have any ideas?

[2020-09-11 12:22] #2248 closed

[2020-09-11 13:16] #1413 closed

[2020-09-11 13:34] XanderXAJ commented on #2254
Thanks everyone for looking in to it.

@bwateratmsft I would be similarly reluctant.

I suppose there's a couple of avenues to figure out what is different in mine and @AlexeyBoiler's setup versus everyone's that works!

- Reinstall the OS from scratch. The only macOS machine I use is a company one, so, unfortunately, I doubt I'll be able to follow this avenue.
- Check dotfiles (shell initialisati

[2020-09-11 13:37] bwateratmsft commented on #2254
I haven't done any customization of my dotfiles, so that is an avenue worth exploring. @philliphoff have you customized them?

[2020-09-11 13:43] bwateratmsft opened #2302 "Tests are failing silently"
Tests have been failing but are doing so silently. e.g. https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=25608

[2020-09-11 15:15] sbatten commented on #2299
Yes, the views seem to have been moved to the explorer view container. They are hidden (hence the checkboxes missing) so your recommendation should bring them back. To get the docker icon back: `F1` > `Reset View Locations`

[2020-09-11 15:15] Xesenix commented on #2299
@bwateratmsft checking them shows them on explorer tab but they clutter space there. Even reinstalling wither plugin or whole vscode doesn't restore that docker icon. I searched for some settings for it but I didn't found anything.

[2020-09-11 15:15] sbatten commented on #2299
@Xesenix To get the docker icon back: `F1 > Reset View Locations`

[2020-09-11 15:19] Xesenix commented on #2299
@sbatten Thx that worked I guess we can close/archive this bug.

[2020-09-11 15:19] #2299 closed

[2020-09-11 15:37] irinazheltisheva opened #2303 "докер"
Does this occur consistently?
Repro steps:

1.
2.

Action: debugCoreClr
Error type: Error
Error Message: No workspace folder is associated with debugging.

Version: 1.5.0
OS: win32
OS Release: 10.0.18363
Product: Visual Studio Code
Product Version: 1.49.0
Language: ru

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-09-11 15:38] bwateratmsft commented on #2303
Duplicate of #1451. You need to open a workspace folder to do any debugging. Additionally, the `docker-coreclr` debug type is deprecated and will be removed soon.

[2020-09-11 15:38] #2303 closed

[2020-09-11 16:07] bwateratmsft opened #2304 "Allow compose down / compose restart on grouped-by-compose nodes"
We can use the `com.docker.compose.project.config_files` and `com.docker.compose.project.working_dir` labels to locate the CWD to use and the files to add.

[2020-09-11 16:31] #2246 closed

[2020-09-11 17:06] philliphoff commented on #2254
I've only used ZSH on my current work Mac, but I still have both a `.bash_profile` and a `.zshrc` and no `.bashrc` or `.profile`.  Generally "new" customizations go into `.zshrc`.  I couldn't tell you how the two interact, though--it's all magic to me.  Just yesterday I resolved a "command not found" issue (in ZSH, that worked in bash) by appending the *same* path to `PATH` in `.zshrc` that was *a

[2020-09-13 05:33] yuzaihui opened #2305 "1"
Repro steps:

1.
2.

Action: debugCoreClr
Error type: Error
Error Message: Unable to infer the application project file. Set either the 'appFolder' or 'appProject' property in the Docker debug configuration.

Version: 0.7.0
OS: win32
Product: Visual Studio Code
Product Version: 1.35.1
Language: zh-cn

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-09-14 03:07] karolz-ms commented on #2254
I haven't switched to bash yet, and I have not encountered this issue. But it is also true that I never use Spotlight to launch programs, only Dock, Launchpad and command line.

[2020-09-14 04:57] irinazheltisheva opened #2306 "детали"
Does this occur consistently?
Repro steps:

1.
2.

Action: debugCoreClr
Error type: Error
Error Message: No workspace folder is associated with debugging.

Version: 1.5.0
OS: win32
OS Release: 10.0.18363
Product: Visual Studio Code
Product Version: 1.49.0
Language: ru

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-09-14 05:39] v-xinda commented on #2291
Verified this issue on the build 20200909.2(vscode-docker-nightly-2), it doesn't reproduce. So close it .

[2020-09-14 05:39] #2291 closed

[2020-09-14 06:30] creative429 opened #2307 "problems"
Does this occur consistently?
Repro steps:

1.
2.

Action: vscode-docker.contexts.inspect
Error type: 1
Error Message: Process 'docker context inspect default' exited with code 1
Error: 'docker' is not recognized as an internal or external command,
operable program or batch file.

Version: 1.5.0
OS: win32
OS Release: 10.0.19041
Product: Visual Studio Code
Product Version: 1.49.0
Language: en

<det

[2020-09-14 06:31] #2307 closed

[2020-09-14 08:15] v-ruizh opened #2308 "There are 2 notifications during executing prune action"
**OS:** Win10
**Build Version:** 20200909.2

**Repro Steps:**
F1 -> Docker Images: Prune... -> Click 'Remove' to confirm remove all dangling images -> Check the notification during this action.

**Expect:**
There is only one notification 'Pruning images...' during executing prune action.
![image](https://user-images.githubusercontent.com/45614674/93060843-4a9c1080-f6a5-11ea-8bf5-5f7d4c6d9281.png)

[2020-09-14 10:54] v-ruizh opened #2309 "[Suggestion] Change the oldest VS Code version that the Docker extension supported"
**OS:** Windows 10
**Build Version:** 20200909.2

**Repro Steps:**
1. Figure out the oldest VS Code version that the extension supports, the version is "1.44.0".
![image](https://user-images.githubusercontent.com/45614674/93077053-e2f0c000-f6ba-11ea-8825-b2a52afabd33.png)
2. Install VS Code 1.44.2.
3. Install Docker extension in VS Code then pull image/push image.

**Actual:**
An error "Cannot rea

[2020-09-14 11:07] v-mengwe opened #2310 "There is no option to overwrite existing files when repeatedly executing 'Add Docker Compose Files to Workspace…' command"
**OS:** All
**Build Version:** 20200909.2

**Repro Steps:**

1. Open an existing .Net Core project workspace that has a Dockerfile.
2. Run 'Add Docker Compose Files to Workspace…' command.
3. Repeat the step 2 again.
4. Check the result.

**Expect:**
It should provide an option to overwrite an existing file or create a new file.

**Actual:**
There is no option to overwrite existing files or create

[2020-09-14 11:09] v-xinda opened #2311 "Open a wrong webpage when debugging the ASP.NET Core project created by "dotnet new mvc""
**OS:** Linux
**Build:** 20200911.36

**Repro Steps:**
1. Create an ASP.NET Core web app by "dotnet new mvc" and open it in VS Code --> Select "Yes".
2. F1 --> Click "Docker: Add Docker Files to Workspace" --> Choose "ASP.NET Core" as appropriate --> Choose Linux --> Default port --> Yes.
3. Set a breakpoint in HomeController.cs.
4. Go to the Debug tab in VSCode, and select "Docker .NET Core Launc

[2020-09-14 11:59] v-ruizh commented on #2228
The same error occurs when executing "Compose Up" action for docker-compose.yml file in MVC project. (Docker extension build 20200909.2)
![image](https://user-images.githubusercontent.com/45614674/93083141-c0fc3b00-f6c4-11ea-80ed-22f4c24badae.png)

[2020-09-14 12:12] v-mengwe opened #2312 "There is no option to choose a Dockerfile to build when the Node.js project contains multiple Dockerfiles"
**OS:** All
**Build Version:** 20200909.2

**Repro Steps:**

1. Open a Node.js Project with multiple Dockerfiles.
2. F1 -> "Docker Images: Build Image...".
3. Check the result.

**Expect:**
There is an option to choose a Dockerfile to build.
![Screen Shot 2020-09-14 at 7 53 40 PM](https://user-images.githubusercontent.com/62053665/93083572-60b9c900-f6c5-11ea-8af1-5a031cb38e12.png)

**Actual:**
The

[2020-09-14 13:12] bwateratmsft commented on #2305
@yuzaihui The `docker-coreclr` debug configuration is deprecated and will be removed soon. You should run `Docker: Add Docker files to workspace` and re-create with the new `docker` tasks and launch config.

[2020-09-14 13:12] #2305 closed

[2020-09-14 13:13] bwateratmsft commented on #2306
Dupe of #1451 and #2303.

[2020-09-14 13:13] #2306 closed

[2020-09-14 13:15] bwateratmsft commented on #2308
This is by design although the timing of the toasts is a little weird sometimes. The first toast, "Pruning images...", shows while the prune operation is happening. We added this because we saw in telemetry a lot of people would try to prune multiple times and fail if one is in progress. There wasn't really any way to tell that the prune operation was underway if it took some time.

However, when

[2020-09-14 13:15] #2308 closed

[2020-09-14 13:17] bwateratmsft commented on #2309
It is updated to 1.49.0 in #2250. I didn't expect this error though, I'll investigate it.

[2020-09-14 13:22] bwateratmsft commented on #2310
This is by design. I made a change to match the behavior we have in Visual Studio--if the file we are going to scaffold is identical to what is already there, we won't do anything since it isn't necessary. We will only prompt if we encounter a file that is different from what we want to scaffold. Even if only one such file exists, we will still show the "Overwrite All" button, but in that case its

[2020-09-14 13:22] #2310 closed

[2020-09-14 13:25] bwateratmsft commented on #2311
This is expected on Linux and Mac*. The browser is unhappy that the certificate presented by the ASP.NET web service is self-signed and not trusted, so it shows this warning--if you click "Advanced..." there will be an option to proceed anyway, then the website should load and the breakpoint will be hit.

*On Windows we prompt to trust the certificate automatically; there will be a popup asking to

[2020-09-14 13:25] #2311 closed

[2020-09-14 13:27] bwateratmsft commented on #2312
This may be because of the `docker-build` task that gets created. I'll check it out.

[2020-09-14 13:32] bwateratmsft commented on #2309
It looks like the issue was introduced potentially in 1.45.0, and fixed in 1.48.0. We could update the minimum VSCode version to 1.48.0 for 1.6.0. By now nearly everyone will have 1.48 or 1.49.

@BigMorty @dbreshears what do you think? Should we update the min version? I think this bug only occurs when no workspace folder is opened which is less common.

[2020-09-14 13:36] bwateratmsft commented on #2312
I checked the code and even though an official build task is present it should still prompt. However, I am not able to reproduce this issue. @v-mengwe can you share the project you encountered this issue with?

[2020-09-14 15:04] bwateratmsft commented on #2296
Removing from 1.7.0 so we can triage.

[2020-09-14 15:13] jmejia32 opened #2313 "Django project debug in docker container doesn't start"
Redirected from https://github.com/microsoft/vscode/issues/106561#issue-700425657

In vscode, when I start the debug in my local computed (no docker), debug starts completely but when I start debug with docker, the container builds and starts while vscode ui waiting for connection and never "starts" debugging process.

[2020-09-14 15:25] bwateratmsft commented on #2313
@jmejia32 Can you share the project you are encountering this issue in? Or at least the Docker and docker-compose files, tasks.json, and launch.json?

Also, can you share the logs from the following places:
- Output
  - Docker
  - Python
- Terminal
  - `docker-build` task
  - `docker-run` task
  - Python Debug Console
- Debug Console

Debugging in Docker is done differently; the app is run by runn

[2020-09-14 15:49] bwateratmsft opened #2315 "New SDK support for volumes"
The CLI now supports Docker volumes based on Azure storage, we should at least show them in the explorer.

[2020-09-14 15:53] bwateratmsft commented on #2268
Fixed this in https://github.com/microsoft/vscode-docs/pull/3902.

[2020-09-14 15:53] #2268 closed

[2020-09-14 16:15] BigMorty commented on #2309
I dont think we need to update the min version.

[2020-09-14 16:16] bwateratmsft commented on #2309
As @BigMorty we'll leave it as-is for 1.6.0. About 92% are at 1.48.0+ and therefore don't have the bug. The remaining 8% may have it, but if we added a min version in 1.6.0, it wouldn't fix them--just prevent them from updating to 1.6.0.

In #2250 we updated to 1.49.0 for other reasons so I'll close this as fixed for 1.7.0.

[2020-09-14 16:16] #2309 closed

[2020-09-14 16:21] jmejia32 commented on #2313
@bwateratmsft ok, here we go:

* Output
  * Docker: Nothing
  * Python:
[code]
* Terminal
  * `docker-build` task
[code]
  * `docker-run` task
[code]
  * Python Debug Console: ¿?
* Debug Console: Nothing

`docker-compose.yml`
[code]
`Dockerfile`
[code]

FYI, the menu entry Terminal > Python Debug Console doesn't appear
![image](https://user-images.githubusercontent.com/15973840/93111442-3ee82400-f

[2020-09-14 16:23] jmejia32 commented on #2313
@bwateratmsft Terminal output

[code]

[2020-09-14 16:26] bwateratmsft commented on #2313
What version of the Python extension do you have?

For Terminal > Python Debug Console, I mean this:
![image](https://user-images.githubusercontent.com/36966225/93112075-8a530000-f685-11ea-87c1-8dc6c3313b71.png)

[2020-09-14 16:31] jmejia32 commented on #2313
@bwateratmsft No, I'm sorry for be a little dumb hahaha.

And the entry keeps hidden for me:

![image](https://user-images.githubusercontent.com/15973840/93112413-989d1e00-f67d-11ea-9c56-a88c6ab37551.png)

[2020-09-14 16:33] bwateratmsft commented on #2313
Hm, that's not good. Our debug launch config in launch.json resolves down to a Python configuration, so basically once the Docker container is started, we hand control over to the Python extension--they use `docker exec` to actually start debugpy. I'll investigate to see if I can reproduce this issue. Can you also share the output from `docker inspect talentumplus-dev` when the container is runnin

[2020-09-14 16:38] jmejia32 commented on #2313
Yep, there it is:
`docker inspect talentumplus-dev`
[code]

[2020-09-14 17:15] bwateratmsft commented on #2313
Everything looks pretty normal to me; I'm not able to reproduce at least on Windows. In theory it shouldn't matter the host OS.

@int19h do you know what might be happening? It seems like the Python extension is not executing the Python debug command (`python ~/.vscode/extensions/ms-azuretools.vscode-docker-1.6.0/resources/python/launcher.py XXX -- manage.py ...`) in order to start debugpy in the

[2020-09-14 17:30] bwateratmsft commented on #2313
@jmejia32 I have one theory. I was able to get the same symptoms to reproduce if the `debugAdapterHost` that we resolve is incorrect or undefined.

Can you run this command and share the output? `docker inspect bridge --format="{{(index .IPAM.Config 0).Gateway}}"`

[2020-09-14 18:49] jmejia32 commented on #2313
Yes, the output is `172.17.0.1`

[2020-09-14 19:18] bwateratmsft commented on #2313
Ok, if you put that into your launch config as below, does debugging work? Note, it goes at the same level as `"type"`, i.e. it does _not_ go into the `"python"` section.

![image](https://user-images.githubusercontent.com/36966225/93128375-5aaff200-f69d-11ea-8dda-5ebc57988935.png)

It will give a yellow underline but that's OK, you can ignore that.

[2020-09-14 19:53] jmejia32 commented on #2313
Man, that was awesome!! It works. Finally I can debug my project, i'm so thankful.

Congrats!! You deserve my respect.

![image](https://user-images.githubusercontent.com/15973840/93131582-ee7fbf00-f699-11ea-8b56-fca8b10c01f8.png)

[2020-09-14 19:58] ucheNkadiCode opened #2317 "Unable to build Dockerfile to Azure if filename isn't "Dockerfile""
Some developers choose to have a file named "Dockerfile" and another file named "Dockerfile.prod" in the same directory for different reasons. This difference in file name is still seen as the type Dockerfile. However, even if both files are valid, we lose the ability to Right click "Build to Azure" unless we rename a "Dockerfile.dev" to "Dockerfile".

Repro:
Right click on a valid Dockerfile, Bui

[2020-09-14 20:01] #2313 closed

[2020-09-14 20:37] bwateratmsft commented on #2313
I'm glad to help! This step shouldn't be necessary though 😕

The most likely explanation I can think of is that somehow our code to get that IP address failed. The exact command line we use is `docker inspect --format '{{(index .IPAM.Config 0).Gateway}}' 'bridge'`.

Do you have a custom shell configured in VSCode, and does the command with the above ordering/syntax/quoting still work on your OS?

[2020-09-14 20:49] bwateratmsft commented on #2317
I can repro. The fix is easy. The code for showing in the _editor_ context menu (i.e. right-click inside the text editor) has the correct `when` clause:
[code]

But in the _explorer_ context menu (right-click the file in the explorer view) does not:
[code]

[2020-09-14 21:04] jmejia32 commented on #2313
@bwateratmsft yeah, actually I use fish as default shell. The commands explained here works without issues.

[2020-09-14 23:26] helpservd opened #2318 "container Instance view on VS Code"
My client is  following https://cloudblogs.microsoft.com/opensource/2020/07/22/vs-code-docker-extension-azure-containers-instances/ but on his Vs Code, he cant view his container instances.
The Turning point  on this doc:
" Before you can use an Azure Container Instances (ACI) context, you first must create one. The Docker CLI has new docker login azure and docker context create aci commands you c

[2020-09-15 01:00] angangi opened #2319 "Cannot use "attach shell" by right click on the runnning container"
the error info is `The terminal process failed to launch: Path to shell executable "C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe" does not exist.`

[2020-09-15 01:57] yuzaihui commented on #2305
thankyou

于再辉

[2020-09-15 02:49] karolz-ms commented on #2318
Version 1.4 does not have the functionality to create ACI Docker contexts; it is implemented in the extension version 1.5 and newer.

[2020-09-15 02:49] #2318 closed

[2020-09-15 02:49] v-mengwe commented on #2312
Thanks for your sharing! Verified on the latest build 20200914.7, this issue doesn't reproduce, so close it.

[2020-09-15 02:49] #2312 closed

[2020-09-15 11:57] vurachaitanya opened #2320 "Remote docker host config and using in VSCode"
Trying to use : https://code.visualstudio.com/docs/containers/ssh

Repro steps:

1.
2.

Action: vscode-docker.contexts.use
Error type: 1
Error Message: Process 'docker context use default' exited with code 1
Error: 'docker' is not recognized as an internal or external command,
operable program or batch file.

Version: 1.5.0
OS: win32
OS Release: 10.0.17134
Product: Visual Studio Code
Product Versi

[2020-09-15 12:40] bwateratmsft commented on #2319
If you don't have PowerShell installed you'll need to configure cmd as your default shell. There's more info on that [here](https://code.visualstudio.com/docs/editor/integrated-terminal#_changing-shell-for-tasks-and-debug).

[2020-09-15 12:40] bwateratmsft commented on #2320
@vurachaitanya Do you have Docker Desktop installed?

[2020-09-15 12:53] vurachaitanya commented on #2320
No i have Linux VM which has docker installed on it and shared via SSH

[2020-09-15 12:56] bwateratmsft commented on #2320
Ok, you need to have Docker installed locally even to use it remotely. However, you can use the [Remote - SSH](https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.remote-ssh) extension to set up remoting to that Linux VM; from there you can install the Docker extension in the remote session and it should work nicely. This way you don't have to install Docker Desktop on your host m

[2020-09-15 12:57] angangi commented on #2319
I changed the config
`"terminal.integrated.shell.windows": "C:\\Windows\\System32\\cmd.exe"`
and the feedback is
`> Executing task: docker exec -it e88defdb9dc9780ea7b0d6e3c7dd4a5efc8176e5a34b452e869a0a93082bf6fc bash <

The terminal process failed to launch: Path to shell executable "C:\Windows\System32\cmd.exe" does not exist.

Terminal will be reused by tasks, press any key to close it.
`
And f

[2020-09-15 13:00] bwateratmsft commented on #2319
Ahh, it sounds like you might have the extension operating in UI mode but it works much better in workspace mode when doing remoting. If you go to the Extensions tab, do you see an option to install the Docker extension in the remote workspace?

[2020-09-15 13:11] angangi commented on #2319
Amazing! I solved it by changing to workspace mode. Thank you so much!
P.S. I ONLY install the docker extension under vscode's WSL:ubuntu environment, not on windows environment. And I actually didn't see the prompt...

[2020-09-15 13:15] #2319 closed

[2020-09-15 14:13] bwateratmsft commented on #2318
@karolz-ms it was in 1.4, however they need to install the latest Edge build of Docker. It will be available in stable very soon (today?).

Nevertheless I highly recommend they upgrade to 1.5.0. There is no reason not to :smile:

[2020-09-15 14:43] #2241 closed

[2020-09-15 15:10] cmbkr opened #2322 "Azure App service currently only supports running images from Azure Container Registries with admin enabled"
Does this occur consistently?
Repro steps:

1.
2.

Action: vscode-docker.registries.deployImageToAzure
Error type: Error
Error Message: Azure App service currently only supports running images from Azure Container Registries with admin enabled

Version: 1.5.0
OS: darwin
OS Release: 19.6.0
Product: Visual Studio Code
Product Version: 1.49.0
Language: en

<details>
<summary>Call Stack</summary>

[co

[2020-09-15 15:10] #2322 closed

[2020-09-15 18:17] karolz-ms opened #2324 "Group containers by Compose invocation "project" by default"
Docker Desktop is doing that already. Given how widely used Compose is it probably make sense to have Compose be the default grouping for containers pane

[2020-09-15 18:20] karolz-ms opened #2325 "Add "Docker Compose: Logs" command"
Add a command to quickly do `docker-compose logs -ft`. This interleaves logs from all containers that are part of the same Compose invocation, decorating each log entry with service name and timestamp. It is a good way to see interactions between services.

[2020-09-15 18:46] #2165 closed

[2020-09-15 18:46] #2272 closed

[2020-09-15 18:53] bwateratmsft commented on #2324
We'd definitely want to have them expanded by default (would require a small framework change in vscode-azureextensionui). Probably want to change the text for non-compose containers to something other than "Other Containers".

[2020-09-16 14:10] bwateratmsft opened #2326 "Improvements to compose file scaffolding"
We discussed what we want for a user experience for Compose scaffolding.

- [ ] Ability to add services to already-scaffolded compose files for all platforms (one service at a time)
    - [ ] ~~Choose which compose file(s) to add the service to--allowing support for having many different compose files that launch different groups of services~~
- [ ] Multiple-platform support, e.g. a compose file t

[2020-09-16 14:17] #2253 closed

[2020-09-16 15:58] bwateratmsft commented on #1642
This is now released in Docker extension 1.6.0.

[2020-09-16 15:58] bwateratmsft commented on #1617
This is now released in Docker extension 1.6.0.

[2020-09-16 15:59] bwateratmsft commented on #1718
This is now released in Docker extension 1.6.0.

[2020-09-16 19:11] general03 opened #2327 "Error for debug python application in docker"
Hi,

I write the `launch.json` file in my project
[code]
 With this `task.json`
[code]
 The build works well without error and my container is up

After this build I get the message box error `Invalid message 'either "program", "module", or "code" must be specified'`

If I add "program", "module", or "code" attribut in `launch.json`, VSCode tell me that this key is not allowed.

What I miss ??

Th

[2020-09-16 19:19] bwateratmsft commented on #2327
What version of the Docker extension and Python extension do you have?

[2020-09-16 19:24] general03 commented on #2327
Docker 19.03.12, build 48a66213fe and Python 3.7

[2020-09-16 19:55] bwateratmsft commented on #2327
I mean the VSCode extensions:
![image](https://user-images.githubusercontent.com/36966225/93385963-ffb10300-f834-11ea-8c3b-ce5e078ec48b.png)

[2020-09-16 20:06] general03 commented on #2327
Yes sur I got it

[2020-09-16 20:15] bwateratmsft commented on #2327
Which version of the Docker and Python VSCode extensions do you have though?

[2020-09-17 05:37] general03 commented on #2327
Docker extension 1.50
Python extension v2020.8.108011

[2020-09-17 14:19] bwateratmsft commented on #2327
Gotcha. Yeah, both of those are recent enough they should be fine. Can you share your Dockerfile? I see that your directory structure is a little different than the default so there may be something wrong there.

[2020-09-17 14:43] xahon opened #2329 "Error: connect EACCES /var/run/docker.sock"
Not a duplicate of #1193
I have the same issue after making all the instructions and rebooting
**luozhouyang** had the same behaviour as i have but stupid bot locked the issue, that is why i want to open a new one

[2020-09-17 14:45] bwateratmsft commented on #2329
@xahon Did you add your user to the `docker` group?

[2020-09-17 14:45] xahon commented on #2329
Sorry, i forgot to make docker service to start automatically

[2020-09-17 14:45] #2329 closed

[2020-09-17 15:15] adamterrell commented on #2327
I am having the same issue.  I went through the hello_django tutorial from microsoft and then I wanted to go through the container tutorial but when I go into the Docker debug mode I get this error.

[2020-09-17 15:18] adamterrell commented on #2327
I just opened the project as a folder and not as a workspace.  The debug then worked as expected.  I suspect that the workspace settings have to be modified.

[2020-09-17 15:23] bwateratmsft commented on #2327
@adamterrell Good to know. Workspaces frequently cause issues. Can you share the containerization tutorial you were following?

[2020-09-17 15:29] adamterrell commented on #2327
https://code.visualstudio.com/docs/containers/quickstart-python

[2020-09-17 15:39] bwateratmsft commented on #2327
Ok, I was able to reproduce this by creating a workspace. I'm taking a look now.

[2020-09-17 16:12] bwateratmsft commented on #2327
I found the issue. Basically, workspaces won't work well in this context. I'd recommend opening the folder containing the project rather than using workspaces.

I opened [this issue](https://github.com/microsoft/vscode/issues/106946) in VSCode; without a fix for that we can't fix it here.

[2020-09-17 16:52] Ryan-Chaves-CambridgeConsultants opened #2330 "Allow the use of variables in the specification of $docker.host"
I'd like to be able to specify `$docker.host` as something like below in my workspace `settings.json`:

    {
        "docker.host": "ssh://${localEnv:USERNAME}@myserver",
    }

This would allow the configuration to be valid for anyone on the team. Right now we can't version control `settings.json` because the username part of `$docker.host` has to be changed for each team member.

[2020-09-17 17:25] bwateratmsft commented on #2330
@karolz-ms would an SSH agent prevent the need to specify a username at all?

[2020-09-17 17:34] Ryan-Chaves-CambridgeConsultants commented on #2330
I tried that. At my company, what ends up happening is that the username supplied to `myserver` is _`domain\username`_ which doesn't match the `username` login for `myserver`. Attempting to use the [provided instructions](https://code.visualstudio.com/docs/remote/troubleshooting#_quick-start-using-ssh-keys) to setup SSH Agent this way ends up failing because, as stated above, _`domain\username`_ i

[2020-09-17 18:18] karolz-ms commented on #2330
@Ryan-Chaves-CambridgeConsultants so `USERNAME` is somethin that is set per-developer? Is it the same for all projects/Docker servers used by developers?

@bwateratmsft wasn't there a VS Code issue about allowing the use of env. variables in extension config?

[2020-09-17 18:20] bwateratmsft commented on #2330
That's for tasks and launch config. There has never been any sort of support for environment variables in settings. I'm not aware of other extensions doing similar things either.

@Ryan-Chaves-CambridgeConsultants Can you use docker contexts instead of using `docker.host`?

[2020-09-17 19:25] Ryan-Chaves-CambridgeConsultants commented on #2330
@karolz-ms Yes our standard machine configuration always has `USERNAME` defined in the environment.

@bwateratmsft I haven't used docker contexts before, so I needed to read up on that. A quick test shows this to be relatively straightforward and allows the context to be configuration-managed by name and captured in the `initializeCommand` parameter of `devcontainer.json` for remote container deve

[2020-09-17 19:30] Ryan-Chaves-CambridgeConsultants commented on #2330
Although I've just realized and noticed that this setup permanently changes the docker context until `docker context` is execute again (e.g. `docker context use default`). So if I wanted to work with local and remote containers simultaneously, docker contexts may not be the best solution, unless there is a way to limit the change in context for the VS Code remote container session. So far, `initia

[2020-09-17 19:31] bwateratmsft commented on #2330
In theory Docker contexts and `DOCKER_HOST` (or `docker.host`) should work essentially the same. As you point out, there is an advantage to `DOCKER_HOST` in that Dockerode--what we use for the explorer view and many commands--does not require the Docker CLI to be present.

Depending on your use case it may be easier to use [Remote - Containers](https://marketplace.visualstudio.com/items?itemName=m

[2020-09-17 19:39] Ryan-Chaves-CambridgeConsultants commented on #2330
I can describe two different use cases which I am not currently running simultaneously, but could if I had to do work on these two different projects at the same time.

1. Project A - Container for running unit tests locally (pre-commit) or within our remote CI infrastructure (post-commit).
1. Project B - Container for developing a Tensorflow-based application on remote hardware with GPUs, where l

[2020-09-17 23:26] RahulRathodGitHub opened #2332 "Docker under search tab"
![image](https://user-images.githubusercontent.com/42928792/93538196-d9a07580-f990-11ea-89e8-aadb0a27e36c.png)

I remember updating VScode about a month ago when the issue first showed up, Just updated to version 1.49.

The issue still persists.

[2020-09-18 14:15] bwateratmsft commented on #2332
This looks pretty similar to #2299. Can you try <kbd>F1</kbd> > `Reset View Locations`?

[2020-09-18 14:17] RahulRathodGitHub commented on #2332
Great! it worked!

[2020-09-18 14:53] bwateratmsft commented on #2332
Glad it worked!

[2020-09-18 14:57] bwateratmsft commented on #2330
This sounds like it could be a good use case for #2264. This would use Docker contexts, but would not set them globally; rather it would use the `DOCKER_CONTEXT` environment variable like `DOCKER_HOST` is used today. With this, you could set up Docker contexts on each user's machine, and have a settings in each workspace to instruct VSCode to use the appropriate context.

[2020-09-18 15:47] karolz-ms commented on #2330
To add to what Brandon said, one could open two VS Code windows, one using `docker.context` setting pointing to the remote machine, another using the local Docker engine. This way one would have full VS Code Docker experience for both.

[2020-09-18 18:03] philliphoff opened #2333 "Proposal: show files of running containers"
## Proposal

The Containers tool window (CTW) in Visual Studio allows users to browse the file system of running containers, and users seem to really like this feature. Should we do the same for Visual Studio Code, something along the lines of the mockup below?

<img width="409" alt="Screenshot 2020-09-18 at 10 53 07" src="https://user-images.githubusercontent.com/6402946/93629865-d65fb680-f99d-11

[2020-09-18 18:56] bwateratmsft commented on #2333
I think that this functionality overlaps too much with Remote - Containers to justify, TBH.

[2020-09-18 20:11] #2197 closed

[2020-09-18 21:10] philliphoff commented on #2333
While I agree that you *can* use Remote - Containers for similar purposes, it's much more invasive when connecting (e.g. installing the VS Code server, container-side extensions, etc.) as it tries to make that container a "dev" container.  If you just want to poke around the file system and look at a couple of files, it seems very heavy handed.

[2020-09-18 21:38] karolz-ms commented on #2333
I agree with @philliphoff Being able to see where the files are and what they contain is what most users need. Injecting VS Code backend into the container for that purpose is more than necessary, and also not intuitive/discoverable.

[2020-09-20 01:45] adamterrell commented on #2327
Thank you.

On Thu, Sep 17, 2020 at 12:12 PM Brandon Waterloo [MSFT] <
notifications@github.com> wrote:

[2020-09-20 12:43] general03 opened #2334 "Entrypoint command missing on django app"
Hi,

I configured my `launch.json` file in my project

[code]

With this task.json
[code]
The build works well without error and my container is up.
But when the build run is executed it miss the `entrypoint` command like I put in the previous file `python manage.py runserver 0.0.0.0:8000`, I see in the console this automatic command

`> docker run -dt -P --name "myapp-dev" --label "com.microsoft.

[2020-09-21 20:47] samuel-velazquez opened #2335 "Da inst member"
Issue Type: <b>Bug</b>

table and row this element customer if date selec "also-they" oneline test characther is get up --namespaces ignore prompt so call like is string.

Extension version: 1.6.0
VS Code version: Code 1.49.1 (58bb7b2331731bf72587010e943852e13e6fd3cf, 2020-09-16T23:27:51.792Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|

[2020-09-21 20:49] samuel-velazquez opened #2336 "Aplication date field one medium"
Does this occur consistently?
Repro steps:

1.
2.

Action: vscode-docker.contexts.use
Error type: 1
Error Message: Process 'docker context use default' exited with code 1
Error: "docker" no se reconoce como un comando interno o externo,
programa o archivo por lotes ejecutable.

Version: 1.6.0
OS: win32
OS Release: 10.0.17134
Product: Visual Studio Code
Product Version: 1.49.1
Language: en

<detail

[2020-09-21 23:14] abelantonios8520 opened #2337 "no se puede realizar la conexion"
Does this occur consistently?
Repro steps:

1.
2.

Action: vscode-docker.registries.pullRepository
Error type: 1
Error Message: Command failed: docker login  --username abelantoniosalcedo --password-stdin
"docker" no se reconoce como un comando interno o externo,
programa o archivo por lotes ejecutable.

Version: 1.6.0
OS: win32
OS Release: 10.0.19041
Product: Visual Studio Code
Product Version: 1

[2020-09-21 23:54] #2335 closed

[2020-09-21 23:55] bwateratmsft commented on #2336
@samuel-velazquez Is Docker installed?

[2020-09-21 23:55] bwateratmsft commented on #2337
@abelantonios8520 is Docker installed?

[2020-09-22 00:01] bwateratmsft commented on #2333
That's fair although I wouldn't say I'm quite convinced. If we do add this, we should use the API instead of the CLI. The slow performance of the CLI would make this feature pretty frustrating.

[2020-09-22 00:11] samuel-velazquez commented on #2336
law this common test appset -- jet member update out-time

[2020-09-22 13:42] bwateratmsft commented on #2336
This account looks to be a bot.

[2020-09-22 13:42] #2336 closed

[2020-09-22 13:46] bwateratmsft commented on #2334
@general03 This is by design. The `docker-run` tasks are meant for debugging; in order to debug the app at launch time--instead of attaching later--it is necessary to start the container without starting the app inside of it. So, we use `python` as the entrypoint, so that the container stays running but isn't doing anything. Then, when the debug task resolves, it is handed over to the Python exten

[2020-09-22 14:03] bwateratmsft commented on #2233
@karolz-ms I have an idea on how to solve this. On both Windows and Mac--hopefully Linux too but didn't try yet--if I volume map a folder on the host that doesn't exist, Docker creates that folder, empty, with myself as the owner. If I add files into that folder after the container is started, naturally they "appear" inside the container.

If we ensure installation of the debugger on the _host_ du

[2020-09-22 14:13] general03 commented on #2334
Thanks @bwateratmsft

But I don't understand why my breakpoint is not reachable, my container started right but nothing append (error or something else). The blue loading run in the runbar without end
I also check the output log in VSCode without error found

![image](https://user-images.githubusercontent.com/2324694/93893584-16040680-fcee-11ea-8f6d-2670ee314f04.png)

[2020-09-22 14:33] bwateratmsft commented on #2334
Is there any output in the Terminal window for "Python Debug Console":
![image](https://user-images.githubusercontent.com/36966225/93896481-f3a6c480-fcbe-11ea-96e3-2cddfeda3e72.png)

Or in the Output window from Python:
![image](https://user-images.githubusercontent.com/36966225/93896447-e8ec2f80-fcbe-11ea-929a-48358bc50c7c.png)

Or the debug console:
![image](https://user-images.githubusercontent

[2020-09-22 15:03] general03 commented on #2334
@bwateratmsft you are a genius ...
The #2323 help me to launch the debug right

Thanks again

[2020-09-22 15:03] #2334 closed

[2020-09-22 15:04] bwateratmsft commented on #2334
@general03 Did you also need to add `"debugAdapterHost"` to your launch config?

[2020-09-22 15:35] bwateratmsft commented on #2304
Related to #2324

[2020-09-22 16:40] bwateratmsft commented on #2313
I found the root cause of this. The `CliDockerClient` was returning an IP address with a trailing newline, which got the Python extension / debugger confused. This is now fixed by #2331 which no longer uses the CLI to get the info. I'm not sure if this ever worked.

[2020-09-22 16:51] bwateratmsft commented on #844
Now that this is released we have some data on activation time. The code loading time is slightly lower--though we didn't expect a big drop since we were already lazy-loading some of the worst offenders. The activation time is the same. :thumbsup:

[2020-09-22 17:33] #2233 closed

[2020-09-22 17:34] #2207 closed

[2020-09-22 17:34] #2317 closed

[2020-09-22 17:41] bwateratmsft commented on #2315
Blocked on https://github.com/docker/node-sdk/issues/34.

[2020-09-22 17:45] PavelSosin-320 commented on #2333
This is a great idea with one big BUT: existing Docker volume drivers don't support data access concurrency. See discussion: [Concurrency managed by volumes](https://stackoverflow.com/questions/48782326/how-is-concurrency-managed-in-volumes-when-they-are-shared-by-multiple-container). The pre-requisite is PR: develop Docker volume driver supporting data access concurrency without involving Inter-c

[2020-09-22 18:11] #2302 closed

[2020-09-22 21:09] bwateratmsft opened #2343 "Link to install Docker in the explorer window"
1. Create a Docker context (or do anything that will result in using the CLI during context init)
1. Uninstall Docker
1. Launch VSCode and open a Dockerfile

Expect: No error
Actual:
![image](https://user-images.githubusercontent.com/36966225/93937847-60898100-fcf6-11ea-83c9-749917efea4f.png)
![image](https://user-images.githubusercontent.com/36966225/93937869-6aab7f80-fcf6-11ea-882f-697f9e05018a.

[2020-09-22 21:20] bwateratmsft commented on #2343
Additionally--we could put an "Install Docker..." node here:
![image](https://user-images.githubusercontent.com/36966225/93938854-e954ec80-fcf7-11ea-937a-f8b46f3a0f48.png)

[2020-09-23 06:14] PavelSosin-320 commented on #2333
This post contains explanations for sharing data between containers in the Docker [sharing data between containers](https://www.mirantis.com/blog/multi-container-pods-and-container-communication-in-kubernetes/#:~:text=Why%20does%20Kubernetes%20allow%20more,can%20also%20use%20shared%20volumes.): how and why. Regarding the architecture proposal, you can ask Erich Gamma.

[2020-09-23 09:28] general03 commented on #2334
Yes, because I'm on linux ?

[2020-09-23 14:25] bwateratmsft commented on #2334
Gotcha. Yeah, we definitely didn't intend for that to be a necessary step. I've fixed the code path in #2331; in the future adding that `"debugAdapterHost"` will not be necessary.

[2020-09-23 16:16] bwateratmsft commented on #2343
Since the primary error toast only occurs when you've already created Docker contexts--therefore had it installed at some point--I don't think this is as urgent. Maybe doesn't need a solution at all. I think that there may still be value to the install node. In any case since the problem isn't critical I'm taking it out of the 1.7.0 milestone for re-triage.

[2020-09-23 16:36] dbreshears commented on #2343
@BigMorty ,   Brandon and I discussed and think that maybe a "Install Docker..." link in help and feedback panel shown conditionally when Docker is not installed may help as the toast can go away and then you click the bell to bring up the notification again which isn't discoverable.

[2020-09-23 16:48] dbreshears commented on #2330
Going to dupe this against #2264 and close this one

[2020-09-23 16:48] #2330 closed

[2020-09-23 16:59] dbreshears commented on #2324
possibilities : standalone,  non-compose, other

[2020-09-24 07:01] r44083 opened #2345 "Add keybinding support for "workbench.view.extension.docker""
Issue Type: <b>Feature Request</b>

Curently there is no posibility to map keybinding to Docker extension view.
It would be great if you added such feature to map "workbench.view.extension.docker" to some keybinding.

in keybindings.json:
*(for example)*
[code]

Extension version: 1.6.0
VS Code version: Code 1.49.1 (58bb7b2331731bf72587010e943852e13e6fd3cf, 2020-09-16T23:23:33.049Z)
OS version: Li

[2020-09-24 12:39] bwateratmsft commented on #2345
This can be done with user settings for keyboard shortcuts (<kbd>Ctrl</kbd> + <kbd>K</kbd> + <kbd>S</kbd>) for `workbench.view.extension.dockerView`. For example, here I set it to <kbd>Ctrl</kbd> + <kbd>Alt</kbd> + <kbd>H</kbd>:
![image](https://user-images.githubusercontent.com/36966225/94145840-211b7b80-fe41-11ea-8ac6-d29c843c82a6.png)

However, I don't think it would be appropriate to set a def

[2020-09-24 12:39] #2345 closed

[2020-09-24 12:58] PavelSosin-320 commented on #2333
Why it is so hard to implement?
Say we have Container1, a writer which populates in the volume mounted by this Container. For example, run 1st container with -it option and mount Volume1 as shared.
cd to the volume mount point inside 1st container and run git clone ..... &.
Run Container2, reader in the way similar way, cd to the mount point of the Volume1 in the 2nd container and do ls. The resul

[2020-09-24 13:49] bwateratmsft opened #2346 "Upgrade to TypeScript 4"
Currently we are on TypeScript 3.9.7 but the latest available at the time of writing is 4.0.3. Unfortunately we are blocked from upgrading due to [this change](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-4-0.html#properties-overriding-accessors-and-vice-versa-is-an-error), which makes many of the accessors in the tree view code errors. ESLint already complains about this

[2020-09-24 14:03] bwateratmsft commented on #2277
This issue has been closed because it needs more information and has not had recent activity. See also our [issue reporting](https://aka.ms/azcodeissuereporting) guidelines.

Happy Coding!

[2020-09-24 14:03] #2277 closed

[2020-09-24 16:33] karolz-ms commented on #2333
Note: in addition to what @bwateratmsft said about performance, what Visual Studio currently does (execute 'ls' command inside the container and parse output) will not work for containers built from scratch (because they don't have any shell binaries). See [this discussion on StackOverflow](https://stackoverflow.com/questions/54720824/how-to-docker-exec-a-container-built-from-scratch) for some ide

[2020-09-24 20:34] philliphoff commented on #2333
@karolz-ms That's a known limitations and I've seen such containers here and there when using CTW, but I'm not sure there's a "no touch" option.  We could copy in a shell, execute it, and then remove the shell; but there will be the potential for leaving bits behind.  That might be *ok* for such containers, but I think we'd want to warn users that we're making modifications to the running containe

[2020-09-24 20:38] karolz-ms commented on #2333
@philliphoff if only volumes could be mounted dynamically... ☺️

[2020-09-25 12:49] hatsem78 opened #2347 "The subscription is not registered to use namespace 'Microsoft.ContainerRegistry'. See https://aka.ms/rps-not-found for how to register subscriptions."
Does this occur consistently?
Repro steps:

1.
2.

Action: vscode-docker.registries.azure.createRegistry
Error type: MissingSubscriptionRegistration
Error Message: The subscription is not registered to use namespace 'Microsoft.ContainerRegistry'. See https://aka.ms/rps-not-found for how to register subscriptions.

Version: 1.6.0
OS: linux
OS Release: 5.4.0-48-generic
Product: Visual Studio Code
Pr

[2020-09-25 13:33] bwateratmsft commented on #2347
The link in the error message contains some information on how to set up your Azure subscription for using Azure Container Registries.

[2020-09-25 13:33] #2347 closed

[2020-09-25 16:04] bwateratmsft commented on #2346
Even with the upstream fix this will be a huge amount of work.

[2020-09-25 16:59] jifox opened #2349 "docker context is not recognized on windows 10"
# Problem Description

Docker extension section **CONTEXTS** is not displaying all existing contexts.

Only context `default` is displayed the `swarm1`, `swarm2`, `swarm3` contexts are missing.

I suspect it has something to do with the new `vctl` because the default context has a `KUBERNETES ENDPOINT`

[see vmware](https://blogs.vmware.com/workstation/2020/08/announcing-workstation-16-and-fusion-

[2020-09-25 17:06] bwateratmsft commented on #2349
@jifox Do you have any VSCode settings in place for `docker.host` or `docker.dockerodeOptions`, or any environment variables for `DOCKER_HOST`?

[2020-09-25 17:15] jifox commented on #2349
@bwateratmsft Thanks for pointing to right direction. I've cleard the DOCKER_HOST setting and now all contexts are shown.

[2020-09-25 17:15] #2349 closed

[2020-09-25 17:22] bwateratmsft commented on #2349
Glad to help! The reason we did this is that if `DOCKER_HOST` is set, the Docker CLI ignores contexts; we wanted to mirror that behavior. We also don't look for anything more than the default context if that variable is present.

[2020-09-25 17:45] bwateratmsft commented on #2346
I found a less intrusive way to do it, in #2348.

[2020-09-28 04:06] KennyChen0909 opened #2350 "remote container error - Terminal failed to launch"
I have a customer trying to launch remote containers through VSCode to a linux docker system and receive a Terminal failed to launch error despite being able to connect to the docker server and view containers.

![image](https://user-images.githubusercontent.com/40878442/94389345-3dd9eb00-0182-11eb-87b1-49161394057d.png)

From the screenshot, it seems that VSCode is trying to use a local powershel

[2020-09-28 08:33] v-ruizh opened #2351 "Display a stopped container after composing up a .NET Core Console app"
**OS:** Windows 10
**Build Version:** 20200924.1
**.NET Core:** 5.0.100-rc1.1.20452.10

**Repro Steps:**
1. Create a .NET Core Console app by "dotnet new console".
2. Open the project in VS Code --> Prompt to add the required assets --> Yes.
3. F1 --> Type and select "Docker: Add Docker Files to Workspace" --> .NET Core Console --> Linux --> Include optional Docker Compose files.
4. Update the Pro

[2020-09-28 13:28] irinazheltisheva opened #2352 "докер"
Does this occur consistently?
Repro steps:

1.
2.

Action: debugCoreClr
Error type: Error
Error Message: No workspace folder is associated with debugging.

Version: 1.6.0
OS: win32
OS Release: 10.0.18363
Product: Visual Studio Code
Product Version: 1.49.2
Language: ru

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-09-28 15:11] #2346 closed

[2020-09-28 15:15] bwateratmsft commented on #2350
@KennyChen0909 Try installing the Docker extension in workspace mode instead of UI mode (in your scenario, it will read "Install in SSH..." instead of "Install in WSL...":

![image](https://user-images.githubusercontent.com/36966225/94450691-8fcb4280-017b-11eb-814e-2177e5040f61.png)

@karolz-ms For one thing we should be warning when this is attempted--I thought we already were but maybe that code

[2020-09-28 15:16] bwateratmsft commented on #2352
Dupe of #1451

[2020-09-28 15:16] #2352 closed

[2020-09-28 15:47] bwateratmsft commented on #2351
I was not able to reproduce. @v-ruizh Can you right click the container and do "View Logs" and share the output?

[2020-09-28 16:50] karolz-ms commented on #2350
@bwateratmsft agreed. I am re-reading the [extensionKind docs](https://code.visualstudio.com/api/advanced-topics/remote-extensions#architecture-and-extension-kinds) and I am having hard time coming up with a situation where Docker extension would want to run as an UI extension.

[2020-09-28 16:52] bwateratmsft commented on #2350
The only scenario I can think of is running a container locally and attaching to it. You'd want the Docker extension to stay pointing at the host (i.e., in UI mode, here), but VSCode within the container.

[2020-09-28 17:00] karolz-ms commented on #2350
Good point. Still making the extension workspace-only is probably a good tradeoff. If one needs to work with Docker inside the container, they can install Docker CLI into it and map the Docker socket to the host; this is [already documented](https://code.visualstudio.com/docs/remote/containers-advanced#_using-docker-or-kubernetes-from-a-container)

[2020-09-28 19:34] bwateratmsft commented on #2264
Running into some difficulties with implementation. Dockerode is completely unaware of contexts so it will use whatever value we give it as the host. Since each extension host has its own Dockerode object, multiple windows of VSCode can talk to different hosts--no problem there.

With the new Docker SDK though, there's no equivalent I'm aware of to the `--context` flag on the CLI, so you have to s

[2020-09-28 21:30] #2264 closed

[2020-09-29 06:39] v-ruizh commented on #2351
It was not possible to find any compatible framework version
The framework 'Microsoft.NETCore.App', version '5.0.0-rc.1.20451.14' was not found.
  - The following frameworks were found:
      5.0.0-preview.8.20407.11 at [/usr/share/dotnet/shared/Microsoft.NETCore.App]

You can resolve the problem by installing the specified framework and/or SDK.

The specified framework can be found at:
  - https:

[2020-09-29 12:50] bwateratmsft commented on #2351
My best guess is that the Alpine image there is a little old on the machine where the issue reproduces. If you find the `mcr.microsoft.com/dotnet/runtime:5.0-alpine", and do right click -> Run Interactive, you can get a shell. I tested in the latest alpine image, and here's what I see--
[code]

If it says that 5.0.0-preview.8 is the latest, try right click -> Pull on the image and see if that fixe

[2020-09-29 13:48] #2281 closed

[2020-09-29 13:48] #2278 closed

[2020-09-29 16:10] bwateratmsft commented on #2333
The API has a way to get file contents (and presumably write them but haven't validated that): https://docs.docker.com/engine/api/v1.40/#operation/ContainerArchive

It *almost* worked for listing directory contents but the output of `HEAD /containers/{id}/archive` is more or less useless:
[code]

Nevertheless, the `GET` / `PUT` could be helpful if we want to read / write files. Also, we should pro

[2020-09-29 16:29] bwateratmsft commented on #2162
I've tried a bunch of different things and I cannot reproduce the issue. The feature is now disabled by default though so I don't think it's critical.

[2020-09-29 16:29] #2162 closed

[2020-09-29 16:35] bwateratmsft commented on #2191
I was not able to repro with WSL2 turned off. One thing to validate--Docker usually picks a new port every time, so if you refresh on an existing tab, it may show that loading-forever behavior--there's nothing listening on the other end. We open a new tab each time we debug; that tab should always have the latest port and work. Any others may not.

[2020-09-29 17:12] bwateratmsft commented on #2350
Oh, bonus bug. Even in workspace mode this does not work.

[2020-09-29 17:13] bwateratmsft opened #2356 "Consider removing UI mode for remoting"
Users almost always want to actually be in workspace mode for using any features beyond just syntax highlighting. We should consider removing UI mode and do workspace only, rather than workspace merely being the _preferred_ mode.

[2020-09-29 17:32] bwateratmsft commented on #2350
@alexr00 The task execution is executing in the right place (on the remote Linux server) but trying to use the wrong shell (powershell). Our code for this is [here](https://github.com/microsoft/vscode-docker/blob/master/src/utils/executeAsTask.ts#L11-L54). Any ideas what's going wrong? Is there an option we're forgetting to pass?

[2020-09-29 17:53] philliphoff commented on #2333
I assume that that API is the basis of the `docker copy` CLI command.  Unfortunately, that command isn't supported on Docker hosts configured to run Windows containers.  In that case, VS uses an ugly hack to stream the file out of the container via `docker exec`.

[2020-09-29 17:55] bwateratmsft commented on #2333
I don't know for sure about `docker cp`, but it is the basis of `docker export`.

[2020-09-29 17:58] philliphoff commented on #2333
I agree that a `FileSystemProvider` would be a nice way to expose container files, both for consumption by our extension as well as others that find a use.

[2020-09-29 18:58] #2283 closed

[2020-09-29 20:11] aliqamer opened #2357 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-docker`
- Extension Version: `1.6.0`
- OS Version: `Windows_NT x64 10.0.19041`
- VSCode version: `1.49.1`

[code]

[2020-09-29 20:14] bwateratmsft commented on #2357
@aliqamer Can you elaborate on what the issue is?

[2020-09-29 22:10] karolz-ms opened #2358 "Context panel shows "Switching..." UI forever"
VS Code 1.49.2 on Mac Catalina 10.15.6
Docker Extension 1.6.0

Repro steps
1. Create an ACI context
2. Right-click on the ACI context in the Context pane and choose "Use".

Expected: ACI context becomes the context-in-use and the UI updates accordingly

Actual: the UI remains in "Switching..." state forever

![image](https://user-images.githubusercontent.com/15271049/94621652-91713500-0265-11eb-92

[2020-09-29 23:46] karolz-ms commented on #2358
Some more observations:
- Refreshing the Contexts panel will "fix" it
- In the "Switching.." state the Container panel remains empty. So it is not just the Contexts panel that is not working--entire Docker view is in an intermediate, non-usable state

[2020-09-30 02:22] aliqamer commented on #2357
I was working on my flutter project during which I found the docker extension failed to load and it gave me a message to "report" the issue. It copied above json in the clipboard. if it doesn't make sense plz close it.

[2020-09-30 05:24] KennyChen0909 commented on #2350
@bwateratmsft Do we have a workaround for my customer for this issue?

[2020-09-30 06:36] oyyunttt opened #2359 "wsdeqwewewqewqeqw"

[2020-09-30 09:37] alexr00 commented on #2350
@bwateratmsft I will need to debug and see. There's nothing obvious I can think of.

[2020-09-30 10:19] alexr00 commented on #2350
Looks like we were falling back to the local details when there wasn't a folder open. It makes more sense to fallback to the first remote's details instead. Change has been pushed to VS Code. Please test it in insiders once it is available!

[2020-09-30 13:23] bwateratmsft commented on #2350
Thank you for the fast fix as always @alexr00! I'll try it out in Insiders ASAP.

@KennyChen0909 As a workaround, if you open any folder in the remote window (even an empty one) with File -> Open Folder, it should cause the commands to start working.

[2020-09-30 13:25] bwateratmsft commented on #2357
Gotcha. I see that is a very long code loading time (18341 ms), typically it's 500ms or less depending on OS. Does this happen regularly or is this the only time you've seen it?

[2020-09-30 13:27] bwateratmsft commented on #2358
I'm guessing something isn't calling back under some circumstances, e.g. after the `docker context use` we aren't getting the callback that it finished.

[2020-09-30 18:21] #2304 closed

[2020-09-30 18:21] #2324 closed

[2020-10-01 05:36] samuel-velazquez opened #2362 "Trials doc and point"
Issue Type: <b>Bug</b>

andwer process last component is call follow this element if region bool (line and set): as dynamic and time so attribute async like restore is hidden rigth embeding type off.

Extension version: 1.6.0
VS Code version: Code 1.49.2 (e5e9e69aed6e1984f7499b7af85b3d05f9a6883a, 2020-09-24T16:29:41.983Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summa

[2020-10-01 12:29] bwateratmsft opened #2363 "Open Dockerfile after "Add Dockerfiles" command"
Also use TAS for this so we can measure the effects.

[2020-10-01 13:39] bwateratmsft commented on #2350
@alexr00 everything seems to be working perfectly now, thank you!

@KennyChen0909 I'm going to close this as fixed since there's no additional work to be done in the Docker extension; I assume the fix should be available in VSCode 1.50.0; it is in Insiders now.

[2020-10-01 13:39] #2350 closed

[2020-10-01 16:10] #2290 closed

[2020-10-01 17:11] ppscarvalho opened #2364 "Erro"
Does this occur consistently?
Repro steps:

1.
2.

Action: vscode-docker.registries.azure.createRegistry
Error type: MissingSubscriptionRegistration
Error Message: The subscription is not registered to use namespace 'Microsoft.ContainerRegistry'. See https://aka.ms/rps-not-found for how to register subscriptions.

Version: 1.6.0
OS: win32
OS Release: 10.0.19041
Product: Visual Studio Code
Product

[2020-10-01 17:43] bwateratmsft commented on #2364
Duplicate of #2347

[2020-10-01 17:43] #2364 closed

[2020-10-01 17:50] ppscarvalho opened #2365 "problemas de publicação"
Does this occur consistently?
Repro steps:

1.
2.

Action: vscode-docker.registries.deployImageToAzure
Error type: MissingSubscriptionRegistration
Error Message: The subscription is not registered to use namespace 'Microsoft.Web'. See https://aka.ms/rps-not-found for how to register subscriptions.

Version: 1.6.0
OS: win32
OS Release: 10.0.19041
Product: Visual Studio Code
Product Version: 1.49.2

[2020-10-01 18:07] bwateratmsft commented on #2365
Essentially also identical to #2347

[2020-10-01 18:26] #2057 closed

[2020-10-01 21:02] bwateratmsft commented on #2326
Moving to future per our discussion. We'll await user feedback.

[2020-10-02 11:25] wanfengkai opened #2366 "Build image fails with exec: "com.docker.cli": executable file not found in $PATH on Mac, version 1.6.0"
Hi!

I'm using VScode for mac.

"Build image" worked for me with version 1.3.0. After updating to version 1.6.0, building image with a working Dockerfile fails with following error: "exec: "com.docker.cli": executable file not found in $PATH".

Restarting VScode & reboot computer didn't work.

**Environment**: I'm using latest version of Docker, VScode, MacOS Catalina.

**My workaround**: downgrad

[2020-10-02 12:55] #2300 closed

[2020-10-02 13:50] bwateratmsft commented on #2366
Did you open VSCode from Spotlight (<kbd>⌘</kbd> + <kbd>Space</kbd>)? It could be the same as #2254. There is a bug in OSX where much of the `PATH` variable is not filled in for apps launched from Spotlight.

[2020-10-02 14:15] Luis268 opened #2367 "erro de permissão"
Does this occur consistently?
Repro steps:

1.
2.

Action: vscode-docker.registries.pullRepository
Error type: 1
Error Message: Command failed: docker login  --username dabf3fdb5d04 --password-stdin
Got permission denied while trying to connect to the Docker daemon socket at unix:///var/run/docker.sock: Post http://%2Fvar%2Frun%2Fdocker.sock/v1.40/auth: dial unix /var/run/docker.sock: connect: per

[2020-10-02 14:16] #2367 closed

[2020-10-02 14:16] Luis268 commented on #2367
close

[2020-10-02 16:04] bwateratmsft commented on #2363
This is a very easy change so I'm going to add it to 1.7.0.

[2020-10-03 14:52] HannesOberreiter commented on #2366
I can report the same problem, using macOS Catalina (10.15.7), Docker Plugin 1.6.0, zsh terminal.

Does not matter if launched from terminal, application folder, spotlight (or alfred).

Cheers
Hannes

[2020-10-05 15:18] bwateratmsft opened #2369 "Consider changing default `docker logs` command to include `--tail`"
From [this comment](https://github.com/microsoft/vscode-docs/pull/3447#issuecomment-702955293). I think we should consider using e.g. `--tail 1000` in our default `docker logs` command, as it will help with long-running services.

[2020-10-05 15:24] bwateratmsft commented on #2366
@HannesOberreiter Does Docker still work if you use the terminal built-in to VSCode, or does it get the same error?

Seems like there could be more than one issue with `PATH` on OSX. It's not appropriate for the Docker extension to try manipulating the `PATH` variable so there's not really anything the extension can do. We should try to discover what the underlying problem is preventing it from be

[2020-10-05 15:34] bwateratmsft opened #2371 "Investigate ways to improve activation time"
We've just done a significant amount of improvement to code loading time. We should also see what can be done about activation time.

At the time of writing, for 1.6.0 the avg activation times are 278 ms for Linux, 388 ms for Mac, 541 ms for Windows. I'd like to get Windows (and the rest) below 200 ms if at all possible.

[2020-10-05 15:49] HannesOberreiter commented on #2366
@bwateratmsft you mean the integrated terminal? Yes, Docker is working inside.

![Example Integrated Terminal](https://user-images.githubusercontent.com/16878981/95101956-10b5ab80-0733-11eb-89bc-ab2f6ba3fcc9.gif)

[2020-10-05 15:55] bwateratmsft commented on #2366
Thanks! It looks like this user is hitting the same issue: https://stackoverflow.com/questions/64120020/exec-com-docker-cli-executable-file-not-found-in-path

Under the hood, our build / run /etc. tasks would be doing `zsh -c <the command>`, same as what that user is seeing. They said downgrading from 2.3.0.5 to 2.3.0.4 fixed it; in a [linked issue](https://github.com/docker/for-mac/issues/4956) i

[2020-10-05 16:07] HannesOberreiter commented on #2366
@bwateratmsft thanks for the research. I did not downgrade and upgrade but followed the advice from @mat007 in the linked [issue](https://github.com/docker/for-mac/issues/4956), to deactivate "Enable cloud experience".

Without this feature it is working again.

<img width="860" alt="Enable Cloud Experience" src="https://user-images.githubusercontent.com/16878981/95104034-a7836780-0735-11eb-84c2-0

[2020-10-05 16:09] bwateratmsft commented on #2366
@gtardif Any ideas? Might have something to do with new CLI.

[2020-10-05 21:01] BigMorty commented on #2343
I feel like it would get more noticed if we put it in the Containers panel not the Help & Feedback panel.

[2020-10-06 03:06] AXZV opened #2373 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-docker`
- Extension Version: `1.6.0`
- OS Version: `Windows_NT ia32 6.1.7601`
- VSCode version: `1.47.3`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\Saturn\ms-azuretools.vscode-docker-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-extension-c

[2020-10-06 13:44] #2320 closed

[2020-10-06 21:52] sergeyk commented on #2366
I hit this issue on Docker Desktop 2.4.0.0 today and disabling the "cloud experience" for command line in preferences fixed it.

[2020-10-07 02:20] xjoshbrownx opened #2374 "Trying to connect to docker container"
Issue Type: <b>Bug</b>

Trying to open docker at remote distro using prompts. Logs say .vscode-server/bin/xxxxxxxx/node not found.

![image](https://user-images.githubusercontent.com/11632883/95280058-1d64fd00-0822-11eb-8513-cfd9e8646184.png)

Extension version: 1.6.0
VS Code version: Code 1.49.3 (2af051012b66169dde0c4dfae3f5ef48f787ff69, 2020-10-02T17:57:01.595Z)
OS version: Windows_NT x64 10.0.1

[2020-10-07 04:46] samuel-velazquez opened #2375 "Builds for service css pass"
Issue Type: <b>Bug</b>

andwer request so back trial´s are model someone like string if regular expess only called in target blank ios platform (have) todo in setting or plug aset info talks yours tasks access time.

Extension version: 1.6.0
VS Code version: Code 1.49.3 (2af051012b66169dde0c4dfae3f5ef48f787ff69, 2020-10-02T17:57:01.595Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>Sy

[2020-10-07 05:58] PlkMarudny opened #2376 "Error 500 while trying to tag image using ipaddress:port/imagename format"
While trying to use tag for a local registry 10.0.x.x:5000/image, the extension reports the tag format is wrong.

Windows 10 Pro 1903

[2020-10-07 10:21] PavelSosin-320 commented on #2374
Your assumption that docker-desktop is a 'general-usage" WSL distro: wsl -d docker-desktop. But it is not. This is Docker Desktop dedicated distro. It is better to use another distro, Ubuntu for example, and configure its WSL integration in the Docker Desktop setting.
You will not be able to maintain Docker-desktop distro rootfs when it will be filled 100% by the Docker's artifacts.
In both cases,

[2020-10-07 14:46] GreatScott000 opened #2377 "ERROR: denied: requested access to the resource is denied"
Trying to push an image from Windows Server 2019 getting this error.

This is the first time I have tried to push an image from this server (Windows Server 2019 Datacenter, Azure VM).

It appears I am connected to the Docker Hub registry as I can see images I have pushed from another machine.
![image](https://user-images.githubusercontent.com/4333956/95346805-1f779c00-08b4-11eb-8ed9-104ba272317d.p

[2020-10-07 15:17] GreatScott000 commented on #2377
Please just ignore this.  I was being dumb.  I changed the root repository name rather the sub-repository I was looking to use.

[2020-10-07 15:17] #2377 closed

[2020-10-07 15:28] karolz-ms commented on #2376
@PlkMarudny can you please provide detailed repro steps?

In the example above there is no tag in the image name has no tag. See https://docs.docker.com/engine/reference/commandline/tag/ for examples

[2020-10-07 15:29] #2375 closed

[2020-10-07 17:20] karolz-ms commented on #2374
@PavelSosin-320 is right (thanks a bunch!)

@xjoshbrownx please use a general-purpose distro as the basis for a containerized development environment. For an overview of options check out https://code.visualstudio.com/docs/containers/choosing-dev-environment

[2020-10-07 17:20] #2374 closed

[2020-10-08 12:23] sjuratov opened #2378 "The terminal process failed to launch: Path to shell executable "C:\WINDOWS\System32\WindowsPowerShell\v1.0\powershell.exe" does not exist."
I am running VS Code on my local Windows VM.

I have installed VS Code Remote Development extension so that I can SSH to remote Ubuntu VM. After successful SSH to this remote VM, I was able to create new Docker image using docker cmdline.

Now I want to push this image to ACR, so I have installed VS Code Docker extension (I can see after install that it is SSH installed, not local). I can login to

[2020-10-08 14:06] bwateratmsft commented on #2375
This user is a bot continually posting spam all over the place. I reported them, no result yet.

[2020-10-08 14:12] bwateratmsft commented on #2373
@AXZV does this happen regularly?

[2020-10-08 14:15] bwateratmsft commented on #2378
Looks the same as #2350 which is a VS Code bug. Can you try opening a workspace folder on the remote side? Or use the latest VS Code Insiders build?

[2020-10-09 06:12] aliqamer commented on #2357
It happened just once so far, haven't been able to reproduce.

[2020-10-09 07:01] sjuratov commented on #2378
Opening a workspace folder on the remote side solved the problem. Thanks!

[2020-10-09 07:01] #2378 closed

[2020-10-09 13:09] bwateratmsft commented on #2357
Ok. Keep an eye on it; if you see it happen again we can investigate. We've done a lot of optimizations lately for code loading so hopefully it won't be an issue but sometimes weird stuff happens.

[2020-10-09 13:09] #2357 closed

[2020-10-09 13:13] bwateratmsft commented on #2376
This is by-design. This image name format isn't valid as @karolz-ms points out. The CLI lets you get away with it because it implicitly adds `:latest`, but the API requires you to be explicit. If I do `10.0.x.x:5000/image:latest` it works.

[2020-10-09 13:13] #2376 closed

[2020-10-09 14:13] bwateratmsft commented on #2366
I opened https://github.com/docker/compose-cli/issues/754 to track this.

[2020-10-09 14:18] #2363 closed

[2020-10-09 16:07] nicoleelarue opened #2379 "issue"
Does this occur consistently?
Repro steps:

1.
2.

Action: vscode-docker.registries.deployImageToAzure
Error type: MissingSubscriptionRegistration
Error Message: The subscription is not registered to use namespace 'Microsoft.Web'. See https://aka.ms/rps-not-found for how to register subscriptions.

Version: 1.6.0
OS: win32
OS Release: 10.0.18363
Product: Visual Studio Code
Product Version: 1.50.0

[2020-10-09 16:09] bwateratmsft commented on #2379
Essentially the same as #2347. Please check the link in the error message.

[2020-10-09 16:09] #2379 closed

[2020-10-09 22:33] zehxiong opened #2380 "Issue of not able to create plan"
Does this occur consistently?
Repro steps:

1.
2.

Action: vscode-docker.registries.deployImageToAzure
Error type: MissingSubscriptionRegistration
Error Message: The subscription is not registered to use namespace 'Microsoft.Web'. See https://aka.ms/rps-not-found for how to register subscriptions.

Version: 1.6.0
OS: darwin
OS Release: 18.6.0
Product: Visual Studio Code
Product Version: 1.48.2
Lan

[2020-10-10 03:23] owenwuwenxi opened #2381 "Subscription not registered to use microsoft.web"
Does this occur consistently?
Repro steps:

1.
2.

Action: vscode-docker.registries.deployImageToAzure
Error type: MissingSubscriptionRegistration
Error Message: The subscription is not registered to use namespace 'Microsoft.Web'. See https://aka.ms/rps-not-found for how to register subscriptions.

Version: 1.6.0
OS: win32
OS Release: 10.0.18363
Product: Visual Studio Code
Product Version: 1.48.2

[2020-10-10 09:49] v-ruizh opened #2382 "[Codespaces] The new created context does not exist in context view until refresh"
**OS:** Windows 10
**Build Version:** 20201009.1

**Repro Steps:**
1. Create a Linux Codespace and connect it.
2. Install Docker extension in this Codespace.
3. Create a new context using command and check it in context view.

**Expect:**
The new created context shows in context view.
![image](https://user-images.githubusercontent.com/45614674/95652010-9e710c80-0b20-11eb-8518-918f009785ff.png)

**

[2020-10-10 09:55] v-ruizh opened #2383 "[Codespaces] The context keeps "Switching" state after using a different one"
**OS:** Windows 10
**Build Version:** 20201009.1

**Repro Steps:**
1. Create a Linux Codespace and connect it.
2. Install Docker extension in this Codespace.
3. Create a new context.
4. Use this new context and check the result.

**Expect:**
Switch to the new context successfully.

**Actual:**
The context keeps "Switching" state after using a different one.
![image](https://user-images.githubuserc

[2020-10-11 14:56] Justpro77 opened #2385 "docker desktop not able to be uninstalled."
Does this occur consistently?
Repro steps:

1.
2.

Action: vscode-docker.contexts.inspect
Error type: 1
Error Message: Process 'docker context inspect default' exited with code 1
Error: exec: "com.docker.cli": executable file not found in %PATH%

Version: 1.6.0
OS: win32
OS Release: 10.0.19041
Product: Visual Studio Code
Product Version: 1.50.0
Language: en

<details>
<summary>Call Stack</summary>

[2020-10-11 17:27] PavelSosin-320 commented on #2385
In my  Docker Desktop CE 2.4.1 Docker version 19.03.13 installed on updated Windows build Such a problem doesn't exist anymore. It looks like Mirantis (the new Docker owner) already solved it with other issues. Try to upgrade without uninstalling.

[2020-10-12 10:00] adderrrallll opened #2386 "fell asleep"
Does this occur consistently?
Repro steps:

1.
2.

Action: vscode-docker.registries.azure.runFileAsTask
Error type: Error
Error Message: To run a task from a .yaml file you must have yaml file in your VS Code workspace.

Version: 1.6.0
OS: win32
OS Release: 10.0.18363
Product: VSCodium
Product Version: 1.50.0
Language: en-gb

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-10-12 13:47] bwateratmsft commented on #2381
Duplicate of #2347

[2020-10-12 13:47] #2381 closed

[2020-10-12 13:48] bwateratmsft commented on #2380
Duplicate of #2347

[2020-10-12 13:48] #2380 closed

[2020-10-12 13:54] bwateratmsft commented on #2385
@justpro77 can you add more details?

[2020-10-12 14:04] #2386 closed

[2020-10-12 14:05] bwateratmsft commented on #2382
@karolz-ms I assume because `~/.docker/config.json` can't be watched from within a codespace. IMO not a big deal, I don't think contexts would be used much if at all within codespaces.

[2020-10-12 14:06] bwateratmsft commented on #2383
Probably the same root cause as #2382, we issue the `docker context use` command and then wait until the context change event is picked up, but that event _can't_ be picked up from codespaces because we can't listen for changes to `~/.docker/config.json`.

[2020-10-12 15:28] karolz-ms commented on #2382
@bwateratmsft the ACI/ECS contexts might get some use, although there is an extra step of installing the new CLI into the codespace to take advantage of the Docker cloud integration. The scenario fits into the overall "stuff works great in the cloud" theme and I know that @BigMorty is eager to show Codespaces + ACI to the world.

That is why I think we will need to find a way to fix this, and rela

[2020-10-12 16:32] bwateratmsft opened #2389 "[Codespaces] Debugging .NET not possible in Codespaces"
This bug is for tracking at this time, but debugging .NET and Python is not possible in Codespaces due to the inability to do bind mounts.

[2020-10-12 16:34] bwateratmsft commented on #2383
Similar issue to #2358, maybe both can be fixed the same way and #2382 have an independent fix.

(#2358 might already be fixed)

[2020-10-12 17:09] bwateratmsft commented on #2371
I've done some investigating. On my (Windows) machine, the biggest delay is from `docker context ls`, unsurprisingly; about 600ms. Other slowish points were the calls to `setVsCodeContext` (about 20ms each), loading the Dockerode API (obviously needed otherwise it's less-efficient code loading time), and the filesystem checks for `~/.docker/...`.

We can make the calls to `setVsCodeContext` no lon

[2020-10-12 17:36] mertker opened #2390 "vs code debug project"
Does this occur consistently?
Repro steps:

1.
2.

Action: debugCoreClr
Error type: SyntaxError
Error Message: Unexpected token e in JSON at position 0

Version: 1.6.0
OS: win32
OS Release: 10.0.19041
Product: Visual Studio Code
Product Version: 1.50.0
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

launch.json

{
  "version": "0.2.0",
  "compounds": [
    {
      "name"

[2020-10-12 17:37] mertker commented on #2390
docker file

FROM mcr.microsoft.com/dotnet/core/aspnet:3.1-buster-slim AS base
WORKDIR /app
EXPOSE 80

FROM mcr.microsoft.com/dotnet/core/sdk:3.1-buster AS build
WORKDIR /src
COPY ["Services/Identity/Identity.API/Identity.API.csproj", "Services/Identity/Identity.API/"]
RUN dotnet restore "Services/Identity/Identity.API/Identity.API.csproj"
COPY . .
WORKDIR "/src/Services/Identity/Identity.API"
RUN

[2020-10-12 17:39] bwateratmsft commented on #2390
@mertker The `docker-coreclr` debug configuration has been deprecated for some time now and will be removed entirely in the upcoming 1.7.0 release. Please switch over to a [`docker` debug configuration](https://code.visualstudio.com/docs/containers/debug-common). You can run `Docker: Initialize for debugging` to create the debug config and tasks.

[2020-10-12 17:39] #2390 closed

[2020-10-12 18:49] bwateratmsft commented on #2191
We'll close this issue for now unless we hear from customers. I have seen something like this occur on multiple platforms--debugging "starts" but never attaches and continues, and the site isn't running. Since it's occurred on multiple platforms I suspect it is a VSCode issue. In any case, we cannot reliably reproduce this so we'll close for now.

[2020-10-12 18:49] #2191 closed

[2020-10-13 00:22] #2337 closed

[2020-10-13 08:35] v-ruizh opened #2391 "[Codespaces] Fail to create a new ACI context in codespace environment"
**OS:** Windows 10
**Build Version:** 20201012.4

**Repro Steps:**
1. Connect to a codespace and install [new CLI](https://github.com/docker/compose-cli/blob/main/INSTALL.md#ubuntu-linux-installation) into this codespace.
2. Right click on one image in the registries view -> Deploy Image to Azure Container Instances... -> Create a new ACI context following the wizard.
3. Check the result.

**Expec

[2020-10-13 08:56] v-ruizh opened #2392 "There is no default resource group name if select "+Create new resource group" during new ACI context creation"
**OS:** Windows 10
**Build Version:** 20201012.4

**Repro Steps:**
1. Right click on one image in the registries view -> Deploy Image to Azure Container Instances... -> Create new ACI context -> Enter a name for ACI context -> Click "+Create new resource group".
2. Check the default resource group name.

**Expect:**
There is a default resource group name which is the same with ACI context name.

*

[2020-10-13 09:18] v-ruizh opened #2393 "There is no response when executing "Build Image..." command with Dockerfile in subfolder"
**OS:** Windows 10
**Build Version:** 20201012.4

**Repro Steps:**
1. Create a new express app and put it into one folder "Test", the project folder as a subfolder
2. Open the folder "Test" in VS Code.
3. F1 -> Docker: Add Docker Files to Workspace... -> Node.js -> Select "expressappfolder\package.json" -> 3000 -> Include the Docker Compose files or not.
4. Right click Dockerfile and select "Build

[2020-10-13 13:29] bwateratmsft commented on #2391
@karolz-ms this is definitely going to be an issue. Any ideas how to solve it?

[2020-10-13 13:45] bwateratmsft commented on #2393
I was not able to reproduce:
![image](https://user-images.githubusercontent.com/36966225/95868877-bd49eb80-0d38-11eb-958a-7555e1270f2b.png)

Can you try again and see if it still happens?

[2020-10-13 15:00] bwateratmsft commented on #2393
I am able to reproduce on the latest Insiders build. I'm investigating now.

[2020-10-13 15:06] bwateratmsft commented on #2393
@alexr00 it looks like something is happening within the task system in the latest Insiders build. This does not reproduce in 1.50.0. Our code successfully finds the task to execute, then calls `vscode.tasks.executeTask(task)`. Nothing seems to happen, but I see this in the Debug Console of the outer VSCode window (which is debugging our extension):

![image](https://user-images.githubusercontent.

[2020-10-13 15:13] bwateratmsft commented on #2393
@shivangg FYI, I saw that you recently added the feature which seems to be throwing the exception.

[2020-10-13 15:39] bwateratmsft commented on #2393
I've found that if I change the setting `npm.packageManager` to `npm`, the issue no longer occurs; this must be a regression. I opened https://github.com/microsoft/vscode/issues/108610 for it.

[2020-10-14 05:45] amacqueenuralla opened #2395 "Docker returned an error. Make sure the Docker daemon is running - RPI Remote Containers VSCode"
Hi Knowledgeable VSCoders,

I have configured an RPI3 with Raspbian for remote Docker container use with VSCode from a Win10 host to the RPI. I have configured the Container IP ranges to the same ranges as the Docker server. I can start and use the container from the VSCode Terminal, but when I try to attach a VSCode session to the container VSCode sends the error:

"Docker returned an error. Make

[2020-10-14 06:52] PavelSosin-320 commented on #2395
@amacqueenuralla Sorry! only hint. Try to ping your remote docker from Windows using curl and [followinf this spec](https://docs.docker.com/engine/api/v1.21/) - you will know if it is really alive and accessible. It will be fast.

[2020-10-14 06:55] Justpro77 commented on #2385
I already solved , thank you guys.

[2020-10-14 09:06] chong1144 opened #2396 "Failed to attach vscode"
## Behaviour
Failed to attach vscode to an already running containers
![image](https://user-images.githubusercontent.com/35533252/95967532-efde0c00-0e3e-11eb-9810-45e8e9775381.png)

![image](https://user-images.githubusercontent.com/35533252/95967750-2e73c680-0e3f-11eb-9089-169a9c081959.png)

However, attach shell works fine, which means `docker exec` is okay.

![image](https://user-images.githubu

[2020-10-14 09:07] chong1144 commented on #2396
It really confused me a lot. Also, it did work.
Hope someone can help. Thanks!

[2020-10-14 10:09] irinazheltisheva opened #2397 "Docker"
Does this occur consistently?
Repro steps:

1.
2.

Action: debugCoreClr
Error type: Error
Error Message: No workspace folder is associated with debugging.

Version: 1.6.0
OS: win32
OS Release: 10.0.18363
Product: Visual Studio Code
Product Version: 1.50.0
Language: ru

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-10-14 10:10] irinazheltisheva commented on #2397
- открыть докер-расширение

[2020-10-14 10:20] irinazheltisheva opened #2398 "докер-расширение"
Does this occur consistently?
Repro steps:

1.
2.

Action: debugCoreClr
Error type: Error
Error Message: No workspace folder is associated with debugging.

Version: 1.6.0
OS: win32
OS Release: 10.0.18363
Product: Visual Studio Code
Product Version: 1.50.0
Language: ru

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-10-14 12:42] bwateratmsft commented on #2396
@chong1144 The "Attach Visual Studio Code" feature is actually part of the [Remote - Containers](https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.remote-containers) extension. Can you open an issue in their repo here: https://github.com/microsoft/vscode-remote-release

[2020-10-14 12:42] #2396 closed

[2020-10-14 12:46] #2385 closed

[2020-10-14 12:47] bwateratmsft commented on #2397
Duplicate of #1451

[2020-10-14 12:47] #2397 closed

[2020-10-14 12:47] bwateratmsft commented on #2398
Duplicate of #1451

[2020-10-14 12:47] #2398 closed

[2020-10-14 12:48] bwateratmsft commented on #2395
@amacqueenuralla Are you using the `DOCKER_HOST` environment variable to connect to the remote Docker daemon? Do you know if it is using SSH or TCP to reach it?

[2020-10-14 12:51] bwateratmsft commented on #2393
This is now fixed in today's Insider's build:
![image](https://user-images.githubusercontent.com/36966225/95991183-77555c00-0dfa-11eb-8c73-7d29ef88373a.png)

[2020-10-14 12:51] #2393 closed

[2020-10-14 15:12] bwateratmsft commented on #2296
Want to reduce excessive toasting.

[2020-10-14 15:12] #2296 closed

[2020-10-14 17:23] bwateratmsft opened #2399 "Test extension on arm64"
Many Mac users will start to have arm64 processors (Apple Silicon). Need to find a way to test out the extension in arm64, preferably arm64 OS X.

[2020-10-14 17:26] bwateratmsft commented on #2399
Related: https://github.com/dotnet/dotnet-docker/issues/2139

[2020-10-14 21:18] amacqueenuralla commented on #2395
Hi Brandon,

I believe it is an SSH connection (I am just using the standard VSCode Docker Container menu item ‘Attach Visual Studio Code’.)
I haven’t called the DOCKER_HOST environment variable to connect, my understanding is that this should not be required in my
setup. Is this correct?
My container config just specifies the IP range to allow network connectivity  from the VSCode server.

Ie. I

[2020-10-14 21:20] amacqueenuralla commented on #2395
You are correct, even though the VSCode server connects to the development system, it cannot reach an active container.

From: PavelSosin-320 [mailto:notifications@github.com]
Sent: Wednesday, 14 October 2020 5:53 PM
To: microsoft/vscode-docker
Cc: Aidan Macqueen; Mention
Subject: Re: [microsoft/vscode-docker] Docker returned an error. Make sure the Docker daemon is running - RPI Remote Containers

[2020-10-14 21:33] kzawad1 opened #2400 "Getting error Invalid URL user@ip in Visual Studio Code Remote Containers after Reopen Locally"
Does this occur consistently? YES
Repro steps:

1. In Visual Studio Code Remote Containers and connected to container.
2. Choose Reopen Locally.
3. Wait until Visual Studio Code reopens locally.

Action: docker-context.initialize
Error type: ERR_INVALID_URL
Error Message: Invalid URL: user@x.x.x.x

Version: 1.6.0
OS: linux
OS Release: 5.4.0-51-generic
Product: Visual Studio Code
Product Version: 1

[2020-10-15 05:20] whuera opened #2401 "docker error"
Does this occur consistently?
Repro steps:

1.
2.

Action: vscode-docker.registries.pullImage
Error type: 1
Error Message: Command failed: docker login  --username whuera --password-stdin
Got permission denied while trying to connect to the Docker daemon socket at unix:///var/run/docker.sock: Post http://%2Fvar%2Frun%2Fdocker.sock/v1.40/auth: dial unix /var/run/docker.sock: connect: permission den

[2020-10-15 09:32] v-ruizh opened #2402 "No error occurs if fail to create a new ACR during executing push action"
**OS:** Windows 10
**Build Version:** 20201014.2

**Repro Steps:**
1. Right click one image and select "Push..." -> Select "+ Create new registry..." to create a new ACR with "Australia Central" location.
2. Check the result.

**Expect:**
An error occurs during ACR creation.
![image](https://user-images.githubusercontent.com/45614674/96104945-08682800-0f0c-11eb-9ab8-8f91445769ca.png)

**Actual:**

[2020-10-15 09:38] v-ruizh opened #2403 "[Suggestion] Remove the unsupported location from the location list when creating a new ACR"
**OS:** Windows 10
**Build Version:** 20201014.2

**Repro Steps:**
Create a new ACR with "Australia Central" location.

**Actual:**
Fail to create the ACR with an error.
![image](https://user-images.githubusercontent.com/45614674/96105537-ba075900-0f0c-11eb-9e50-d2a3034b893c.png)

**Suggestion:**
Remove the unsupported location from the location list.
![image](https://user-images.githubusercontent

[2020-10-15 09:56] v-mengwe opened #2404 "The running container is not automatically displayed in the "Container" list after executing "Run" command with the other software is opening"
**OS:** Mac
**Build Version:** 20201014.2

**Repro steps:**

1. Open VS Code -> Navigation to Docker Image node -> Expand the Image node -> Open other software (e.g. Terminal).
2. Right click an image ->  Select "Run".
3. Check the result.

**Expect:**
The running container is automatically displayed in the "Container" list.

**Actual:**
The running container is not automatically displayed in the

[2020-10-15 12:39] PavelSosin-320 commented on #2404
Docker runs containers asynchronously and emits Docker events about container status changes.  What is the running container exactly, Docker ps list, keepalive response is OK. Docker container ls with a certain filter like status=running. docker wait doesn't show the container exit code?
Even orchestration engines give different answers to the Docker service ps and ls questions.
Container exists a

[2020-10-15 13:35] bwateratmsft commented on #2400
@kzawad1 what do you have for `docker.host` / `DOCKER_HOST`?

[2020-10-15 13:36] bwateratmsft commented on #2401
@whuera have you followed the [steps](https://docs.docker.com/engine/install/linux-postinstall/) to enable using Docker as a non-root user on Linux?

[2020-10-15 13:37] bwateratmsft commented on #2403
We would need a good way to know and maintain a list of what regions are supported.

[2020-10-15 13:42] bwateratmsft commented on #2395
I'm not sure I totally follow your scenario. You have VSCode installed on a Windows 10 machine and Docker on a Raspberry Pi. You then used remoting to attach to the Raspberry Pi, correct? And from there, you want to attach to a container on the Raspberry Pi?

[2020-10-15 13:46] bwateratmsft commented on #2404
I think this is a consequence of VSCode's implementation on Mac, along with our logic to stop refreshing if VSCode does not have focus. I'll double check but if so there isn't anything we could do to fix it.

[2020-10-15 13:48] bwateratmsft commented on #2402
I can reproduce, I'll take a look. Doesn't seem urgent for 1.7.0 though.

[2020-10-15 13:54] bwateratmsft commented on #2402
The code at "fault" here is [this](https://github.com/microsoft/vscode-docker/blob/master/src/commands/images/pushImage.ts#L33-L40). I'm struggling to remember why I implemented it this way but I think it was so that a user could push images without having a matching registry connected.

[2020-10-15 14:11] kzawad1 commented on #2400
I am not setting the DOCKER_HOST manually.  However, the ~/.config/Code/User/settings.json file is set to:
[code]

[2020-10-15 14:17] bwateratmsft commented on #2400
Are you using SSH to connect? If so try changing that `docker.host` value to `ssh://user@x.x.x.x`.

[2020-10-15 14:37] kzawad1 commented on #2400
Modifying that value worked:
[code]

No more error.

[2020-10-15 14:37] #2400 closed

[2020-10-15 18:09] amacqueenuralla commented on #2395
Yes, that is correct.

On 16 Oct 2020 12:43 am, "Brandon Waterloo [MSFT]" <notifications@github.com> wrote:

I'm not sure I totally follow your scenario. You have VSCode installed on a Windows 10 machine and Docker on a Raspberry Pi. You then used remoting to attach to the Raspberry Pi, correct? And from there, you want to attach to a container on the Raspberry Pi?

-
You are receiving this becaus

[2020-10-15 18:12] bwateratmsft commented on #2395
Ok. In that case my recommendation would be to set up [SSH tunneling](https://code.visualstudio.com/docs/containers/ssh) to allow you to reach the Docker daemon from the Win10 machine. Then you can attach to the container directly, without needing to first do Remote - SSH to the Raspberry Pi.

[2020-10-15 18:20] amacqueenuralla commented on #2395
Thank you, I will implement and let you know how it turns out.

It would be good to understand the process to resolve the original issue. The inbuilt functions are more convenient for multiple  containers. Do you have any thoughts on a resolution?
Thank you in advance

On 16 Oct 2020 5:13 am, "Brandon Waterloo [MSFT]" <notifications@github.com> wrote:

Ok. In that case my recommendation would be t

[2020-10-15 18:25] kzawad1 opened #2405 "Remote-Containers Attach to Running Container gives error stream ended with 125"
Performing the following:

1. From **Visual Studio Code**, select **View | Command Palette...**.
2. Enter text "Remote-Containers: Attach".
3. Select "Remote-Containers: Attach to Running Container...".
4. Wait for Visual Studio Code to connect to the target and get a list of containers.
5. Select the specific container.
6. Wait for the attach process to execute and the following error to be displ

[2020-10-15 18:47] bwateratmsft commented on #2405
This would be an issue with [Remote - Containers](https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.remote-containers), their repo is [here](https://github.com/microsoft/vscode-remote-release). Can you open this there?

[2020-10-15 18:47] #2405 closed

[2020-10-15 18:53] bwfilms opened #2406 "Debug with Console.ReadLine"
I have a simple .NET Core C# console app running inside a Linux docker.

string message = Console.ReadLine();
Console.WriteLine(message);

When debug, I see no way of entering data for the Console.ReadLine().

I've done searches and using "console": "integratedTerminal" in the launch.json file only works for non-docker-hosted app.

[2020-10-15 19:11] bwateratmsft commented on #2406
I'm not sure if this will be possible because stdin and stdout are used by vsdbg to do the actual debugging.

@philliphoff do you have any ideas on how to do this?

[2020-10-15 19:46] ke6jjj commented on #2254
Rather than closing this issue, could someone perhaps update the extension so that the user can enter the full path to the docker CLI in `settings.json`?

[2020-10-15 21:08] samuel-velazquez opened #2407 "Process get and member descripts node url"
Does this occur consistently?
Repro steps:

1.
2.

Action: vscode-docker.registries.pullRepository
Error type: 1
Error Message: Command failed: docker login  --username sesoshumanos --password-stdin
"docker" no se reconoce como un comando interno o externo,
programa o archivo por lotes ejecutable.

Version: 1.6.0
OS: win32
OS Release: 10.0.17134
Product: Visual Studio Code
Product Version: 1.50.1

[2020-10-16 09:02] v-mengwe opened #2408 "The port of docker-compose.yml file is blank when adding compose files to workspace with port 443 for a ASP.NET Core mvc project"
**OS:** All
**Build Version:** 20201014.2

**Repro steps:**

1. Create a .NET Core Console app by "dotnet new console".
2. Open the project in VS Code --> Prompt to add the required assets --> Yes.
3. F1 --> Type and select "Docker: Add Docker Files to Workspace..." --> ASP.NET Core --> Linux
 --> Include optional Docker Compose files --> Ports: 80,443.
4. Check the docker-compose.yml file.
5. F1

[2020-10-16 09:02] v-ruizh opened #2409 "There is no validation when inputting a duplicate ACI name"
**OS:** All
**Build Version:** 20201014.2

**Repro Steps:**
1. Create a new ACI context.
2. Click "Create ACI context" button and input the above ACI name.

**Expect:**
There is a validation to say the context already exists.

**Actual:**
There is no validation when inputting a duplicate ACI name.
![image](https://user-images.githubusercontent.com/45614674/96238553-34011600-0fd1-11eb-8269-fbb35842

[2020-10-16 09:08] v-ruizh opened #2410 "There is no validation when inputting an invalid Docker ID during connecting to Docker Hub registry"
**OS:** All
**Build Version:** 20201014.2

**Repro Steps:**
F1 -> Docker Registries: Connect Registry... -> Select Docker Hub -> Enter an invalid Docker ID.

**Expect:**
There is a validation, like sign in from website.
![image](https://user-images.githubusercontent.com/45614674/96239186-fa7cda80-0fd1-11eb-9559-262631600a32.png)

**Actual:**
There is no validation.
![image](https://user-images.git

[2020-10-16 10:49] v-ruizh opened #2411 "An error occurs when debugging Django/Flask project with host network"
**OS:** Windows 10
**Build Version:** 20201014.2

**Repro Steps:**
1. Open a Python Django project in VS Code.
2. Add Dockerfile and docker compose files to it.
3. Execute "Compose Up" for docker-compose.yml file.
4. In the task "docker-run: debug", add the host network in the dockerRun property:
"dockerRun": {
"network": "host"
}
5. F5.

**Expect:**
No error occurs during debugging.

**Actual:**

[2020-10-16 11:29] v-mengwe opened #2412 "Fail to execute the "Docker Images: Run Azure CLI" command on Mac"
**OS:** Mac
**Build Version:** 20201014.2

**Repro steps:**

1. Run command : `docker login` -> Enter GitHub username and password.
2. F1 -> Type and select: "Docker Images: Run Azure CLI".
3. Check the result.

**Expect:**
Succeed to execute the "Docker Images: Run Azure CLI" command.

**Actual:**
Fail to execute the "Docker Images: Run Azure CLI" command.
![Screen Shot 2020-10-16 at 7 04 02 PM](

[2020-10-16 13:34] dschuessler opened #2413 "Attaching shell does not focus terminal"
Steps to reproduce on macOS:

1. Start up some Docker container that runs indefinitely.
2. Shift+Cmd+P (or whatever opens the command picker on other systems besides macOS)
3. Select "Docker Containers: Attach Shell"
4. Select the container

Expected behavior: A terminal is opened and I can type in it right away.
Actual behavior: A terminal is opened but it is out of focus. I have to click on the

[2020-10-16 13:58] bwateratmsft commented on #2412
Strange. There's probably an MCR image we should switch to, though.

[2020-10-16 13:59] bwateratmsft commented on #2411
This is a limitation of the way Python debugging works. Only the bridge network can be used.

[2020-10-16 13:59] #2411 closed

[2020-10-16 14:01] bwateratmsft commented on #2410
This is by design for now; that same username prompt is shared by all registries so there wouldn't necessarily be consistent naming rules.

[2020-10-16 14:01] #2410 closed

[2020-10-16 14:01] bwateratmsft commented on #2409
Should be a relatively easy enhancement.

[2020-10-16 14:02] bwateratmsft commented on #2408
This is sort of by design; we intentionally remove 443 in the compose file for .NET because setting up HTTPS is far too complicated with compose. However, ideally that `ports:` should not show up.

[2020-10-16 14:03] bwateratmsft commented on #2407
Go away bot

[2020-10-16 14:03] #2407 closed

[2020-10-16 14:12] bwateratmsft commented on #2395
Another possibility is that you have the Docker extension in UI mode. If you go to the Extensions tab and find the Docker extension, is there an option to install the extension in the remote server (the Raspberry Pi)?

[2020-10-16 14:17] bwateratmsft commented on #2413
I'm not able to reproduce the issue, what has focus in the bottom pane when it happens for you?

[2020-10-16 14:44] bwateratmsft commented on #2404
Yep, I verified--this is because the window is not considered focused in this scenario. We can't fix this without going back to refreshing when the window is out of focus, which we don't want to do for perf reasons.

[2020-10-16 14:44] #2404 closed

[2020-10-16 14:56] bwateratmsft commented on #2408
@karolz-ms I'm curious what you think would be the best way to handle this...should we just put 80 back in?

[2020-10-16 15:24] bwateratmsft commented on #2403
Looks like there is no way to list locations for container registries, unlike app service which has `WebsiteManagementClient.listGeoRegions()`. I don't really want to try to maintain a list of supported regions as it would be too easy to let it get out of date. I think the best approach therefore is to leave things as they are; users might hit errors but at least we wouldn't be accidentally blocki

[2020-10-16 15:24] #2403 closed

[2020-10-16 15:35] bwateratmsft commented on #2402
IIRC we wanted to catch and ignore the `NoResouceFoundError` [sic]. This error isn't exposed by `vscode-azureextensionui`'s API so we would need to expose it there if we want to specifically catch and ignore that error but not others.

[2020-10-16 15:59] karolz-ms commented on #2408
I think we should
1. Stop scaffolding HTTPS ports at all (we have ample customer evidence to support this change)
1. Use whatever ports the user specified and not assume that 443 == HTTPS

[2020-10-16 16:49] bwateratmsft commented on #2408
Won't hear any argument from me. :smile:

[2020-10-16 16:51] bwateratmsft commented on #2094
Moving this out of 1.7.0 to draw attention to it in triage.

[2020-10-16 17:37] karolz-ms commented on #2094
This has been done by @ghogen https://code.visualstudio.com/docs/containers/app-service#_deploy-to-aci

[2020-10-16 17:37] #2094 closed

[2020-10-16 17:51] rugk opened #2418 "(Optionally) ask for project name at Docker compose start"
**Use case:** If you use Docker compose, you may have multiple project names for one `docker-compose.yml` in order to start/stop different "instances".
I want to quickly switch between them/execute them, preferably with <kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>P</kbd>.

**Solution:** Docker has the [`COMPOSE_PROJECT_NAME`](https://docs.docker.com/compose/reference/envvars/#compose_project_name) varia

[2020-10-16 17:56] bwateratmsft commented on #2418
You may find this useful for your use case: https://code.visualstudio.com/docs/containers/reference#_command-customization

You could customize several different Compose Up commands and choose which one you want to run.

[2020-10-16 18:55] #474 closed

[2020-10-16 18:55] #2412 closed

[2020-10-16 19:17] rugk commented on #2418
Indeed, thanks, this is a nice solution too, for now.
However, it seems to be missing `docker.commands.composeRestart`, i.e. the quite handy "Docker compose restart" command.
It asks for these then, but that is not really convenient.

[2020-10-17 05:41] JustinGrote commented on #37
This is also available on schemastore:
https://www.schemastore.org/json/

[2020-10-17 15:31] RJ-0605 opened #2419 "Docker causing high cpu usage"

[2020-10-19 13:41] bwateratmsft commented on #2419
@RJ-0605 does this happen consistently?

[2020-10-19 13:55] bwateratmsft commented on #2057
This is now fixed in Docker extension version 1.7.0.

[2020-10-19 13:56] bwateratmsft commented on #2350
This is now fixed in VSCode 1.50.

[2020-10-19 13:56] bwateratmsft commented on #2304
This is now fixed in Docker extension version 1.7.0.

[2020-10-19 13:56] bwateratmsft commented on #2324
This is now fixed in Docker extension version 1.7.0.

[2020-10-19 13:56] bwateratmsft commented on #2264
This is now fixed in Docker extension version 1.7.0.

[2020-10-19 13:57] bwateratmsft commented on #2197
This is now removed in Docker extension version 1.7.0.

[2020-10-19 13:57] bwateratmsft commented on #2165
This is now fixed in Docker extension version 1.7.0.

[2020-10-19 13:57] bwateratmsft commented on #2272
This is now fixed in Docker extension version 1.7.0.

[2020-10-19 13:57] bwateratmsft commented on #2313
This is now fixed in Docker extension version 1.7.0.

[2020-10-19 13:57] bwateratmsft commented on #1961
This is now fixed in Docker extension version 1.7.0.

[2020-10-19 13:57] bwateratmsft commented on #2271
This is now fixed in Docker extension version 1.7.0.

[2020-10-19 13:57] bwateratmsft commented on #2259
This is now fixed in Docker extension version 1.7.0.

[2020-10-19 13:59] #2369 closed

[2020-10-19 13:59] #2409 closed

[2020-10-19 15:51] bwateratmsft commented on #2399
Some quick canary testing on my Raspberry Pi yielded no issues aside from .NET debugging not being possible (because the C# extension does not support arm64 at this time).

[2020-10-19 15:52] #2399 closed

[2020-10-19 16:59] bwateratmsft commented on #2406
@gregg-miskelly do you know if this is possible?

[2020-10-19 17:18] #2366 closed

[2020-10-19 17:19] #2358 closed

[2020-10-19 17:36] PavelSosin-320 commented on #2264
Docker context is a fully client-side feature and requires only one docker context use command per workspace switch
and it provides info containing docker-host as JSON for parsing convinience. There is no reason to correct SDK if it is not used directly.
C:\WINDOWS\system32>docker context inspect docker-wsl
[_
    {
        **"Name": "docker-wsl",
        "Metadata": {
            "StackOrchestrat

[2020-10-19 18:24] gregg-miskelly commented on #2406
Here is how I think we could do this --

First, we need to add a little helper program to the container which will relay Debug Adapter Protocol. This will need to:
   * Create a unique UNIX domain socket name
   * Open a domain socket with that name, and wait for a connection
   * Send the name back to your code
   * Once vsdbg connects: forward on traffic until disconnect

To launch we:
1. Tell t

[2020-10-19 19:41] RJ-0605 commented on #2419
yeah it does it makes work quite sloe to complete and i  i use this on an ubuntu linux os version

Distributor ID:	Ubuntu
Description:	Ubuntu 18.04.5 LTS
Release:	18.04
Codename:	bionic

[2020-10-19 19:46] bwateratmsft commented on #2419
Are things still slow if you disable the Docker extension?

[2020-10-19 20:04] bwateratmsft commented on #2406
Would all this be code changes or is this something the user could do?

[2020-10-19 21:19] karolz-ms commented on #2418
Docker will be adding project name as a Compose spec property: https://github.com/compose-spec/compose-spec/issues/106

I believe this will cover your needs @rugk, but if not, or if you have other suggestions, please share!

[2020-10-19 21:19] #2418 closed

[2020-10-19 23:48] gregg-miskelly commented on #2406
I just realized that this issue was about VS Code (sorry, I was thinking VS).

If you use remote extension support I would have thought that `"console": "integratedTerminal"` would just work. If not, this feels like a bug in the VS Code remote extension support. I just verified this work with WSL, so I would assume it also works for Docker.

If you can't use remote extension support (ex: if you ca

[2020-10-20 04:11] PavelSosin-320 commented on #2033
JFrog with Artifactory - used by SAP, all enterprises which use SAP, Finance, Helth services .... because its security is approved by certain agencies.
Kubernetes Clusters used in Cloud and on-premise infrastructure have a mechanism to store needed credentials in a secure manner based on Docker secrets with Kubernetes and Docker namespace isolation.
DockerHub is not for everybody!

[2020-10-20 04:45] PavelSosin-320 commented on #2406
The name of the trick is socat to / from STDIN and STDOUT. Everybody can do it. Unfortunately, socat is in /out from distros and containers due to security considerations.

[2020-10-20 07:23] rugk commented on #2418
Thanks, yeah. That does it exactly! :smiley:

[2020-10-20 08:35] jeroendk commented on #2413
Got the same issue. When the focus is on the code editor before opening, the code editor keeps the focus. When I have another terminal focused, the focus completely disappears.

[2020-10-20 13:16] #2351 closed

[2020-10-20 14:52] bwateratmsft commented on #2413
Ok, with my cursor in the text editor window, focus stayed there. I'll take a look.

[2020-10-20 15:01] bwateratmsft commented on #2413
I found the root cause and the fix should be quite simple.

[2020-10-20 15:25] bwateratmsft commented on #2406
@bwfilms does @gregg-miskelly's suggestion above work? I don't think this is a common enough scenario for us to make code changes but we do want to help you work around it if possible.

[2020-10-20 15:52] #2413 closed

[2020-10-20 17:55] #2356 closed

[2020-10-21 03:04] samuel-velazquez opened #2423 "Component rigth do self track graph"
Does this occur consistently?
Repro steps:

1.Back for them is again C# list 1|1 counter feedbacks class
2.Draft span left sum this object is char graph single andwer drop as layer text

Action: vscode-docker.registries.pullRepository
Error type: 1
Error Message: Process 'docker login --username "sesoshumanos" --password-...' exited with code 1
Error: "docker" no se reconoce como un comando intern

[2020-10-21 09:46] v-ruizh opened #2424 "An error occurs when adding docker files to workspace"
**OS:** Windows 10
**Build Version:** 20201020.8
**VS Code Insider build:**
![image](https://user-images.githubusercontent.com/45614674/96702898-ce43ce00-13c4-11eb-8efa-c9a7b6a31cae.png)

**Repro Steps:**
1. Create a .NET Core Console app by "dotnet new console".
2. Open the project in VS Code --> Prompt to add the required assets --> Yes.
3. F1 --> Type and select "Docker: Add Docker Files to Wor

[2020-10-21 13:00] #2423 closed

[2020-10-21 13:21] bwateratmsft commented on #2424
I can reproduce.

[2020-10-21 13:55] mtahle opened #2425 "cannot build docker image in vs code"
Does this occur consistently?
Repro steps:

1.
2.

Action: vscode-docker.images.build
Error type: Error
Error Message: To build Docker files you must first open a folder or workspace in VS Code.

Version: 1.7.0
OS: darwin
OS Release: 19.6.0
Product: Visual Studio Code
Product Version: 1.50.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-10-21 14:10] bwateratmsft commented on #2425
@mtahle you will need to open a workspace folder or workspace to build Docker images.

[2020-10-21 14:10] #2425 closed

[2020-10-22 00:54] phpreza opened #2426 "crash over!"
Does this occur consistently?
Repro steps:

1.
2.

Action: vscode-docker.contexts.inspect
Error type: 1
Error Message: Process 'docker context inspect default' exited with code 1
Error: 'docker' is not recognized as an internal or external command,
operable program or batch file.

Version: 1.7.0
OS: win32
OS Release: 10.0.19041
Product: Visual Studio Code
Product Version: 1.50.1
Language: en

<det

[2020-10-22 07:53] wanfengkai opened #2427 "Build image from Dockerfile fails in version 1.5-1.7."
Sorry for raise this issue again but the same issue arise in newest version again.
**Mirroring issue:**
[https://github.com/microsoft/vscode-docker/issues/2366](https://github.com/microsoft/vscode-docker/issues/2366)

**Problem description:**
This bug emerges continuously from version 1.5.0 to 1.7.0.

Right click & build image in VScode only works with version 1.4.0 and older ones.

The bug could

[2020-10-22 10:30] Frickeldave commented on #206
Yes. please implement. For some reason in our project the compose-files are named "Composefile". With file associations i can associate them with YAML, but not with docker-compose. This results in "No Intellisense" and "No options in right-click context menu".

[2020-10-22 10:35] v-mengwe opened #2428 "[Suggestion] Keep the terminal logs consistently when executing "Compose Restart/Down" commands with different methods"
**OS:** Mac
**Build Version:** 20201020.8

**Repro Steps:**

1. Right click any compose group -> Select "Compose Restart/Down" -> Check the terminal logs.
2. F1 -> Type and select "Compose Restart/Down" -> Select a docker compose file -> Check the terminal logs.

**Actual:**
The terminal logs are inconsistent.

**Suggestion:**
Keep the terminal logs consistently.

**More Info:**

1. Right click an

[2020-10-22 14:25] bwateratmsft commented on #2427
This is the same issue as #2366, it is due to a bug in Docker Desktop. I've opened https://github.com/docker/compose-cli/issues/754 against them for it.

[2020-10-22 14:25] #2427 closed

[2020-10-22 14:26] bwateratmsft commented on #2426
@phpreza is Docker installed?

[2020-10-22 14:28] bwateratmsft commented on #2428
In the second example, the command is Compose Up, not Compose Restart. I would expect the two Compose Down commands to be more or less identical and it appears they are, but Restart and Up would not be.

[2020-10-22 14:28] #2428 closed

[2020-10-22 14:32] bwateratmsft commented on #2424
I verified this is now fixed in the latest Insiders build, thanks again @alexr00!

[2020-10-22 14:32] #2424 closed

[2020-10-22 14:43] PavelSosin-320 commented on #2426
@phpreza OS Release: 10.0.19041 looks too old! Please update Windows 10 to 2004 and then upgrade Docker desktop. You missed many updates.

[2020-10-22 15:16] bwateratmsft commented on #2426
I think 19041 is 2004

[2020-10-22 15:45] bwateratmsft opened #2429 "Remove "core" from .NET image names"
The .NET Docker team will start publishing all images at all versions under `mcr.microsoft.com/dotnet/aspnet` etc., without the `core/` bit. This matches what is currently done for 5.0 but now extends to all versions. We'll update our scaffolding code to use the new base image names.

[2020-10-22 17:11] #2315 closed

[2020-10-23 11:00] peredwardsson opened #2433 "Ability to forward a range of ports to container"
Issue Type: <b>Feature Request</b>

I'm working with robotics using the ROS ecosystem. In it, you can create services that act as functions that can be called to by other parts of the system. The services are assigned a predetermined IP and a random available port somewhere above 30000. This makes developing in a container frustrating, since I have to manually forward the port of the day into the

[2020-10-23 13:53] bwateratmsft commented on #2433
This would be something for dev containers, not the Docker extension. @karolz-ms do you know the right place to open issues for that?

[2020-10-23 14:20] bwateratmsft commented on #2433
Ah, looks like this is for [Remote - Containers](https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.remote-containers). @peredwardsson, I copied this issue to their repo: https://github.com/microsoft/vscode-remote-release/issues/3898

[2020-10-23 14:20] #2433 closed

[2020-10-23 22:54] ravipal opened #2434 "pull image with no tag fails"
Issue Type: <b>Bug</b>

1. docker pull mcr.microsoft.com/dotnet/runtime@sha256:e091076ba28b0d10400a5c97f4d5287041092210d930896032014b6544a8f93e
2. This image will show as mcr.microsoft.com/dotnet/runtime:<none> in the images list
3. Right click and pull this image. It will fail

The syntax of the command is incorrect.
The terminal process "C:\windows\System32\cmd.exe /d /c docker pull mcr.microsof

[2020-10-24 06:10] indira11-in opened #2435 "Pj column"
Issue Type: <b>Bug</b>

columns php

Extension version: 1.7.0
VS Code version: Code 1.50.1 (d2e414d9e4239a252d1ab117bd7067f125afd80a, 2020-10-13T15:06:15.712Z)
OS version: Windows_NT x64 10.0.19041

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3-1005G1 CPU @ 1.20GHz (4 x 1190)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enable

[2020-10-25 18:55] chrisn805 opened #2436 "zte"
Does this occur consistently?
Repro steps:

1.
2.

Action: vscode-docker.configure
Error type: EPERM
Error Message: EPERM: operation not permitted, open 'c:\Windows\System32\Recovery\requirements.txt'

Version: 1.7.0
OS: win32
OS Release: 10.0.19041
Product: Visual Studio Code - Insiders
Product Version: 1.51.0-insider
Language: en

[2020-10-26 13:43] bwateratmsft commented on #2435
@indira11-in can you add repro steps and explain what went wrong?

[2020-10-26 13:44] bwateratmsft commented on #2434
Hm, IIRC images without tags aren't even supposed to show up in the explorer.

[2020-10-26 13:44] bwateratmsft commented on #2436
@zte can you add repro steps?

[2020-10-26 14:37] PavelSosin-320 commented on #2426
Winver shows Windows 10 2004 as Version 2004 (build 20..........
The current Docker Desktop Ege is 2.4.2. .....
Windows [Version 10.0.20231.1005] - may be dev **pre-release but 10.0.20** is important because WSL2 Linux Kernel 4.9 came with 10.0.20  something
  **Client Version:           19.03.3** !!!! - this is the correct Docker CLI spec for Docker context support
 API version:       1.40
You ca

[2020-10-26 14:40] bwateratmsft commented on #2426
I'm not following. The [wiki page](https://en.wikipedia.org/wiki/Windows_10_version_history#Channels) with version history has 2004 (aka 20H1) as 19041; 20H2 as 19042 which matches what I have:

![image](https://user-images.githubusercontent.com/36966225/97186392-9bf4f080-1777-11eb-8a22-5160835a2c61.png)

The user has 10.0.19041 which is Win10 2004.

[2020-10-26 14:53] PavelSosin-320 commented on #2426
2004 was planned to have the name 20H2 but in fact, was rolled out in late May and had several maintenances upgrades. If you have Docker Desktop EE license you or your DevOps can call Mirantis. Otherwise, try to roll updates forward. My Docker CE 2.4.2.0 is pretty stable and conformant to the Docker 19.03 spec.

[2020-10-26 15:45] bwateratmsft commented on #2371
The activation time is dominated by several things:

Things we can maybe improve:
- Get Docker ID (this is already a one-time penalty, it's cached from then on)
- Filesystem checks for Docker context paths
- Setting the VSCode contexts
- Don't wait on Docker context loading??

Things we cannot improve at this time:
- Docker CLI call for Docker contexts
- Dockerode client loading (we removed it fro

[2020-10-26 15:56] PavelSosin-320 commented on #2426
Look at 2004 (aka 20H1). Microsoft missed April 2020, i.e. 2004 release target. 2004 was released at the end of May.
I see you have Windows 10 Enterprise. From my experience as an Enterprise developer Enterprise versions are behind Pro and Dev Pre releases for several months. I afraid, You have to wait until all maintenance updates for Windows will be installed and tested by your company IT.
All m

[2020-10-26 16:27] bwateratmsft commented on #2382
We discussed this and decided to won't-fix this one, and fix #2383. There's not a great way to deal with this without introducing some sort of periodic refresh, which I'm not a fan of. Additionally, going and refreshing the contexts view is likely a natural user action, so it might not be a big deal for them.

[2020-10-26 16:27] #2382 closed

[2020-10-26 17:05] #2402 closed

[2020-10-26 18:02] #2383 closed

[2020-10-26 18:57] bwateratmsft opened #2440 "Disable awareness toast"
As part of #1895, we'll disable the awareness toast

[2020-10-26 20:33] BigMorty commented on #2382
If I have just clicked the + sign to create a context, I would expect that to show up!

[2020-10-26 20:39] karolz-ms commented on #2382
Yes, this is issue https://github.com/microsoft/vscode-docker/issues/2383 and that one **will** be fixed

[2020-10-27 08:20] v-ruizh opened #2442 "The new created context start to move back and forth shortly in context view"
**OS:** Windows 10
**Build Version:** 20201026.13

**Repro Steps:**
Click the + sign or command to create a context and check it in context view.

**Expect:**
The new created context shows well in context view.

**Actual:**
The new created context start to move back and forth shortly in context view, then shows well in context view.
![context](https://user-images.githubusercontent.com/45614674/972

[2020-10-27 08:46] shoffmeister opened #2443 "Build image forces "--pull", makes local development inconvenient"
When invoking the "Docker Images: Build Image..." command, the command-line executed always includes the `--pull` option, e.g. `docker build --pull --rm -f "Dockerfile" -t mything:tag .`

This invariably yields `pull access denied for mybase, repository does not exist or may require 'docker login': denied: requested access to the resource is denied`, given a `Dockerfile` starting with
[code]

This

[2020-10-27 13:47] bwateratmsft commented on #2443
Good news! You can customize the `docker build` (and several other commands) at either the user or workspace level. More info on that here: https://code.visualstudio.com/docs/containers/reference#_command-customization

[2020-10-27 13:47] #2443 closed

[2020-10-27 14:09] #2371 closed

[2020-10-27 16:17] #2434 closed

[2020-10-27 17:27] BigMorty commented on #2382
Gotcha, thanks!

[2020-10-27 17:29] bwateratmsft commented on #2442
I wonder if this is something to do with the fix in #2438.

[2020-10-27 18:21] bwateratmsft opened #2445 "Support launching a subset of services from a compose file"
Many customers only want to launch some of the services in a compose file at any given time, let's support that scenario.

[2020-10-28 14:19] bwateratmsft commented on #1835
Moving to 1.9.0 since our .NET plans for that milestone should make this realistic.

[2020-10-28 14:54] bwateratmsft commented on #2289
I think we should consider postponing this until we do #840 / #1294

[2020-10-28 15:40] SuYouge opened #2446 "container launching got stuck at "installing extensions""
Hi! Great extension! And I have a little problem while using it.
When I am using this extension for launching a container, sometime it will stuck at "installing extensions".
It will stuck at this state as follow for a long time and no response.
![Screenshot from 2020-10-28 23-28-24](https://user-images.githubusercontent.com/29477239/97459030-45a1d080-1976-11eb-924b-c341afcff8ec.png)
Sometime it wo

[2020-10-28 15:44] #2446 closed

[2020-10-28 15:46] SuYouge commented on #2446
This issue is not for this repo.

[2020-10-28 15:49] bwateratmsft commented on #2446
It looks like this is for Remote - Containers, their repo is here: https://github.com/microsoft/vscode-remote-release

[2020-10-28 15:51] SuYouge commented on #2446
Yes, I misunderstood this repo, thank you!

[2020-10-28 16:04] bwateratmsft commented on #1353
I don't think there's customer interest in this nor do I think we're interested in implementing error message parsing.

[2020-10-28 16:04] #1353 closed

[2020-10-28 16:07] bwateratmsft commented on #1717
With #2338 I think this becomes unnecessary. We now unconditionally install vsdbg before running .NET containers, so the default docker-compose.debug.yml will work for free. It's still possible to get the prompt if you try to debug the not-debug configuration, but I don't think that is a serious issue.

[2020-10-28 16:07] #1717 closed

[2020-10-28 16:12] bwateratmsft commented on #2327
The upstream VSCode issue has been moved to the November milestone so I'll move this to our 1.9.0 milestone.

[2020-10-29 02:10] v-ruizh opened #2448 "Fail to install Docker Desktop"
**OS:** Windows 10
**Build Version:** 20201028.7

**Repro Steps:**
1. Make sure there is no Docker Desktop installed on the machine.
2. Install Docker extension and navigate to Docker view in VS Code.
3. Click "Install" from the below notification.
![image](https://user-images.githubusercontent.com/45614674/97516519-377f9e80-19ce-11eb-8a69-53814e25ad87.png)
4. Check the result.

**Expect:**
Downlo

[2020-10-29 07:46] v-ruizh opened #2449 "A confusing error occurs when executing "Compose Up" action again with the old network removing"
**OS:** Windows 10
**Build Version:** 20201028.7

**Repro Steps:**
1. Create a .NET Core MVC project and add Docker files which include Docker compose files.
2. Execute "Compose Up" action for docker-compose.yml file, there is a container and a network generated.
3. Navigate to container view and stop the generated container.
4. Remove the generated network from "Networks view".
![image](https://u

[2020-10-29 07:56] v-ruizh opened #2450 "[Suggestion] Keep the error messages consistently when starting and restarting the container with the network removing"
**OS:** Windows 10
**Build Version:** 20201028.7

**Repro Steps:**
1. Create a .NET Core MVC project and add Docker files which include Docker compose files.
2. Execute "Compose Up" action for docker-compose.yml file, there is a container and a network generated.
3. Navigate to container view and stop the generated container.
4. Remove the generated network from "Networks view".
5. Start and resta

[2020-10-29 13:40] bwateratmsft commented on #2449
This error comes from the CLI, I think we should preserve it as-is.

[2020-10-29 13:40] #2449 closed

[2020-10-29 13:40] bwateratmsft commented on #2450
These errors come from the Docker daemon, I think we should preserve them as-is.

[2020-10-29 13:40] #2450 closed

[2020-10-29 13:41] bwateratmsft commented on #2448
Can you try running that file directly and see if an error occurs?

[2020-10-29 14:34] #2373 closed

[2020-10-29 20:20] bwateratmsft opened #2451 "Buildkit builds have very ugly output"
![image](https://user-images.githubusercontent.com/36966225/97628112-aa0a7180-1a02-11eb-80d4-3d64e6f6819b.png)

These aren't errors but they certainly look intimidating.

[2020-10-29 20:59] karolz-ms opened #2452 "Extension fails to load with latest Docker edge"
Repro steps:

1. Install latest Docker Edge candidate:
      https://desktop-stage.docker.com/win/edge/49266/Docker%20Desktop%20Installer.exe
      https://desktop-stage.docker.com/mac/edge/49266/Docker.dmg
2. Overwrite Docker executable with the one from https://github.com/docker/compose-cli/releases/tag/v1.0.0
   On Mac you might need to do `sudo xattr -rc /Applications/Docker.app` to disable si

[2020-10-30 02:49] v-ruizh commented on #2448
There is no file "C:\Users\AZURET~1\AppData\Local\Temp\XXX.tmp". The file is not recognized as an internal or external command, operable program or batch file.
![image](https://user-images.githubusercontent.com/45614674/97654098-2f426480-1a9d-11eb-80d0-be7e96412ba7.png)

[2020-10-30 09:05] gtardif commented on #2452
Looking into the best way to fix this to avoid breaking VSCode existing deployments.
We'll discuss the best way to make this more robust in the long term in VSCode Docker extension.

[2020-10-30 10:22] shoffmeister commented on #2443
Bad news! I do read documentation - I don't want to *define* the complete behaviour of the docker build command myself, I just want it to (optionally) not --pull, in a UX/UI friendly way ;) I do not want to spend effort, in other words.

If I wanted to fully define the behaviour of the command, I could just uninstall the extension and use the command-line. The whole point of such an extension is t

[2020-10-30 13:48] bwateratmsft commented on #2452
@gtardif folks upgrade VSCode extensions really, really quickly (because they upgrade automatically) so I'm not super concerned about old versions of the extension. I kinda prefer to have the new output format with one single JSON object instead of one-per-line. We can produce a 1.7.1 release in just a few hours if need be.

[2020-10-30 13:49] bwateratmsft commented on #2448
Can you download the Docker Desktop installer from [this link](https://aka.ms/download-docker-windows-vscode) and try running it manually?

[2020-10-30 14:06] metemertkan opened #2453 "Error: /bin/sh: 1: /home/user/.vsdbg/getvsdbg.sh: Permission denied"
This is the  permissions of my debug file
drwxrwxr-x  2 user user 4096 okt 30 14:56 .vsdbg

Does this occur consistently? Yes

Action: docker-attach
Error type: 126
Error Message: Process '/home/user/.vsdbg/getvsdbg.sh -v latest -r linux-x...' exited with code 126
Error: /bin/sh: 1: /home/user/.vsdbg/getvsdbg.sh: Permission denied

Version: 1.7.0
OS: linux
OS Release: 5.4.0-52-generic
Product: Vis

[2020-10-30 14:08] bwateratmsft commented on #2453
@metemertkan can you check the permissions on that file?

[2020-10-30 14:10] bwateratmsft commented on #2453
@gregg-miskelly Any ideas what's going on? Is this the error message you might see if vsdbg can't install to the targeted directory?

[2020-10-30 14:55] ADustyOldMuffin opened #2454 "When connecting debugger, breakpoints try to apply to files located in the container."
Hello! Thank you for the wonderful add-on.

In my project I'm running `docker-compose build -f {path} --build-args {a bunch of build args}` and then `docker-compose up`. With this I'm trying to debug the container booted from this process with the Docker dotnet container attach which attaches correctly and works. The issue comes from when I try and place a breakpoint, locally it will place the bre

[2020-10-30 15:10] bwateratmsft commented on #2454
Hey @ADustyOldMuffin, I've seen this issue happen before; it has to do with the source mapping. By default we scaffold (in the "Docker: .NET Core Attach (Preview)" launch config in .vscode/launch.json):
[code]

In our default Dockerfile, in the build container, the sources are copied into `/src` in the container where they are built:
[code]

This stamps the PDBs with `/src` as being the root locat

[2020-10-30 15:13] bwateratmsft commented on #2451
Buildkit builds look a whole lot nicer through a TTY. We should see if we can support that instead of the direct output we have now.

[2020-10-30 15:14] bwateratmsft commented on #2451
I think this would also improve the output experience when pulling images.

[2020-10-30 15:39] ADustyOldMuffin commented on #2454
Ah thank you! I wasn't grabbing the idea that `/src` was actually referencing the main file in my build container, I thought it was just saying "where are the source files?". The issue stemmed from that I was working off the dotnet example Dockerfile which uses `/app` as the main location not `/src` so the fix is either change the folder name to `/src` or change the task to use `/app`.

[2020-10-30 15:39] #2454 closed

[2020-10-30 16:16] mhlg opened #2455 "Debug Python within a container Couldn't spawn debuggee"
I'm following the instructions as for https://code.visualstudio.com/docs/containers/debug-python

this used to work before upgrading docker to version 19.03.13

Python 3.7.6
Docker version 19.03.13, build 4484c46d9d

Create a project folder
`mkdir my-project && cd my-project`

Create a minimal python file named app.py
`
def main():
    print('HELLO')

if __name__ == "__main__":
    main()
`

Creat

[2020-10-30 16:22] bwateratmsft commented on #2455
Thanks for the detailed info! Does this work if you don't use a virtual environment?

[2020-10-30 16:26] mhlg commented on #2455
Tried now same problem now the
No such file or directory just points to another python path

Couldn't spawn debuggee: [Errno 2] No such file or directory: '/Applications/Xcode.app/Contents/Developer/usr/bin/python3'

[2020-10-30 16:34] bwateratmsft commented on #2455
Hm, it looks like this issue might actually be in either debugpy or the Python extension. My gut is debugpy since that's the only place I can find the `--adapter-access-token` argument, so I assume it's there that this process is being launched. Can you open this in their repo? https://github.com/microsoft/debugpy

[2020-10-30 16:53] mhlg commented on #2455
Sure thanks!

[2020-10-31 14:58] gtardif commented on #2452
OK, thanks, I didn't know this could be that quick! I'll keep this in mind next time.
We're still supporting `docker context ls --format "{{ json .}}"` for backward compatibility so it makes sense in this regard to not change the returned multi-line json.
But we're pushing for a simpler `docker context ls --format json` that returns a single json array, you can use this with this new version.
More

[2020-11-01 14:15] ax1036 opened #2457 "Support for self-managed gitlab instance"
It should be nice to support self managed gitlab, make this hard coded link configurable

https://github.com/microsoft/vscode-docker/blob/aad5061343a7d1b6c7088c7710493071bab56fca/src/tree/registries/gitLab/GitLabAccountTreeItem.ts#L23

[2020-11-02 06:59] v-ruizh commented on #2448
@bwateratmsft Succeed to download the Docker Desktop from [this link](https://aka.ms/download-docker-windows-vscode) and it can be installed manually.

The .tmp file will be auto removed after popping up the error "Docker Desktop installation failed".
If I tried to run the .tmp file directly by "Command Prompt" before the installation error, the Docker Desktop can be installed successfully.
![imag

[2020-11-02 07:44] PavelSosin-320 commented on #1590
Podman and Docker are 2 different products with 2 different purposes!
Docker is a server that builds and manages Docker images and runs them in the client-server scenario.
Podman is the toolchain for the development of Serverless Cloud applications deployed to the Kubernetes cluster.
Podman allows quick-start creation of main Kubernetes artifact - Pod containing single Docker container then
the ge

[2020-11-02 12:41] segevfiner commented on #2128
Another issue is that after a `dockerfile.go` is misidentified as a `Dockerfile` switch the language using the `Change Language Mode` command leaves syntax highlighting completely messed up.

[2020-11-02 13:56] bwateratmsft commented on #2448
Ok, thanks! Does the same error still happen when you try to install using the "Install Docker" command?

[2020-11-02 13:59] bwateratmsft commented on #2457
Same as #1832. Since we're tracking all the registry asks in #869 I'll resolve this as dupe.

[2020-11-02 13:59] #2457 closed

[2020-11-02 18:36] int19h commented on #2455
@bwateratmsft The command line that it's trying and failing to spawn is:
[code]
Note the path to Python. Looks like it's trying to use the host path inside the guest, and failing. I believe this is called by this change: https://github.com/microsoft/debugpy/pull/446.

The short story is that before the change, when the debugpy launcher spawned the debuggee, it used `sys.executable` to determine th

[2020-11-02 18:45] bwateratmsft commented on #2455
@int19h How though? We don't know the path for Python in the container, and indeed we should not have to look for it.

In general I don't see how this change can work with remote debugging.

[2020-11-02 18:54] int19h commented on #2455
The launcher forwarding script does it when it rewrites the command line - looks like it just assumes that Python is on PATH, and therefore it can use unqualified `python3`. The "pythonPath" setting in debug configuration can be the same - it doesn't have to be a full path, it just needs to be something that can be exec'd.

[2020-11-02 18:55] bwateratmsft commented on #2455
So in that case it seems like it should be also `python3`, right?

[2020-11-02 19:04] int19h commented on #2455
Yep, I think that should do the trick.

[2020-11-02 20:54] karolz-ms commented on #2391
Running through the scenario today I see two issues:

1. When one initiates step 2 without being logged to Azure via Docker CLI (`docker login azure`), the extension displays "Creating ACI context 'blah'" toast and **just never progresses from there**.

    After logging in to Azure (using device login flow, which Docker CLI correctly executes) the rest of the process of creating a context and com

[2020-11-02 21:18] gregg-miskelly commented on #2453
I **think** what that error message is saying is that executing getvsdbg.sh failed because permission was denied.

@metemertkan what do you see from `ls -l /home/user/.vsdbg/getvsdbg.sh`?

[2020-11-02 21:56] bwateratmsft commented on #2445
Our plan is to add a task for compose up / down, as well as a magic property for the compose up command that would prompt for a service list.

[2020-11-03 02:32] v-ruizh commented on #2448
The same error still happens if try to install it using the "Install Docker" command.

[2020-11-03 07:23] FLM210 opened #2458 "vscode-docker.registries.pullImage"
Does this occur consistently?
Repro steps:

1.
2.

Action: vscode-docker.registries.pullImage
Error type: 1
Error Message: Process 'docker login --username "hahtangtang" --password-s...' exited with code 1
Error: 'docker' �����ڲ����ⲿ���Ҳ���ǿ����еĳ���
���������ļ���

Version: 1.7.0
OS: win32
OS Release: 10.0.19042
Product: Visual Studio Code
Product Version: 1.50.1
Language: zh-cn

<details>
<summa

[2020-11-03 09:54] EimantasBlazevicius commented on #2455
Good day Gents, risking a dumb question:
How does one change "The "pythonPath" setting in debug configuration"

[2020-11-03 12:51] metemertkan commented on #2453
Hello @gregg-miskelly thanks for the advice.
It was:
-rw-rw-r-- 1 user user 15112 okt 30 14:56 getvsdbg.sh

I run 'chmod +x' and it worked. I wasn't excepting "Permission Denied" exception.

[2020-11-03 13:55] bwateratmsft commented on #2458
@FLM210 Can you share repro steps?

[2020-11-03 14:04] bwateratmsft commented on #2455
Not a dumb question at all! You can add it to the launch configuration, but it will show yellow squiggles:

![image](https://user-images.githubusercontent.com/36966225/97994011-d5021600-1db2-11eb-89bc-bd24b7f9333a.png)

@int19h I tried setting it (as above), but when I launch it seems like nothing happens. No output in the terminal, output, or debug console tabs. The same happens when I set it to

[2020-11-03 14:07] bwateratmsft commented on #2453
@gregg-miskelly I'm a knucklehead. We recently refactored our code for fetching vsdbg and I forgot to add the `chmod +x` back in.

[2020-11-03 14:20] bwateratmsft commented on #2391
There must be something wrong with the login flow, in that case. The code already attempts to log in if it gets a specific error (5) back from the first attempt: https://github.com/microsoft/vscode-docker/blob/master/src/tree/contexts/aci/AciContextCreateStep.ts#L24-L37

I'm guessing that `docker login azure` we're trying is hanging or something like that.

[2020-11-03 14:22] bwateratmsft commented on #2128
Given the upstream https://github.com/microsoft/vscode/issues/105590 is rejected, I'll close this. I think that the best-for-the-most strategy is to keep things as they are now, with `Dockerfile.*` recognized as a Dockerfile. If we continue to get feedback we can reconsider.

[2020-11-03 14:22] #2128 closed

[2020-11-03 14:23] bwateratmsft commented on #2289
There will not be time to do this in 1.8.0.

[2020-11-03 14:37] bwateratmsft commented on #2452
@gtardif What was the problem you were seeing on https://github.com/microsoft/vscode-docker/blob/master/src/docker/ContextManager.ts#L234? We intentionally wanted to copy in the `Type` field if it was present, otherwise we have to make an assumption that no type and no Docker endpoint is ACI.

[2020-11-03 15:29] bwateratmsft commented on #2257
Moving this out to 1.9.0 for now.

[2020-11-03 18:10] bwateratmsft commented on #2391
Oh, I see. It's trying to do device auth but can't because it's doing this in the background. We should move the `docker login azure` to the terminal.

[2020-11-03 18:25] bwateratmsft commented on #2391
@gtardif, regarding the `Error: 14 UNAVAILABLE: No connection established`: the `docker serve` daemon is not running in a codespace. Is there any way to make it start?

[2020-11-03 18:59] philliphoff opened #2464 "Fix broken unit tests"
A significant number of the unit tests are failing (with what appears to be a infrastructural issue rather than a functional one). We should get these fixed as well as figure out why these aren't causing the CI builds to fail.

[2020-11-03 21:48] int19h commented on #2455
Ohh, I see the problem now! Yes, you're right - the Python extension itself will also look at "pythonPath" to determine which interpreter to use to start the *adapter*.

But we can't just revert the launcher to the old behavior, either - the underlying logic was incorrect, because it didn't properly handle stubs like pythonw. I think we'll need some kind of flag for the launcher to opt out of the

[2020-11-03 21:54] bwateratmsft commented on #2455
@int19h Is there a way to pin the version from the launch config? Or something else?

[2020-11-03 21:58] int19h commented on #2455
@bwateratmsft If you're installing debugpy in the container, you can choose the specific version at that point. If you're mapping the debugpy directory from Python extension on the host inside the guest, that wouldn't work, though.

[2020-11-04 14:09] bwateratmsft commented on #2442
I'm able to reproduce without much trouble.

[2020-11-04 17:46] philliphoff opened #2465 "Enable editing of files in a running container"
An earlier [feature](#2333) added viewing (read-only) of files in a running container. This issue builds on top of that functionality to enable editing (and saving) of those files back to the container.

[2020-11-04 17:48] philliphoff opened #2466 "Enable downloading files from a running container"
An earlier [feature](#2333) enabled viewing (read-only) files in a running container.  This issue builds on that functionality to allow the user to download files from the running container to the local machine (rather than opening them in an editor). This can be useful for non-text files, or just eliminating the need to cut & paste from the editor.

[2020-11-04 19:42] dbreshears commented on #2465
make sure we can track the usage

[2020-11-05 14:23] #2401 closed

[2020-11-05 15:27] bwateratmsft commented on #2455
@int19h When can we expect a fix for this? It is blocking Python debugging unless users manually alter the launch.json to set `"pythonPath": "python"`. Pinning `debugpy` would be a pretty complicated procedure given that we intentionally volume map in what the Python extension bundles. Perhaps the simplest workaround for users would be to roll back the Python extension, but I think that prevents f

[2020-11-05 15:33] #2453 closed

[2020-11-05 15:53] #2452 closed

[2020-11-05 16:05] bwateratmsft commented on #2448
I'm able to reproduce, I'll take a look.

[2020-11-05 16:22] bwateratmsft commented on #2448
Found the issue, the fix is easy so I'll take it in 1.8.0.

[2020-11-05 16:35] mhlg commented on #2455
Where do we alter the in the  launch.json

`{
            "name": "Docker: Python - General",
            "type": "docker",
            "request": "launch",
            "preLaunchTask": "docker-run: debug",
            "pythonPath": "python",
            "python": {
                "pathMappings": [
                    {
                        "localRoot": "${workspaceFolder}",

[2020-11-05 16:42] bwateratmsft commented on #2455
Like this:
![image](https://user-images.githubusercontent.com/36966225/98269556-dae72b00-1f5b-11eb-9eb9-ed73e4db2f6b.png)

The yellow warning squiggles there will appear, because it's not in the expected schema for Docker launch configurations, but we pass through most variables when resolving it into a Python launch config. You can safely ignore this warning.

[2020-11-05 16:52] mhlg commented on #2455
@bwateratmsft I get an erroror after the image is compiled that says

`Invalid Message: "debugLauncherPath" must be str`

[2020-11-05 17:34] #2333 closed

[2020-11-05 17:54] bwateratmsft commented on #2455
@mhlg Ah, it's Mac. Try `"pythonPath": "python3"` instead of `"pythonPath": "python"`.

[2020-11-06 08:43] dicesare opened #2470 "crash docker linux container"
Does this occur consistently?
Repro steps:

1.
2.

Action: vscode-docker.compose.down
Error type: Error
Error Message: To run Docker compose you must first open a folder or workspace in VS Code.

Version: 1.7.0
OS: win32
OS Release: 10.0.18363
Product: Visual Studio Code
Product Version: 1.50.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-11-06 10:11] #2470 closed

[2020-11-06 14:18] #2395 closed

[2020-11-07 13:25] samuel-280589 opened #2471 "vaExtension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-docker`
- Extension Version: `1.7.0`
- OS Version: `Windows_NT x64 10.0.17763`
- VSCode version: `1.51.0`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`c:\Users\samuel\AppData\Local\Temp\ms-azuretools.vscode-docker-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki

[2020-11-09 13:07] bwateratmsft commented on #2471
@samuel-280589 does this happen consistently?

[2020-11-09 18:23] BigMorty commented on #1685
The AppSvc team has added the ability to use managed service identities to pull from ACR.

[2020-11-09 19:30] #1895 closed

[2020-11-09 19:30] #2343 closed

[2020-11-09 19:30] #2440 closed

[2020-11-09 19:49] #2451 closed

[2020-11-09 19:49] #2419 closed

[2020-11-09 20:04] #2429 closed

[2020-11-09 20:16] bwateratmsft opened #2473 "In files explorer, folders aren't shown first"
![image](https://user-images.githubusercontent.com/36966225/98591637-82d36000-229e-11eb-8ae4-aea7869cb4d0.png)

~~Also--I believe we can change the icons further. IMO the file one should be more like a file, and the folders IIRC we can do closed and open folders.~~
UPDATE: The icons we used match what VSCode uses so I'm content.

[2020-11-09 20:32] bwateratmsft commented on #2455
**Workaround**:
Windows: Add `"pythonPath": "python"` into `.vscode/launch.json`, as in the image below
Mac/Linux: Add `"pythonPath": "python3"` into `.vscode/launch.json` to the same place

https://user-images.githubusercontent.com/36966225/98269556-dae72b00-1f5b-11eb-9eb9-ed73e4db2f6b.png

The yellow squiggle warning _will_ appear but it can be ignored. Once the file is closed it will no longer

[2020-11-09 20:44] int19h commented on #2455
Note that for this to work, it must be on `PATH` locally.

@bwateratmsft I'm preparing a change that will give you fine-grained control over which interpreters are used where. It basically splits up "pythonPath" into three:

- `"debugAdapterPython"` - used by the Python extension to spawn the adapter
- `"debugLauncherPython"` - used by the adapter to spawn the launcher
- `"python"` - used by the l

[2020-11-09 21:02] bwateratmsft commented on #2455
Thanks @int19h! We'll set the value for `"python"` in our resolved configuration once this change is available. Within containers we always want to use `python3`, no real exceptions.

[2020-11-10 13:55] bwateratmsft opened #2474 "Improve user experience during Docker install/upgrade, not installed case"
Currently during Docker install or upgrade, the Docker config file gets touched and as a result the `ContextManager` tries to do a context refresh, which fails because `docker` isn't placed yet. An error will pop up. We should investigate improving this user experience.

[2020-11-10 15:58] #2406 closed

[2020-11-10 16:09] bwateratmsft commented on #2474
As part of this, we should also investigate the user experience when Docker is not installed at all. It is not a hard requirement of the extension, since the language features and scaffolding can work without it.

[2020-11-10 18:41] bwateratmsft commented on #2455
In standup today we decided to release the fix as a servicing release (i.e. 1.8.1). I'll plan on that unless the fix reaches the Python extension sooner than expected.

[2020-11-11 09:04] v-ruizh opened #2479 "An error occurs in expanded folder node when targeting Docker Desktop to windows container"
**OS:** Windows 10
**Build Version:** 20201109.2
**.NET Core:** 5.0.100

**Repro Steps:**
1. Switch Docker Desktop to windows container.
2. Create a .NET Core MVC project and add docker files including docker-compose files to it.
3. Right click the docker-compose.yml file and select "Compose Up".
4. Navigate to Docker Containers view -> Expand the MVC container node -> Expand the "Files" node -> E

[2020-11-11 09:20] v-ruizh opened #2480 "The file isn't opened in a running container after double click it"
**OS:** Windows 10
**Build Version:** 20201109.2

**Repro Steps:**
Navigate to Docker Containers view -> Expand the running container node -> Expand the "Files" node -> Double click one file.

**Expect:**
The file is opened successfully.

**Actual:**
The file isn't opened after double click it.

[2020-11-11 10:10] v-mengwe opened #2481 "[Suggestion] It would be better if remove "-" from the error message"
**OS:** Mac
**Build Version:** 20201109.2

**Repro Steps:**

1. Right click a running container -> Select "Stop/Start".
2. Right click the running container -> Select "Stop/Start" again during the container is stopping.
3. Check the error message.

**Actual:**
The error message is end of "-", looks like the error message is incomplete.
![image](https://user-images.githubusercontent.com/62053665/98

[2020-11-11 14:04] bwateratmsft commented on #2481
This particular error message comes from the Docker daemon so we can't control it unfortunately.

[2020-11-11 14:04] #2481 closed

[2020-11-11 14:05] bwateratmsft commented on #2479
@philliphoff I'm guessing the .NET runtime image doesn't have `wmic` (I'd be kinda surprised if it did). When you were testing, were you using the SDK image or something else?

[2020-11-11 14:06] bwateratmsft commented on #2480
Should be an easy addition.

[2020-11-11 15:45] philliphoff commented on #2480
This was intentional. AFAIK, VS Code doesn't have a notion of command-on-double-click, only command-on-selection, and I didn't want to attempt to open a (potentially large or non-text) file simply because it had been selected for some reason. It just seemed like there needed to be more of a explicit gesture to open a file. While the VS Code workspace explorer *does* work that way, those files are

[2020-11-11 15:46] bwateratmsft commented on #2480
That makes sense. Would it be possible to check the file size before trying to open it, if we did do a single-click-to-open?

[2020-11-11 17:47] philliphoff commented on #2480
I think I'd prefer to do "all or nothing", as the user won't likely be able to discern why we would automatically open some files but not others, which could be confusing.  I could maybe see a setting like "auto-open of these extensions and/or files under this size" that defaults to some reasonable set (e.g. `.log`, `.conf`, `.sh`, `.txt`, etc.).  Maybe wait for user feedback on their preference?

[2020-11-11 17:49] bwateratmsft commented on #2480
That sounds reasonable to me. Should we close this issue for now and await that feedback?

[2020-11-11 18:16] philliphoff commented on #2473
Yes, it looks like a recent VS Code update has changed their folder icon to be...not show an icon at all.  We were already switching between the standard "open" and "closed" folder icon based on the node expansion state.

[2020-11-11 18:19] philliphoff commented on #2473
Regarding sorting, I, personally, like the "everything sorted together" look (and using the icons to differentiate between items) rather than "folders sorted, then files sorted" look but, you're right, the latter is more consistent with VS Code's file explorer.  That should be easily done.

[2020-11-11 18:21] philliphoff commented on #2480
That sounds good to me, but I'll give @BigMorty a chance to chime in first.  Also, @v-ruizh, let us know what you think, as a user, too.

[2020-11-11 18:32] bwateratmsft commented on #2473
Yeah, I think the ideal would be to follow VSCode's file explorer, which uses the arrows for folders and that file icon for (some) of the files--so, exactly what you have. For sorting they put folders first.

[2020-11-11 20:15] bwateratmsft opened #2483 "Use `addDockerSettingsToEnv` for Docker CLI calls in filesystem provider"
This error occurs when using `docker.host` (because the container does not exist on the host):
![image](https://user-images.githubusercontent.com/36966225/98954590-ef7f7200-24cb-11eb-92be-e5633ef0fce0.png)

[2020-11-11 21:07] #2479 closed

[2020-11-12 00:12] BigMorty commented on #2480
I am fine with waiting for user feedback on this.

[2020-11-12 03:13] ikemerrix opened #2485 "Docker fails to launch on VS code"
Does this occur consistently?
Repro steps:

1.
2.

Action: docker-launch
Error type: Error
Error Message: Dependency ms-toolsai.jupyter failed to activate

Version: 1.7.0
OS: win32
OS Release: 10.0.19042
Product: Visual Studio Code
Product Version: 1.51.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-11-12 06:25] v-ruizh opened #2486 "[Suggestion] Add a "Install" button to install the Azure Account extension directly"
**OS:** Windows 10
**Build Version:** 20201111.4

**Repro Steps:**
1. Make sure there is no Azure Account extension installed.
2. Right click one image from Docker Hub registry -> Select "Deploy Image to Azure Container Instances..." -> + Create new ACI context... -> Check the notification.

**Actual:**
There is no "Install" button to install the Azure Account extension directly.

**Suggestion:**

[2020-11-12 06:43] v-ruizh opened #2487 "There is no "Deploy Image to Azure App Service" action in context menu if Azure Account extension isn't installed"
**OS:** Windows 10
**Build Version:** 20201111.4

**Repro Steps:**
1. Make sure there is no Azure Account extension installed.
2. Right click one image from Docker Hub registry and check the context menu.

**Expect:**
There is a "Deploy Image to Azure App Service" action in context menu.
![image](https://user-images.githubusercontent.com/45614674/98904900-709f2f00-24f5-11eb-9fa5-810077d3f39f.png)

[2020-11-12 08:19] v-ruizh opened #2488 "There is no Files node for the running container in ACI"
**OS:** Windows 10
**Build Version:** 20201111.4

**Repro Steps:**
1. Execute "Deploy Image to Azure Container Instances..." action from Docker Hub registry or ACR.
2. Expand the running container and check it in Docker containers view.

**Expect:**
Display a Files node for the running container that represents the root of that container's file system.
![image](https://user-images.githubuserconten

[2020-11-12 10:08] v-ruizh commented on #2480
@philliphoff As a user, I think it would be better if I can open the file by single click it.

BTW, We can open the file by single click it in other VS Code extensions, such as Azure Functions/Azure Storage extensions. And the file can be opened when double click it in VS. So I logged this issue.

It's OK if you plan to wait for the user feedback on this. We can open the file by the "Open" action.

[2020-11-12 10:20] v-mengwe opened #2489 "Fail to hit breakpoints when opening in browser for Django container with "Python Remote Attach" configuration"
**OS:** All
**Build Version:** 20201111.4

**Repro Steps:**

1. Open a Python Django project in VS Code -> Add Dockerfile and docker compose files to it -> Set breakpoints for "manage.py" file.
2. Add a new "Python Remote Attach" configuration, example:
[code]
3. Execute "Compose Up" for docker-compose.yml file -> F5 with "Python: Remote Attach".
4. Navigate to the explorer, right-click the contai

[2020-11-12 14:31] bwateratmsft commented on #2488
This is by-design, limitations in ACI make it impossible to have a file explorer.

[2020-11-12 14:31] #2488 closed

[2020-11-12 14:32] bwateratmsft commented on #2487
This is by design. Deploying to App Service requires the Azure Account extension, so it does not show when it isn't installed. However, deploying to ACI does not require the Azure Account extension, so I wanted it to show in that case.

[2020-11-12 14:34] bwateratmsft commented on #2486
Unfortunately it isn't possible to directly install it; there is no command to install an extension's latest version.

[2020-11-12 14:34] #2486 closed

[2020-11-12 14:34] bwateratmsft commented on #2485
@ikemerrix can you add repro steps?

[2020-11-12 14:41] bwateratmsft commented on #2489
The issue is probably with the path mappings; when I scaffold a remote attach configuration it comes up with this for `"pathMappings"`:
[code]
Depending on how the workspace is structured these may need to be changed. Can you share the shape of your directory tree?

[2020-11-12 14:47] bwateratmsft commented on #2483
@philliphoff I think we should consider fixing this for 1.8.0.

[2020-11-12 15:19] bwateratmsft commented on #2289
I really want to try to get this into 1.9.0. microsoft/vscode#106946 might not get fixed; but it's possible with this change we would o longer need it (still need to investigate to be sure).

[2020-11-12 17:46] #2483 closed

[2020-11-12 20:09] webdog opened #2493 "Emit some information about what target the Docker extension is trying to connect to"
Version: 1.51.0
Commit: fcac248b077b55bae4ba5bab613fd6e9156c2f0c
Date: 2020-11-05T18:14:40.758Z (1 wk ago)
Electron: 9.3.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Darwin x64 19.4.0

- VSCode Version: 1.51.0
- Local OS Version: 10.15.4
- Remote OS Version: N/A
- Remote Extension/Connection Type: SSH/Docker/WSL Docker

Steps to Reproduce:

1. Edit docker.host to tcp://`$

[2020-11-13 02:32] v-ruizh commented on #2487
@bwateratmsft Creating a new ACI requires the Azure Account extension. Deploying to ACI requires the Azure Account extension if no ACI exists. Deploying to ACI does not require the Azure Account extension if there is an existing ACI.

It would be better to show the "Deploy Image to Azure App Service" action in context menu if there is no Azure Account extension installed. Then remind the user to i

[2020-11-13 06:40] v-mengwe commented on #2489
The shape of my directory tree:
![Screen Shot 2020-11-13 at 2 30 23 PM](https://user-images.githubusercontent.com/62053665/99036679-18cbfb00-25bd-11eb-8734-1922e861743f.png)
Please get the details from this video ([django.zip](https://github.com/microsoft/vscode-docker/files/5535133/django.zip))

**More Info:**
This is an unstable issue on Mac/Linux, stop automatically when executing F5 for the fi

[2020-11-13 14:13] bwateratmsft commented on #2487
Of course! Now I feel silly. It is still possible to create an ACI context strictly from command line, then the Azure Account extension isn't needed.

@BigMorty what do you think for this? If the Azure account extension is not installed, should we still show the Deploy to ACI button, since ACI contexts can be created from command line without needing the Azure Account extension?

[2020-11-13 14:16] bwateratmsft commented on #2489
That directory structure looks normal to me. It's hard to be sure then why the error. My `docker-compose.debug.yml` file has an argument in the command to use debugpy to launch the app, and instructs it to wait until the debugger connects, so that breakpoints in manage.py can still be hit:

[code]

I assume your `docker-compose.debug.yml` looks the same?

[2020-11-13 15:11] bwateratmsft commented on #2327
This may be solvable with #2289, if we (potentially) no longer need to build up a task tree.

[2020-11-13 17:44] #2473 closed

[2020-11-13 19:51] BigMorty commented on #2487
I think we should be consistent and only show Azure features if the Azure Account extension is installed.

[2020-11-15 10:39] jifox opened #2492 "Docker don't update the data in extension but works in terminal"
Issue Type: <b>Bug</b>

Hello

The docker extension is not updating the data   (Containers, Images, ...) but is working without problems in vscode terminal.

Error: write EPROTO 139849010243456:error:1408F10B:SSL routins:ssl3_get_record:wrong version number:../deps/openssl/openssl/ssl/record/ssl3_record.c:332:\

KR Josef

Extension version: 1.7.0
VS Code version: Code 1.51.1 (e5a624b788d92b8d34d13

[2020-11-15 10:43] jifox commented on #2492
Also I've already checked that no Docker settings are active in settings.json

[2020-11-16 07:01] v-mengwe commented on #2489
Yes, my `docker-compose.debug.yml` file is the same as yours.
[code]

[2020-11-16 08:12] v-ruizh opened #2494 "[GitHub Codespaces] There is no prompt "Cannot edit in read-only editor" when editing a container file"
**Build Version:** 20201114.1

**Repro Steps:**
1. Open a container file from container view.
2. Edit it and check the result.

**Expect:**
There is a prompt "Cannot edit in read-only editor".
![image](https://user-images.githubusercontent.com/45614674/99227456-3b148180-2826-11eb-93b6-fc73eee4eb53.png)

**Actual:**
There is no prompt "Cannot edit in read-only editor".
![image](https://user-images.

[2020-11-16 14:01] #2436 closed

[2020-11-16 14:01] #2435 closed

[2020-11-16 14:33] bwateratmsft commented on #2492
@jifox What error is present in the explorer?

[2020-11-16 14:39] bwateratmsft commented on #2494
I haven't been able to reproduce, the "Cannot edit in read-only editor" tag appears for me. What OS did you try on and is this VSCode Insiders?

[2020-11-16 14:50] bwateratmsft commented on #2493
@webdog The `docker.host` setting does permit sockets as well as addresses; for example you could do `unix:///var/run/docker.sock` (which is what is used by default). We don't that default value there because on Windows it is instead `npipe:////./pipe/docker_engine`. As far as I know there's no way for extension authors to specify different default values per OS. As you found though, we implicitly

[2020-11-16 14:51] bwateratmsft commented on #2426
This issue has been closed because it needs more information and has not had recent activity. See also our [issue reporting](https://aka.ms/azcodeissuereporting) guidelines.

Happy Coding!

[2020-11-16 14:51] #2426 closed

[2020-11-16 14:52] bwateratmsft commented on #2494
I missed that this was in Codespaces, I'll try there.

[2020-11-16 16:49] webdog commented on #2493
That's a really good point. Even if it did, it could become confusing quickly unless those values were nested/organized in some efficient way (Something like `system.docker.config.[windows|osx|linux]` as a passing thought). I also say that without understanding the effort required to support that, which could be considerable.

Information in the output window would work, I think. It would have bee

[2020-11-16 17:09] bwateratmsft commented on #2493
I'll adjust the title and set some labels. Thank you for the suggestion and for the very detailed information!

[2020-11-16 19:29] bwateratmsft commented on #2429
This change has now been released in 1.8.0.

[2020-11-16 19:30] bwateratmsft commented on #2451
This fix has now been released in 1.8.0.

[2020-11-16 19:30] bwateratmsft commented on #1895
This change has now been released in 1.8.0.

[2020-11-16 19:30] bwateratmsft commented on #2448
This fix has now been released in 1.8.0.

[2020-11-16 19:30] bwateratmsft commented on #2333
This feature has now been released in 1.8.0.

[2020-11-16 19:30] bwateratmsft commented on #2453
This fix has now been released in 1.8.0.

[2020-11-16 19:30] bwateratmsft commented on #2371
This fix has now been released in 1.8.0.

[2020-11-16 19:31] bwateratmsft commented on #2315
This feature has now been released in 1.8.0.

[2020-11-16 19:31] bwateratmsft commented on #2356
This change has now been released in 1.8.0.

[2020-11-16 19:31] bwateratmsft commented on #2413
This fix has now been released in 1.8.0.

[2020-11-16 20:10] jifox commented on #2492
@bwateratmsft

What do you mean with "exploerer"?

Error: write EPROTO 139849010243456:error:1408F10B:SSL routins:ssl3_get_record:wrong version number:../deps/openssl/openssl/ssl/record/ssl3_record.c:332:\

In the terminal window there is no error

[2020-11-16 20:10] jifox commented on #2492
![Screenshot 2020-11-16 210941](https://user-images.githubusercontent.com/8406301/99302809-2d73f180-2850-11eb-98fd-68971d98c4be.png)

[2020-11-17 02:03] v-ruizh commented on #2494
@bwateratmsft Sorry for miss the information. This issue only reproduces with remote/browser scenario. I guess you may repro it with local scenarios. You can reproduce this issue with below steps.

1.	Navigate to the source repo on GitHub.
2.	Click the “Code” button and choose “Open with Codespaces”.
3.	Click the “+ New Codespace” button.
4.	Once the GHCS is loaded, install the Docker extension an

[2020-11-17 06:54] v-ruizh opened #2495 "There is no port textbox when adding docker compose files to express app"
**OS:** Windows 10
**Build Version:** 20201111.4

**Repro Steps:**
1. Create an Express App and add docker files for it.
2. F1 -> Docker: Add Docker Compose Files to Workspace... -> Node.js -> Choose a package.json file.

**Expect:**
Navigate to the port textbox, like below screen during adding docker files.
![image](https://user-images.githubusercontent.com/45614674/99355803-eb948b00-28e3-11eb-8c

[2020-11-17 08:12] v-ruizh opened #2496 "[Codespaces] The pulled images are outdated before restarting VS Code"
**OS:** Win 10
**Build Version:** 20201114.1
**Environment:** GitHub Codespaces (Both remote/browser and local)

**Repro Steps:**
1. Enable the setting "Docker > Images: Check for outdated images".
2. Open Docker view, if the image "alpine:latest" is present, remove it: docker rmi alpine:latest.
3. Pull any image, and tag it as "alpine:latest": docker pull hello-world:latest && docker tag hello-wo

[2020-11-17 08:17] v-mengwe opened #2497 "“Docker Container: Stop” using command palette should only show running containers"
**OS:** All
**Build Version:** 20201114.1

**Repro Steps:**

1. Run "docker run hello-world" -> Make sure there is a stopped "hello-world" container.
2. Run "docker run registry" -> Make sure there is a running "registry" container.
3. Check the context menu of the stopped "hello-world" container -> Make sure there is no "Stop".
4. F1 -> Type "Docker Container: Stop" -> Select "Individual Containe

[2020-11-17 14:34] bwateratmsft commented on #2494
I did try it on Codespaces but was not able to reproduce the issue. Does it happen consistently?

[2020-11-17 14:37] bwateratmsft commented on #2492
@jifox You may be using the extension in UI mode which is probably not what you want. If you go to the Extensions tab, does the Docker extension appear as installed in the remote server, similar to in the WSL screenshot below?

![image](https://user-images.githubusercontent.com/36966225/99403399-6ba4fb80-28b8-11eb-8fde-a1383b73c2f6.png)

If it is not installed, can you try installing it and reload

[2020-11-17 14:38] bwateratmsft commented on #2495
I did this on purpose but now I'm having trouble remembering why...

[2020-11-17 14:41] bwateratmsft commented on #2497
I can reproduce as long as multiple containers are running, I'll take a look.

[2020-11-17 14:41] bwateratmsft commented on #2496
This probably has to do with the logic we added to cache the results of the call on a once-per-day basis...

[2020-11-17 16:40] bwateratmsft commented on #2497
It appears this is a regression from #2463. In the tree item picker logic in `vscode-azureextensionui`, it will always show parent tree items in the pick list (because you might be looking for a child of that tree item). In this case that is not true, but because `ContainerTreeItem` is now implemented as an `AzExtParentTreeItem`, that logic takes place.

@philliphoff I think we can solve this by i

[2020-11-17 16:51] bwateratmsft commented on #2495
I think maybe it was just an oversight. Python, .NET, and Java all show the ports prompt during either single-Dockerfile or compose scaffolding.

[2020-11-17 16:54] bwateratmsft commented on #2489
It's hard to know then what's wrong. Everything in your project looks correct to me, so it's possible it's just some transient issues with either debugging in general or Python debugging in particular. In any case, I'm pretty sure it would be external; the remote attach debug configuration itself is strictly the Python extension's ownership, and the way we are launching debugpy in the container lo

[2020-11-17 16:54] #2489 closed

[2020-11-17 17:22] jifox commented on #2492
![Screenshot 2020-11-16 210941](https://user-images.githubusercontent.com/8406301/99424179-b008b980-2901-11eb-92c2-5be1811d85f2.png)

It was already installed in SSH Swarm Service

[2020-11-17 17:38] marviobezerra opened #2498 "The terminal process failed to launch: Could not find the terminal with id 2 on the extension host."
Issue Type: <b>Bug</b>

### Environment:
MAC OS Big Sur 11.0.1
.Net 5.0.100
VS Code 1.51.1 & Commit: e5a624b788d92b8d34d1392e4c4d9789406efe8f
VS Code Docker extension v1.8.0
Docker 2.5.0.1

### Steps to reproduce

1. Create a new API using .Net 5 (v 5.0.100)
`dotnet new webapi -o sample`

2. Open the new project on VS Code and add the recommended `launch.json` and `tasks.json` (it prompts up in a

[2020-11-17 17:51] philliphoff opened #2499 "Update background of marketplace banner to match Docker logo"
With the switch to the new "blue whale" icon for the extension, we should update the background color of the banner shown in the [marketplace](https://marketplace.visualstudio.com/items?itemName=ms-azuretools.vscode-docker), as the current blue-on-blue looks muddled.

<img width="1225" alt="Screenshot 2020-11-17 at 09 47 15" src="https://user-images.githubusercontent.com/6402946/99427404-3b5e5c80-

[2020-11-17 17:54] bwateratmsft commented on #2499
Huh, I would not have even guessed it was possible to control this, but now I noticed that `galleryBanner` setting in package.json for the first time.

[2020-11-17 17:58] philliphoff commented on #2499
Yup!  I'd go with a gray, but we wouldn't want it to clash with the gray and black already used in the header.  Maybe a quick question for our UX expert?

[2020-11-17 18:00] bwateratmsft commented on #2499
Good idea. I'm inclined toward `#1e1e1e`, which is the default editor background in the default dark theme--and also, what you see when you go to the Extensions tab.

[2020-11-17 18:08] bwateratmsft commented on #2492
I've been able to find a handful of threads with similar error messages:
https://discuss.atom.io/t/why-would-i-be-getting-error-write-eproto-when-making-an-https-request-in-an-electron-app/22760
https://github.com/nodejs/node/issues/3692
https://lifesaver.codes/answer/http-https-client-requests-throwing-eproto

It sounds like this is an external issue somehow related to TLS settings. That said, wh

[2020-11-17 18:12] bwateratmsft commented on #2498
@alexr00 this looks like a terminal system issue, any ideas?

[2020-11-17 18:23] philliphoff commented on #2497
As a short-term measure, I think that's fine.  We probably want to revisit the multi-item pick list logic in general as it doesn't seem to comprehend more nested structures; I thought I had worked around one issue with having containers now being a parent item, but evidently there are more.

[2020-11-17 18:59] jifox commented on #2492
@bwateratmsft
The unix:///var/run/docker.sock worked without problem remotly when connected through SSH and on the local teminal

After updating to the latest docker-ce version (Docker version 19.03.13, build 4484c46d9d) the tcp://localhost:2376 worked only locally on the linux host but not through ssh connection.

[2020-11-17 19:00] jifox commented on #2492
![Screenshot 2020-11-16 210941](https://user-images.githubusercontent.com/8406301/99434844-92425100-290f-11eb-8b4e-c2dff16bee73.png)

[2020-11-18 03:20] v-ruizh commented on #2494
@bwateratmsft This issue happens consistently. You can try to add something to reproduce this issue. This issue does not reproduce if you try to delete something.

[2020-11-18 09:35] ljgww commented on #2492
After recent update on Ubuntu18 this stopped working. Default configuration looks ok. Lock file is present. Docker service is running (can enter commands from cli). But Docker extension is having a problem.
![image](https://user-images.githubusercontent.com/776581/99512507-d40fdd80-2989-11eb-9ae5-a3c369de0b00.png)

[2020-11-18 19:44] dbreshears commented on #2480
Won't fix this for now as single click for super large files could be really annoying.   Will leave it as right click for now

[2020-11-18 19:44] #2480 closed

[2020-11-18 21:25] Neutrino-Sunset opened #2504 "How do I configure the run task to remain attached?"
I have a run task configured as follows

[code]

This is essentially the default generated run task, I've just added a couple of volumes and overridden the container command to execute nodemon.

I want to be able to run this task and have the terminal remain attached to the container so that I can monitor the nodemon output. However if I run this task the `docker run` command that is executed is a

[2020-11-18 21:58] philliphoff commented on #2498
I wasn't able to repro the issue (but ran into another) when using Docker 2.4.2.0 (edge). After updating to Docker 2.5.1.0 (edge), I do now see the same terminal issue.  Stepping through the code, task execution seems to halt (but no exception thrown) after VS Code calls our `CustomExecution` constructor callback, after it returns a `Pseudoterminal` instance, but before VS Code calls `Pseudotermin

[2020-11-19 03:31] ItalyPaleAle commented on #1515
Stumbled upon this ticket while researching a similar issue.

Testing VS Code on a Chromebook with Crostini, after logging into GitHub I got this error:

![Screenshot 2020-11-18 at 19 19 00](https://user-images.githubusercontent.com/43508/99617602-810f4800-29d4-11eb-9c06-6a1850b5899f.png)

Following this issue, I fixed it by installing gnome-keyring.

However, I wonder if it would make sense to ad

[2020-11-19 14:14] bwateratmsft commented on #1515
The authentication provider API in VSCode is going to add a secret storage API, so we're planning to use that. It would hopefully fix the issue, otherwise it will at least make it external to us.

[2020-11-19 14:20] bwateratmsft commented on #2504
So the `docker-run` task is meant primarily for debugging, and as you point out always runs detached. The `docker.commands.run` / `docker.commands.runInteractive` are not tasks, but customizable command lines instead. For this purpose your best bet is to make a custom `docker.commands.runInteractive` command. There's a great deal of info on command customization in the doc here: https://code.visua

[2020-11-19 14:23] bwateratmsft commented on #2498
That's really strange. The Docker version shouldn't have any bearing on this since we're executing the Docker command via `spawn`--one would think it should be entirely invisible to VSCode.

[2020-11-19 14:38] bwateratmsft commented on #2492
@ljgww Is this is a remote session? Do you have anything set for `DOCKER_HOST` environment variable or `docker.host` VSCode setting?

@jifox I'm not really sure what the problem is. There's any number of reasons that networking can break down. However, I'd recommend just using the default context for `localhost` connections, i.e. `unix:///var/run/docker.sock`. It seems like it adds unnecessary com

[2020-11-19 14:51] Neutrino-Sunset commented on #2504
Possibly that would work. I certainly understand the documenation a lot better now after your explanation. I hadn't really understood that it was the commands available in the Command Palette that the customization docs were referring to and thought it was some aspect of the launch.json and task.json configuration.

If I use a custom command though, how would that build the image when required in

[2020-11-19 14:51] #2504 closed

[2020-11-19 15:00] bwateratmsft commented on #2504
If you still want to use tasks to handle build, you can do a custom run task using just a shell task, rather than the `docker-run` task. This way, the `docker-build` task still happens first:

[code]

You'll need to fill in `<imageName>` with whatever image is created by your `docker-build` task.

[2020-11-19 15:19] alexr00 commented on #2498
@meganrogge do you by chance have a mac with Big Sure and Docker 2.5.1.0 ? If so, we should arrange time to debug.

[2020-11-19 16:40] meganrogge commented on #2498
Hey @alexr00 i do not have a Mac unfortunately. I do have Mac as my personal computer, but can’t install XCode because do not have the space and that’s required to build VSCode as far as I know.

[2020-11-19 16:43] bwateratmsft commented on #2498
@philliphoff and I both have Macbooks (mine is upgrading to Big Sur as I write this); if you can give us some info on how to do it we can probably debug things.

[2020-11-19 19:46] 775705m opened #2505 "I can not run this code what is the proplem ?"
Does this occur consistently?
Repro steps:

1.
2.

Action: debugCoreClr
Error type: Error
Error Message: No workspace folder is associated with debugging.

Version: 1.4.1
OS: win32
OS Release: 10.0.19041
Product: Visual Studio Code
Product Version: 1.51.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-11-19 23:46] BigMorty opened #2506 "Add a menu option on Compose nodes in the Containers panel to execute "docker compose logs""

[2020-11-20 01:24] wendellmva opened #2507 "ContainerId is shown in description instead of imageId"
In the container.description settings when the imageid is checked, the containerid is shown in the container node description instead of the imageid.

[2020-11-20 01:36] pcgeek86 opened #2508 "Feature Request: Add Debugging Support for PowerShell"
Right now, the Docker extension appears to support debugging of C# / .NET Core, Python, and Node.js applications. This is according to the Visual Studio Code documentation, linked below.

I would like the ability to perform interactive debugging of a PowerShell application, inside a Docker container, as well.

https://code.visualstudio.com/docs/containers/debug-common
https://code.visualstudio.com

[2020-11-20 13:36] derekschauland opened #2509 "Failed to connect. Is Docker installed?"
I have docker desktop for Mac installed and it runs fine from the command line. When I added the docker extension for VScode - the extension claimed docker was not found. It prompted for install - I replaced my installed version with the updated version even and the extension claims docker isn't installed.

From the terminal docker is running with no issues - also works from VSCode terminal. Not s

[2020-11-20 14:18] bwateratmsft commented on #2505
Duplicate of #1451. Also, the legacy `docker-coreclr` debug configuration has been removed and replaced by `docker`.

[2020-11-20 14:19] #2505 closed

[2020-11-20 14:21] bwateratmsft commented on #2508
It looks like the [PowerShell extension](https://marketplace.visualstudio.com/items?itemName=ms-vscode.PowerShell) supports debugging so this is probably possible.

[2020-11-20 14:24] bwateratmsft commented on #2509
@derekschauland What shell do you have configured for VSCode to use? In order to detect if Docker is installed, we run `docker -v` on the default shell from [Node's child_process](https://nodejs.org/api/child_process.html#child_process_child_process_spawn_command_args_options), which is `/bin/sh`. I would expect that as long as `docker -v` works on `/bin/sh`, it should work...

[2020-11-20 14:27] bwateratmsft commented on #2507
I can repro. I think the issue is [here](https://github.com/microsoft/vscode-docker/blob/master/src/tree/images/ImageProperties.ts#L64), for containers the `Id` field is the container ID but for images that field is the image ID.

[2020-11-20 14:27] derekschauland commented on #2509
I am using pwsh as the default shell for vscode

From: Brandon Waterloo [MSFT] <notifications@github.com>
Date: Friday, November 20, 2020 at 8:24 AM
To: microsoft/vscode-docker <vscode-docker@noreply.github.com>
Cc: Derek Schauland <derek@derekschauland.com>, Mention <mention@noreply.github.com>
Subject: Re: [microsoft/vscode-docker] Failed to connect. Is Docker installed? (#2509)

@derekschauland

[2020-11-20 17:49] bwateratmsft commented on #2509
Are there any settings in place that would change the environment variables (in particular `PATH`) for VSCode?

[2020-11-20 18:24] ucheNkadiCode opened #2512 "Prompt user to Open a Folder or Workspace"
Users commonly try to debug, build, scaffold or start a container with our Docker Tools when a folder or workspace is not currently open. It is important to note there shouldn't be a way to get into a debug path without having a folder open. This error should be repro'd.

Possible Scenario: The user selects a single python file and opens with VS Code. The user would be able to run this python scri

[2020-11-20 18:24] derekschauland commented on #2509
Not that I know of... its an out of the box install with the PowerShell, and terraform extensions installed.

[2020-11-20 18:31] bwateratmsft commented on #2512
@ejizba I was discussing this yesterday with @ucheNkadiCode, and I think potentially the easiest and best way to solve it would be to define a new special error type in `vscode-azureextensionui` (e.g. `NoWorkspaceError`), and have specific handling to catch it that would not show 'Report Issue', but instead a button to open a workspace/folder. Then, in all the (many) places we throw errors about t

[2020-11-20 18:38] ejizba commented on #2512
Sounds good

[2020-11-20 19:20] rishikaushal2009 opened #2515 "unable to pull docker image"
Does this occur consistently?
Repro steps:

1.
2.

Action: vscode-docker.registries.pullImage
Error type: 1
Error Message: Process 'docker login --username "rishikaushal" --password-...' exited with code 1
Error: Error saving credentials: rename C:\Users\qwin\.docker\config.json385557979 C:\Users\qwin\.docker\config.json: The process cannot access the file because it is being used by another proce

[2020-11-20 20:36] bwateratmsft commented on #2515
@rishikaushal2009 are you able to log in or pull images from the command line directly?

[2020-11-20 21:19] khlid112 opened #2516 "exper"

[2020-11-20 21:46] #2516 closed

[2020-11-20 22:43] rishikaushal2009 commented on #2515
@bwateratmsft  i did a workaround by creating image locally using docker desktop instead of pulling from dockerhub as in docker hub it was in pvt registry that required secret to pull

[2020-11-22 00:32] left-code opened #2517 "Multitenant container need tenant in open link"

[2020-11-22 00:33] #2517 closed

[2020-11-22 09:09] benpinchas commented on #2333
Hey : )
There's a way I can disable this feature in release 1.8.0?

[2020-11-22 14:35] PavelSosin-320 commented on #2333
@bwateratmsft Clarification: The files of containers and how fast the list of container files are questions without a single answer because according to OCI container format (Docker, runc , Podman, Kubernetes, Openshift,...) every container has more than 1 filesystem: 1. RootFS served by overlay2 driver and created in the memory when the image is loaded, container created, and shared among all run

[2020-11-23 03:44] ZediWards commented on #2509
I'm using Ubuntu and had to add myself as a user in a docker group to not have to run as sudo every time.
At the end of doing that, I had to restart the group in the terminal with $ newgrp docker (Or completely log out and back into my session). I had to also run this command inside my VS Code terminal as well before the Docker extension would work.
Don't know if this helps or not.

[2020-11-23 09:13] v-ruizh opened #2518 "Fail to debug the .NET Core project with an error "Could not find the task 'docker-run: debug'""
**OS:** Win 10
**Build Version:** 20201114.1
**.NET Core:** 5.0.100

**Repro Steps:**
1. Create a .NET Core MVC/Console project and open it in VS Code insiders 1.52.0.
2. Add Docker files to workspace.
3. Change the configuration to "Docker .NET Core Launch".
4. F5.

**Expect:**
Debug the .NET Core project successfully.

**Actual:**
Fail to debug the .NET Core project with an error "Could not find

[2020-11-23 14:44] bwateratmsft commented on #2515
Ok, glad you were able to work around it. Thanks!

[2020-11-23 14:44] #2515 closed

[2020-11-23 14:51] bwateratmsft commented on #2518
I'm able to reproduce on the latest Insiders build. @alexr00 is this a known issue?

[2020-11-23 14:56] #2455 closed

[2020-11-23 14:56] #2499 closed

[2020-11-23 15:11] bwateratmsft commented on #2455
A fix for this has now been released in Docker extension 1.8.1.

[2020-11-23 15:18] #2497 closed

[2020-11-23 15:19] #2495 closed

[2020-11-23 15:19] #2507 closed

[2020-11-23 15:19] #2506 closed

[2020-11-23 15:20] #2487 closed

[2020-11-23 15:20] #2493 closed

[2020-11-23 16:13] alexr00 commented on #2518
A case of bugs on bugs. I updated a bit of old code that wasn't doing what it was intended to do with https://github.com/microsoft/vscode/commit/2720a8022e5f2f22a50ba036eeafd3cc9e7b6a3f, but after it did what it was intended to do (which was only relevant before I implemented `resolveTasks`), it broke cases where extensions don't provide any tasks in `provideTasks` but do use `resolveTask`.

Fixed

[2020-11-23 19:39] karolz-ms commented on #2333
@benpinchas why would you like to disable the feature? It does not incur any cost if you do not expand the Files node...

[2020-11-24 13:34] vitmsrk commented on #2498
Having same issue after upgrading to Big Sur

[2020-11-24 14:49] #2458 closed

[2020-11-24 15:14] maxverro commented on #2498
Same issue here with macOS Big Sur and Docker 2.5.0.1, is there a workaround atm?

[2020-11-24 16:39] bwateratmsft opened #2520 "Use `when` contexts to hide commands from palette"
Many users try to scaffold files while no workspace is open, which is not valid. We can use [`when` clause contexts](https://code.visualstudio.com/docs/getstarted/keybindings#_when-clause-contexts) to hide this command (and others) when no workspace is open, in particular `workbenchState` or `workspaceFolderCount`.

[2020-11-24 16:56] bwateratmsft commented on #2520
Related to #2512

[2020-11-25 06:32] dramane188 opened #2521 "python"
Does this occur consistently?
Repro steps:

1.
2.

Action: vscode-docker.registries.azure.buildImage
Error type: Error
Error Message: To quick build Docker files you must first open a folder or workspace in VS Code.

Version: 1.8.1
OS: darwin
OS Release: 19.6.0
Product: Visual Studio Code
Product Version: 1.51.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-11-25 06:32] #2521 closed

[2020-11-25 16:00] bwateratmsft commented on #2520
I think these commands would benefit:
[code]

[2020-11-25 16:20] Tapankumarpanda-kcc opened #2522 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-docker`
- Extension Version: `1.8.1`
- OS Version: `Windows_NT x64 10.0.18362`
- VSCode version: `1.51.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`c:\Users\u1\AppData\Local\Temp\ms-azuretools.vscode-docker-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Exp

[2020-11-25 16:24] JheyssonD opened #2523 "Debug docker"
Does this occur consistently?
Repro steps:

1.
2.

Action: docker-launch
Error type: ENOTFOUND
Error Message: getaddrinfo ENOTFOUND vsdebugger.blob.core.windows.net

Version: 1.8.1
OS: win32
OS Release: 10.0.18362
Product: Visual Studio Code
Product Version: 1.50.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-11-25 16:53] bwateratmsft commented on #2523
@JheyssonD it looks like the DNS lookup for `vsdebugger.blob.core.windows.net`. Do you have a custom DNS provider or something like that?

[2020-11-25 16:54] bwateratmsft commented on #2522
@Tapankumarpanda-kcc does this happen consistently?

[2020-11-26 09:32] ZeeMoros opened #2525 "docker-compose seems to ignore context"
I have two docker.sock contexts, the default one and one from a docker dind.

![image](https://user-images.githubusercontent.com/42606668/100332586-dbf6ff80-2fd1-11eb-8244-345f8f8c930c.png "contexts")

My docker dind is empty as seen bellow.

![image](https://user-images.githubusercontent.com/42606668/100332654-f03afc80-2fd1-11eb-9109-ec767c9e15f0.png "zee context")

I want to add a container to i

[2020-11-27 16:47] kaycoinsUSA opened #2526 "Action: vscode-docker.registries.azure.runFileAsTask"
Does this occur consistently?
Repro steps:

1.
2.

Action: vscode-docker.registries.azure.runFileAsTask
Error type: Error
Error Message: To run a task from a .yaml file you must have yaml file in your VS Code workspace.

Version: 1.8.1
OS: win32
OS Release: 10.0.19041
Product: Visual Studio Code
Product Version: 1.51.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-11-29 13:36] benpinchas commented on #2333
@karolz-ms

First I find this toggle mechanism annoying and less clean. (attaching before and after)

Second, let's say you have many microservices, and you want to deal with a specific one.

Before that feature, you would just click on one of them to gain focus, start typing part of the microservice name and vs-code would mark any matched microservices (elements) for you.

Now, with this feature,

[2020-11-29 19:41] karolz-ms commented on #2333
@benpinchas glad you found a workaround

Just FYI the extension now groups container nodes by Compose "project" by default (that is why there is a "docker" top-level node in the new tree layout), but that can be turned off via settings if you don't like that

[2020-11-30 03:12] ADustyOldMuffin opened #2527 "enableDebugging seems to overwrite /app in container for dotnet core app"
I have a Dockerfile that looks like so

[code]
Where I have build arguments for using a private nuget package source, currently I use docker-compose to help with this and a bunch of other setup by passing in the build arguments that way.

I was hoping to use the `Docker .NET Core Launch` launch setting to debug said container, and instead of messing with my docker-compose file use the task values

[2020-11-30 09:02] windsource opened #2528 "Cannot connect to Github Container Registry ghcr.io"
I want to use the docker extension to browse the images stored in the [Github Container Registry (GHCR)](https://docs.github.com/en/free-pro-team@latest/packages/using-github-packages-with-your-projects-ecosystem/configuring-docker-for-use-with-github-packages) but I cannot get it working:

![image](https://user-images.githubusercontent.com/13716595/100588826-9a789400-32f2-11eb-8d2b-624630b18dcc.p

[2020-11-30 13:26] #2471 closed

[2020-11-30 14:38] bwateratmsft commented on #2528
This is covered on #869

[2020-11-30 14:38] #2528 closed

[2020-11-30 14:38] bwateratmsft commented on #2526
@kaycoinsUSA do you have a YAML file in your workspace?

[2020-11-30 14:41] bwateratmsft commented on #2525
I'd expect this to work but it also doesn't look like this is an issue related to the Docker extension. Can you share the output of `docker context ls`?

[2020-11-30 14:50] bwateratmsft commented on #2527
I think in a scenario like this your best bet is to use `docker-compose up` to launch the app and use an attach configuration in launch.json:
![image](https://user-images.githubusercontent.com/36966225/100623797-a400fc80-32f0-11eb-8144-a3a3cf867495.png)

The default .NET Docker debugging does a ton of optimizations to make the startup time tolerable--for example, it builds the app locally and maps

[2020-11-30 14:54] bwateratmsft commented on #2518
Verified that this is now working in the latest Insiders. Thanks again @alexr00!

[2020-11-30 14:54] #2518 closed

[2020-11-30 15:05] aod7br opened #2529 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-docker`
- Extension Version: `1.8.0`
- OS Version: `Linux x64 4.15.0-124-generic`
- VSCode version: `1.51.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`/tmp/ms-azuretools.vscode-docker-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-extension-causes-h

[2020-11-30 15:24] bwateratmsft commented on #2529
@aod7br does this happen consistently?

[2020-11-30 15:40] ZeeMoros commented on #2525
Here you go :
![image](https://user-images.githubusercontent.com/42606668/100630208-89e41000-332a-11eb-95a5-1ba9a3c1ca94.png)

I must admit that I haven't used docker context much up till now... So I'm not able to help much in identifying the source of the problem.

[2020-11-30 15:53] ZeeMoros commented on #2525
I also found out that setting the DOCKER_HOST environment variable just before docker-compose works :
[code]

But the following doesn't work and I personnaly find that odd :
[code]

It seems that the DOCKER_HOST is straight ignored by docker compose in the latter.

[2020-11-30 15:58] ADustyOldMuffin commented on #2527
I tried with the default dockerfile from the add docker files to workspace and ended with the same result where it just overwrites the `/app` folder when the `enableDebugging` is set to true.

I had found a way around to halt the starting of the app until a debugger attaches as I needed to debug the entry point of the app so I'm back to using docker-compose commands on my own.

I was just hoping t

[2020-11-30 16:08] PavelSosin-320 commented on #2525
1. Docker insists that it works [Docker-compose use of Docker context](https://www.docker.com/blog/how-to-deploy-on-remote-docker-hosts-with-docker-compose/).  Check your docker-compose version, please.
2. It is odd to mix Docker context and DOCKER_HOST because DOCKER_HOST is declared obsolete.
3. This is purely Docker issue.

[2020-11-30 16:16] ZeeMoros commented on #2525
These are the version I have :
[code]

Do you expect an incompatibility ?

[2020-11-30 16:25] PavelSosin-320 commented on #2525
Yes, I see: you need [Docker compose 1.26 pre-release. ](https://github.com/docker/compose/releases/tag/1.26.0-rc2). You have only 1 version to go.

[2020-11-30 17:13] ZeeMoros commented on #2525
Alright then I'll be patient and wait thanks a bunch ^^

For anyone that would like an alternative I personally use linux symlinks to do it right now, i just override the /var/run/docker.sock with the sock of the context I want to use.

[2020-11-30 17:13] #2525 closed

[2020-11-30 19:11] bwateratmsft commented on #2520
We'll do #2512 instead, as this could negatively affect discoverability.

[2020-11-30 19:11] #2520 closed

[2020-12-01 03:42] waynesun01 opened #2530 "push docker image error"
Does this occur consistently?
Repro steps:

1.
2.

Action: vscode-docker.registries.logInToDockerCli
Error type: 1
Error Message: Command failed: docker login https://harbor.s9537.cn:4433 --username admin --password-stdin
Error response from daemon: Get https://harbor.s9537.cn:4433/v2/: x509: certificate signed by unknown authority

Version: 1.6.0
OS: win32
OS Release: 10.0.19041
Product: Visual S

[2020-12-01 10:28] Shaynefrost opened #2532 "is:closed"
#2523 is:closed

[2020-12-01 10:29] Shaynefrost opened #2533 "is:closed is:closed"
#2523 is:closed

[2020-12-01 14:54] #2532 closed

[2020-12-01 14:54] #2533 closed

[2020-12-01 14:55] bwateratmsft commented on #2530
@waynesun01 can you add repro steps?

[2020-12-01 16:12] bwateratmsft commented on #2445
Related doc PR: https://github.com/microsoft/vscode-docs/pull/4152

[2020-12-01 16:58] #2445 closed

[2020-12-01 18:11] bwateratmsft commented on #2325
Dupe of #2506 I suppose.

[2020-12-01 18:11] #2325 closed

[2020-12-01 18:14] bwateratmsft commented on #2325
Also, this is really weird; this bug hid itself from triage somehow. It wasn't showing up in any of our triage queries even though it had no milestone.

[2020-12-01 18:16] bwateratmsft commented on #473
Seems like something we're just gonna keep punting forever, so I'm just gonna close it.

[2020-12-01 18:16] #473 closed

[2020-12-01 18:19] bwateratmsft commented on #1650
This won't be possible since the upstream bug is closed.

[2020-12-01 18:19] #1650 closed

[2020-12-01 18:22] bwateratmsft commented on #2275
This is implemented by #2176

[2020-12-01 18:22] #2275 closed

[2020-12-01 20:43] bwateratmsft commented on #2512
@ejizba There's a couple approaches that seem viable to me, relating to [`IParsedError`](https://github.com/microsoft/vscode-azuretools/blob/main/ui/index.d.ts#L668-673). Right now it has a boolean `isUserCancelledError`.

1. We could add a new boolean for this new error
1. We could replace it with an enum (which would be a "breaking" change as several extensions reference that property).
1. There

[2020-12-01 21:55] ejizba commented on #2512
I can see us expanding this pattern to other buttons (e.g. "Reload Window" or "Learn More"), so it would be great to have a more generic/scalable solution. First idea that comes to mind is maybe `NoWorkspaceError` extends a base class like `CustomButtonError`. That way `callWithTelemetryAndErrorHandling` and `IParsedError` would have to know about `CustomButtonError`, but not each individual type

[2020-12-03 00:41] ucheNkadiCode opened #2535 "Improve port snippets and detecting already in use/restricted ports"
When users are typing in ports in their compose, we provide a snippet that says
ports:
      - "hostPort:containerPort" (although we may simply want “- hostPort” since Docker will decide the container port)

Also:
•	We help Users to know which ports are already in use by another container on their host machine (yellow squigglies). We already expect containerports to be taken care of by the Docker

[2020-12-03 00:44] ucheNkadiCode opened #2536 "Volume Snippets + IntelliSense for selecting the correct file path in Volumes in Compose"
As the user aims to type their volumes command in compose, we provide them with

volumes:
      - hostFilePath:/containerPath

As the user types their volume in composefile (as seen below)

volumes:
      - ./src/Services/DomainAPI/data/mssql:/scripts/

We provide them the context and tab completion of both their host directory and their container directory (if possible). Even if they start from “

[2020-12-03 00:45] ucheNkadiCode opened #2537 "COPY Command snippets + IntelliSense for selecting the correct file path"
As the user aims to complete their COPY command, we provide them with

COPY ["hostFolderPath", "containerFolderPath"]

And as they type in their full file paths (example below)

WORKDIR /src
COPY ["src/Services/DomainAPI/DomainAPI.csproj", "src/Services/DomainAPI/"]

We provide them the context and tab completion of both their host directory and their container directory (if possible) and take int

[2020-12-03 00:47] ucheNkadiCode opened #2538 "Feature Request: View of which Volumes are being accessed by running containers"
When I'm running multiple containers whether it be through a compose group or multiple single Docker projects, I want to have some sort of view for all the volumes that are being accessed on my host machine alongside which containers are accessing them.

[2020-12-03 06:18] PavelSosin-320 commented on #2538
@ucheNkadiCode The relation of Container - volume is Multi-to-multi because volumes can be **shared**! You can see only Volumes per given container because Volume is the 1st class Docker artifact and can exist without any container that uses it. But you can see orphaned volumes using docker volume ls -qf dangling=true. Volumes are mounted to the given Container paths but don't know the path.  Plea

[2020-12-03 14:38] bwateratmsft commented on #2054
Duping this to #2538.