[2020-06-11 10:56] v-mengwe opened #2061 "It will create new docker-compose files directly instead of prompt overwrite notifications after adding docker files again"
**OS:** All
**Build Version:** 20200608.1

**Repro Steps:**

1. Open a .NET Core project in VS Code.
2. F1 --> Docker: Add Docker Files to Workspace --> .NET: ASP.NET Core --> Linux --> Include docker compose files.
3. Add Docker Files to Workspace again.
4. Click "Overwrite" after pop up the notification. ![image](https://user-images.githubusercontent.com/62053665/84360471-b2e9da80-abfc-11ea-98bc

[2020-06-11 11:04] v-ruizh opened #2062 "There is no webpage opening when debugging Django/Flask project with host network"
**OS:** All
**Build Version:** 20200608.1

**Repro Steps:**
1. Open a Django/Flask project in VS Code.
2. Add Docker support for it.
3. In the task "docker-run: debug", add the host network in the dockerRun property:
_"dockerRun": {
	       "network": "host"
             }_
4. F5.

**Expect:**
Debug successfully with the webpage opening.

**Actual:**
There is no webpage opening when debugging with

[2020-06-11 12:00] csakaszamok commented on #2055
Thx

[2020-06-11 13:15] bwateratmsft commented on #2058
@atomi because of what a mess the CA setup is we did not implement it for Dockerode support. You can use the `docker.dockerodeOptions` setting to set whatever you want to be passed to Dockerode, including CA settings.

[2020-06-11 13:18] bwateratmsft commented on #2060
I'll dupe this one over to #1631 since that covers the same scenarios.

[2020-06-11 13:18] #2060 closed

[2020-06-11 13:19] bwateratmsft commented on #2062
@haniamr this is probably expected, right?

[2020-06-11 13:33] #2046 closed

[2020-06-11 18:44] haniamr commented on #2062
@bwateratmsft when using the "host" network, the "dockerServerReadyListener" is trying to get the host port that maps to the found container port, however when using host networking there are no port mappings and you can access the container port directly from the host.

When using "none", it's expected to not work since there is no network connectivity in the container. For "macvlan", I'm not 100

[2020-06-11 19:05] bwateratmsft commented on #2062
"host" could be solved then using the built-in `serverReadyAction`, rather than `dockerServerReadyAction`. Our code is already smart enough to not do `dockerServerReadyAction` if `serverReadyAction` is present. Seems like we can resolve this one as by-design then.

[2020-06-11 19:05] #2062 closed

[2020-06-11 19:45] bwateratmsft opened #2064 "Maximize one awareness / survey toast per session"
Let's make sure we never show somebody multiple awareness toasts in a session, that'd be disruptive and may result in uninstalls.

[2020-06-12 05:03] shakuntalakhatri opened #2065 "Getting this issue while creating azure container registry through VS code"
Does this occur consistently?
Repro steps:

1.
2.

Action: vscode-docker.registries.azure.createRegistry
Error type: Error
Error Message: Entry not found in cache.

Version: 1.2.1
OS: win32
OS Release: 10.0.18363
Product: Visual Studio Code
Product Version: 1.46.0
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-06-12 10:36] v-ruizh opened #2066 "[Suggestion] Add a notification "No running containers are available to attach" if the container is not running before debugging"
**OS:** All
**Build Version:** 20200611.3

**Repro Steps:**
1. Open a Django/Flask project in VS Code and add Docker support including docker-compose files.
2. Add a new "Python Remote Attach" configuration.
3. Change the configuration to "Python Remote Attach".
4. Right click docker-compose.debug.yml file and select "Compose Up" action.
5. F5 immediately.

**Actual:**
Auto stop the debugging if t

[2020-06-12 12:17] bwateratmsft commented on #2065
@shakuntalakhatri can you add repro steps?

[2020-06-12 13:50] bwateratmsft commented on #2065
Ah, it looks like it is this upstream issue: https://github.com/microsoft/vscode-azure-account/issues/53

Can you try reopening the window or signing out and back in to Azure?

[2020-06-12 13:50] #2065 closed

[2020-06-12 13:54] bwateratmsft commented on #2066
@haniamr the Python Remote Attach config comes from the Python extension, not the Docker extension, correct?

[2020-06-12 17:03] haniamr commented on #2066
@bwateratmsft yes, that's correct. We don't have control to do that, unless we start to scaffold our own version of the attach configuration.

[2020-06-12 17:04] bwateratmsft commented on #2066
I'd rather avoid that, so I'll resolve this as external.

[2020-06-12 17:04] #2066 closed

[2020-06-14 13:21] mwithi opened #2069 "Cannot attach linux container in Windows OS"
Issue Type: <b>Bug</b>

Cannot attach the container on windows OS (seems calling shell from the host):

$ docker exec -it a905890074b9015c2e17de9b56144cdafbd858da7a26c2e69d0627c30e3b959a /bin/sh
OCI runtime exec failed: exec failed: container_linux.go:346: starting container process caused "exec: \"C:/Program Files/Git/usr/bin/sh\": stat C:/Program Files/Git/usr/bin/sh: no such file or directory":

[2020-06-15 12:50] bwateratmsft commented on #2069
Hey @mwithi, this is a known issue with Git Bash (#462). Git Bash is doing something it should not be doing (namely, changing the slashes), causing the command to fail.

In the short term, you can fix this by changing the setting `docker.attachShellCommand.linuxContainer` from the default of `/bin/sh` to `//bin/sh`. We are planning to deprecate that setting and redo shell attach at some point in t

[2020-06-15 12:50] #2069 closed

[2020-06-15 17:17] bwateratmsft commented on #2029
The fix for this is now released in 1.3.0.

[2020-06-15 17:17] bwateratmsft commented on #1947
The fix for this is now released in 1.3.0.

[2020-06-15 17:18] bwateratmsft commented on #1954
The fix for this is now released in 1.3.0.

[2020-06-15 20:26] bwateratmsft commented on #2034
We discussed offline, and it seems like the following is needed:

Hosted:
- [ ] Scaffolding
- [ ] Debugging

Standalone:
- [ ] Scaffolding
- [ ] Debugging? Maybe not interesting in this scenario? (Local debugging is of course available)

[2020-06-16 14:20] bwateratmsft commented on #1493
I've been investigating this some. I can't find any documentation about the Docker Hub API (the old one, not the Registry V2 API). The Registry V2 API is a non-starter for this purpose because it requires authentication, even to access public images.

There is a JSON endpoint, e.g. https://hub.docker.com/v2/repositories/library/nginx/tags/latest, but the `last_updated` time in that result is unrel

[2020-06-16 14:27] #2010 closed

[2020-06-16 14:56] nunovieira opened #2071 "Why move node_modules to parent directory?"
https://github.com/microsoft/vscode-docker/blob/f02f023ef2d42e88b0b6759fd75f9e6606545727/src/configureWorkspace/configureNode.ts#L28
This line intrigues me.
Why the `mv node_modules ../` part? Why move _node_modules_ up a directory?
Should this be in a generic Node.js Dockerfile template?

[2020-06-16 14:57] bwateratmsft commented on #2071
@philliphoff do you know why we do this?

[2020-06-16 15:01] bwateratmsft commented on #1493
Interestingly I found that you do not need to provide anything in the `Authorization` header to get a valid token from the `auth.docker.io/token` endpoint; at least for public scopes like `repository:library/nginx:pull`. With that token you can get a proper manifest from `https://registry-1.docker.io/v2/library/nginx/manifests/latest` to do an exact check.

[2020-06-16 16:36] philliphoff commented on #2071
It's from before my time on the extension, but my guess is that it was (at least an attempt at) a Docker image build layer optimization.  It may also have been done to allow the flexibility to bind-mount the local application source into the container (rather than always build within the container); by keeping the `node_modules` folder in the parent (in the container as well as locally), you no lo

[2020-06-16 17:15] bwateratmsft commented on #2071
I looked through Git history, it's been this way for a very long time.

@lostintangent more or less was the first to make it this way (up one level), albeit with changing to Yarn instead of NPM: https://github.com/microsoft/vscode-docker/pull/85
Then immediately changed it back to NPM: https://github.com/microsoft/vscode-docker/pull/86

Since then it's been moved a few times but the moving of `nod

[2020-06-17 02:36] lostintangent commented on #2071
As @philliphoff mentioned, this was done to allow users to mount their local copy of their codebase, without that  copy needing to include the restored node_modules (which might also be built for an entirely different operating system).

That said, it’s been quite a while, so I’m not sure if this strategy is still appropriate 😁

[2020-06-17 12:58] samirpatry opened #2072 "Cannot read property 'filter' of null during BuildImage"
Cannot read property 'filter' of null during BuildImage

![image](https://user-images.githubusercontent.com/46788546/84900851-4a9d6c00-b0c8-11ea-897b-6ea9fa78a193.png)

[2020-06-17 13:22] bwateratmsft commented on #2072
This looks similar to #2030. @samirpatry, do you have any custom values for any of the `docker.commands.*` settings?

[2020-06-17 13:23] bwateratmsft commented on #2071
@nunovieira Does this arrangement affect one of your projects?

[2020-06-17 13:35] samirpatry commented on #2072
NO. Anywhere i can check this.

Note: Very new to VSCode.

[2020-06-17 13:43] bwateratmsft commented on #2072
No problem! Let's check your settings.

1. Open the command palette (<kbd>F1</kbd> by default)
1. Type in "open settings", look for the command "Preferences: Open Settings (JSON)"
1. This will open a small or even empty JSON file containing all of your user-customized settings. In here, look for anything called `"docker.commands.*"`.

[2020-06-17 13:46] samirpatry commented on #2072
Yes its there.
"docker.commands.build": null,
Whats should i set here ?

{
    "[go]":  {
        "editor.formatOnSave": false
    },
    "go.formatTool": "goimports",
    "vs-kubernetes": {
        "vs-kubernetes.kubectl-path.windows": "C:\\Users\\samir.patry\\.vs-kubernetes\\tools\\kubectl\\kubectl.exe",
        "vs-kubernetes.minikube-path.windows": "C:\\Users\\samir.patry\\.vs-kubernetes\\tool

[2020-06-17 14:31] bwateratmsft commented on #2072
You should remove it entirely, the default setting will work for you for now.

[2020-06-17 14:53] samirpatry commented on #2072
Yes working fine now.

[2020-06-17 14:54] #2072 closed

[2020-06-17 14:54] bwateratmsft commented on #2072
Glad it's working now! Please let us know if any other issues come up!

[2020-06-17 14:55] samirpatry commented on #2072
Thanks @bwateratmsft . We can close this.

[2020-06-17 18:46] nunovieira commented on #2071
This doesn't affect me because I don't use this anymore.
I start the "dockerization" by getting the Dockerfile from the [Node.js guide](https://nodejs.org/en/docs/guides/nodejs-docker-webapp/). It's simpler and better explained.
I never move _node_modules_. For development, I bind mount the application directory and have an anonymous volume for _node_modules_. In a compose file, there's something

[2020-06-17 18:48] bwateratmsft commented on #1737
I believe I have nailed down what needs to be done for this. Not too hard.

[2020-06-17 19:01] bwateratmsft commented on #2071
Yes, we can look at ways to improve the default Node Dockerfile with additional comments. @uchenkadicode has done quite a bit of that for the Python Dockerfile.

[2020-06-18 09:37] v-ruizh opened #2075 "Running Python project with Ctrl+F5 still hits breakpoint"
**OS:** All
**Build Version:** 1.3.1-alpha

**Repro Steps:**
1. Open a python project(General/Django/Flask) in VS Code.
2. Add Docker support for it.
3. Set a breakpoint and Ctrl+F5 to run this project.

**Expect:**
Run the project successfully without breakpoint hit.

**Actual:**
It will still hits the breakpoint.

[2020-06-18 10:23] v-mengwe opened #2076 "[Suggestion] Add a warning message to remind to use the port 443 if use the https certificate"
**OS:** Mac
**Build version:** 1.3.1-alpha
**.NET Core SDK:** 2.1

**Repro Steps:**

1. Create a .NET Core MVC project by "dotnet new mvc".
2. Open the project in VS Code --> Prompt to add the required asserts --> Yes.
3. F1 --> Type and select "Docker: Add Docker Files to Workspace" --> ASP.NET Core --> Linux --> Include optional Docker Compose files --> Port: 80.
4. Go to the Debug tab in VSCode

[2020-06-18 12:33] revmischa opened #2077 "Python docker debug launch - Cannot read property 'python' of undefined"
Does this occur consistently? Yes
Repro steps:
Create launch config: https://code.visualstudio.com/docs/containers/debug-common#_python

[code]

Action: docker-launch
Error type: TypeError
Error Message: Cannot read property 'python' of undefined

Version: 1.3.0
OS: darwin
OS Release: 19.5.0
Product: Visual Studio Code
Product Version: 1.46.0
Language: en

<details>
<summary>Call Stack</summary>

[2020-06-18 13:24] bwateratmsft commented on #2075
No a very serious issue IMO.

[2020-06-18 13:24] bwateratmsft commented on #2077
@uchenkadicode is this the debugpy issue you mentioned?

[2020-06-18 13:41] bwateratmsft commented on #2076
Hm, I'd expect it to still launch the browser. I'll investigate.

[2020-06-18 14:16] PavelSosin-320 commented on #2076
I think that it would better to have the global configuration "Use HTTPS"  which assumes port 443 to avoid numerous Chrome and Internet security warnings. Even in the case of "local deployment", yet another image or local proxy can be deployed to the same engine/host which does or doesn't do SSL termination by developer's will.

[2020-06-18 14:27] #2022 closed

[2020-06-18 14:33] bwateratmsft opened #2079 "Python Django launch config has warning"
There's a warning in the Python Django launch config. It is harmless but we should fix it.

![image](https://user-images.githubusercontent.com/36966225/85033637-2d5fb080-b14f-11ea-8e06-650e517d281c.png)

[2020-06-18 14:36] bwateratmsft opened #2080 "Python debug fails with "Unable to find the debugger in the Python extension""
![image](https://user-images.githubusercontent.com/36966225/85034002-96472880-b14f-11ea-9db8-5aa92b22392d.png)

[2020-06-18 14:41] bwateratmsft commented on #2077
@revmischa Did you add this launch config directly to launch.json or did you use one of the commands `Add Dockerfiles to workspace` or `Initialize for debugging` to add it?

[2020-06-18 14:43] revmischa commented on #2077
@bwateratmsft I just copied it from https://code.visualstudio.com/docs/containers/debug-common#_python

[2020-06-18 14:46] bwateratmsft commented on #2077
Ok. If you already have a dockerfile can you try doing `Docker: Initialize for debugging`, or if not `Docker: Add Dockerfiles to workspace`? This will add all the necessary launch and tasks. However, debugging will still be blocked due to #2080 which we are working on fixing ASAP.

@ucheNkadiCode, we need to update the docs to make it clearer that copying the launch config isn't sufficient.

@hani

[2020-06-18 14:49] revmischa commented on #2077
That does solve the error at least, but I want to use docker-compose

[2020-06-18 14:50] bwateratmsft commented on #2077
We don't currently have integrated docker-compose debugging, but @haniamr might be able to help you set up an attach configuration that will work.

[2020-06-18 16:01] bwateratmsft commented on #2076
Ok, I can reproduce. If you add `"configureSsl": false` to the `docker-run` task in the `netCore` section, the issue goes away and the browser is launched to the port mapped to 80 as expected:

![image](https://user-images.githubusercontent.com/36966225/85042474-42d9d800-b159-11ea-8991-c8a80fa1f08a.png)

Without that flag, the ASP.NET Core server is still listening on 443, so it still outputs the

[2020-06-18 16:24] #2064 closed

[2020-06-18 21:16] bwateratmsft commented on #2080
A fix for this is now released in Docker extension version 1.3.1.

[2020-06-19 06:00] jrhubott opened #2085 "Cannot read property 'python' of undefined"
Does this occur consistently? Yes
Repro steps:
1.  Launch the docker debug task
2.  Only occurs if you are running under a workspace, doesn’t occur without one. When running without it fails with the unable to detect debugger in Python extension error.
3.  All tasks are present in tasks.yml

Action: docker-launch
Error type: TypeError
Error Message: Cannot read property 'python' of undefined

Vers

[2020-06-19 09:54] joambi opened #2086 "No matching resources found when deleting ACR"
Does this occur consistently?
Repro steps:

1.
2.

Action: vscode-docker.registries.azure.deleteRegistry
Error type: NoResouceFoundError
Error Message: No matching resources found.

Version: 1.3.1
OS: darwin
OS Release: 18.7.0
Product: Visual Studio Code
Product Version: 1.46.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-06-19 14:25] bwateratmsft commented on #2085
@jrhubott This looks the same as #2077. Did you create the Docker launch config using the commands `Docker: Add Dockerfiles to workspace` or `Docker: Initialize for debugging`? If not, you need to use those as it is necessary to also create the task configurations.

[2020-06-19 14:26] bwateratmsft commented on #2086
@joambi Do any Azure registries appear in the registries list?

[2020-06-19 14:28] #2027 closed

[2020-06-19 16:09] azagarelz commented on #2085
Same issue here.

I'm trying within a workspace, all tasks are present and have been created by running `Docker: Add Dockerfiles to workspace`

Does this occur consistently? Yes

Action: docker-launch
Error type: TypeError
Error Message: Cannot read property 'python' of undefined

Version: 1.3.1
OS: darwin
OS Release: 19.4.0
Product: Visual Studio Code
Product Version: 1.46.1
Language: en

<detail

[2020-06-19 16:27] bwateratmsft commented on #2085
@azagarelz can you share your tasks and launch configs?

[2020-06-19 17:49] karolz-ms commented on #2076
@bwateratmsft is `configureSsl` documented anywhere? I could not find any mention of it in the [OmniSharp docs](https://github.com/OmniSharp/omnisharp-vscode/blob/master/debugger-launchjson.md)

[2020-06-19 18:46] bwateratmsft commented on #2076
It's not an Omnisharp property since they can do SSL config with basically zero effort, unlike us. It *should* have been documented here but never was: https://code.visualstudio.com/docs/containers/debug-common

[2020-06-19 18:50] karolz-ms commented on #2076
OK. Can you take an action item to update the doc, please? I can help you with that if you send me the description for the missing property--your choice.

[2020-06-19 18:51] bwateratmsft commented on #2076
I'd be happy to add it! I'll include that as part of this work.

[2020-06-19 18:59] PavelSosin-320 commented on #2076
I know that some Windows "Corporate" images block any insecure HTTP access via port 80 outside localhost because all developed products use only HTTPS. This is Corporate security policy. Every server listening to port 80 is placed behind either Corporate proxy or proxy pre-installed in the image.  When the browser is used for debugging it can be started for HTTPS access unless it is started with *

[2020-06-19 19:01] jrhubott commented on #2085
launch.json
[code]

tasks.json
[code]

[2020-06-19 21:35] JMS55 opened #2087 "Use outlined icon style"
Currently, this extension dosen't match other icons
![image](https://user-images.githubusercontent.com/47158642/85181173-43ef3000-b253-11ea-9682-be7e4dbced97.png)

[2020-06-20 00:32] bwateratmsft commented on #2087
The icon cannot be changed for branding reasons.

[2020-06-20 00:32] #2087 closed

[2020-06-20 10:29] amrutadighe opened #2088 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-docker`
- Extension Version: `1.3.1`
- OS Version: `Windows_NT x64 6.0.6000`
- VSCode version: `1.46.0`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\SIS\ms-azuretools.vscode-docker-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-extension-cause

[2020-06-20 16:54] kbroughton commented on #2080
I have Docker extension v 1.3.1 and I'm still seeing this.

Version: 1.46.1
Commit: cd9ea6488829f560dc949a8b2fb789f3cdc05f5d
Date: 2020-06-17T21:17:14.222Z (2 days ago)
Electron: 7.3.1
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 19.3.0
[code]

launch.json
[code]

[2020-06-20 17:12] kbroughton commented on #2080
I'm not too familiar with vscode but here is a bit more context on what i see locally:

It looks like the code in launcher.py in the commit to fix the bug is applied.

When I grep for "Unable to find the debugger" in .vscode, I get

/.vscode//extensions/ms-azuretools.vscode-docker-1.3.1/dist/extension.bundle.js

<snip>
||void 0===e?void 0:e.debug)||void 0===n?void 0:n.getDebuggerPackagePath());if(

[2020-06-21 17:19] karolz-ms opened #2090 "Use exec form of the CMD Dockerfile command in files we scaffold"
This is Docker best practice https://docs.docker.com/develop/develop-images/dockerfile_best-practices/#cmd that ensures signals are properly delivered to the main container process and eliminates shell dependency

https://github.com/microsoft/vscode-docker/pull/2089 highlighted a problem in the Node.js Dockerfiles; there might be other places that need changing

[2020-06-22 14:03] bwateratmsft commented on #2085
@jrhubott You're using the `"file"` parameter to choose a module in the run task. Can you try changing that to `"module"`?

[code]

[2020-06-22 14:08] bwateratmsft commented on #2088
@amrutadighe Does this happen consistently?

[2020-06-22 14:12] #1737 closed

[2020-06-22 14:27] #2031 closed

[2020-06-22 14:28] #2030 closed

[2020-06-22 15:23] karolz-ms commented on #2076
🤦‍♂️ thanks @bwateratmsft

[2020-06-22 15:27] bwateratmsft commented on #2080
@kbroughton What version of the Python extension do you have?

[2020-06-22 15:53] luabud commented on #2080
The issue is in the Python extension, it's the same root cause of https://github.com/microsoft/vscode-python/issues/12481. It's fixed in [our Insiders build](https://code.visualstudio.com/docs/languages/python#_insiders-program), and we'll release the fix as soon as we can.
The workaround out of the Insiders build [is here](https://github.com/microsoft/vscode-python/issues/12481#issuecomment-64726

[2020-06-22 15:54] bwateratmsft commented on #2080
It looks like this might also be what @ddurham2 is hitting in https://github.com/microsoft/vscode-python/issues/12484

[2020-06-22 16:32] #2076 closed

[2020-06-22 16:33] #2024 closed

[2020-06-22 16:50] karolz-ms opened #2094 "Update "Deploy to Azure" article docs to include information on Docker ACI support"
The current article: https://code.visualstudio.com/docs/containers/app-service

We should add content on creating Docker ACI contexts and using Docker Hub/ACR to instantiate containers and Compose services on ACI (Azure Container Instances)

[2020-06-22 19:54] kbroughton commented on #2080
The extension says v2020.6.89148 @bwateratmsft

[2020-06-22 19:57] bwateratmsft commented on #2080
Thanks @kbroughton. I think that it should be fixed now from the Python extension side (without needing to upgrade). I tried it out and I can no longer reproduce the issue. Can you give it a try? I'm not sure how the experimentation framework is implemented in the Python extension--perhaps @luabud can answer that--but it might take a bit of time to download the new experiment data before it starts

[2020-06-22 20:43] kbroughton commented on #2080
nether docker nor python extensions show an update available for VS code. How do I try it out? @bwateratmsft

[2020-06-22 20:48] Nuc1eoN commented on #1590
Podman v2.0 [has been released](https://github.com/containers/libpod/releases/tag/v2.0.0) with a new HTTP API, so this is not a blocker anymore.

[2020-06-22 21:55] haniamr commented on #2080
@kbroughton the fix in the Python extension shouldn't require an update since it is already pulling the information about the experiments from the server, restarting VS Code didn't help?

You can try add those settings as mentioned by Pavel [here](https://github.com/microsoft/vscode-python/issues/12481#issuecomment-647266379):
[code]

[2020-06-23 02:19] kbroughton commented on #2080
I did restart VSCode, but get the same error.
Here is my launch.json

{
// Use IntelliSense to learn about possible attributes.
// Hover to view descriptions of existing attributes.
// For more information, visit:
https://go.microsoft.com/fwlink/?linkid=830387
"version": "0.2.0",
"logToFile": true,
"configurations": [

{
"name": "Docker: Python - General",
"type": "docker",
"request": "launch",
"p

[2020-06-23 09:01] Deitsch opened #2096 "Debugging docker-compose projects"
Are there any news regarding this issue: https://github.com/microsoft/vscode-docker/issues/1765? Is possible to spin up a compose file by now?

[2020-06-23 12:06] bwateratmsft commented on #2080
That `python.experiments.optInto` section needs to go into your settings.json, not launch.json.

[2020-06-23 16:59] #2077 closed

[2020-06-23 22:27] haniamr opened #2097 "Scaffold a Python Attach Configuration as part of compose"
If the user opted in for compose, we should scaffold a Python Attach Configuration:
[code]

[2020-06-24 03:31] v-ruizh opened #2098 "The error is inconsistent when single remove default context and remove it with other contexts together"
**OS:** Win 10
**Build Version:** 20200623.1

**Repro Steps:**
1. Make sure there are several contexts in Docker context view and use default context.
2. F1 --> Docker Contexts: Remove... --> Select all context to remove.
3. Check the error message.

**Expect:**
An error indicating that the in use context will not be removed.
![image](https://user-images.githubusercontent.com/45614674/85495284-c9d

[2020-06-24 10:20] Konnor5092 opened #2099 "Unable to navigate to https/443 after doing a Compose Up on default .net core webapi template"
Sorry if this question is slightly elementary. I'm new to all this.

When I do a `Compose Up` on my `docker-compose.yml` file, I can't browse the address that is mapped to port 443 when I click on the running container and choose `Open in browser` (e.g. https://localhost:32770/weatherForecast)

This is the log from the running container...

[code]

These were my setup steps
- Create new .net core

[2020-06-24 12:00] bwateratmsft commented on #2098
I think we should disable multi-select on the Contexts view; there isn't really a good use case for mass deleting them.

[2020-06-24 12:41] Konnor5092 commented on #2099
I was able to resolve this by creating the docker files for the project using Visual Studio, then editing the `docker.commands.composeUp` setting on the extension to account for both the `docker-compose.yml` and `docker-compose.override.yml` files required for running the project

[2020-06-24 12:41] #2099 closed

[2020-06-24 12:58] bwateratmsft commented on #2099
Glad you got it working! By default, if you don't specifically right-click one of the compose files (but instead just open command palette -> "Compose Up"), it will use both `docker-compose.yml` + `docker-compose.override.yml` automatically; this should negate the need to modify `docker.commands.composeUp`.

[2020-06-24 13:02] bwateratmsft commented on #2096
Unfortunately, fully-integrated compose debugging is still not available. You can use the information in #1765 to set it up manually. I'd be happy to help get the configurations lined up so that F5 will do everything that is needed; can you tell me more about your project?

Related to #840, #1294

[2020-06-24 13:03] bwateratmsft commented on #2097
@haniamr Is it possible to use compose but do a Python launch config--sorta like we do with .NET Core in Visual Studio?

[2020-06-24 13:05] Deitsch commented on #2096
All good, i got it working by spinning up the compose-file in a pre task (and stopping it post). I simply attach the container run by vsc to the compose-file network. Works like a charm!

[2020-06-24 13:05] #2096 closed

[2020-06-24 13:11] bwateratmsft commented on #2096
Awesome, I'm glad you got it working!

[2020-06-24 13:34] bwateratmsft commented on #1590
Thanks @Nuc1eoN! We'll take a look and see what does and doesn't work.

[2020-06-24 14:28] Konnor5092 commented on #2099
Thanks for this.

Is it expected that docker compose works out the box when adding it via the vs code extension for a .net core project - in terms of it working for both http and https? Or is that configuration the user is expected to do?

[2020-06-24 14:56] dilshod2017 opened #2101 "VSCode error while connecting to docker cli"
Could not connect to docker cli

Does this occur consistently?
Repro steps:

1.
2.

Action: vscode-docker.registries.logInToDockerCli
Error type: NoResouceFoundError
Error Message: No matching resources found.

Version: 1.3.1
OS: linux
OS Release: 5.4.0-37-generic
Product: Visual Studio Code
Product Version: 1.46.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-06-24 15:00] bwateratmsft commented on #2099
HTTP should work out of the box. HTTPS setup is significantly more complicated--

1. The `ASPNETCORE_URLS` environment variable needs to be changed so that Kestrel listens on 443 with SSL enabled. For example, `ASPNETCORE_URLS=https://+:443;http://+:80`. Additionally, `ASPNETCORE_ENVIRONMENT` is set to `Development`.
    - Optionally, if you want the HTTP port to redirect to the HTTPS port, you se

[2020-06-24 15:02] bwateratmsft commented on #2101
@dilshod2017 Do you have any registries connected in the explorer?

[2020-06-24 15:26] dilshod2017 commented on #2101
@bwateratmsft No, I freshly installed ubuntu, vscode, and extension only.

[2020-06-24 15:56] ucheNkadiCode commented on #2097
If the person selects compose, could we make it such that instead scaffolding a "Python: Remote Attach", we scaffold a "Docker: Compose Attach" configuration that does basically the same thing but aims to run a debug.yml file?

[2020-06-24 16:04] bwateratmsft commented on #2101
The `Docker Registries: Log In to Docker CLI` command only works if you have registries attached in the explorer view. If you want to manually log in by providing a server / username / password, you will need to use the terminal directly.

[2020-06-24 16:04] #2101 closed

[2020-06-24 16:05] bwateratmsft commented on #2097
I'd prefer to do a Python remote attach so that we don't box ourselves out of adding _real_ compose debugging someday.

[2020-06-24 20:14] haniamr commented on #2097
I suppose that is possible, we'd have to modify the entry point we generate in the debug yaml to be something like "pip install debugpy && python", then use our custom launcher. The problem is that the property we use to override the launcher isn't documented by the Python extension, so it'll have some warnings/squiggly lines...

[2020-06-24 21:58] ucheNkadiCode commented on #2097
Yea I agree with you Brandon, due to the low number of debugging usage as it is, it likely wouldn't be impactful to spend our time enabling the "real" compose debugging scenario. However, I'm more suggesting to make it streamlined that the user has the ability to run the Attach scenario with an F5, or is that not possible?

[2020-06-25 14:05] bwateratmsft commented on #2097
What I'm saying is that with scaffolding scenarios--since it's not really possible to change things after they are scaffolded--it's better if we do not do half-measures. Anyone who uses the half-measure is effectively stuck there forever.

[2020-06-25 15:00] #2098 closed

[2020-06-25 15:21] bwateratmsft commented on #2098
@v-ruizh We made changes so that you cannot remove the currently-selected context nor the default context. The "Remove" option is hidden from the right-click menu and any current/default contexts will not show in the command palette if you do remove from there.

Thanks!

[2020-06-25 15:22] bwateratmsft commented on #2080
I'll close this issue again since it appears to be fixed on the Python extension side.

[2020-06-25 15:22] #2080 closed

[2020-06-25 16:27] #2038 closed

[2020-06-25 19:18] dbreshears opened #2102 "Support ACI contexts in Explorer Panel"
When switching to ACI context, the containers view should reflect the containers running in the ACI context. Images, networks, and volumes views should show "This view is not supported in the current Docker context."

Additionally, as many of the context commands as possible should be enabled.

[2020-06-26 07:00] adealdag commented on #2085
I'm having the same issue since VS Code upgraded docker module to 1.3.1

launch.json
`{
    "configurations": [
        {
            "name": "Docker: Python - Flask",
            "type": "docker",
            "request": "launch",
            "preLaunchTask": "docker-run: debug",
            "python": {
                "pathMappings": [
                    {
                        "localRoot": "$

[2020-06-26 13:39] bwateratmsft commented on #2085
I'm still not able to reproduce even with the exact same configuration that @adealdag shared. @adealdag, what OS and Python version are you using? Also, what version of the Python extension?

I'm on Windows, Python 3.8.2, Python extension 2020.6.90262.

Regarding the failure to install other versions, that looks like this bug: https://github.com/microsoft/vscode/issues/99699

[2020-06-26 17:05] marine727 opened #2103 "Long code loading time"
- Issue Type: `Bug`
- Extension Name: `vscode-docker`
- Extension Version: `1.3.1`
- OS Version: `Windows_NT x64 10.0.17134`
- VSCode version: `1.46.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2020-06-26 17:05] marine727 commented on #2103
[code]

[2020-06-26 17:20] ucheNkadiCode commented on #2097
So do you consider scaffolding Two launch configurations contingent on if the user selects yes to Compose a "half measure"? I imagine this being a comprehensive way to run if this Docker Compose Launch configuration basically composes up with the debug.yml (which installs debugpy by default), then is able to run the Python attach afterwards for debugging a selected container.

But this seems like

[2020-06-26 17:30] ucheNkadiCode commented on #2075
I'll investigate this likely next week, but I plan to try and run each of the projects with CTRL + F5 on the regular python Launch configs for the respective languages and see if it skips over a breakpoint.

If I am able to repro this issue, what are the next steps?

[2020-06-26 18:21] romlarios opened #2104 "x"
&lt;Please be sure to remove any private information before submitting.&gt;

Repro steps:
&lt;Enter steps to reproduce issue&gt;

Action: debugCoreClr
Error type: Error
Error Message: No workspace folder is associated with debugging.

Version: 0.4.0
OS: win32

[2020-06-26 18:29] bwateratmsft commented on #2104
@romlarios This is a very old version of the Docker extension, you need to update.

[2020-06-26 18:29] #2104 closed

[2020-06-26 18:29] bwateratmsft commented on #2103
@marine727 Does this issue happen consistently?

[2020-06-26 18:31] bwateratmsft commented on #2075
We need to decide if it's actually important enough to matter. :smile:

[2020-06-26 18:36] bwateratmsft commented on #2097
Attach configurations are only marginally useful compared to launch. What I don't want to do is spend time implementing an attach configuration resolved through the `docker` launch config, which we will now need to support ~forever, when instead we can scaffold a Python attach config that does the same thing (but is more verbose).

Yellow squiggles for undocumented properties in the launch configs

[2020-06-26 19:20] ucheNkadiCode commented on #2097
So should this issue be closed? Or is the work to be done to relay specific attributes to the Python team that we want them to document so they no longer produce Yellow squiggles?

@haniamr or @bwateratmsft , What are the attributes that need to be updated?

[2020-06-26 19:22] bwateratmsft commented on #2097
I don't think we need to close the issue; I just think that our scaffolding for this should be a launch config with `"type": "python"`, not one with `"type": "docker"`.

[2020-06-26 19:23] haniamr commented on #2097
The yellow squiggles part will only be the case if we scaffold a Python launch configuration. If we decided to go with the normal Python Attach, then it should be fine without any squiggles.

We can always go with the attach for now, and change it later to launch when the Python extension team documents the new property.

[2020-06-26 21:21] vglushkov opened #2105 "String prompt input is not triggered in docker-build tasks"
- VSCode Version:  1.46.1
- OS Version: MacOS 10.15.5

Steps to Reproduce:

1. Create a task with "docker-build" type
2. Use an input variable with the "promptString" type for a task property value
3. Select Tasks: Run Task in Command Palette
4. Select the newly created task

Expected: user prompted for input
Actual: the task is executed without the input variable being resolved

Example tasks.jso

[2020-06-27 00:51] bwateratmsft commented on #2105
Fundamentally this is the same as #1961; since we cannot use the built-in variable resolver with CustomExecution it isn't possible for things like this to work. I'll resolve this one as dupe. @vglushkov, can you comment on https://github.com/microsoft/vscode/issues/81007 to encourage the VSCode team to implement this so we can make this scenario work? :smile:

[2020-06-27 00:51] #2105 closed

[2020-06-27 10:07] bm-stschneider opened #2106 "Failed to attach VSCode"
Issue Type: <b>Bug</b>

I tried to connect to a container and got this.

[code]

Extension version: 1.3.1
VS Code version: Code - Insiders 1.47.0-insider (6c235c723cb2d8defb840f732eac620f54aa8b9d, 2020-06-26T05:33:20.679Z)
OS version: Darwin x64 18.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-4980HQ CPU @ 2.80GHz (8 x 2800)|
|GPU Status|2d_canvas

[2020-06-27 15:52] bwateratmsft commented on #2106
This looks like an issue with the VSCode Remote - Containers extension, not the Docker extension. Can you file it there? https://github.com/microsoft/vscode-remote-release

[2020-06-27 15:52] #2106 closed

[2020-06-28 05:47] helinux opened #2108 "when i runing my image, Cannot read property 'filter' of null."
Does this occur consistently?
Repro steps:

1.
2.

Action: vscode-docker.images.run
Error type: TypeError
Error Message: Cannot read property 'filter' of null

Version: 1.3.1
OS: win32
OS Release: 10.0.18362
Product: Visual Studio Code
Product Version: 1.46.1
Language: zh-cn

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-06-28 13:35] adealdag commented on #2085
I'm running VS Code in Mac Os Catalina, Python 3.7.3, Python extension v2020.6.90262

[2020-06-28 15:02] JoseFMP commented on #2055
Still happening over here.

[2020-06-28 16:20] rcjsuen commented on #2055
Hi, @JoseFMP. You are correct. The bug fix is not in a release yet so you will continue to encounter this issue until then. Thank you for your understanding.

[2020-06-28 16:35] kelvin1794 opened #2109 "Not able to deploy image to Azure App Service"
Does this occur consistently?
Repro steps:

1.
2.

Action: vscode-docker.registries.deployImageToAzure
Error type: Error
Error Message: Azure App service currently only supports running images from Azure Container Registries with admin enabled

Version: 1.3.1
OS: darwin
OS Release: 19.5.0
Product: Visual Studio Code
Product Version: 1.46.1
Language: en

<details>
<summary>Call Stack</summary>

[co

[2020-06-28 16:39] rcjsuen commented on #2055
@JoseFMP Would you mind sharing your Dockerfile here so we can ensure that your bug is covered?

[2020-06-29 08:05] v-ruizh opened #2110 "Task hangs forever when executing "Build Image..." from Dockerfile"
**OS:** Win 10
**Build Version:** 20200625.4

**Repro Steps:**
1. Open a .NET Core MVC or console app.
2. Add Docker support.
3. Right click Dockerfile --> Build Image... --> Check the result.

**Expect:**
Succeed to build image.

**Actual:**
The state keeps "Executing task: Workspace: docker-build: release".
![image](https://user-images.githubusercontent.com/45614674/85988078-1eb3ac00-ba21-11ea-9

[2020-06-29 13:19] bwateratmsft commented on #2109
This is the same root issue as #1685. Azure App Service does not support using ACRs without admin enabled. This limitation is outside of our control. You can read about enabling admin on an ACR here: https://docs.microsoft.com/en-us/azure/container-registry/container-registry-authentication#admin-account

[2020-06-29 13:19] #2109 closed

[2020-06-29 13:25] bwateratmsft commented on #2108
@helinux This looks to be the same as #2072. I suspect you have a VSCode setting for `docker.commands.run` set to `null`; you need to remove this entry.

[2020-06-29 13:25] #2108 closed

[2020-06-29 13:46] bwateratmsft commented on #2085
@adealdag Do you have anything in settings.json for the Python or Docker extensions?

[2020-06-29 13:47] bwateratmsft commented on #2110
I wasn't able to reproduce in a quick test. @v-ruizh Does this happen consistently? If you restart Docker Desktop does it continue to happen?

[2020-06-29 14:53] phil-harmoniq opened #2112 "Intellisense still requires CTRL + SPACE"
I found [this previous issue](https://github.com/microsoft/vscode-docker/issues/243) and it seemed like a PR was made to fix this, but I still have to manually hit CTRL + SPACE to get hints in docker-compose files.

Extension version: 1.3.1
VS Code version: 1.46.1

[2020-06-29 15:03] bwateratmsft commented on #2112
@phil-harmoniq What's the name of your compose file?

[2020-06-29 15:05] bwateratmsft commented on #2032
I'll close this issue for now since it seems like a sandboxing limitation.

[2020-06-29 15:05] #2032 closed

[2020-06-29 15:22] phil-harmoniq commented on #2112
I just realized that it was because I was using the remote feature and needed to also install the extension on the server. It seems to be working as expected now.

[2020-06-29 15:23] bwateratmsft commented on #2112
Ah, glad it's working now. Let us know if you experience any other issues!

[2020-06-29 15:23] #2112 closed

[2020-06-29 15:30] kelvin1794 commented on #2109
Thanks @bwateratmsft

[2020-06-29 15:38] jvalrog opened #2113 "Error - command 'vscode-docker.configure' not found"
I know this is an old issue but I'm facing it right now.

Ubuntu: 20.04
Docker: 19.03.8
VSCode: 1.46.1
Docker extension: 1.0.0

I've tried everything but the extension doesn't work, any command outputs: `command 'vscode-docker.configure' not found `.

Please help.

[2020-06-29 15:39] bwateratmsft commented on #2113
That's an older version of the Docker extension, can you try upgrading to the latest (1.3.1) and see if the issue persists?

[2020-06-29 16:18] jvalrog commented on #2113
Hello, I forgot I was running Codium instead of Code. Installed Code and now I see the right extension version.

Thanks you!

[2020-06-29 16:21] bwateratmsft commented on #2113
Ok, let us know if you encounter any other issues!

[2020-06-29 16:21] #2113 closed

[2020-06-29 17:02] adealdag commented on #2085
Nothing fancy:
[code]

BTW, I have manually installed docker 1.2.1 from VSIX file, and everything started working again. Nothing else changed, just the version of the extension.

[2020-06-29 18:08] bwateratmsft commented on #2085
@adealdag I'm stumped. I just can't figure it out. Would you be willing to try with an alpha build?

[2020-06-29 23:08] BigMorty opened #2114 "Support creating a new ACI context from the Contexts panel"
Similar to the + sign in the Networks panel we should support creating an ACI context. Once we support ACI and SSH context creation the + sign icon should prompt user for type of context. For ACI we should then sign into Azure if needed, then show list of subscriptions, then list of resource groups or ability to create a new resource group.

[2020-06-29 23:09] BigMorty opened #2115 "Support creating a new SSH or HTTP(S) context from the Contexts panel"
Similar to the + sign in the Networks panel we should support creating a SSH context. Once we support ACI and SSH context creation the + sign icon should prompt user for type of context. For SSH we should prompt for endpoint.

[2020-06-29 23:37] karolz-ms commented on #2115
@BigMorty what about

- `tls`, `tlscacert`, `tlscert`, `tlskey`, and `tlsverify` options
- Certificate path (`DOCKER_CERT_PATH` equivalent)

See https://docs.docker.com/engine/context/working-with-contexts/#the-anatomy-of-a-context and https://docs.docker.com/engine/reference/commandline/cli/ for reference

[2020-06-29 23:42] BigMorty commented on #2115
We should talk with Docker folks and see what is most common. When I created a context to use against the Azure VM you shared with me there were not many params I had to specify. I am not suggesting we support every possible combination.

[2020-06-29 23:44] karolz-ms commented on #2115
Also, if one is not very familiar with how SSH works and how to set up SSH agent for key management, the SSH context created by VS Code will not work.

[2020-06-29 23:52] BigMorty commented on #2115
Good point. Let's think about this and discuss more. This is lower priority than the create ACI context anyways.

[2020-06-30 03:13] v-ruizh commented on #2110
@bwateratmsft Yes, this issue reproduces consistently. I have verified this issue on several machines using master build 20200629.7, all of them can reproduce this issue. The .NET Core Version is 5.0.100-preview.6.20318.15. Please feel free to contact me if you still can't reproduce it. I can share my machine to you.

[2020-06-30 08:46] v-ruizh opened #2116 "Fail to execute the 'compose up' action"
**OS:** Win 10
**Build Version:** 20200629.7

**Repro Steps:**
1. Create a certs folder with command "mkdir %USERPROFILE%\certs".
2. Download mkcert and rename it to mkcert.exe.
3. Install the mkcert.exe with below command:
set CAROOT=%USERPROFILE%\certs\CARoot
cd %USERPROFILE%\certs
mkcert -install
4. Create a self-signed certification for SSL using the new CA certificate: mkcert 127.0.0.1.
5. Op

[2020-06-30 09:19] sgzmd opened #2117 "Add instruction to kill vscode remote on Troubleshooting page"
On [Troubleshooting](https://github.com/microsoft/vscode-docker/wiki/Troubleshooting) page after allowing docker to be used as non-root it is important to restart the VS Code server, e.g.:

[code]

This is equivalent to logging out and in to allow group changes kick in.

[2020-06-30 12:26] bwateratmsft commented on #2115
We're talking about 0.2% of the population using SSH, I don't see how that justifies much effort...

[2020-06-30 12:31] bwateratmsft commented on #2117
@sgzmd what you are describing sounds like a scenario for the Remote - Containers extension, not the Docker extension.

[2020-06-30 12:34] bwateratmsft commented on #2116
This failure is within the container, not something resulting from the extension. `htpasswd` is not present in the registry image. Most likely the test case will need to be updated.

[2020-06-30 13:37] bwateratmsft commented on #2116
I've removed the test case ("P3 Self signed certificate"); it doesn't offer a ton of value for the complexity of setup.

[2020-06-30 13:37] #2116 closed

[2020-06-30 13:51] bwateratmsft commented on #2110
Thanks, I am able to reproduce easily in the Insiders build. I'll investigate. Surprisingly, it does not reproduce on F5, which is also doing a `docker build` call.

[2020-06-30 14:08] bm-stschneider commented on #2106
thanks for the hint, I will do that.

[2020-06-30 14:22] bwateratmsft commented on #2110
Looks to be this issue: https://github.com/microsoft/vscode/issues/101412

[2020-06-30 19:20] calbot opened #2120 "can't use non-default contexts"
Issue Type: <b>Bug</b>

I have contexts which work fine from the command line with docker context use but can't load any information in the docker extionsion with either ssh or tcp connection (both work fine from command line). TCP I get EPROTO SSLV3_ALERT_BAD_CERTIFICATE. Doesn't make any sense because this works fine on command line.

Extension version: 1.3.1
VS Code version: Code 1.46.1 (cd9ea6

[2020-06-30 19:26] bwateratmsft commented on #2120
The extension does not use the CLI for anything in the tree view, for performance reasons. For TCP connections you'll need to use the `docker.host` / `DOCKER_HOST` + `docker.certPath` / `DOCKER_CERT_PATH` settings. We have not implemented `docker context`-based support for TCP + cert connections as it is extremely difficult to map the information from `docker context` to the options accepted by Do

[2020-06-30 19:52] bwateratmsft commented on #1590
Here's what I've come up with so far.

# What works*
* _Presumably_ most CLI commands would work, to whatever extent the Podman CLI has parity, but I haven't looked that far into it
* Containers list along with at least most related commands
* Images list along with at least most related commands
* Prune actions

*Had to connect with Remote - SSH since there's no clear way to reach Podman remotely

[2020-06-30 19:58] bwateratmsft commented on #2120
Glad it's working with SSH! Regarding the lack of TCP + Cert support with `docker context`, we have that tracked here: #2058

I guess we can resolve this one as a duplicate of that.

[2020-06-30 19:58] #2120 closed

[2020-06-30 20:14] bwateratmsft commented on #2120
Yes, I'd expect that. The way we apply settings is basically this--

1. Try `docker.dockerodeOptions`, if that doesn't exist...
1. Try `docker.host` plus the other environment-variable-settings, if that doesn't exist...
1. Try `DOCKER_HOST` plus the other environment variables, if that doesn't exist...
1. Try `docker context` (this _should_ always work, but if it doesn't...)
1. Give up and instant

[2020-07-01 20:44] bwateratmsft opened #2121 "Cannot read property 'find' of undefined if `docker context` fails"
If `docker context` fails for any reason, you'll get an error popup, "Cannot read property 'find' of undefined". This occurs [here](https://github.com/microsoft/vscode-docker/blob/master/src/docker/ContextManager.ts#L93).

We should ensure `loadContexts()` always returns a value.

[2020-07-01 21:38] dbreshears commented on #1895
Python team is creating a getting started page experiment, will wait to see the outcome

[2020-07-02 06:49] int19h commented on #2075
For Python, running with debugging can have a substantial perf penalty in some cases - it's not a cooperative runtime like .NET or Node.js, so tracing is not zero-cost even sans breakpoints.

It's probably an easy fix - check whether "noDebug" property in the debug config that you get from VSCode is propagated to debugpy adapter.

[2020-07-02 07:22] dmarinere opened #2122 "Please help entry not found in cache"
Does this occur consistently?
Repro steps:

1. Which one is entry not found in cache again
2.

Action: vscode-docker.registries.azure.buildImage
Error type: Error
Error Message: Entry not found in cache.

Version: 1.3.1
OS: linux
OS Release: 5.4.0-39-generic
Product: Visual Studio Code
Product Version: 1.46.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-07-02 08:00] dwbelliston opened #2123 "How do you set the debugpy launcher to use python3?"
https://github.com/microsoft/vscode-docker/blob/master/resources/python/launcher.py

This file has a section of args that are passed to docker exec.

[code]

My debug fails, because the container receives `python` as python2.7, but my program needs python3, which is available in the container. If i change this launcher.py file to python3 it works. Can i pass this somehow to the launcher?

[2020-07-02 08:10] v-ruizh opened #2124 "An error "(HTTP code 500) server error - invalid tag format" occurs when executing "Docker Images: Tag..." command"
**OS:** Win 10
**Build Version:** 20200701.15

**Repro Steps:**
Execute "Docker Images: Tag" command and check the result.

**Expect:**
Succeed to Tag image.

**Actual:**
An error "(HTTP code 500) server error - invalid tag format" occurs when executing "Docker Images: Tag..." command.
![image](https://user-images.githubusercontent.com/45614674/86333074-ff658a80-bc7d-11ea-8611-008b22b54b0a.png)

[2020-07-02 08:23] v-ruizh opened #2125 "An error "Cannot read property 'length' of null" occurs when executing "Prune" command"
**OS:** Win 10
**Build Version:** 20200701.15

**Repro Steps:**
Execute "Prune" command for Docker containers or Docker images which has no stopped containers or dangling images.

**Expect:**
Succeed to remove 0 containers or images.
![image](https://user-images.githubusercontent.com/45614674/86333976-34261180-bc7f-11ea-9015-53e0139ff250.png)

**Actual:**
An error "Cannot read property 'length' of

[2020-07-02 08:59] v-ruizh opened #2126 "[Suggestion] Add a validation when entering the network name with blank or space"
**OS:** Win 10
**Build Version:** 20200701.15

**Repro Steps:**
F1 --> Docker Networks: Create... --> Enter the network name with blank or space.

**Actual:**
There is no validation when entering the name but an error occurs when creating.
![image](https://user-images.githubusercontent.com/45614674/86338701-355a3d00-bc85-11ea-9b74-7b826c507cea.png)

**Suggestion:**
Add a validation when entering t

[2020-07-03 10:13] JacekPliszka commented on #1590
Sorry, my projects on the topic got cancelled so I do not have use case at the moment. :(
One project stayed with VMs, the other is migrating from VMs to ADF + Databricks.

It is python ETL based on pandas - when dataset arrives the VM with proper memory/CPU is started, data is processed and VM deleted.

[2020-07-03 22:10] adealdag commented on #2085
Sure!  As long as I can roll back to the working version after the test, it's peerfectly OK for me.

I'm kind of busy these days, but let me know how I can help on this and I'll try to do that as soon as I can.

[2020-07-03 23:33] hassanrazakhalid opened #2127 "AspNetCore3.1 Docker deugger not working"
Does this occur consistently?
Repro steps:

1.Used command Docker: Initialize for Docker debugging
2.Clicked on Play button
3.Then i see the following error

Action: docker-launch
Error type: 1
Error Message: Process '/Users/hassanrazakhalid/.vsdbg/getvsdbg.sh -v late...' exited with code 1
Error: dyld: Library not loaded: /usr/local/opt/openssl/lib/libssl.1.0.0.dylib
  Referenced from: /usr/local

[2020-07-05 03:54] simpleapples opened #2128 "Reconsideration of Dockerfile.* file association"
I have a file named `dockerfile.go`, which is recognised as a `Dockerfile` because of #1908 .

I know this decision has a point #1907 , but I think it's unresonable. When a `Dockerfile` is recognised as `Unknown`, nothing will happen. But when a `go` file is recoginsed as `Dockerfile`, VSCode will format it as `Dockerfile`. (Especially when I choose `Format on save`, I think it's widely used.). As

[2020-07-06 13:28] bwateratmsft commented on #2128
There were overwhelmingly (about 50x) more people with actual Dockerfiles named `Dockerfile.***`, than non-Dockerfiles named that, so we plan to keep #1908. You can override this in your project with something like this in settings.json:

[code]

[2020-07-06 13:28] bwateratmsft commented on #2122
@dmarinere Can you add repro steps?

[2020-07-06 13:31] bwateratmsft commented on #2123
@dwbelliston What Python base image are you using? I'm surprised there are any where `python` maps to Python2.7...

[2020-07-06 13:31] dmarinere commented on #2122
I tried to build a docker image from a code in my system directly to Azure registry and that was the error, I had to first build it in my system.
The way i do this now is through Docker and Github has I wasnt able to do it and I don't want to download and be uploading to online as this drains my data

[2020-07-06 13:36] bwateratmsft commented on #2127
Looks like an issue in debugger download.

[2020-07-06 13:41] simpleapples commented on #2128
I read issue #1907 and I know there are a lot of people use `Dockerfile.***`, but it can be covered by adding `Dockerfile.prod`, `Dockerfile.dev` and so on. You can cater the large group by adding `Dockerfile.xxx` as more as possible. But it does not mean you you can hurt the small group.

Besides, the pattern `Dockerfile.*` mess up the file association of other extension and cause conflicts.

[2020-07-06 13:45] bwateratmsft commented on #2128
I saw hundreds of different extension endings on searches in GitHub and in telemetry; it is not sustainable to try to add them case-by-case.

Can you elaborate? How does setting a language association affect other extensions?

[2020-07-06 13:49] bwateratmsft commented on #2075
@int19h Ah, I didn't realize that was how it worked (VSCode passes a property in that we need to pass along). If so, it is probably the same underlying issue as #2024 and fixed by #2093. I'll try it out.

[2020-07-06 13:51] simpleapples commented on #2128
For example, I install `go extension` and `dockerfile.go` is recognized as `go file`, but it will be recognized as a `Dockerfile` after installing `docker extension`.

[2020-07-06 13:51] bwateratmsft commented on #2110
Verified this is fixed now in the latest versions of VSCode Insiders.

[2020-07-06 13:51] #2110 closed

[2020-07-06 13:55] bwateratmsft commented on #2128
I see what you mean. Can you try the language association? That should make `dockerfile.go` be treated as a Go file.

[2020-07-06 14:00] simpleapples commented on #2128
It's a solution for me, but what I want is removing the `Dockerfile.*` file association, if you also think it will affect other extensions too.

[2020-07-06 14:04] bwateratmsft commented on #2128
I know it will overclassify Dockerfiles in some cases, like this one, however, this happened only a small fraction as often as underclassifying. From what I saw in telemetry it was about 2% named `Dockerfile.*` that wasn't a Dockerfile, compared to about 98% that was.

Due to the limitations of VSCode there's no perfect solution, but manually adding each of the hundreds of variants I saw isn't rea

[2020-07-06 14:19] simpleapples commented on #2128
I think there are other elements we should consider except the number.

Let's say I created a `dockerfile.go`, what I expect for this file is treating as a `go file`. Because it has a extension `.go`, there is no reason to treat it as a `Dockerfile`.

But when I created a `dockerfile.prod`, it's ok if the vscode doesn't format it as a `Dockerfile`, because I known `Dockerfile.prod` is not the offi

[2020-07-06 14:24] simpleapples commented on #2128
If you really want to cover situations as much as possible, I think it's better to add a `First Line Pattern`, because a dockerfile must begin with a `FROM` instruction, documents said.

[2020-07-06 14:28] bwateratmsft commented on #2128
I'll look into this `firstLine` property, I didn't know about it until now.

[2020-07-06 14:31] simpleapples commented on #2128
Thank you, `perl extension` use the first line property (https://github.com/microsoft/vscode/blob/7a5bca9fafbbb23de289179be95e9c4832540c02/extensions/perl/package.json#L23).

[2020-07-06 15:09] bwateratmsft commented on #2075
Yup, indeed that was the case so I'll mark this fixed by #2093.

[2020-07-06 15:09] #2075 closed

[2020-07-06 15:28] dwbelliston commented on #2123
Here is the dockerfile and launch.json.

There base image from docker file is here: https://hub.docker.com/r/google/cloud-sdk/dockerfile

Dockerfile:

[code]

launch.json
[code]

[2020-07-06 15:38] bwateratmsft commented on #2123
Thanks! It looks like that image indeed uses 2.7 as the default. I think we can safely change launcher.py in our extension to use `python3` since that works on `python:3.8-slim-buster` as expected.

As a workaround before we can get that fixed, you can make the same change to `launcher.py` in the Docker extension's resources.

Windows: `%USERPROFILE%\.vscode\extensions\ms-azuretools.vscode-docker-

[2020-07-06 15:49] rcjsuen commented on #2128
Ignoring newlines and taking leading whitespace into consideration, Dockerfiles should start with a comment (or a parser directive), an `ARG` instruction, or a `FROM` instruction.

[2020-07-06 15:55] simpleapples commented on #2128
I did a small test and added a `First Line Property` on `package.json` of docker extension, it works.

![Annotation 2020-07-06 234920](https://user-images.githubusercontent.com/1655036/86612873-5901e800-bfe3-11ea-9a96-c77399b6983f.jpg)

But unfortunately, the `First Line Property` can not cover cases which start with a comment.

[2020-07-06 16:51] #2124 closed

[2020-07-06 16:51] #2121 closed

[2020-07-06 16:51] #2125 closed

[2020-07-06 17:07] bwateratmsft commented on #2127
@hassanrazakhalid Have you made any changes that might affect `wget`? It seems `getvsdbg.sh` is not getting what it needs.

[2020-07-06 17:12] bwateratmsft commented on #2114
@BigMorty I've started working on this. For now, I'm implementing just a palette command--wanted your input on whether it should show up in the contexts tray or not. If we want it to show up in the contexts tray--what icon should we use? I don't think the usual "+" icon is would really be appropriate since it's not for adding any context--just ACI in particular.

[2020-07-06 17:14] #2123 closed

[2020-07-06 17:20] BigMorty commented on #2114
I think + icon is find, we can have hover text that says "Create ACI context".

[2020-07-06 18:54] hassanrazakhalid commented on #2127
Nope but i solved it the issue by downgrading  to libss l.1.0.0.dylib for now. Somehow it was not picking up the latest version already installed on my machine.

[2020-07-06 19:12] bwateratmsft commented on #2127
Ok, glad it's working now.

[2020-07-06 19:12] #2127 closed

[2020-07-07 06:21] pgross41 commented on #2085
Downgrading the extension also fixed things for me. I have never done this before so it was hard to figure out what I was doing wrong, the main issue I had was it just hung there doing nothing. I tried everything, at some point my config threw the `'python' of undefined` error but I don't remember how I reproduced that. After I made fresh launch/tasks files and downgraded the extension it worked r

[2020-07-07 07:00] cecilphillip opened #2132 "Substitution with environment variables"
#1094 is closed, so I'm opening a new one here.
Variable substitution using `${env:var}` doesn't seem to be working for me when I try to set it in the `localPath` property under `volumes`. I'm using version 1.3.1 on MacOS.
Predefined variables like `${workspaceFolder}` work though.

Running the following task outputs the expected path.
[code]
When I run the container using the extension, the docke

[2020-07-07 13:13] bwateratmsft commented on #2085
@pgross41 Are you on Insiders? There was a bug in VSCode Insiders (now fixed and released) that caused our tasks to hang forever; this affected all versions of the Docker extension.

Can you share your tasks.json and launch.json so I can look into the missing arguments?

[2020-07-07 13:30] bwateratmsft commented on #2132
This one is the same as #1961, ultimately same as #1413. @cecilphillip, we need changes from the VSCode team to unblock this scenario, do you mind commenting on https://github.com/microsoft/vscode/issues/81007 to encourage them to make said changes? :smile:

[2020-07-07 13:30] #2132 closed

[2020-07-07 13:39] bwateratmsft commented on #2085
@adealdag @pgross41 I have prepared a build based on [this branch](https://github.com/microsoft/vscode-docker/tree/bmw/pytask), which adds a bunch of info to the Output tab for the Docker extension. This should help us get a better idea what is going on.

Here's the build: https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=22277&view=results
And a direct link to a zip file with the

[2020-07-07 14:02] shoaib-xo opened #2133 "v1.3.1 - No images or containers panels"
Same as https://github.com/microsoft/vscode-docker/issues/1609 and the fix isn't applicable. There are no leftover settings and the context menu doesn't even have the Images/Containers. Features Contributions tab lists images & containers.

- Uninstalled Docker Explorer & Docker
- Installed Docker, still no images or containers panels
- All kind of restarts.

![image](https://user-images.githubuse

[2020-07-07 14:04] bwateratmsft commented on #2133
@shoaib-xo Can you check the Files tab? The view moving code permanently places them in the Files tab if Docker Explorer activates first.

[2020-07-07 14:08] #2133 closed

[2020-07-07 14:16] shoaib-xo commented on #2133
My bad, the "reset location," from files tab placed them in the correct spot.

[2020-07-07 14:21] bwateratmsft commented on #2122
Looks like it is this upstream issue: https://github.com/microsoft/vscode-azure-account/issues/53

According to https://github.com/microsoft/vscode-azurefunctions/issues/2068, you can reload VSCode or sign out and back into Azure to fix it.

[2020-07-07 14:21] #2122 closed

[2020-07-08 05:24] pgross41 commented on #2085
@bwateratmsft I'm not an Insiders I suspect the hanging is because the container is using `python` as the entrypoint and it's stuck at an interactive prompt. Here is my configuration:

<details>
  <summary>tasks.json</summary>

[code]

</details>

<details>
  <summary>launch.json</summary>

[code]

</details>

I just did it with 1.2.1 and it worked as expected. Upgraded to 1.3.1 and the issue recr

[2020-07-08 10:22] sagarg1988 opened #2136 "Unable to Pull fro VsCode"
Does this occur consistently?
Repro steps:

1.
2.

Action: vscode-docker.registries.pullRepository
Error type: 1
Error Message: Command failed: docker login  --username sagarg1988 --password-stdin
Got permission denied while trying to connect to the Docker daemon socket at unix:///var/run/docker.sock: Post http://%2Fvar%2Frun%2Fdocker.sock/v1.40/auth: dial unix /var/run/docker.sock: connect: permi

[2020-07-08 14:09] bwateratmsft commented on #2085
Awesome, this is really helpful. Thanks @pgross41!

The "'debugLauncherPath' must be str" error: Double check you have the latest version of the Python extension. Also, did you do anything to disable the new debugpy debugger experiment? Their as-released code still will not return anything when we query the debugger path if the debugpy experiment is disabled.

RE the tasks--In your pasted `tasks.j

[2020-07-08 15:14] bwateratmsft commented on #2085
@pgross41 @adealdag I talked to @alexr00, she suggested trying [VSCode Insiders](https://code.visualstudio.com/insiders/) (make sure to get it up-to-date as there were some other issues with Insiders builds from earlier this month). She said there were some old task issues that have been fixed in Insiders that might be the root causes of what you're seeing.

If time permits, can you try out Inside

[2020-07-08 15:18] #1493 closed

[2020-07-08 15:21] bwateratmsft commented on #2136
@sagarg1988 Have you added your user to the `docker` group? https://docs.docker.com/engine/install/linux-postinstall/

[2020-07-08 19:20] pgross41 commented on #2085
@bwateratmsft sorry for changing the task name on you. Yes that was me, I was trying to see if the space in the label was causing it to break.

Okay it's been a slow day at work today 😁 I upgraded to Insiders and tested all the Docker extensions:

**1.2.1** - Works just like it has been

**1.3.1** -  It works and the terminal is doing something new. It builds in `1: Task - docker-build` then chang

[2020-07-08 19:37] bwateratmsft commented on #2085
I remember now why the discrepancy between exists between what is shown in the terminal (not having the args) vs. what is run in that "Python Debug Console". When doing debugging, we do a `docker run` command with just a default entrypoint--in this case, `"python"`--to start the container without actually starting the process. This leaves open a Python shell doing nothing. It's not frozen, it's ju

[2020-07-08 20:02] bwateratmsft commented on #2085
I had an idea of what could have gone wrong (basically, any failure during extension activation would result in the task handler not being registered; there are changes in 1.3.2 related to that). I made a new build of that 1.3.2-alpha, in theory it should behave like 1.3.1 and therefore work in Insiders.

The build: https://dev.azure.com/ms-azuretools/AzCode/_build/results?buildId=22392&view=resul

[2020-07-09 03:25] shwang1a opened #2137 "docker hub connection failed"
Does this occur consistently?
Repro steps:

1.
2.

Action: vscode-docker.registries.connectRegistry
Error type: Error
Error Message: 位址「disabled:」有不明或不支援的傳輸「disabled」

Version: 1.3.1
OS: linux
OS Release: 3.10.0-1127.13.1.el7.x86_64
Product: Visual Studio Code
Product Version: 1.46.1
Language: en

[2020-07-09 06:03] v-mengwe opened #2138 "There is an error "Cannot read property 'containerId' of undefined" when executing command "Docker Container: Stop""
**OS:** Mac
**Build Version:** 20200708.11

**Repro steps:**

1. F1 --> Docker Container: Stop --> Select a running container.
2. Check the result.

**Expect:**
Stop the running container successfully without any error.

**Actual:**
There is an error "Cannot read property 'containerId' of undefined".
![Screen Shot 2020-07-09 at 10 57 34 AM](https://user-images.githubusercontent.com/62053665/870019

[2020-07-09 11:44] grajsb opened #2139 "Connect Docker registry prompt won't go or cannot make it go away"
![Annotation 2020-07-09 171646](https://user-images.githubusercontent.com/13052578/87036163-01909180-c208-11ea-87cc-db016a52597f.png)
Issue Type: <b>Bug</b>

Clicked on connect to registry to add details but chose not to. However was unable to make the Connect Docker Registry prompt go away.

Extension version: 1.3.1
VS Code version: Code 1.46.1 (cd9ea6488829f560dc949a8b2fb789f3cdc05f5d, 2020-06-1

[2020-07-09 13:14] bwateratmsft commented on #2137
@shwang1a can you add repro steps and translate the error message?

[2020-07-09 15:10] bwateratmsft commented on #2139
Hitting <kbd>Esc</kbd> works for me, can you try that? Clicking elsewhere intentionally does not close this since it is considered a "wizard".

[2020-07-09 15:13] bwateratmsft commented on #2138
I can repro. Looks like this would also affect Start and Restart the same way.

[2020-07-09 15:33] django-diletante opened #2141 "Cannot read property 'python' of undefined"
Does this occur consistently? Yes
Repro steps:

1. Following this tutorial, for a general python script
2. launching the "Build, run, and debug the container"

Action: docker-launch
Error type: TypeError
Error Message: Cannot read property 'python' of undefined

Version: 1.3.1
OS: linux
OS Release: 4.15.0-109-generic
Product: Visual Studio Code
Product Version: 1.46.1
Language: en

[code]

</detai

[2020-07-09 15:34] bwateratmsft commented on #2141
@django-diletante Did you add the tasks as well by doing "Docker: Add Docker files to workspace" or did you just copy the launch config from the tutorial?

[2020-07-09 15:44] #2139 closed

[2020-07-09 17:17] #2138 closed

[2020-07-09 18:10] #2126 closed

[2020-07-10 07:54] django-diletante commented on #2141
Hi. bwateratmsft thanks for your fast answer.
I did Docker: Add Docker files to workspace.

[2020-07-10 08:08] django-diletante commented on #2141
Hi Brandon, thanks for your fast answer.
I did "Docker: Add Docker files to workspace"

[2020-07-10 13:05] bwateratmsft commented on #2141
Ok, in that case it's likely the same as #2085, so I'll close this one as duplicate.

[2020-07-10 13:05] #2141 closed

[2020-07-10 14:28] #2086 closed

[2020-07-10 15:09] devjavivazz opened #2142 "Attach to shell error"
Does this occur consistently? Yes
Repro steps:
1. Right click over container
2. Click on Attach to shell

Action: vscode-docker.containers.attachShell
Error type: TypeError
Error Message: Cannot read property 'filter' of null

Version: 1.3.1
OS: win32/64
OS Release: 10.0.18363
Product: Visual Studio Code
Product Version: 1.46.1
Language: en

<details>
<summary>Call Stack</summary>

</details>

[2020-07-10 16:39] bwateratmsft commented on #2142
Duplicate of #2072. @devjavivazz, please open your settings.json and remove the entry for "docker.commands.attach".

[2020-07-10 16:39] #2142 closed

[2020-07-10 17:17] Niason opened #2143 "docker"
Does this occur consistently?
Repro steps:

1.
2.

Action: vscode-docker.registries.azure.createRegistry
Error type: Error
Error Message: Entry not found in cache.

Version: 1.3.1
OS: win32
OS Release: 10.0.18362
Product: Visual Studio Code
Product Version: 1.47.0
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-07-10 18:16] bwateratmsft commented on #2143
Dupe of #2122

[2020-07-10 18:16] #2143 closed

[2020-07-10 18:17] minesh1291 opened #2144 "unable to connect hub.docker.com registry"
Action: vscode-docker.registries.connectRegistry
Error type: Error
Error Message: Error calling StartServiceByName for org.freedesktop.secrets: Timeout was reached

Version: 1.3.1
OS: linux
OS Release: 5.3.0-1030-gcp
Product: Visual Studio Code
Product Version: 1.46.1
Language: en

[2020-07-10 18:22] bwateratmsft commented on #2144
This is an external error in gnome-keyring. I did a short search but only found one good answer, basically to install `gnupg2` and `pass`. https://stackoverflow.com/questions/50151833/cannot-login-to-docker-account

[2020-07-10 18:22] #2144 closed

[2020-07-10 18:45] bwateratmsft opened #2145 "Uncaught UserCancelledErrors being thrown by the new context manager code"

[2020-07-10 19:17] mcollis2 commented on #743
Interestingly - If you deploy the app_settings like:
DOCKER_REGISTRY_SERVER_URL = "myawesomeregistry.azurecr.io"
instead of
DOCKER_REGISTRY_SERVER_URL = "https://myawesomeregistry.azurecr.io"
Then it appears to work ok.  I am using terraform to deploy.

So try leaving https:// out of the registry URL - I suspect microsoft are looking for patterns matching https://**.azurecr.io.  This worked for me

[2020-07-10 19:18] bwateratmsft commented on #2145
These may have gone away in the latest builds of bmw/dockerserve branch.

[2020-07-10 19:35] bwateratmsft commented on #2145
I'll close this, can't get it to show up anymore.

[2020-07-10 19:35] #2145 closed

[2020-07-11 15:20] rcjsuen commented on #2055
Thank you @csakaszamok and @JoseFMP for your bug report. I have opened #2146 to address this.

[2020-07-11 15:21] rcjsuen commented on #2043
@samhwang I have opened #2146 to address this. Thanks again for reporting this bug!

[2020-07-11 20:14] chandanjainn opened #2147 "Feature Requested: Search/ Filter for container and images name"
My workspace happens to contain 100+ images and containers so it would be great to have a filter to search by name

[2020-07-12 05:38] melvinkokxw opened #2148 "Debugger stops on hot reload for Flask in debugger"
Issue Type: <b>Bug</b>

## Steps to reproduce problem:

1. launch.json configuration as given below:
[code]

task.json given below:

[code]

2. Run debugger
3. Make edit anywhere on a python file and save

## Results

Expected results:
Flask hot reloads.

Actual results:
Last line in debug console is:

`* Detected change in '/<python file name>.py', reloading`

and then the debugger simply stops.

[2020-07-12 07:10] DaniloOP1381521 opened #2149 "error during connect:"
Does this occur consistently?
Repro steps:

1.
2.

Action: vscode-docker.registries.pullImage
Error type: 1
Error Message: Command failed: docker login  --username danilo1988 --password-stdin
error during connect: Post http://%2F%2F.%2Fpipe%2Fdocker_engine/v1.40/auth: open //./pipe/docker_engine: The system cannot find the file specified. In the default daemon configuration on Windows, the docker

[2020-07-13 12:11] bwateratmsft commented on #2149
@DaniloOP1381521 is Docker Desktop running?

[2020-07-13 12:51] #2043 closed

[2020-07-13 12:51] #2055 closed

[2020-07-13 13:03] bwateratmsft commented on #2147
Good news, this is possible already! VSCode has built-in searching and filtering in all tree view. To search, click anywhere in the box and start typing.

Searching:
![image](https://user-images.githubusercontent.com/36966225/87307398-8967eb80-c4e7-11ea-90b6-5434fd9bfb6a.png)

To filter, hover over that search text in the top right, and enable filtering:
![image](https://user-images.githubusercont

[2020-07-13 13:03] #2147 closed

[2020-07-13 13:10] bwateratmsft commented on #2085
No further changes to be made in 1.4.0; hopefully this issue goes away between the fixes already in VSCode 1.47 and in Docker extension 1.4.0.

[2020-07-13 13:18] bwateratmsft commented on #2148
@melvinkokxw Thank you for the detailed information! I was able to reproduce your issue. When I set `"removeContainerAfterDebug": false` in launch.json, I was able to do hot reloading, however, it does require manually stopping the container after debugging is done (or else the next `docker-run` task fails because the container name is already in use).

I'll look to see what can be done in the cod

[2020-07-13 13:47] #2102 closed

[2020-07-13 14:28] #2088 closed

[2020-07-13 14:49] bwateratmsft commented on #2128
I've done some investigating. The `firstLine` property gets treated as an OR alongside `filenamePatterns`--so, if a file matches `filenamePatterns` OR `firstLine`, it gets treated as a Dockerfile. If a conflicting `filenamePattern` matches, it will use that instead of Dockerfile. For instance, "test.py" starting with `FROM alpine` will be treated as a Python file.

With `"firstLine": "\\s*([Ff][Rr

[2020-07-13 14:56] bwateratmsft commented on #2079
Can't repro this anymore, might have been a VSCode issue.

[2020-07-13 14:56] #2079 closed

[2020-07-13 15:13] rcjsuen commented on #2128
@bwateratmsft What about cases like `Dockerfile.sh` with a shebang?
[code]
Shell comment syntax is the same as Docker and Python with the `#`. How will this resolve?

[2020-07-13 16:11] simpleapples commented on #2128
@bwateratmsft  Thank you for your investigating.

For the first shorcoming, It seems like there is no better way to solve the problem. But we can add frequently used `dockerfile.xxx` to `filenamePattern` to cover majority of situations. `firstLine` match can be regarded as a plan B.

For a file started with a `#comment`, I think it should not be treated as a dockerfile. It will hit too many types

[2020-07-13 17:10] bwateratmsft commented on #2128
I don't think that's feasible long-term. We found hundreds of values in #1907, a very long tail--so adding the top 10 still leaves hundreds of people out.

I'm not yet convinced that `Dockerfile.*` is much of a problem. I absolutely recognize it interferes in @simpleapples' original case, but the workaround for that scenario is the same as the workaround before, just the other way around. However,

[2020-07-13 17:20] chrisdoherty4 commented on #2128
Given I raised the original ticket I thought I would contribute in brief (and essentially echo @bwateratmsft ).

It's nonsensical to revert a change that compliments the significant majority of use-cases because of 1 persons edge case that can be alleviated with a rename, or an additional configuration line.

@simpleapples , you'll probably move on from your current project that uses dockerfile.go

[2020-07-13 17:45] bwateratmsft commented on #2057
I spoke to @philliphoff, and we think the best approach is to do more-or-less the same as is done for .NET:
- The Docker build context is always the workspace folder (by default)
- The Dockerfile is placed next to the package.json and copies in everything
- The entrypoints/etc. in the Dockerfile are subpath'd

[2020-07-13 18:32] bwateratmsft commented on #2114
Closing since #2151 is not needed.

[2020-07-13 18:32] #2114 closed

[2020-07-13 19:54] chrisdias commented on #1903
fixed. will show up in Insiders tomorrow.

[2020-07-14 02:56] melvinkokxw commented on #2148
@bwateratmsft Thank you for investigating the issue and identifying the cause. Setting `"removeContainerAfterDebug": false` in launch.json works for me.

Not setting that explicitly doesn't remove the container after debug, yet hot reload doesn't work. Is false the default value for `removeContainerAfterDebug`?

[2020-07-14 05:49] pgross41 commented on #2085
I've actually been using Insiders with 1.3.1 with no issues

[2020-07-14 08:13] dmaglio opened #2155 "Contexts UI not working"
![image](https://user-images.githubusercontent.com/446573/87401290-3b6fe800-c5ba-11ea-880b-885d2ffac5e4.png)
the option ``--format`` is missing in ``docker context ls``, also ``docker: 'context' is not a docker command.``

[2020-07-14 12:35] bwateratmsft commented on #2155
@dmaglio what version of Docker do you have? Can you run `docker info`?

[2020-07-14 13:07] dmaglio commented on #2155
@bwateratmsft Docker Legacy for Windows
``
λ docker info
Containers: 2
 Running: 1
 Paused: 0
 Stopped: 1
Images: 2
Server Version: 19.03.5
Storage Driver: overlay2
 Backing Filesystem: extfs
 Supports d_type: true
 Native Overlay Diff: true
Logging Driver: json-file
Cgroup Driver: cgroupfs
Plugins:
 Volume: local
 Network: bridge host ipvlan macvlan null overlay
 Log: awslogs fluentd gcplogs gelf

[2020-07-14 13:11] bwateratmsft commented on #2155
Do you mean Docker Toolbox?

[2020-07-14 13:17] dmaglio commented on #2155
yes. not Hyper-V version, Virtualbox

[2020-07-14 13:18] bwateratmsft opened #2156 "Error on launch if config file or contexts/metas folder don't exist"
Does this occur consistently? No--Docker frequently recreates this folder
Repro steps:

1. Delete the contexts\meta folder
2. Open VSCode

Action: docker.activate
Error type: ENOENT
Error Message: ENOENT: no such file or directory, watch 'C:\Users\bwater\.docker\contexts\meta'

Version: 1.4.0
OS: win32
OS Release: 10.0.19041
Product: Visual Studio Code
Product Version: 1.47.0
Language: en

<detail

[2020-07-14 13:24] bwateratmsft commented on #2155
Gotcha. Is anything other than context-related features not working, or are there any toasts with "Report Issue" showing up without running any commands? Or is the only error the one in the screenshot in the Contexts view?

If Docker Toolbox doesn't support `docker context` there's really nothing we can do, but as long as other features are working I'd consider it a success.

[2020-07-14 13:26] bwateratmsft commented on #2085
That's good to hear. Hopefully Alex's fixes took care of most of the issues!

[2020-07-14 13:26] bwateratmsft commented on #2148
Hmm, it's supposed to be true by default, so if it's not specified it's still treated as true. I'll check on that as well.

[2020-07-14 14:42] bwateratmsft opened #2157 "Enable Policheck"

[2020-07-14 16:09] #2156 closed

[2020-07-14 16:36] #2157 closed

[2020-07-14 18:05] bwateratmsft commented on #1959
We think this should be fixed by #2153. Users who want to remove the `"credsStore": "desktop"` entry can do so, but may need to log out and back in.

[2020-07-14 18:05] #1959 closed

[2020-07-14 21:59] DaniloOP1381521 commented on #2149
not the error occurs in the terminal. more correction has already been resolved. thank you!

[2020-07-14 22:17] EricJizbaMSFT commented on #1903
Hey guys I noticed this on Insiders today whenever I open a "package.json" file and I have no idea why I'm being prompted to install Docker? I honestly thought it was a funny mistake on somebody's part 😝, not an intentional change

[2020-07-14 22:27] EricJizbaMSFT commented on #1903
Feels like maybe you're trying to say "Hey you can convert your Node.js project to use Docker, at which point the Docker extension will be helpful", but I feel like the extension recommendations are usually "Hey you're already using Docker, here's an extension that will be helpful now" (as it should be IMO)

[2020-07-14 22:34] chrisdias commented on #1903
hmmm not my intention here. should be a "passive" recommendation.  Sorry, I will fix asap.

[2020-07-14 22:41] EricJizbaMSFT commented on #1903
Ah - yeah a passive recommendation seems reasonable

[2020-07-14 22:49] chrisdias commented on #1903
if it is both passive and important, it will prompt no matter what.  need to find a separate way to do this.  reverting, will be in Insiders tomorrow.  I dont know yet how to fix for real.

[2020-07-14 22:54] chrisdias commented on #1903
whoops hit close by mistake.

[2020-07-15 03:54] simpleapples commented on #2128
I know it's hard to be perfect, based on several reasons: `Dockerfile` is a special file type which usually doesn't have a specific file extension, and VSCode allows `xxx.*` on `filenameMatch`.

So, It makes sense if you insist on remaining changes in #1908, I could set a user-defined file association to avoid the problem.

@bwateratmsft Thank you for your trying on this issue.

[2020-07-15 07:38] v-mengwe commented on #1174
Verified on the latest build 20200714.2, this issue still reproduces for now. I will continue to track this issue.

[2020-07-15 07:52] v-ruizh opened #2161 "The state is not changed for the outdated image "hello-world:latest" after pulling the image again"
**OS:** All
**Build Version:** 20200714.2

**Repro steps:**
1. Open Docker view, if the image "alpine:latest" is present, remove it: docker rmi alpine:latest.
2. Pull any image, and tag it as "alpine:latest": docker pull hello-world:latest && docker tag hello-world:latest alpine:latest.
3. Remove the "hello-world:latest" image: docker rmi hello-world:latest.
4. Restart VS Code, the state of the im

[2020-07-15 07:56] v-ruizh opened #2162 "The outdated image state is not changed after reopening VS Code and waiting for 1 min"
**OS:** All
**Build Version:** 20200714.2

**Repro steps:**
1. Open Docker view, if the image "alpine:latest" is present, remove it: docker rmi alpine:latest.
2. Pull any image, and tag it as "alpine:latest": docker pull hello-world:latest && docker tag hello-world:latest alpine:latest.
3. Remove the "hello-world:latest" image: docker rmi hello-world:latest.
4. Restart VS Code, then check the stat

[2020-07-15 08:54] v-mengwe opened #2163 "Don't display "Getting digest..." status when executing "Copy Image Digest" on a task run"
**OS:** All
**Build version:** 20200714.2
**.NET Core SDK:** 2.1

**Repro Steps:**

1. Command palette -> Docker Images: Run Azure CLI.
2. Run these commands in the new terminal to set environment variables:
[code]
3. Expand the build task named 'taskhelloworld' from the REGISTRIES window.
4. Execute "Run Task".
5. Click "Copy Image Digest" on a task run.

**Expect:**
Display "Getting digest..." s

[2020-07-15 09:57] ntziolis opened #2164 "Bug: Using port 2376 + No SSL/TLS => Extension cannot establish connection (TLS Failure)"
While it is pretty standard to use SSL/TLS when port 2376 is specified the extension should not assume this as a given.

When using docker from the command line incl from within vscode) there were no issues when using the same host + port configuration.

When exposing the remote docker host + vscode settings to use port 2375 the extension can connect just fine. No other configuration was changed.

[2020-07-15 12:46] bwateratmsft commented on #2149
Ok, let us know if you see other issues!

[2020-07-15 12:46] #2149 closed

[2020-07-15 12:52] bwateratmsft commented on #2161
This is by design but it's sort of hard to explain. For performance reasons we cache a list of image IDs that we find are out of date, at the time of extension activation. In this example the `alpine:latest` image ID locally does not match Docker Hub, so that image is flagged as out of date.

However, when `hello-world:latest` is pulled during the same session, its image ID is in the out-of-date l

[2020-07-15 12:52] #2161 closed

[2020-07-15 13:56] bwateratmsft commented on #2164
@ntziolis This is a function of `docker-modem` which is used by `Dockerode` in our extension: https://github.com/apocas/docker-modem/blob/master/lib/modem.js#L44

Can you file this issue there? Thanks!

[2020-07-15 13:56] #2164 closed

[2020-07-15 14:00] bwateratmsft commented on #2162
@v-ruizh Does this issue happen consistently? I tried several times but could not get it to reproduce; there is code to automatically refresh the images list after the image check finishes.

[2020-07-15 14:03] bwateratmsft opened #2165 "Extend outdated image checking to MCR images"
Currently only `docker.io/library` images are checked; we should expand this to MCR images since .NET is one of the main scenarios for the extension. Additionally, .NET images seem to get updated more frequently than most (e.g. every few weeks).

[2020-07-15 14:21] bwateratmsft commented on #2163
For ACR task runs, we already have the output image and digest, and don't need to make a web request. So, we simply put the digest in the clipboard without the "Getting digest..." text. I'll close this as by-design.

[2020-07-15 14:21] #2163 closed

[2020-07-15 14:24] bwateratmsft commented on #1174
This occurs because the task is still running, so an output image hasn't been obtained yet. We can add code to hide the "Copy image digest" command for incomplete task runs, similar to how we hide other commands depending container/image/etc. state.

[2020-07-15 14:57] bwateratmsft commented on #2090
Looking at the code, we already do this form for Python, CPP, and Ruby. I think only Node and Other need to be changed.

[2020-07-16 05:10] ntziolis commented on #2164
Done, thanks for identifying where this should land instead. Much appreciated.

[2020-07-16 07:08] dmarinere commented on #2122
Hello, Please respond  and if you are not sure about my issue to refer me to someone else, you do not understand my problem and you are telling me something that is not related at all
I was able to create docker images only if I had pushed them to my docker which is costing me data, but to push my repo directly and create this image on the cloud is what has been generating this error

To explain c

[2020-07-16 08:42] YeJianXi opened #2167 "I'm just a kid"
Does this occur consistently?
Repro steps:

1.
2.

Action: docker-launch
Error type: 1
Error Message: Process 'C:\WINDOWS\System32\WindowsPowerShell\v1.0\powersh...' exited with code 1
Error: C:\Users\James\.vsdbg\GetVsDbg.ps1 : ʹ�á�2�����������á�ExtractToDirectory��ʱ�����쳣:���ļ���C:\Users\James\.vsdbg\linux-
musl-x64\latest\libclrjit.so���Ѿ����ڡ���
    + CategoryInfo          : NotSpecified: (:)

[2020-07-16 08:45] v-ruizh commented on #2162
@bwateratmsft Yes, this issue happens consistently. I have sent a video to you by Teams.

[2020-07-16 13:16] #2167 closed

[2020-07-16 14:21] bwateratmsft commented on #2162
@v-ruizh Thanks! I saw on the video that there was only one image, so I tried removing all my images except the "fake" `alpine:latest`, but it still did not reproduce the issue. I think it must be some sort of timing issue, I will investigate.

[2020-07-16 14:23] bwateratmsft opened #2168 "Compose up / down commands will not work in ACI context"
The command needs to be altered so that `docker-compose` becomes `docker compose`. Additionally, `--build` needs to be removed.

[2020-07-16 14:48] bwateratmsft commented on #2128
I'm going to leave this open for now and keep thinking about it. Perhaps there's some combination of filename pattern, first line pattern, and MIME type that removes the need to compromise.

[2020-07-16 16:25] bwateratmsft commented on #2148
@melvinkokxw I think I've found what went wrong and how to fix it, with hot reloading. The Python extension somewhat transparently makes two debug sessions--the outer "launch" session, and the inner "attach" session. When you save a file, the outer session is supposed to persist but the inner one is discarded. Our code for removing the container after debug was not able to tell the difference betw

[2020-07-16 16:26] bwateratmsft commented on #2050
I've found what is going wrong. The Python extension sets up an inner and outer debug session, both of them get the message to open the browser, so it is opened twice. I will make a change so that only one tracker is created in this scenario, and thus only one browser tab will be opened.

[2020-07-16 19:32] chrisdias commented on #1903
fixed properly this time, should be in insiders tomorrow.

[2020-07-16 19:32] #1903 closed

[2020-07-16 19:33] bwateratmsft commented on #1903
@chrisdias What behavior should we expect?

[2020-07-16 20:14] chrisdias commented on #1903
whenever the user opens a .net like file (.cs, .csproj, etc.), a python file, or Node like file (.js, .ts, package.json) then the Docker extension will be added to the recommended list.

The user can see these in the "RECOMMENDED" section in the extension viewlet:

![image](https://user-images.githubusercontent.com/1487073/87717581-79f5d600-c765-11ea-9e8d-a77cf0262983.png)

And when the user selec

[2020-07-17 12:55] bwateratmsft commented on #2085
It's hard to tell but it appears from telemetry that the rate of this issue is declining. Part of the difficulty is that the error is exactly the same in this case and also the user-error case where they did not add the tasks.

For now I'll close this issue as fixed, but please let us know if anyone sees this problem return!

[2020-07-17 12:55] #2085 closed

[2020-07-17 13:19] bwateratmsft commented on #2054
Should look to see if there are commands we could use to highlight/select tree nodes.

[2020-07-17 13:51] bwateratmsft commented on #2054
I don't think this is actionable.

1. The relationship of container to volume is many-to-many. Consequently, grouping cannot be used, or a node could appear multiple times in a tree view which is problematic for many reasons.
1. Volume inspect info does not give any information about usage, even though the [spec](https://docs.docker.com/engine/api/v1.40/#operation/VolumeInspect) suggests it should

[2020-07-17 14:46] bwateratmsft commented on #1642
Related to #1617.

[2020-07-17 14:54] bwateratmsft commented on #1128
This is no longer an issue.

[2020-07-17 14:54] #1128 closed

[2020-07-17 14:55] bwateratmsft commented on #651
We'll be getting rid of this package anyway with #844.

[2020-07-17 14:55] #651 closed

[2020-07-17 14:57] bwateratmsft commented on #1325
This is complete with #2119 and #2134.

[2020-07-17 14:57] #1325 closed

[2020-07-17 15:27] mlvogel1214 opened #2175 "Extension not working in Admin"
Issue Type: <b>Bug</b>

When right click and clicking build image on docker file the build never executes.
The following error code displays:
Activating extension 'ms-azuretools.vscode-docker' failed: The "path" argument must be of type string. Received type undefined.
Have tried uninstalling and reinstalling extention.  Uninstalled and reinstalled vs code.  Same error.  Error only occurs when in

[2020-07-17 15:57] bwateratmsft commented on #2175
I have not been able to reproduce the issue. Can you tell me more about your workspace?

[2020-07-17 16:04] mlvogel1214 commented on #2175
I am using vs code in elevated admin mode to build an image and use with portainer to test locally.  I have docker windows installed.  Previously I have been able to simply right click and select build image with the docker extension and it correctly builds my image to use with portainer. Now nothing happens except in console I found the previously listed error.

When manually running build image

[2020-07-17 16:07] bwateratmsft commented on #2175
Is there any additional information indicating where the activation error is coming from (stack trace, etc.)? I would expect to see the "command not found" error when activation fails and then you do "build image", but I'm having trouble finding any place where that "path" error could be happening during activation.

[2020-07-17 16:11] bwateratmsft commented on #2175
I found a place where helpful info is emitted. In the Output tab, there's a section for "Log (Extension Host)", this might tell us the info we need. For example:
![image](https://user-images.githubusercontent.com/36966225/87807729-a3c30180-c826-11ea-82aa-a0824782ea84.png)

[2020-07-17 16:51] mlvogel1214 commented on #2175
ok.  That helps finding some more info

[2020-07-17 11:43:46.714] [exthost] [error] Activating extension ms-azuretools.vscode-docker failed due to an error:
[2020-07-17 11:43:46.714] [exthost] [error] TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received type undefined
	at validateString (internal/validators.js:112:11)
	at Object.join (path.js:375:7)
	at Function.M

[2020-07-17 19:16] bwateratmsft commented on #2175
It looks like this is the same as https://github.com/microsoft/vscode/issues/102751 or https://github.com/microsoft/vscode/issues/102642

[2020-07-17 19:16] #2175 closed

[2020-07-17 19:28] #2103 closed

[2020-07-17 20:07] #2050 closed

[2020-07-17 20:07] #2148 closed

[2020-07-17 20:08] #2090 closed

[2020-07-17 20:23] #2047 closed

[2020-07-17 20:55] mlvogel1214 commented on #2175
Thanks for the info

[2020-07-20 13:55] #251 closed

[2020-07-20 15:52] #848 closed

[2020-07-21 14:28] #2117 closed

[2020-07-21 20:16] bwateratmsft commented on #1650
I found a way to accomplish this for scenarios where only the JSON editor is required (e.g. command customization). This approach does _not_ work with the UI editor. As mentioned above, absolute URIs are required...but the scheme can be anything--including a registered [FileSystemProvider](https://code.visualstudio.com/api/references/vscode-api#FileSystemProvider).

So, we could make a provider wi

[2020-07-22 10:06] v-ruizh opened #2177 "An error occurs when executing "Run/Run Interactive/Pull/Push..." commands for Docker image"
**OS:** Mac
**Build Version:** 20200720.3

**Repro Steps:**
Right click one Docker image and execute "Run/Run Interactive/Pull/Push..." commands.

**Expect:**
Succeed to execute these commands "Run/Run Interactive/Pull/Push...".

**Actual:**
An error "Cannot read property 'uri' of undefined" occurs.
![Screen Shot 2020-07-22 at 5 54 57 PM](https://user-images.githubusercontent.com/45614674/88163957

[2020-07-22 13:02] bwateratmsft commented on #2177
I am able to reproduce on Windows as long as no workspace is open. I'm still looking as the error doesn't appear to originate in our code...

[2020-07-22 13:25] bwateratmsft commented on #2177
Can confirm this is happening in VSCode somewhere, not in our code. I found one issue that blocks execution from happening at all that we can work around. Still working on finding the source of the "Cannot read property 'uri'..." error.

[2020-07-22 13:58] bwateratmsft commented on #2177
Talked to @alexr00. There are two parts to this--
1. Some task stuff that she understands far better than me :smile: (should be fixed in https://github.com/microsoft/vscode/commit/8c1aba0d95fe745fa71e7a9dd44b540beb37e86d -- should eliminate the "Cannot read property 'uri' of undefined" popup)
1. When `cwd` is undefined, the task system tries to use the workspace folder, but that is also undefined

[2020-07-22 17:12] bwateratmsft commented on #2085
We have released Docker 1.4.0. We're pretty sure this issue is fixed in that build, let us know if you see otherwise!

[2020-07-22 17:12] bwateratmsft commented on #1959
We have released Docker 1.4.0 which contains a fix for this.

[2020-07-22 17:13] bwateratmsft commented on #2114
We have released Docker 1.4.0 which contains this feature.

[2020-07-22 17:13] bwateratmsft commented on #2102
We have released Docker 1.4.0 which contains this feature.

[2020-07-22 17:13] bwateratmsft commented on #2043
We have released Docker 1.4.0 which contains a fix for this.

[2020-07-22 17:13] bwateratmsft commented on #2055
We have released Docker 1.4.0 which contains a fix for this.

[2020-07-22 17:14] bwateratmsft commented on #1493
We have released Docker 1.4.0 which contains this feature. It can be disabled by unchecking "Docker: Images: Check For Outdated Images" in settings.

[2020-07-22 17:14] bwateratmsft commented on #2123
We have released Docker 1.4.0 which contains a fix for this.

[2020-07-22 17:14] bwateratmsft commented on #2024
We have released Docker 1.4.0 which contains a fix for this.

[2020-07-22 17:14] bwateratmsft commented on #2072
We have released Docker 1.4.0 which contains a fix for this.

[2020-07-22 17:43] ucheNkadiCode opened #2179 "[Python] Prompt to replace requirements.txt"
In using an older Django project, I realized that the requirements.txt file was stale with just

[code]
As an end user, I wouldn't know what to add as the "lastest" version of Django/Gunicorn so it could help out in the case they are already using **Add Dockerfiles to Workspace** they at least have the option to overwrite their requirement.txt.

[2020-07-22 17:47] bwateratmsft commented on #2177
The fix is in on our side, tomorrow I will test with Insiders to ensure that the VSCode-side is also fixed.

[2020-07-22 17:48] bwateratmsft commented on #2179
Another scaffolding item to solve along with the scaffolding refactoring...

[2020-07-22 18:06] bwateratmsft opened #2180 "Validate the extension works reasonably in Codespaces"
Need to spend some time trying out the extension in VS Codespaces. We can expect some things (e.g. debugging) to never work, but other things (scaffolding, `docker build`, probably the explorer window) _should_ work.

[2020-07-22 18:30] nileshdattatraykedare opened #2181 "EACCES: permission denied on extension activation"
Does this occur consistently?
Repro steps:

1.
2.

Action: docker.activate
Error type: EACCES
Error Message: EACCES: permission denied, watch '/Users/nileshk/.docker/config.json'

Version: 1.4.0
OS: darwin
OS Release: 19.5.0
Product: Visual Studio Code
Product Version: 1.47.2
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-07-22 18:34] bwateratmsft commented on #2181
@nileshdattatraykedare Can you check the permissions on your Docker config file? The context in which you are running VSCode does not have permissions to access it which is strange.

[2020-07-22 19:09] #2181 closed

[2020-07-22 19:17] bwateratmsft commented on #2181
A fix has been released in 1.4.1.

[2020-07-22 19:31] BigMorty opened #2184 "Create and use better sample projects in our tutorials"
We should create a simple sample app, one that uses an environment variable that gets written to the log and/or screen in our tutorials.

[2020-07-22 20:26] karolz-ms commented on #2184
Is this issue just about Python?

[2020-07-22 20:52] BigMorty commented on #2184
Python for sure, I want to check on .NET and Node.js as well.

[2020-07-22 21:27] bwateratmsft opened #2185 "Group by networks is not working"
Group by networks always groups under `<none>` which is not correct.

[2020-07-23 08:33] v-ruizh opened #2186 "The dialog "Do you want to copy the debugger to the container" still pops up for the second debugging"
**OS:** Win 10/Mac
**Build Version:** 20200722.19

**Repro Steps:**
1. Create a .NET Core mvc app by "dotnet new mvc --name mvctest".
2. Open the project in VS Code --> Prompt to add the required assets --> Yes
3. F1 --> Type and select "Docker: Add Docker Files to Workspace" --> ASP.NET Core --> Linux --> Include optional Docker Compose files.
4. Right click the docker-compose.yml --> Select "Com

[2020-07-23 14:03] bwateratmsft commented on #2177
Verified this is now fixed in the latest VSCode Insiders build.

[2020-07-23 14:03] #2177 closed

[2020-07-23 14:06] bwateratmsft opened #2188 "Executing interactive commands as tasks prevents recreating new identical ones"
The logic to change CLI commands into tasks has caused one issue--if a task of the exact same command line is running already (one of the interactive ones, basically), another of the same cannot be executed.

For example, choose an Alpine image, and do "Run Interactive", which will open a task that will stay running. Do the same thing again, and instead of running a second container interactively,

[2020-07-23 14:40] bwateratmsft commented on #2188
I found an easy way to do this, and we can choose on a per-command basis what the behavior should be.

"Run Interactive", "Attach Shell", and "View Logs" are the potentially interactive commands. @BigMorty - which commands do you think should always open a new task, and which should re-use an already-running task? Personally I think "Run Interactive" should always run a new container, "View Logs"

[2020-07-23 14:47] karolz-ms commented on #2188
I definitively think there are cases when attaching more than one shell will be useful

[2020-07-23 14:56] #2185 closed

[2020-07-23 15:07] bwateratmsft commented on #2168
I have a PR for the doc updates: https://github.com/microsoft/vscode-docs/pull/3902

[2020-07-23 15:43] #2168 closed

[2020-07-23 16:45] nileshdattatraykedare commented on #2181
Thank Brandon for your response. Looking forward to it.

On Thu, Jul 23, 2020 at 12:48 AM Brandon Waterloo [MSFT] <
notifications@github.com> wrote:

--
Regards,
Nilesh

[2020-07-23 19:57] #2188 closed

[2020-07-23 22:42] BigMorty commented on #2188
I agree with what you guys decided above.

[2020-07-24 00:26] khs1994 commented on #2055
[code]

with one more comment line,show this error message

[2020-07-24 02:30] rcjsuen commented on #2055
@khs1994 Thank you for your bug report. I have reproduced the problem and have opened https://github.com/rcjsuen/dockerfile-language-service/issues/74 to track this.

[2020-07-24 02:51] v-ruizh opened #2190 "Fail to show the Docker assets with error "This view is not supported in the current Docker context""
**OS:** Win 10/Mac
**Build Version:** 20200723.12
**Regression:** Previous Build

**Repro Steps:**
1. Install the Docker extension.
2. Navigate to "Docker View" and check the Docker assets.

**Expect:**
All Docker assets show well.

**Actual:**
Fail to show the Docker assets with an error "This view is not supported in the current Docker context".
![image](https://user-images.githubusercontent.com

[2020-07-24 08:36] v-ruizh opened #2191 "The webpage keeps loading forever after debugging Django project more than 3 times"
**OS:** Win 10
**Build Version:** 20200723.3

**Repro Steps:**
1. Open a Python Django project and add Docker support for it in VS Code insider.
2. Debug this project more than 3 times.

**Expect:**
The webpage opens successfully every debugging.

**Actual:**
The webpage keeps loading forever after debugging 3 times.
![image](https://user-images.githubusercontent.com/45614674/88374036-962fed80-cdc

[2020-07-24 11:37] pablostellet opened #2192 "Enable use off compose down, restart and up on shortcuts."
As I work on multiple projects that have each one it's own docker-compose.yml file, I want to take advantage of vscode folder workspace structure with a folder that contains all docker-compose.yml shortcuts.

[2020-07-24 12:36] bwateratmsft commented on #2192
What are your shortcut files called?

[2020-07-24 12:37] bwateratmsft commented on #2191
I've seen this happen but every time it was VSCode silently hitting a breakpoint or halting on an exception.

[2020-07-24 12:41] bwateratmsft commented on #2190
It appears it is trying to use the new Docker SDK provider in an old context. I'll investigate.

[2020-07-24 13:36] bwateratmsft commented on #2190
I am able to reproduce.

[2020-07-24 13:47] bwateratmsft commented on #2191
I haven't been able to repro today though as mentioned I've seen this in the past. @v-ruizh, if you hit this issue again can you check VSCode to see if it is stopped at an exception or breakpoint, etc.? If so, see if pressing continue (F5) in VSCode causes the web page to be loaded.

[2020-07-24 17:41] #2190 closed

[2020-07-25 00:18] haacho opened #2194 "no se puede connectar a docker hub"
Does this occur consistently?
Repro steps:

1.
2.

Action: vscode-docker.registries.connectRegistry
Error type: Error
Error Message: The name org.freedesktop.secrets was not provided by any .service files

Version: 1.4.1
OS: linux
OS Release: 5.6.19-2-MANJARO
Product: Visual Studio Code
Product Version: 1.47.2
Language: es

[2020-07-25 04:34] pablostellet commented on #2192
I name them docker-compose.[project_name].yml**.ink** (extension .ink are for windows shortcuts).
Right clicking on this file shows me the options:

Composer up
Composer down
Composer restart

but it will try to execute on the shortcut path instead the original file path

[2020-07-25 12:39] jiger60 opened #2195 "whats wrong"
Does this occur consistently?
Repro steps:

1.
2.

Action: debugCoreClr
Error type: Error
Error Message: No workspace folder is associated with debugging.

Version: 1.4.1
OS: win32
OS Release: 10.0.18362
Product: Visual Studio Code
Product Version: 1.47.2
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-07-27 08:04] v-ruizh commented on #2191
@bwateratmsft I can also reproduce this issue. No any breakpoint is set and there is no exception stopping the debugging. I have a video to record this issue, have sent you by Teams.

[2020-07-27 15:50] karolz-ms commented on #2195
@jiger60 can you add repro steps? Do you have a folder open in VS Code and what is the location of the .NET project you are trying to debug?

[2020-07-27 16:56] karolz-ms commented on #2192
@pablostellet you could try to [NTFS links](https://en.wikipedia.org/wiki/NTFS_links) instead of Windows shortcuts ([`mklink` command](https://docs.microsoft.com/windows-server/administration/windows-commands/mklink)). NTFS links are transparent to applications and should work with VS Code Docker extensions, unlike Windows shortcuts.

[2020-07-27 16:59] karolz-ms commented on #2194
Duplicate of https://github.com/microsoft/vscode-docker/issues/722

[2020-07-27 16:59] #2194 closed

[2020-07-27 21:26] Viniciuspnascimento opened #2196 "ed1"
Does this occur consistently?
Repro steps:

1.
2.

Action: vscode-docker.registries.pullRepository
Error type: 1
Error Message: Command failed: docker login  --username pinheirovinni --password-stdin
'docker' n�o � reconhecido como um comando interno
ou externo, um programa oper�vel ou um arquivo em lotes.

Version: 1.4.1
OS: win32
OS Release: 10.0.18363
Product: Visual Studio Code
Product Version

[2020-07-27 21:50] bwateratmsft commented on #2196
@Viniciuspnascimento It looks like Docker is not installed, can you verify that you have it installed?

[2020-07-27 21:54] bwateratmsft commented on #2195
Dupe of #1451

[2020-07-27 21:54] #2195 closed

[2020-07-27 21:56] bwateratmsft opened #2197 "Remove CoreCLR debug"
The legacy .NET debug has been deprecated for a while now with warnings to anyone still using it; I think it's fine to remove at this point. Should look at refactoring what is still in use (e.g. OS provider, vsdbg downloader, etc.) and removing what is not.

[2020-07-27 21:59] bwateratmsft commented on #2192
I agree, Windows shortcuts aren't the best for this. Symbolic links are one option but you'd have to figure out ways to ensure the correct build context is used. In general, I would suggest keeping one "project" to one workspace folder, so that in any given workspace folder only one `docker-compose.yml` is present (or even, one per workspace).

[2020-07-27 22:12] bwateratmsft commented on #2197
Relatedly, if you F5 outside of a workspace and choose the not-deprecated debugging option, you get "Cannot read property '0' of undefined'" from `resolveDebugConfiguration`.

[2020-07-27 22:57] VitaRox opened #2198 "Extension code loading time is over 16 seconds"
- Issue Type: `Bug`
- Extension Name: `vscode-docker`
- Extension Version: `1.4.1`
- OS Version: `Darwin x64 17.7.0`
- VSCode version: `1.47.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2020-07-27 22:58] VitaRox commented on #2198
[code]

[2020-07-27 23:26] karolz-ms opened #2199 "Configuration property descriptions are garbled"
Version: 1.47.3
Commit: 91899dcef7b8110878ea59626991a18c8a6a1b3e
Date: 2020-07-23T13:08:29.692Z (4 days ago)
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 19.6.0
Docker extension 1.41.1

![image](https://user-images.githubusercontent.com/15271049/88601677-181b5300-d026-11ea-97b1-534173908950.png)

Note descriptions for configuration properties show

[2020-07-28 00:43] hildogjr opened #2200 "Add url behaviour at docker-compose image string as Dockerfile"
The `Dockerfile` file allow to direct access the image page on https://hub.docker.com/ when \<Ctrl\>+\<Right click\> at the image name string in the `FROM dockerhub_imagename` line.

The same could be done in the at `docker-compose.yml` file in

[code]

[2020-07-28 07:04] Bruce20091128 opened #2201 "Cannot generate Docker Compose files"
Does this occur consistently?
Repro steps:

1.
2.

Action: vscode-docker.configureCompose
Error type: Error
Error Message: To generate docker-compose files you must first open a folder or workspace in VS Code.

Version: 1.4.1
OS: win32
OS Release: 10.0.19041
Product: Visual Studio Code
Product Version: 1.47.3
Language: zh-cn

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-07-28 08:32] v-ruizh opened #2202 "An error "timeout after 1000 ms" occurs after stopping debugging a Python project"
**OS:** Win 10
**Build Version:** 20200724.4

**Repro Steps:**
1. Open a Python Django/Flask project and add Docker support for it in VS Code insider.
2. F5 --> Wait for navigating to the Terminal window "Python Debug Console" during debugging --> Stop debugging.
3. Check the result.

**Expect:**
There is no error after stopping debugging.

**Actual:**
An error "timeout after 1000 ms" occurs after

[2020-07-28 12:09] bwateratmsft commented on #2199
@karolz-ms This would need to go either to marketplace or to VSCode core. This same issue exists for the extension title and description, and is why we reverted the description to the non-localizable string.

[2020-07-28 12:10] bwateratmsft commented on #2201
@Bruce20091128 do you have a workspace folder open?

[2020-07-28 12:11] bwateratmsft commented on #2202
This is coming from the Python extension.

[2020-07-28 12:13] bwateratmsft commented on #2198
@VitaRox does this happen consistently?

[2020-07-28 13:12] bwateratmsft commented on #2202
I was able to reproduce this a few times. I think I know what is happening. Python's debug model is to start a "server" session on the local machine and a "client" session within the container. The "server" session is started and waits for the "client" session to connect back to it.

The client session takes up to a few seconds to make that connection (this is that `docker exec ... debugpy ...` ca

[2020-07-28 13:12] #2202 closed

[2020-07-28 13:19] bwateratmsft commented on #2199
For an example, I looked at the Python extension. Their settings have hardcoded English strings in package.json, but their command names are localized. Here's what their settings show in the marketplace:
![image](https://user-images.githubusercontent.com/36966225/88670310-e8fef300-d0b2-11ea-9e39-525b37912357.png)

But their commands (mostly) have the same garbling as our settings:
![image](https:/

[2020-07-28 13:19] #2199 closed

[2020-07-28 16:49] bwateratmsft opened #2204 "Extension activation error: "No such file or directory, open ...""
I'm seeing some activation failures, ~.1% failure rate. The overwhelming majority of these failures happen on Windows but there are results for both Linux and Mac.

Error: ENOENT: no such file or directory, open '<REDACTED: user-file-path>'
Stack: Object.openSync fs.js:447:3\nObject.func asar.js:140:31\nObject.func [as openSync] asar.js:140:31

[2020-07-28 17:11] bwateratmsft commented on #2204
This looks similar to some older VSCode issues, e.g. https://github.com/microsoft/vscode/issues/78384.

[2020-07-28 19:12] bwateratmsft commented on #2204
I have a theory. The error is not really new, but it used to happen during context init, now happens during activation. The constructor for Dockerode also used to be in context init but is now in activation.

If `DOCKER_CERT_PATH` is set, docker-modem tries to open `ca.pem`, `cert.pem`, and `key.pem`. This will fail with the error message we see. Additionally, nearly all instances of this error ha

[2020-07-28 20:48] #2204 closed

[2020-07-29 01:54] calee88 opened #2206 "Remote Host SSL Error on Windows 7"
Hello. I'm trying to connect to a remote docker within vscode. I'm using Windows 7. For Windows 7, there is no ssh-agent service. Instead, I found https://github.com/RaeesBhatti/ssh-agent-helper. So, now I can do docker -H ssh://{id}@{host}:{port} {command} from a newly opened cmd. But, when I set docker.host in the vscode setting, it doesn't work. It says Error: read ECONNRESET or Error: write EP

[2020-07-29 04:33] bwateratmsft commented on #2206
Pageant should work as an SSH agent; you will need to set the environment variable `SSH_AUTH_SOCK = pageant`, more on that [here](https://code.visualstudio.com/docs/containers/ssh). Can you try out that guide and let us know if things work with Pageant?

Also, the Remote - Containers extension may have a command to attach without using the Docker extension's explorer view--I believe their extensio

[2020-07-29 06:53] v-ruizh opened #2207 "There is a transient error in Docker view before switching to the local Docker assets"
**OS:** Windows 10
**Build Version:** 20200728.8

**Repro Steps:**
1. In VS Code local instance, use 'docker context' command to create a context for connecting to the remote machine:
    docker context create --docker "host=ssh://username@machineIP" contextname
2. Switch Docker context to the remote machine using command "docker context use contextname".
3. Switch Docker context to default using

[2020-07-29 10:25] t-dedah opened #2208 "Debug points are not being hit for .NET Core app"
I followed the below-mentioned doc for adding debug support to .NET core app with docker. Docker container and the app is working fine but the debugging with the breakpoint is not working as per the requirements. No breakpoints are being hit.

https://code.visualstudio.com/docs/containers/debug-netcore

I have added task.json and launch.json as per the requirement.

[2020-07-29 10:30] t-dedah commented on #2208
@bwateratmsft can you please suggest something to remedy this issue?

[2020-07-29 13:25] bwateratmsft commented on #2207
This is probably a consequence of #2205

[2020-07-29 15:28] #2136 closed

[2020-07-29 16:12] karolz-ms commented on #2206
@calee88 can you elaborate? What is the problem/error that you are experiencing? By "attach", do you mean run another process like a shell within a container (the 'Attach Shell' command in VS Code)?

BTW even if there is some issue with VS Code Attach Shell command, you should still be able to add a shell to the container using `docker exec` command from built-in Terminal

[2020-07-29 16:43] karolz-ms opened #2209 "The user is unexpectedly asked to choose Compose Up command template"
Win10 2004
VS Code 1.47.3
Docker Edge 2.3.3.2 build 46784 with ACI integration
Docker Ext master branch as of morning 2020 07 29

### Repro steps
Make sure you have just one Docker context (the default one). That is `docker context ls` should shown just one context named "default". If you have more, `docker context rm` them.

Perform repro steps 1-4 from [issue 2186](https://github.com/microsoft/v

[2020-07-29 17:12] karolz-ms commented on #2186
I am actually not able to complete step 6 successfully ☹️ I am getting the following error instead (starting the debugger inside the container fails):

[code]

Note I am running Docker Edge 2.3.3.2 build 46784

[2020-07-29 23:23] karolz-ms commented on #2208
@t-dedah I cannot reproduce the issue using .NET Core console app.

Can you please describe step-by-step (starting from empty folder) what have you done to create the app, build the image, run the container, and where in the code do you expect the breakpoint to be hit. Thanks!

[2020-07-30 02:48] calee88 commented on #2206
Nope. I set the environment variable, opened pageant, added my private key, and relaunched a vscode. Same errors. I also tried to launch vscode using pageant: pageant {key} -c code. But it also doesn't work.

This works. Docker view still doesn't work, but I can attach to remotely running containers. Awesome! This is enough for me now. Thank you very much for your help.

[2020-07-30 02:48] #2206 closed

[2020-07-30 02:51] calee88 commented on #2206
Thank you for asking. Actually, attach shell does work. However, Attach Visual Studio Code doesn't work. "It says Docker returned an error. Make sure the Docker daemon is running."

[2020-07-30 13:28] #2137 closed

[2020-07-30 17:04] karolz-ms commented on #2209
Cant reproduce after rebuild and running through things in the debugger. Must have been some caching issue 🤷

[2020-07-30 17:04] #2209 closed

[2020-07-30 18:16] karolz-ms commented on #2186
Seems like the vsdbg scripts are incorrectly encoded (CR-LF vs LF)...

[2020-07-30 19:50] otrfirms opened #2211 ""docker daemon cannot be reached""
Action: vscode-docker.installDocker
Error type: ECONNRESET
Error Message: socket hang up

Version: 1.1.0
OS: win32
OS Release: 10.0.18362
Product: Visual Studio Code
Product Version: 1.41.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-07-30 21:13] karolz-ms commented on #2186
OK the problem above turned out a line ending mismatch that git did not detect. Needed to delete the file and do `git checkout --force` on the path to have it updated. 🙄 Back to the bug...

[2020-07-31 00:25] karolz-ms commented on #2186
Fixed by https://github.com/microsoft/vscode-docker/commit/0645b1c403609ae250a103d8e90fa5b40293b258

Thanks for reporting @v-ruizh !

[2020-07-31 00:25] #2186 closed

[2020-07-31 03:38] vscodr opened #2213 "The name org.freedesktop.secrets was not provided by any .service files"
Connecting the docker up registry from the docker extension inside vscode

1.select 'connect registry'
2.provide username
provide password
get the error.

Action: vscode-docker.registries.connectRegistry
Error type: Error
Error Message: The name org.freedesktop.secrets was not provided by any .service files

Version: 1.4.1
OS: linux
OS Release: 5.4.0-42-lowlatency
Product: Visual Studio Code
Produ

[2020-07-31 16:24] karolz-ms commented on #2213
This is a duplicate of https://github.com/microsoft/vscode-docker/issues/722  I will try to get that bug prioritized higher; seems like people keep stumbling upon it

@vscodr what registry are you using? Does it require authentication?

[2020-07-31 18:54] connor4312 opened #2214 "Language server process sometimes leaks"
I noticed while debugging VS Code itself, attaching to all processes in the extension host, that sometimes after closing one VS Code window the docker language server from that extension host would continue running after the extension host itself stopped. Closing all VS Code windows made it go away.

Just glancing at the code, this might be a thing in the language client. It is racey -- sometimes

[2020-07-31 18:59] connor4312 commented on #2214
Actually, I can get this to repro with all language servers. Will open the issue elsewhere.

[2020-07-31 18:59] #2214 closed

[2020-08-01 00:44] vscodr commented on #2213
I am trying to use docker hub. I am using Ubuntu 20.04

[2020-08-02 00:11] osamashadwo opened #2215 "So at least for me the issue seems to be that VS Code (incorrectly) does not offer me the option to install Docker extension on the remote machine."
So at least for me the issue seems to be that VS Code (incorrectly) does not offer me the option to install Docker extension on the remote machine.

I found a workaround:
1. Uninstall Docker extension from VS Code. Close all VS Code windows.
2. Start VS Code again. Use `Remote-SSH: Connect to Host..' to connect to remote machine (new VS Code instance will open).
3. Open extension marketplace and i

[2020-08-02 04:28] osamashadwo opened #2216 "wKarol,"
Karol,
I have tried to uninstall the Docker extension then reinstall while making
sure that the installation is directed at the remote target. This still
gave me the same errors. I wanted to make sure that there were no problems
with my Ubuntu / Docker installation so I started a new Droplet on
DigitaOcean. I found that they have a Docker Droplet that has the
recommended installation already perfo

[2020-08-02 05:21] osamashadwo opened #2217 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-docker`
- Extension Version: `1.4.1`
- OS Version: `Windows_NT x64 10.0.19041`
- VSCode version: `1.48.0-insider`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2020-08-03 08:42] v-ruizh opened #2218 "Fail to remove the Docker images with 2 duplicate confirmation dialogs"
**OS:** Windows 10
**Build Version:** 20200731.1
**VS Code Insider:** 1.48.0-insider

**Repro Steps:**
1. Navigate to "Images view" --> Right click one image and select "Remove..." action.
2. Check the result.

**Expect:**
There is only one confirmation dialog and succeed to remove this image.
![image](https://user-images.githubusercontent.com/45614674/89163148-bd46a600-d5a7-11ea-9c4a-4c7db5425a92

[2020-08-03 09:13] v-ruizh opened #2219 "[Suggestion] Add a clear error during debugging a project which targeted is different from Docker server host configured"
**OS:** Windows 10
**Build Version:** 20200731.1

**Repro Steps:**
1. Switch the Docker Desktop to **windows** containers.
2. Open a .NET Core web app in VS Code and add **Linux** Docker support.
3. Switch configuration to "Docker .NET Core Launch" and debug this project.

**Actual:**
An unclear error "Error response from daemon: invalid volume specification..." occurs.
![image](https://user-image

[2020-08-03 15:22] #2215 closed

[2020-08-03 15:22] #2216 closed

[2020-08-03 15:28] karolz-ms commented on #2217
@osamashadwo I noticed that you have opened two other issues, not providing any new data, but just copying conversation fragments from older, resolved issues. Please don't. It is not helpful.

If you encounter a problem with the Docker extension, please describe step-by-step what you have done, what you expected the extension to do, and what actually happened, and we will try our best to help you.

[2020-08-03 15:28] #2217 closed

[2020-08-03 16:26] karolz-ms commented on #2218
Likely a duplicate of https://github.com/microsoft/vscode/issues/103820

[2020-08-03 16:32] karolz-ms commented on #2218
Something is seriously wrong with VS Code Insider 1.48.0; even commands like "File | Save As..." are executed twice... 🤔

[2020-08-03 16:32] #2218 closed

[2020-08-03 16:33] karolz-ms commented on #2219
@dbreshears @BigMorty what say you?

[2020-08-03 16:40] karolz-ms commented on #2211
This is a duplicate of https://github.com/microsoft/vscode-docker/issues/1913 that has been fixed since. You are using Docker extension 1.1.0; the current version is 1.4.1.

[2020-08-03 16:40] #2211 closed

[2020-08-03 17:52] BigMorty commented on #2219
We had an item for detecting the OS setting of Docker, I was a fan of doing that and telling the user things are not configured correctly, or even offering to switch it for them like we do in VS. I don't remember the reason we did not do this.

[2020-08-04 00:18] dbreshears commented on #2219
Probably was related to perf, do we know the impact of checking this with each debug?

[2020-08-04 13:28] #2155 closed

[2020-08-04 22:36] karolz-ms commented on #2213
@vscodr what kind of desktop configuration are you using?

I believe Ubuntu 20.04 has `gnome-keyring` installed by default. This is my configuration and I am not able to reproduce the issue

[2020-08-05 21:29] karolz-ms commented on #2213
I was able to reproduce.

[2020-08-06 11:23] cristianeasreis opened #2221 "vscode-docker"
Does this occur consistently?
Repro steps:

1.
2.

Action: docker.activate
Error type: ENOENT
Error Message: ENOENT: no such file or directory, open 'C:\Users\Cris_Ricke\.docker\machine\machines\default\ca.pem'

Version: 1.4.1
OS: win32
OS Release: 10.0.18363
Product: Visual Studio Code
Product Version: 1.47.3
Language: pt-br

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-08-06 15:29] karolz-ms commented on #2213
PR submitted https://github.com/microsoft/vscode-docker/pull/2220

[2020-08-06 15:33] karolz-ms commented on #2221
Thanks for submitting the report, Christiane. I am pretty sure this is the same issue as https://github.com/microsoft/vscode-docker/issues/2204 We will have a fix in the next release of the extension (~ 2 weeks).

[2020-08-06 15:33] #2221 closed

[2020-08-07 01:48] dbreshears commented on #2191
@v-ruizh .  I am also unable to reproduce this on VSCode Insiders or VSCode.  Tried debugging 5 or 6 times each.

[2020-08-07 12:15] Siargei opened #2222 "error debugging ASP.NET Core application"
1. I created a Docker debugging configuration using command Docker: initialize for Docker debugging
2. tasks.json got updated with following configurations
` {
            "type": "docker-build",
            "label": "docker-build: debug",
            "dependsOn": [
                "build"
            ],
            "dockerBuild": {
                "tag": "sample-project:dev",
                "tar

[2020-08-07 15:39] #722 closed

[2020-08-07 15:40] karolz-ms commented on #2213
Fixed by https://github.com/microsoft/vscode-docker/pull/2220

[2020-08-07 15:40] #2213 closed

[2020-08-07 15:47] karolz-ms commented on #2222
@Siargei could you also share the sample project that triggers the issue?

[2020-08-07 19:57] ucheNkadiCode opened #2223 "[Python] Docker-compose.debug.yml open in broswer failure"
When trying to right-click **Open in Browser** after running Compose Up on the scaffolded `docker-compose.debug.yml` file from my [Django Sample Tutorial](https://github.com/microsoft/python-sample-vscode-django-tutorial/blob/tutorial/README.md). The container successfully runs, but when I launch the browser, I receive:

![image](https://user-images.githubusercontent.com/20650058/89681140-2d577380

[2020-08-08 15:15] GavinChris7 opened #2224 "dart error"
Does this occur consistently?
Repro steps:

1.
2.

Action: docker.activate
Error type: ENOENT
Error Message: ENOENT: no such file or directory, open 'C:\Users\GChris\.docker\machine\machines\default\ca.pem'

Version: 1.4.1
OS: win32
OS Release: 10.0.19041
Product: Visual Studio Code
Product Version: 1.47.3
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-08-08 20:36] GavinChris7 opened #2225 "dart"
Does this occur consistently?
Repro steps:

1.
2.

Action: docker.activate
Error type: ENOENT
Error Message: ENOENT: no such file or directory, open 'C:\Users\GChris\.docker\machine\machines\default\ca.pem'

Version: 1.4.1
OS: win32
OS Release: 10.0.19041
Product: Visual Studio Code
Product Version: 1.47.3
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-08-08 20:49] GavinChris7 opened #2226 "dart"
Does this occur consistently?
Repro steps:

1.
2.

Action: docker.activate
Error type: ENOENT
Error Message: ENOENT: no such file or directory, open 'C:\Users\GChris\.docker\machine\machines\default\ca.pem'

Version: 1.4.1
OS: win32
OS Release: 10.0.19041
Product: Visual Studio Code
Product Version: 1.47.3
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-08-09 16:07] kushJay-Official opened #2227 "while pulling image"
Does this occur consistently?
Repro steps:

1.
2.

Action: vscode-docker.registries.pullRepository
Error type: 1
Error Message: Command failed: docker login  --username kush2020jay --password-stdin
WARNING: Error loading config file: /home/jay/.docker/config.json: stat /home/jay/.docker/config.json: permission denied
Got permission denied while trying to connect to the Docker daemon socket at unix

[2020-08-10 10:19] v-mengwe opened #2228 "Fail to execute "Run" command for a .NET Core MVC image"
**OS:** Win10
**Build Version:** 20200807.6

**Repro Steps:**

1. Create a .NET Core MVC project by "dotnet new mvc".
2. Open the project in VS Code --> Prompt to add the required assets --> Yes.
3. F1 --> Type and select "Docker: Add Docker Files to Workspace" --> ASP.NET Core --> Linux
--> Include optional Docker Compose files.
4. Right click the Dockerfile --> Select "Build Image...".
5. Naviga

[2020-08-10 12:26] lkj1114889770 opened #2229 "Error Message: Process 'docker context inspect default' exited with code 127 Error: /bin/sh: docker: command not found"
Action: vscode-docker.contexts.inspect
Error type: 127
Error Message: Process 'docker context inspect default' exited with code 127
Error: /bin/sh: docker: command not found

Version: 1.4.1
OS: darwin
OS Release: 19.6.0
Product: Visual Studio Code
Product Version: 1.47.3
Language: zh-cn

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-08-10 16:12] karolz-ms commented on #2226
Duplicate of https://github.com/microsoft/vscode-docker/issues/2224

[2020-08-10 16:12] #2226 closed

[2020-08-10 16:15] karolz-ms commented on #2224
Thanks for submitting the report, @GavinChris7 . I am pretty sure this is the same issue as https://github.com/microsoft/vscode-docker/issues/2204 We will have a fix in the next release of the extension (~ 2 weeks).

[2020-08-10 16:15] #2224 closed

[2020-08-10 16:19] karolz-ms commented on #2227
@kushJay-Official are you able to log in to your registry and pull images using Docker CLI from terminal pane inside VS Code (non-sudo)?

[2020-08-10 16:22] karolz-ms commented on #2229
@lkj1114889770  Is Docker installed in the environment that VS Code is using?

If yes, are you able to do `docker context inspect default` from terminal window running inside VS Code?

[2020-08-10 16:22] karolz-ms commented on #2225
Duplicate of https://github.com/microsoft/vscode-docker/issues/2224

[2020-08-10 16:22] #2225 closed

[2020-08-10 16:37] kushJay-Official commented on #2227
@karolz-ms Sir I am unable to use Visual Studio code with Docker or any other plugins. Even I face problem while login with Github. Sir please help me to resolve this. And one more problem microsoft authentication get always failed

[2020-08-10 21:23] karolz-ms commented on #2228
The Docker scaffolding for MVC apps is non-terminally, but annoyingly broken in more than one way.

1. The immediate cause of the issue above is that Windows HTTP service (HTTP.sys, PID 4) will grab the port 80 by default. This can happen if the user installs IIS, but will also happen for machines that have Windows Management service running. So it is a common scenario and we probably should not o

[2020-08-10 22:36] karolz-ms commented on #2227
@kushJay-Official Sir I can help you with VS Code extension for Docker, but it sounds like the issues you are seeing are related to Docker engine installation on your machine.

1. I would start with making sure Docker is properly installed. Instructions on Docker website are pretty good: https://docs.docker.com/engine/install/ Please choose the version appropriate for your Linux distribution.

2.

[2020-08-10 22:36] #2227 closed

[2020-08-11 02:10] RajputJay41 opened #2230 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-docker`
- Extension Version: `1.3.1`
- OS Version: `Windows_NT x64 10.0.19041`
- VSCode version: `1.47.0`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\jayrajput\ms-azuretools.vscode-docker-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-extensi

[2020-08-11 02:27] lkj1114889770 commented on #2229
How to check the environment of Docker and VS Code?

[2020-08-11 02:30] lkj1114889770 commented on #2229
And with `docker context inspect default `from terminal window running inside VS Code,  the terminal output
[code]

[2020-08-11 02:36] karolz-ms commented on #2230
This is is an older version of the extension. Please re-open if the issue also occurs with version 1.4.1 or newer--thanks!

[2020-08-11 02:36] #2230 closed

[2020-08-11 02:54] karolz-ms commented on #2229
OK, thanks @lkj1114889770 , that looks as expected.

Can you reproduce the problem consistently? What do you do for the error to show up?

[2020-08-11 03:40] lkj1114889770 commented on #2229
In fact, i just want to attach container in VScode, but i got the error `Docker returned an error. Make sure the Docker daemon is running.` And also when i try to open flolder in container or attach to running contianer, the same erro occurs. And i try to use or inspect vscode-docker.contexts, the error message is `Error: Process 'docker context inspect default' exited with code 127 Error: /bin/sh

[2020-08-11 04:31] karolz-ms commented on #2229
And you are using Docker Desktop for Mac, correct?

[2020-08-11 04:38] lkj1114889770 commented on #2229
@karolz-ms yes!

[2020-08-11 09:08] v-mengwe opened #2231 "Fail to execute command "Compose Restart" after executing command "Compose Up""
**OS:** Win10/Mac
**Build Version:** 20200807.6

**Repro Steps:**

1. Create an Express App project and open it in VS Code.
2. Command Palette -> Add Docker files to workspace -> Node.js -> Enter port.
3. Right click docker-compose.yml/docker-compose.debug.yml -> Select "Compose Up".
4. A new running container appears in the Containers tree view.
5. Right click docker-compose.yml/docker-compose.de

[2020-08-11 09:08] v-mengwe opened #2232 "Fail to execute command "Pull" for an Express App image"
**OS:** Win10/Mac
**Build Version:** 20200807.6

**Repro Steps:**

1. Create an Express App project and open it in VS Code.
2. Command Palette -> Add Docker files to workspace -> Node.js -> Enter port.
3. Right click Dockerfile -> Build image.
4. Navigate to "Images" view -> Right click this image -> Select "Pull".
5. Check the result.

**Expect:**
Execute command "Pull" successfully without any e

[2020-08-11 10:09] v-ruizh opened #2233 "Fail to run 'Docker .Net Core Attach (Preview)' configuration which using docker-compose.debug.yml to compose-up"
**OS:** Ubuntu 18.04
**Build Version:** 20200807.6
**.NET Core SDK:** 3.1.302

**Repro Steps:**
1. Create a .NET Core MVC project by "dotnet new mvc --no-https".
2. Open the project in VS Code --> Prompt to add the required assets --> Yes
3. F1 --> Type and select "Docker: Add Docker Files to Workspace" --> ASP.NET Core --> Linux --> Include optional Docker Compose files.
4. Right click the docker

[2020-08-11 12:24] niikoo commented on #1968
Same problem here. It returns 401

[2020-08-11 15:42] karolz-ms commented on #2232
This is by design. When one executes a "pull" on a local image (e.g. `myexpressapp:latest`), that is interpreted as a request to pull from `hub.docker.com/myexpressapp:latest` (Docker Hub being the default, implicit container registry). Since there is no such repository on Docker Hub, the pull fails.

We don't know that such repository does not exist, so we will always attempt a pull when requeste

[2020-08-11 15:42] #2232 closed

[2020-08-11 16:06] karolz-ms commented on #2231
I can reproduce. Investigating...

[2020-08-11 19:11] karolz-ms commented on #2231
What we are *trying* to do in our code is to do `compose down`, wait for that to finish, then do `compose up`. However, as we now run commands as tasks, what we are doing to wait for the task execution to finish, actually does not work. There is simply no easy way to wait for a task to finish.  https://github.com/microsoft/vscode/issues/98483 Investigating alternatives...

[2020-08-11 20:57] dbreshears commented on #2223
@ucheNkadiCode . In the docker-compose-debug.yml command we pass "--wait-for-client" on the debugger so I don't believe the server is up and running yet.   If you start debugging with "Python: Attach", I find that the page is browsable from the container entry point.

[2020-08-11 22:09] karolz-ms commented on #2223
Agreed it is by design. Thanks @dbreshears for figuring out the cause of the observed behavior, much appreciated!

[2020-08-11 22:09] #2223 closed

[2020-08-11 22:11] karolz-ms commented on #2229
What version of Docker Desktop?

Does logging out of the machine and back in make the issue go away?

Do you have any settings/default overrides for VS Code Docker extension?

[2020-08-11 22:34] karolz-ms commented on #2231
Fix available. This is good bug; affects more than just this scenario and could result in unpredictable errors/race conditions. Good job, @v-mengwe !

[2020-08-11 23:15] #2231 closed

[2020-08-12 02:58] lkj1114889770 commented on #2229
Docker version 19.03.12, build 48a66213fe
logging out of the machine and back in doesn't work.
` which -a docker
/usr/local/bin/docker`

[2020-08-12 09:43] v-ruizh opened #2235 "It keeps debugging state without any web page opening when debugging Python project on Linux"
**OS:** Ubuntu 18.04
**Build Version:** 20200811.5

**Repro Steps:**
1. Open a Python project in VS Code and add Docker support for it.
2. F5.

**Expect:**
Debug python project successfully with the web page opening.

**Actual:**
It keeps debugging state without any web page opening.
![image](https://user-images.githubusercontent.com/45614674/90000844-4013e300-dcc3-11ea-965f-752ae583a479.png)

**M

[2020-08-12 10:01] v-ruizh commented on #2235
This issue does not reproduce after restarting Docker with below commands, close it.
sudo systemctl daemon-reload
sudo systemctl stop docker
sudo systemctl start docker

[2020-08-12 10:01] #2235 closed

[2020-08-12 19:28] ratriv opened #2236 "Error response from daemon: Get https://registry.gitlab.com/v2/: denied: access forbidden"
Does this occur consistently?
Repro steps:

1.
2.

Action: vscode-docker.registries.pullImage
Error type: 1
Error Message: Command failed: docker login registry.gitlab.com --username ratriv --password-stdin
Error response from daemon: Get https://registry.gitlab.com/v2/: denied: access forbidden

Version: 1.4.1
OS: win32
OS Release: 10.0.17134
Product: Visual Studio Code
Product Version: 1.47.3
La

[2020-08-13 02:21] v-ruizh commented on #2191
This issue does not reproduce on the machine with Docker Desktop + WSL2 enabled. It only reproduces without WSL2, it's an unstable issue. I will verify it on other machine and update the result after verification.

[2020-08-13 03:13] karolz-ms commented on #2236
@ratriv are you able to log in to your registry and pull the image using `docker` program from the command line?

[2020-08-13 16:38] karolz-ms commented on #2233
So far what I have found is that the `docker-compose.debug.yml` will try to volume-map the debugger into the container. If the debugger has not been installed on the host machine yet, the volume map will silently fail and VS Code will offer to install the debugger into the container. This is **correct** behavior.

After the user indicates the debugger **should** be copied into the container, we at

[2020-08-13 16:50] karolz-ms commented on #2233
Just for future info, the command to manually install vsdbg is

[code]

 (Ubuntu 20.04 LTS)

[2020-08-13 16:59] karolz-ms commented on #2233
After installing the debugger manually, but without `compose down` (the container still has the invalid volume mount), I can reproduce the reported behavior. I believe it is due to the fact that the container has invalid volume mount and copying the debugger into the container silently fails--but need to verify

[2020-08-13 17:05] karolz-ms commented on #2233
Verified that if the debugger is installed locally before `compose up` is executed, the attach gesture works

[2020-08-13 18:10] karolz-ms commented on #2228
Moving to the next milestone. Several issues need to be decided and discussed within the team, and probably also with the .NET team:

- Do we allow the user to customize exposed ports, or just always use defaults. What are the default ports in either case.
- Should we ask the user to choose HTTP vs HTTPS ports (instead, like today, only ask for "exposed" ports)
- Should we offer to use HTTPS at al

[2020-08-13 18:39] philliphoff commented on #1966
VS Code 1.48 now adds an initial `visibility` property in `package.json` for tree views, allowing them to be expanded, collapsed, or hidden by default for any given workspace.  (Any changes the user then makes to the state of the tree view is persisted for that workspace.)    This should unblock this scenario.

[2020-08-13 20:05] xenoterracide commented on #206
still open :'(

[2020-08-13 20:07] BigMorty commented on #2233
We should also remove the "(Preview)" from the name of the configuration we scaffold.

[2020-08-13 20:16] BigMorty commented on #1966
Please collapse Networks, Volumes, and Contexts by default

[2020-08-14 18:43] 9034725985 commented on #1590
I get this message: Failed to connect. Is Docker installed?

![Screenshot from 2020-08-14 12-41-25](https://user-images.githubusercontent.com/1676445/90282444-98fe8b00-de2b-11ea-87c0-e65a9cc14f71.png)

Visual Studio Code on Fedora 32

[2020-08-14 21:46] karolz-ms commented on #2229
I am sorry, I tried a few things, but I cannot reproduce the issue. From telemetry I can see this error shows up, but very rarely (about 10 times worldwide in the last 2 weeks).

My suggestion would be to take a look at the environment of the VS Code program (`ps eww <vscode PID>`) and try to figure out why VS Code cannot find the Docker program (not on PATH?).

Please let us know if you find the

[2020-08-14 21:46] #2229 closed

[2020-08-16 03:28] DoctorWho8 opened #2237 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-docker`
- Extension Version: `1.4.1`
- OS Version: `Windows_NT x64 10.0.19041`
- VSCode version: `1.48.0`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\hanso\ms-azuretools.vscode-docker-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-extension-c

[2020-08-16 20:45] karolz-ms commented on #2237
@DoctorWho8 does it happen consistently? Can you attach the profile?

[2020-08-17 02:56] jlconnor opened #2238 "Host configuration value should assume port 2375"
I use a proxy between my development machine and my docker host. When I point the vscode-docker plugin to the proxied address I see this in the UI:

![Screen Shot 2020-08-16 at 8 55 10 PM](https://user-images.githubusercontent.com/100757/90353173-cd786f80-e002-11ea-8c67-39b67c095c59.png)

The API is returning 302 Found for the Docker API calls, but the plugin is not following the redirects.

[2020-08-17 10:23] v-mengwe opened #2239 "The webpage keeps loading for Django project when debugging it with "Python Remote Attach" configuration"
**OS:** Win10
**Build Version:** 20200812.1

**Repro Steps:**

1. Open a Python Django project and add Docker support for it in VS Code.
2. Right click the docker-compose.debug.yml -> Select "Compose Up".
3. Add a new "Python Remote Attach" configuration in launch.json.
4. F5.
5. Navigate to the docker explorer, right-click the container and select "Open in Browser".

**Expect:**
Open a webpage su

[2020-08-17 17:55] karolz-ms commented on #2239
There **might** be some timing issue here, but it will be very hard to track down. I though I had a repro when I first try the scenario, but I was not able to repro after that, on many subsequent tries.

Note that `docker-compose.debug.yml` uses `--wait-for-client` flag when starting the service process under the debugger . This means no requests will be served until VS Code debug client is attach

[2020-08-17 17:55] #2239 closed

[2020-08-17 18:00] karolz-ms commented on #2238
@jlconnor thanks for reporting the issue. What proxy software are you using?

[2020-08-17 20:12] jlconnor commented on #2238
@karolz-ms I'm using docker-socket-proxy. https://github.com/Tecnativa/docker-socket-proxy

[2020-08-17 22:09] #2192 closed

[2020-08-18 18:03] #2196 closed

[2020-08-19 02:49] fralychen opened #2241 "when to connect to aliyunRegistries Error: authentication required"
Does this occur consistently?
Repro steps:

1.open the connected Registries
2.fill in the address & username、password

Action: docker-context.initialize
Error type: ERR_INVALID_URL
Error Message: Invalid URL: registry.cn-hangzhou.aliyuncs.com

Version: 1.5.0
OS: win32
OS Release: 10.0.17763
Product: Visual Studio Code
Product Version: 1.47.3
Language: en

<details>
<summary>Call Stack</summary>

[

[2020-08-19 17:21] #2198 closed

[2020-08-19 17:21] #2201 closed

[2020-08-19 18:24] mksean13 opened #2242 "docker vs"
Does this occur consistently?
Repro steps:

1.
2.

Action: docker-context.initialize
Error type: ERR_INVALID_URL
Error Message: Invalid URL: 192.168.20.3

Version: 1.5.0
OS: win32
OS Release: 10.0.19041
Product: Visual Studio Code
Product Version: 1.48.0
Language: zh-cn

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-08-19 19:20] karolz-ms commented on #2242
@mksean13 please take a look at the docs describing the remote Docker daemon configuration: https://code.visualstudio.com/docs/containers/ssh#_tips

Hope this helps. Feel free to re-open the issue if you still have questions.

[2020-08-19 19:20] #2242 closed

[2020-08-19 19:31] BigMorty opened #2243 "Add link to Docker Tutorial in Help & Feedback panel"
Please rename "Read Documentation" to "Docker Extension Documentation"
Add "Get Started with Docker Tutorial" below "Docker Extension Documentation" - Use https://aka.ms/helppanel_getstarted for the link for this new item. I see Brandon has the code for this already there, just commented out. Need to update the text from "Get Started" to "Get Started with Docker Tutorial".

[2020-08-20 00:20] #2208 closed

[2020-08-20 08:18] v-mengwe commented on #1575
Verified on the latest build 20200818.1, this issue still reproduces for now. I will continue to track this issue.

[2020-08-20 08:19] v-mengwe commented on #1106
Verified on the latest build 20200818.1, this issue still reproduces for now. I will continue to track this issue.

[2020-08-20 08:19] v-mengwe commented on #1125
Verified on the latest build 20200818.1, this issue still reproduces for now. I will continue to track this issue.

[2020-08-20 16:53] umbraesoulsbane opened #2244 "Unable to use Right Click Compose Up/Down commands"
Since the latest update to VSCODE I am unable to use the right click command to bring up and down containers. I get the following error which looks like the command is being sent or parsed wrong.

[code]

I see there were changes to allow customizations to be done to the command, but is this expected to break the default behaviours?

**VSCODE**
Version: 1.48.0 (system setup)
Commit: db40434f562994

[2020-08-20 17:19] umbraesoulsbane commented on #2244
I should not that although the code block above is for compose down. Compose up gives the exact same error.

[2020-08-20 17:23] karolz-ms commented on #2244
@umbraesoulsbane  This is definitively not expected. Do you have a Compose file and/or project that shows the problem that you could share?

[2020-08-20 17:26] umbraesoulsbane commented on #2244
This is the project I was using which is fairly basic. Obviously I can just copy and paste the command from the error that failed and it works, so its something with how the right click menu is processing it.

https://github.com/umbraesoulsbane/dnsTools/blob/master/docker-compose.yml

This was working prior to the last monthly VSCODE update, so not sure if this was the extension or something in th

[2020-08-20 17:31] umbraesoulsbane commented on #2244
Just to confirm I tried multiple projects with the same result, so I don't think is the compose files themselves. I have all of this projects on my Github account should you want to review. However, as I said things work fine when I manually run the command. Its just the right click which as a dyslexic I prefer to use than typing. :)

[2020-08-20 18:00] karolz-ms opened #2245 "Survey prompt can show up simultaneously in multiple sessions"
If multiple VS Code sessions are started at the same time (e.g. after machine restart), and the user is selected for a survey, the current implementation will pop up a survey prompt pretty much in all sessions at the same time. That can be annoying.

We could solve this by adding a random delay to the survey prompt, so that one session with shortest delay shows the prompt, and other sessions are d

[2020-08-20 18:22] karolz-ms commented on #2244
I cannot reproduce with the same OS/VSCode/Docker extension combination and I do not see anything like this in our telemetry... 🤔

What is the Docker Desktop version and `docker-compose` version that you are using?
Do you have any command customization (user-level or workspace-level) turned on?

[2020-08-20 18:48] umbraesoulsbane commented on #2244
![image](https://user-images.githubusercontent.com/2028719/90812196-bf249f00-e2f3-11ea-9ac1-5bec12d4ccbb.png)

Hopefully that has enough version information.

I have not done any command customizations which I didn't even know was possible until today.

Is there any particular setting or config I need to look for specifically? I will try and review any custom settings to see if anything is out of

[2020-08-20 20:14] karolz-ms commented on #2244
The command we are trying to execute seems correct. I think the error is coming from the shell. What kind of shell are you using? Seems PowerShell? Is there something special about PowerShell configuration on your machine?

[2020-08-20 20:37] umbraesoulsbane commented on #2244
Yes it is powershell and I have done nothing to configure it special. On this machine specifically I have never used Powershell for anything other than the terminal in VSCODE. And this was literally working fine until I installed the VSCODE patch last week. Today was just the first time I have tried to start a docker container since the patch was installed.

$PSVersionTable

Name

[2020-08-20 20:47] karolz-ms commented on #2244
Suggestion: you can try VS Code Insiders build. It is side-by-side installable, so it won't mess up your stable build.

Also, both stable and insiders can be installed in "portable" way (download zip, unzip it into some folder, run the exe). So on your corp machine you might still be able to use latest version without running an installer.

[2020-08-21 06:42] sandyksit opened #2246 "mongo-driver exception, docker running fine when run from window power shell, but not working in vscode"
org.mongodb.driver.cluster - Exception in monitor thread while connecting to server mongo-db:27017
com.mongodb.MongoSocketException: mongo-db

[2020-08-21 23:40] fsales opened #2247 "Error"
Does this occur consistently?
Repro steps:

1.
2.

Action: vscode-docker.compose.down
Error type: Error
Error Message: To run Docker compose you must first open a folder or workspace in VS Code.

Version: 1.5.0
OS: win32
OS Release: 10.0.18362
Product: Visual Studio Code
Product Version: 1.48.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-08-22 22:52] MarcusOy opened #2248 "Docker .NET Core Attach: Multiple processes were found matching the process name. Attach by process id instead."
Hi there,

I am trying to use the templated "Docker .NET Core Attach (Preview)" launch config, however, it is not working correctly after pressing run and selecting a running container (for any of my .NET Core projects); it results in the error: "Multiple processes were found matching the process name. Attach by process id instead." The logical next step was to use a process id picker, which resul

[2020-08-23 21:51] rcjsuen commented on #2128
@TigerC10 You can't put it in a `.vscode/settings.json` file in your project?

[2020-08-23 22:36] SpyManxD opened #2249 "p*roblem"
Does this occur consistently?
Repro steps:

1.
2.

Action: docker-launch
Error type: TypeError
Error Message: Cannot read property '0' of undefined

Version: 1.5.0
OS: win32
OS Release: 10.0.18363
Product: Visual Studio Code
Product Version: 1.48.0
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-08-24 04:35] ratriv commented on #2236
No, I am not even if using proxy and ENV settings.

I am using Docker behind Corporate NAT where I am using Proxy to connect registries but It's giving error when I use a proxy and working fine on the open internet (Using VM with personal HOTSPOT to bypass Corp Internet).
Not sure why Docker is not working with proxy.

[2020-08-24 14:25] M-Whitaker commented on #1968
Same issue too. Is there a work around known for this?

[2020-08-24 14:54] umbraesoulsbane commented on #2244
Ok, sorry for the delay. So I do have the same version on my office PC. There was even an update so now both systems are on 1.48.1. The office PC appears to work fine, but I am still getting the error on my personal.

Other than Windows version everything is the same including Extensions and everything. I intentionally keep both these system in sync as much as my organization will allow me, so no

[2020-08-24 16:18] karolz-ms commented on #2244
@umbraesoulsbane thank you for the information, that helps

Like I said earlier, my suspicion is that `Parameter format not correct - -Command` error message comes from PowerShell. So I would zero in on differences between how PowerShell is configured on your personal machine vs other machine(s). Another possible difference is something related to system locale, how strings are quoted etc.. but th

[2020-08-24 16:34] aharpervc commented on #856
"Health" isn't an option for description, group, or sort which would largely address this. Additionally, this would be helpful when starting containers with long names, where the health check is stuffed off to the right where it's not easily visible:

Not visible here:

![image](https://user-images.githubusercontent.com/441085/91071009-9fe48500-e605-11ea-8857-80ba5a1c75e0.png)

Is it here? Not yet

[2020-08-24 19:58] umbraesoulsbane commented on #2244
Well I would agree with you, but I can post the exact command thats reported to run and it works fine. So its got to be something with how this is being passed into PowerShell from the extension. Is there a way I can get exactly what is passing? Right now I just see:

So I assume that is just a comment rather than the actual command as its being sent to powershell.

[2020-08-24 20:09] umbraesoulsbane commented on #2244
Ok, I ended up doing a generic search for Parameter format not correct in powershell. This led me to enabling UTF-8 in Powershell, which I attempted to do a while back. I was able to get this to work in Powershell, but not in the Terminal in VSCODE. However, I appearently left the settings in my personal machine. Although this didn't fix my UTF-8 issue it also didn't break anything until the last

[2020-08-24 20:12] umbraesoulsbane commented on #2244
Worth noting as this was something I got off the VSCODE github originally which was supposed to enable UTF-8, so I might not be the only one affected if others followed those instructions.

[2020-08-25 00:26] karolz-ms commented on #2244
@umbraesoulsbane I am glad that you figured it out! Thanks for the update

[2020-08-25 00:26] #2244 closed

[2020-08-25 13:34] bwateratmsft commented on #2219
@dbreshears It's a CLI call so anywhere from fraction of a second to a few seconds. Since essentially nobody actually uses Windows containers I don't see this as worthwhile.

[2020-08-25 13:42] bwateratmsft commented on #844
No longer blocked.

[2020-08-25 13:57] bwateratmsft commented on #2241
@fralychen It seems like you're trying to use a registry as a Docker host?

[2020-08-25 13:58] bwateratmsft commented on #2245
Good catch @karolz-ms. Maybe we could mix the current hardcoded delay and add a slush of +/- a few seconds?

[2020-08-25 14:00] bwateratmsft commented on #2248
@MarcusOy This one is not deprecated--the `"type": "docker-coreclr"` one is. I'll take a look at this.

[2020-08-25 14:01] bwateratmsft commented on #2249
@SpyManxD Can you add repro steps?

[2020-08-25 14:25] bwateratmsft commented on #1966
@philliphoff Do you know how sticky that initial visibility is? Does it only persist until the user expands / collapses it once or will those views be collapsed every time they reinit?

[2020-08-25 14:28] bwateratmsft commented on #2238
@karolz-ms It's possible that Dockerode simply can't deal with redirects, or maybe there's an option you can pass that would make it possible.

[2020-08-25 14:31] bwateratmsft commented on #2236
@karolz-ms @ratriv I think this would be a Docker CLI bug. Gitlab is (mostly) not a V2-compliant registry, they have their own spec entirely. The Docker CLI is querying the `/v2/` endpoint but I would not expect this to succeed.

[2020-08-25 14:41] bwateratmsft commented on #2207
We can detect when a tree error is a `UserCancelledError`, maybe we can just rethrow that in the node refresh code path?

[2020-08-25 16:07] karolz-ms commented on #2238
@bwateratmsft yes, that was my suspicion as well, I just did not have a chance yet to look into this 😔

[2020-08-25 16:08] karolz-ms commented on #2245
@bwateratmsft yes, that is exactly what I had in mind

[2020-08-25 16:58] philliphoff commented on #1966
@bwateratmsft The defaults are supposed to be applied per-workspace.  Once the user's made a change, that change is persisted and used from that point on (across sessions of that workspace).

[2020-08-25 21:19] kazman71 opened #2253 "I don't knwo what happened"
Issue Type: <b>Bug</b>

I was running a container and viewing the logs.

Extension version: 1.5.0
VS Code version: Code 1.48.1 (3dd905126b34dcd4de81fa624eb3a8cbe7485f13, 2020-08-19T17:12:13.244Z)
OS version: Windows_NT x64 10.0.19041

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-1065G7 CPU @ 1.30GHz (8 x 1498)|
|GPU Status|2d_canvas: enabled<br>flash_

[2020-08-26 04:47] PavelSosin-320 commented on #2238
Dockerode doesn't support the recent Docker spec, i.e. context managed connection as I see in its documentation. Dockerode doesn't declare which spec  it respects. When it works with the Daemon implementing the new spec 19.... and docker proxy following 19... spec it's hard to know where it fails. Did somebody test dockerode capability to work against the fresh reference docker daemon?

[2020-08-26 04:59] PavelSosin-320 commented on #2238
@bwateratmsft It worsts to check the recent Dockerode release 3.2.1 from July before searching a bug.

[2020-08-26 09:47] XanderXAJ opened #2254 ""Error: /bin/sh: docker: command not found" when opening YAML file"
For anyone else that comes across this issue: *This can be worked around by running `code` on the CLI.*

Does this occur consistently? Yes
Repro steps:

1. Close VS Code.
2. Create a temporary project and open it in VS Code via the CLI:
[code]
3. Verify that no error occurs.
4. Close VS Code.
5. Launch VS Code via Spotlight (⌘Space). It should re-open the same workspace automatically.
6. After a f

[2020-08-26 13:28] bwateratmsft commented on #2254
Yes, this is likely the same as #2229. I agree, Spotlight must not be giving it a complete environment. For executing that `docker context inspect` / `docker context ls` call, we're using Node's [child_process.spawn](https://nodejs.org/api/child_process.html#child_process_child_process_spawn_command_args_options). We use `shell == true` in the options. For environment, it inherits `process.env` by

[2020-08-26 13:52] bwateratmsft commented on #2253
@kazman71 There isn't any error here in what you've pasted. Can you add repro steps and describe what went wrong?

[2020-08-26 15:44] karolz-ms commented on #2254
@bwateratmsft that post you mentioned is 12 years old. Can't believe this is still an issue... 😔

[2020-08-26 16:59] bwateratmsft commented on #2180
I checked through some scenarios. Everything I expected to work seemed fine as long as the extension was in workspace mode (i.e. installed in the Codespaces session). We can expect the explorer and terminal commands to _not_ work in UI mode by default.

[2020-08-26 16:59] #2180 closed

[2020-08-26 18:57] CoonHouse commented on #2244
I have/had the same issue. I am using [Cmder](https://cmder.net/) as my terminal in VScode. Since the last update the contextmenu option 'Compose Up' and 'Compose Down' no longer work.
When switching back to the default terminal in VScode, the contectmenu options work as expected.

Regards,
Wilco

[2020-08-26 20:38] BigMorty opened #2257 "Containers panel shows connection error when ACI context is selected and Docker Desktop is shutdown"
Create an ACI context
Switch to this ACI context to be the active one in use
Shutdown Docker Desktop
Containers panel in Docker explorer show the following connection error:
![image](https://user-images.githubusercontent.com/947510/90943573-3aa74e80-e3cf-11ea-8a6f-9bdd452d509c.png)

Expected containers from the ACI context to be displayed.
Docker CLI can still list containers in the ACI context an

[2020-08-26 22:57] schrsistemas opened #2258 "erro"
Does this occur consistently?
Repro steps:

1.
2.

Action: docker-launch
Error type: TypeError
Error Message: Cannot read property '0' of undefined

Version: 1.5.0
OS: win32
OS Release: 10.0.18363
Product: Visual Studio Code
Product Version: 1.46.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-08-27 01:56] #2247 closed

[2020-08-27 11:36] ForceConstant opened #2259 "No way to set `--ip` flag on `docker-run` tasks"
I want to use the docker-run task type to start a container, but would also like to set the ip address? How can I do this, I don't see anything in the reference.
Thanks.

[2020-08-27 12:01] PavelSosin-320 commented on #2259
What do you mean by saying Container IP? On which network? Please, read about [Docker networking](https://docs.docker.com/network/). You can find detailed explanation there. This is not 5 min reading but absolutely necessary.

[2020-08-27 13:30] ForceConstant commented on #2259
@PavelSosin-320 This is how I would do something like this on the command line: `docker run --rm  --net my_container_net --ip 10.120.100.2 -it -p 22:22/tcp my_container:latest`  Static IP, and not just hostname is necessary due to the applications that are being run.

[2020-08-27 13:41] bwateratmsft commented on #2259
The `--ip` flag does not exist currently on the `docker-run` task. We can consider adding it.

[2020-08-27 13:42] bwateratmsft commented on #2258
Same as #2249. @schrsistemas can you add repro steps there?

[2020-08-27 13:42] #2258 closed

[2020-08-27 13:53] #1966 closed

[2020-08-27 13:53] #2243 closed

[2020-08-27 14:10] PavelSosin-320 commented on #2259
Static IP exists in a single scenario: standalone container running on a standalone node. The real IP can be derived from docker node inspect. Docker endpoint can be provided in many ways: Standalone docker, Cloud Instance. Swarm, Docker stack deployed to Kubernetes. It will be very disappointing to get such a limitation - single scenario compatibility: Docker-provided-by-Docker-desktop-without-Ku

[2020-08-27 14:23] bwateratmsft commented on #2228
(As noted in email) IMO we leave the existing behavior alone and dupe this to #1311.

[2020-08-27 14:45] PavelSosin-320 commented on #2259
P.S. static IP of the Docker container is impossible because Docker engine governs containers' lifetime and replication.  It can't ask "Say me which IP to assign?" every time when it instantiates, restarts, attaches to a network, replicates containers.  docker run has nothing common with run application.

[2020-08-27 15:11] PavelSosin-320 commented on #2259
@bwateratmsft Taking into account that the default of docker network create is attachable = true today the static coupling between network and port in one parameter will be extremely inconvenient because it produces a huge number of combinations. It also eliminates using of -P (in capital).
Docker networking is one of the best-designed concepts in Application development and hardly requires improv

[2020-08-27 16:32] umbraesoulsbane commented on #2244
@CoonHouse Are you getting the same error or something different. I have used Cmder which is a great tool but I had compatibility issues that made me drop it once I moved from Win 7 to Win 10. I think there was updates in VSCode that changed how the command is issues. As such where I had to remove custom options, you might need to add some. I would work with Cmder support as they can probably assi

[2020-08-27 16:35] umbraesoulsbane commented on #2244
Also you might want to make sure you can still manually compose up and down in Cmder using the raw commands. If that doesn't work it may be a Docker issue as well. However, I assume you probably tested this.

[2020-08-27 16:51] #2249 closed

[2020-08-27 17:03] bwateratmsft opened #2261 "Multiple-facet experiment for awareness"
We want to try the video, docs, etc. as different facets of the awareness experiment.

[2020-08-27 17:13] CoonHouse commented on #2244
@umbraesoulsbane  I did get the same error. Typing the command `docker-compose -f "docker-compose.yml" up -d` did work as supposed. And before the update of VScode (or the docker plugin?) it did work with Cmder. When I switched to the internal terminal it did work.
I just installed the latest Cmder version to check if this helps, and it did. The "compose up/down" now work (again) with Cmder. I did

[2020-08-27 17:16] umbraesoulsbane commented on #2244
I believe VSCODE changed how commands were sent to the terminal. My issues was related to customizing the character code for the console. I would imagine the older version of Cmder probably customized the shell in some fashion, and the newest version took the VSCODE/Powershell updates in mind and fixed it.

Glad you got it working.

[2020-08-27 17:20] CoonHouse commented on #2244
@umbraesoulsbane  Yes, I like Cmder over Powershell.

Thanks

[2020-08-27 17:42] #844 closed

[2020-08-27 17:56] bwateratmsft commented on #2257
Blocked on https://github.com/docker/node-sdk/issues/31.

[2020-08-27 18:37] bwateratmsft commented on #2219
We discussed in email that we'd send a [suggestion](https://github.com/docker/cli/issues/2691) to Docker and close this as won't-fix.

[2020-08-27 18:37] #2219 closed

[2020-08-27 20:14] bwateratmsft commented on #2248
@MarcusOy It seems like there must be more than one `dotnet` process running in the container, hence the confusion. The `${command:pickProcess}` flag would choose a process on the host, not in the container, if I'm not mistaken.

Do you know why there might be multiple `dotnet` processes running?

[2020-08-27 20:51] dbreshears commented on #1718
Lets also do this for Docker Hub since Azure services can pull from Docker Hub since it is public.

[2020-08-27 21:04] dbreshears commented on #2261
Add a button to the awareness toast for people that want to view docs vs. video

[2020-08-27 21:34] MarcusOy commented on #2248
@bwateratmsft Huh, that's weird. I checked Portainer to see the running processes on my affected containers and there's three total dotnet processes. My setup is currently a few development containers running on watch mode, so maybe that is the cause. Here's an image from Portainer of the processes:
<img width="1423" alt="Screen Shot 2020-08-27 at 5 20 55 PM" src="https://user-images.githubusercon

[2020-08-28 07:10] rinaharry opened #2262 "docker"
Does this occur consistently?
Repro steps:

1.
2.

Action: vscode-docker.registries.azure.selectSubscriptions
Error type: Error
Error Message: command 'azure-account.selectSubscriptions' not found

Version: 1.5.0
OS: linux
OS Release: 5.3.0-51-generic
Product: Visual Studio Code
Product Version: 1.48.2
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-08-28 13:05] bwateratmsft commented on #2262
@rinaharry Can you add repro steps?

[2020-08-28 13:45] bwateratmsft commented on #2128
I opened https://github.com/microsoft/vscode/issues/105590, I think the easiest thing would be if we could add specific exceptions (like `Dockerfile.go`). The number of unique filenames that _are_ Dockerfiles was big but the number that _aren't_ Dockerfiles seemed relatively small--`Dockerfile.go` seemed to be probably the most common. If we could exclude it we'd improve our language classificatio

[2020-08-28 14:28] bwateratmsft commented on #2248
I wouldn't say wrong, just different. I'm not terribly familiar with `dotnet watch`, but the first one is `/bin/sh` (with a command to do `dotnet watch`), the second is what is started by that `sh` command, and I think the third is what is started by `dotnet watch run` process (i.e. the app itself). So the second two in that list are both `dotnet` processes.

Given that this is in a dev container

[2020-08-28 14:42] bwateratmsft commented on #2238
It does seem unusual to me that the proxy is offering redirects instead of being transparent. That said, `docker-modem` definitely has [code](https://github.com/apocas/docker-modem/blob/master/lib/http.js) to follow redirects. It's not going to work if there is no `location` header in the response though, or if more than 5 redirects happen

@jlconnor Can you verify if `location` is in the response

[2020-08-28 15:02] PavelSosin-320 commented on #2238
If dockerode is built on docker SDK it is assumed that docker client is configured, i.e docker.config in  ~/.docker : C:\Users\TheUser\.docker\docker.config. Docker Desktop fills something strange, maybe because of its docker.exe doesn't support it. This file has a place to configure the proxy.

My home-made Docker-on CentOS creates the file with:
_{
	"auths": {},
	"HttpHeaders": {
		"User-Agent":

[2020-08-28 15:17] bwateratmsft commented on #2238
Dockerode makes direct HTTP requests to the Docker daemon, so it doesn't care what's in `~/.docker/docker.config` unfortunately.

[2020-08-28 17:00] #2222 closed

[2020-08-28 17:45] #2184 closed

[2020-08-28 17:46] BigMorty commented on #2184
All three language tutorials have the user add an env variable now.

[2020-08-29 05:30] PavelSosin-320 commented on #2238
@bwateratmsft It looks not good because as I see in my docker.config Daemon expects a kind of handshake based on HTTP headers. The "standard" docker/kubernetes proxies require explicit in/out headers configuration and refuse to serve anonymous clients. Maybe, daemon REST API serves legacy clients differently on the different version end-points (/V1,23, /V1.40, etc. - Versioning )? HTTP and HTTPS e

[2020-08-30 04:39] PavelSosin-320 commented on #2238
@jlconnor  I think that the following post [Using docker behind the proxy](https://www.docker.com/blog/how-to-use-the-official-nginx-docker-image/) can be helpful to you and it is perfect reference scenario which VSCode Docker plugin must support with zero gaps.

[2020-08-30 17:13] jlconnor commented on #2238
@bwateratmsft Ok, the mistake here seems two fold.

First mine. While trying to verify the return of a location header I discovered the proxy IS transparent. The redirect is coming from my web server hosted on the same server (80 and 443 both redirect to different ports)

Second VSCode. When I export DOCKER_HOST on the cli, docker automatically assumes port 2375. When I add the same value to the d

[2020-08-30 18:18] PavelSosin-320 commented on #2238
@bwateratmsft Anyway I used the chance to look into dockerod code and found that it uses docker-modem. Docker-modem uses HTTP and HTTPS NodeJS objects to send requests to Docker daemon. But Docker daemon end-points are sockets, Linux, Pipe, TCP, with or without TLS. It doesn't need all HTTP mechanics with content type, encoding, manifests, upgrades, and redirects. All these things are necessary fo

[2020-08-31 11:01] segevfiner opened #2264 "Add a docker.context setting for setting DOCKER_CONTEXT similar to docker.host"
Add a `docker.context` setting for setting `DOCKER_CONTEXT` similar to `docker.host` for setting `DOCKER_HOST`. This will allow using docker contexts per window or project rather than globally.

This should probably also be supported by the Remote - Containers extension.

[2020-08-31 12:50] PavelSosin-320 commented on #2264
It doesn't allow setting context per project because the current context is set by the docker context use ... . command The value is stored in the docker.config file in the User's profile folder. Indeed, it is possible to create as many contexts as needed, but the current context is used by all kinds and instances of docker tools used by the user. It ensures consistency rather than flexibility whe

[2020-08-31 13:08] segevfiner commented on #2264
There is definitely a matter of taste and preference here.

The global current context mechanism is convenient in some scenarios but can be inconvenient in others, such as wanting to have different windows/terminals that use different contexts at the same time.

Docker provides an environment variable and CLI flag to use a non-default/current context. kubectl only has a CLI flag which has often be

[2020-08-31 14:00] bwateratmsft commented on #2238
@jlconnor I think this (with the new title) relates to https://github.com/apocas/docker-modem/issues/121. Like #2164 (which created that issue in `docker-modem`), I think this becomes external, because `docker-modem` chooses the ports, not the Docker extension.

There is a setting in the Docker extension, `docker.dockerodeOptions`, which will allow you to pass any arbitrary settings object to Dock

[2020-08-31 14:00] #2238 closed

[2020-08-31 14:05] bwateratmsft commented on #2264
I think such a setting has equal value to `DOCKER_HOST` / `docker.host`. The scenarios @segevfiner lists (e.g. different context for different projects) make sense to me.

[2020-08-31 18:26] bwateratmsft commented on #1358
I don't think this would be possible in the new SDK and we won't be investing enough in the old SDK to justify this.

[2020-08-31 18:26] #1358 closed

[2020-08-31 22:11] s-truax opened #2268 "Documentation for dockerRun does not list the `remove` property"
The documentation page for writing custom tasks using the Docker extension does not list `remove` as a property of the `dockerRun` object. [Link](https://code.visualstudio.com/docs/containers/reference#_run-task-reference).

However, this is an attribute of the `RunDockerOptions` interface defined in `src/tasks/DockerRunTaskDefinitionBase.ts` as can be seen on [this](https://github.com/microsoft/v

[2020-09-01 14:20] bwateratmsft commented on #2268
Good catch!

[2020-09-02 21:02] jlconnor commented on #2238
@bwateratmsft Thanks for the help here. I think I'll just leave the explicit port number in the config. Probably better all around that wat

[2020-09-02 22:06] MarcusOy commented on #2248
@bwateratmsft I've been working on other things and I've revisited this issue. I am able to connect to my container using the following config (from (OmniSharp's docs)[https://github.com/OmniSharp/omnisharp-vscode/wiki/Attaching-to-remote-processes]:
[code]

Now, since this config is beyond the scope of this issue's repo, I'm gonna go ahead and close it. Now, to figure why my symbols aren't loadin

[2020-09-03 01:14] eddieparker opened #2271 "tasks.json: dockerRun volumes: support bind?"
I often find it handy to 'bind' a volume to the host for development purposes.  It helps me iterate quickly on things like Flask while in dev mode.

I can't seem to make that happen with the current syntax: it only makes a 'volume' mount.  Would it be possible (or is it already somehow?) to expose the 'type' variable so I can bind volumes?

[2020-09-03 13:56] bwateratmsft opened #2272 "Reduce outdated image check to once-per-day max"
The new [Docker Hub rate limits](https://www.docker.com/pricing) on pulling (100 per 6 hours for anonymous, 200 for authenticated) will be quickly consumed by the image out-of-date checking. They define a pull as [up to two manifest endpoint calls](https://www.docker.com/pricing/resource-consumption-updates). The image out-of-date check depends entirely on anonymous image manifest lookups; if I ha

[2020-09-03 14:00] bwateratmsft commented on #2272
The rate limits doc mentions that HEAD requests do not count against the limit, but unfortunately there is no data in the response to a HEAD request that is useful for this purpose.

[2020-09-03 14:10] bwateratmsft commented on #2248
Yeah, that config with `pipeTransport` is very similar to what we ultimately resolve to in the `Docker .NET Core Attach` config.

[2020-09-03 17:37] BigMorty opened #2275 "Allow user to customize the 'docker run' command when deploying to ACI"

[2020-09-04 03:20] saurabhgayali opened #2276 "extremely slow pc"
Issue Type: <b>Bug</b>

it is very slow after installation even when not in use

Extension version: 1.5.0
VS Code version: Code 1.48.2 (a0479759d6e9ea56afa657e454193f72aef85bd0, 2020-08-25T10:13:11.295Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-7700 CPU @ 3.60GHz (8 x 3600)|
|GPU Status|2d_canvas: enabled<br>

[2020-09-04 13:38] bwateratmsft commented on #2276
If you disable the Docker extension is it still slow?

[2020-09-04 13:51] ElizabetePluGgui opened #2277 "Creat"
Does this occur consistently?
Repro steps:

1.
2.

Action: vscode-docker.registries.azure.createRegistry
Error type: NoResouceFoundError
Error Message: No matching resources found.

Version: 1.5.0
OS: win32
OS Release: 10.0.18363
Product: Visual Studio Code
Product Version: 1.48.2
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-09-04 13:53] bwateratmsft commented on #2277
@ElizabetePluGgui can you add repro steps?

[2020-09-04 15:09] bwateratmsft commented on #2254
I opened https://github.com/docker/for-mac/issues/4875. Ultimately there's nothing the Docker extension can do about this, and it appears based on how old this issue is that Apple isn't interested. Perhaps the Docker Desktop for Mac installer can do something.

[2020-09-04 15:09] #2254 closed

[2020-09-04 15:10] ElizabetePluGgui commented on #2277
I won't add , thank you

Em sex, 4 de set de 2020 10:53, Brandon Waterloo [MSFT] <
notifications@github.com> escreveu:

[2020-09-04 15:11] bwateratmsft commented on #2271
Related to #2259 I think. Probably the best approach for both is to add a catch-all "bring your own parameters" field to the `docker-run` and `docker-build` tasks.

[2020-09-04 15:14] eddieparker commented on #2271
That would be great!  Or, alternatively if i could somehow have the docker run thing actually use my docker compose setup?  I dunno if that's possible however.

[2020-09-04 15:14] bwateratmsft commented on #2236
@BigMorty You have a GitLab test account right? Can you try pulling an image from it?

[2020-09-04 15:17] bwateratmsft commented on #2271
Depending on what you're doing it's possible that you don't need to use the `docker-run` task, but can instead have your own [shell task](https://code.visualstudio.com/docs/editor/tasks#_custom-tasks) that calls `docker-compose up`. Are you using the tasks for debugging or just to get a container running?

We tried to design our debugging experience so that the `docker-run` tasks are not mandatory

[2020-09-04 15:20] eddieparker commented on #2271
I'm exploring the docker debugging in vscode.  Can the docker debug use docker compose via shell?

[2020-09-04 15:22] bwateratmsft commented on #2271
Most likely yes. Which platform are you debugging? (.NET Core, Node, Python)

[2020-09-04 15:43] eddieparker commented on #2271
Python.  A flask app to be specific.

[2020-09-04 16:06] saurabhgayali commented on #2276
disabled docker and restarted. it was still the same.
uninstall hyper-v from windows features option and restarted but still it was slow.
then i followed step 7 from this link: https://www.sysnettechsolutions.com/en/uninstall-hyperv-windows-10/
an uninstalled hypervisor platform which is an extra feature in windows 10. and only then my full speed is regained.
Read somewhere that hyper-v should be

[2020-09-04 16:50] bwateratmsft commented on #2276
It sounds like the slowdown was from Docker or Hyper-V, not from the Docker extension.

[2020-09-04 17:17] bwateratmsft commented on #2271
Gotcha. Your best bet is to make use of the Python attach configuration. Here's a setup that works for me, although it was behaving a little weirdly, it seemed to compose-up then do nothing, then I F5'd again, it'd try compose-up again and say it's up to date, then actually attach.

The entrypoint in `docker-compose.debug.yml` is important; it is instructing `debugpy` to start the Flask app up and

[2020-09-04 19:58] saurabhgayali commented on #2276
It is definite that I installed docker and Hyper-C on my system from VSCods exntension only. So I believe something can really be changed in the settings of the code so as to enforce proper installation of Docker. Have used Docker earlier on lab pc without VScode. That docker and hyper-v was totally fine.

[2020-09-04 20:00] bwateratmsft commented on #2276
The Docker extension isn't responsible for installing Docker or configuring Hyper-V. That is all done by Docker Desktop.

[2020-09-05 02:05] MarcusOy commented on #2248
@bwateratmsft Reopening.

I am going to attach a test project for you to try: [test.zip](https://github.com/microsoft/vscode-docker/files/5177439/test.zip)
It contains a solution with one Web API project. At root is a `docker-compose.yml` and inside the project (`test.API`) is a `Dockerfile`. Run a restore, clean, build or whatever then run `docker-compose up` in the workspace root to start up the

[2020-09-05 08:51] PavelSosin-320 commented on #2248
@MarcusOy Thre is the special way in docker to handle processes; docker container top. It is someway different that ps inside the container. It shows PIDs of the daemon host system PIDs, the Daemon protects Container's processes in isolation purposes and Container init observers them to avoid ghost and zombie host processes. Hopefully, the Process picker takes this mechanism into account correctly

[2020-09-05 09:52] josiah-roberts commented on #2248
:hand: Also having this issue. I started out with the non-compose way of using a sequence of `tasks` to start the docker container, but that seemed to have assumptions baked into it regarding the command line (non-watch). Composing-up the container allows me to run it in watch, but I've been unable to debug.

[2020-09-05 10:28] #2276 closed

[2020-09-05 11:24] PavelSosin-320 commented on #2248
There is always the best practice in the docker is to start all processes from the entry script. It is an immediate child of the docker init process and easily observable by the daemon. It ensures that the container will never see underlying host processes  -isolation, and the correct lifecycle management - killed container cleans up. I afraid that dotnet watch may create sibling process which is

[2020-09-05 13:21] PavelSosin-320 commented on #2248
Regarding debugging: what is the debuggee,S tandalone DotNet application or Docker container DotNet application? In the 1st case the corresponding VSCode DotNet debugger plugin should be used. In the second case the application container has to be built from Official Microsoft DotNet [DotNet Docker containers documentation](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/docker/buildi

[2020-09-05 19:47] MarcusOy commented on #2248
Thank you for your response @PavelSosin-320. Here's my `docker top` output. For your references, I've run the command twice:
- The first time is with entry point `ENTRYPOINT dotnet run --urls=http://*:5000` in the `Dockerfile` for `test.API`
- The second time is with entry point `ENTRYPOINT dotnet watch run --urls=http://*:5000` in the `Dockerfile` for `test.API`
<img width="1335" alt="Screen Shot

[2020-09-06 04:36] PavelSosin-320 commented on #2248
The comprehensive information about debugging and tools libraries can be
found in Debug adapter protocol home page
<https://microsoft.github.io/debug-adapter-protocol/>. This
umbrella cross-platform and cross-company project summarizes all efforts in
the debugging area. If you need to debug applications, please try to find
proven tools and solutions here before attempting to develop your own. I
be

[2020-09-06 08:19] Krrishdhaneja opened #2278 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-docker`
- Extension Version: `1.5.0`
- OS Version: `Windows_NT x64 10.0.18363`
- VSCode version: `1.48.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2020-09-06 21:27] #2237 closed

[2020-09-07 00:40] karolz-ms commented on #869
@bwateratmsft how does the [new GitHub registry](https://github.blog/2020-09-01-introducing-github-container-registry/) fit into the picture?

I was looking for some details esp. around RegistryV2 support, but from what [GitHub has on their website](https://docs.github.com/en/packages/getting-started-with-github-container-registry) I can't really say if full V2 protocol is supported...

[2020-09-07 07:32] XanderXAJ commented on #2254
Thanks for looking in to this. I had wondered if it was a macOS/Spotlight issue.

It's a workaround, but might it be possible to have the shell launched by the extension run:

[code]

This should then give a `PATH` usable enough to find `docker`.

I don't know the architecture here, so if it makes more sense for the Docker for Mac installer to fix it, go ahead with that. :)

[2020-09-07 09:32] v-ruizh opened #2280 "There is an extra warning icon before "Install Azure Account Extension...""
**OS:** Win10
**Build Version:** 20200903.1

**Repro Steps:**
1. Uninstall the "Azure Account" extension if you have it installed.
2. Use the "Connect Registry" button to connect Azure.
3. Expand the Azure node and check the result.

**Expect:**
There is no warning icon before "Install Azure Account Extension...".
![image](https://user-images.githubusercontent.com/45614674/92372758-f8e90880-f12f-1

[2020-09-07 14:16] shishiracharya01 opened #2281 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-docker`
- Extension Version: `1.5.0`
- OS Version: `Windows_NT x64 6.3.9600`
- VSCode version: `1.48.2`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\User\ms-azuretools.vscode-docker-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-extension-caus

[2020-09-07 16:34] #258 closed

[2020-09-08 13:05] bingo666666 opened #2282 "error"
Does this occur consistently?
Repro steps:

1.
2.

Action: docker-launch
Error type: TypeError
Error Message: Cannot read property '0' of undefined

Version: 1.5.0
OS: darwin
OS Release: 19.6.0
Product: Visual Studio Code
Product Version: 1.48.2
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-09-08 13:13] bwateratmsft commented on #2278
@Krrishdhaneja there's no bug here, can you paste the needed info?

[2020-09-08 13:14] bwateratmsft commented on #2281
@shishiracharya01 does this issue occur consistently?

[2020-09-08 13:14] bwateratmsft commented on #2282
Same as #2249

[2020-09-08 13:14] #2282 closed

[2020-09-08 13:58] bwateratmsft commented on #2248
I've wanted for a long time to have a real debugging experience using `docker-compose` but the powers that be haven't prioritized it (#840). The debugging tasks and config we have now work well for single-project, non-compose scenarios but start to break down when compose is mixed in.

[2020-09-08 14:43] bwateratmsft commented on #2248
@MarcusOy I spent some time playing with that test project you provided. I made a few small changes in the Dockerfile:
1. Set the default path for the debugger to `/remote_debugger`, which will prevent the extension from needing to copy in `vsdbg`
1. Changed the entrypoint style. This makes it not start a shell process and "fixes" the multiple dotnet processes problem (but then the C# extension go

[2020-09-08 14:46] bwateratmsft commented on #2280
Looks like this is an intentional change upstream in `vscode-azureextensionui`: https://github.com/microsoft/vscode-azuretools/pull/776/files#diff-82ccf94a062bb23a20d833bf57893dd5R85

[2020-09-08 14:46] #2280 closed

[2020-09-08 14:49] bwateratmsft commented on #869
Pretty sure the "new" GitHub registry is just the existing GitHub registry but "relaunched" to draw more attention. It's V2 compliant minus the `_catalog` endpoint. In the new [extensibility model](https://github.com/microsoft/vscode-docker/issues/2033) I'm making such monolith registries possible to connect to but it will require adding each repository manually since there's no way to list reposi

[2020-09-08 16:28] philliphoff commented on #2254
@bwateratmsft No, I can't think of any reason for that behavior beyond what you've already uncovered.  I don't see the same behavior on my Mac, but my default OS shell is ZSH so perhaps that has some magical effect.

[2020-09-08 16:40] bwateratmsft commented on #2254
I also was not able to reproduce on my Macbook, and I'm not using ZSH. @XanderXAJ The only thing the extension could really do is manipulate the `PATH` variable at runtime, which I'd be reluctant to do; I'm not sure what side effects that could have.

[2020-09-08 16:44] #2245 closed

[2020-09-08 16:46] #1718 closed

[2020-09-08 17:21] #2261 closed

[2020-09-08 17:38] Forinil opened #2283 "SSH connection with Docker daemon does not work"
I tried connecting to Docker daemon running on a remote host, by setting `docker.host` setting to `ssh://docker`, while running VS Code on my Windows 10 laptop.

Hostname `docker` is not resolved by DNS, but rather set in `C:\Windows\System32\drivers\etc\hosts`.
I also have `%USERPROFILE%\.ssh\config` with connection options for `docker` specified:

[code]

I can confirm that `docker -H ssh://dock

[2020-09-08 17:42] bwateratmsft commented on #2283
@Forinil Did you set up an [SSH agent](https://code.visualstudio.com/docs/containers/ssh#_set-up-ssh-tunneling)?

[2020-09-08 17:50] karolz-ms commented on #2283
This won't work, sorry, it is a known limitation. For more info see https://code.visualstudio.com/docs/containers/ssh

[2020-09-08 18:11] Forinil commented on #2283
@bwateratmsft  No I used `%USERPROFILE%\.ssh\config` to provide a path to the private key.
@karolz-ms Thanks for the information.

[2020-09-08 18:29] bwateratmsft commented on #2283
Gotcha. Unfortunately, the `ssh2` Node.js package used by `Dockerode` doesn't know how to use the SSH config file. It requires an SSH agent to be configured with the key and running. There's more information about how to do that in the doc that @karolz-ms and I linked; fortunately it's pretty easy to do on Windows.

I think that as long as an SSH agent is set up, it *should* work to use this appro

[2020-09-08 19:06] BigMorty commented on #2236
docker pull registry.gitlab.com/bigmorty/samples/webapplication11:dev worked fine for me.

[2020-09-08 19:08] bwateratmsft commented on #2236
@BigMorty How about `docker login registry.gitlab.com --username bigmorty --password-stdin`?

[2020-09-09 14:58] bwateratmsft opened #2284 "Errors from commands showing as popups"
Probably a regression from #2265

Does this occur consistently? Yes
Repro steps:
1. Make an invalid compose file or one that will otherwise fail to up
1. Up it

Expected:
Error in the Terminal window

Actual:
Error in the terminal window + a popup that says just "1"

Action: vscode-docker.compose.up
Error type: number
Error Message: 1

Version: 1.6.0-alpha
OS: win32
OS Release: 10.0.19041
Product:

[2020-09-09 15:24] bwateratmsft opened #2285 "Blazor manifest update fails depending on path casing"
In some cases VSCode may treat the local folder (for volume mapping purposes) as "**d**:\path\to\stuff", but .NET is treating it as (and scaffolding the StaticWebAssets.xml with) "**D**:\path\to\stuff". Because of the use of `startsWith` and `replace` that are case-sensitive, this makes the manifest update fail silently, and the app will fail to launch in the container with an unhelpful exception

[2020-09-09 15:42] #1617 closed

[2020-09-09 15:42] #1642 closed

[2020-09-09 15:42] #2061 closed

[2020-09-09 15:42] #2179 closed

[2020-09-09 15:50] bwateratmsft commented on #251
This has been fixed in Docker extension version 1.5.0.

[2020-09-09 15:50] bwateratmsft commented on #1903
This has been implemented.

[2020-09-09 15:50] bwateratmsft commented on #2047
This has been fixed in Docker extension version 1.5.0.

[2020-09-09 15:50] bwateratmsft commented on #2090
This has been fixed in Docker extension version 1.5.0.

[2020-09-09 15:50] bwateratmsft commented on #2148
This has been fixed in Docker extension version 1.5.0.

[2020-09-09 15:50] bwateratmsft commented on #2168
This has been fixed in Docker extension version 1.5.0.

[2020-09-09 16:12] #2284 closed

[2020-09-09 16:49] BigMorty commented on #2236
That did not work for me. After typing my password and pressing Enter, nothing happened, things just sat there.

[2020-09-09 19:17] bwateratmsft commented on #2236
The only thing I can think of is the proxy blocking login or potentially something transient. If the proxy is blocking the CLI from doing login to Gitlab there's nothing that can be done in the Docker extension. I'll close this as external.

[2020-09-09 19:17] #2236 closed

[2020-09-09 23:43] philliphoff opened #2289 "Use new resolveDebugConfigurationWithSubstitutedVariables() API in debug provider"
With the January 2020 (1.42) release, we have the option to use the new `resolveDebugConfigurationWithSubstitutedVariables()` API in our Docker `DebugConfigurationProvider`.  This gets called with any variables within the configuration having been resolved, which should allow us to dispense with our own (and known incomplete) resolution logic.

In addition to that, however, with the upcoming Augus

[2020-09-10 00:57] BigMorty commented on #2236
Why does it work when using our extension UI?

[2020-09-10 07:45] cheekykesav opened #2290 "The plugin not compatible with VS Code Darwin 1.14.1 in Mac OS. Kindly help"
The plugin not compatible with VS Code Darwin 1.14.1  in Mac OS. Kindly let know the exact version of vs code needed for this plugin in Mac OS.

[2020-09-10 08:00] v-xinda opened #2291 "An error occurs when stopping a container next to "attach shell" action"
**OS:** Linux
**Build:** 20200909.2

**Repro Steps:**
1. Right click the "registry" image --> Run.
2.  Right click the "registry" container --> Attach Shell.
3. A new Terminal should open, then type "ls" and press ENTER.
4. Right click the "registry" container --> Stop.

**Expect:**
The container should stop and also should get automatically removed.

**Actual:**
An error occurs.
![image](https://

[2020-09-10 13:33] bwateratmsft commented on #2236
The user mentioned they are behind a proxy which is probably what prevented this from working.

[2020-09-10 13:35] bwateratmsft commented on #2290
If you're using VSCode 1.14.1 you need to update, that is years behind.

[2020-09-10 13:37] bwateratmsft commented on #2289
Awesome, I didn't know about this feature.

[2020-09-10 13:38] bwateratmsft commented on #2291
This looks similar to #2284.

[2020-09-10 14:09] bwateratmsft commented on #2291
@v-xinda I wasn't able to reproduce. Can you try again? If it happens again can you click the "Report issue" button, and copy and paste the information that fills in to this issue?

[2020-09-10 15:24] bwateratmsft commented on #2268
We should also update the docs for #2294 at the same time as this.

[2020-09-10 16:58] #2285 closed

[2020-09-10 16:59] #2259 closed

[2020-09-10 16:59] #2271 closed

[2020-09-10 17:39] bwateratmsft commented on #1835
Related to #2228 as well.

[2020-09-10 17:40] bwateratmsft commented on #1606
I'm going to close this; it seems like Codespaces is the logical replacement and it does include Docker. Most features work. See #2180.

[2020-09-10 17:41] #1606 closed

[2020-09-10 19:16] bwateratmsft opened #2296 "Toast on new Dockerfile"
If users manually create a Dockerfile we could toast them to help get it started.