[2021-11-04 14:39] bwateratmsft commented on #3295
What OS do you use on your host machine? I'm not very familiar with `gpg-agent` but it's possible that all that would be needed is to set the `SSH_AUTH_SOCK` environment variable to match the pipe that `gpg-agent` is listening on (assuming it's compatible with `ssh2` in the same way that `ssh-agent` is).

[2021-11-04 17:17] ericcleptonsilva opened #3298 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-docker`
- Extension Version: `1.17.0`
- OS Version: `Windows_NT x64 10.0.19043`
- VS Code version: `1.61.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-11-04 17:18] bwateratmsft commented on #3298
@ericcleptonsilva can you paste the clipboard data? What was the error?

[2021-11-04 17:59] TravisEz13 opened #3299 "Is there a way to create an ACI context which will run windows containers?"

[2021-11-04 18:04] bwateratmsft commented on #3299
It looks like maybe you don't need to do anything with the context, just use a Windows base image: https://docs.microsoft.com/en-us/azure/container-instances/container-instances-overview#linux-and-windows-containers

[2021-11-04 19:15] TravisEz13 commented on #3299
This is what I get when I try from the command line after creating the ACI:
[code]

[2021-11-04 22:31] karolz-ms commented on #3299
This problem is probably outside of VS Code extension scope. I would suggest opening an issue against https://github.com/docker/compose-cli

[2021-11-04 22:31] #3299 closed

[2021-11-05 00:32] TravisEz13 commented on #3299
Existing issue:  https://github.com/docker/compose-cli/issues/657

[2021-11-05 12:48] #3287 closed

[2021-11-05 14:54] thofil73 commented on #2058
Is there any progress on this issue?
I am dealing with several docker contexts, some use SSH, others use TLS.
SSH is working fine, but TLS fails to connect as mentioned by atomi.

The two workarounds from above don't work for me, as they would make all my contexts disappear except for the 1 and only "hard-coded" connection.

IMHO, instead of VS Code Docker plugin using the explicit settings
     "

[2021-11-05 15:09] bwateratmsft commented on #2058
@thofil73 we're probably going to proceed with #3263, which as a side effect would fix this issue--basically, anything that the CLI could reach, would be reachable from the extension. Dockerode would no longer be needed.

[2021-11-05 15:29] MathiasMagnus commented on #3295
I'm using Windows with [win-gpg-agent](https://github.com/rupor-github/win-gpg-agent) helpers. My effort in and the author's help are documented [here](https://github.com/rupor-github/win-gpg-agent/issues/9).

[2021-11-06 20:29] xzytrew opened #3300 "vscode is not running python"
Does this occur consistently?
Repro steps:

1.
2.

Version: 1.17.0
OS: win32
OS Release: 6.2.9200
Product: Visual Studio Code
Product Version: 1.62.0
Language: en

[2021-11-06 20:30] #3300 closed

[2021-11-07 04:23] ecc256 opened #3301 "Linux style containerPath with "dockerRun": { "os": "Windows" }"
docker uses Linux style `containerPath` for Python container debugging:
`docker run -dt ... -v "d:\Users\[user]\.vscode\extensions\ms-python.python-2021.11.1422169775\pythonFiles\lib\python\debugpy:/debugpy:ro" ...
`
It should be `C:\debugpy`, not `/debugpy`

Similar .Net container creates windows style path:
`docker run -dt ... -v "D:\Users\[user]\vscode\netcorerest:C:\app:rw"`

In both cases `ta

[2021-11-07 22:29] sw34 opened #3304 "allow preLaunchTask and postDebugTask when using docker attach"
Currently according to the documentation https://code.visualstudio.com/docs/containers/docker-compose#_debug if debugging docker containers that are started with docker compose, you must run docker compose up in terminal/command pallet/right click compose file, then you can run the debugger to attach to the container.  Once done you need to run docker compose down to stop the containers.

What I w

[2021-11-08 06:57] YU5Z8X2CvH1fv4ep opened #3302 "upload files into docker"
Is there a way to upload files into docker?

i can access docker file system . view/edit/download file . but i cant upload file.

Is there any easy way to do it?

[2021-11-08 11:41] spg opened #3303 "Install Another Version hangs"
When I click on Install Another Version, the version list is empty and keeps loading forever
Extension version: v1.17.0
VS Code Version: 1.62.0

![Screen Shot 2021-11-08 at 6 39 40 AM](https://user-images.githubusercontent.com/892367/140735759-4ebca814-5526-4977-8bf9-6a7baa06d919.png)
![Screen Shot 2021-11-08 at 6 40 27 AM](https://user-images.githubusercontent.com/892367/140735835-6393b7ec-fb5f-4

[2021-11-08 13:00] chrmarti commented on #3304
This sounds like it would belong to the Docker extension (not Remote-Containers). Moving there.

[2021-11-08 13:40] bwateratmsft commented on #3303
This functionality is provided by VSCode, not the Docker extension. Please file an issue there: https://github.com/microsoft/vscode/issues

[2021-11-08 13:40] #3303 closed

[2021-11-08 13:41] bwateratmsft commented on #3301
I guess this is a bug but we never really expected anyone to do Windows contains for Python.

[2021-11-08 13:41] bwateratmsft commented on #3304
I think this might already work, but I need to test it out to be sure.

[2021-11-08 13:55] bwateratmsft commented on #3302
There isn't anything provided by the extension, but you can copy files in using the command line:

`docker cp myFile.txt <containerNameOrId>:/destination/path`

e.g.

`docker cp myFile.txt 2db0:/home`

@philliphoff is there a good way you can think of to copy files in, from a UX perspective? The tree view might not avail us here...

[2021-11-08 14:24] ecc256 commented on #3301
Brandon,

Right, there is python windows server based container... Looks good to use in VS code :)

Could you clarify a couple things, please?

1. Is "container style path" in a config somewhere or hardcoded?
2. Does is suppose to take into account "dockerRun": { "os": "Windows", … } (but not done yet) or the setting is for something else?

[2021-11-08 14:33] bwateratmsft commented on #3301
In this instance it's hardcoded here: https://github.com/microsoft/vscode-docker/blob/main/src/tasks/python/PythonTaskHelper.ts#L128

Currently that flag is used only for .NET containers (to determine the destination path style for the implicit volume mappings used by debugging, and to determine what flavor of vsdbg to download) but AFAIK there's no reason it can't also be used in the Python task

[2021-11-08 14:42] ecc256 commented on #3301
Brandon,
Thanks a lot for clarifications!

I.e. no way to overwrite it... right?

Looks like nobody ever asked for it, there is no demand for these updates, actually?
IMO, it should be sufficient to clarify it in docs and tutorials, (at least for now).

[2021-11-08 14:43] dwoldo opened #3305 "App cannot read mounted NuGet packages from /root/.nuget/packages when using generated Dockerfile"
I am attempting to debug a .NET Container Linux container from my Windows 10 machine. The Dockerfile was generated by this extension when running `Docker: Add Docker Files to Workspace`.

Upon running debug using the generated launch item `Docker .NET Core Launch`, this extension runs the container for debugging, but the NuGet packages folder is mounted to `/root/.nuget/packages` inside the contai

[2021-11-08 17:44] karolz-ms commented on #3305
@dwoldo thank you for a comprehensive bug report, much appreciated. We'll take a look

[2021-11-09 05:31] #3275 closed

[2021-11-09 14:56] bwateratmsft commented on #3305
@karolz-ms We could mount to both locations (`/root/.nuget/packages` and `/home/appuser/.nuget/packages`), which I think should whether running as root or the default-scaffolded `appuser`. What do you think?

[2021-11-09 15:11] bwateratmsft commented on #3301
Yeah, unfortunately 😞. We have some logic that will let users override implicit bindings, but it works based on destination--i.e. if the destination within the container is the same, we take the user's input. However, since you'd have to override a Linux path with a Windows path, it's not possible to have the same destination.

@ucheNkadiCode what do you think (Python debugging in Windows containe

[2021-11-09 15:17] ecc256 commented on #3301
Brandon,

Got it!

Uche,
I'll help with testing if you want to give it a try.

[2021-11-09 15:45] bwateratmsft commented on #3295
Related: #3263, which would probably make this obsolete since the CLI doesn't depend on an ssh-agent.

[2021-11-09 15:54] bwateratmsft commented on #3241
Probably related to #3263.

[2021-11-09 15:55] bwateratmsft commented on #2977
Maybe also related to #3263.

[2021-11-09 15:58] bwateratmsft commented on #3263
I've noticed that `com.docker.cli` tends to be drastically faster than `docker`.

[2021-11-09 17:12] karolz-ms commented on #3305
@bwateratmsft we could do that. Alternatively, we could consider adding a setting to the docker-run task that indicates where the user folder is. This will work regardless what the container user name is. Do we scaffold `docker-buld` and `docker-run` tasks as part of "Add Docker files to workspace"?

@dwoldo you should be able to use [dockerRun.volumes setting](https://code.visualstudio.com/docs/c

[2021-11-09 17:14] dwoldo commented on #3305
It does work as you described. I failed to highlight as a work around on my initial message.

[2021-11-10 14:17] bhueshwar opened #3307 "containers and images"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2021-11-10 14:26] phalouvas opened #3308 "Cannot see docker images after docker uninstall/install"
The electricity went down. After starting again my Windows 10, docker could not start. Then I uninstall/installed it again.
After that VS Code cannot view the images of wsl2. I tried all sort of things, like uninstalling/installing docker extension and even VS code it self. From wsl ubuntu terminal the docker commands works fine.

Does this occur consistently? Yes
Repro steps:

1. Force Shut down

[2021-11-10 14:30] bwateratmsft commented on #3308
There was a bug in Docker Desktop on upgrade that filled up the context file with invalid characters, and unfortunately uninstall does not fix it. You'll need to delete everything in `%USERPROFILE%\.docker\contexts`, then it should work: https://github.com/microsoft/vscode-docker/issues/3249#issuecomment-937772119

[2021-11-10 14:30] #3308 closed

[2021-11-10 14:31] bwateratmsft commented on #3307
@bhueshwar can you paste the needed info and describe what went wrong?

[2021-11-10 15:25] phalouvas commented on #3308
thanks, problem solved

[2021-11-10 19:22] ucheNkadiCode commented on #3301
Hey @ecc256, thanks for your suggestion! We are going to wait to see if there is more customer demand before deciding to work on this. In the mean time, this workaround will suffice.

Thanks!

[2021-11-10 19:37] ecc256 commented on #3301
@ucheNkadiCode

Which one exactly? :)

[2021-11-10 19:41] ucheNkadiCode commented on #3301
Whoops! I'm sorry, I got confused with a separate issue 😅

[2021-11-10 22:14] spg commented on #3303
Well it works properly for every other extension (e.g. ESLint, GitLens, Prettier, etc)
That's why I was thinking there might be a problem with the registry where you host the extension versions

[2021-11-11 14:28] bwateratmsft commented on #3303
All are hosted by the VSCode extension marketplace; we don't have anything special going on with the Docker extension in particular for that.

[2021-11-12 11:16] v-mengwe opened #3311 "The (recently used) tag doesn't display next to the "console" container group when debugging again"
**OS:** Win10
**Build Version:** 2021111.5

**Repro Steps:**
1. Create a `mvc `project by "dotnet new mvc" -> Add Docker related files to it (Include optional Docker Compose files) -> Execute "Compose Up" for the docker-compose.yml file.
2. Create a `console` project by “dotnet new console" -> Add Docker related files to it (Include optional Docker Compose files) -> Execute "Compose Up" for the do

[2021-11-12 12:49] mjbogusz commented on #2977
Can't this be solved via the command templates? For me the default for `docker.commands.composeUp` is:
[code]
so the second one is already compose-v2.

Maybe the main command itself could simply be exposed as a setting (`docker.composeCommand`), tuning these templates into something like `"${composeCommand} ${configurationFile} up ${detached}"`? Then the default for the setting would be `docker-co

[2021-11-12 13:56] rickardgranberg opened #3312 "OOM opening a docker file containing ENV with default value"
Unrelated to any updates, I started having issues with Dockerfiles containing env statements with default values:

`ENV VARIABLE=${VARIABLE:-"default"}`

If I open a Dockerfile with this statement in it, VSCode starts to use CPU (some) and consume memory (a lot) until VSCode either pops up the dialog that the window has become unresponsive (which it is) or a dialog stating "oom code: -536870904"
I

[2021-11-12 14:18] mjbogusz opened #3313 "Allow configurable COMPOSE_FILE (use `.env` file)"
It would be great if this extension allowed usage of alternative compose files.

`docker compose` already allows using files other than `docker-compose.yml` as its configuration - either via an argument (`--file`), via an environment variable (`COMPOSE_FILE`) or via a `.env` file.

In my case I have several compose files - one for local development, one for CI, one for production deployment etc, b

[2021-11-12 14:19] bwateratmsft commented on #3312
@rcjsuen maybe another infinite loop issue?

[2021-11-12 14:20] bwateratmsft commented on #3313
In your scenario I'd use the `docker-compose` task: https://code.visualstudio.com/docs/containers/reference#_docker-compose-task

[2021-11-12 14:35] mjbogusz commented on #3313
Will this integrate with the docker sidebar and the `docker compose *` from command palette?

Also, I have other stuff in the `.env` file, like `COMPOSE_PROJECT_NAME` or, in this particular case, DB access data and Django's `SECRET_KEY` - how would I integrate that into the tasks solution?

[2021-11-12 14:39] bwateratmsft commented on #3313
The task allows you to specify `envFiles` so you can include your `.env` file in it. Unfortunately the `Compose Up` command and the right-click compose file -> compose up won't use the task--but you can run it by doing "Run Task" in the command palette and then choosing your task.

If you really want the palette command directly to Compose Up, you can use command customization to ensure the correc

[2021-11-12 14:43] bwateratmsft commented on #3311
This behavior comes from the `vscode-azureextensionui` package, but I think that it may not be fixable--when we do the "Docker .NET Core Attach (Preview)" action, we automatically do a refresh of the UI--thus, the tree node in the list is a new object. I don't recall exactly how the "(recently used)" calculates it, but it uses a hash code from the options available--if the objects change, the hash

[2021-11-12 14:49] mjbogusz commented on #3313
I'll try using the command customization, thanks for the tip!

I had a quick look at the sources of the extension and I can't find out why it doesn't use the `.env` file by default thought... `docker compose` should look for it in the directory it was launched and I assume it's the main workspace directory, right?

[2021-11-12 16:05] bwateratmsft commented on #3313
It depends whether you launch by right-clicking a compose file and doing Compose Up, or if you go through the command palette. In the former case, we will explicitly pass that file (and _only_ that file) via a `--file` argument. In the latter case, if there is only `docker-compose.yml` or `docker-compose.yml` + `docker-compose.override.yml`, we will run without any `--file` arguments, which should

[2021-11-12 16:10] bwateratmsft commented on #3224
Reopening, there's some changes that need to be made to the docs too: https://code.visualstudio.com/docs/containers/overview#_docker-compose

[2021-11-15 01:33] #3302 closed

[2021-11-15 03:10] conduongtong opened #3316 "Process 'docker context ls --format="{{json .}}"' exited with code 1"
![1](https://user-images.githubusercontent.com/43648013/141716278-a2921b28-331f-4230-a49f-dcd902a8ae58.png)
Sr for my bad english.
I got error as title, i've tried reinstall docker, vscode, extension, none of this works.
I've been using docker normally 2-3 months and stuck with this error. Please help me.
Command line and docker still works. only cannot see through vscode.
When i run docker contex

[2021-11-15 13:45] bwateratmsft commented on #3316
Same as #3249. Docker had a bug that corrupted the contexts file, try deleting `%USERPROFILE%\.docker\contexts` (Windows) or `~/.docker/contexts` (Mac and Linux), as in https://github.com/microsoft/vscode-docker/issues/3249#issuecomment-937772119.

[2021-11-15 13:45] #3316 closed

[2021-11-15 15:42] bwateratmsft commented on #2941
The upstream issue (https://github.com/docker/node-sdk/issues/67) has been fixed in Docker Desktop 4.2.0.

[2021-11-15 15:42] #2941 closed

[2021-11-15 18:37] bwateratmsft commented on #3268
This fix is now released in Docker extension version 1.18.0.

[2021-11-15 18:37] bwateratmsft commented on #3235
This fix is now released in Docker extension version 1.18.0.

[2021-11-15 18:37] bwateratmsft commented on #3199
This fix is now released in Docker extension version 1.18.0. The "403 Forbidden" error will be shown directly to help indicate that the token has insufficient permissions.

[2021-11-15 18:38] bwateratmsft commented on #3213
This fix is now released in Docker extension version 1.18.0.

[2021-11-15 18:38] bwateratmsft commented on #3063
This functionality is now released in Docker extension version 1.18.0.

[2021-11-15 18:39] bwateratmsft commented on #3222
This fix is now released in Docker extension version 1.18.0. The Compose language service has been enabled by default and most of the completions present in 1.16 have returned. Some are not there (especially older Compose spec v2 ones), but we think the most important ones are present.

[2021-11-15 20:50] rcjsuen commented on #3312
@rickardgranberg So just opening the file is bad but then closing it brings the memory back down? Can you reproduce this with a Dockerfile with just that single line?

[2021-11-16 07:00] rickardgranberg commented on #3312
Yes, just opening it is bad. Usually there's not enough time to close the file before the UI becomes unresponsive so I cannot really give an answer if the memory usage goes back down. I've succeeded in closing the file if I launch a new instance of VSCode and then it's fine. I'm assuming I succeed because I close the file before the extension is activated.

And yes, all I need is a Dockerfile with

[2021-11-16 10:26] rcjsuen commented on #3312
@rickardgranberg I haven't been able to reproduce this but I'm also on a Mac and I see that you are on Windows.

Can you try updating to the latest version of the extension? There is a 1.18.0 out now.

[2021-11-16 17:02] bwateratmsft commented on #3283
@Delapouite one feature that exists today, and may be helpful if you have relatively few volumes, is the tooltips if you hover over a volume with the mouse pointer:
![image](https://user-images.githubusercontent.com/36966225/142030933-f375f447-74e7-46ac-b0c7-2b457a95e110.png)
![image](https://user-images.githubusercontent.com/36966225/142030786-b3819dcd-ea0b-42c9-ab24-314e30365b87.png)

This conta

[2021-11-16 17:12] bwateratmsft commented on #1300
I'm going to close this, it doesn't seem to be necessary--not really any volume of user reports that indicate confusion.

[2021-11-16 17:12] #1300 closed

[2021-11-16 17:15] bwateratmsft commented on #2922
I think the only features we could support in a virtual workspace would be the language servers, which would probably also require some changes to eliminate any Node dependencies. I think the rest of the features actually require a Docker instance.

[2021-11-16 17:16] bwateratmsft commented on #1408
Maybe replace this with an Insiders build of the extension: https://github.com/microsoft/vscode/issues/15756#issuecomment-967006890

[2021-11-16 21:41] bwateratmsft opened #3319 "Change our dev-time imports to `import type`"
TS 3.8 has an [`import type`](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-8.html#type-only-imports-and-export) feature, which allows us to specify that an import is _only_ a dev-time import. We have a lot of such imports in the code, this would help us make sure they don't accidentally become runtime imports.

Thanks @alexweininger for telling me about this!

[2021-11-17 08:03] eladavron opened #3320 "Allow use of environment/debug variables in `dockerServerReadyAction`"
Hi
I have the following use case:
I have a web server started inside a docker container which can not be accessed with `localhost` or an IP address, but instead - due to the way our SSO system works, must be accessed using the host's name FQDN: (e.g. `https://my-computer.contoso.com`).

While it's possible to just hard-code my host's url into `launch.json`, I want it to be versatile enough so that

[2021-11-17 11:42] philippdormann opened #3321 "v1.18.0 broke image pushing to GitLab Container Registry"
when clicking "Docker Images: Push" via the VS Code Command Palette, the image selection gets displayed properly.

when submitting (ENTER), the push fails with this error
[code]

pushing via `docker push <image>` works just fine

for now, rolling back to v1.17.0 works

## system info
- Docker version 20.10.8, build 3967b7d
- VS Code 1.63.0-insider

[2021-11-17 12:57] rickardgranberg commented on #3312
With version 1.18.0, I no longer experience the problem. Closing this issue.

[2021-11-17 12:57] #3312 closed

[2021-11-17 13:02] rcjsuen commented on #3312
@rickardgranberg Thanks for testing it out! Have a nice day! 👍

[2021-11-17 13:46] bwateratmsft commented on #3321
What scopes are present on the access token you are using?

[2021-11-17 14:55] bwateratmsft commented on #3321
I guess raising that error is a side-effect from #3242, where before it would be suppressed and things would proceed (accidentally, I would argue). While the Docker CLI only requires `write_registry` to push an image, the extension itself requires the `read_api` or `api` scopes in order to enumerate projects. In your case, `read_api` and `write_registry` I think would be sufficient, otherwise `api

[2021-11-17 15:17] mjbogusz commented on #3313
I've experimented a bit and apparently the extension expects a specific filename pattern for the compose files.

I.e. if my compose is named `docker-localhost.yml`, then running Compose Up only prompts:

The same happens if I add the following to my `.code-workspace`:
[code]
but if I rename that to `docker-compose.localhost.yml` then it gets picked up and started even without customizing the comma

[2021-11-17 15:33] bwateratmsft commented on #3313
Not all YAML files are compose files, hence why `YAML_GLOB_PATTERN` detects all YAML (it is being used for a different purpose than detecting compose files).

You can use a nonstandard filename like `docker-localhost.yml`, but you'll need to add the following to settings:

[code]

This will enable right-clicking the file to do Compose Up. I did discover a bug where it will not show up in the Quick

[2021-11-17 18:57] bwateratmsft opened #3324 "`maskValue` is corrupting telemetry data seemingly at random"
Cloning from upstream: https://github.com/microsoft/vscode-azuretools/issues/1024

I'm going to create an issue here and mark it tracking, this is fairly serious for us...

A better upstream implementation: https://github.com/microsoft/vscode-extension-telemetry/issues/80 and https://github.com/microsoft/vscode-extension-telemetry/issues/81

[2021-11-17 19:14] bwateratmsft commented on #3320
Might be automatically fixed if #2289 is implemented.

[2021-11-17 19:31] bwateratmsft commented on #3224
That doc PR is merged. Done!

[2021-11-17 19:31] #3224 closed

[2021-11-17 20:09] bwateratmsft commented on #3320
Good news, you can actually do this now! In your scenario, just use `${env:HOSTNAME}` instead of `${HOSTNAME}`. Our variable substitution logic works on most things in https://code.visualstudio.com/docs/editor/variables-reference#_environment-variables.

[2021-11-17 20:09] #3320 closed

[2021-11-17 20:13] bwateratmsft commented on #3304
What type of app do you have @sw34? Node, Python, .NET?

[2021-11-17 20:24] sw34 commented on #3304
.Net 5 (actually now 6) web api

[2021-11-17 20:35] bwateratmsft commented on #3304
Ok, here's what I got working with a .NET 6 MVC app:

In `.vscode/launch.json`:
[code]

In `.vscode/tasks.json`:
[code]

One prerequisite ahead of time (there's a good chance you've already met it), to make sure `vsdbg` gets downloaded. If you have the "Docker .NET Core Launch" debug configuration, you can run it, and it will download the debugger if it doesn't already have it. Even if it doesn't

[2021-11-17 20:42] bwateratmsft commented on #3305
Yes, we do scaffold these. We could add such a user parameter but then again, the end user could also just add the volumes manually (as in the workaround); this would work today without any changes. I don't feel strongly but there's something to be said for not adding new properties when existing ones can work. (If that's the approach we go with, I'd still dual map `/home/appuser` so that not ever

[2021-11-17 20:47] philippdormann commented on #3321
adding the `read_api` scope solves this issue 😉

[2021-11-17 20:54] bwateratmsft commented on #3321
Great! I'll close this since it's working as desired with `read_api` and `write_registry`.

Thank you for filing this! Hopefully it will help anybody else who runs into the same issue.

[2021-11-17 20:54] #3321 closed

[2021-11-17 22:03] ucheNkadiCode commented on #2636
Closing this issue as we do not have plans to provide scaffolding/debugging support for C++ executables.

[2021-11-17 22:03] #2636 closed

[2021-11-17 22:12] bwateratmsft commented on #2636
We already have some scaffolding support though it is very old and probably not that good. The big challenge is that C++ projects tend to almost always have a unique build / structure that would make creating a common Dockerfile impossible.

[2021-11-18 09:41] eladavron commented on #3320
Worked great, thank you!

[2021-11-18 17:00] CharlesNadolskiNtrs opened #3325 "Can't sign in to Docker Enterprise Trusted Registry 2.7.8"
### Steps to reproduce

Open the command palette using `F1` or `CTRL+SHIFT+P`, and select "Docker Registries: Connect Registry".
Next, select "Generic Docker Registry" as a provider.
Enter our internal Docker Enterprise Trusted Registry as the URL, and enter our corporate credentials.
Click on the Docker whale icon and expand Registries.
Our internal Docker Enterprise Trusted Registry URL shows up

[2021-11-18 17:01] bwateratmsft commented on #3325
This is a known limitation at this time, tracked on #869. I'll add this issue to that list.

[2021-11-18 17:01] #3325 closed

[2021-11-19 05:31] #3298 closed

[2021-11-19 10:40] azuregos opened #3326 "Format Document command inserts unnecessary `null` values into the docker-compose.yml file"
There is an issue when calling 'Format Document' on a Docker compose file in Docker plugin v1.18.0
When called additional `null` values are added to the file.

### Reproduction Scenario

1. Create `docker-compose.yml` file with the following content
[code]
2. In VsCode invoke a 'Format Document' command
3. Note the added `null` values to the file:
[code]
------------
VsCode Version
[code]

[2021-11-19 15:21] bwateratmsft commented on #3326
Thanks @azuregos, I'll transfer this to the compose language service' repo.

[2021-11-20 00:45] wedi opened #3327 "Autoformatting breaks Dockerfile with heredoc"
Using the new heredoc syntax in Dockerfiles used to trigger error messages in VS Code but autoformatting did not interfere with it. Unfortunately this has changed (unfortunately I cannot tell when): since some time autoformatting indents the end marker and following lines which makes it impossible to use autoformatting on save.

This dockerfile

[code]

becomes

[code]

 after formatting.

[2021-11-20 11:45] rcjsuen commented on #3327
@wedi Thanks for the bug report.

For a workaround, you can set the `"docker.languageserver.formatter.ignoreMultilineInstructions"` preference to `true`. See #2976.

[2021-11-20 16:42] gibboneto opened #3328 "Docker not found when running images"
Does this occur consistently? YES
Repro steps:
Trying to execute the RUN and RUN INTERACTIVE functions of the VSCODE Docker Extension on any image, I get the following error:

[code]

NB:
All Docker CLI commands are working normally within the integrated zsh terminal.

All the other docker extensions commands are working normally on running containers.

Version: 1.18.0
OS: darwin
OS Release: 21.1.

[2021-11-20 17:00] dirrgang opened #3329 "Docker Desktop fails to connect to daemon."
Issue Type: <b>Bug</b>

Despite docker desktop running and being able to otherwise use docker normally, the extension is unable to connect to the daemon.

Extension version: 1.18.0
VS Code version: Code 1.62.3 (ccbaa2d27e38e5afa3e5c21c1c7bef4657064247, 2021-11-17T08:11:14.551Z)
OS version: Windows_NT x64 10.0.22000
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|--

[2021-11-21 11:29] jacekplocharczyk opened #3330 "Fail to list containers after switching context"
Hey,

I'm trying to connect to docker running on my PC in the local network from Mac.
I'm able to change context (using vscode extension) and print all running containers running `docker ps` in CLI but they aren't showing up in the vscode extension containers section:
![image](https://user-images.githubusercontent.com/41325597/142760000-3531318b-95cf-4960-8d4a-a8790b2f21df.png)

Docker extension:

[2021-11-22 09:59] wedi commented on #3327
Thanks! I definitely prefer fixing multiline commands myself over fixing the dockerfile in an external editor. :)

[2021-11-22 16:51] karolz-ms commented on #3330
How exactly is the Docker context defined? Does it involve SSH?

[2021-11-22 17:06] karolz-ms commented on #3328
Most likely a duplicate of https://github.com/microsoft/vscode-docker/issues/3281
But thanks anyway, appreciate helping us make the extension better!

[2021-11-22 17:06] #3328 closed

[2021-11-22 17:14] jacekplocharczyk commented on #3330
Yes, it's over ssh.

I have Ubuntu 18.10 on PC with docker daemon running.

I'm authenticating using private key which path is defined in `~/.ssh/config`. Password login is forbidden.

I've created context using: `docker context create home-desktop --docker "host=ssh://[user]@[host]"`

So I'm able to login to PC using just `ssh user@host` with host defined in `config`.

Also, I found workaround by

[2021-11-22 17:25] karolz-ms commented on #3330
Makes sense, thanks for the clarification.

Remoting to the machine with Docker daemon running is generally recommended if remote Docker daemon needs to be used: https://code.visualstudio.com/docs/containers/choosing-dev-environment#_remote-machine
May I ask why you choose this setup? I.e. why use remote Docker daemon, as opposed to installing Docker Desktop on your Mac?

The extension can be made

[2021-11-23 14:13] jacekplocharczyk commented on #3330
I'm playing with deep learning and on PC I have GPU so I'm able to use CUDA from container.

Interesting thing is that I was able to connect to the container running on GCP VM with GPU using docker context (but it didn't work flawless - some vs window reload was necessary)

Thanks for help - knowing that attaching to ssh target and connecting to local docker is a way to go is the solution to me :s

[2021-11-23 14:13] #3330 closed

[2021-11-24 13:27] draiyz opened #3331 "Error: proces "docker context ls --format="{{json.}} exited with code 1"
what does this mean?

[2021-11-25 05:31] #3307 closed

[2021-11-25 15:46] martinrotzinger opened #3332 "Docker Registry: Lets Encrypt certificate has expired"
Does this occur consistently? Yes.
Repro steps:

1. Run Visual Studio Code 1.62.3 or Visual Studio Code Insiders 1.63-0-insider
2. Use Docker extension   1.18.0
3. connect to a docker registry using https and domain using lets encrypt certificate

Action: AzureTreeDataProvider.getChildren
Error type: CERT_HAS_EXPIRED
Error Message: request to redacted:url failed, reason: certificate has expired

V

[2021-11-26 12:54] bablybaqrtasri opened #3333 "faile to connect containers"
Does this occur consistently?
Repro steps:

1.
2.

Version: 1.18.0
OS: linux
OS Release: 5.10.47-linuxkit
Product: Visual Studio Code
Product Version: 1.62.3
Language: en

[2021-11-28 09:04] arinzejustin opened #3334 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-docker`
- Extension Version: `1.18.0`
- OS Version: `Windows_NT x64 10.0.10240`
- VS Code version: `1.62.3`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`c:\Users\<name>\AppData\Local\Temp\ms-azuretools.vscode-docker-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wi

[2021-11-29 15:12] bwateratmsft commented on #3331
I'd guess this is probably #3249. Try deleting the `~/.docker` folder as in https://github.com/microsoft/vscode-docker/issues/3249#issuecomment-937772119.

[2021-11-29 15:12] #3331 closed, assigned to nobody

[2021-11-29 15:15] bwateratmsft commented on #3332
This is an external issue: https://github.com/microsoft/vscode/issues/136787. There is a workaround suggested in [this comment](https://github.com/microsoft/vscode/issues/136787#issuecomment-969065291) that may help.

[2021-11-29 15:15] #3332 closed

[2021-11-29 15:16] bwateratmsft commented on #3333
@bablybaqrtasri can you add repro steps and the error message you are seeing?

[2021-11-29 15:16] bwateratmsft commented on #3334
@arinzejustin can you add the cpuprofile file?

[2021-11-29 15:18] #3319 closed

[2021-11-29 17:39] bwateratmsft commented on #3277
This might be a Mac thing, in Windows the `cwd` seems to always be `"C:\Users\userName\AppData\Local\Programs\Microsoft VS Code"`.

@philliphoff do you know where the code for resolving the source maps would be? Our [code](https://github.com/microsoft/vscode-docker/blob/main/src/debugging/node/NodeDebugHelper.ts#L95-L98) substitutes in `'${workspaceFolder}'` if it is `undefined` (which is not the

[2021-11-29 18:09] bwateratmsft commented on #3313
Fixed by #3323

[2021-11-29 18:09] #3313 closed

[2021-11-29 18:55] bwateratmsft commented on #3290
I looked into this further and it would require changing the interface' meaning: https://github.com/microsoft/vscode-docker/blob/main/src/docker/DockerApiClient.ts#L37

It's  _probably_ safe to do so but I'm not real excited about that. Though perhaps it would be more practical once #3263 is done.

[2021-11-30 00:09] ucheNkadiCode commented on #3290
That's definitely an option, we could also do "isDangling: boolean" which would make it more of a toggle. How would that be represented in the extension? Would it be a dropdown menu pretty much?

I like the trinary idea through since we want there to be a way for the user to see all of their images, all the dangling images (which totally could be empty if all images are being used), or just the NO

[2021-11-30 12:28] JM-Lemmi opened #3337 "Show more Info in Network Panel"
It would be nice, if the network panel could show more information with a dropdown.

The most useful information in my opinion would be a list of containers connected to the network (and their IP addresses). You can currently get this info from the Inspect-option, but having this info at a glance would be nice.

Mockup:
![github-vscodedocker-netpanel-mockup](https://user-images.githubusercontent.c

[2021-11-30 14:52] bwateratmsft commented on #3337
It's not as detailed but the tooltip will show containers:
![image](https://user-images.githubusercontent.com/36966225/144069873-1d1dd648-b9c5-4080-9f9d-ab49465dde46.png)

[2021-11-30 15:00] bwateratmsft commented on #3290
I don't think a trinary in the extension UX is necessary, just in the interface.

Honestly I'm a little skeptical of showing dangling images in general...they are all tagged "<none>:<none>" which is not helpful. All the clearly-identifying information (namely the tag) has been stripped; this is Docker's design. But, we have the feature now, so a takeback isn't a good idea.

[2021-11-30 15:02] #3270 closed

[2021-11-30 15:30] #3305 closed

[2021-11-30 15:50] bwateratmsft commented on #3297
I can't think of anything to do here. The only thing that comes to mind is a way to attach a shell to containers, but the way the terminal provider's registrations work, we would have to register a provider for _each_ container; it would be hacky at best and is far from the intended use case of terminal providers.

If Docker had an interactive CLI that would be an obvious candidate but that isn't

[2021-11-30 15:50] #3297 closed

[2021-11-30 15:53] bwateratmsft commented on #2884
.NET 6 is now GA'd. Omnisharp support has not yet arrived but seems to be [close](https://github.com/OmniSharp/omnisharp-vscode/issues/2771#issuecomment-971199197). I will move this to 1.20 since it will take time for that to become available.

[2021-11-30 17:27] #3266 closed

[2021-11-30 18:28] bwateratmsft commented on #3282
Putting here something we discussed offline; if we're using PowerShell anyway maybe we can use `Get-ChildItem` and get WMI out of the equation.

[2021-12-01 06:50] v-mengwe opened #3340 "The task is not the name of the running container when executing "View Logs" for a running container"
**OS:** All
**Build Version:** 20211130.10
**Regression:** Not a Regression

**Repro Steps:**

1. Right click a running container -> Select "Attach Shell" -> Check the task.
2. Right click the same one -> Select "View Logs".
3. Check whether the task is the name of the running container.

**Expect:**
The task is the name of the running containerL.

**Actual:**
The task is the name of the image.
![

[2021-12-01 09:45] v-xinda opened #3341 "An extra command `ipc no event received : <nil>` displays in the TERMINAL window after executing docker login"
**OS:** Windows
**Build Version:** 20211130.10

**Repro Steps:**

1. Navigate to TERMINAL window -> Type `docker login <registry-name>.azurecr.io` -> Enter.
2. Check whether only display `Username:` in the TERMINAL window.

**Expect:**
Only display `Username:` in the TERMINAL window.

**Actual:**
An extra command `ipc no event received : <nil>` displays in the TERMINAL window.
![image](https://use

[2021-12-01 11:05] MikeMichel opened #3342 "Add submenu to "Build image" for arm64 etc"
...where under the hood `docker buildx build --platform linux/arm64` etc. is triggered so you can choose for which platform you want to build.

or add in the field for the image name after you clicked "Build image" the option to choose even multiple target architectures via checkbox so a `docker buildx build --platform linux/amd64,linux/arm64,linux/arm/v7 ...` is executed.

[2021-12-01 14:08] bwateratmsft commented on #3341
This comes from the CLI and is out of our control. @karolz-ms also mentioned it would be removed in the final build.

[2021-12-01 14:08] #3341 closed

[2021-12-01 14:09] bwateratmsft commented on #3340
Good idea. This is a very easy change so I'll just go ahead and get it into 1.19.

[2021-12-01 14:18] bwateratmsft commented on #3342
In this scenario the best choice would be either the Docker extension's [command customization](https://code.visualstudio.com/docs/containers/reference#_command-customization) or a generic [VSCode shell task](https://code.visualstudio.com/Docs/editor/tasks#_custom-tasks). If you go with command customization, the workspace settings (rather than user settings) is probably the best place.

[2021-12-01 14:18] #3342 closed

[2021-12-01 18:15] #3340 closed

[2021-12-01 19:06] bwateratmsft commented on #3327
@rcjsuen do you want to create an issue in https://github.com/rcjsuen/dockerfile-language-server-nodejs for this? Or keep it here?

[2021-12-01 19:27] bwateratmsft commented on #3290
Per discussion we'll won't-fix this, the changes in #3336 are good enough for now.

[2021-12-01 19:27] #3290 closed

[2021-12-01 21:35] #3324 closed

[2021-12-02 00:35] rcjsuen commented on #3327
I've opened https://github.com/rcjsuen/dockerfile-utils/issues/105 to track this.

[2021-12-02 15:33] bwateratmsft commented on #3327
Sounds good. Since there's a workaround and we pick up the latest language server regularly I'll close this one.

[2021-12-02 15:33] #3327 closed

[2021-12-02 18:01] bwateratmsft commented on #2933
The others that get solved by #3263 are all put in the future bucket, so I'll do that with this one as well.

[2021-12-02 18:09] bwateratmsft commented on #1287
It's been a long time since there have been any updates to https://github.com/microsoft/vscode/issues/62783 so it seems unlikely it will happen. I am still following that issue, but for the meantime, I will close this one to keep the Future milestone a little clearer.

[2021-12-02 18:09] #1287 closed

[2021-12-02 19:00] ucheNkadiCode commented on #3297
@bwateratmsft Okay I trust your judgment, let's hold off on this for now

[2021-12-02 19:16] bwateratmsft commented on #2391
Potentially fixed by #3263.

[2021-12-02 19:17] #1824 closed

[2021-12-02 19:19] bwateratmsft commented on #2695
I'm going to close this issue for now; there haven't been other instances and doing the CLI detection would be extremely challenging + intelligence.

[2021-12-02 19:19] #2695 closed

[2021-12-02 19:24] bwateratmsft commented on #874
Closing, the interest doesn't seem to be there.

[2021-12-02 19:24] #874 closed

[2021-12-02 19:26] bwateratmsft commented on #1335
Closing this; the interest doesn't seem to be there and it would likely be _very_ complex.

[2021-12-02 19:26] #1335 closed

[2021-12-02 19:31] bwateratmsft opened #3346 "Support for additional languages/platforms"
I'm going to create an umbrella issue to cover the requests for additional language/platform support. Having one issue will make triage easier for us. Similar to #869.

In no particular order:

- [ ] PHP (#752)
- [ ] Ruby (#1847)
- [ ] PowerShell (#2508)
- [ ] Blazor WASM (#2034)
- [ ] React (#2751)
- [ ] Angular (#2751)
- [ ] Vue.js (#2751)
- [ ] Golang (#3229)

[2021-12-02 19:31] bwateratmsft commented on #752
Duping to #3346 (umbrella issue)

[2021-12-02 19:31] #752 closed

[2021-12-02 19:31] bwateratmsft commented on #1847
Duping to #3346 (umbrella issue)

[2021-12-02 19:31] #1847 closed

[2021-12-02 19:32] bwateratmsft commented on #2508
Duping to #3346 (umbrella issue)

[2021-12-02 19:32] #2508 closed

[2021-12-02 19:32] bwateratmsft commented on #2034
Duping to #3346 (umbrella issue)

[2021-12-02 19:32] #2034 closed

[2021-12-02 19:32] bwateratmsft commented on #2751
Duping to #3346 (umbrella issue)

[2021-12-02 19:32] #2751 closed

[2021-12-02 19:33] bwateratmsft commented on #3229
Duping to #3346 (umbrella issue)

[2021-12-02 19:33] #3229 closed

[2021-12-02 19:35] bwateratmsft commented on #1330
Closing this for now; the interest doesn't seem to be there.

[2021-12-02 19:35] #1330 closed

[2021-12-02 19:35] bwateratmsft commented on #1332
Closing this for now; the interest doesn't seem to be there.

[2021-12-02 19:35] bwateratmsft commented on #1328
Closing this for now; the interest doesn't seem to be there.

[2021-12-02 19:35] #1328 closed

[2021-12-02 19:36] bwateratmsft commented on #1125
Closing this for now; the interest doesn't seem to be there.

[2021-12-02 19:36] #1125 closed

[2021-12-02 19:38] bwateratmsft commented on #2326
Basically covered by #2539 so I'm going to close this one.

[2021-12-02 19:38] #2326 closed

[2021-12-02 19:45] bwateratmsft commented on #2637
Duping to #3346 (umbrella issue)

[2021-12-02 19:45] #2637 closed

[2021-12-02 19:47] bwateratmsft commented on #2557
We will stick with the progress toast for now.

[2021-12-02 19:47] #2557 closed

[2021-12-03 17:15] draiyz commented on #3331
hey thanks for the reply. the context file was corrupted. I had to delete it content and set the context to default.
it works perfectly now

[2021-12-03 18:15] willfrey opened #3347 "Dockerfile language server hangs"
I'm having the Dockerfile language server hang repeatedly. The only fix is for me to manually kill the process in a terminal.

Does this occur consistently?  Yes
Repro steps:

1. Start writing an instruction in a Dockerfile that requires two or more arguments, e.g.
[code]
2. Watch the Dockerfile language server eat up 99% of the CPU

Version: 1.18.0
OS: darwin
OS Release: 21.1.0
Product: Visual St

[2021-12-03 20:41] rcjsuen commented on #3347
@willfrey Thanks for the bug report. Something similar was reported a few weeks back in #3312 but the other person could not reproduce it anymore. Given that we're not seeing widespread reports of this and a Dockerfile with an instruction that has two arguments are a dime a dozen (like your example, a lot of people use `COPY` to move source code and build artifacts around), I'm not sure it is pure

[2021-12-05 04:54] Bkoji1150 opened #3348 "one"
Does this occur consistently?
Repro steps:

1.
2.

Version: 1.18.0
OS: darwin
OS Release: 20.6.0
Product: Visual Studio Code
Product Version: 1.62.3
Language: en

[2021-12-06 13:34] willfrey commented on #3347
@rcjsuen Thanks for the reply!

It seems to be better behaved today but I will keep an eye out for if it acts up again. If it does, I'll follow up on here.

[2021-12-06 13:56] henrahmagix opened #3349 "Language server errors whilst writing `COPY --from` line"
This means VS Code alerts me with a popup in the bottom right, saying:

Viewing the output for "Dockerfile Language Server", I see multiple repetitions of the following:
[code]

To reproduce, in a Dockerfile, start writing `COPY --from=something`: the line will be highlighted red and the tooltip info will say "COPY requires at least two arguments - dockerfile-utils(7)" – this is helpful =) Then st

[2021-12-06 14:28] rcjsuen commented on #3349
@henrahmagix Thank you for the bug report. I was able to successfully reproduce this and will take a look at it.

[2021-12-06 14:32] #3348 closed

[2021-12-06 15:33] bwateratmsft commented on #3347
I guess I'll close this for now, please let us know if it reoccurs @willfrey! Thanks!

[2021-12-06 15:33] #3347 closed

[2021-12-06 19:42] DanKaplanSES opened #3350 "Docker compose files do not have autocomplete for "args:""
[According to the compose file documentation, there is an `args` nested under `build`.](https://docs.docker.com/compose/compose-file/compose-file-v3/#args) But when I try to use autocomplete, it's not one of the items in the list.

Expected: autocompletion of `args` when nested under `build`

Actual: `args` does not exist as one of the available autocomplete keys

[2021-12-06 19:49] bwateratmsft commented on #3350
Thanks @DanKaplanSES, you are correct. This is something we're planning to add in the next release; we have an issue here: https://github.com/microsoft/compose-language-service/issues/48

I'll transfer this issue to the language service repo, and resolve it as a duplicate.

[2021-12-06 22:51] rcjsuen commented on #3349
I've opened https://github.com/rcjsuen/dockerfile-language-server-nodejs/issues/258 to track this.

[2021-12-07 05:31] #3329 closed

[2021-12-07 14:49] bwateratmsft commented on #3349
Thanks @rcjsuen! Like #3327, I'll close this one since language server updates are regularly picked up.

[2021-12-07 14:49] #3349 closed

[2021-12-07 19:02] bwateratmsft commented on #3277
@jwalton can you try debugging locally (no Docker) and see if the same issue occurs? This seems to me like a JS debug issue, not anything to do with the Docker extension.

[2021-12-07 21:47] #3281 closed

[2021-12-07 22:51] willfrey commented on #3347
It's happening 🙃

[code]
![Screen Shot 2021-12-07 at 5 50 27 PM](https://user-images.githubusercontent.com/13784361/145118056-173a1a26-cb45-4e28-86ac-0a991b476bd9.png)
![Screen Shot 2021-12-07 at 5 49 27 PM](https://user-images.githubusercontent.com/13784361/145118075-6ddd816e-dc7f-46de-ba54-485653dcf883.png)
![Screen Shot 2021-12-07 at 5 47 15 PM](https://user-images.githubusercontent.com/1378436

[2021-12-07 23:23] rcjsuen commented on #3347
@willfrey Thanks for the screenshots and Dockerfile! WIll investigate...

[2021-12-07 23:57] rcjsuen commented on #3347
@willfrey I've opened https://github.com/rcjsuen/dockerfile-language-service/issues/99 to track this. The issue seems to be contingent on your build stage being the same name as an image.

Instead of...
[code]
...if you change it to something like...
[code]
....or anything else, it should be fine.

Thank you so much for reporting this. Have a great day! :)

[2021-12-08 08:43] henrahmagix commented on #3349
Thanks so much!

[2021-12-08 13:25] willfrey commented on #3347
Interesting! Thank you for the workaround 🙂

[2021-12-08 20:00] #3282 closed

[2021-12-08 21:14] bwateratmsft commented on #2753
Need to work out what scopes we should define. Password auth gives a scope of "" (empty string) and appears to have full permissions. Using a PAT can yield one of the following four scopes: `repo:admin`, `repo:write`, `repo:read`, `repo:public_read`, in descending order of access. More here: https://docs.docker.com/docker-hub/api/latest/#tag/access-tokens

Also, it seems like the scope accepted by

[2021-12-09 15:59] bwateratmsft commented on #1408
I looked and we have at most 3 external users with a nightly build installed, and odds are at least some of those 3 are actually internal. IMO the interest just is not there, not enough to justify working on a proper version using the new pre-release extension feature.

[2021-12-10 14:37] bwateratmsft commented on #3334
Ok. So it's unlikely but still possible that VSCode is tracking the CPU usage of those child processes and associating it back to the extension that spawned it.

Also I see this in the process explorer, so it's _definitely_ a separate process:
![image](https://user-images.githubusercontent.com/36966225/145590896-352519d5-bba7-460c-9f92-ecbbd75e451c.png)

[2021-12-10 19:08] #702 closed

[2021-12-13 05:30] PouletteMC opened #3356 "Cannot get images from registry | Extension call the wrong endpoint"
Does this occur consistently? Yes or No -->
Repro steps:

1. Create a Docker Registry using the official image
2. Try to connect to it
3. The extension goes to `https://registry.domain.com/v2` instead of `https://registry.domain.com/v2/_catalog` so it can't see the files

Action: AzureTreeDataProvider.getChildren
Error type: CERT_HAS_EXPIRED
Error Message: request to redacted:url failed, reason: c

[2021-12-13 14:56] bwateratmsft commented on #3356
This is an external issue: https://github.com/microsoft/vscode/issues/136787. There is a workaround suggested in [this comment](https://github.com/microsoft/vscode/issues/136787#issuecomment-969065291) that may help.

[2021-12-13 14:56] #3356 closed

[2021-12-14 05:31] #3333 closed

[2021-12-14 05:31] #3304 closed

[2021-12-20 11:23] chrishdx opened #3358 "Server gave HTTP response to HTTPS client"
Hi there,
when I am connected to the Docker host via an unencrypted TCP connection I get the containers, networks etc. listed and can also start and stop them. However, as soon as I try to interact with the containers, I get the following error message:

error during connect: Get https://192.168.21.222:2375/v1.24/containers/52f60b035f1b8fcb3d19c42cd7fe002f5e9dd28c78fe626eb3e6a1c5e40d1be5/json: htt

[2021-12-20 13:51] kasperschnack opened #3359 "Hot Reloading for FastAPI Docker Debugger"
Hi there!

I really love being able to use the vs code debugger when running my containerized FastAPI app <3! It's super awesome!
However I cannot get hot reloading to work which would really make the whole thing complete IMO.

I've tried both setting --reload in Dockerfile and in tasks.json but it doesn't seem to work :/.

Am I doing it wrong or is it still not implemented?

Thanks!

[2021-12-22 05:32] #3277 closed

[2021-12-22 11:09] jinhua115 opened #3360 "wei"
这种情况是否一致发生？ 重现步骤： 1.2. 版本： 1.18.0 操作系统： win32 操作系统 版本： 10.0.22523 产品： Visual Studio Code 产品版本： 1.62.2 语言： zh-cn

[2021-12-22 11:09] #3360 closed

[2021-12-22 18:41] MathiasMagnus commented on #3295
@bwateratmsft Thanks for your reply, as it turns out `SSH_AUTH_SOCK` is already set to the named pipe that Win32-OpenSSH recognizes. This is set by the `agent-gui`, the primary helper in win-gpg-agent. The list of things the helper does are summarized [here](https://github.com/rupor-github/win-gpg-agent#agent-guiexe), of which one is:

On the remote end, I have in my .bashrc file the following sni

[2021-12-24 09:34] soulake2012 opened #3361 "first install docker"
Does this occur consistently?
Repro steps:

1.
2.

Action: vscode-docker.installDocker
Error type: 3
Error Message: Process '"C:\Users\User01\AppData\Local\Temp\docker_1640338...' exited with code 3
Error:

Version: 1.1.0
OS: win32
OS Release: 10.0.18362
Product: Visual Studio Code
Product Version: 1.42.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2021-12-25 05:31] #3334 closed

[2022-01-03 14:36] bwateratmsft commented on #3295
That makes sense. We're working on a CLI-only Docker client (#3263), that would solve this if Remote - Containers is able to work correctly.

[2022-01-03 14:40] bwateratmsft commented on #3358
What value do you have for environment variable `DOCKER_HOST` or VSCode setting `docker.host`? Or are you using contexts? It seems like Dockerode is content but the CLI might be having issues with the connection.

[2022-01-03 14:41] bwateratmsft commented on #3361
@soulake2012 are you able to install Docker manually? There are a wide variety of reasons why install might fail automatically.

[2022-01-03 15:56] bwateratmsft commented on #3359
Changing this over to a Discussion.

[2022-01-03 16:09] bwateratmsft opened #3363 "`python:slim` image not working for FastAPI"
We recently [changed](https://github.com/microsoft/vscode-docker/pull/3294) to using just `python:slim` for the base image, which equates (currently) to `python:3.10-slim-bullseye`. Previously, we used `python:3.8-slim-buster`. However, I noticed that my FastAPI app failed to build; it appears `gcc` is needed as part of the pip install, and is missing on 3.9+ Python images.

[2022-01-03 16:11] bwateratmsft commented on #3363
Correction...`gcc` isn't present in 3.8 images either, but apparently isn't needed during pip install on 3.8.

[2022-01-03 16:35] bwateratmsft commented on #3363
I don't know enough about how Python packages work to solve this in a better way than just switching to `python:3.8-slim`. Python 3.8 will be supported for almost three more years so...let's just do that.

[2022-01-03 16:57] karolz-ms commented on #3363
Is Python 3.9 an option?

[2022-01-03 17:00] bwateratmsft commented on #3363
I tried 3.9, 3.10, and 3.11; all had the same or variations of the same issue.

[2022-01-04 16:41] #3363 closed

[2022-01-05 03:38] tcladet opened #3365 "Simple Python script remote debugging in Docker container leads to 'Invalid message: "debugLauncherPath" must be str'"
I am trying to trigger a remote debugging session (on local VM) in a Python container on a really simple Hello World example:

### Configuration

- Host OS: **Windows 10**
- Guest OS: **CentOS 7.9** (local Vagrant box)
- VS Code: **1.63.2**

_Extensions_
- Remote - SSH: **0.70.0**
- Docker: **1.18.0**
- Python: **2021.12.1559732655**

### Scenario

I am following the official documentation here: [

[2022-01-05 13:17] andiahmads opened #3366 "<!-- IMPORTANT: Please be sure to remove any private information before submitting. -->"
Does this occur consistently?
Repro steps:

1.
2.

Version: 1.18.0
OS: linux
OS Release: 5.11.0-43-generic
Product: Visual Studio Code - Insiders
Product Version: 1.64.0-insider
Language: en

[2022-01-05 16:24] #3366 closed

[2022-01-05 18:31] benatshippabo opened #3367 "On a Mac, the extension keeps timing out when using Podman instead of Docker"
## Steps to reproduce

[code]

Then set the vscode config to use Podman:

[code]

Afterwards, go to the Docker extension and see the following:
![image](https://user-images.githubusercontent.com/66273043/148268302-2a8e217b-0116-4fd9-a3db-b5ff49800211.png)

## Expected outcome
After configuring the Docker extension, the user should see the list of created containers.

## Context
cross posted here a

[2022-01-05 18:49] bwateratmsft commented on #3365
Could be related to the remote setup, I'll have to give it a try to be sure. Last I tried, Python debugging was working in Codespaces setups which isn't too different from remote SSH.

That entrypoint of just `python3` is intentional for debugging; rather than launching the app, we launch the container with a do-nothing task to keep it alive. Then, we hand off control to the Python extension; it w

[2022-01-05 18:56] bwateratmsft commented on #3367
@benatshippabo do you have an SSH agent set up? Our explorer uses the `dockerode` NPM package, which in turn uses `ssh2`, which unfortunately _requires_ an SSH agent--it is not able to pick up anything from `~/.ssh`, unlike the Docker CLI (and presumably the Podman CLI too). I've noticed in the past that `ssh2` throws a timeout error when it tries and fails to connect to an SSH agent.

More info a

[2022-01-05 19:19] tcladet commented on #3365
No Python Debug Console instance appears...

![image](https://user-images.githubusercontent.com/6628041/148274489-93b0b570-1d28-40e9-900d-4be13242e494.png)

But there is a plot twist. It works just now !? I literally took these three screenshots (the one above and the two below) in the space of a minute !? With just a `F5` trigger that separate these two events !?

![image](https://user-images.git

[2022-01-05 19:25] benatshippabo commented on #3367
@bwateratmsft  Thanks for the swift reply, I think we are getting somewhere. After adding the ssh private key using:
[code]

The error message has now progressed to:
![image](https://user-images.githubusercontent.com/66273043/148276685-5b862326-36f3-49cb-ab72-9ffc356faf0b.png)

[2022-01-06 09:14] yilmazdurmaz opened #3368 "attaching vscode to different containers from same base image tries to open non-existing workspace"
Hi,
I recently started to use docker again and am amazed at how this extension works. of course, there is room for improvements as well as problems we users haven't expected.

In my case, it is trying to work in vscode attached to two different containers from the same base image. repro steps tell everything I guess.

this behavior is not happening when I juggle between workspaces in different con

[2022-01-06 14:57] bwateratmsft commented on #3367
That looks promising! Is a value present in VSCode for environment variable `SSH_AUTH_SOCK`?

[2022-01-06 14:58] bwateratmsft commented on #3368
The "Attach Visual Studio Code" feature is actually provided by the Remote - Containers extension. I will transfer this issue to their repo.

[2022-01-06 15:02] bwateratmsft commented on #3365
Huh, that's strange. Oh well, it works now! Please let us know if the issue returns.

[2022-01-06 15:02] #3365 closed

[2022-01-06 17:14] benatshippabo commented on #3367
@bwateratmsft yep, it is set to:

[code]

[2022-01-06 17:54] bwateratmsft commented on #3367
Can you try that value of `dockerodeOptions`' `socketPath` as `docker.host`? I wonder if that works.

[2022-01-06 17:58] benatshippabo commented on #3367
It leads to the same socket hang up error, maybe it's how the socket path is concatenated?

[2022-01-06 18:05] bwateratmsft commented on #3367
Hmm...I wonder if the SSH is actually necessary. Does `unix:///run/user/1000/podman/podman.sock` work for `docker.host`?

[2022-01-06 18:16] benatshippabo commented on #3367
That would be a negative. My understanding is that on a Mac, Podman creates a linux vm to run the containers on and their cli currently interacts through ssh only. Although it seems like they are working on it.

Btw, I added comment [here](https://github.com/containers/podman/discussions/12745#discussioncomment-1920094) so we can figure out how to resolve the `context` command not being available.

[2022-01-06 18:22] bwateratmsft commented on #3367
Rats. Seems like this is yet one more thing that would be solved by #3263. I'll mark this as investigate but it may be pretty similar/the same as #3241, and also maybe just solved by #3263.

[2022-01-06 18:26] bwateratmsft commented on #3367
I had another thought, what happens if you set _all_ of the following settings?
[code]

I don't know for sure without trying it, but I think it might cause the logic that is running `podman context ls ...` to be skipped.

[2022-01-06 18:32] benatshippabo commented on #3367
Hmm, that gave a message we haven't seen yet:
![image](https://user-images.githubusercontent.com/66273043/148432881-eefec3b0-9d8d-413c-a674-83ce2571cedb.png)

[2022-01-06 18:33] bwateratmsft commented on #3367
Is that port of `50685` still accurate? Do both `docker.host` and `docker.dockerodeOptions` have the current port?

[2022-01-06 18:36] benatshippabo commented on #3367
Yup they are still accurate:

[code]

[code]

[2022-01-06 18:40] bwateratmsft commented on #3367
Hm. I am stumped. Setting `docker.host` in addition to `docker.dockerodeOptions` did indeed skip that `podman context ls ...` logic but I am not sure what would cause the `ENOENT` error. I think that suggests a successful connection to `ssh://core@localhost:50685` but `/run/user/1000/podman/podman.sock` was not found or not accessible. It's not ideal but can you try using root, with `ssh://root@lo

[2022-01-06 18:45] benatshippabo commented on #3367
Yeah, same error even when trying to connect as root user. 😞

[2022-01-06 22:20] TheVPN opened #3369 "Docker Error"
Does this occur consistently?
Repro steps:

1.
2.

Action: docker-context.initialize
Error type: 127
Error Message: Process 'docker context ls --format="{{json .}}"' exited with code 127
Error: /bin/sh: docker: command not found

Version: 1.9.0
OS: darwin
OS Release: 19.6.0
Product: Visual Studio Code
Product Version: 1.51.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2022-01-07 13:18] bwateratmsft commented on #3369
@TheVPN can you add repro steps? Do you have Docker installed?

[2022-01-09 17:05] igboBoydev opened #3370 "React app not running on a docker container"
Does this occur consistently?
Repro steps:

1. Yes
2. I created a docker container for my react-app but when I trying accessing it from that port on the browser it's not working.

Version: 1.18.0
OS: win32
OS Release: 10.0.19043
Product: Visual Studio Code
Product Version: 1.63.2
Language: en

[2022-01-10 14:05] bwateratmsft commented on #3370
@igboBoydev can you add more information about your scenario? There are a wide variety of reasons why the app may be inaccessible.

[2022-01-10 14:59] bwateratmsft opened #3371 "Consider disabling UseAppHost in generated Dockerfiles"
From @mthalman originally in https://github.com/microsoft/DockerTools/issues/321

---

The Dockerfiles generated by VS include the following line:

[code]

This ends up outputting both a `WebApplication` executable and a `WebApplication.dll` library file in the output directory. Either file can be used to execute the app. The executable can be executed directly while the DLL requires the use of th

[2022-01-10 21:11] natevw opened #3372 "Connects to telemetry domain when installed via SSH Remote (vscode-server)"
The current README says [re. telemetry](https://github.com/Microsoft/vscode-docker#telemetry):

I have done so in my "main" VS Code app running on my Mac, but it appears that this setting is not being respected in a VM that I connect to via the Remote SSH extension, and afaict it is this (vscode-docker) extension that is the culprit.

Specifically I have done:

1. Set `telemetry.enableTelemetry` a

[2022-01-10 21:17] bwateratmsft commented on #3372
Taking a look at why this is happening. We absolutely want to respect this setting.

[2022-01-10 21:20] natevw commented on #3372
@bwateratmsft Thanks! I wasn't sure if there was a separate opt-out on the server itself that I'd neglected, but afaict the workstation's settings usually "inherit" to the remote. And the main VS Code server only seems to be reaching out to update but not analytics servers, until I add this plugin.

[2022-01-10 21:26] karolz-ms commented on #3372
Regardless of the root cause, we should update the README to point people to `telemetry.telemetryLevel` as `telemetry.enableTelemetry` is deprecated: https://code.visualstudio.com/docs/supporting/faq#_how-to-disable-telemetry-reporting

@natevw if you use `telemetry.telemetryLevel` to `off`, do you still see VS Code Docker ext reporting telemetry from remote machine?

[2022-01-10 21:29] bwateratmsft commented on #3372
Agree with @karolz-ms though I do also want to point out that if `telemetry.enableTelemetry` is set to `false`, then `telemetry.telemetryLevel` will be ignored:

![image](https://user-images.githubusercontent.com/36966225/148842265-a32e2fa9-ba77-4fa7-812b-2c512c82890a.png)

[2022-01-10 21:35] natevw commented on #3372
It looks like this was indeed the setting (in the "User" tab) that I'd been using on this new setup. My `~/Library/Application Support/Code/User/settings.json` begins with:

[code]

Whereas in the remote VM I have an *empty* settings.json apparently. `/home/debian/.vscode-server/data/Machine/settings.json` simply:

[code]

And full disclosure: I honestly thought I had narrowed it down to this plug

[2022-01-10 21:56] bwateratmsft commented on #3372
As far as I can tell, the absence of those settings in the Remote settings is intentional; they do not show up in the Remote settings UI at all:
![image](https://user-images.githubusercontent.com/36966225/148843226-c1412f3b-a250-42b0-8c28-94462550318d.png)
![image](https://user-images.githubusercontent.com/36966225/148843263-666b516b-6d1b-4785-a806-92687af8fa02.png)

I did a quick and dirty test a

[2022-01-10 22:02] natevw commented on #3372
Thanks for your continued investigation. I went ahead just as a test (this does **not** appear to be even a workaround, and iiuc from your above notes, this shouldn't be necessary in the first place) and set my **remote** settings (e.g. "/home/debian/.vscode-server/data/Machine/settings.json") to:

[code]

This changes no behavior, I still see the connection attempts.

[2022-01-10 22:13] natevw commented on #3372
Ahhh, despite my slight hedging above I retested this and even had a sketched out a whole writeup here about various tests I did to "prove" that it was this extension. (No use of domain without it, use of domain as soon as installed, stops using domain once uninstalled, etc.)

**But** then I repeated them with e.g. "Hex Editor" instead of (this) "Docker" plugin — and got the same results! My VM tr

[2022-01-10 22:13] #3372 closed

[2022-01-10 22:16] bwateratmsft commented on #3372
Thank you for reporting this either way! It's very important to us to respect user choice.

[2022-01-10 22:17] bwateratmsft opened #3373 "Update README section about new telemetry setting"
@karolz-ms pointed out in https://github.com/microsoft/vscode-docker/issues/3372#issuecomment-1009358838 that we should update the readme to address the new telemetry setting, `telemetry.telemetryLevel`.

[2022-01-10 22:21] karolz-ms commented on #3372
@natevw thank you for helping us make VS Code better, we appreciate that a lot. Please consider opening in the [VS Code main repo](https://github.com/Microsoft/vscode), even if you are not able to narrow the repro down precisely. Privacy IS important to us. Thanks again.

[2022-01-10 23:39] karolz-ms commented on #3370
@igboBoydev e.g. could you share your Dockerfile? When you run the container, did you publish any ports? etc.

[2022-01-11 01:44] shrewdact opened #3374 "I have mingled menus with version control panel"
<img width="314" alt="Screen Shot 2022-01-11 at 10 42 56" src="https://user-images.githubusercontent.com/6049800/148866900-d78fc4c5-0a71-45d1-bcc0-45c34bd4a7ab.png">

[2022-01-11 06:30] Kairos009 opened #3375 "Docker"
Does this occur consistently?
Repro steps:

1.
2.

Version: 1.18.0
OS: win32
OS Release: 10.0.17763
Product: Visual Studio Code
Product Version: 1.63.2
Language: zh-cn

[2022-01-11 06:30] Kairos009 commented on #3375
learn docker

[2022-01-11 15:59] bwateratmsft commented on #3374
@shrewdact you should be able to fix this issue by running the command "View: Reset View Locations" from the command palette (<kbd>F1</kbd> or <kbd>Ctrl/Cmd</kbd> + <kbd>Shift</kbd> + <kbd>P</kbd>). Let us know if that does not work.

[2022-01-11 15:59] #3374 closed

[2022-01-11 17:58] #3373 closed

[2022-01-11 18:04] bwateratmsft opened #3378 "Get new version of vscode-azureextensionui"
Telemetry does not capture platform architecture (e.g. darwin arm64) so need to update to vscode-azureextensionui 0.49.1. However, this version is not yet published, so need to get that done too.

[2022-01-11 18:44] karolz-ms commented on #3375
@Kairos009 if you want to learn Docker, https://docs.docker.com/get-started/ is a pretty comprehensive tutorial.

[2022-01-11 19:50] #3378 closed

[2022-01-11 22:38] philliphoff opened #3381 "Avoid defaulting to port 5000"
macOS Monterey (12.1) includes support for AirPlay, enabling the machine to act as a display for other Apple devices, which is enabled by default.  AirPlay happens to use port 5000 (among others). This means that applications using 5000 may run into "port already in use" errors that are difficult to diagnose, as use of this port by the system is not widely known.  This will impact Mac users runnin

[2022-01-12 14:32] bwateratmsft commented on #3381
*sigh* leave it to Apple...

[2022-01-12 19:05] bwateratmsft commented on #3381
According to @karolz-ms so is 3000. Woo!

[2022-01-12 19:15] bwateratmsft commented on #2884
@philliphoff is there anything more that needs to be done for this?

[2022-01-12 19:25] philliphoff commented on #3381
I've seen that AirPlay also uses 7000, but not anything about 3000.  (I've not encountered any issues with 3000 on either Intel or M1 Mac, whereas I definitely ran into the 5000 issue, which took a while to figure out.)

[2022-01-12 19:30] karolz-ms commented on #3381
I hit port 3000 being occupied on an Intel Mac. Unfortunately I do not remember anymore what exactly was hanging onto it; all I remember it was a system component, so I put my app on a different port. After machine restart the port was freed 🤷

[2022-01-12 19:42] bwateratmsft commented on #2884
Discussed offline, @philliphoff will try out arm64 alpine container debugging (where breakpoints were not being hit but everything else appeared to work), to see if that issue still occurs. Other than that we will close this and await user feedback.

[2022-01-12 19:45] bwateratmsft commented on #3381
In theory any port can be used at any time, which is why we let Docker select the port at least for debugging. Perhaps we make a setting that will flip between launching containers directly with the same host port as container port, vs. letting Docker pick?

[2022-01-12 20:58] philliphoff commented on #2884
It looks like `arm64` Alpine now works as expected (and I've updated the matrix).  Debugging `amd64` on M1 machines still does not work; that will take more investigation (if there's significant demand for it).

[2022-01-12 20:59] bwateratmsft commented on #2884
Awesome! We'll close this for now then, and await further feedback.

[2022-01-12 20:59] #2884 closed

[2022-01-12 21:03] ucheNkadiCode opened #3383 "Browser freezes when connecting with Python App"
From Chris Harris:

In the build, run, and debug the container: https://code.visualstudio.com/docs/containers/quickstart-python#_build-run-and-debug-the-container.

- When my browser opened, it was stuck on trying to connect to localhost/[random port] for 5+ minutes until I hit refresh.
- I wasn’t sure what was going on with my app/container, and I was confused that the browser opened on [random p

[2022-01-12 21:05] bwateratmsft commented on #3383
Same as #2191. We have never been able to get a repro reliable enough to debug what's going on.

[2022-01-13 06:43] AOEChamp opened #3384 ""Failed to connect. Is Docker installed?" on Mac"
macOS 11.3.1
docker 20.10.12, build e91ed5707e
vscode 1.63.2
docker extension v1.18.0

After newly installing the extension, when opening the docker panel I get "Failed to connect. Is Docker installed?" as an error. Docker is already installed and clicking the "Install docker" button at the bottom of the panel correctly detects that docker is installed. The default shell for vscode is set to bash

[2022-01-13 13:45] bwateratmsft commented on #3384
If I had to guess I'd say it's the `PATH` issue again... #2578

Does the issue persist after restarting VSCode and/or restarting the whole machine?

[2022-01-13 18:14] karolz-ms commented on #3381
Having the app using different port each time it is launched is cumbersome. I think ASP.NET struck a good balance with their latest release (by using random port at *scaffold* time).

[2022-01-13 20:31] bwateratmsft commented on #3381
That seems reasonable enough to me. I *really* do not want to get into port scanning or anything like that.

[2022-01-13 20:38] Zaffer opened #3385 "Docker on WSL2 Ubuntu fails to connect to the Internet"
At completely random moments, docker fails to connect to the internet when building the image.
I will build an image, all good. Then build the image again or after doing some development and will never work again.
Only solution I have is to completely uninstall and reinstall Linux, and start a new dev environment from scratch taking hours everytime.
This is started happening last month and now hap

[2022-01-13 20:42] bwateratmsft commented on #3385
This sounds like it would be an issue in either Docker or WSL, but definitely not the Docker extension for VSCode.

Does the connectivity issues affect everything in the WSL instance, or just Docker in particular? If it's just Docker I'd start by filing an issue in one of their repos.

[2022-01-13 20:42] #3385 closed

[2022-01-14 07:53] v-mengwe opened #3386 "The log changes in the terminal when more than 2 tasks are opened and command window narrows"
**OS:** All
**Build Version:** 20220112.2
**Regression:** Not a regression

**Repro Steps:**

1. Open a project and add Docker files for this project in VS Code.
2. Right click docker-compose.debug.yml -> Compose Up.
3. Right click the container group in containers view -> Compose Stop -> Check the log in the terminal.
4. Make sure there are more than 2 tasks open and the command window narrows, l

[2022-01-14 11:30] v-mengwe opened #3387 "Open an incorrect web page after deploying image Django to Azure App Service with custom location and port 8000"
**OS:** All
**Build Version:** 20220112.2

**Repro Steps:**

1. Open the Python Django project and add Docker files for this project in VS Code.
2. Right click Dockerfile -> Build Image.
3. Right click this image in image view -> Push -> Azure -> Select a registry.
4. Right click the image in registry view -> Deploy Image to Azure App Service -> Create a new app service with a custom location -> E

[2022-01-14 16:53] karolz-ms commented on #3387
@v-mengwe does this also happen when you type the website URL manually into the browser? Is the new site accessible via different URL/from the Azure portal?

[2022-01-17 05:48] AOEChamp commented on #3384
Yes, issue persists after restarts. Btw I'm not using Docker Desktop due to licensing. Using minikube instead as described here: https://dhwaneetbhatt.com/blog/run-docker-without-docker-desktop-on-macos . Not sure if that matters

[2022-01-17 08:37] v-xinda opened #3388 "[GitHub Codespaces] Pop up an error after deleting more than two images at the same time"
**OS:** GitHub Codespaces (Remote&Local)
**Build Version:** 20220112.2
**Regression:** Not a regression

**Repro Steps:**
1. Run `docker run hello-world` in Terminal.
2. Expand the "hello-world" node in the IMAGES view -> Right click the "latest" -> Tag... -> Type a name as "hello-world:latest02"  -> Enter.
3. F1 -> Docker Images: Remove... -> Click "hello-world" -> Select all images -> OK.
4. Che

[2022-01-17 08:43] v-mengwe commented on #3387
Yes, this also happens when you type the website URL manually into the browser.
Please get the details from below:
![py1](https://user-images.githubusercontent.com/62053665/149734124-7ad0e7d5-db44-45fd-a0a7-0b6bfc490498.gif)

**More Info:**
This issue doesn't reproduce for other projects, e.g. mvc/myexpressapp/flask project.
![pmye](https://user-images.githubusercontent.com/62053665/149736112-1598

[2022-01-17 12:42] v-mengwe opened #3389 "Pop up an extra dialog when F5ing a Go project with a `Dockerfile` file opened in the editor"
**OS:** All
**Build Version:** 20220112.2
**Regression:** Not a regression

**Repro Steps:**
1. Create a new folder and open it in VS Code, e.g. 'dockergo'.
2. Execute the following command:
[code]
3. Add main.go file in the same directory, with the following content:
[code]
4. F1 -> Docker: Add Docker Files to Workspace -> Go -> Port 3000 -> Yes.
5. The `Dockerfile` file opened in the editor -> F

[2022-01-17 15:58] yilmazdurmaz opened #3390 "can I see container's internal ip address in quick info?"
This issue is a feature request, if possible.

It is a nice feature we can see a quick info of a container when we mouse over them. However, I want to see the internal IP of the container in it if it is running to use that info in other containers.

I can do a multi-step `docker exec container-name ifconfig` execution for the purpose but would be quicker if it is in this quick info.

thanks

[2022-01-18 05:33] #3361 closed

[2022-01-18 05:33] #3358 closed

[2022-01-18 06:29] AOEChamp commented on #3384
Solved: I had to add `eval $(minikube -p minikube docker-env)` to my `.bashrc` and restart vscode for it to pick up the correct host settings for docker daemon.

[2022-01-18 06:29] #3384 closed

[2022-01-18 14:33] bwateratmsft commented on #3386
This is between the Docker CLI and VSCode's terminal handling, so it is out of our control.

[2022-01-18 14:33] #3386 closed

[2022-01-18 14:40] bwateratmsft commented on #3388
It would have to be an external issue so I'll close it, but I'm still curious. @Chuxel, we do removal by referencing the image name; on other platforms this causes the removal of the tag only, if there are multiple tags for the same image. The image is only removed alongside the last tag to be removed. Is this different in Codespaces for whatever reason?

[2022-01-18 14:40] #3388 closed

[2022-01-18 14:43] bwateratmsft commented on #3389
Go + Docker debugging is not supported at this time so this is by-design. VSCode has generic handling for when <kbd>F5</kbd> is pressed on any file; debuggers can be registered by extensions to provide dynamic debug configurations for given languages.

[2022-01-18 14:43] #3389 closed

[2022-01-18 14:46] bwateratmsft commented on #3387
I found this: https://docs.djangoproject.com/en/4.0/ref/settings/#allowed-hosts

It's a security measure from Django, it will only serve the request if it is to a host in the `ALLOWED_HOSTS` list. I assume though that Django apps work in non-Arc Azure, so I'm curious as to why it fails here.

[2022-01-18 15:21] bwateratmsft commented on #3387
After some testing I've found that `ALLOWED_HOSTS` is necessary both for Arc and non-Arc deployments. Our docs [mention](https://code.visualstudio.com/docs/containers/tutorial-django-push-to-registry#_settings-for-django-apps) this, albeit in one of those buried pages that aren't on the ToC (which is its own problem we're working on addressing).

It is sufficient to add `.k4apps.io` (for Arc) / `.

[2022-01-18 15:21] #3387 closed

[2022-01-18 16:44] left-code opened #3392 "Module not found: Error: Can't resolve './crypto/build/Release/sshcrypto.node'"
Higher version than **v1.17.0** it's not possible to debug/compile on Windows OS

Error:

`
WARNING in ./node_modules/ssh2/lib/protocol/crypto.js 30:12-60
Module not found: Error: Can't resolve './crypto/build/Release/sshcrypto.node' in 'C:\Code\GitHub\vscode-docker\node_modules\ssh2\lib\protocol'
 @ ./node_modules/ssh2/lib/server.js 27:29-60
 @ ./node_modules/ssh2/lib/index.js 33:10-32
 @ ./node_

[2022-01-18 17:23] #3392 closed

[2022-01-18 17:25] bwateratmsft commented on #3281
This is now released in Docker extension version 1.19.0.

[2022-01-18 17:25] bwateratmsft commented on #3349
This is now released in Docker extension version 1.19.0.

[2022-01-18 17:26] bwateratmsft commented on #3347
This is now released in Docker extension version 1.19.0.

[2022-01-18 17:26] bwateratmsft commented on #3266
This is now released in Docker extension version 1.19.0.

[2022-01-18 17:26] bwateratmsft commented on #3305
This is now released in Docker extension version 1.19.0.

[2022-01-18 17:27] bwateratmsft commented on #3313
This is now released in Docker extension version 1.19.0.

[2022-01-18 17:27] bwateratmsft commented on #3327
This is now released in Docker extension version 1.19.0.

[2022-01-18 17:31] bwateratmsft commented on #3390
Related to #2677

[2022-01-19 01:32] ucheNkadiCode commented on #3270
@bwateratmsft Thanks Brandon

[2022-01-19 03:09] haZEM2022 opened #3394 "MZx"
Does this occur consistently?
Repro steps:

1.
2.

Version: 1.19.0
OS: win32
OS Release: 10.0.19043
Product: Visual Studio Code
Product Version: 1.63.2
Language: en

[2022-01-19 18:07] #3394 closed

[2022-01-19 18:09] bwateratmsft commented on #3367
@benatshippabo to make sure I set up a realistic repro, does your Mac have an Intel processor or the newer M1 (aka Apple Silicon)?

[2022-01-19 18:26] bwateratmsft commented on #3392
The fix is in the main branch now so I'm marking it as "fix released", since it's a debugging scenario and doesn't need an actual product release.

[2022-01-19 19:21] bwateratmsft commented on #3390
We'll dupe this one to #2677. Our thinking is that not everyone would want to see the IP address so it probably shouldn't be default, but if the tooltips were customizable (which is what #2677 is about), then this scenario could be covered.

[2022-01-19 19:21] #3390 closed

[2022-01-19 19:23] bwateratmsft commented on #3390
It's worth adding, you can also view the container IP address by right clicking the container and doing Inspect. The IP address is in `NetworkSettings` -> `IPAddress`.

[2022-01-19 19:26] benatshippabo commented on #3367
It is on the M1 processor. Thanks @bwateratmsft

[2022-01-19 19:32] bwateratmsft commented on #3383
Consider a doc update describing why a seemingly-random port is opened.

[2022-01-19 19:35] bwateratmsft commented on #3367
@philliphoff do you mind trying out the scenario on your M1? I'll try it out on my Intel Macbook and see how it goes.

[2022-01-19 20:26] philliphoff commented on #3367
This is as far as I get with my M1 (the ENOENT error), and is the same whether I specifically set `docker.host` or not.

<img width="885" alt="Screenshot 2022-01-19 at 12 25 44" src="https://user-images.githubusercontent.com/6402946/150208295-26da0dd6-dd1f-4b98-8257-30964686a2d7.png">

[2022-01-19 21:00] ucheNkadiCode commented on #3383
Hey @luabud, we have an inclination that this issue is happening after we hand off to the application to the python debugger. Have you heard feedback about this?

[2022-01-19 22:54] luabud commented on #3383
Not that I know of! @karthiknadig -- do you have an idea of what could be happening?

[2022-01-19 23:09] ucheNkadiCode commented on #3383
Adding @charris-msft for any additional feedback

[2022-01-19 23:14] karthiknadig commented on #3383
If we can get a consistent repro we can dig into this. /cc @int19h

[2022-01-20 06:22] sjose-ib opened #3395 "docker-context.initialize"
Does this occur consistently? Yes
Repro steps:

1.
2.

Action: docker-context.initialize
Error type: 127
Error Message: Process 'docker context ls --format="{{json .}}"' exited with code 127
Error: /bin/sh: docker: command not found

Version: 1.9.0
OS: darwin
OS Release: 20.6.0
Product: Visual Studio Code
Product Version: 1.49.2
Language: en

<details>
<summary>Call Stack</summary>

[code]

</deta

[2022-01-20 14:49] bwateratmsft commented on #3395
@sjose-ib this is a fairly old version of both VSCode and the Docker extension. Can you update them both and see if the issue reoccurs?

[2022-01-20 14:49] #3395 closed

[2022-01-20 15:35] bwateratmsft opened #3396 "Improve the text in the containers window for the Docker tutorial link"
Currently looks like this:
![image](https://user-images.githubusercontent.com/36966225/150371306-7a763917-042b-47b7-863c-c607a83723c8.png)

[2022-01-20 15:53] bwateratmsft commented on #3396
To me, the most obvious criticism is that it's not obvious to me that it's a link. We do not have control of the color or presentation (i.e. underline), unfortunately, which IMO leaves icon and text to be our only choice.

Here's an example with the standard hyperlink icon, and `...` removed:
![image](https://user-images.githubusercontent.com/36966225/150373769-fe53d406-a9e1-4917-9d8e-cd20b2a18546

[2022-01-20 18:10] bwateratmsft commented on #3367
I've spent some time today looking into this. It seems things are going sideways in `docker-modem`. It successfully establishes a connection to the SSH host, whereupon it runs `docker system dial-stdio` in order to communicate with Docker on the host over ordinary HTTP tunneled through the SSH connection. Naturally, this is not going to work for Podman, since it's literally running a `docker` comm

[2022-01-20 18:10] #3367 closed

[2022-01-20 18:59] benatshippabo commented on #3367
Yeah that makes sense to me. Thanks for keeping me posted @bwateratmsft

[2022-01-20 22:56] j-martens commented on #3396
Suggestion:
Instead of
"Get started with Docker containers"
"Tutorial: Get started with Docker"

[2022-01-20 23:30] ghogen commented on #3396
Yes, with the "..." it would be expected to open up a dialog box, since that is a common UI convention.  Having "Tutorial" in the text and having the icon for an external hyperlink would be helpful.

[2022-01-21 14:07] bwateratmsft commented on #3396
Here's how @j-martens and @ghogen's suggestions look:
![image](https://user-images.githubusercontent.com/36966225/150540705-21cbd243-df19-443a-b115-fb76036c7a4b.png)

[2022-01-21 14:50] bwateratmsft commented on #3383
I'll close this for now, it seems unlikely we'll be able to obtain a consistent repro. I've personally only seen this issue once or twice ever.

[2022-01-21 14:50] #3383 closed

[2022-01-22 05:31] #3369 closed

[2022-01-23 22:48] tudortimi opened #3400 "Cannot configure build args using `tasks.json`"
I'm trying to add `--build-arg` to the `docker build` command triggered by the `Docker Images: Build Image...` task.

I created the following `.vscode/tasks.json` file:

[code]

I can reproduce the problem with a dummy `Dockerfile`:

[code]

When I execute the `Build Image` task, the following command gets called:

    docker build --pull --rm -f "Dockerfile" -t vscodedockerissue:latest "."

I exp

[2022-01-24 14:32] bwateratmsft commented on #3400
This is due to the difference between the "Docker Images: Build Image..." command, and the `docker-build` task. Running that command does not actually run the task, unless a Dockerfile is explicitly set in the task, and that Dockerfile is chosen from the "Build Image" command. There's a couple different approaches you can take here:

1. The simplest approach is probably to just add the Dockerfile

[2022-01-24 14:34] bwateratmsft commented on #3400
I'm going to leave this issue open as there are a couple of things I want to address.

1. Make the above required parameters actually show as required in the task definition. In fact, I'm not sure any of them actually need to be required per-se, but rather the logic for interpreting defaults should be adjusted.
1. Currently `dockerBuild.dockerfile` must be an absolute path (or have a e.g. `${works

[2022-01-25 05:30] #3370 closed

[2022-01-25 14:30] chrmarti opened #3401 "Use absolute filepaths from "config_files" unchanged"
https://github.com/microsoft/vscode-docker/commit/6bc9540b3a058e3dc338fa2e1fcc6797b2a369d7 changed `getComposeFiles()` to always use the basename of the filepath. It would make sense to keep filepaths that are absolute as-is.

/cc @bwateratmsft

[2022-01-25 15:09] bwateratmsft commented on #3401
It seems that Compose V2 maybe generally solves the original issue (#2633) anyway, since it seems to always stamp absolute file paths in `config_files`. Still, Compose V1 is common, so we'll blend the logic as @chrmarti suggests--if the path is already absolute, no need to make changes or assumptions to it.

[2022-01-25 17:18] #3401 closed

[2022-01-25 19:32] #3396 closed

[2022-01-26 10:16] i-ky opened #3405 "BAD_INDENT false positive if alias is used as mapping key in Docker Compose file"
When [alias](https://yaml.org/spec/1.2.2/#alias-nodes) is used as a key in `services:` mapping, e.g.
[code]
...extension reports _Problems_:
[code]
The config file is actually fine and no diagnostics should be emitted:
[code]
Extension version: 1.19.0
VS Code version: 1.63.2

[2022-01-26 14:20] bwateratmsft commented on #3405
Thanks @i-ky! I'll transfer this to the compose-language-service repo.

[2022-01-26 17:43] #3400 closed

[2022-01-26 17:47] bwateratmsft commented on #2539
Rather than continually moving this a milestone at a time, I'm going to make sure issues exist for each of the remaining tasks in https://github.com/microsoft/compose-language-service, and close this one.

[2022-01-26 17:50] thernstig commented on #2539
@bwateratmsft the original post in this thread already contains existing issues. Just open them up again?

[2022-01-26 17:52] bwateratmsft commented on #2539
Yeah, that's a better idea. I'll do that and transfer them to the other repo.

[2022-01-26 18:00] #2539 closed

[2022-01-26 20:28] #3381 closed

[2022-01-27 15:27] bwateratmsft commented on #3337
@JM-Lemmi I can't believe I didn't think of this before, but you can set the grouping for the Containers view to use networks. It gives the view you're showing, but in the Containers window instead.

1. Click the gear icon on the Containers view
![image](https://user-images.githubusercontent.com/36966225/151389065-64dd0c46-7139-4c79-adc4-efe2b75a1f70.png)
1. Choose Group By, and select Networks
![

[2022-01-31 15:16] bwateratmsft opened #3407 "Update to track 2 Azure SDK"
Azure SDK for JS is being significantly upgraded, and the upgraded version called "track 2". We need to update to use it as the old one will be out-of-support before long.

Depends on:
- https://github.com/microsoft/vscode-azuretools/pull/1050
- https://github.com/microsoft/vscode-azuretools/pull/1054
- https://github.com/microsoft/vscode-azuretools/pull/1061

[2022-02-03 15:21] j-martens commented on #3396
@bwateratmsft - did this go live yet? Thanks!

[2022-02-03 20:19] bwateratmsft opened #3408 "Use `onTaskType` activation event"
VSCode *finally* added an `onTaskType` activation event, so we should definitely make use of it to reduce spurious activations. https://code.visualstudio.com/updates/v1_64#_ontasktype-activation-event

[2022-02-03 20:19] bwateratmsft commented on #3408
Most likely we will want to wait until 1.21, since it will require VSCode 1.64.

[2022-02-03 20:58] bwateratmsft opened #3409 "Use VSCode's built-in file watcher"
VSCode recently [opened up the filesystem watcher](https://code.visualstudio.com/updates/v1_64#_vscodeworkspacecreatefilesystemwatcher-now-supports-any-path) to be able to watch anything, including outside the workspace. This would be a great thing to replace the context watcher with.

[2022-02-03 22:02] ucheNkadiCode opened #3410 "Improve Add Dockerfiles to Django projects"
Scenario:

User selects add dockerfiles to workspace
Select Application Platform -> no change
Python: Django -> no change
Choose the app's entry point (e.g. manage.py, app.py)

My suggestion is to add a dialog so the user can (optionally) select where their wsgi.py file is in their application. We should try to look for wsgi file in the root folder as well as the [workspace name]\[workspace_folder

[2022-02-04 00:54] tigerinus opened #3411 "Need support for `nerdctl`"
I am aware of https://github.com/microsoft/vscode-docker/issues/3263

Just want to add `nerdctl` to the game, so it's not left out at testing phase.

[2022-02-04 14:54] bwateratmsft commented on #3410
We still need them to pick `manage.py`. That can't change, it is necessary for debugging to work properly. I'll alter the logic so that if the WSGI/ASGI module cannot be found automatically, we'll prompt.

[2022-02-04 16:03] DEVBOSS8 opened #3413 "devboss"
Does this occur consistently?
Repro steps:

1.
2.

Version: 1.19.0
OS: win32
OS Release: 10.0.19042
Product: Visual Studio Code
Product Version: 1.63.2
Language: en

[2022-02-04 16:04] #3413 closed

[2022-02-04 19:07] bwateratmsft commented on #3411
I'll put this in the Future milestone alongside #3241. We'll keep `nerdctl` in mind.

[2022-02-08 17:44] #3410 closed

[2022-02-09 10:10] v-mengwe opened #3416 "The image name changes to "mvc1" after building image for a .NET Core MVC project with name "mvc-1""
**OS:** Win10/Mac
**Build Version:** 20220208.5
**Regression:** Not a regression

**Repro Steps:**

1. Open a .NET Core MVC project with name "mvc-1" -> Add Docker files for this project in VS Code.
2. Right click the Dockerfile file -> Build image.
3. Check whether the image name is "mvc-1" under the "IMAGES" node.

**Expect:**
The image name is "mvc-1" under the "IMAGES" node.

**Actual:**
The i

[2022-02-09 14:58] bwateratmsft commented on #3416
This is by-design. We keep only letters and numbers for the image name to maximize the chance of it being valid.

[2022-02-09 14:58] #3416 closed

[2022-02-10 03:17] v-mengwe commented on #3416
As above, we keep only letters and numbers for the image name to maximize the chance of it being valid. Is the hyphen in the image **hello-world** by design?

[2022-02-10 18:20] bwateratmsft commented on #3407
This has ended up being a very far-reaching change. Almost all of the changes are just to imports, but there are so many files touched that I don't feel comfortable trying to push this into 1.20.

[2022-02-11 01:20] v-mengwe commented on #3416
Got it, thanks for your guidance!

[2022-02-13 10:50] o-alexandrov opened #3420 "Logs. Bug/Feature request. Shell is killed when a container restarts"
## How it currently works

When attaching to listen to container's logs, VS Code opens a shell in a built-in terminal.
If a container is restarted, the shell won't get any new logs. A user would have to start to listen to container's logs again.

## How it should work

It should work as in [Docker Desktop](https://www.docker.com/products/docker-desktop).
In Docker Desktop, if you start to listen t

[2022-02-13 11:07] quicktrick commented on #869
+1 for Gitlab self-hosted

[2022-02-14 15:29] #3420 closed

[2022-02-14 15:30] bwateratmsft commented on #3420
It may be worth putting in a feature request to the Docker CLI repo to support an additional flag with the Docker Logs command, that would instruct it to keep the logs stream open when the container is stopped.

[2022-02-14 15:52] o-alexandrov commented on #3420
Okay, thank you for taking a look.
Created an issue in `docker/cli` as you proposed.
- https://github.com/docker/cli/issues/3426

[2022-02-15 14:11] nickleman commented on #2977
I tried editing the command template to be docker compose instead of docker-compose and that didn't change anything. This should be a higher priority now since Docker Desktop became a paid application and the free alternative (docker in WSL2 with port forwarding on windows and just the docker commandline on windows) only supports the docker compose syntax and not the older docker-compose syntax th

[2022-02-15 14:40] bwateratmsft commented on #3263
Work is ongoing for this, it will need to be moved to the 1.21.0 milestone.

[2022-02-16 10:10] v-mengwe opened #3426 "Open an incorrect web page after deploying image myexpressapp to Azure App Service"
**OS:** M1
**Build Version:** 20220214.1

**Repro Steps:**

1. Open the myExpressApp project and add Docker files for this project in VS Code.
2. Right click Dockerfile -> Build Image.
3. Right click this image in the image view -> Push -> Azure -> Select a registry.
4. Right click the image in the registry view -> Deploy Image to Azure App Service.
5. When done, click "Open Site" button in the no

[2022-02-16 15:38] biko2020 opened #3427 "Android SDK issue"
Does this occur consistently?
Repro steps:

1- Android toolchain - develop for Android devices (Android SDK version 29.0.2)
    ✗ cmdline-tools component is missing
      Run `path/to/sdkmanager --install "cmdline-tools;latest"`
      See https://developer.android.com/studio/command-line for more details.
    ✗ Android license status unknown.
      Run `flutter doctor --android-licenses` to accept

[2022-02-17 01:14] v-mengwe commented on #3426
@bwateratmsft Refresh can't fix this issue on M1.

[2022-02-17 07:48] v-mengwe opened #3430 "Fail to build image with an error for the Python Django project on M1"
**OS:** M1
**Build Version:** 20220214.1

**Repro Steps:**

1. Open the Python Django project and add Docker files for this project in VS Code.
2. Right click Dockerfile -> Build Image.
3. Check whether succeeds to build image witout any error.

**Expect:**
Succeed to build image witout any error.

**Actual:**
Fail to build image with an error.
[error.txt](https://github.com/microsoft/vscode-docke

[2022-02-17 08:01] v-xinda opened #3431 "Pop up a dialog contained two same ports when opening a .NET running container in browser"
**OS:** Ubuntu 18.04
**Build Version:** 20220214.1
**Regression:** Previous Release

**Repro Steps:**

1. Open the .NET Core project and add Docker files for this project in VS Code.
2. F5 with "Docker .NET Core Launch" configuration.
3. Right click the running container in the CONTAINERS view -> Open in Browser.
4. Check whether opens a web page directly.

**Expect:**
Open a web page directly.

*

[2022-02-17 08:10] v-mengwe opened #3432 "Fail to deploy image to Azure App Service with Premium (P1v2) pricing tier"
**OS:** M1
**Build Version:** 20220214.1

**Repro Steps:**

1. Open the myExpressApp project and add Docker files for this project in VS Code.
2. Right click Dockerfile -> Build Image.
3. Right click this image in the image view -> Push -> Azure -> Select a registry.
4. Right click the image in the registry view -> Deploy Image to Azure App Service with Premium (P1v2) pricing tier.
5. Check whethe

[2022-02-17 14:24] bwateratmsft commented on #3432
Basically the same as #1281. There is a maximum of 2 webhooks for basic tier ACRs and 10 for standard. We can't change the caps of course, but maybe can alter the messaging.

I'll resolve this as a dupe of #1281.

[2022-02-17 14:24] #3432 closed

[2022-02-17 14:25] bwateratmsft commented on #3431
We should condense the port list in a `Set` to remove duplicates.

[2022-02-17 14:27] bwateratmsft commented on #3430
This would have to be an external issue. `gcc` is apparently not present on the arm64 Python images which would make installing a lot of dependencies with `pip` impossible. We can't reduce the dependencies so there's not really anything we can do.

[2022-02-17 14:36] bwateratmsft commented on #3426
@philliphoff have you happened to see anything about App Service and arm64 images?

[2022-02-17 19:33] bwateratmsft commented on #3426
I talked to some folks and at this time, Azure App Service does _not_ support arm64 images. So, images built on the M1 won't work in App Service. As I understand, it is being worked on.

[2022-02-18 06:04] v-xinda commented on #3431
@bwateratmsft the result of executing "Inspect" command in the [result.txt](https://github.com/microsoft/vscode-docker/files/8094534/result.txt) file.

[2022-02-18 09:50] benzman81 opened #3435 "Cannot build docker image using remote host without docker desktop."
I have installed vscode-docker and configured the host to work against mir local linux vm with docker. I can see containers and images, but when I want to build an image, the extension looks for a lokal "docker" command althoug it is connected to the remote docker. I do not have Docker Desktop installed. Comming from eclipse I am used to it that it works without Docker Desktop that now requires a

[2022-02-18 10:49] Xitric opened #3436 "Unable to set --project-name using docker-compose task"
First of all, thank you for creating such a brilliant plugin.

We are in the process of setting up Visual Studio Code tasks to simplify complex `docker compose` commands within my team. Because we use a mono-repository, we are layering multiple compose files on top of one another, the base file which is located in a `docker` repository like this:

[code]

`docker-compose.yaml` files inside the pro

[2022-02-18 11:35] Xitric opened #3437 "The options.env property on VS Code tasks seems to be ignored by Docker tasks"
In our development environment, we are migrating to docker compose for spinning up our products locally. The configuration of such an environment consists of some static arguments which we have checked into git, as well as some user-specific arguments. We would like to avoid asking of our developers to create their own `.env` files that are not tracked by git, but rather leverage the power of inpu

[2022-02-18 14:46] bwateratmsft commented on #3431
Thanks! I figured out what's happening here. The container has its internal port published both to "0.0.0.0" (IPv4) and "::" (IPv6) on the host machine. The public port is the same. We should dedupe these down into one; later on we will open to "localhost" if the public IP is either "0.0.0.0" or "::".

[2022-02-18 15:21] bwateratmsft commented on #3435
This is by design. We use the Docker CLI for building images, so naturally the CLI needs to be present locally. It is technically possible to build through the HTTP API with Dockerode, but it is likely we are removing Dockerode in the near future (#3263).

In your scenario the best bet would be to use the [Remote - SSH](https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.remote-ss

[2022-02-18 15:26] bwateratmsft commented on #3437
Thanks for the detailed report! We should get this fixed. I don't expect it will be _too_ difficult. I'd like to also fix it for `docker-build` (although `buildArgs` is kinda similar) and `docker-run` tasks.

[2022-02-18 16:17] Xitric commented on #3436
Thanks, I will look into it and open a PR

[2022-02-18 17:08] adibradfield opened #3439 "Attach - preLaunchTask not working as expected"
This is basically a duplicate of #3304 that got closed because the original reporter didn't provide extra information.

I am currently having the same issue where I am not able to setup my launch configurations in a way that I can do a `docker-compose up` before debugging, and a `docker-compose down` once I've finished debugging

The issue seems to be that the debugger tries attaching to the conta

[2022-02-18 17:22] bwateratmsft commented on #3439
I'll take a look and see if there's a way to do this.

Unfortunately we have no control over when `preLaunchTask` gets called; VSCode structured debugging in a weird way--first, debug _resolves_, then the `preLaunchTask` runs, then debug _executes_. It's a pain for us because we have to know the container name to attach to (and a whole lot of other info) at the time of debug resolving...before the

[2022-02-20 08:31] jiminu opened #3441 "How can an extension icon be seen in the activity bar only when an extension is executed in vscode?"
hello. I'm using this extension well.

I use a docker in vscode, but Sometimes I don't use it.

so, i want extension icon to be hidden when not in use and visible when using it.

cmake works in that way.

Do you have any plans to add these functions?

thanks.

![example](https://user-images.githubusercontent.com/88309919/154834704-71c2d5df-ff4a-4f99-a90e-b328cc02ef37.PNG)

[2022-02-21 12:09] adibradfield commented on #3439
So I've had a read through the code myself to try and get a bit more of an understanding of how all this works. By the looks of it (I haven't done any debugging) the errors are probably getting thrown during the check to see if the debugger needs to be installed into the container when resolving the configuration.

I wonder whether a solution to this might be to override the preLaunchTask that get

[2022-02-22 17:09] bwateratmsft commented on #3410
This is now released in Docker extension version 1.20.0.

[2022-02-22 17:11] bwateratmsft commented on #3140
This is now released in Docker extension version 1.20.0.

[2022-02-22 17:11] bwateratmsft commented on #3381
This is now released in Docker extension version 1.20.0.

[2022-02-22 17:12] bwateratmsft commented on #3400
This change in #3402 is now released in Docker extension version 1.20.0.

[2022-02-22 19:33] fpw23 opened #3443 "dockerCompose task down options is missing profiles"
Looks like the up options supports profiles but not the down options?

https://github.com/microsoft/vscode-docker/blob/79ed0e8bc526e502c37ed72c59ab6a600f0955c7/src/tasks/DockerComposeTaskProvider.ts#L92

[2022-02-22 20:54] #3436 closed

[2022-02-23 05:47] jiminu commented on #3441
1. I think it is right icon to be seen on the tab when the extension is activated.
2. I use windows10. In order to use docker, the docker desktop must be executed first. I usually executed (docker) run, start, stop, etc. command. sometimes use a dockerfile.

thanks.

[2022-02-23 14:21] j-martens commented on #3396
@bwateratmsft - is it live? I'm looking forward to seeing the impact. thanks.

[2022-02-24 02:48] jiminu commented on #3441
1. I think it is right icon to be seen on the tab when the extension is activated.
2. I use windows10. In order to use docker, the docker desktop must be executed first. I usually executed (docker) run, start, stop, etc. command. sometimes use a dockerfile.

thanks.

[2022-02-24 14:40] bwateratmsft commented on #3441
Thanks! It looks like they're using `when` clause contexts. I'd want to implement this as a setting so as not to disrupt folks who expect the tab to always be visible.

[2022-02-24 14:41] bwateratmsft commented on #3443
Is the idea to do a partial shutdown?

[2022-02-24 14:48] bwateratmsft commented on #3441
It's not perfect, but as a "workaround", you can right click and hide the Docker tab:
![image](https://user-images.githubusercontent.com/36966225/155546482-993da96c-bb9f-4828-9bfd-716a9e89ad75.png)

When you want to access it, run the command "View: Show Docker". You can also set a keybinding for that command for quick access. The downside to this workaround is that the tab will disappear as soon

[2022-02-24 15:57] jiminu commented on #3441
I hope it will be implemented someday. I'll waiting. Thanks!

[2022-02-24 16:49] #3407 closed, assigned to nobody

[2022-02-24 17:31] #3408 closed

[2022-02-24 17:31] #3409 closed

[2022-02-24 19:17] #3431 closed

[2022-02-24 19:56] bwateratmsft commented on #3437
@alexr00 the `options` field on the task is not coming through with the `resolvedDefinition` in the `CustomExecution`. Do you know why?

[2022-02-24 23:16] karolz-ms commented on #3437
I will let @alexr00 chime in, but I noticed that, unlike `ProcessExecution` and `ShellExecution`, `CustomExecution` class definition does not have `options` property...

[2022-02-25 13:48] alexr00 commented on #3437
The `TaskDefinition` that's passed into the `CustomExecution` callback is only composed of the properties that are part of that task's definition, i.e., the properties that are listed in the providing extensions `taskDefinitions` in it's package.json.  Since it's not part of the definition of `docker-compose`, it doesn't get passed.  You might be able to get `options` if you add it to the definiti

[2022-02-25 15:22] bwateratmsft commented on #3437
I'll give that a try, thanks @alexr00!

[2022-02-25 15:25] bwateratmsft opened #3444 "App Service cannot be deployed to a custom location"
App Services cannot be deployed to custom locations. An error is shown:
![](https://user-images.githubusercontent.com/36966225/155741268-0f5d487a-900c-4730-ae6f-4f11d07cac2d.png)

This is likely a regression from #3419

[2022-02-25 20:07] tbhanson96 opened #3445 "Node.js docker-run task command infers image tag incorrectly"
I have the following docker-run task in my tasks.json:
[code]

and package.json file:

[code]

It mostly works, but the tag ends up being incorrect:
[code]

according to the documentation here: https://code.visualstudio.com/docs/containers/reference, the image tag should be inferred by the package.name property, which in my case is actually: **docker-starter** rather than **dockerstarter**, so it

[2022-02-25 20:22] bwateratmsft commented on #3445
This is intentional in our case. If you also use a `docker-build` task, it will remove the dash in the same way, and things should work. As a workaround, you can specify a `tag` in `docker-build` tasks or `image` in `docker-run` tasks to override things and choose whatever image name you want.

There's more information [here](https://github.com/microsoft/vscode-docker/issues/3416#issuecomment-1035

[2022-02-25 20:22] #3445 closed

[2022-02-25 20:36] tbhanson96 commented on #3445
@bwateratmsft understood. in a perfect world I'd like to this to work as I'm using $npm_package_name to build my docker image to make my codebase cleaner, but its a small issue.

[2022-02-25 21:07] bwateratmsft commented on #3445
I don't know for sure without trying it, but I _think_ that environment variables defined according to [VSCode's environment-variables-in-tasks syntax](https://code.visualstudio.com/docs/editor/variables-reference#_environment-variables) will work (I'm assuming that `$npm_package_name` refers to an environment variable). Can you try it out and see if it does indeed work?

The `dockerRun` section w

[2022-02-27 11:18] foleajibola opened #3446 "DockerExtention"
Does this occur consistently?
Repro steps:

1.500
2.HTTP code 500

Action: vscode-docker.containers.prune
Error type: 500
Error Message: (HTTP code 500) server error - i/o timeout

Version: 1.20.0
OS: win32
OS Release: 10.0.22000
Product: Visual Studio Code
Product Version: 1.64.2
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2022-02-27 11:19] foleajibola commented on #3446
The docker extention is not respond.

[2022-02-27 18:16] Lukas-J commented on #3439
Hi there,
I've got a similar problem: Clicking on the play button in "RUN AND DEBUG" for "Python: Remote Attach", docker-compose get's executed but the debugger does not get entered. Clicking it directly again, executes docker-compose again and then starts the debugging mode (the botom line turns orange).

Another workaround is the described way in https://code.visualstudio.com/docs/containers/doc

[2022-02-28 14:45] bwateratmsft commented on #3446
This error is coming from your Docker daemon, not from the extension. Can you try restarting?

[2022-02-28 14:45] #3446 closed

[2022-02-28 20:11] Robert98MG opened #3447 "docker-register"
[myorders-2022-02-28.csv](https://github.com/microsoft/vscode-docker/files/8156444/myorders-2022-02-28.csv)

[2022-02-28 20:12] Robert98MG commented on #3447
[Uploading myorders-2022-02-28.csv…]()

[2022-02-28 20:40] #3447 closed

[2022-02-28 21:47] bwateratmsft commented on #3444
Looks to be external: https://github.com/Azure/azure-sdk-for-js/issues/20570

[2022-03-01 09:21] montery8 opened #3449 "connect registries error"
Does this occur consistently? yes
Repro steps:

1.connect registries to private harbor
2.after authentication ok

Action: AzureTreeDataProvider.getChildren
Error type: TypeError
Error Message: Request with GET/HEAD method cannot have body

Version: 1.20.0
OS: darwin
OS Release: 20.6.0
Product: Visual Studio Code
Product Version: 1.64.2
Language: zh-cn

<details>
<summary>Call Stack</summary>

[cod

[2022-03-01 12:31] MDPolaris opened #3450 "Opening DockerFiles in the editor crashes VS Code"
I recently upgraded to Docker extension 1.20.0 and every time I try to try to view a DockerFile VS Code hangs and the following window appears.
<img width="264" alt="image" src="https://user-images.githubusercontent.com/17074189/156168798-2c82d795-3d8a-4101-b379-71ba203151ff.png">

I have tried waiting but the window never loads. The only thing that works is to Reopen the window. I reverted to 1.1

[2022-03-01 15:53] bwateratmsft commented on #3449
Duping this to #869. Certain third-party registries aren't supported at this time.

[2022-03-01 15:53] #3449 closed

[2022-03-03 09:26] princekukreja opened #3453 "Unable to determine compose project info for container group"
I'm not able to compose up/down the container using the docker extension in VS code.

![Screenshot from 2022-03-03 14-54-18](https://user-images.githubusercontent.com/96442608/156535809-9ed1d6ff-e9c0-445e-a571-5a3eb5bdc1a2.png)

[2022-03-03 14:21] bwateratmsft commented on #3453
@princekukreja can you right-click a container in the Compose group and do Inspect, and share the inspect result?

[2022-03-03 14:26] princekukreja commented on #3453
@bwateratmsft Here you go!

`{
    "Id": "c6fedd5f60128822bc3ec726c2027d3fb0b74d8f27214ed932588eb59cd51313",
    "Created": "2022-03-03T13:08:13.923569917Z",
    "Path": "npm",
    "Args": [
        "run",
        "dev"
    ],
    "State": {
        "Status": "running",
        "Running": true,
        "Paused": false,
        "Restarting": false,
        "OOMKilled": false,
        "Dead": false,

[2022-03-03 14:32] bwateratmsft commented on #3453
What version of Docker (`docker -v` in the terminal) and Docker Compose (`docker-compose -v`) do you have installed? The container is missing all of the labels necessary to make this command work.

[2022-03-03 14:33] princekukreja commented on #3453
@bwateratmsft
Docker version 20.10.7
docker-compose version 1.24.0
![Screenshot from 2022-03-03 20-03-08](https://user-images.githubusercontent.com/96442608/156585526-ddfbbb96-68ba-44da-901f-ec7b9fa75393.png)

[2022-03-03 14:55] bwateratmsft commented on #3453
It seems like these containers were created with a pre-1.3 version of Compose, which is very old (about 2015).

Even though your compose version is much newer than that, I'd try [updating it](https://docs.docker.com/compose/install/) and relaunching the compose apps entirely.

[2022-03-03 17:11] #3437 closed

[2022-03-03 18:44] bwateratmsft commented on #3439
I think you're right @adibradfield; the debugger check is happening during the debug config resolve phase (which is _before_ the containers are started). If you set the following `netCore.debuggerPath` option in `launch.json`, does it work? Your `compose-up-dev` task--in whichever compose file(s) it uses to launch the app--will need to map the debugger in from `~/.vsdbg` to `/remote_debugger`; our

[2022-03-03 19:23] bwateratmsft commented on #3439
@Lukas-J for your Python app--I've seen similar issues, where the first run starts the app but no debugger is launched, and then the second attempt _does_ start debugging. It has something to do with the somewhat complicated way that debugging is initiated in Python apps. I'm guessing that the container is started, with debugpy being installed and then starting, but before that happens the Python

[2022-03-03 19:56] int19h commented on #3439
There is a timeout in debugpy, but it's not configurable, and the exact value depends on which stage it gets stuck on.

For "attach" logic in vscode-python, it relies on VSCode's own builtin support for DAP over TCP, so whatever timeout / retry functionality is available should be applicable - but I don't recall there being any last time I checked. @paulacamargo25 might have more up-to-date knowle

[2022-03-03 20:39] bwateratmsft commented on #3439
If the stuck stage is in waiting for debugpy (in the container) to start with the app, in order to attach, what is that timeout?

[2022-03-04 01:11] int19h commented on #3439
For "attach", the VSCode side is not aware of debugpy lifecycle when connecting - it (or rather VSCode itself, since the extension just returns the host/port to connect to) simply connects to the specified address. For that one, the timeout is also determined by VSCode. If I remember correctly, it was somewhere on the order of 1 minute.

[2022-03-04 16:47] ferrarimarco opened #3456 "Formatting Docker Compose files removes the YAML document end"
Hi all!

I noticed that formatting a Docker Compose file strips away the [YAML end document marker (`...`)](https://yaml.org/spec/1.2.2/#22-structures). This doesn't happen if you manually set a Docker Compose file as a YAML file, and format it.

Steps to reproduce:

1. Create a Docker Compose file named `compose.yaml` (although any other file name recognized by the [dockercompose language definit

[2022-03-05 19:07] javs opened #3457 "Ctrl+PageUp / Ctrl+PageDown doesnt work sometimes on a docker shell"
1. Open a non-docker shell (e.g. bash).
2. Open a docker shell (e.g. attach shell to a container).
3. Focus the non-docker shell.
4. Press Ctrl+PageDown, focus moves to docker shell, cursor correctly focuses command line.
5. Press Ctrl+PageUp.

Expected: focus to move back to non-docker shell.
Actual: tabs file in editor area changes focus instead.

Notes:
* This works consistently for shell types

[2022-03-07 13:56] bwateratmsft commented on #3456
I'll take a look but I suspect it's a bug. I'll transfer this to the language service repo.

[2022-03-07 15:26] theAkito opened #3458 "[Windows 10 + WSL2] Extension versions >= 1.4.0 are broken"
I'm getting `Failed to connect. Is Docker running?` for all sections of the extension's page, when using **ANY** version that is higher than `1.3.1` (`1.4.0` is the next installable one). I have installed all the versions, starting from the newest one, i.e. `1.20.0` down to `0.9.0`. All versions up to and including `1.3.1` work. Then, at `1.4.0` it stops working.

Obviously, Docker is working as i

[2022-03-07 15:30] bwateratmsft commented on #3458
Are you using a Remote - WSL connection? Or running on the Windows host?

What version of Docker Desktop do you have?

[2022-03-07 15:33] theAkito commented on #3458
@bwateratmsft

Thank you for responding so quickly! 🙂

I am using the default way of VS Code to connect to WSL2, which seems like it's the `Remote-WSL` way, so, yes.

Docker Desktop Version: 4.5.1 (74721)

Engine: 20.10.12

Compose: v2.2.3

Credential Helper: 0.6.4

Kubernetes: v1.22.5

Snyk: v1.827.0

[2022-03-07 16:56] bwateratmsft commented on #3458
Thanks! One more question; which WSL distro are you connecting to? On my machine I have Ubuntu (Default), `docker-desktop-data`, and `docker-desktop`. If I connect to the Ubuntu one things work as expected. I think you're not meant to connect to the `docker-desktop` ones; i.e. they're thought of as "hidden".

[2022-03-07 17:43] theAkito commented on #3458
@bwateratmsft

[code]

I connect to and always use Debian for everything. Neither did I ever connect to `docker-desktop` nor to `docker-desktop-data`. I also never used the Alpine one through VS Code.

I just set up that Debian as the WSL target a long time ago and then didn't change it since then. It's all working on `Debian`. I also have a lot of other extensions installed on this `Debian` and t

[2022-03-07 17:58] bwateratmsft commented on #3458
That makes sense, thanks! In the Debian instance, if you open a terminal and do `docker context ls --format="{{json .}}"` does it give results or an error? What's the output of `docker -v` (also from within the WSL terminal)?

I'm wondering if what is happening is that the Docker CLI in the Debian "VM" is old. I'm not sure if Docker Desktop will update the executable within the WSL instance or if

[2022-03-07 18:19] theAkito commented on #3458
[code]

Indeed, that was the issue.

@bwateratmsft Thank you for the help! 🙂

To future readers who would encounter this issue:

1. Enter your WSL2 and enter the following commands.
[code]

2. Go back to VS Code.
3. File -> Exit
4. Re-Open VS Code.
5. This extension should work, again.

[2022-03-07 18:19] #3458 closed

[2022-03-07 18:27] bwateratmsft commented on #3458
Ah, I wonder if this is the same as #3249--there was an upgrade of Docker Desktop that corrupted a config file in the `%userprofile%\.docker` folder. That was on the Windows side, but it's possible the same/similar thing happened on the WSL side.

[2022-03-08 15:56] bwateratmsft commented on #3457
Most of the Docker CLI commands are executed as tasks, that may be related.

[2022-03-08 16:35] bwateratmsft commented on #3439
RE: the Python issue; I did some poking around in VSCode's debug adapter client code. It doesn't appear to accept any options. I'm guessing that since `debugpy` isn't ready yet by the time the connection is trying to start, the connection request is rejected outright; so timeouts wouldn't apply anyway. I don't think there's really anything that we can do about this other than the recommended injec

[2022-03-08 16:35] #3439 closed

[2022-03-08 16:36] bwateratmsft commented on #2289
Reopening since there is a customer ask in #3439.

[2022-03-08 16:43] bwateratmsft commented on #3457
I am not able to repro this on Windows or in WSL, with VSCode 1.65.0. What version of VSCode do you have @javs?

[2022-03-08 20:25] Lukas-J commented on #3439
Hi again,
before this issue gets closed for good, someone should add the thing with the sleep task to the documentation, e.g. in https://code.visualstudio.com/docs/containers/docker-compose#_python.

[2022-03-09 15:56] julian-poidevin commented on #869
+1 for Gitlab self-hosted

[2022-03-09 21:32] javs commented on #3457
I think I was in 1.64.x. I updated today to 1.65.1 and I can't reproduce any more, so I think it's good.

[2022-03-09 21:32] #3457 closed

[2022-03-09 21:38] LinqLover opened #3459 ""Attach Visual Studio Code" command"
I have actually two issues about this "Attach Visual Studio Code" command from the Containers view:

![image](https://user-images.githubusercontent.com/38782922/157539006-96585fa6-5dc3-4c79-9ce0-08185f76bf0d.png)

1. I use this menu item frequently and it would be great if it was available via the command bar. Unfortunately, there is no command like "Docker Containers: Attach Visual Studio Code" i

[2022-03-09 21:41] bwateratmsft commented on #3459
You are exactly correct! Their extension registers a command that appears on our tree view items' context menu. We (the Docker extension) don't actually have any control over the command's implementation. I'll transfer this issue to their public issues repo.

[2022-03-09 22:54] Lobosque opened #3460 "using this extension inside a devcontainer"
In this case, the docker daemon is running on the host, so the extension does not detect docker.
Any way to configure it in a way it connects to the host docker

[2022-03-11 05:31] #3443 closed

[2022-03-11 12:02] casectrl-fw commented on #3443
yes, I was trying to create tasks in tasks.json that could run a single dock-compose file in two different ways, one for backend devs and one for frontend devs.  I ended up just using two different compose files.

[2022-03-12 21:57] SebDanielsson commented on #2977
Any progress on this?

[2022-03-14 16:46] ucheNkadiCode commented on #3439
@bwateratmsft this is something that has been mentioned enough that I wouldn't mind adding it [tips and tricks](https://code.visualstudio.com/docs/containers/troubleshooting)

[2022-03-14 19:04] ilyasrv opened #3463 "23125125"
Does this occur consistently?
Repro steps:

1.
2.

Version: 1.20.0
OS: win32
OS Release: 10.0.19043
Product: Visual Studio Code
Product Version: 1.65.2
Language: ru

[2022-03-14 19:18] #3463 closed

[2022-03-16 11:32] v-mengwe commented on #3426
Verified on the latest build 20220315.3, this issue still reproduces on M1.

[2022-03-16 15:29] MDPolaris commented on #3450
I apologize, I missed the request for more information.  Here is the sanitized Docker File

[code]

[2022-03-16 15:41] bwateratmsft commented on #3450
Thanks! I'll take a look.

[2022-03-16 16:09] mpconte opened #3466 "Docker plugin cannot detect Docker is installed when it actually is"
VS Code Version: 1.65.2
OS Version: Windows 10 Enterprise (version 20H2)

Steps to Reproduce:

1) Installer Docker plugin
2) Install Docker Desktop (version 4.6.0)
3) Select Docker tab, it indicates "Failed to connect. Is Docker installed?"

[2022-03-16 17:05] hermitmaster commented on #2977
My (temporary) solution was to add a new shell script to my path:

`#!/usr/bin/env sh

docker compose "${@}"`

[2022-03-16 17:11] mpconte commented on #3466
@bwateratmsft Yes, I've also tried reinstalling VS Code and Docker Desktop

[2022-03-16 17:22] bwateratmsft commented on #3466
The way we detect if docker is installed is by trying `docker -v`; if it returns a 0 error code Docker is considered installed. What happens if you run that command in a terminal?

[2022-03-16 17:37] mpconte commented on #3466
unable to resolve docker endpoint: ..path to certificate file..

I've found a solution from the following [link](https://stackoverflow.com/questions/49679818/docker-could-not-read-ca-certificate)

I deleted the DOCKER environment variables and not it works

[2022-03-16 17:43] bwateratmsft commented on #3466
Ah, I see. I'll keep this in mind if users hit this in the future. Based on that StackOverflow post it looks like if Docker Toolbox was previously installed, and later Docker Desktop for Windows is installed instead, this can happen.

[2022-03-16 17:43] #3466 closed

[2022-03-16 18:17] ucheNkadiCode commented on #3263
We are continuing to work on a path forward for supporting other Container runtimes. This will be moved to the 1.22 milestone.

[2022-03-16 18:46] mjbogusz commented on #2977
The most compatible workaround would be to install [compose-switch](https://github.com/docker/compose-switch), which translates changed/deprecated flags. It's still a workaround though...

[2022-03-17 06:29] v-mengwe opened #3467 "There is no custom location in the location list when asking to select a location for deploying image to app service"
**OS:** All
**Build Version:** 20220315.3

**Repro Steps:**
1. Right click an image in the registry view -> Deploy Image to Azure App Service -> Select a subscription -> Enter a web app name -> Select a resource group.
2. Check whether there is a custom location in the location list when asking to select a location.

**Expect:**
There is a custom location in the location list when asking to select

[2022-03-17 09:44] dumbledad opened #3468 "Cannot connect to Docker container running on AWS EC2 VM"
I cannot connect to a Docker container running on a remote VM (an AWS EC2 VM).

I have followed the steps in the [Connect to remote Docker over SSH](https://code.visualstudio.com/docs/containers/ssh) documentation and the additional [troubleshooting steps](https://github.com/microsoft/vscode-docker/wiki/Troubleshooting#the-extension-does-not-find-docker-on-a-remote-machine-failed-to-connect-is-doc

[2022-03-17 09:50] dumbledad commented on #3468
I have posted this as a {Stack Overflow question](https://stackoverflow.com/q/71510168/575530) too.

[2022-03-18 05:30] #3453 closed

[2022-03-18 12:15] AlexanderYW opened #3469 "DOCKER_HOST is not respected when Docker Desktop is not installed"
DOCKER_HOST is not respected when Docker Desktop is not installed. Make VS Code read the environment variable and use the value with the docker cli binaries, just like if it was manually defined inside settings.

Why?
- Automating a full development setup will need this approach where setting the environment variable will make the software and extension work out of the box.
- Centralizing the conf

[2022-03-18 14:06] bwateratmsft commented on #3468
Are you using [Remote - SSH](https://code.visualstudio.com/docs/remote/ssh) to connect to the remote VM?

If not, did you set up an SSH agent? Most of the time when I've seen that timeout error, it's because there's no SSH agent set up and running.

[2022-03-18 14:07] bwateratmsft commented on #3467
Potentially related to #3444 and/or https://github.com/microsoft/vscode-azuretools/pull/1087

[2022-03-18 14:12] bwateratmsft commented on #3469
A couple questions just to make sure I'm understanding your scenario correctly.

1. Does the Docker CLI work from within a VSCode terminal, when you have `DOCKER_HOST` set?
2. When you say "manually defined inside settings", do you mean the Docker extension works as expected if you use the `docker.host` VSCode setting?
3. Are you using TCP or SSH? SSH requires some extra setup (https://code.visual

[2022-03-18 14:52] AlexanderYW commented on #3469
1. No Docker CLI does not respect the DOCKER_HOST environment variable, but i think it would make sense that VS Code would be using it still
2. Correct, right now it's defined inside docker extension settings where it works
3. I'm using TCP, but i dont think using SSH would change the outcome when it's not even reading it. I only wrote the SSH one to make sure that would work as well for people wi

[2022-03-18 15:23] bwateratmsft commented on #3469
The [code](https://github.com/microsoft/vscode-docker/blob/main/src/docker/ContextManager.ts#L222-L271) we have for loading context information first looks at settings, then at the `DOCKER_HOST` environment variable. The setting is used preferentially, but otherwise it is used and treated exactly the same as the `DOCKER_HOST` environment variable. In fact, the setting actually just results in the

[2022-03-19 01:33] hexpunk commented on #3453
I've got the same issue.  I'm able to compose up from the palette menu, but I can't interact with any of the container groups.  I receive the same error as @princekukreja.

[code]

<details>
<summary>
Results of running inspect on one of the containers in the group
</summary>
<pre>
<code>
{
  "Id": "908c0933c45a1afcaba8bcd2a01c2413bb88b9b238a9b8d0008419e87e9d0f48",
  "Created": "2022-03-19T01:25:0

[2022-03-21 15:02] bwateratmsft commented on #3453
Can you share more info about your setup? How Docker and compose were installed, etc.? Without the necessary labels on the containers, it is not possible for the extension to manage the Compose projects, so there's nothing that can be done--but I'd like to know what is leading to this scenario.

[2022-03-21 15:30] bwateratmsft commented on #3437
This fix has now been released in version 1.21.0 of the Docker extension.

[2022-03-21 21:07] Jcdv opened #3471 "test"
Does this occur consistently?
Repro steps:

1.
2.

Version: 1.21.0
OS: linux
OS Release: 5.10.0-12-amd64
Product: Visual Studio Code
Product Version: 1.65.2
Language: en

[2022-03-21 21:08] #3471 closed

[2022-03-21 22:52] hexpunk commented on #3453
The remote machine I'm connecting to is a Raspberry Pi 4B running Raspbian GNU/Linux 10.11.  Docker and docker-compose were installed via this debian repository:
[code]

[2022-03-22 13:00] mkonstanty opened #3472 "docker extension on wsl cannot verify ca-certificates"
Does this occur consistently? Yes
Repro steps:

All needed certificates are stored in /etc/ssl/certs

1. connect to WSL2 Ubuntu
2. switch to docker extension tab
3. connect registry...
4. generic docker registry
5. type url:port, username, password and hit enter

Actual result:
Error: request to https://fqdn:port/v2/ failed, reason: unable to verify the first certificate

Expected result:
user@hos

[2022-03-22 14:17] #3472 closed

[2022-03-25 10:37] dumbledad commented on #3468
Do you mean to connect to the remote VM? If that's your question then the answer is "yes". As I mention in my issue "I have connected to the VM in VSCode over SSH".

I do not think that is my problem since "I have connected to the VM in VSCode over SSH and made sure that the Docker extension is installed on the VM". My problem is that after these steps, in the container list in the VSCode Docker e

[2022-03-25 12:36] bwateratmsft commented on #3468
If you're using Remote - SSH to connect, then you don't need a remote Docker context; the extension will be running on the VM and Docker is essentially local from the extension's perspective.

[2022-03-25 14:50] guilhem opened #3475 "Don't communicate with docker until necessary"
Currently, docker plugin communicate with docker at each run, even if not necessary.
When using socket activation, it spawns docker daemon + all networks, and it has impact on battery consumption.

Postponing docker communication will prevent it.

Another way can be to separate `Dockerfile` linting plugin from Docker management, itself.
User being able to disable Docker communication without losin

[2022-03-25 14:53] bwateratmsft commented on #3475
This would probably be solved by #3263. Right now our initial communications with Docker are to get the context so we can set up Dockerode; if the CLI alone was used then none of that would be needed.

[2022-03-25 14:58] guilhem commented on #3475
thanks @bwateratmsft, I subscribed.

[2022-03-25 16:05] dumbledad commented on #3468
How so? Surely to pick up all the correct Gems and Rails stuff VSCode needs to be connected to the container on the VM that's running Rails, not just the VM?

[2022-03-25 17:01] bwateratmsft commented on #3468
When using Remote - SSH, the extension host, and processes it creates (terminal windows too) all happen on the remote machine. So when the Docker extension is running `docker` commands, it is running them on that VM; this is why no Docker context is needed.

[2022-03-28 08:11] gattila commented on #3469
I have a DOCKER_HOST env variable, and it points to tcp://localhost:2375. The docker ps works fine. The docker explorer also works like a charm. But the current version of this extension still display "Error: ECONNREFUSED tcp://localhost:2375" message.

[2022-03-28 09:14] AlexanderYW commented on #3469
Hi @bwateratmsft,

I was reading the code too and could not understand why it wasn't working. Thats why I created this issue.

But you're right it should work and it does work! It turns out that I had to restart VSCode, before it went into effect (I believe?), because it's working now!

Not sure if that should be a different issue? (one has to restart it), but my issue works. So i'm closing this o

[2022-03-28 09:14] #3469 closed

[2022-03-28 16:23] bwateratmsft commented on #3468
There's two different ways of reaching the Docker host in the VM.

1. Using remoting: The Remote - SSH extension can be used to open a VSCode window attached to the remote VM--the VSCode "server" (which is most of it) is running in the VM, and just the UI is on your local machine. In this scenario, the Docker context on your local machine is irrelevant to the Docker extension; the extension is run

[2022-03-28 20:12] matneh opened #3476 "Add .venv to default .dockerignore"
Situation:
When working through the Flask tutorial in https://code.visualstudio.com/docs/python/tutorial-flask it recommends following this tutorial https://code.visualstudio.com/docs/containers/quickstart-python to discover how to containerize a python application.

In the Flask tutorial, it suggests creating a virtual environment inside the `.venv` directory, but in the default `.dockerignore` f

[2022-03-28 20:15] bwateratmsft commented on #3476
This is a good idea. Should be quick to add to the .dockerignore template.

[2022-03-29 14:49] dumbledad commented on #3468
That's interesting, thanks @bwateratmsft. Using Scenario 1 how would I connect VSCode to the container running on the remote VM?

[2022-03-29 16:26] bwateratmsft commented on #3468
Depends what you mean by connect to the container--do you mean to open a VSCode window within the container using Remote - Containers, or do something else like view logs, attach a shell, etc.?

[2022-03-30 07:47] dumbledad commented on #3468
Thanks for sticking with me on this @bwateratmsft

What I expect when I say "connecting to a container running on the remote VM" is

- Can edit the files in VSCode and see the results immediately reflected when I reload the resulting page (the container is running a Rails website)
- The VSCode terminal is attached to the container
- The code tools, like live linting from rubocop, use the Gems that

[2022-03-30 10:27] jasonestewart commented on #2977
I, too, attempted this using the Edit Settings in the VSCode Docker extension settings - which opens up the user-level settings.json file. But as mentioned by others, this doesn't change anything. Is there a different file which must be edited for this to function? If so, it would be helpful for the [docs](https://code.visualstudio.com/docs/containers/reference#_command-customization) to include t

[2022-03-30 17:08] #3476 closed

[2022-03-30 21:05] bwateratmsft opened #3479 "Upgrade to Node v16"
VSCode 1.66 upgrades to Node v16. We should investigate what improvements we can take advantage of.

- [ ] Update build and `@types/node` to Node 16
- [ ] Remove `uuid` in favor of built-in `crypto` package

[2022-04-01 18:29] Igorgro opened #3480 "Duplicated IntelliSense with YAML extension"
When both this extension and the [YAML Support extension](https://marketplace.visualstudio.com/items?itemName=redhat.vscode-yaml) are enabled, the IntelliSense suggestions for docker compose files are duplicated like this:

![image](https://user-images.githubusercontent.com/22894169/161321472-9f53b817-ff5d-4351-a1d9-6787c85e2b69.png)

[2022-04-01 19:01] bwateratmsft commented on #3480
I've noticed this too 😕

I'm not sure of the best approach other than to use the `docker.enableDockerComposeLanguageService` setting to disable the language server provided by the Docker extension. They YAML extension may offer a way to selectively disable itself for files of the language type "Compose" (id: `dockercompose`), but I have not checked.

[2022-04-01 19:18] bwateratmsft commented on #3480
We could add auto-detection so if we see YAML is also installed, maybe prompt if they want to disable the Docker language server.

[2022-04-04 15:06] stuartthomson commented on #3337
Personally I'd also like to be able to see the containers more easily in the networks view. If we could agree on a design I'd be happy to open a PR with an implementation.

The main thing I am not sure about is if the containers as seen in the networks view should be the same as the ones shown in the container view - for example should you be able to right-click and do everything you can normally

[2022-04-04 22:51] JM-Lemmi commented on #3337
That would be awesome. I don't feel comfortable enough with TS to be opening a PR, but I'd happily assist you if I can.

I think the standard options should definitely be there. _Attach, Logs, Stop, Restart_.

_Disconnect_ on the container menu and _connect_ on the network menu would be obvious choices for extra options.

[2022-04-05 16:38] bwateratmsft commented on #3337
The biggest problem is that a container can be connected to multiple networks. Our tree view framework would not work, as the same container node would need to show up as a child of multiple network nodes. Altering the framework to support this scenario would be quite costly.

[2022-04-07 08:28] tigeran2020 opened #3483 "Failed to connect. Is Docker installed and running?"
I am using docker to develop on remote linux host, and I am using docker context to connect to the remote host.
But I got error `Failed to connect. Is Docker installed and running?` when I open the docker panel on vscode:

<img width="665" alt="image" src="https://user-images.githubusercontent.com/65532159/162154525-bddcca64-3f47-4d54-be39-8887ce6f19f5.png">

 And the  Docker CLI works :

<img wid

[2022-04-07 12:56] bwateratmsft commented on #3483
This error usually occurs in SSH contexts when an ssh-agent has not been set up. Even though the Docker CLI does not require one, the `ssh2` package used by `dockerode` does. There's more info on setting it up here: https://code.visualstudio.com/docs/containers/ssh#_set-up-ssh-tunneling

Once you have one going, does it work?

[2022-04-07 19:01] nachokhan opened #3484 "Group ownership of the file changes by editing"
My container is running alright.
I have mounted a volume to allow modifications locally and get the changes in the container.
Then I open a container, look for a file inside of it.
Then I right-click the file selecting the "Open" option.
I change the file's content and save it.
The file saved is now in the container.
The problem is: locally, the group ownership changed to "root" (it was nacho).

I

[2022-04-07 19:37] bwateratmsft commented on #3484
Thanks for opening this, it's a good issue. I don't think we have logic to preserve the permissions and ownerships. It might just be the `copyUIDGID` flag: https://docs.docker.com/engine/api/v1.41/#operation/PutContainerArchive

[2022-04-11 02:22] tigeran2020 commented on #3483
After I had restarted the remote linux, it worked.
I will try your way next time.

[2022-04-11 13:16] bwateratmsft commented on #3483
Glad to hear it's working now!

[2022-04-11 13:16] #3483 closed

[2022-04-12 09:44] flavour opened #3489 "Registries: Unable to scroll down beyond 1st page of Images"
Our Docker registry has a lot of images on...when I open the registry then the 1st page appears fine, however there is no way that I can find to scroll down beyond this first page...so currently nothing beyond 'f'
Removing the Containers/Images/Volumes/Networks/Help from view doesn't help...I see no extra images & no option to scroll
Am running Extension 1.21.0 on VS Code 1.66.1 (was also happenin

[2022-04-12 10:20] v-xinda opened #3490 "The repository keeps deleting status and doesn't disappear from registry view directly after deleting its images"
**OS:** All & Codespaces
**Build Version:** 20220411.2
**Regression:** Previous release

**Repro Steps:**
1. Make sure connected Azure registry.
2. Right click a image -> Push -> Azure -> Select a registry (e.g. nicole1) -> Enter default value.
3. Navigate to Registry view -> Expand the Azure -> Expand "nicole1" registry -> Expand the repository -> image.
4. Right click the image -> Delete Image.

[2022-04-12 10:49] v-mengwe opened #3491 "Can't select the Docker Hub registry provider after executing the command "Docker Registries: Copy Full Tag" from command palette"
**OS:** All
**Build Version:** 20220411.2
**Regression:** Not a Regression

**Repro Steps:**

1. Make sure connected Azure registry and Docker Hub registry.
2. F1 -> Docker Registries: Copy Full Tag.
3. Check whether can select the Docker Hub registry provider.

**Expect:**
Can select the Docker Hub registry provider.
![image](https://user-images.githubusercontent.com/62053665/162940836-dc72e1df-f

[2022-04-12 13:42] bwateratmsft commented on #3491
Might be a similar issue to what I fixed with #3487. I'll take a look.

[2022-04-12 13:44] bwateratmsft commented on #3489
@flavour are you able to provide some screenshots? It's fine to censor image names if needed.

[2022-04-12 13:48] bwateratmsft commented on #3490
OK to release 1.22.0 with this. We'll investigate.

[2022-04-12 15:03] bwateratmsft opened #3492 "Add ability to remove image and container group"
For images:

1. Ability to remove an entire image group
2. Removal will still constitute the current behavior of untagging, which may remove the image altogether or just the tag

For containers:
1. If the container group is a compose group, no removal option should be shown

[2022-04-12 16:03] flavour commented on #3489
I made a little mistake...I can scroll a bit...so the 1st screenshot is the initial screen, and the second is after scrolling to the bottom of where I can scroll...but I know that there are many more images underneath 'f'
![Docker_Registry_1](https://user-images.githubusercontent.com/389592/163005238-47a706c5-085c-4a94-8842-e1d0a2904c27.png)
![Docker_Registry_2](https://user-images.githubuserconte

[2022-04-12 16:06] bwateratmsft commented on #3489
Gotcha. I didn't count but it looks like you're hitting the default page size of 100. There's supposed to be a `Load more...` item at the end of the list, and clicking it loads the next page. I'll take a look and see if I can figure out what's going on.

[2022-04-12 16:08] bwateratmsft commented on #3489
Is the registry based on the official [Registry](https://hub.docker.com/_/registry) image, or is it another implementation?

[2022-04-12 16:49] #3491 closed

[2022-04-12 17:49] bwateratmsft opened #3494 "Change our Docker Desktop installation to also suggest it for Linux"
(See title)

At the time we added the feature to suggest installing Docker Desktop, it did not exist for Linux. But it does now! So we should suggest it.

[2022-04-12 18:05] flavour commented on #3489
It's the official one

[2022-04-14 09:09] v-mengwe opened #3495 "The error message is unclear after executing the command "Docker Containers: Compose Stop/Start/Logs" from command palette"
**OS:** All
**Build Version:** 20220412.2
**Regression:** Not a Regression

**Repro Steps:**

1. Right click a docker.compose file -> Compose Up -> There is a running container in the Container view.
2. Click the "Configure Explorer…" button on the Containers view -> Group By -> Select a property (don't select "Compose Project Name").
3. F1 -> Docker Containers: Compose Stop/Start/Logs.
4. Check w

[2022-04-14 13:37] bwateratmsft commented on #3495
That makes sense. I'll have to change it so that command does not show up in the command palette if the containers view isn't grouped by compose project.

Not a blocker for 1.22 for sure though.

[2022-04-15 15:51] day253 opened #3496 "> > Can you successfully run 'docker' on a Linux terminal?"
Did you have  a try like this ?

![image](https://user-images.githubusercontent.com/10782183/63831991-71a47900-c9a2-11e9-9ca9-77211e211322.png)

https://docs.docker.com/install/linux/linux-postinstall/

_Originally posted by @baiyutang in https://github.com/microsoft/vscode-docker/issues/1193#issuecomment-525607515_

[2022-04-15 15:52] day253 commented on #3496
@baiyutang

Just try to give the right permission to docker.sock file by:

[code]

[2022-04-15 16:26] #3496 closed

[2022-04-18 12:01] agowa338 opened #3497 "dev container expose registry secrets"
Is it possible to add an option to have this docker extension exposing the registry secrets into the dev container?
Currently, docker within the dev container needs to be configured with its own API token.

[2022-04-18 14:01] #3497 closed

[2022-04-18 15:35] bwateratmsft commented on #3484
I've spent some time investigating, and unfortunately I don't think it's possible to deal with this scenario without making the performance absolutely awful. VSCode's [`FileSystemProvider`](https://code.visualstudio.com/api/references/vscode-api#FileSystemProvider) API, [`FileStat`](https://code.visualstudio.com/api/references/vscode-api#FileStat) in particular, does not offer a way to attach owne

[2022-04-18 15:35] #3484 closed

[2022-04-18 15:52] bwateratmsft commented on #3494
Docker Desktop for Linux is still in beta, and doesn't have direct links to stable available yet. I'm going to move this out to 1.24.0 for now.

[2022-04-18 15:56] bwateratmsft commented on #3450
@rcjsuen can you take a look?

[2022-04-18 15:57] rcjsuen commented on #3450
@bwateratmsft Sorry, will take a look. My day job also uses GitHub so notifications get lost, sorry... :|

[2022-04-18 16:08] bwateratmsft commented on #3450
No worries! Thanks for looking!

[2022-04-18 16:18] nachokhan commented on #3484
Thanks my friend for the time invested on this topic. Because of the nature of my problem it is possible to use volumes and that's what I'm doing now so it's not a problem at all right now. However it would be nice to warn about this problem just in case another user face the same situation :)

[2022-04-18 16:51] bwateratmsft commented on #3489
I'm not able to reproduce the issue with the `registry:2` image. To debug I just set the maximum page size to 5; and I'm able to see the `Load More...` button at the bottom of the list, and it works as expected. I'm wondering if it works differently when the registry is configured as a mirror; I'll try that.

[2022-04-18 16:56] elucidsoft opened #3499 "No longer works with latest Docker Desktop"
This no longer works under WSL with the latest version of Docker Desktop 4.7.0 (77141).  I get an error saying "Error: Process 'docker context ls --format --format={{.json.}} exited with code 1" in the VSCode Explorer window for both Containers and Images.

Detailed Error: ``Error: Process 'docker context ls --format="{{json .}}"' exited with code 1
Error: invalid character '\x00' looking for begi

[2022-04-18 17:00] elucidsoft commented on #3499
Perhaps related? https://github.com/docker/for-linux/issues/140

[2022-04-18 17:06] bwateratmsft commented on #3489
@flavour I set my registry up as a mirror and was still able to see the `Load More...` button. I even changed around some window heights and positions, but I'm always able to see it.

Can you scroll to the bottom of that repository listing and see if the option is there?

[2022-04-18 17:07] elucidsoft commented on #3499
FYI, the solution to this is to Reset Factory Settings on Docker Desktop which clears out the offending log with the bad character in it that causes this entire mess.  It's a hack, but it works.

[2022-04-18 17:14] bwateratmsft commented on #3499
Same as #3249. Unfortunately this is outside of our control, but doesn't seem to happen often. I'll keep in mind that the Factory Reset works; previously the only way I knew of was to delete the local settings files which would _probably_ not be supported by Docker.

[2022-04-18 17:14] #3499 closed

[2022-04-18 17:47] flavour commented on #3489
Thanks...not the option is definitely not there...funny thing is that I am pretty sure that I have seen it in the past...probably a couple of revisions of code ago.
I tried playing with my zoom & full screen, but no joy...with zoom far out then I can see all the images that are loaded...and empty space below it...plenty of space for the 'Load more' but it's not visible.
I tried disconnecting/recon

[2022-04-18 18:01] bwateratmsft commented on #3489
That's strange. The only thing I can think of that would cause this is that the `link` header being missing or malformed in the response. That `link` header is basically used to get the _next_ page of items.

The only way I can think of to investigate this is to either provide you a private build that logs the header to the output window, or if you're familiar with Postman or similar products, you

[2022-04-19 11:56] rcjsuen commented on #3450
I've been able to reproduce the issue in VS Code but haven't been able to reproduce it in my library. The issue seems to be related to semantic highlighting.

@MDPolaris You should be able to prevent the crash by disabling this feature by adding this to your `settings.json` file.
[code]

[2022-04-19 14:48] #3479 closed

[2022-04-20 11:14] flavour commented on #3489
I had a try with Postman, but it doesn't work easily...our registry has a custom SSL cert...I found where to put that into Postman, but it still doesn't log the requests at all & the images completely fail to load, so it is definitely trying to use the proxy.

[2022-04-20 15:18] KY-0426 opened #3503 "wx"
Does this occur consistently?
Repro steps:

1.
2.

Action: docker-context.initialize
Error type: 1
Error Message: Process 'docker context ls --format="{{json .}}"' exited with code 1
Error: open C:\Users\Administrator\.docker\contexts\meta\fe9c6bd7a66301f49ca9b6a70b217107cd1284598bfc254700c989b916da791e\meta.json: The system cannot find the file specified.

Version: 1.8.1
OS: win32
OS Release: 10.

[2022-04-20 15:33] bwateratmsft commented on #3503
This error is coming from the Docker CLI; it looks like the file is corrupted or disappeared unexpectedly. This is outside of our control.

[2022-04-20 15:33] #3503 closed, assigned to nobody

[2022-04-21 08:43] flavour commented on #3489
Thanks, I installed this fine...confirmed that this shows as v1.22.5-alpha in extensions
Absolutely nothing appears in OUTPUT when I browse the registry, which I guess confirms your suspicion?
Weird that I am sure that I have seen this in the past & the registry software hasn't been upgraded since.

[2022-04-27 02:12] rcjsuen commented on #3450
I can confirm that the code runs fine from the language server but something weird is happening when it gets back to VS Code. This implies one of the following:
- there is some parsing bug in VS Code
- the data in the semantic tokens is bad which causes VS Code to recurse indefinitely when trying to apply the semantic highlighting

[2022-04-27 19:26] Igorgro commented on #3483
@bwateratmsft Hi! I have the same issue, but I have ssh-agent running. It seems like vscode cannot detect it and shows the warning and cannot connect to remote context. I've everything according to instruction yu linked but it still doesn't works.

[2022-04-27 20:46] karolz-ms commented on #3483
@Igorgro please confirm you _understood and followed the first tip in the instructions_ (the one about using only globally-resolvable DNS machine name or IP address in Docker endpoint definition) and that the remote Docker context is usable from command line (you can execute command such as `run`, `images` etc against that context).

If that is all true, maybe you can share the definition of your

[2022-04-27 22:21] Igorgro commented on #3483
Yes, I can run any docker commands from command line, but not from vscode. I'm creating the context with the following command: `docker context create myserver --docker "host=ssh://igormahov@192.168.1.2:22"`

[2022-04-28 00:07] karolz-ms commented on #3483
Igorgro thanks. Sorry, I have no other ideas why the Docker extension does not work; looks like you did everything right. 😞

[2022-04-28 11:06] rcjsuen commented on #3450
I have confirmed that there is a bug in the semantic tokens calculation and will be tracking this in https://github.com/rcjsuen/dockerfile-language-service/issues/104.

[2022-04-29 13:18] rcjsuen commented on #3450
@karolz-ms I'll try to tie things up over the weekend so I can have a pull request open for next week.

[2022-05-03 16:23] bwateratmsft commented on #3450
I feel like we should still open an issue on VSCode with the relevant info. A language service should not be able to lock up/crash the main process.

[2022-05-03 17:17] rcjsuen commented on #3450
@bwateratmsft What happens if you put an infinite loop while calculating completion items in Intellisense? 🤔

[2022-05-03 17:20] bwateratmsft commented on #3450
The language server is out-of-proc so shouldn't it just show loading indefinitely? I was thinking the problem with https://github.com/rcjsuen/dockerfile-language-service/issues/104 was that negative values would cause VSCode's primary process to fall into an infinite loop; if so it should be handling that a bit more gracefully.

[2022-05-03 17:27] rcjsuen commented on #3450
In the language server case it might eventually be "canceled" or die. I feel like past instances of buggy semantic tokens caused the language server to crash but we have not had too many cases of VS Code hanging and hard crashing.

However, my question was intended to be for a generic VS Code extension that does not use the language server protocol. If you just make an extension today and added an

[2022-05-03 17:30] bwateratmsft commented on #3450
I think that a `while (true)` in that case (in an extension) would hang the extension host process, but even that doesn't take out VSCode as a whole.

[2022-05-03 17:40] bwateratmsft commented on #3450
I went ahead and opened https://github.com/microsoft/vscode/issues/148651. We should still fix this / https://github.com/rcjsuen/dockerfile-language-service/issues/104, so we are not blocked waiting for that.

[2022-05-03 19:09] shannonmae999 opened #3505 "to do"
`

Does this occur consistently?
Repro steps:

1.
2.

Version: 1.22.0
OS: win32
OS Release: 10.0.22610
Product: Visual Studio Code
Product Version: 1.66.2
Language: en

[2022-05-03 19:13] #3505 closed

[2022-05-04 15:55] ucheNkadiCode opened #3506 "Telemetry improvement"
I would love on the vscode-docker/vscode-docker.images.push if we could track pushes to all of our registries including ACR and DockerHub

[2022-05-04 17:29] #3506 closed

[2022-05-04 23:43] rcjsuen commented on #3450
I have created #3508 to address this.

@MDPolaris Thank you again for your bug report!

[2022-05-05 16:36] bwateratmsft commented on #3467
I am no longer able to reproduce this issue.

[2022-05-05 16:36] #3467 closed

[2022-05-05 16:39] bwateratmsft commented on #3444
Still not fixed in `@azure/arm-appservice` 12.0.0.

[2022-05-05 17:15] ucheNkadiCode opened #3510 "Telemetry Improvement: Capture pushes to Github Container Registry"
Like the details in -> [this article](https://blog.codecentric.de/en/2021/03/github-container-registry/) -> let's capture anything prepended with "Ghcr.io/"

[2022-05-05 18:26] #3510 closed

[2022-05-06 05:32] #3489 closed

[2022-05-07 03:27] bdrakester opened #3511 "l"
Does this occur consistently?
Repro steps:

1.
2.

Version: 1.22.0
OS: win32
OS Release: 10.0.19043
Product: Visual Studio Code
Product Version: 1.66.2
Language: en

[2022-05-07 03:27] #3511 closed

[2022-05-09 06:22] v-ruizh opened #3512 "Fail to build image for Dockerfile with the default 7.0 image"
**OS:** Win 10
**Docker Extension Build Version:** 20220506.1
**.NET Version:** 7.0.100-preview.3.22179.4

**Repro Steps:**
1. Create and open a .NET 7.0 MVC project in VS Code.
2. Add Docker files to this project (Linux Container) -> Right click the "Dockerfile" file -> Select "Build Image...".
3. Check whether succeeds to build image of the "Dockerfile" file.

**Expect:**
Succeed to build image

[2022-05-09 10:51] v-xinda opened #3513 "Fail to execute docker login with an error on Linux"
**OS:** Ubuntu20.04
**Docker Extension Build Version:** 20220506.1

**Repro Steps:**
1. Create a new azure registry.
2. Navigate to terminal window -> Run the following command `docker login <registry-name>.azurecr.io` -> Enter username
-> Enter password -> Press Enter.
3. Check whether succeeds to execute docker login.

**Expect:**
Succeed to execute docker login.

**Actual:**
Fail to execute doc

[2022-05-09 11:00] v-xinda opened #3514 "Fail to to debug the python project with an error on Linux"
**OS:** Ubuntu20.04
**Docker Extension Build Version:** 20220506.1
**Python Version:** 3.9.12

**Repro Steps:**
1. Open a Python project in VS Code.
2. Add Docker files to it -> Debug.
3. Check whether succeeds to debug the python project.

**Expect:**
Succeed to to debug the python project.

**Actual:**
Fail to to debug the python project with an error.
![image](https://user-images.githubusercont

[2022-05-09 11:23] v-ruizh opened #3515 "There is a warning after disconnecting the Docker Hub registry"
**OS:** Win 10
**Docker Extension Build Version:** 20220506.1

**Repro Steps:**
1. Navigate to Docker registry view -> Connect Registry... -> Docker Hub -> Enter the Docker ID and password to connect.
2. Right click Docker Hub node and select "Disconnect".
3. Check whether there is no warning.

**Expect:**
There is no warning after disconnecting the Docker Hub registry.

**Actual:**
There is a war

[2022-05-09 16:10] #3512 closed

[2022-05-09 16:26] bwateratmsft commented on #3515
I created https://github.com/microsoft/vscode/issues/149104, this looks to be external. It does not occur in VSCode 1.66.2 so I assume it's a regression in 1.67.0.

[2022-05-09 16:32] bwateratmsft commented on #3515
Closing since we won't need to do anything to pick up a fix.

[2022-05-09 16:32] #3515 closed

[2022-05-10 07:03] xiazhifengtest opened #3517 "1"
Does this occur consistently?
Repro steps:

1.
2.

Version: 1.22.0
OS: win32
OS Release: 10.0.19043
Product: Visual Studio Code
Product Version: 1.67.0
Language: zh-cn

[2022-05-10 12:45] #3517 closed

[2022-05-10 16:11] v-ruizh opened #3518 "Fail to debug the project if debugging a .NET 7 MVC project with "7.0-jammy" image"
**OS:** Win 10
**Docker Extension Build Version:** 20220510.1
**.NET Version:** 7.0.100-preview.3.22179.4

**Repro Steps:**
1. Create and open a .NET 7.0 MVC project in VS Code.
2. Add Docker files to this project (Linux Container).
3. Open the Dockerfile and change the image to "**7.0-jammy**".
4. Debug this project with the configuration "Docker .NET Core Launch".
5. Check whether succeeds to de

[2022-05-10 16:15] bwateratmsft commented on #3518
@mthalman have you seen anything about `libssl` on the `7.0-jammy` containers?

[2022-05-11 00:09] dbreshears opened #3519 "Add support for docker sbom <image>"
We should consider a context menu off the image and maybe a palette command for Docker sbom <image>

[2022-05-11 12:08] ahmaddxb opened #3520 "Compose Up - Select Service"
This feature has stop working as expected.

Before I used Compose Up - Select Service and then clicked Services I would get a full list of all the services in my compose file.

Now if I have assigned a profile under any of my services in my compose file they will not show up in the list of services as before.

[2022-05-11 13:46] #3520 closed

[2022-05-11 17:36] bwateratmsft commented on #3513
I was not able to reproduce on Ubuntu 22.04.

[2022-05-11 17:48] bwateratmsft commented on #3514
I am able to reproduce. Taking a look.

[2022-05-11 17:57] bwateratmsft commented on #3514
As a workaround to any users who might be hitting this issue, you can add this `"debugAdapterHost": "localhost"` to your `launch.json` file:

[code]

VSCode will put yellow warning squiggles in, but you can ignore this. The warning will not show up in the Problems tab once the launch.json file is closed.

[2022-05-11 18:30] bwateratmsft commented on #3518
Tested it out; both `7.0` (Debian) and `7.0-alpine` (Alpine) work as expected. Seems only Jammy is affected. .NET 6.0 seems to also be equally affected.

The pipe command being used looks like this:
[code]

[2022-05-11 18:43] mthalman commented on #3518
Ah, I bet it is vsdbg that has the dependency then?

[2022-05-11 18:44] bwateratmsft commented on #3518
That would not surprise me. I'll sync with some vsdbg folks.

[2022-05-12 14:31] bwateratmsft commented on #3518
Working with the vsdbg folks, they have a fixed version and I tested it successfully, with .NET 6.0 Alpine/Debian/Ubuntu Focal/Ubuntu Jammy, and .NET 7.0 Alpine/Debian/Ubuntu Jammy. Once this has been released I'll close this issue.

[2022-05-12 17:48] #3514 closed

[2022-05-13 07:27] ibiann opened #3523 "help"
Does this occur consistently?
Repro steps:

1.
2.

Version: 1.22.0
OS: win32
OS Release: 10.0.19044
Product: Visual Studio Code
Product Version: 1.67.1
Language: en

[2022-05-13 13:31] #3523 closed

[2022-05-14 16:07] CodingGorit opened #3524 "use miniprogram-cli occurs the problem"
Does this occur consistently?
Repro steps:

1.
2.

Action: docker-context.initialize
Error type: 1
Error Message: Process 'docker context ls --format="{{json .}}"' exited with code 1
Error: 'docker' �����ڲ����ⲿ���Ҳ���ǿ����еĳ���
���������ļ���

Version: 1.8.1
OS: win32
OS Release: 10.0.22000
Product: WeChat Web Devtools
Product Version: 1.52.0
Language: zh-CN

<details>
<summary>Call Stack</summary

[2022-05-14 20:18] LouisStAmour-TELUS commented on #2058
Just a post that I tried setting up a Minikube context with:

    docker context create minikube \
        --description "Minikube" \
        --default-stack-orchestrator kubernetes \
        --docker "host=tcp://127.0.0.1:64348,ca=$HOME/.minikube/certs/ca.pem,cert=$HOME/.minikube/certs/cert.pem,key=$HOME/.minikube/certs/key.pem,skip-tls-verify=false" \
        --kubernetes "config-file=$HOME/.kub

[2022-05-14 20:21] LouisStAmour commented on #2058
Just a post that I tried setting up a Minikube context with:

    docker context create minikube \
        --description "Minikube" \
        --default-stack-orchestrator kubernetes \
        --docker "host=tcp://127.0.0.1:64348,ca=$HOME/.minikube/certs/ca.pem,cert=$HOME/.minikube/certs/cert.pem,key=$HOME/.minikube/certs/key.pem,skip-tls-verify=false" \
        --kubernetes "config-file=$HOME/.kub

[2022-05-15 19:02] Wadzio opened #3525 "Can't debug containerized Python app in WSL without DockerDesktop"
OS: Windows 10 (21H2 build: 19044.1706)
VSCode: 1.67.1
VSCode-docker: 1.22.0
WSL2 with distro: Ubuntu 20.4, kernel 5.10.16
Docker in Ubuntu distro: 20.10.12
**_No DockerDesktop installed on OS_**

Everything works perfectly when we have DockerDesktop installed on the OS (it was fixed in [#2641](https://github.com/microsoft/vscode-docker/issues/2641))

When we do not have DockerDesktop, and we have

[2022-05-16 14:13] bwateratmsft commented on #3525
I think with a minor adjustment to #3522 we can fix this.

[2022-05-16 14:14] #3524 closed

[2022-05-16 18:35] ucheNkadiCode commented on #3480
@bwateratmsft do we feel as though the Docker extension provides more value for Yaml **within** the Compose file though?

If so would there be a way to instead suppress the YAML support extension just for this specific file type?

[2022-05-16 18:42] bwateratmsft commented on #3480
We could ask the YAML extension to support that, but it would require them to make changes. VSCode might also have a way to choose one language server or another for a given language, but I'm not sure.

[2022-05-17 16:49] ucheNkadiCode commented on #3480
Added over here https://github.com/redhat-developer/yaml-language-server/issues/715

[2022-05-17 19:01] bwateratmsft commented on #3518
vsdbg has updated its links; this should now be fixed. @v-ruizh can you try it out during the next Docker test pass, and reopen this issue if it still exists?

Thanks!

[2022-05-17 19:01] #3518 closed

[2022-05-18 18:24] bwateratmsft opened #3527 ".NET debugging can fail after the vsdbg update"
See https://developercommunity.visualstudio.com/t/The-pipe-progam-docker-existed-unexpec/10043164. This likely affects VSCode the same way.

Due to some old DLLs being left after the vsdbg update from .NET 5 -> .NET 6, debugging can fail. As a workaround. removing the entire `~/.vsdbg` folder should fix the problem.

Adding the `-u` flag to the call to `GetVsDbg.sh` should fix this.

[2022-05-19 12:16] jankap commented on #3241
Is there any chance to just run commands in WSL, as it's possible with the remote-containers extension, too?

![image](https://user-images.githubusercontent.com/12893844/169291148-626dd2e4-dbce-4efa-95d3-507bd1aff990.png)

[2022-05-19 17:21] bwateratmsft commented on #3444
I did some investigating; we're still stuck here and there's not a viable workaround either. In the past we could alter the mappers to cause serialization to include the needed property, but with some security fixes this is no longer possible--the mappers are frozen.

[2022-05-19 17:29] bwateratmsft commented on #3263
I know a lot of folks are interested so I wanted to give an update. Work on this is proceeding in earnest right now (as in, we're past most of the planning and really writing code!). We have rather ambitious plans so it will take some time.

[2022-05-19 17:43] #3527 closed

[2022-05-19 17:47] #3525 closed

[2022-05-19 20:59] benatshippabo commented on #3263
Thanks for the update @bwateratmsft! I'm so glad this is underway

[2022-05-20 03:30] YouSenRong opened #3530 "Remote Docker Containers "Failed to connect. Is Docker running?""
The remote docker containers "Failed to connect. Is Docker running?", but the Images can be connect and show correctly.

Local:
VScode 1.67.2 universal
Mac os 12.4
Remote:
Ubuntu 16.04

I have read these two issue, but it seems not work to me.

https://github.com/microsoft/vscode-remote-release/issues/4800

https://github.com/microsoft/vscode-docker/issues/3111

Additionaly, I have seen this answe

[2022-05-20 13:30] bwateratmsft commented on #3530
@YouSenRong can you share a screenshot of what you're seeing?

[2022-05-23 02:10] v-xinda commented on #3513
@bwateratmsft I will verify this issue on the next Docker extension test pass.

[2022-05-23 15:02] bwateratmsft commented on #3512
We have updated the scaffolding to return to just `mcr.microsoft.com/dotnet/aspnet:7.0`. It will no longer do the erroneous `mcr.microsoft.com/dotnet/aspnet:7.0-focal`. This applies to all .NET scaffolding including 6.0 and 3.1.

In the past we found that the Debian images (e.g. `:6.0`) were lacking in some binaries needed to support the attach scenario, but the Ubuntu images (e.g. `:6.0-focal`) d

[2022-05-24 11:56] MathiasMagnus commented on #3295
@bwateratmsft any update on this? Is it still a backlog item?

[2022-05-24 14:10] bwateratmsft commented on #3295
@MathiasMagnus we're actively working on #3263 now; since we'll be using the Docker CLI only going forward (no longer the HTTP endpoint), I think your scenario should work as long as the CLI does.

[2022-05-24 15:32] bwateratmsft commented on #3263
Thanks for your thoughts, we appreciate the input! I'll try to address some of your questions here:

The key work on the container runtimes library is still in a private repository but we should be opening it up soon; certainly some time before release. I'll update on this issue once it is opened. We love contributions!

The architecture we're envisioning is that the Docker extension would permit

[2022-05-24 15:43] bwateratmsft commented on #3263
Thanks for your thoughts, we appreciate the input! I'll try to address some of your questions here:

The key work on the container runtimes library is still in a private repository but we should be opening it up soon; certainly some time before release. I'll update on this issue once it is opened. We love contributions!

We think that, fundamentally, all of the runtimes deal with the same objects

[2022-05-24 19:46] ogtega opened #3532 "Editor Freezes While Editing Dockerfile"
[code]

The second I put Test on line 4 in single quotes, my editor freezes.

[2022-05-24 19:54] bwateratmsft commented on #3532
This might be the same as #3450, which is fixed but not yet released. I'll check to see if the current builds still have this issue...

[2022-05-25 13:31] bwateratmsft commented on #3532
Ok, I am able to reproduce this issue on 1.22.0, and confirmed that the issue no longer reproduces in the current nightly builds. So it must be the same as #3450.

[2022-05-26 14:48] bwateratmsft opened #3535 "Support for deploying to Azure Container Apps"
We should add support for deployment to Azure Container Apps. Potentially work with the ACA extension or with shared libraries.

We should also consider having this replace the deployment to ACI.

Depends on https://github.com/microsoft/vscode-azurecontainerapps/issues/209.

[2022-05-30 20:42] tinyCodersDen opened #3537 "docker compose up errors with code 1"
Does this occur consistently?
Repro steps:

1.docker desktop version 4.6.1
2.open the docker extension on vscode and it gives this error

Action: vscode-docker.compose.up
Error type: 1
Error Message: Process 'docker context ls --format="{{json .}}"' exited with code 1
Error: invalid character '\x00' looking for beginning of value

Version: 1.22.0
OS: win32
OS Release: 10.0.18362
Product: Visual St

[2022-05-31 01:01] code-d commented on #3530
@YouSenRong I have the same issue, maybe its related to `ssh2` issue

need to add following line to sshd config on the server

[code]

Details:
https://github.com/mscdex/ssh2/issues/989#issuecomment-1117074996_

[2022-05-31 16:50] bwateratmsft opened #3539 "Consider deprecating `docker.host`, `docker.context`, etc. settings"
We're thinking about deprecating these settings, in favor of using VSCode's standard `terminal.env.<os>` option. I think that we would want to have a migration experience to help users get over to the new settings, as well as some documentation to describe how to set those.

VSCode will apply those environment variables automatically to all terminal windows, but we would need to pick up and apply

[2022-05-31 17:19] bwateratmsft commented on #3539
/cc @chrmarti

[2022-06-01 03:47] Deepzoom opened #3540 "d"
Does this occur consistently?
Repro steps:

1.
2.

Version: 1.22.0
OS: win32
OS Release: 10.0.19044
Product: Visual Studio Code
Product Version: 1.67.2
Language: en

[2022-06-01 12:59] #3540 closed

[2022-06-01 18:32] bwateratmsft commented on #3535
A couple of possible options:

1. The ACA extension puts a command in our context menu. A disadvantage of this is that if the ACA extension is not installed, discoverability isn't there.
2. The Docker extension puts a small wrapper command in our context menu. It will install ACA if needed and proceed with calling the "real" command in ACA.
3. The Docker extension implements its own deployment wit

[2022-06-02 04:48] chrisbrocklesby commented on #3530
I am also having the same issue on MacOS with the VSCode Docker Extension...

`docker context use remote` works in Terminal but the extension refuses to connect to the remote host/context.

[2022-06-02 07:58] v-xinda commented on #3513
Verified on Ubuntu 21.10 with the latest build 20220601.3 and the new Docker Desktop 4.9.0. This issue doesn't reproduces for now, so close it.

[2022-06-02 07:58] #3513 closed

[2022-06-02 15:36] karolz-ms commented on #3513
@v-xinda thanks. Just for future reference, I would recommend using Ubuntu 22.04 a.k.a. Jammy as the primary Linux flavor for future testing. It is the latest LTS release https://ubuntu.com/about/release-cycle

[2022-06-06 02:03] v-xinda commented on #3513
@karolz-ms  Got it. we will use Ubuntu 22.04 a.k.a. Jammy as the primary Linux flavor for future testing.

[2022-06-06 06:44] majksner commented on #3530
I am also having the same issue, and it seems it's because I have moved my SSH keys to 1Password (https://developer.1password.com/docs/ssh/get-started#step-3-turn-on-the-1password-ssh-agent) and added this line to `~/.ssh/config

[code]

If I remove this line, all works correctly. Running `docker ps` from command line works fine, but it asks me to authenticate to use my SSH key.

[2022-06-06 14:21] tuncozanaydin opened #3542 "Python unittest discovery issue as non-root user"
VSCode correctly discovers the test cases inside the following directory structure with the auto-generated unittest config **only when I run my container as root** :
[code]
.vscode/settings.json
[code]

When I instead run the container **as a non-root user**, VSCode's testing pane lists
remote-cli, sbin and UID.py and does not discover the unittests I wrote test_hello.py

Here is my setup:
_Local:

[2022-06-06 14:41] bwateratmsft commented on #3542
@tuncozanaydin is the container you are using for development (i.e. a dev container that you use the Remote - Containers extension to attach to)?

[2022-06-06 14:53] tuncozanaydin commented on #3542
@bwateratmsft that's right.

[2022-06-06 16:02] bwateratmsft commented on #3542
I guess I lost the ability to transfer so I opened https://github.com/microsoft/vscode-remote-release/issues/6789.

[2022-06-06 19:33] nccaruso opened #3543 "Find all occurrances stopped working but "find declaration"/"find definition" still work"
Issue Type: <b>Bug</b>

I am not sure how to reproduce -- I disabled some extensions (not sure which) and re-enabled them, restoring the system to what should have been the original state, but now "find all references" says "no references" to query, even though the same queries worked before the initial disable.    And "goto definition/declaration" both still work.  Tried uninstalling and re-insta

[2022-06-06 19:38] bwateratmsft commented on #3543
@nccaruso did you mean to file this in the [microsoft/vscode](https://github.com/microsoft/vscode) repo?

[2022-06-06 19:54] nccaruso commented on #3543
well, I'm not sure.  I am using the remote explorer.

On Mon, Jun 6, 2022 at 3:39 PM Brandon Waterloo [MSFT] <
***@***.***> wrote:

[2022-06-06 19:56] bwateratmsft commented on #3543
Which programming language is this occurring for?

[2022-06-06 20:08] bwateratmsft commented on #3543
Ok, can you open this issue in the [repo](https://github.com/Microsoft/vscode-cpptools) for the C++ extension? Most likely the issue is there, but it's definitely not in the Docker extension.

[2022-06-06 20:08] #3543 closed

[2022-06-06 20:17] nccaruso commented on #3543
Sure, sorry, I used a "file a bug report" button somewhere in the app and I
guess I was not careful.  Thanks for your help!

On Mon, Jun 6, 2022 at 4:08 PM Brandon Waterloo [MSFT] <
***@***.***> wrote:

[2022-06-07 00:19] elasticdotventures commented on #869
+1 Github Container Registry,

the github contact @Phanatic in #1525 seems to have moved on with no response, the thread locked (only for contributors)

I've posted requesting an update here (is there a github issue for this?)
https://github.community/t/ghcr-io-docker-http-api/130121/2

[2022-06-07 16:52] philliphoff commented on #3535
I like #1 the best, by far, and #3 the least, by far.  I see #1 as a convenience for a user that already knows and cares enough about ACA to have first installed that extension. I don't quite buy (2) or (3) as an effective means for ACA discovery.

[2022-06-09 18:59] bwateratmsft opened #3545 "Go through new UX guidelines"
VSCode has updated its [UX guidelines](https://code.visualstudio.com/updates/v1_68#_ux-guidelines), and I think it would be a good idea to review the Docker extension and see what needs to change, if anything.

[2022-06-10 14:15] bwateratmsft commented on #3539
@Tyriar had an alternative idea I think I like better. Instead of using `terminal.integrated.env.<os>`, define our own setting that accepts any key/value pairs, e.g.:
[code]
We can apply this setting to `ExtensionContext.environmentVariableCollection`, as well as any shells we create in the background.

[2022-06-10 15:26] chrmarti commented on #3539
I assume that could contain env variables for several CLIs? (E.g., Docker and Podman.)

[2022-06-10 17:32] bwateratmsft commented on #3539
Yes, I think we would make it accept any environment variables, so that we don't have to chase many runtimes' particular environment variables.

[2022-06-14 17:54] ApiTelegram opened #3546 "IMPORTANT"
Does this occur consistently?
Repro steps:

1.
2.

Version: 1.22.0
OS: win32
OS Release: 10.0.19042
Product: Visual Studio Code
Product Version: 1.68.0
Language: ru

[2022-06-14 18:08] #3546 closed

[2022-06-16 22:56] ucheNkadiCode opened #3549 "Names of containers are long sha values"
From paulyuk,

"Why is it when I use docker compose, instead of a plain docker file, running the container (`docker compose up`) it creates this weird SHA name in Docker tooling, even though it has a nice name in Docker CLI. It only gives me the nice name when I hover over it"

![image](https://user-images.githubusercontent.com/20650058/174191549-66a894ef-f893-4526-acac-6eef153c7c23.png)

CONTAINE

[2022-06-17 13:48] #3549 closed

[2022-06-18 14:12] mansi051002 opened #3550 ""g++: fatal error: cannot execute 'cc1plus': execvp: No such file or directory""
Does this occur consistently?
Repro steps:

1.
2.

Version: 1.22.0
OS: darwin
OS Release: 21.5.0
Product: Visual Studio Code
Product Version: 1.68.1
Language: en

[2022-06-19 12:07] Yensan opened #3551 "please add multi docker-server environment setting"
vs docker plugin is powerful. thank you

vs k8s plugin has multi server setting, it is very useful. It can check out and switch between multi cluster
[code]

Hope vs docker plugin have it some day.

[2022-06-19 12:56] bwateratmsft commented on #3551
[Docker Contexts](https://docs.docker.com/engine/context/working-with-contexts/) are probably what you are looking for. Let me know if that helps!

[2022-06-19 12:56] #3550 closed

[2022-06-19 13:18] Yensan commented on #3551
thx for reply
how ever, context is complex, set in `settings.json` is useful.
there is some case that `.dockercontext` can not handle. If use proxy, docker context will be failed. It can be set in vscode `"docker.host": "tcp://some.com:57303",`

[2022-06-19 15:06] Yensan commented on #3551
docker context tool is buggy...  I show you a bug.

I had an remote openSUSE host, it have docker, and minikube-KVM-docker, so it have two docker engine. don't be confused.

[code]

 I don't want use docker context any more. By the way, it is not convenient at all.
VScode docker plugin is awesome. I put settings in `settings.json`, all things done!

[code]

[2022-06-20 13:13] #3551 closed

[2022-06-21 05:34] #3530 closed

[2022-06-22 07:36] dnsahoo opened #3552 "Failed to connect. Is Docker installed and running? Error: connect ENOENT /var/run/docker.sock"
Issue Type: <b>Bug</b>

I have installed: Docker and Remote-Container... plugins
and I have Dockerfile, and press (Ctrl + Shift + P) --> select: Remote-Container: Open folder in Container....

Able to run file inside container successfully But while kept breakpoint in Python file, its shows following error:

Failed to connect. Is Docker installed and running? Error: connect ENOENT /var/run/docker.

[2022-06-22 15:15] bwateratmsft commented on #3552
The explorer view will not work from within the container as the Docker extension cannot reach the container host. The easiest solution would be to keep a separate VSCode window open for that purpose.

[2022-06-23 22:44] shizn opened #3553 "Cannot add dockerfile to workspace using the extension"
Dev Env: WSL2, Windows 11
![image](https://user-images.githubusercontent.com/3619378/175426687-23227b21-19c5-469a-895f-49f67a46d6b9.png)
Docker Desktop for Windows, v 20.10.13
VS Code: 1.68.1
Docker Extension: v1.22.0
C#: v1.25.0

These extensions are all activated in VS Code.

Steps to reproduce:
1. Command Palette -> Docker: Add Dockerfiles to workspace -> .NET: ASP.NET Core -> Linux -> Port:emp

[2022-06-24 07:40] v-ruizh opened #3554 "A warning dialog pops up when executing "Open in Browser" action for a running container under a new ACI context"
**OS:** Win 10
**Build Version:** 20220616.6

**Repro Steps:**
1. Create an Express App and add Dockerfiles to it.
2. Build image for the Dockerfile.
3. Push the Express image to Azure Container registry.
4. Navigate to Express image in registry view -> Right click it and select "Deploy image to Azure Container Instances..." -> Create an ACI context to deploy.
5. Right click the running container

[2022-06-24 12:52] bwateratmsft commented on #3553
Hm, this might actually be coming from the C# extension. I'll take a look.

[2022-06-24 12:58] bwateratmsft commented on #3553
Yep, looks like this has to be coming from C#. I'll reopen the issue there. We don't have anywhere in source where we're reading a property called `isWindows`, but C# does.

[2022-06-24 12:58] #3553 closed

[2022-06-28 09:58] wenbingzhang commented on #3263
This is how I set up support for podman

settings.json
[code]

podman-remote
[code]

<img width="603" alt="image" src="https://user-images.githubusercontent.com/13162606/176151505-c7db3da5-0e24-43de-91d6-6279d1ccdd8a.png">
<img width="705" alt="image" src="https://user-images.githubusercontent.com/13162606/176151618-b4e73674-78b2-451c-aefc-83a5852e69d4.png">

[2022-06-28 17:28] bwateratmsft opened #3561 "Reenable Mac build pipeline"
I shut off the Mac build pipeline in #3560 because it was failing intolerably frequently. When it's stable again, let's reenable it.

[2022-06-29 13:25] bwateratmsft commented on #3554
Nevermind, this time I was able to reproduce. The issue appears to be that after the container has started, for at least a few seconds the gRPC daemon returns no IP address for the assigned port. Switching context and returning definitely takes enough time to obtain that port. This could just be a fundamental limitation of the ACI integration...

[2022-06-29 18:07] dbreshears commented on #3554
Doesn't reproduce 100% of the time.   This is a temporary issue and should resolve in less than 10 seconds.

[2022-06-29 18:07] #3554 closed

[2022-06-30 08:00] Aleksei-Badyaev opened #3562 "The extension corrupts the URL to the docker registry, making it impossible to connect."
My registry has a URL without the ending `/v2/` and it works fine and matches `v2`. However, this extension adds `/v2/` to the URL on its own, so I can't connect to my registry. Is it possible to fix this bug? I suppose registry owners may well enter the full URL to their registry and specify the ending `/v2` themselves.

[2022-06-30 12:54] bwateratmsft commented on #3562
We'll have to investigate. Technically if your registry does not have the `/v2/` endpoint, it is _not_ Registry V2 compliant: https://docs.docker.com/registry/spec/api/#api-version-check

We can't require users to add `/v2/` to the URL; for most users the URL is just a hostname (and if needed, a port).

[2022-07-05 04:03] xRay2016 opened #3563 "[bug] there is no running contianer to attach to"
I am try to attach vscode to a running container. The container is running. I can attach shell. But when I attach vscode,  it will show that `there is no running contianer to attach to`.

![image](https://user-images.githubusercontent.com/32756719/177247200-51d42532-c6cd-47e1-a331-eaaabc5a9de9.png)

[2022-07-06 16:46] #3561 closed

[2022-07-06 17:20] bwateratmsft commented on #3562
We've discussed internally and we're going to close this as by-design, however, I did also want to link #869 and #2033. The registry you are using is certainly not the only _mostly_ V2-compliant registry--GitHub Container Registry, Docker Hub, and others are close but not entirely V2-compliant. I have also added a link to this issue in #869.

[2022-07-06 17:20] #3562 closed

[2022-07-07 05:36] #3552 closed

[2022-07-07 13:17] Aleksei-Badyaev commented on #869
I would like to add that the docker image registry built into Gitea: [Gitea Container Registry](https://docs.gitea.io/en-us/packages/container/) also does not contain endpoint /v2/.

[2022-07-07 19:27] bwateratmsft opened #3566 "Tasks now support icons"
Tasks now support [icons](https://code.visualstudio.com/updates/v1_69#_icon-and-color-support). We should look into adding an icon for our tasks.

[2022-07-07 19:28] bwateratmsft commented on #3566
Alternatively, there is a `kind` property that controls some icon defaults, that we should consider for build/run/etc.

[2022-07-07 19:30] bwateratmsft opened #3567 "Enable the branch protection setting"
https://code.visualstudio.com/updates/v1_69#_branch-protection-indicators

[2022-07-08 08:25] v-xinda opened #3568 "An error "Timed out waiting for launcher to connect" occurs when debugging a python project on Linux"
**OS:** Ubuntu22.04
**Build Version:** 20220628.2

**Repro Steps:**
1. Open a python project in VSCode.
2. Add docker files to it -> F5.
3. Check whether no error occurs.

**Expect:**
No error occurs.

**Actual:**
An error occurs.
![image](https://user-images.githubusercontent.com/57662131/177949118-17aac0b0-c20f-4806-8f86-7117409c765c.png)

[2022-07-08 13:01] bwateratmsft commented on #3568
This might be related or same as #3514. @v-xinda, was this using Docker Desktop on Linux, or the regular Docker CE?

[2022-07-09 06:49] alfredoalarcon opened #3570 "Error on macOS zsh:1: command not found: docker"
## OS Information
- **OS**: macOS Monterey (12.4)
- **Extension version**: 1.22.0

## Repro steps
- Open any `docker-compose.yml` on vscode
- Left click on `compose up `
- Get the following error: `zsh:1: command not found: docker`

If I manually run the suggested code
`docker compose -f "development/docker-compose.yml" up -d --build`
It works perfectly.

I think it is a problem of the path of the

[2022-07-11 01:28] v-xinda commented on #3568
@bwateratmsft  Using the Docker Desktop 4.10.1 on Linux when debugging the python project.

[2022-07-11 14:05] bwateratmsft commented on #3568
Ok, I'm guessing it's probably the same as #3514. Just to check, can you try the workaround in [this comment](https://github.com/microsoft/vscode-docker/issues/3514#issuecomment-1124090485) and see if it works? Thanks!

[2022-07-11 15:45] bwateratmsft commented on #3570
This is due to an annoying issue (see #2578) on Mac where the `PATH` environment variable is not properly populated. You can fix this with the following two VSCode settings:

[code]

[2022-07-11 15:45] #3570 closed

[2022-07-11 17:11] #3567 closed

[2022-07-11 17:40] nitrino38 opened #3572 "doker"
Does this occur consistently?
Repro steps:

1.
2.

Version: 1.22.1
OS: win32
OS Release: 10.0.19044
Product: Visual Studio Code
Product Version: 1.69.0
Language: ru

[2022-07-11 17:49] #3572 closed

[2022-07-11 18:15] nitrino38 commented on #3572
g

[2022-07-12 15:14] bwateratmsft opened #3573 "Change application insights key"
The application insights key needs to be changed, and the telemetry package upgraded to 0.6.3.

[2022-07-12 18:00] #3573 closed

[2022-07-13 22:55] alec-p-hong opened #3575 "container not opening in ubtuntu"
Hello, I am very new in coding inside a container environment in Visual studio code. When I try to reopen the repository using the docker file, it errors out. Here is the error log attachment.

[remoteContainers-2022-07-13T21-27-55.496Z.log](https://github.com/microsoft/vscode-docker/files/9106584/remoteContainers-2022-07-13T21-27-55.496Z.log)

1. I am using the latest version of Docker Desktop
2.

[2022-07-13 23:29] karolz-ms commented on #3575
@alec-p-hong from the logs you attached it looks like the development container for Hyperledger Cactus quit shortly after starting, and so VS Code was not able to inject itself into it. I would first try to contact the Cactus developers at https://github.com/hyperledger/cactus/issues to see if they have any troubleshooting suggestions.

If you start suspecting it might be VS Code problem, open an

[2022-07-13 23:29] #3575 closed

[2022-07-16 08:25] rbairwell opened #3576 "HEREDOC parsing results in Empty Continuation Line output"
Possibly a reoccurrence of https://github.com/microsoft/vscode-docker/pull/3399 / https://github.com/microsoft/vscode-docker/pull/3355

If a HEREDOC section of a Dockerfile (as introduced in Buildx 1.4 https://github.com/moby/buildkit/blob/master/frontend/dockerfile/docs/syntax.md#here-documents , if there is an empty line in the HEREDOC/HERE_DOCUMENT section, this extension reports "**Empty conti

[2022-07-18 14:12] bwateratmsft commented on #3576
@rcjsuen can you take a look?

[2022-07-19 09:00] v-ruizh opened #3577 "The new created ACR disappears after refreshing the Azure registries view"
**OS:** Win 10
**Build Version:** 20220713.1

**Repro Steps:**
1. Navigate to Azure registries view -> Create an Azure container registry.
2. Refresh the Azure registries view.
3. Check whether the new created ACR still exists or not.

**Expect:**
The new created ACR still exists.

**Actual:**
The new created ACR disappears.
![test](https://user-images.githubusercontent.com/45614674/179711016-fc6a

[2022-07-19 09:41] v-ruizh opened #3578 "No running container shows in container view after deploying image to ACI"
**OS:** Windows 10
**Build Version:** 20220713.1

**Repro Steps:**
1. Right click one image of registries view -> Deploy Image to Azure Container Instances... -> Create a new ACI.
2. Check whether there is a running container in container view or not.

**Expect:**
There is a running container in container view.

**Actual:**
No running container shows in container view.
![image](https://user-images

[2022-07-20 01:36] corn-dog opened #3579 "Attach Visual Studio Code Error -> uv_os_get_passwd returned ENOENT"
Does this occur consistently? Yes
Repro steps:

1. Start up (any) container via docker compose up
2. Navigate to Activity Bar > Docker > CONTAINERS
3. Right click on (any) container and "Attach Visual Studio Code"
4. Receive the following error:

"Error running command remote-containers.attachToRunningContainerFromViewlet: A system error occurred (A system error occurred: uv_os_get_passwd returned

[2022-07-20 08:56] v-ruizh opened #3580 "The executing task is incorrect in terminal window if executing run image command after executing build image command"
**OS:** Windows 10
**Build Version:** 20220713.1

**Repro Steps:**
1. Open an Express app in VS Code and add Docker files to it.
2. Right click the Dockerfile -> Build image.
3. Navigate to the Image view -> Right click the express image and select "Run".
4. Check whether the executing task is correct in terminal window.

**Expect:**
The executing task is correct in terminal window.
![image](https

[2022-07-20 10:39] RooDK opened #3581 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-docker`
- Extension Version: `1.22.1`
- OS Version: `Windows_NT x64 10.0.22621`
- VS Code version: `1.69.2`

[ms-azuretools.vscode-docker-unresponsive.cpuprofile.txt](https://github.com/microsoft/vscode-docker/files/9149076/ms-azuretools.vscode-docker-unresponsive.cpuprofile.txt)

[2022-07-20 14:09] bwateratmsft commented on #3580
This was done on the PR build for #3555, so could be related to that.

[2022-07-20 14:24] bwateratmsft commented on #3580
@v-ruizh was this on VSCode Insiders or the main release?

[2022-07-20 16:04] #3539 closed

[2022-07-20 16:21] bwateratmsft commented on #3539
Associated docs PR: https://github.com/microsoft/vscode-docs/pull/5488

[2022-07-22 02:54] v-ruizh commented on #3580
@bwateratmsft Verified on the latest main Docker extension build 20220720.11, this issue also **reproduces** in **VS Code Insiders**. It does not reproduce in VS Code.

[2022-07-22 08:54] v-xinda opened #3587 "[Suggestion] It would be better to add "image" word in the popped up dialog when executing the "Untag Image..." action"
**OS:** All
**Build Version:** 20220721.1
**Regression:** Not a Regression

**Repro Steps:**
1. Expand a registry -> Expand a repository -> Right click an image -> Click "Untag Image...".
2. Check the message in the popped up dialog.

**Actual:**
There is no "image" word in the popped up dialog.
![image](https://user-images.githubusercontent.com/57662131/180400040-d5341a64-e784-4477-9d0e-ed9c4a0d2

[2022-07-25 14:21] bwateratmsft commented on #3580
I am able to reproduce. This is only happening in Insiders and there haven't been changes in Docker in that area lately, so I suspect this must be a VSCode bug. I'll create an issue.

[2022-07-25 17:41] #3587 closed

[2022-07-25 17:45] #3568 closed

[2022-07-26 09:52] beirtipol opened #3590 ""Failed to connect. Is Docker running?" in all docker views using a remote docker context"
Issue: All Docker views except "Contexts" display the message "Failed to connect. Is Docker running?". This issue has presented after running VSCode for multiple months over multiple projects, both local and remote, without issue.

My remote docker context is to a linux machine, defined as: "ssh://myusername@myremotedockerhost". Passwordless ssh is set up between my local machine and myremotedocke

[2022-07-26 11:50] beirtipol commented on #3590
Further to above:
- Remote SSH docker contexts work when I run VSCode on a different Windows machine
- Restarting the remote SSH machine running the remote docker context had no effect
- Completely deleting my local windows profile on my local machine and reinstalling all software and reconfiguring Docker, I still get a request timeout in VS Code!

[2022-07-26 11:52] beirtipol commented on #3590
Stopping the OpenSSH Authentication Agent service and restarting VSCode causes it to pop up with the message

`In order to use an SSH DOCKER_HOST, you must configure an ssh-agent`.

The OpenSSH executables on this machine are identical to another machine I have tested on.

[2022-07-26 14:23] bwateratmsft commented on #3590
Thank you for the very thorough investigation! It sounds like you do indeed have the OpenSSH Authentication Agent service configured to start automatically. I'm guessing you have, but did you do `ssh-add <keyfile>` to add the correct private key?

Another potential possibility is that the remote host has changed, and the fingerprint is not recognized. If you do `ssh ssh://myusername@myremotedocker

[2022-07-27 09:11] beirtipol commented on #3590
Hi, Yes I added the private key after regenerating my keypair but still hit the same issue. It doesn't prompt me to recognise the fingerprint as it's already in the known_hosts file.

Something strange that I am seeing when sshing is this warning. However, I do get the same warning message when ssh'ing from a VM where VSCode works correctly on the remote docker context
[code]

FYI, The SSH key was

[2022-07-27 10:50] ChrisSidebotham opened #3592 "Cannot change subscription of Azure Registry"
Does this occur consistently?  Yes
Repro steps:

1. Sign into Azure via Docker Registries and select subscription
2. Disconnect Azure Registry
3. Reconnect Azure Account and subscription selection does not come up

There is no way to disconnect the subscription from the Azure Account meaning I cannot use multiple registries

Version: 1.22.1
OS: win32
OS Release: 10.0.22622
Product: Visual Studio C

[2022-07-27 11:14] v-xinda opened #3593 "The remote debugging auto-disconnects immediately on Mac"
**OS:** M1(Pro)
**Build Version:** 20220726.5

**Repro Steps:**
1. Open a python project in VS Code -> Add docker files to it.
2. Right click **.debug.yml** file -> Compose Up.
3. Open the **launch.json** file -> Add a new "Python Remote Attach" configuration.
4. Navigate to "Run and Debug" view -> Select "Python: Remote Attach" -> F5.
5. Check whether succeeds to remote debug the python project.

[2022-07-27 12:39] rcjsuen commented on #3576
I can confirm that this is a problem. Heredocs are only supported for `RUN` instructions at the moment. I will update this issue once I have created the relevant issues for tracking.

[2022-07-27 14:24] bwateratmsft commented on #3592
It sounds like you may have subscription filters in place? Can you try doing the command "Azure: Select subscriptions"?

[2022-07-27 14:31] bwateratmsft commented on #3590
Good to know, thanks. I'll keep this issue open but hopefully #3263 will solve it.

[2022-07-27 16:44] bwateratmsft commented on #3593
I was able to test on my Intel Mac, and the issue did not reproduce. I'll see if I can test on M1.

[2022-07-27 17:00] grokpot commented on #2071
The problem process is:
1. It's common to bind-mount your host workspace to your container workspace to allow hot-reloading (e.g., `- ./my-app:/app`)
2. The image is built, node modules are installed
3. Bind mount from Step 1 is attached, some/all dependencies are missing if the host does not contain them
4. A common workaround it to use a _data_ volume to essentially exclude `node_modules` from S

[2022-07-27 22:55] philliphoff commented on #3593
I was able to make [this Flask-based tutorial](https://github.com/microsoft/python-sample-vscode-flask-tutorial/tree/tutorial) work on my M1 Mac, as well as another FastApi-based sample (with a base image quirk that had a different symptom but was ultimately successful).

@v-xinda If you still repro this issue, it'd be good to attach the Python project source as there's so many different flavors,